AMCP EXAMPLE.json
[{"id":"71a827d6.c1d8a8","type":"inject","z":"643c11c5.d6541","name":"","topic":"","payload":"PLAY 1-0 #FF0000","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":20,"wires":[["96c80088.3bff8"]]},{"id":"71a3655b.ca5d2c","type":"inject","z":"643c11c5.d6541","name":"","topic":"","payload":"PLAY 1-0 #00FF00","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":60,"wires":[["96c80088.3bff8"]]},{"id":"96c80088.3bff8","type":"amcp","z":"643c11c5.d6541","name":"","port":"5250","host":"localhost","x":710,"y":300,"wires":[["614c10e8.64088"]]},{"id":"614c10e8.64088","type":"debug","z":"643c11c5.d6541","name":"AMCP Repsonse","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":870,"y":300,"wires":[]},{"id":"623e4bc0.618f94","type":"inject","z":"643c11c5.d6541","name":"","topic":"","payload":"PLAY 1-0 #0000FF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":100,"wires":[["96c80088.3bff8"]]},{"id":"352762c.9b9619e","type":"inject","z":"643c11c5.d6541","name":"","topic":"","payload":"PLAY 1-0 #FFFFFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":140,"wires":[["96c80088.3bff8"]]},{"id":"8caafbe3.604518","type":"inject","z":"643c11c5.d6541","name":"","topic":"","payload":"PLAY 1-0 #000000","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":180,"wires":[["96c80088.3bff8"]]},{"id":"4e2d6c57.f4c3a4","type":"inject","z":"643c11c5.d6541","name":"","topic":"","payload":"PLAY 1-0 AMB","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":240,"wires":[["96c80088.3bff8"]]},{"id":"4b331e36.bf855","type":"inject","z":"643c11c5.d6541","name":"PLAY 1-1 AMB SLIDE 10 LEFT","topic":"","payload":"PLAY 1-1 AMB SLIDE 30 LEFT","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":280,"wires":[["96c80088.3bff8"]]},{"id":"437204c1.4add5c","type":"inject","z":"643c11c5.d6541","name":"","topic":"","payload":"PAUSE 1-0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":380,"wires":[["96c80088.3bff8"]]},{"id":"e606991f.03eef8","type":"inject","z":"643c11c5.d6541","name":"","topic":"","payload":"RESUME 1-0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":420,"wires":[["96c80088.3bff8"]]},{"id":"17238b36.ffd025","type":"inject","z":"643c11c5.d6541","name":"MIXER 1-1 PERSPECTIVE 0.1 0.8 0.7 0.9 1 1 0 1 25 easeinsine","topic":"","payload":"MIXER 1-1 PERSPECTIVE 0.1 0.8 0.7 0.9 1 1 0 1 25 easeinsine","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":600,"wires":[["96c80088.3bff8"]]},{"id":"81640b31.146458","type":"inject","z":"643c11c5.d6541","name":"","topic":"","payload":"CLEAR 1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":460,"wires":[["96c80088.3bff8"]]},{"id":"be4d3781.010888","type":"inject","z":"643c11c5.d6541","name":"","topic":"","payload":"STOP 1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":500,"wires":[["96c80088.3bff8"]]},{"id":"414287e0.46b908","type":"inject","z":"643c11c5.d6541","name":"","topic":"","payload":"PAUSE 1-1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":380,"wires":[["96c80088.3bff8"]]},{"id":"70f24258.c0f09c","type":"inject","z":"643c11c5.d6541","name":"","topic":"","payload":"RESUME 1-1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":420,"wires":[["96c80088.3bff8"]]},{"id":"7e0bd388.6fdd3c","type":"inject","z":"643c11c5.d6541","name":"MIXER 1-0 PERSPECTIVE 0.4 0.4 0.6 0.4 1 1 0 1 25 easeinsine","topic":"","payload":"MIXER 1-0 PERSPECTIVE 0.4 0.4 0.6 0.4 1 1 0 1 25 easeinsine","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":560,"wires":[["96c80088.3bff8"]]},{"id":"f3fb8a0b.2c7e98","type":"inject","z":"643c11c5.d6541","name":"","topic":"","payload":"PLAY 1-1 #FF0000","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":20,"wires":[["96c80088.3bff8"]]},{"id":"bc88d38e.d1c58","type":"inject","z":"643c11c5.d6541","name":"","topic":"","payload":"PLAY 1-1 #00FF00","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":60,"wires":[["96c80088.3bff8"]]},{"id":"4dafebf2.95d8d4","type":"inject","z":"643c11c5.d6541","name":"","topic":"","payload":"PLAY 1-1 #0000FF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":100,"wires":[["96c80088.3bff8"]]},{"id":"ff6debe2.3352e8","type":"inject","z":"643c11c5.d6541","name":"","topic":"","payload":"PLAY 1-1 #FFFFFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":140,"wires":[["96c80088.3bff8"]]},{"id":"d1652fc0.4b086","type":"inject","z":"643c11c5.d6541","name":"","topic":"","payload":"PLAY 1-1 #000000","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":180,"wires":[["96c80088.3bff8"]]},{"id":"13bd9482.c5542b","type":"inject","z":"643c11c5.d6541","name":"","topic":"","payload":"MIXER 1-1 BLEND OVERLAY","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":720,"wires":[["96c80088.3bff8"]]},{"id":"9fcb6e51.a957d","type":"inject","z":"643c11c5.d6541","name":"","topic":"","payload":"MIXER 1-0 BLEND OVERLAY","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":680,"wires":[["96c80088.3bff8"]]},{"id":"735e4b7d.3b0af4","type":"inject","z":"643c11c5.d6541","name":"","topic":"","payload":"SWAP 1-0 1-1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":800,"wires":[["96c80088.3bff8"]]},{"id":"e40cfb8e.4e2278","type":"inject","z":"643c11c5.d6541","name":"PLAY 1-0 #FF0000 SLIDE 100 RIGHT","topic":"","payload":"PLAY 1-0 #FF0000 SLIDE 100 RIGHT","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":320,"wires":[["96c80088.3bff8"]]},{"id":"6cfd2e54.d91c1","type":"inject","z":"643c11c5.d6541","name":"","topic":"","payload":"MIXER 1-0 CLEAR","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":680,"wires":[["96c80088.3bff8"]]},{"id":"5178e239.38670c","type":"inject","z":"643c11c5.d6541","name":"","topic":"","payload":"MIXER 1-1 CLEAR","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":720,"wires":[["96c80088.3bff8"]]}]