broken_robot_example.json
[{"id":"7910b4eb.d7b53c","type":"function","z":"ece5114f.f98d3","name":"save servo #s","func":"flow.set(\"last_array\", [0,0,0,0,0,0]);\nflow.set(\"current_array\", [0,0,0,0,0,0]); \nreturn msg;","outputs":1,"noerr":0,"x":280,"y":60,"wires":[[]]},{"id":"35fb5db6.a3bca2","type":"inject","z":"ece5114f.f98d3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":60,"wires":[["7910b4eb.d7b53c"]]},{"id":"5ab8f87e.5de808","type":"function","z":"ece5114f.f98d3","name":"get last sent","func":"msg.payload = \"last array: \" + flow.get(\"last_array\");\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":100,"wires":[["d765ca02.1c0618"]]},{"id":"81ae1d3f.d477a","type":"inject","z":"ece5114f.f98d3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":100,"wires":[["5ab8f87e.5de808"]]},{"id":"1915341c.94df8c","type":"function","z":"ece5114f.f98d3","name":"get current","func":"msg.payload = \"current array: \" + flow.get(\"current_array\");\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":140,"wires":[["91c42a8e.84fee8"]]},{"id":"d765ca02.1c0618","type":"debug","z":"ece5114f.f98d3","name":"last array","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":420,"y":100,"wires":[]},{"id":"ecba78f0.ac8c78","type":"inject","z":"ece5114f.f98d3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":140,"wires":[["1915341c.94df8c"]]},{"id":"91c42a8e.84fee8","type":"debug","z":"ece5114f.f98d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":430,"y":140,"wires":[]},{"id":"718b38fb.209948","type":"function","z":"ece5114f.f98d3","name":"send servo data","func":"var current_array = flow.get(\"current_array\");\nflow.set(\"last_array\", current_array);\nmsg.payload = \"last array updated with current array\";\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":300,"y":360,"wires":[["a2621b11.5dd9c8"]]},{"id":"b5cadb92.4c4238","type":"inject","z":"ece5114f.f98d3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":360,"wires":[["718b38fb.209948"]]},{"id":"a2621b11.5dd9c8","type":"debug","z":"ece5114f.f98d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":510,"y":360,"wires":[]},{"id":"7824333.8394dcc","type":"ui_slider","z":"ece5114f.f98d3","name":"","label":"slider","group":"7684373e.2d7528","order":0,"width":0,"height":0,"passthru":false,"topic":"","min":0,"max":10,"step":1,"x":90,"y":220,"wires":[["6d8e25a8.48d6ec"]]},{"id":"6d8e25a8.48d6ec","type":"function","z":"ece5114f.f98d3","name":"","func":"var current_array = flow.get(\"current_array\");\ncurrent_array[0] = msg.payload;\nflow.set(\"current_array\", current_array);\n","outputs":1,"noerr":0,"x":210,"y":220,"wires":[[]]},{"id":"7684373e.2d7528","type":"ui_group","z":"ece5114f.f98d3","name":"SERVO LOG","tab":"a232f4ae.722488","order":4,"disp":true,"width":"6","collapse":true},{"id":"a232f4ae.722488","type":"ui_tab","z":"","name":"ROBOT ARM DASHBOARD","icon":"home","order":2}]