CasparCG Video Player v0.0.json
[{"id":"75b289eb.fb8768","type":"ui_text_input","z":"c7d9ce0.272873","name":"Local Path Text Input","label":"Local Path (use forward slash/):","group":"c189975a.add948","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":720,"y":180,"wires":[["2a37347d.be25dc"]]},{"id":"f8113380.8bb01","type":"ui_dropdown","z":"c7d9ce0.272873","name":"File List","label":"Files","place":"Select File","group":"191211e4.b7790e","order":1,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":0,"type":"num"}],"payload":"","topic":"","x":1640,"y":200,"wires":[["e7792afe.a31a38","419c4382.aead4c","9f764d98.685ba"]]},{"id":"835b5735.090b18","type":"function","z":"c7d9ce0.272873","name":"create pulldown and set list_length","func":"var full_path_array = msg.payload;\n\nvar file_name_array = [];\nvar options_pulldown_array = [];\nvar full_path_object = {};\n\nglobal.set(\"list_length\", msg.payload.length);\n\nfor(var i = 0; i<msg.payload.length; i++) {\n    \n    var list_value = {};\n    file_name_array[i] = full_path_array[i].replace(/^.*[\\\\\\/]/, '');\n    list_value[file_name_array[i]] = full_path_array[i];\n    options_pulldown_array[i] = list_value;\n}\n\nfull_path_object.payload = file_name_array;\nmsg.options = options_pulldown_array;\n\nreturn [msg, full_path_object];","outputs":2,"noerr":0,"x":1380,"y":200,"wires":[["f8113380.8bb01","36e93c5b.a807b4"],["e1eb3f18.7a5da"]]},{"id":"2a37347d.be25dc","type":"function","z":"c7d9ce0.272873","name":"set folder path","func":"global.set(\"local_path\", msg.payload);\nvar full_path = global.get(\"caspar_path\") + msg.payload;\nmsg.payload = {\"start\": full_path};\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":180,"wires":[["cd511eae.06278","3916106b.d73e8"]]},{"id":"cd511eae.06278","type":"debug","z":"c7d9ce0.272873","name":"File Lister parameters","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1180,"y":280,"wires":[]},{"id":"6fd403d1.fafc4c","type":"ui_text_input","z":"c7d9ce0.272873","name":"Pattern Text Input","label":"Pattern Filter (*.mov): ","group":"c189975a.add948","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"0","topic":"","x":730,"y":220,"wires":[["9bfbc921.011918"]]},{"id":"9bfbc921.011918","type":"function","z":"c7d9ce0.272873","name":"set pattern filter","func":"msg.payload = {\"pattern\":msg.payload};\n\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":220,"wires":[["cd511eae.06278","3916106b.d73e8"]]},{"id":"e1eb3f18.7a5da","type":"ui_template","z":"c7d9ce0.272873","group":"c189975a.add948","name":"File List Template","order":4,"width":"6","height":"8","format":"<h4>File List:</h4>\n<p ng-repeat=\"row in msg.payload\">{{row}}</p>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1690,"y":280,"wires":[[]]},{"id":"419c4382.aead4c","type":"ffprobe","z":"c7d9ce0.272873","name":"","prefix":"","x":1790,"y":180,"wires":[["24140997.af7716"]]},{"id":"567066e6.974ff8","type":"debug","z":"c7d9ce0.272873","name":"JSON object describing media file","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2400,"y":180,"wires":[]},{"id":"e77c4dd0.24245","type":"ui_template","z":"c7d9ce0.272873","group":"191211e4.b7790e","name":"File Info","order":4,"width":"6","height":"8","format":"<p>codec type: {{msg.payload.codec_type}}\n<p>codec: {{msg.payload.codec_long_name}}\n<p>duration: {{msg.payload.formatted_duration}}\n<p>dimensions: {{msg.payload.width}} x {{msg.payload.height}}\n<p>aspect: {{msg.payload.display_aspect_ratio}}\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":2160,"y":180,"wires":[["567066e6.974ff8"]]},{"id":"24140997.af7716","type":"function","z":"c7d9ce0.272873","name":"Format Seconds to h m s","func":"var secs = msg.payload.duration;\nglobal.set(\"file_duration\", secs);\nvar hours = Math.floor(secs / (60 * 60));\n\nvar divisor_for_minutes = secs % (60 * 60);\nvar minutes = Math.floor(divisor_for_minutes / 60);\n\nvar divisor_for_seconds = divisor_for_minutes % 60;\nvar seconds = (Math.round(divisor_for_seconds * 10) / 10).toFixed(1);\n//var seconds = Math.ceil(divisor_for_seconds);\n\nvar time = hours + 'h:' + minutes + 'm:' + seconds + 's';\n\nmsg.payload.formatted_duration = time;\n\nreturn [msg];","outputs":1,"noerr":0,"x":1970,"y":180,"wires":[["e77c4dd0.24245"]]},{"id":"e7792afe.a31a38","type":"debug","z":"c7d9ce0.272873","name":"list value","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1880,"y":240,"wires":[]},{"id":"36e93c5b.a807b4","type":"debug","z":"c7d9ce0.272873","name":"list maker","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"options","x":1640,"y":140,"wires":[]},{"id":"9285ab85.f966e8","type":"ui_button","z":"c7d9ce0.272873","name":"PLAY 1-0 SELECTED FILE","group":"191211e4.b7790e","order":0,"width":0,"height":0,"passthru":false,"label":"PLAY 1-0 SELECTED FILE","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":1660,"y":460,"wires":[["1726ae5a.30cbf2"]]},{"id":"c4eb7178.db362","type":"amcp","z":"c7d9ce0.272873","name":"CasparCG localhost:5250","port":"5250","host":"localhost","x":2210,"y":480,"wires":[["8072716c.6e983"]]},{"id":"8072716c.6e983","type":"debug","z":"c7d9ce0.272873","name":"CasparCG response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2460,"y":480,"wires":[]},{"id":"9cfd350b.be1b28","type":"ui_button","z":"c7d9ce0.272873","name":"STOP 1-0","group":"191211e4.b7790e","order":0,"width":0,"height":0,"passthru":false,"label":"STOP 1-0","color":"","bgcolor":"","icon":"","payload":"STOP 1-0","payloadType":"str","topic":"","x":1600,"y":500,"wires":[["c4eb7178.db362"]]},{"id":"9f764d98.685ba","type":"function","z":"c7d9ce0.272873","name":"set selected file as global variable","func":"global.set(\"selected_file\", msg.payload);\n","outputs":1,"noerr":0,"x":1960,"y":280,"wires":[[]]},{"id":"1726ae5a.30cbf2","type":"function","z":"c7d9ce0.272873","name":"Format Play Command","func":"var playfile = global.get(\"local_path\") + global.get(\"selected_file\").replace(/^.*[\\\\\\/]/, '');\nmsg.payload = \"PLAY 1-0 \" + playfile;\nreturn msg;","outputs":1,"noerr":0,"x":1930,"y":460,"wires":[["c4eb7178.db362","d918fd0.e75ea"]]},{"id":"13bf894c.544947","type":"ui_text","z":"c7d9ce0.272873","group":"c189975a.add948","order":1,"width":0,"height":0,"name":"CasparCG Media Folder Path Text:","label":"CasparCG Media Folder Path:","format":"{{msg.payload}}","layout":"col-center","x":800,"y":80,"wires":[]},{"id":"a146cb94.50ec58","type":"function","z":"c7d9ce0.272873","name":"set CasparCG Media File Path","func":"global.set(\"caspar_path\", msg.payload);\nglobal.set(\"local_path\", '');\nglobal.set(\"pattern\", '');\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":80,"wires":[["13bf894c.544947"]]},{"id":"846d5b29.1de948","type":"inject","z":"c7d9ce0.272873","name":"Set Capsar Media Folder Path","topic":"","payload":"C:\\CasparCG\\server\\media\\","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0","x":170,"y":80,"wires":[["a146cb94.50ec58"]]},{"id":"d918fd0.e75ea","type":"debug","z":"c7d9ce0.272873","name":"playfile command","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2190,"y":440,"wires":[]},{"id":"d7bbf7b5.add368","type":"ui_button","z":"c7d9ce0.272873","name":"Play Media in Folder Button","group":"5215622d.76e2dc","order":0,"width":0,"height":0,"passthru":false,"label":"Play Media in Folder","color":"","bgcolor":"","icon":"","payload":"play_in_order","payloadType":"str","topic":"","x":1860,"y":620,"wires":[["b6077e7b.6bd06"]]},{"id":"11bb6e35.72a092","type":"ui_button","z":"c7d9ce0.272873","name":"Play Media Randomly Button","group":"5215622d.76e2dc","order":0,"width":0,"height":0,"passthru":false,"label":"Play Media Randomly","color":"","bgcolor":"","icon":"","payload":"play_randomly","payloadType":"str","topic":"","x":1860,"y":720,"wires":[["1e5f67fa.cf3368"]]},{"id":"36d3feae.546a02","type":"ui_button","z":"c7d9ce0.272873","name":"Play Media Random and Unique Button","group":"5215622d.76e2dc","order":0,"width":0,"height":0,"passthru":false,"label":"Play Media Random and Unique","color":"","bgcolor":"","icon":"","payload":"play_randomly","payloadType":"str","topic":"","x":1820,"y":820,"wires":[["ca5b7fd3.ebea1"]]},{"id":"ca5b7fd3.ebea1","type":"function","z":"c7d9ce0.272873","name":"random without duplicates","func":"var list_length = global.get(\"list_length\");\nvar length_array = [];\nfor(var i=0; i<list_length; i++){\n    length_array[i] = i;\n}\nfunction shuffle(array) {\n    var i = array.length,\n        j = 0,\n        temp;\n\n    while (i--) {\n\n        j = Math.floor(Math.random() * (i+1));\n\n        // swap randomly chosen element with current element\n        temp = array[i];\n        array[i] = array[j];\n        array[j] = temp;\n\n    }\n\n    return array;\n}\n\nvar random_order = shuffle(length_array);\nmsg.payload = random_order;\nreturn msg;","outputs":1,"noerr":0,"x":2130,"y":820,"wires":[["69878510.b766bc"]]},{"id":"69878510.b766bc","type":"debug","z":"c7d9ce0.272873","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2350,"y":820,"wires":[]},{"id":"776f3523.fa578c","type":"inject","z":"c7d9ce0.272873","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1920,"y":860,"wires":[["ca5b7fd3.ebea1"]]},{"id":"20376319.2e4cbc","type":"inject","z":"c7d9ce0.272873","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1920,"y":660,"wires":[["b6077e7b.6bd06"]]},{"id":"ec9b7814.14a528","type":"inject","z":"c7d9ce0.272873","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1920,"y":760,"wires":[["1e5f67fa.cf3368"]]},{"id":"b6077e7b.6bd06","type":"function","z":"c7d9ce0.272873","name":"random without duplicates","func":"var list_length = global.get(\"list_length\");\n\nvar random_number = Math.floor(Math.random() * (list_length + 1));\nmsg.payload = random_number;\n      \nreturn msg;","outputs":1,"noerr":0,"x":2130,"y":620,"wires":[["a5ca529e.2c36b"]]},{"id":"1e5f67fa.cf3368","type":"function","z":"c7d9ce0.272873","name":"random number","func":"var list_length = global.get(\"list_length\");\n\nvar random_number = Math.floor(Math.random() * (list_length + 1));\nmsg.payload = random_number;\n      \nreturn msg;","outputs":1,"noerr":0,"x":2100,"y":720,"wires":[["b9097fc7.38a3"]]},{"id":"a5ca529e.2c36b","type":"debug","z":"c7d9ce0.272873","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2350,"y":620,"wires":[]},{"id":"b9097fc7.38a3","type":"debug","z":"c7d9ce0.272873","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2350,"y":720,"wires":[]},{"id":"3916106b.d73e8","type":"fs-file-lister","z":"c7d9ce0.272873","name":"","start":"/","pattern":"*","path":true,"single":true,"depth":0,"stat":false,"x":1140,"y":200,"wires":[["835b5735.090b18"]]},{"id":"c189975a.add948","type":"ui_group","z":"","name":"Files","tab":"cbf2cdd8.4f3de","order":1,"disp":true,"width":"6","collapse":false},{"id":"191211e4.b7790e","type":"ui_group","z":"","name":"File Info","tab":"cbf2cdd8.4f3de","order":4,"disp":true,"width":"6","collapse":true},{"id":"5215622d.76e2dc","type":"ui_group","z":"","name":"Play Videos","tab":"cbf2cdd8.4f3de","order":5,"disp":true,"width":"6","collapse":false},{"id":"cbf2cdd8.4f3de","type":"ui_tab","z":"","name":"Media Library","icon":"dashboard","order":2}]