DARK_LAB_DMX.json
[{"id":"88ebd53.ffb1128","type":"subflow","name":"Subflow 6","info":"","in":[{"x":440,"y":280,"wires":[{"id":"3fc58e4f.f53c52"}]}],"out":[{"x":2100,"y":440,"wires":[{"id":"3750d84.987b528","port":0}]}]},{"id":"2d069938.a7f136","type":"ui_slider","z":"88ebd53.ffb1128","name":"DMX2 FINE PAN","label":"","group":"3a34df01.f01d9","order":8,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1130,"y":340,"wires":[["2be457ae.eaabb8"]]},{"id":"4092031d.900e6c","type":"ui_slider","z":"88ebd53.ffb1128","name":"DMX11 PATTERN ROTATE H&V","label":"","group":"83f7fcb6.63a78","order":8,"width":0,"height":0,"passthru":true,"topic":"Slider","min":"7","max":"215","step":1,"x":1040,"y":620,"wires":[["99bd649e.1cd2d8"]]},{"id":"dafb2e66.ba667","type":"ui_slider","z":"88ebd53.ffb1128","name":"DMX10 PATTERN ROTATION","label":"","group":"83f7fcb6.63a78","order":6,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1050,"y":660,"wires":[["12eee001.35d09"]]},{"id":"e38f51e9.dcbdd","type":"ui_slider","z":"88ebd53.ffb1128","name":"DMX5 PAN SHAKING","label":"","group":"3a34df01.f01d9","order":12,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1120,"y":420,"wires":[["f41f5420.f43368"]]},{"id":"98dabd1b.87f3a","type":"ui_slider","z":"88ebd53.ffb1128","name":"DMX4 FINE TILT","label":"","group":"3a34df01.f01d9","order":10,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1130,"y":380,"wires":[["5e2fc96.397ea38"]]},{"id":"42d69659.e9c978","type":"ui_slider","z":"88ebd53.ffb1128","name":"DMX3 TILT","label":"","group":"3a34df01.f01d9","order":6,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1110,"y":300,"wires":[["28ede809.03f6f8"]]},{"id":"d8af9296.d0d8c","type":"change","z":"88ebd53.ffb1128","name":"save to Global DMX1","rules":[{"t":"set","p":"sniper_preset[0]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":260,"wires":[["3750d84.987b528"]]},{"id":"5fd5528e.e841ec","type":"change","z":"88ebd53.ffb1128","name":"save to Global DMX2","rules":[{"t":"set","p":"sniper_preset[1]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":340,"wires":[["3750d84.987b528"]]},{"id":"4161ea96.a4d5f4","type":"change","z":"88ebd53.ffb1128","name":"save to Global DMX3","rules":[{"t":"set","p":"sniper_preset[2]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":300,"wires":[["3750d84.987b528"]]},{"id":"1989cc96.0ac623","type":"change","z":"88ebd53.ffb1128","name":"save to Global DMX4","rules":[{"t":"set","p":"sniper_preset[3]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":380,"wires":[["3750d84.987b528"]]},{"id":"b15cffb9.2571","type":"change","z":"88ebd53.ffb1128","name":"save to Global DMX5","rules":[{"t":"set","p":"sniper_preset[4]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":420,"wires":[["3750d84.987b528"]]},{"id":"8e1753d8.c5b84","type":"change","z":"88ebd53.ffb1128","name":"save to Global DMX6","rules":[{"t":"set","p":"sniper_preset[5]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":460,"wires":[["3750d84.987b528"]]},{"id":"c97db1de.0f5df","type":"change","z":"88ebd53.ffb1128","name":"save to Global DMX7","rules":[{"t":"set","p":"sniper_preset[6]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":500,"wires":[["3750d84.987b528"]]},{"id":"cf62998.79e7068","type":"change","z":"88ebd53.ffb1128","name":"save to Global DMX8","rules":[{"t":"set","p":"sniper_preset[7]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":540,"wires":[["3750d84.987b528"]]},{"id":"c00df6d.3a55608","type":"change","z":"88ebd53.ffb1128","name":"save to Global DMX9","rules":[{"t":"set","p":"sniper_preset[8]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":580,"wires":[["3750d84.987b528"]]},{"id":"e97c7628.319ea8","type":"change","z":"88ebd53.ffb1128","name":"save to Global DMX10","rules":[{"t":"set","p":"sniper_preset[9]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1560,"y":660,"wires":[["3750d84.987b528"]]},{"id":"6cd5616d.a30ce","type":"change","z":"88ebd53.ffb1128","name":"save to Global DMX11","rules":[{"t":"set","p":"sniper_preset[10]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1560,"y":620,"wires":[["3750d84.987b528"]]},{"id":"aedfedbd.e2aae","type":"function","z":"88ebd53.ffb1128","name":"Just get preset","func":"global.set(\"sniper_preset\", msg.payload.payload);\n\nvar preset = [];\nvar m = [];\npreset = global.get(\"sniper_preset\");\n\n\nfor (var i=0;i<21;i++)\n{\n    m[i] = { payload: preset[i] };\n}\nreturn m;\n","outputs":21,"noerr":0,"x":620,"y":500,"wires":[["826c61f9.36836"],["2d069938.a7f136"],["42d69659.e9c978"],["98dabd1b.87f3a"],["e38f51e9.dcbdd"],["ddcd7934.9d8198"],["d3d544af.b966b8"],["1a520c98.3cbd83"],["4a40602c.91b5e"],["dafb2e66.ba667"],["4092031d.900e6c"],["82d7ed3b.f7a63"],["6d11806d.31515"],["46525726.d7c978"],["972e6331.7c10b"],["1d6c04a7.7e8d3b"],["8209e6f4.995e98"],["e7e75b98.1f52c8"],["799bf529.b581ec"],["e39df531.09b928"],[]]},{"id":"34c21bd6.a18b14","type":"function","z":"88ebd53.ffb1128","name":"insert preset","func":"var preset = [];\npreset = global.get(\"sniper_preset\");\nvar newMsg = {};\nnewMsg.collection = 'sniper_presets';\nnewMsg.payload = [\n  {topic: msg.payload},\n  {\n    \"$set\": {\n      \"payload\": preset\n    }\n  },\n  {upsert:true}\n];\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":378,"y":41,"wires":[["badfdc68.2eb3e"]]},{"id":"badfdc68.2eb3e","type":"mongodb2 in","z":"88ebd53.ffb1128","service":"_ext_","configNode":"de3380a2.fc70d","name":"Store Data into MongoDB","collection":"sniper_presets","operation":"findOneAndUpdate","x":589,"y":42,"wires":[["b0d4a217.fea65"]]},{"id":"64f99b3b.70ba84","type":"mongodb2 in","z":"88ebd53.ffb1128","service":"_ext_","configNode":"de3380a2.fc70d","name":"Mongo DB dynamic operation","collection":"sniper_presets","operation":"","x":499,"y":162,"wires":[["e6c70072.0c1be"]]},{"id":"b0d4a217.fea65","type":"function","z":"88ebd53.ffb1128","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":265,"y":159,"wires":[["64f99b3b.70ba84"]]},{"id":"7155f87b.a29508","type":"ui_dropdown","z":"88ebd53.ffb1128","name":"Recall Pulldown","label":"Recall","place":"Select option","group":"fb45d959.f80778","order":2,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1120,"y":20,"wires":[["aedfedbd.e2aae","19484538.9592bb"]]},{"id":"e6c70072.0c1be","type":"function","z":"88ebd53.ffb1128","name":"Format Preset Pulldown","func":"flow.set(\"sniper_db_preset\", msg.payload);\nvar msg_array = [];\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic != undefined){\n        tmp_object[msg_object.topic] = {\"topic\": msg_object.topic, \"payload\": msg_object.payload};\n        msg_array[i] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":20,"wires":[["7155f87b.a29508"]]},{"id":"31d310a.d3d9cf","type":"inject","z":"88ebd53.ffb1128","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":116,"y":157.5,"wires":[["b0d4a217.fea65"]]},{"id":"8758bb34.df1e18","type":"ui_text_input","z":"88ebd53.ffb1128","name":"","label":"Edit Preset Name","group":"fb45d959.f80778","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"","x":1503,"y":17,"wires":[["bc0592b5.3442d"]]},{"id":"dfb64d41.1a24f","type":"ui_button","z":"88ebd53.ffb1128","name":"Save","group":"fb45d959.f80778","order":5,"width":0,"height":0,"passthru":false,"label":"Save Preset","color":"#FFF","bgcolor":"#FF0000","icon":"","payload":"","payloadType":"date","topic":"","x":58,"y":39.5,"wires":[["7556dac8.aff264"]]},{"id":"bc0592b5.3442d","type":"function","z":"88ebd53.ffb1128","name":"set global preset name","func":"global.set(\"sniper_preset_name\", msg.payload);","outputs":1,"noerr":0,"x":1735,"y":20,"wires":[[]]},{"id":"7556dac8.aff264","type":"function","z":"88ebd53.ffb1128","name":"save preset","func":"msg.payload = global.get(\"sniper_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":40,"wires":[["34c21bd6.a18b14"]]},{"id":"19484538.9592bb","type":"function","z":"88ebd53.ffb1128","name":"get preset name","func":"msg.payload = msg.payload.topic;\nreturn msg;","outputs":1,"noerr":0,"x":1308,"y":18.5,"wires":[["8758bb34.df1e18"]]},{"id":"ea65914e.74cbd","type":"ui_text","z":"88ebd53.ffb1128","group":"fb45d959.f80778","order":3,"width":0,"height":0,"name":"","label":"SAVE PRESET","format":"{{msg.payload}}","layout":"row-left","x":234,"y":291,"wires":[]},{"id":"54c93314.f2820c","type":"ui_text","z":"88ebd53.ffb1128","group":"fb45d959.f80778","order":1,"width":0,"height":0,"name":"","label":"RECALL PRESET","format":"{{msg.payload}}","layout":"row-left","x":250,"y":240,"wires":[]},{"id":"c2a9f3c.00ab91","type":"function","z":"88ebd53.ffb1128","name":"delete preset","func":"var newMsg = {};\nnewMsg.operation  = 'deleteOne';\nnewMsg.payload    = {'topic' : msg.payload};\nreturn newMsg;","outputs":1,"noerr":0,"x":379,"y":100,"wires":[["de44fa70.78a4f8"]]},{"id":"de44fa70.78a4f8","type":"mongodb2 in","z":"88ebd53.ffb1128","service":"_ext_","configNode":"de3380a2.fc70d","name":"Store Data into MongoDB","collection":"sniper_presets","operation":"","x":590,"y":101,"wires":[["b0d4a217.fea65"]]},{"id":"3525f335.14b20c","type":"ui_button","z":"88ebd53.ffb1128","name":"Delete","group":"fb45d959.f80778","order":6,"width":0,"height":0,"passthru":false,"label":"Delete Preset","color":"#FFF","bgcolor":"#FF00FF","icon":"","payload":"","payloadType":"date","topic":"","x":59,"y":98.5,"wires":[["47a6c9.5a1ed938"]]},{"id":"47a6c9.5a1ed938","type":"function","z":"88ebd53.ffb1128","name":"delete preset","func":"msg.payload = global.get(\"sniper_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":211,"y":99,"wires":[["c2a9f3c.00ab91"]]},{"id":"3750d84.987b528","type":"function","z":"88ebd53.ffb1128","name":"Send Current Universe","func":"msg.payload = { \n                dmx: global.get(\"sniper_preset\"),\n                offset: 469\n            };\nreturn msg;","outputs":1,"noerr":0,"x":1920,"y":440,"wires":[[]]},{"id":"2be457ae.eaabb8","type":"ui_numeric","z":"88ebd53.ffb1128","name":"DMX 2: Fine Pan","label":"Fine Pan","group":"3a34df01.f01d9","order":7,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1330,"y":340,"wires":[["5fd5528e.e841ec"]]},{"id":"28ede809.03f6f8","type":"ui_numeric","z":"88ebd53.ffb1128","name":"DMX 3: Tilt","label":"Tilt","group":"3a34df01.f01d9","order":5,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1290,"y":300,"wires":[["4161ea96.a4d5f4"]]},{"id":"5e2fc96.397ea38","type":"ui_numeric","z":"88ebd53.ffb1128","name":"DMX 4: Fine Tilt","label":"Fine Tilt","group":"3a34df01.f01d9","order":9,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1320,"y":380,"wires":[["1989cc96.0ac623"]]},{"id":"f41f5420.f43368","type":"ui_numeric","z":"88ebd53.ffb1128","name":"DMX 5 Shaking (Slow to Fast)","label":"Pan Shaking (Slow to Fast)","group":"3a34df01.f01d9","order":11,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1370,"y":420,"wires":[["b15cffb9.2571"]]},{"id":"90d55bd.23cdfa8","type":"ui_numeric","z":"88ebd53.ffb1128","name":"","label":"Color DMX Output Value","group":"83f7fcb6.63a78","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1310,"y":500,"wires":[["c97db1de.0f5df"]]},{"id":"12eee001.35d09","type":"ui_numeric","z":"88ebd53.ffb1128","name":"DMX 10 Pattern Rotation","label":"Pattern Rotation","group":"83f7fcb6.63a78","order":5,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1310,"y":660,"wires":[["e97c7628.319ea8"]]},{"id":"99bd649e.1cd2d8","type":"ui_numeric","z":"88ebd53.ffb1128","name":"DMX 11 PATTERN ROTATE H&V","label":"PATTERN ROTATE H&V","group":"83f7fcb6.63a78","order":7,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1360,"y":620,"wires":[["6cd5616d.a30ce","308a5b6.a92f5a4"]]},{"id":"826c61f9.36836","type":"ui_slider","z":"88ebd53.ffb1128","name":"DMX1 PAN","label":"","group":"3a34df01.f01d9","order":4,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1110,"y":260,"wires":[["6f16dd0b.ea66f4"]]},{"id":"6f16dd0b.ea66f4","type":"ui_numeric","z":"88ebd53.ffb1128","name":"DMX 1: Pan","label":"Pan","group":"3a34df01.f01d9","order":3,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1290,"y":260,"wires":[["d8af9296.d0d8c"]]},{"id":"9cd16064.05a1e","type":"ui_switch","z":"88ebd53.ffb1128","name":"","label":"Shutter ON/OFF","group":"e0068ecd.6a73b","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"7","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":1380,"y":80,"wires":[["4092031d.900e6c"]]},{"id":"308a5b6.a92f5a4","type":"function","z":"88ebd53.ffb1128","name":"update shutter switch based on dmx data","func":"if (msg.payload > 4){\n    msg.payload = 7;\n}\nelse {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1620,"y":140,"wires":[["9cd16064.05a1e"]]},{"id":"3fc58e4f.f53c52","type":"function","z":"88ebd53.ffb1128","name":"trigger pitch preset","func":"var chauvet_255_preset = flow.get(\"sniper_db_preset\");\nfor(var i = 0;i<chauvet_255_preset.length; i++){\n    var temp_preset = chauvet_255_preset[i];\n    if (temp_preset.topic==msg.payload){\n        msg.payload = { payload: temp_preset.payload };\n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":280,"wires":[["aedfedbd.e2aae"]]},{"id":"491db3f2.f0d3dc","type":"ui_button","z":"88ebd53.ffb1128","name":"Load Presets","group":"fb45d959.f80778","order":5,"width":0,"height":0,"passthru":false,"label":"Load Presets","color":"white","bgcolor":"purple","icon":"","payload":"","payloadType":"date","topic":"","x":70,"y":200,"wires":[["b0d4a217.fea65"]]},{"id":"ddcd7934.9d8198","type":"ui_slider","z":"88ebd53.ffb1128","name":"DMX6 TILT SHAKING","label":"","group":"3a34df01.f01d9","order":14,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1080,"y":460,"wires":[["f33b5fae.6c746"]]},{"id":"f33b5fae.6c746","type":"ui_numeric","z":"88ebd53.ffb1128","name":"DMX 6 Tilt Shaking (Slow to Fast)","label":"Tilt Shaking (Slow to Fast)","group":"3a34df01.f01d9","order":13,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1340,"y":460,"wires":[["8e1753d8.c5b84"]]},{"id":"f7be1dd4.42cda","type":"change","z":"88ebd53.ffb1128","name":"save to Global DMX19","rules":[{"t":"set","p":"sniper_preset[18]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":1120,"wires":[["3750d84.987b528"]]},{"id":"799bf529.b581ec","type":"ui_slider","z":"88ebd53.ffb1128","name":"DMX19 DIMMER","label":"","group":"3a34df01.f01d9","order":2,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1050,"y":1120,"wires":[["9600ffdc.06bc6"]]},{"id":"9600ffdc.06bc6","type":"ui_numeric","z":"88ebd53.ffb1128","name":"DMX 19 Dimmer","label":"Dimmer","group":"3a34df01.f01d9","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1270,"y":1120,"wires":[["f7be1dd4.42cda"]]},{"id":"8e419e8.0d2856","type":"change","z":"88ebd53.ffb1128","name":"save to Global DMX20","rules":[{"t":"set","p":"sniper_preset[19]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":1160,"wires":[["3750d84.987b528"]]},{"id":"e39df531.09b928","type":"ui_slider","z":"88ebd53.ffb1128","name":"DMX 20 STROBE","label":"","group":"b3ced578.1a0b28","order":12,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1050,"y":1160,"wires":[["1df8ac82.44a6e3"]]},{"id":"1df8ac82.44a6e3","type":"ui_numeric","z":"88ebd53.ffb1128","name":"DMX 20 STROBE","label":"Strobe","group":"b3ced578.1a0b28","order":11,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1270,"y":1160,"wires":[["8e419e8.0d2856"]]},{"id":"d4e82d53.d0801","type":"change","z":"88ebd53.ffb1128","name":"save to Global DMX16","rules":[{"t":"set","p":"sniper_preset[15]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":1200,"wires":[["3750d84.987b528"]]},{"id":"1d6c04a7.7e8d3b","type":"ui_slider","z":"88ebd53.ffb1128","name":"DMX16 CRAZY SHAKE","label":"","group":"b3ced578.1a0b28","order":6,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1070,"y":1200,"wires":[["4455dbf1.2c2624"]]},{"id":"4455dbf1.2c2624","type":"ui_numeric","z":"88ebd53.ffb1128","name":"DMX 16 Crazy Shake","label":"Crazy Shake","group":"b3ced578.1a0b28","order":5,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1300,"y":1200,"wires":[["d4e82d53.d0801"]]},{"id":"d3d544af.b966b8","type":"ui_slider","z":"88ebd53.ffb1128","name":"DMX 7 COLOR","label":"","group":"83f7fcb6.63a78","order":2,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1080,"y":500,"wires":[["90d55bd.23cdfa8"]]},{"id":"c7d56a49.670738","type":"ui_numeric","z":"88ebd53.ffb1128","name":"","label":"Gobo DMX Output Value","group":"b3ced578.1a0b28","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1310,"y":540,"wires":[["cf62998.79e7068"]]},{"id":"1a520c98.3cbd83","type":"ui_slider","z":"88ebd53.ffb1128","name":"DMX 8 GOBO","label":"","group":"b3ced578.1a0b28","order":2,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1080,"y":540,"wires":[["c7d56a49.670738"]]},{"id":"78c9de3e.5f0d3","type":"ui_numeric","z":"88ebd53.ffb1128","name":"","label":"Patterns DMX Output Value","group":"83f7fcb6.63a78","order":3,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1320,"y":580,"wires":[["c00df6d.3a55608"]]},{"id":"4a40602c.91b5e","type":"ui_slider","z":"88ebd53.ffb1128","name":"DMX 9 PATTERNS","label":"","group":"83f7fcb6.63a78","order":4,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1090,"y":580,"wires":[["78c9de3e.5f0d3"]]},{"id":"6e4b213e.511e9","type":"change","z":"88ebd53.ffb1128","name":"save to Global DMX12","rules":[{"t":"set","p":"sniper_preset[11]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1580,"y":700,"wires":[["3750d84.987b528"]]},{"id":"82d7ed3b.f7a63","type":"ui_slider","z":"88ebd53.ffb1128","name":"DMX12 PATTERN ZOOM","label":"","group":"83f7fcb6.63a78","order":10,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1070,"y":700,"wires":[["20c7e1e1.d6cdfe"]]},{"id":"20c7e1e1.d6cdfe","type":"ui_numeric","z":"88ebd53.ffb1128","name":"DMX 12 Pattern Zoom","label":"Pattern Zoom","group":"83f7fcb6.63a78","order":9,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1320,"y":700,"wires":[["6e4b213e.511e9"]]},{"id":"57939e86.fbc1d","type":"change","z":"88ebd53.ffb1128","name":"save to Global DMX13","rules":[{"t":"set","p":"sniper_preset[12]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1580,"y":740,"wires":[["3750d84.987b528"]]},{"id":"6d11806d.31515","type":"ui_slider","z":"88ebd53.ffb1128","name":"DMX 13 Pattern Left and Right","label":"","group":"83f7fcb6.63a78","order":12,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1070,"y":740,"wires":[["70fb174a.140a08"]]},{"id":"70fb174a.140a08","type":"ui_numeric","z":"88ebd53.ffb1128","name":"DMX Pattern Left and Right","label":"Pattern Left and Right","group":"83f7fcb6.63a78","order":11,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1340,"y":740,"wires":[["57939e86.fbc1d"]]},{"id":"a60a0ec0.aaaf2","type":"change","z":"88ebd53.ffb1128","name":"save to Global DMX14","rules":[{"t":"set","p":"sniper_preset[13]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":780,"wires":[["3750d84.987b528"]]},{"id":"46525726.d7c978","type":"ui_slider","z":"88ebd53.ffb1128","name":"DMX14 Pattern Up and Down","label":"","group":"83f7fcb6.63a78","order":14,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1050,"y":780,"wires":[["5a9e847.07ce27c"]]},{"id":"5a9e847.07ce27c","type":"ui_numeric","z":"88ebd53.ffb1128","name":"DMX 14 Pattern Up and Down","label":"Pattern Up and Down","group":"83f7fcb6.63a78","order":13,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1370,"y":780,"wires":[["a60a0ec0.aaaf2"]]},{"id":"1c0bd72d.7fa1c9","type":"change","z":"88ebd53.ffb1128","name":"save to Global DMX15","rules":[{"t":"set","p":"sniper_preset[14]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":820,"wires":[["3750d84.987b528"]]},{"id":"182f85d8.3dad2a","type":"ui_numeric","z":"88ebd53.ffb1128","name":"","label":" ROTATION","group":"b3ced578.1a0b28","order":3,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1310,"y":820,"wires":[["1c0bd72d.7fa1c9"]]},{"id":"972e6331.7c10b","type":"ui_slider","z":"88ebd53.ffb1128","name":"DMX 15 ROTATION","label":"","group":"b3ced578.1a0b28","order":4,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1040,"y":820,"wires":[["182f85d8.3dad2a"]]},{"id":"ed915b0f.d43938","type":"change","z":"88ebd53.ffb1128","name":"save to Global DMX17","rules":[{"t":"set","p":"sniper_preset[16]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":860,"wires":[["3750d84.987b528"]]},{"id":"eb1e00ae.d7174","type":"ui_numeric","z":"88ebd53.ffb1128","name":"","label":"PRISM","group":"b3ced578.1a0b28","order":7,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1300,"y":860,"wires":[["ed915b0f.d43938"]]},{"id":"8209e6f4.995e98","type":"ui_slider","z":"88ebd53.ffb1128","name":"DMX 17 PRISM","label":"","group":"b3ced578.1a0b28","order":8,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1020,"y":860,"wires":[["eb1e00ae.d7174"]]},{"id":"36e4732.33c1c8c","type":"change","z":"88ebd53.ffb1128","name":"save to Global DMX18","rules":[{"t":"set","p":"sniper_preset[17]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":900,"wires":[["3750d84.987b528"]]},{"id":"399cf694.4b35fa","type":"ui_numeric","z":"88ebd53.ffb1128","name":"","label":"PRISM INDEX","group":"b3ced578.1a0b28","order":9,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1320,"y":900,"wires":[["36e4732.33c1c8c"]]},{"id":"e7e75b98.1f52c8","type":"ui_slider","z":"88ebd53.ffb1128","name":"DMX 18 PRISM INDEX","label":"","group":"b3ced578.1a0b28","order":10,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1050,"y":900,"wires":[["399cf694.4b35fa"]]},{"id":"3a34df01.f01d9","type":"ui_group","z":"","name":"MOVEMENT","tab":"119634ae.09d92b","order":2,"disp":true,"width":"6","collapse":false},{"id":"83f7fcb6.63a78","type":"ui_group","z":"","name":"FX 1","tab":"119634ae.09d92b","order":3,"disp":true,"width":"6","collapse":false},{"id":"fb45d959.f80778","type":"ui_group","z":"","name":"PRESETS","tab":"119634ae.09d92b","order":1,"disp":true,"width":"6","collapse":false},{"id":"b3ced578.1a0b28","type":"ui_group","z":"","name":"FX 2","tab":"119634ae.09d92b","order":4,"disp":true,"width":"6","collapse":false},{"id":"119634ae.09d92b","type":"ui_tab","z":"","name":"ShowLight Sniper","icon":"dashboard","order":4},{"id":"a8b395a4.ac9318","type":"subflow","name":"Subflow 5","info":"","in":[{"x":420,"y":400,"wires":[{"id":"9c0aadbc.a8952"}]}],"out":[{"x":2100,"y":480,"wires":[{"id":"91177c94.a284c","port":0}]}]},{"id":"1942bcd2.46d3b3","type":"function","z":"a8b395a4.ac9318","name":"Just get preset","func":"global.set(\"chauvet_155_grid_preset\", msg.payload.payload);\n\nvar preset = [];\nvar m = [];\npreset = global.get(\"chauvet_155_grid_preset\");\n\n\nfor (var i=0;i<13;i++)\n{\n    m[i] = { payload: preset[i] };\n}\nreturn m;\n","outputs":13,"noerr":0,"x":880,"y":360,"wires":[["7e491919.e2f318"],["517595f.c7c9a6c"],["a2632d21.54f8f"],["a5a1a81b.a36f28"],["96f0d5ba.806098"],["d145d540.9e0468"],["92b97ea6.fc97"],[],[],["e7020d08.90d6d"],["67d942fe.e4659c"],[],[]]},{"id":"517595f.c7c9a6c","type":"ui_slider","z":"a8b395a4.ac9318","name":"DMX3 FINE PAN","label":"","group":"51606a4c.b83654","order":9,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1130,"y":380,"wires":[["6969db31.a91a44"]]},{"id":"67d942fe.e4659c","type":"ui_slider","z":"a8b395a4.ac9318","name":"DMX7 SHUTTER","label":"","group":"51606a4c.b83654","order":15,"width":0,"height":0,"passthru":true,"topic":"Slider","min":"7","max":"215","step":1,"x":1130,"y":220,"wires":[["104798ad.793057"]]},{"id":"e7020d08.90d6d","type":"ui_slider","z":"a8b395a4.ac9318","name":"DMX8 DIMMER","label":"","group":"51606a4c.b83654","order":3,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1120,"y":260,"wires":[["f52857c.4aa50a8"]]},{"id":"22a19340.ff5f1c","type":"ui_slider","z":"a8b395a4.ac9318","name":"DMX6 COLOR WHEEL SPEED","label":"","group":"c67cc0e4.12fdc","order":3,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"63","step":"1","x":650,"y":800,"wires":[["139b0072.dee34"]]},{"id":"96f0d5ba.806098","type":"ui_slider","z":"a8b395a4.ac9318","name":"DMX5 SPEED","label":"","group":"51606a4c.b83654","order":13,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1120,"y":460,"wires":[["87bd9ea5.0025c"]]},{"id":"a5a1a81b.a36f28","type":"ui_slider","z":"a8b395a4.ac9318","name":"DMX4 FINE TILT","label":"","group":"51606a4c.b83654","order":11,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1130,"y":420,"wires":[["19a7b440.4b6cbc"]]},{"id":"a2632d21.54f8f","type":"ui_slider","z":"a8b395a4.ac9318","name":"DMX2 TILT","label":"","group":"51606a4c.b83654","order":7,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1110,"y":340,"wires":[["e4b38df0.80cf3"]]},{"id":"9b3d2340.cfd85","type":"change","z":"a8b395a4.ac9318","name":"save to Global DMX1","rules":[{"t":"set","p":"chauvet_155_grid_preset[0]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":300,"wires":[["91177c94.a284c"]]},{"id":"c33eac8a.9d5de","type":"change","z":"a8b395a4.ac9318","name":"save to Global DMX3","rules":[{"t":"set","p":"chauvet_155_grid_preset[2]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":380,"wires":[["91177c94.a284c"]]},{"id":"bb6832e1.70cee","type":"change","z":"a8b395a4.ac9318","name":"save to Global DMX2","rules":[{"t":"set","p":"chauvet_155_grid_preset[1]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":340,"wires":[["91177c94.a284c"]]},{"id":"1a7407bd.bda2a8","type":"change","z":"a8b395a4.ac9318","name":"save to Global DMX4","rules":[{"t":"set","p":"chauvet_155_grid_preset[3]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":420,"wires":[["91177c94.a284c"]]},{"id":"45162fc0.c163c","type":"change","z":"a8b395a4.ac9318","name":"save to Global DMX5","rules":[{"t":"set","p":"chauvet_155_grid_preset[4]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":460,"wires":[["91177c94.a284c"]]},{"id":"d8cb2da1.a6cea","type":"change","z":"a8b395a4.ac9318","name":"save to Global DMX6","rules":[{"t":"set","p":"chauvet_155_grid_preset[5]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":780,"wires":[["91177c94.a284c"]]},{"id":"7254e0ac.06c9c","type":"change","z":"a8b395a4.ac9318","name":"save to Global DMX9","rules":[{"t":"set","p":"chauvet_155_grid_preset[8]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":540,"wires":[["91177c94.a284c"]]},{"id":"5bb29088.808e8","type":"change","z":"a8b395a4.ac9318","name":"save to Global DMX8","rules":[{"t":"set","p":"chauvet_155_grid_preset[7]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":260,"wires":[["91177c94.a284c"]]},{"id":"ea1d0c0d.4f8d8","type":"change","z":"a8b395a4.ac9318","name":"save to Global DMX7","rules":[{"t":"set","p":"chauvet_155_grid_preset[6]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":220,"wires":[["91177c94.a284c"]]},{"id":"dc3dbe9a.f6b21","type":"function","z":"a8b395a4.ac9318","name":"insert preset","func":"var preset = [];\npreset = global.get(\"chauvet_155_grid_preset\");\nvar newMsg = {};\nnewMsg.collection = 'chauvet_155_grid_presets';\nnewMsg.payload = [\n  {topic: msg.payload},\n  {\n    \"$set\": {\n      \"payload\": preset\n    }\n  },\n  {upsert:true}\n];\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":378,"y":81,"wires":[["a006c529.6a6a68"]]},{"id":"a006c529.6a6a68","type":"mongodb2 in","z":"a8b395a4.ac9318","service":"_ext_","configNode":"de3380a2.fc70d","name":"Store Data into MongoDB","collection":"chauvet_155_grid_presets","operation":"findOneAndUpdate","x":589,"y":82,"wires":[["dad01b92.42d0a8"]]},{"id":"33b771a1.c9a27e","type":"mongodb2 in","z":"a8b395a4.ac9318","service":"_ext_","configNode":"de3380a2.fc70d","name":"Mongo DB dynamic operation","collection":"chauvet_155_grid_presets","operation":"","x":499,"y":202,"wires":[["4889deb7.80dc5"]]},{"id":"dad01b92.42d0a8","type":"function","z":"a8b395a4.ac9318","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":265,"y":199,"wires":[["33b771a1.c9a27e"]]},{"id":"7edd5b58.a7d1d4","type":"ui_dropdown","z":"a8b395a4.ac9318","name":"Recall Pulldown","label":"Recall","place":"Select option","group":"591d5239.488d3c","order":2,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1120,"y":60,"wires":[["1942bcd2.46d3b3","6d42d96e.294a68"]]},{"id":"4889deb7.80dc5","type":"function","z":"a8b395a4.ac9318","name":"Format Preset Pulldown","func":"flow.set(\"chauvet_155_grid_db_preset\", msg.payload);\nvar msg_array = [];\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic !== undefined){\n        tmp_object[msg_object.topic] = {\"topic\": msg_object.topic, \"payload\": msg_object.payload};\n        msg_array[i] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":60,"wires":[["7edd5b58.a7d1d4"]]},{"id":"9561dd66.a9b79","type":"inject","z":"a8b395a4.ac9318","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":116,"y":197.5,"wires":[["dad01b92.42d0a8"]]},{"id":"1c8d20a6.f017bf","type":"ui_text_input","z":"a8b395a4.ac9318","name":"","label":"Edit Preset Name","group":"591d5239.488d3c","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"","x":1503,"y":57,"wires":[["d48d72d4.c6549"]]},{"id":"1af1f95a.bc91e7","type":"ui_button","z":"a8b395a4.ac9318","name":"Save","group":"591d5239.488d3c","order":5,"width":0,"height":0,"passthru":false,"label":"Save Preset","color":"#FFF","bgcolor":"#FF0000","icon":"","payload":"","payloadType":"date","topic":"","x":58,"y":79.5,"wires":[["aade77e2.b7c228"]]},{"id":"d48d72d4.c6549","type":"function","z":"a8b395a4.ac9318","name":"set global preset name","func":"global.set(\"chauvet_155_grid_preset_name\", msg.payload);","outputs":1,"noerr":0,"x":1735,"y":60,"wires":[[]]},{"id":"aade77e2.b7c228","type":"function","z":"a8b395a4.ac9318","name":"save preset","func":"msg.payload = global.get(\"chauvet_155_grid_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":80,"wires":[["dc3dbe9a.f6b21"]]},{"id":"6d42d96e.294a68","type":"function","z":"a8b395a4.ac9318","name":"get preset name","func":"msg.payload = msg.payload.topic;\nreturn msg;","outputs":1,"noerr":0,"x":1308,"y":58.5,"wires":[["1c8d20a6.f017bf"]]},{"id":"8c88c2db.a9a0a","type":"ui_text","z":"a8b395a4.ac9318","group":"591d5239.488d3c","order":3,"width":0,"height":0,"name":"","label":"SAVE PRESET","format":"{{msg.payload}}","layout":"row-left","x":234,"y":331,"wires":[]},{"id":"9c348761.fd6ff8","type":"ui_text","z":"a8b395a4.ac9318","group":"591d5239.488d3c","order":1,"width":0,"height":0,"name":"","label":"RECALL PRESET","format":"{{msg.payload}}","layout":"row-left","x":250,"y":280,"wires":[]},{"id":"1c61e25b.ed0d9e","type":"function","z":"a8b395a4.ac9318","name":"delete preset","func":"var newMsg = {};\nnewMsg.operation  = 'deleteOne';\nnewMsg.payload    = {'topic' : msg.payload};\nreturn newMsg;","outputs":1,"noerr":0,"x":379,"y":140,"wires":[["b355a78e.8ba2c8"]]},{"id":"b355a78e.8ba2c8","type":"mongodb2 in","z":"a8b395a4.ac9318","service":"_ext_","configNode":"de3380a2.fc70d","name":"Store Data into MongoDB","collection":"chauvet_155_grid_presets","operation":"","x":590,"y":141,"wires":[["dad01b92.42d0a8"]]},{"id":"9f2c0a05.19c928","type":"ui_button","z":"a8b395a4.ac9318","name":"Delete","group":"591d5239.488d3c","order":6,"width":0,"height":0,"passthru":false,"label":"Delete Preset","color":"#FFF","bgcolor":"#FF00FF","icon":"","payload":"","payloadType":"date","topic":"","x":59,"y":138.5,"wires":[["8d9b9136.9b66"]]},{"id":"8d9b9136.9b66","type":"function","z":"a8b395a4.ac9318","name":"delete preset","func":"msg.payload = global.get(\"chauvet_155_grid_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":211,"y":139,"wires":[["1c61e25b.ed0d9e"]]},{"id":"91177c94.a284c","type":"function","z":"a8b395a4.ac9318","name":"Send Current Universe","func":"msg.payload = { \n                dmx: global.get(\"chauvet_155_grid_preset\"),\n                offset: 449\n            };\nreturn msg;","outputs":1,"noerr":0,"x":1920,"y":480,"wires":[[]]},{"id":"6969db31.a91a44","type":"ui_numeric","z":"a8b395a4.ac9318","name":"DMX 3: Fine Pan","label":"Fine Pan","group":"51606a4c.b83654","order":8,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1330,"y":380,"wires":[["c33eac8a.9d5de"]]},{"id":"e4b38df0.80cf3","type":"ui_numeric","z":"a8b395a4.ac9318","name":"DMX 2: Tilt (0-270 deg)","label":"Tilt (0-270 deg)","group":"51606a4c.b83654","order":6,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1330,"y":340,"wires":[["bb6832e1.70cee"]]},{"id":"19a7b440.4b6cbc","type":"ui_numeric","z":"a8b395a4.ac9318","name":"DMX 4: Fine Tilt","label":"Fine Tilt","group":"51606a4c.b83654","order":10,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1320,"y":420,"wires":[["1a7407bd.bda2a8"]]},{"id":"87bd9ea5.0025c","type":"ui_numeric","z":"a8b395a4.ac9318","name":"DMX 5 Speed (Fast to Slow)","label":"Speed (Fast to Slow)","group":"51606a4c.b83654","order":12,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1360,"y":460,"wires":[["45162fc0.c163c"]]},{"id":"d145d540.9e0468","type":"ui_numeric","z":"a8b395a4.ac9318","name":"","label":"Color DMX Output Value","group":"c67cc0e4.12fdc","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1390,"y":780,"wires":[["d8cb2da1.a6cea"]]},{"id":"f52857c.4aa50a8","type":"ui_numeric","z":"a8b395a4.ac9318","name":"DMX 8 Dimmer (0-100%)","label":"Dimmer (0-100%)","group":"51606a4c.b83654","order":2,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1350,"y":260,"wires":[["5bb29088.808e8"]]},{"id":"104798ad.793057","type":"ui_numeric","z":"a8b395a4.ac9318","name":"DMX 7 Shutter","label":"Strobe (Slow to Fast)","group":"51606a4c.b83654","order":14,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1340,"y":220,"wires":[["ea1d0c0d.4f8d8","1a5cf009.cb31e"]]},{"id":"7e491919.e2f318","type":"ui_slider","z":"a8b395a4.ac9318","name":"DMX1 PAN","label":"","group":"51606a4c.b83654","order":5,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1110,"y":300,"wires":[["4ff9e452.a7167c"]]},{"id":"4ff9e452.a7167c","type":"ui_numeric","z":"a8b395a4.ac9318","name":"DMX 1: Pan (0-540 deg)","label":"Pan (0-254 = 0-540 deg)","group":"51606a4c.b83654","order":4,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1330,"y":300,"wires":[["9b3d2340.cfd85"]]},{"id":"6da8c349.24e8ac","type":"ui_switch","z":"a8b395a4.ac9318","name":"","label":"Shutter ON/OFF","group":"51606a4c.b83654","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"7","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":1380,"y":120,"wires":[["67d942fe.e4659c"]]},{"id":"1a5cf009.cb31e","type":"function","z":"a8b395a4.ac9318","name":"update shutter switch based on dmx data","func":"if (msg.payload > 4){\n    msg.payload = 7;\n}\nelse {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1620,"y":180,"wires":[["6da8c349.24e8ac"]]},{"id":"b31c2c0e.b7494","type":"ui_button","z":"a8b395a4.ac9318","name":"red","group":"c67cc0e4.12fdc","order":8,"width":0,"height":0,"passthru":false,"label":"red","color":"","bgcolor":"red","icon":"","payload":"24","payloadType":"num","topic":"","x":890,"y":1020,"wires":[["d145d540.9e0468"]]},{"id":"8c2c6be4.c44218","type":"ui_button","z":"a8b395a4.ac9318","name":"white","group":"c67cc0e4.12fdc","order":4,"width":0,"height":0,"passthru":false,"label":"white (color wheel off)","color":"black","bgcolor":"white","icon":"","payload":"0","payloadType":"num","topic":"","x":890,"y":860,"wires":[["d145d540.9e0468"]]},{"id":"83e50492.24dd58","type":"ui_button","z":"a8b395a4.ac9318","name":"yellow","group":"c67cc0e4.12fdc","order":5,"width":0,"height":0,"passthru":false,"label":"yellow","color":"black","bgcolor":"yellow","icon":"","payload":"6","payloadType":"num","topic":"","x":890,"y":900,"wires":[["d145d540.9e0468"]]},{"id":"e4589632.fa9d48","type":"ui_button","z":"a8b395a4.ac9318","name":"pink","group":"c67cc0e4.12fdc","order":6,"width":0,"height":0,"passthru":false,"label":"pink","color":"","bgcolor":"magenta","icon":"","payload":"12","payloadType":"num","topic":"","x":890,"y":940,"wires":[["d145d540.9e0468"]]},{"id":"da6ee71b.875db8","type":"ui_button","z":"a8b395a4.ac9318","name":"green","group":"c67cc0e4.12fdc","order":7,"width":0,"height":0,"passthru":false,"label":"green","color":"","bgcolor":"green","icon":"","payload":"18","payloadType":"num","topic":"","x":890,"y":980,"wires":[["d145d540.9e0468"]]},{"id":"c98650a7.088d2","type":"ui_button","z":"a8b395a4.ac9318","name":"cyan","group":"c67cc0e4.12fdc","order":9,"width":0,"height":0,"passthru":false,"label":"cyan","color":"black","bgcolor":"cyan","icon":"","payload":"30","payloadType":"num","topic":"","x":890,"y":1060,"wires":[["d145d540.9e0468"]]},{"id":"fac51c0b.32857","type":"ui_button","z":"a8b395a4.ac9318","name":"lime","group":"c67cc0e4.12fdc","order":10,"width":0,"height":0,"passthru":false,"label":"lime","color":"black","bgcolor":"lime","icon":"","payload":"48","payloadType":"num","topic":"","x":890,"y":1180,"wires":[["d145d540.9e0468"]]},{"id":"45fb142a.33dd4c","type":"ui_button","z":"a8b395a4.ac9318","name":"orange","group":"c67cc0e4.12fdc","order":11,"width":0,"height":0,"passthru":false,"label":"orange","color":"","bgcolor":"orange","icon":"","payload":"36","payloadType":"num","topic":"","x":900,"y":1100,"wires":[["d145d540.9e0468"]]},{"id":"59c34c0f.f6a8e4","type":"ui_button","z":"a8b395a4.ac9318","name":"blue","group":"c67cc0e4.12fdc","order":12,"width":0,"height":0,"passthru":false,"label":"blue","color":"","bgcolor":"blue","icon":"","payload":"42","payloadType":"num","topic":"","x":890,"y":1140,"wires":[["d145d540.9e0468"]]},{"id":"260c161d.7ee55a","type":"ui_switch","z":"a8b395a4.ac9318","name":"","label":"Color Wheel UP/DOWN & SPEED","group":"c67cc0e4.12fdc","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"192","onvalueType":"num","onicon":"","oncolor":"","offvalue":"128","offvalueType":"num","officon":"","offcolor":"","x":660,"y":740,"wires":[["6fa76928.304d08"]]},{"id":"6fa76928.304d08","type":"function","z":"a8b395a4.ac9318","name":"save flow offset","func":"flow.set(\"155_grid_color_wheel_offset\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":740,"wires":[["787d742.de1498c"]]},{"id":"139b0072.dee34","type":"function","z":"a8b395a4.ac9318","name":"save flow offset","func":"flow.set(\"155_grid_color_wheel_speed\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":800,"wires":[["787d742.de1498c"]]},{"id":"cab19dda.06e4b","type":"ui_button","z":"a8b395a4.ac9318","name":"red + cyan","group":"c67cc0e4.12fdc","order":17,"width":0,"height":0,"passthru":false,"label":"red + cyan","color":"cyan","bgcolor":"red","icon":"","payload":"88","payloadType":"num","topic":"","x":1110,"y":1000,"wires":[["d145d540.9e0468"]]},{"id":"ec8738d8.d6e4e8","type":"ui_button","z":"a8b395a4.ac9318","name":"white + yellow","group":"c67cc0e4.12fdc","order":13,"width":0,"height":0,"passthru":false,"label":"white + yellow","color":"black","bgcolor":"white","icon":"","payload":"64","payloadType":"num","topic":"","x":1120,"y":840,"wires":[["d145d540.9e0468"]]},{"id":"fe81a0c8.75316","type":"ui_button","z":"a8b395a4.ac9318","name":"yellow + pink","group":"c67cc0e4.12fdc","order":14,"width":0,"height":0,"passthru":false,"label":"yellow + pink","color":"magenta","bgcolor":"yellow","icon":"","payload":"70","payloadType":"num","topic":"","x":1110,"y":880,"wires":[["d145d540.9e0468"]]},{"id":"900a64fb.9068d8","type":"ui_button","z":"a8b395a4.ac9318","name":"pink + green","group":"c67cc0e4.12fdc","order":15,"width":0,"height":0,"passthru":false,"label":"pink + green","color":"green","bgcolor":"magenta","icon":"","payload":"76","payloadType":"num","topic":"","x":1110,"y":920,"wires":[["d145d540.9e0468"]]},{"id":"b7a23d2b.adbf7","type":"ui_button","z":"a8b395a4.ac9318","name":"green + red","group":"c67cc0e4.12fdc","order":16,"width":0,"height":0,"passthru":false,"label":"green + red","color":"red","bgcolor":"green","icon":"","payload":"83","payloadType":"num","topic":"","x":1110,"y":960,"wires":[["d145d540.9e0468"]]},{"id":"b496baa6.a700b8","type":"ui_button","z":"a8b395a4.ac9318","name":"cyan + orange","group":"c67cc0e4.12fdc","order":18,"width":0,"height":0,"passthru":false,"label":"cyan + orange","color":"orange","bgcolor":"cyan","icon":"","payload":"94","payloadType":"num","topic":"","x":1120,"y":1040,"wires":[["d145d540.9e0468"]]},{"id":"c0554f8a.5c6bf","type":"ui_button","z":"a8b395a4.ac9318","name":"lime + amber","group":"c67cc0e4.12fdc","order":19,"width":0,"height":0,"passthru":false,"label":"lime + amber","color":"amber","bgcolor":"lime","icon":"","payload":"112","payloadType":"num","topic":"","x":1110,"y":1160,"wires":[["d145d540.9e0468"]]},{"id":"cbf8137d.eda86","type":"ui_button","z":"a8b395a4.ac9318","name":"orange + blue","group":"c67cc0e4.12fdc","order":20,"width":0,"height":0,"passthru":false,"label":"orange + blue","color":"blue","bgcolor":"orange","icon":"","payload":"100","payloadType":"num","topic":"","x":1120,"y":1080,"wires":[["d145d540.9e0468"]]},{"id":"b1da1cc7.1aacc","type":"ui_button","z":"a8b395a4.ac9318","name":"blue + lime","group":"c67cc0e4.12fdc","order":21,"width":0,"height":0,"passthru":false,"label":"blue + lime","color":"lime","bgcolor":"blue","icon":"","payload":"106","payloadType":"num","topic":"","x":1090,"y":1120,"wires":[["d145d540.9e0468"]]},{"id":"787d742.de1498c","type":"function","z":"a8b395a4.ac9318","name":"color wheel slider + offset","func":"var offset = flow.get(\"155_grid_color_wheel_offset\");\nvar color_wheel_speed = flow.get(\"155_grid_color_wheel_speed\");\nmsg.payload = offset + color_wheel_speed;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":780,"wires":[["d145d540.9e0468"]]},{"id":"771a8bc8.1756b4","type":"ui_button","z":"a8b395a4.ac9318","name":"no gobo","group":"b141723c.86731","order":2,"width":0,"height":0,"passthru":false,"label":"no gobo","color":"black","bgcolor":"white","icon":"","payload":"0","payloadType":"num","topic":"","x":1340,"y":840,"wires":[["87f32447.767598"]]},{"id":"cd6f5341.7c3c3","type":"ui_button","z":"a8b395a4.ac9318","name":"dots in a circle gobo","group":"b141723c.86731","order":3,"width":0,"height":0,"passthru":false,"label":"dots in a circle gobo","color":"black","bgcolor":"white","icon":"","payload":"18","payloadType":"num","topic":"","x":1380,"y":960,"wires":[["87f32447.767598"]]},{"id":"d1a176c6.c97f48","type":"ui_button","z":"a8b395a4.ac9318","name":"bubbles","group":"b141723c.86731","order":4,"width":0,"height":0,"passthru":false,"label":"bubbles","color":"black","bgcolor":"white","icon":"","payload":"12","payloadType":"num","topic":"","x":1340,"y":920,"wires":[["87f32447.767598"]]},{"id":"aa5c732f.d3bd1","type":"ui_button","z":"a8b395a4.ac9318","name":"swirls","group":"b141723c.86731","order":5,"width":0,"height":0,"passthru":false,"label":"swirls","color":"black","bgcolor":"white","icon":"","payload":"6","payloadType":"num","topic":"","x":1330,"y":880,"wires":[["87f32447.767598"]]},{"id":"390d45c2.f64afa","type":"ui_button","z":"a8b395a4.ac9318","name":"curve thatch","group":"b141723c.86731","order":6,"width":0,"height":0,"passthru":false,"label":"curve thatch","color":"black","bgcolor":"white","icon":"","payload":"24","payloadType":"num","topic":"","x":1350,"y":1000,"wires":[["87f32447.767598"]]},{"id":"2da6cb26.44b834","type":"ui_button","z":"a8b395a4.ac9318","name":"sun","group":"b141723c.86731","order":7,"width":0,"height":0,"passthru":false,"label":"sun","color":"black","bgcolor":"white","icon":"","payload":"30","payloadType":"num","topic":"","x":1330,"y":1040,"wires":[["87f32447.767598"]]},{"id":"b8bb9c87.5e63b","type":"ui_button","z":"a8b395a4.ac9318","name":"stars","group":"b141723c.86731","order":8,"width":0,"height":0,"passthru":false,"label":"stars","color":"black","bgcolor":"white","icon":"","payload":"36","payloadType":"num","topic":"","x":1330,"y":1080,"wires":[["87f32447.767598"]]},{"id":"b16759c6.b516e8","type":"ui_button","z":"a8b395a4.ac9318","name":"spiral","group":"b141723c.86731","order":9,"width":0,"height":0,"passthru":false,"label":"spiral","color":"black","bgcolor":"white","icon":"","payload":"42","payloadType":"num","topic":"","x":1330,"y":1120,"wires":[["87f32447.767598"]]},{"id":"92b97ea6.fc97","type":"ui_numeric","z":"a8b395a4.ac9318","name":"","label":"Gobo Output Value","group":"b141723c.86731","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1330,"y":540,"wires":[["7254e0ac.06c9c"]]},{"id":"87f32447.767598","type":"function","z":"a8b395a4.ac9318","name":"set current gobo selection","func":"flow.set(\"155_grid_current_gobo_selection\", msg.payload);\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":1630,"y":960,"wires":[["21dbe59f.9265da"]]},{"id":"9c5298cb.daf188","type":"ui_slider","z":"a8b395a4.ac9318","name":"DMX9 GOBO SHAKE SPEED","label":"Shake:","group":"b141723c.86731","order":10,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"5","step":"1","x":1410,"y":1240,"wires":[["21dbe59f.9265da"]]},{"id":"21dbe59f.9265da","type":"function","z":"a8b395a4.ac9318","name":"gobo rotation slider + offset","func":"var current_gobo = flow.get(\"155_grid_current_gobo_selection\");\nif (msg.payload === 0) {\n    msg.payload = current_gobo;\n    return msg;\n}\nelse if(msg.payload!==null) {\n    switch(current_gobo) {\n        case 56:\n            msg.payload = msg.payload + 64;\n            break;\n        case 48:\n            msg.payload = msg.payload + 74;\n            break;\n        case 42:\n            msg.payload = msg.payload + 80;\n            break;\n        case 36:\n            msg.payload = msg.payload + 86;\n            break;\n        case 30:\n            msg.payload = msg.payload + 92;\n            break;\n        case 24:\n            msg.payload = msg.payload + 98;\n            break;\n        case 18:\n            msg.payload = msg.payload + 104;\n            break;\n        case 12:\n            msg.payload = msg.payload + 110;\n            break;\n        case 6:\n            msg.payload = msg.payload + 116;\n            break;\n        default:\n            msg.payload = 0;\n    }\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1980,"y":960,"wires":[["92b97ea6.fc97"]]},{"id":"25baf43e.c9502c","type":"ui_slider","z":"a8b395a4.ac9318","name":"DMX7 GOBO CYCLE SPEED","label":"","group":"b141723c.86731","order":12,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"63","step":"1","x":1750,"y":1140,"wires":[["a4e8a30.0218b6"]]},{"id":"d55cffa6.3b381","type":"ui_switch","z":"a8b395a4.ac9318","name":"","label":"Gobo Cycle UP/DOWN & SPEED","group":"b141723c.86731","order":11,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"192","onvalueType":"num","onicon":"","oncolor":"","offvalue":"128","offvalueType":"num","officon":"","offcolor":"","x":1760,"y":1080,"wires":[["fc89b9e0.fb0c28"]]},{"id":"fc89b9e0.fb0c28","type":"function","z":"a8b395a4.ac9318","name":"save flow offset","func":"flow.set(\"155_grid_gobo_cycle_offset\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2000,"y":1080,"wires":[["731cf8f8.83cba8"]]},{"id":"a4e8a30.0218b6","type":"function","z":"a8b395a4.ac9318","name":"save flow offset","func":"flow.set(\"155_grid_gobo_cycle_speed\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2000,"y":1140,"wires":[["731cf8f8.83cba8"]]},{"id":"731cf8f8.83cba8","type":"function","z":"a8b395a4.ac9318","name":"gobo cycle slider + offset","func":"var offset = flow.get(\"155_grid_gobo_cycle_offset\");\nvar gobo_cycle_speed = flow.get(\"155_grid_gobo_cycle_speed\");\nmsg.payload = offset + gobo_cycle_speed;\nreturn msg;","outputs":1,"noerr":0,"x":2230,"y":1120,"wires":[["92b97ea6.fc97"]]},{"id":"9c0aadbc.a8952","type":"function","z":"a8b395a4.ac9318","name":"trigger pitch preset","func":"var chauvet_155_grid_preset = flow.get(\"chauvet_155_grid_db_preset\");\nfor(var i = 0;i<chauvet_155_grid_preset.length; i++){\n    var temp_preset = chauvet_155_grid_preset[i];\n    if (temp_preset.topic==msg.payload){\n        msg.payload = { payload: temp_preset.payload };\n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":400,"wires":[["1942bcd2.46d3b3"]]},{"id":"2d8f0679.8f9d5a","type":"ui_button","z":"a8b395a4.ac9318","name":"amber","group":"c67cc0e4.12fdc","order":10,"width":0,"height":0,"passthru":false,"label":"amber","color":"black","bgcolor":"amber","icon":"","payload":"54","payloadType":"num","topic":"","x":890,"y":1220,"wires":[["d145d540.9e0468"]]},{"id":"75875e6d.6c11d","type":"ui_button","z":"a8b395a4.ac9318","name":"amber + white","group":"c67cc0e4.12fdc","order":19,"width":0,"height":0,"passthru":false,"label":"amber + white","color":"white","bgcolor":"amber","icon":"","payload":"118","payloadType":"num","topic":"","x":1120,"y":1200,"wires":[["d145d540.9e0468"]]},{"id":"a563d139.3fbfd","type":"ui_button","z":"a8b395a4.ac9318","name":"circle legs","group":"b141723c.86731","order":8,"width":0,"height":0,"passthru":false,"label":"circle legs","color":"black","bgcolor":"white","icon":"","payload":"48","payloadType":"num","topic":"","x":1340,"y":1160,"wires":[["87f32447.767598"]]},{"id":"d0d47b36.ab4348","type":"ui_button","z":"a8b395a4.ac9318","name":"thatch","group":"b141723c.86731","order":9,"width":0,"height":0,"passthru":false,"label":"thatch","color":"black","bgcolor":"white","icon":"","payload":"54","payloadType":"num","topic":"","x":1330,"y":1200,"wires":[["87f32447.767598"]]},{"id":"df5f6a90.a24608","type":"ui_button","z":"a8b395a4.ac9318","name":"Load Presets","group":"591d5239.488d3c","order":5,"width":0,"height":0,"passthru":false,"label":"Load Presets","color":"white","bgcolor":"purple","icon":"","payload":"","payloadType":"date","topic":"","x":70,"y":240,"wires":[["dad01b92.42d0a8"]]},{"id":"51606a4c.b83654","type":"ui_group","z":"","name":"MOVEMENT","tab":"d2fbaed0.c3248","order":2,"disp":true,"width":"6","collapse":false},{"id":"c67cc0e4.12fdc","type":"ui_group","z":"","name":"COLORS","tab":"d2fbaed0.c3248","order":3,"disp":true,"width":"6","collapse":false},{"id":"591d5239.488d3c","type":"ui_group","z":"","name":"PRESETS","tab":"d2fbaed0.c3248","order":1,"disp":true,"width":"6","collapse":false},{"id":"b141723c.86731","type":"ui_group","z":"","name":"GOBOS","tab":"d2fbaed0.c3248","order":4,"disp":true,"width":"6","collapse":false},{"id":"d2fbaed0.c3248","type":"ui_tab","z":"","name":"Chauvet 155Grid","icon":"dashboard","order":8},{"id":"464c74b5.a27ccc","type":"subflow","name":"Subflow 1","info":"","in":[{"x":440,"y":400,"wires":[{"id":"8e145a32.ddcb48"}]}],"out":[{"x":2100,"y":480,"wires":[{"id":"5a65c10a.bc3b1","port":0}]}]},{"id":"b99fee6.a5a1b1","type":"ui_slider","z":"464c74b5.a27ccc","name":"DMX3 FINE PAN","label":"","group":"c2d6ad4a.b2aec","order":9,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1150,"y":380,"wires":[["d980138b.284bd"]]},{"id":"ccb42ac1.b0e448","type":"ui_slider","z":"464c74b5.a27ccc","name":"DMX7 SHUTTER","label":"","group":"c2d6ad4a.b2aec","order":15,"width":0,"height":0,"passthru":true,"topic":"Slider","min":"7","max":"215","step":1,"x":1150,"y":220,"wires":[["78a6ceab.52dad"]]},{"id":"c95ad003.154fd","type":"ui_slider","z":"464c74b5.a27ccc","name":"DMX8 DIMMER","label":"","group":"c2d6ad4a.b2aec","order":3,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1140,"y":260,"wires":[["7f5d09d.c155bf8"]]},{"id":"4abc5258.d645cc","type":"ui_slider","z":"464c74b5.a27ccc","name":"DMX6 COLOR WHEEL SPEED","label":"","group":"63147927.04f0c8","order":3,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"63","step":"1","x":670,"y":800,"wires":[["d697528b.67aef"]]},{"id":"d31ef6a6.d43708","type":"ui_slider","z":"464c74b5.a27ccc","name":"DMX5 SPEED","label":"","group":"c2d6ad4a.b2aec","order":13,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1140,"y":460,"wires":[["6bb20796.438658"]]},{"id":"421115b9.8a118c","type":"ui_slider","z":"464c74b5.a27ccc","name":"DMX4 FINE TILT","label":"","group":"c2d6ad4a.b2aec","order":11,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1150,"y":420,"wires":[["bfd648d9.c1b068"]]},{"id":"d90cd11e.2e073","type":"ui_slider","z":"464c74b5.a27ccc","name":"DMX2 TILT","label":"","group":"c2d6ad4a.b2aec","order":7,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1130,"y":340,"wires":[["a09ff04.7ce401"]]},{"id":"25410f1d.56d0d","type":"change","z":"464c74b5.a27ccc","name":"save to Global DMX1","rules":[{"t":"set","p":"chauvet_155_floor_preset[0]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":300,"wires":[["5a65c10a.bc3b1"]]},{"id":"6a98ca75.ef27c4","type":"change","z":"464c74b5.a27ccc","name":"save to Global DMX3","rules":[{"t":"set","p":"chauvet_155_floor_preset[2]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":380,"wires":[["5a65c10a.bc3b1"]]},{"id":"cef849a.20f1bb8","type":"change","z":"464c74b5.a27ccc","name":"save to Global DMX2","rules":[{"t":"set","p":"chauvet_155_floor_preset[1]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":340,"wires":[["5a65c10a.bc3b1"]]},{"id":"8b4a9e52.f81a2","type":"change","z":"464c74b5.a27ccc","name":"save to Global DMX4","rules":[{"t":"set","p":"chauvet_155_floor_preset[3]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":420,"wires":[["5a65c10a.bc3b1"]]},{"id":"6bd50e50.1a95b","type":"change","z":"464c74b5.a27ccc","name":"save to Global DMX5","rules":[{"t":"set","p":"chauvet_155_floor_preset[4]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":460,"wires":[["5a65c10a.bc3b1"]]},{"id":"28d69b91.d23b34","type":"change","z":"464c74b5.a27ccc","name":"save to Global DMX6","rules":[{"t":"set","p":"chauvet_155_floor_preset[5]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":780,"wires":[["5a65c10a.bc3b1"]]},{"id":"f8b4f2b6.47f7","type":"change","z":"464c74b5.a27ccc","name":"save to Global DMX9","rules":[{"t":"set","p":"chauvet_155_floor_preset[8]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":540,"wires":[["5a65c10a.bc3b1"]]},{"id":"eb933c35.b6cc7","type":"change","z":"464c74b5.a27ccc","name":"save to Global DMX8","rules":[{"t":"set","p":"chauvet_155_floor_preset[7]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":260,"wires":[["5a65c10a.bc3b1"]]},{"id":"2cb0e2b6.c842ae","type":"change","z":"464c74b5.a27ccc","name":"save to Global DMX7","rules":[{"t":"set","p":"chauvet_155_floor_preset[6]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":220,"wires":[["5a65c10a.bc3b1"]]},{"id":"cfbd8960.240748","type":"function","z":"464c74b5.a27ccc","name":"Just get preset","func":"global.set(\"chauvet_155_floor_preset\", msg.payload.payload);\n\nvar preset = [];\nvar m = [];\npreset = global.get(\"chauvet_155_floor_preset\");\n\n\nfor (var i=0;i<13;i++)\n{\n    m[i] = { payload: preset[i] };\n}\nreturn m;\n","outputs":13,"noerr":0,"x":900,"y":360,"wires":[["4a239a4b.046c64"],["b99fee6.a5a1b1"],["d90cd11e.2e073"],["421115b9.8a118c"],["d31ef6a6.d43708"],["4248fd1b.0ea224"],["c180ec67.137b9"],[],[],["c95ad003.154fd"],["ccb42ac1.b0e448"],[],[]]},{"id":"8d5b8ba5.ddf578","type":"function","z":"464c74b5.a27ccc","name":"insert preset","func":"var preset = [];\npreset = global.get(\"chauvet_155_floor_preset\");\nvar newMsg = {};\nnewMsg.collection = 'chauvet_155_floor_presets';\nnewMsg.payload = [\n  {topic: msg.payload},\n  {\n    \"$set\": {\n      \"payload\": preset\n    }\n  },\n  {upsert:true}\n];\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":398,"y":81,"wires":[["15255194.d2fcde"]]},{"id":"15255194.d2fcde","type":"mongodb2 in","z":"464c74b5.a27ccc","service":"_ext_","configNode":"de3380a2.fc70d","name":"Store Data into MongoDB","collection":"chauvet_155_floor_presets","operation":"findOneAndUpdate","x":609,"y":82,"wires":[["6802da73.2bf0e4"]]},{"id":"6245cac5.3b5ea4","type":"mongodb2 in","z":"464c74b5.a27ccc","service":"_ext_","configNode":"de3380a2.fc70d","name":"Mongo DB dynamic operation","collection":"chauvet_155_floor_presets","operation":"","x":519,"y":202,"wires":[["9eda158f.590108"]]},{"id":"6802da73.2bf0e4","type":"function","z":"464c74b5.a27ccc","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":285,"y":199,"wires":[["6245cac5.3b5ea4"]]},{"id":"3e09f4ae.f4f90c","type":"ui_dropdown","z":"464c74b5.a27ccc","name":"Recall Pulldown","label":"Recall","place":"Select option","group":"f3ae25e1.de6c68","order":2,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1140,"y":60,"wires":[["cfbd8960.240748","b6fca589.2ec1c8"]]},{"id":"9eda158f.590108","type":"function","z":"464c74b5.a27ccc","name":"Format Preset Pulldown","func":"flow.set(\"chauvet_155_floor_db_preset\", msg.payload);\nvar msg_array = [];\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic !== undefined){\n        tmp_object[msg_object.topic] = {\"topic\": msg_object.topic, \"payload\": msg_object.payload};\n        msg_array[i] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":60,"wires":[["3e09f4ae.f4f90c"]]},{"id":"d3c768e0.0a71e8","type":"inject","z":"464c74b5.a27ccc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":136,"y":197.5,"wires":[["6802da73.2bf0e4"]]},{"id":"e500365f.9eeb38","type":"ui_text_input","z":"464c74b5.a27ccc","name":"","label":"Edit Preset Name","group":"f3ae25e1.de6c68","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"","x":1523,"y":57,"wires":[["4565f82b.c40028"]]},{"id":"940d5300.a6799","type":"ui_button","z":"464c74b5.a27ccc","name":"Save","group":"f3ae25e1.de6c68","order":5,"width":0,"height":0,"passthru":false,"label":"Save Preset","color":"#FFF","bgcolor":"#FF0000","icon":"","payload":"","payloadType":"date","topic":"","x":78,"y":79.5,"wires":[["416aaca0.417a14"]]},{"id":"4565f82b.c40028","type":"function","z":"464c74b5.a27ccc","name":"set global preset name","func":"global.set(\"chauvet_155_floor_preset_name\", msg.payload);","outputs":1,"noerr":0,"x":1755,"y":60,"wires":[[]]},{"id":"416aaca0.417a14","type":"function","z":"464c74b5.a27ccc","name":"save preset","func":"msg.payload = global.get(\"chauvet_155_floor_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":80,"wires":[["8d5b8ba5.ddf578"]]},{"id":"b6fca589.2ec1c8","type":"function","z":"464c74b5.a27ccc","name":"get preset name","func":"msg.payload = msg.payload.topic;\nreturn msg;","outputs":1,"noerr":0,"x":1328,"y":58.5,"wires":[["e500365f.9eeb38"]]},{"id":"cb64c74d.df7528","type":"ui_text","z":"464c74b5.a27ccc","group":"f3ae25e1.de6c68","order":3,"width":0,"height":0,"name":"","label":"SAVE PRESET","format":"{{msg.payload}}","layout":"row-left","x":254,"y":331,"wires":[]},{"id":"12f951ef.6cf37e","type":"ui_text","z":"464c74b5.a27ccc","group":"f3ae25e1.de6c68","order":1,"width":0,"height":0,"name":"","label":"RECALL PRESET","format":"{{msg.payload}}","layout":"row-left","x":270,"y":280,"wires":[]},{"id":"5f39ee50.e539f","type":"function","z":"464c74b5.a27ccc","name":"delete preset","func":"var newMsg = {};\nnewMsg.operation  = 'deleteOne';\nnewMsg.payload    = {'topic' : msg.payload};\nreturn newMsg;","outputs":1,"noerr":0,"x":399,"y":140,"wires":[["a9de58ca.38c1d8"]]},{"id":"a9de58ca.38c1d8","type":"mongodb2 in","z":"464c74b5.a27ccc","service":"_ext_","configNode":"de3380a2.fc70d","name":"Store Data into MongoDB","collection":"chauvet_155_floor_presets","operation":"","x":610,"y":141,"wires":[["6802da73.2bf0e4"]]},{"id":"73f42a2e.a06bb4","type":"ui_button","z":"464c74b5.a27ccc","name":"Delete","group":"f3ae25e1.de6c68","order":6,"width":0,"height":0,"passthru":false,"label":"Delete Preset","color":"#FFF","bgcolor":"#FF00FF","icon":"","payload":"","payloadType":"date","topic":"","x":79,"y":138.5,"wires":[["484c3ef3.6f44b"]]},{"id":"484c3ef3.6f44b","type":"function","z":"464c74b5.a27ccc","name":"delete preset","func":"msg.payload = global.get(\"chauvet_155_floor_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":231,"y":139,"wires":[["5f39ee50.e539f"]]},{"id":"5a65c10a.bc3b1","type":"function","z":"464c74b5.a27ccc","name":"Send Current Universe","func":"msg.payload = { \n                dmx: global.get(\"chauvet_155_floor_preset\"),\n                offset: 429\n            };\nreturn msg;","outputs":1,"noerr":0,"x":1940,"y":480,"wires":[[]]},{"id":"d980138b.284bd","type":"ui_numeric","z":"464c74b5.a27ccc","name":"DMX 3: Fine Pan","label":"Fine Pan","group":"c2d6ad4a.b2aec","order":8,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1350,"y":380,"wires":[["6a98ca75.ef27c4"]]},{"id":"a09ff04.7ce401","type":"ui_numeric","z":"464c74b5.a27ccc","name":"DMX 2: Tilt (0-270 deg)","label":"Tilt (0-270 deg)","group":"c2d6ad4a.b2aec","order":6,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1350,"y":340,"wires":[["cef849a.20f1bb8"]]},{"id":"bfd648d9.c1b068","type":"ui_numeric","z":"464c74b5.a27ccc","name":"DMX 4: Fine Tilt","label":"Fine Tilt","group":"c2d6ad4a.b2aec","order":10,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1340,"y":420,"wires":[["8b4a9e52.f81a2"]]},{"id":"6bb20796.438658","type":"ui_numeric","z":"464c74b5.a27ccc","name":"DMX 5 Speed (Fast to Slow)","label":"Speed (Fast to Slow)","group":"c2d6ad4a.b2aec","order":12,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1380,"y":460,"wires":[["6bd50e50.1a95b"]]},{"id":"4248fd1b.0ea224","type":"ui_numeric","z":"464c74b5.a27ccc","name":"","label":"Color DMX Output Value","group":"63147927.04f0c8","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1410,"y":780,"wires":[["28d69b91.d23b34"]]},{"id":"7f5d09d.c155bf8","type":"ui_numeric","z":"464c74b5.a27ccc","name":"DMX 8 Dimmer (0-100%)","label":"Dimmer (0-100%)","group":"c2d6ad4a.b2aec","order":2,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1370,"y":260,"wires":[["eb933c35.b6cc7"]]},{"id":"78a6ceab.52dad","type":"ui_numeric","z":"464c74b5.a27ccc","name":"DMX 7 Shutter","label":"Strobe (Slow to Fast)","group":"c2d6ad4a.b2aec","order":14,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1360,"y":220,"wires":[["2cb0e2b6.c842ae","fc91e4e9.bbf3f8"]]},{"id":"4a239a4b.046c64","type":"ui_slider","z":"464c74b5.a27ccc","name":"DMX1 PAN","label":"","group":"c2d6ad4a.b2aec","order":5,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1130,"y":300,"wires":[["cf95655.1651098"]]},{"id":"cf95655.1651098","type":"ui_numeric","z":"464c74b5.a27ccc","name":"DMX 1: Pan (0-540 deg)","label":"Pan (0-254 = 0-540 deg)","group":"c2d6ad4a.b2aec","order":4,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1350,"y":300,"wires":[["25410f1d.56d0d"]]},{"id":"95120089.996e3","type":"ui_switch","z":"464c74b5.a27ccc","name":"","label":"Shutter ON/OFF","group":"c2d6ad4a.b2aec","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"7","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":1400,"y":120,"wires":[["ccb42ac1.b0e448"]]},{"id":"fc91e4e9.bbf3f8","type":"function","z":"464c74b5.a27ccc","name":"update shutter switch based on dmx data","func":"if (msg.payload > 4){\n    msg.payload = 7;\n}\nelse {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1640,"y":180,"wires":[["95120089.996e3"]]},{"id":"308f8474.4354ac","type":"ui_button","z":"464c74b5.a27ccc","name":"red","group":"63147927.04f0c8","order":8,"width":0,"height":0,"passthru":false,"label":"red","color":"","bgcolor":"red","icon":"","payload":"24","payloadType":"num","topic":"","x":910,"y":1020,"wires":[["4248fd1b.0ea224"]]},{"id":"8a845e8f.78e97","type":"ui_button","z":"464c74b5.a27ccc","name":"white","group":"63147927.04f0c8","order":4,"width":0,"height":0,"passthru":false,"label":"white (color wheel off)","color":"black","bgcolor":"white","icon":"","payload":"0","payloadType":"num","topic":"","x":910,"y":860,"wires":[["4248fd1b.0ea224"]]},{"id":"5d8e53fa.bc6ecc","type":"ui_button","z":"464c74b5.a27ccc","name":"yellow","group":"63147927.04f0c8","order":5,"width":0,"height":0,"passthru":false,"label":"yellow","color":"black","bgcolor":"yellow","icon":"","payload":"6","payloadType":"num","topic":"","x":910,"y":900,"wires":[["4248fd1b.0ea224"]]},{"id":"ba7406b.d0573f8","type":"ui_button","z":"464c74b5.a27ccc","name":"pink","group":"63147927.04f0c8","order":6,"width":0,"height":0,"passthru":false,"label":"pink","color":"","bgcolor":"magenta","icon":"","payload":"12","payloadType":"num","topic":"","x":910,"y":940,"wires":[["4248fd1b.0ea224"]]},{"id":"b29b09fa.cace48","type":"ui_button","z":"464c74b5.a27ccc","name":"green","group":"63147927.04f0c8","order":7,"width":0,"height":0,"passthru":false,"label":"green","color":"","bgcolor":"green","icon":"","payload":"18","payloadType":"num","topic":"","x":910,"y":980,"wires":[["4248fd1b.0ea224"]]},{"id":"7da1cd9c.e76854","type":"ui_button","z":"464c74b5.a27ccc","name":"cyan","group":"63147927.04f0c8","order":9,"width":0,"height":0,"passthru":false,"label":"cyan","color":"black","bgcolor":"cyan","icon":"","payload":"30","payloadType":"num","topic":"","x":910,"y":1060,"wires":[["4248fd1b.0ea224"]]},{"id":"d9ce4fd7.182a4","type":"ui_button","z":"464c74b5.a27ccc","name":"lime","group":"63147927.04f0c8","order":10,"width":0,"height":0,"passthru":false,"label":"lime","color":"black","bgcolor":"lime","icon":"","payload":"48","payloadType":"num","topic":"","x":910,"y":1180,"wires":[["4248fd1b.0ea224"]]},{"id":"16696b6a.789e05","type":"ui_button","z":"464c74b5.a27ccc","name":"orange","group":"63147927.04f0c8","order":11,"width":0,"height":0,"passthru":false,"label":"orange","color":"","bgcolor":"orange","icon":"","payload":"36","payloadType":"num","topic":"","x":920,"y":1100,"wires":[["4248fd1b.0ea224"]]},{"id":"9c243fbb.2363e","type":"ui_button","z":"464c74b5.a27ccc","name":"blue","group":"63147927.04f0c8","order":12,"width":0,"height":0,"passthru":false,"label":"blue","color":"","bgcolor":"blue","icon":"","payload":"42","payloadType":"num","topic":"","x":910,"y":1140,"wires":[["4248fd1b.0ea224"]]},{"id":"eb5985a7.f03f28","type":"ui_switch","z":"464c74b5.a27ccc","name":"","label":"Color Wheel UP/DOWN & SPEED","group":"63147927.04f0c8","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"192","onvalueType":"num","onicon":"","oncolor":"","offvalue":"128","offvalueType":"num","officon":"","offcolor":"","x":680,"y":740,"wires":[["fa423169.e8e2c"]]},{"id":"fa423169.e8e2c","type":"function","z":"464c74b5.a27ccc","name":"save flow offset","func":"flow.set(\"155_floor_color_wheel_offset\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":740,"wires":[["20e35953.34a1a6"]]},{"id":"d697528b.67aef","type":"function","z":"464c74b5.a27ccc","name":"save flow offset","func":"flow.set(\"155_floor_color_wheel_speed\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":800,"wires":[["20e35953.34a1a6"]]},{"id":"1bcb0b7b.74adc5","type":"ui_button","z":"464c74b5.a27ccc","name":"red + cyan","group":"63147927.04f0c8","order":17,"width":0,"height":0,"passthru":false,"label":"red + cyan","color":"cyan","bgcolor":"red","icon":"","payload":"88","payloadType":"num","topic":"","x":1130,"y":1000,"wires":[["4248fd1b.0ea224"]]},{"id":"375287e1.944308","type":"ui_button","z":"464c74b5.a27ccc","name":"white + yellow","group":"63147927.04f0c8","order":13,"width":0,"height":0,"passthru":false,"label":"white + yellow","color":"black","bgcolor":"white","icon":"","payload":"64","payloadType":"num","topic":"","x":1140,"y":840,"wires":[["4248fd1b.0ea224"]]},{"id":"c57cd09a.cdd64","type":"ui_button","z":"464c74b5.a27ccc","name":"yellow + pink","group":"63147927.04f0c8","order":14,"width":0,"height":0,"passthru":false,"label":"yellow + pink","color":"magenta","bgcolor":"yellow","icon":"","payload":"70","payloadType":"num","topic":"","x":1130,"y":880,"wires":[["4248fd1b.0ea224"]]},{"id":"908f4dee.50b56","type":"ui_button","z":"464c74b5.a27ccc","name":"pink + green","group":"63147927.04f0c8","order":15,"width":0,"height":0,"passthru":false,"label":"pink + green","color":"green","bgcolor":"magenta","icon":"","payload":"76","payloadType":"num","topic":"","x":1130,"y":920,"wires":[["4248fd1b.0ea224"]]},{"id":"962ab9aa.4967c8","type":"ui_button","z":"464c74b5.a27ccc","name":"green + red","group":"63147927.04f0c8","order":16,"width":0,"height":0,"passthru":false,"label":"green + red","color":"red","bgcolor":"green","icon":"","payload":"83","payloadType":"num","topic":"","x":1130,"y":960,"wires":[["4248fd1b.0ea224"]]},{"id":"d3b4358d.a429d8","type":"ui_button","z":"464c74b5.a27ccc","name":"cyan + orange","group":"63147927.04f0c8","order":18,"width":0,"height":0,"passthru":false,"label":"cyan + orange","color":"orange","bgcolor":"cyan","icon":"","payload":"94","payloadType":"num","topic":"","x":1140,"y":1040,"wires":[["4248fd1b.0ea224"]]},{"id":"c6e56b9d.c35758","type":"ui_button","z":"464c74b5.a27ccc","name":"lime + amber","group":"63147927.04f0c8","order":19,"width":0,"height":0,"passthru":false,"label":"lime + amber","color":"amber","bgcolor":"lime","icon":"","payload":"112","payloadType":"num","topic":"","x":1130,"y":1160,"wires":[["4248fd1b.0ea224"]]},{"id":"cf575a30.5aabe8","type":"ui_button","z":"464c74b5.a27ccc","name":"orange + blue","group":"63147927.04f0c8","order":20,"width":0,"height":0,"passthru":false,"label":"orange + blue","color":"blue","bgcolor":"orange","icon":"","payload":"100","payloadType":"num","topic":"","x":1140,"y":1080,"wires":[["4248fd1b.0ea224"]]},{"id":"ca2d9489.e78858","type":"ui_button","z":"464c74b5.a27ccc","name":"blue + lime","group":"63147927.04f0c8","order":21,"width":0,"height":0,"passthru":false,"label":"blue + lime","color":"lime","bgcolor":"blue","icon":"","payload":"106","payloadType":"num","topic":"","x":1130,"y":1120,"wires":[["4248fd1b.0ea224"]]},{"id":"20e35953.34a1a6","type":"function","z":"464c74b5.a27ccc","name":"color wheel slider + offset","func":"var offset = flow.get(\"155_floor_color_wheel_offset\");\nvar color_wheel_speed = flow.get(\"155_floor_color_wheel_speed\");\nmsg.payload = offset + color_wheel_speed;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":780,"wires":[["4248fd1b.0ea224"]]},{"id":"48079824.ec3cc8","type":"ui_button","z":"464c74b5.a27ccc","name":"no gobo","group":"10b2410a.4a5eef","order":2,"width":0,"height":0,"passthru":false,"label":"no gobo","color":"black","bgcolor":"white","icon":"","payload":"0","payloadType":"num","topic":"","x":1360,"y":840,"wires":[["9b670bec.885ce8"]]},{"id":"b5d501c.443de","type":"ui_button","z":"464c74b5.a27ccc","name":"dots in a circle gobo","group":"10b2410a.4a5eef","order":3,"width":0,"height":0,"passthru":false,"label":"dots in a circle gobo","color":"black","bgcolor":"white","icon":"","payload":"18","payloadType":"num","topic":"","x":1400,"y":960,"wires":[["9b670bec.885ce8"]]},{"id":"cc95771.fba2688","type":"ui_button","z":"464c74b5.a27ccc","name":"bubbles","group":"10b2410a.4a5eef","order":4,"width":0,"height":0,"passthru":false,"label":"bubbles","color":"black","bgcolor":"white","icon":"","payload":"12","payloadType":"num","topic":"","x":1360,"y":920,"wires":[["9b670bec.885ce8"]]},{"id":"ba00e044.9b802","type":"ui_button","z":"464c74b5.a27ccc","name":"swirls","group":"10b2410a.4a5eef","order":5,"width":0,"height":0,"passthru":false,"label":"swirls","color":"black","bgcolor":"white","icon":"","payload":"6","payloadType":"num","topic":"","x":1350,"y":880,"wires":[["9b670bec.885ce8"]]},{"id":"680ca57f.8a118c","type":"ui_button","z":"464c74b5.a27ccc","name":"curve thatch","group":"10b2410a.4a5eef","order":6,"width":0,"height":0,"passthru":false,"label":"curve thatch","color":"black","bgcolor":"white","icon":"","payload":"24","payloadType":"num","topic":"","x":1370,"y":1000,"wires":[["9b670bec.885ce8"]]},{"id":"eec20987.891718","type":"ui_button","z":"464c74b5.a27ccc","name":"sun","group":"10b2410a.4a5eef","order":7,"width":0,"height":0,"passthru":false,"label":"sun","color":"black","bgcolor":"white","icon":"","payload":"30","payloadType":"num","topic":"","x":1350,"y":1040,"wires":[["9b670bec.885ce8"]]},{"id":"c4e27f89.262aa","type":"ui_button","z":"464c74b5.a27ccc","name":"stars","group":"10b2410a.4a5eef","order":8,"width":0,"height":0,"passthru":false,"label":"stars","color":"black","bgcolor":"white","icon":"","payload":"36","payloadType":"num","topic":"","x":1350,"y":1080,"wires":[["9b670bec.885ce8"]]},{"id":"3256f747.9016c8","type":"ui_button","z":"464c74b5.a27ccc","name":"spiral","group":"10b2410a.4a5eef","order":9,"width":0,"height":0,"passthru":false,"label":"spiral","color":"black","bgcolor":"white","icon":"","payload":"42","payloadType":"num","topic":"","x":1350,"y":1120,"wires":[["9b670bec.885ce8"]]},{"id":"c180ec67.137b9","type":"ui_numeric","z":"464c74b5.a27ccc","name":"","label":"Gobo Output Value","group":"10b2410a.4a5eef","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1350,"y":540,"wires":[["f8b4f2b6.47f7"]]},{"id":"9b670bec.885ce8","type":"function","z":"464c74b5.a27ccc","name":"set current gobo selection","func":"flow.set(\"155_floor_current_gobo_selection\", msg.payload);\n//msg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":960,"wires":[["dfa393be.1aea8"]]},{"id":"4c4294fe.6a106c","type":"ui_slider","z":"464c74b5.a27ccc","name":"DMX9 GOBO SHAKE SPEED","label":"Shake:","group":"10b2410a.4a5eef","order":10,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"5","step":"1","x":1430,"y":1240,"wires":[["dfa393be.1aea8"]]},{"id":"dfa393be.1aea8","type":"function","z":"464c74b5.a27ccc","name":"gobo rotation slider + offset","func":"var current_gobo = flow.get(\"155_floor_current_gobo_selection\");\nif (msg.payload === 0) {\n    msg.payload = current_gobo;\n    return msg;\n}\nelse if(msg.payload!==null) {\n    switch(current_gobo) {\n        case 56:\n            msg.payload = msg.payload + 64;\n            break;\n        case 48:\n            msg.payload = msg.payload + 74;\n            break;\n        case 42:\n            msg.payload = msg.payload + 80;\n            break;\n        case 36:\n            msg.payload = msg.payload + 86;\n            break;\n        case 30:\n            msg.payload = msg.payload + 92;\n            break;\n        case 24:\n            msg.payload = msg.payload + 98;\n            break;\n        case 18:\n            msg.payload = msg.payload + 104;\n            break;\n        case 12:\n            msg.payload = msg.payload + 110;\n            break;\n        case 6:\n            msg.payload = msg.payload + 116;\n            break;\n        default:\n            msg.payload = 0;\n    }\n    return msg;\n}\n","outputs":1,"noerr":0,"x":2000,"y":960,"wires":[["c180ec67.137b9","2e612a75.c56de6"]]},{"id":"b6fa824b.aa007","type":"ui_slider","z":"464c74b5.a27ccc","name":"DMX7 GOBO CYCLE SPEED","label":"","group":"10b2410a.4a5eef","order":12,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"63","step":"1","x":1770,"y":1140,"wires":[["ece98928.468728"]]},{"id":"5870fe1.1eac3","type":"ui_switch","z":"464c74b5.a27ccc","name":"","label":"Gobo Cycle UP/DOWN & SPEED","group":"10b2410a.4a5eef","order":11,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"192","onvalueType":"num","onicon":"","oncolor":"","offvalue":"128","offvalueType":"num","officon":"","offcolor":"","x":1780,"y":1080,"wires":[["96634165.2997c"]]},{"id":"96634165.2997c","type":"function","z":"464c74b5.a27ccc","name":"save flow offset","func":"flow.set(\"155_floor_gobo_cycle_offset\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2020,"y":1080,"wires":[["de699ee8.2bdf2"]]},{"id":"ece98928.468728","type":"function","z":"464c74b5.a27ccc","name":"save flow offset","func":"flow.set(\"155_floor_gobo_cycle_speed\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2020,"y":1140,"wires":[["de699ee8.2bdf2"]]},{"id":"de699ee8.2bdf2","type":"function","z":"464c74b5.a27ccc","name":"gobo cycle slider + offset","func":"var offset = flow.get(\"155_floor_gobo_cycle_offset\");\nvar gobo_cycle_speed = flow.get(\"155_floor_gobo_cycle_speed\");\nmsg.payload = offset + gobo_cycle_speed;\nreturn msg;","outputs":1,"noerr":0,"x":2250,"y":1120,"wires":[["c180ec67.137b9"]]},{"id":"8e145a32.ddcb48","type":"function","z":"464c74b5.a27ccc","name":"trigger pitch preset","func":"var chauvet_155_floor_preset = flow.get(\"chauvet_155_floor_db_preset\");\nfor(var i = 0;i<chauvet_155_floor_preset.length; i++){\n    var temp_preset = chauvet_155_floor_preset[i];\n    if (temp_preset.topic==msg.payload){\n        msg.payload = { payload: temp_preset.payload };\n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":400,"wires":[["cfbd8960.240748"]]},{"id":"6ef20f75.be4e1","type":"ui_button","z":"464c74b5.a27ccc","name":"amber","group":"63147927.04f0c8","order":10,"width":0,"height":0,"passthru":false,"label":"amber","color":"black","bgcolor":"amber","icon":"","payload":"54","payloadType":"num","topic":"","x":910,"y":1220,"wires":[["4248fd1b.0ea224"]]},{"id":"a01e1881.6607c8","type":"ui_button","z":"464c74b5.a27ccc","name":"amber + white","group":"63147927.04f0c8","order":19,"width":0,"height":0,"passthru":false,"label":"amber + white","color":"white","bgcolor":"amber","icon":"","payload":"118","payloadType":"num","topic":"","x":1140,"y":1200,"wires":[["4248fd1b.0ea224"]]},{"id":"40d7275d.f769d8","type":"ui_button","z":"464c74b5.a27ccc","name":"circle legs","group":"10b2410a.4a5eef","order":8,"width":0,"height":0,"passthru":false,"label":"circle legs","color":"black","bgcolor":"white","icon":"","payload":"48","payloadType":"num","topic":"","x":1360,"y":1160,"wires":[["9b670bec.885ce8"]]},{"id":"15c44b01.7458d5","type":"ui_button","z":"464c74b5.a27ccc","name":"thatch","group":"10b2410a.4a5eef","order":9,"width":0,"height":0,"passthru":false,"label":"thatch","color":"black","bgcolor":"white","icon":"","payload":"54","payloadType":"num","topic":"","x":1350,"y":1200,"wires":[["9b670bec.885ce8"]]},{"id":"7ccc154b.6793dc","type":"ui_button","z":"464c74b5.a27ccc","name":"Load Presets","group":"f3ae25e1.de6c68","order":5,"width":0,"height":0,"passthru":false,"label":"Load Presets","color":"white","bgcolor":"purple","icon":"","payload":"","payloadType":"date","topic":"","x":70,"y":260,"wires":[["6802da73.2bf0e4"]]},{"id":"2e612a75.c56de6","type":"debug","z":"464c74b5.a27ccc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2270,"y":860,"wires":[]},{"id":"c2d6ad4a.b2aec","type":"ui_group","z":"","name":"MOVEMENT","tab":"54010f50.d91ab","order":2,"disp":true,"width":"6","collapse":false},{"id":"63147927.04f0c8","type":"ui_group","z":"","name":"COLORS","tab":"54010f50.d91ab","order":3,"disp":true,"width":"6","collapse":false},{"id":"f3ae25e1.de6c68","type":"ui_group","z":"","name":"PRESETS","tab":"54010f50.d91ab","order":1,"disp":true,"width":"6","collapse":false},{"id":"10b2410a.4a5eef","type":"ui_group","z":"","name":"GOBOS","tab":"54010f50.d91ab","order":4,"disp":true,"width":"6","collapse":false},{"id":"54010f50.d91ab","type":"ui_tab","z":"","name":"Chauvet 155Floor","icon":"dashboard","order":7},{"id":"a43f3336.67771","type":"subflow","name":"Subflow 4","info":"","category":"","in":[{"x":660,"y":440,"wires":[{"id":"df7ad8cd.6b9468"},{"id":"40f81bde.757454"}]}],"out":[{"x":2380,"y":920,"wires":[{"id":"786463d3.475bcc","port":0}]}]},{"id":"23bc18de.98dd48","type":"function","z":"a43f3336.67771","name":"insert preset","func":"var preset = [];\npreset = global.get(\"dark_lab_preset\");\nvar newMsg = {};\nnewMsg.collection = 'dark_lab_presets';\nnewMsg.payload = [\n  {topic: msg.payload},\n  {\n    \"$set\": {\n      \"payload\": preset\n    }\n  },\n  {upsert:true}\n];\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":410,"y":140,"wires":[["ea295a06.ec96e8"]]},{"id":"ea295a06.ec96e8","type":"mongodb2 in","z":"a43f3336.67771","service":"_ext_","configNode":"2fe3b9c7.30d626","name":"Store Data into MongoDB","collection":"dark_lab_presets","operation":"findOneAndUpdate","x":621,"y":141,"wires":[["789b9837.fdfc98"]]},{"id":"489b3101.4ca18","type":"mongodb2 in","z":"a43f3336.67771","service":"_ext_","configNode":"2fe3b9c7.30d626","name":"Mongo DB dynamic operation","collection":"dark_lab_presets","operation":"","x":531,"y":261,"wires":[["abe60fcd.2afcc"]]},{"id":"789b9837.fdfc98","type":"function","z":"a43f3336.67771","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":297,"y":258,"wires":[["489b3101.4ca18"]]},{"id":"587bfb8f.654eb4","type":"ui_dropdown","z":"a43f3336.67771","name":"Recall Pulldown","label":"Recall","place":"Select option","group":"342ff814.062d08","order":2,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1011,"y":187,"wires":[["fb1164bd.99c658","d2e69154.b993"]]},{"id":"abe60fcd.2afcc","type":"function","z":"a43f3336.67771","name":"Format Preset Pulldown","func":"flow.set(\"dark_lab_db_preset\", msg.payload);\nvar msg_array = [];\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic !== undefined){\n        tmp_object[msg_object.topic] = {\"topic\": msg_object.topic, \"payload\": msg_object.payload};\n        msg_array[i] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":813,"y":260.5,"wires":[["587bfb8f.654eb4"]]},{"id":"1e6d9d9e.f05442","type":"inject","z":"a43f3336.67771","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":240,"wires":[["789b9837.fdfc98"]]},{"id":"1d1febb5.14de44","type":"ui_text_input","z":"a43f3336.67771","name":"","label":"Edit Preset Name","group":"342ff814.062d08","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"","x":1394,"y":184,"wires":[["559837c1.4d69e8"]]},{"id":"97195d5b.59d29","type":"ui_button","z":"a43f3336.67771","name":"Save","group":"342ff814.062d08","order":5,"width":0,"height":0,"passthru":false,"label":"Save Preset","color":"#FFF","bgcolor":"#FF0000","icon":"","payload":"","payloadType":"date","topic":"","x":90,"y":138.5,"wires":[["2f6ccb1c.ad1ad4"]]},{"id":"559837c1.4d69e8","type":"function","z":"a43f3336.67771","name":"set global preset name","func":"global.set(\"dark_lab_preset_name\", msg.payload);","outputs":1,"noerr":0,"x":1646,"y":187,"wires":[[]]},{"id":"2f6ccb1c.ad1ad4","type":"function","z":"a43f3336.67771","name":"save preset","func":"msg.payload = global.get(\"dark_lab_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":242,"y":139,"wires":[["23bc18de.98dd48"]]},{"id":"fb1164bd.99c658","type":"function","z":"a43f3336.67771","name":"get preset name","func":"msg.payload = msg.payload.topic;\nreturn msg;","outputs":1,"noerr":0,"x":1199,"y":185.5,"wires":[["1d1febb5.14de44"]]},{"id":"1ba27d25.5411a3","type":"ui_text","z":"a43f3336.67771","group":"342ff814.062d08","order":3,"width":0,"height":0,"name":"","label":"SAVE PRESET","format":"{{msg.payload}}","layout":"row-left","x":120,"y":400,"wires":[]},{"id":"117349e8.8f6cd6","type":"ui_text","z":"a43f3336.67771","group":"342ff814.062d08","order":1,"width":0,"height":0,"name":"","label":"RECALL PRESET","format":"{{msg.payload}}","layout":"row-left","x":136,"y":352,"wires":[]},{"id":"e06a81a.28cd78","type":"function","z":"a43f3336.67771","name":"delete preset","func":"var newMsg = {};\nnewMsg.operation  = 'deleteOne';\nnewMsg.payload    = {'topic' : msg.payload};\nreturn newMsg;","outputs":1,"noerr":0,"x":411,"y":199,"wires":[["7d629306.820adc"]]},{"id":"7d629306.820adc","type":"mongodb2 in","z":"a43f3336.67771","service":"_ext_","configNode":"2fe3b9c7.30d626","name":"Store Data into MongoDB","collection":"dark_lab_presets","operation":"","x":622,"y":200,"wires":[["789b9837.fdfc98"]]},{"id":"a20e1f97.858cc","type":"ui_button","z":"a43f3336.67771","name":"Delete","group":"342ff814.062d08","order":5,"width":0,"height":0,"passthru":false,"label":"Delete Preset","color":"#FFF","bgcolor":"#FF00FF","icon":"","payload":"","payloadType":"date","topic":"","x":91,"y":197.5,"wires":[["57b49b3.1602164"]]},{"id":"57b49b3.1602164","type":"function","z":"a43f3336.67771","name":"delete preset","func":"msg.payload = global.get(\"dark_lab_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":243,"y":198,"wires":[["e06a81a.28cd78"]]},{"id":"c5d5df40.3caaf","type":"ui_slider","z":"a43f3336.67771","name":"DMX2","label":"DMX 2","group":"36c03856.566ca8","order":2,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1476,"y":287,"wires":[["efd27843.11d578"]]},{"id":"558a4cea.a80ed4","type":"ui_slider","z":"a43f3336.67771","name":"DMX12","label":"DMX 12","group":"36c03856.566ca8","order":12,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1479,"y":653,"wires":[["8cd81fc7.3ba2d"]]},{"id":"8e2df00c.7f21","type":"ui_slider","z":"a43f3336.67771","name":"DMX11","label":"DMX 11","group":"36c03856.566ca8","order":11,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":616,"wires":[["342c4e68.62a122"]]},{"id":"9103eba4.c89798","type":"ui_slider","z":"a43f3336.67771","name":"DMX10","label":"DMX 10","group":"36c03856.566ca8","order":10,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1479,"y":580,"wires":[["84cc7824.091888"]]},{"id":"b9875056.7d11d","type":"ui_slider","z":"a43f3336.67771","name":"DMX9","label":"DMX 9","group":"36c03856.566ca8","order":9,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1471,"y":543,"wires":[["1e50c5b1.ae908a"]]},{"id":"d74ea946.a23338","type":"ui_slider","z":"a43f3336.67771","name":"DMX8","label":"DMX 8","group":"36c03856.566ca8","order":8,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1471,"y":507,"wires":[["c8d15bd2.9580f8"]]},{"id":"e58ca66b.ce7338","type":"ui_slider","z":"a43f3336.67771","name":"DMX7","label":"DMX 7","group":"36c03856.566ca8","order":7,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1470,"y":470,"wires":[["3c85c1b7.1f281e"]]},{"id":"c8bbe090.14be9","type":"ui_slider","z":"a43f3336.67771","name":"DMX6","label":"DMX 6","group":"36c03856.566ca8","order":6,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1471,"y":435,"wires":[["b328af9.7847b5"]]},{"id":"37aed160.f5198e","type":"ui_slider","z":"a43f3336.67771","name":"DMX5","label":"DMX 5","group":"36c03856.566ca8","order":5,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1472,"y":398,"wires":[["99a29bc1.516c08"]]},{"id":"78de760f.38f938","type":"ui_slider","z":"a43f3336.67771","name":"DMX4","label":"DMX 4","group":"36c03856.566ca8","order":4,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1473,"y":362,"wires":[["e27c7b0e.82f0c8"]]},{"id":"1391f61f.6851ea","type":"ui_slider","z":"a43f3336.67771","name":"DMX3","label":"DMX 3","group":"36c03856.566ca8","order":3,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1474,"y":324,"wires":[["24769a94.87fb76"]]},{"id":"a957a721.ef4eb8","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_1","rules":[{"t":"set","p":"dark_lab_preset[0]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1722,"y":245,"wires":[["786463d3.475bcc"]]},{"id":"efd27843.11d578","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_2","rules":[{"t":"set","p":"dark_lab_preset[1]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1718,"y":287,"wires":[["786463d3.475bcc"]]},{"id":"24769a94.87fb76","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_3","rules":[{"t":"set","p":"dark_lab_preset[2]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1716,"y":325,"wires":[["786463d3.475bcc"]]},{"id":"e27c7b0e.82f0c8","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_4","rules":[{"t":"set","p":"dark_lab_preset[3]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1716,"y":362,"wires":[["786463d3.475bcc"]]},{"id":"99a29bc1.516c08","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_5","rules":[{"t":"set","p":"dark_lab_preset[4]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1714,"y":400,"wires":[["786463d3.475bcc"]]},{"id":"b328af9.7847b5","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_6","rules":[{"t":"set","p":"dark_lab_preset[5]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1715,"y":438,"wires":[["786463d3.475bcc"]]},{"id":"3c85c1b7.1f281e","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_7","rules":[{"t":"set","p":"dark_lab_preset[6]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1713,"y":476,"wires":[["786463d3.475bcc"]]},{"id":"c8d15bd2.9580f8","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_8","rules":[{"t":"set","p":"dark_lab_preset[7]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1712,"y":512,"wires":[["786463d3.475bcc"]]},{"id":"1e50c5b1.ae908a","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_9","rules":[{"t":"set","p":"dark_lab_preset[8]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1712,"y":549,"wires":[["786463d3.475bcc"]]},{"id":"84cc7824.091888","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_10","rules":[{"t":"set","p":"dark_lab_preset[9]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1710,"y":587,"wires":[["786463d3.475bcc"]]},{"id":"342c4e68.62a122","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_11","rules":[{"t":"set","p":"dark_lab_preset[10]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1713,"y":625,"wires":[["786463d3.475bcc"]]},{"id":"8cd81fc7.3ba2d","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_12","rules":[{"t":"set","p":"dark_lab_preset[11]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1709,"y":663,"wires":[["786463d3.475bcc"]]},{"id":"d2e69154.b993","type":"function","z":"a43f3336.67771","name":"Just get preset","func":"global.set(\"dark_lab_preset\", msg.payload.payload);\n\nvar preset = [];\nvar m = [];\npreset = global.get(\"dark_lab_preset\");\n\n\nfor (var i=0;i<80;i++)\n{   var preset_val = preset[i];\n    if (preset_val===null){preset_val = 0;}\n    m[i] = { payload: preset_val };\n}\nreturn m;\n","outputs":80,"noerr":0,"x":1240,"y":840,"wires":[["3db0e537.b36d8a"],["c5d5df40.3caaf"],["1391f61f.6851ea"],["78de760f.38f938"],["37aed160.f5198e"],["c8bbe090.14be9"],["e58ca66b.ce7338"],["d74ea946.a23338"],["b9875056.7d11d"],["9103eba4.c89798"],["8e2df00c.7f21"],["558a4cea.a80ed4"],["d9d8a547.550c38"],["f9f2bff4.932a5"],["8153ce57.ab303"],["90757971.60e478"],["b05e2e8c.4fdf8"],["1210020e.e61aee"],["a1cd0790.8f7788"],["fdcc3081.30986"],["a1e4d9e2.213748"],["677f41e7.548a7"],["d9759e5d.f736f"],["661cb857.657a98"],["5ddf2886.b207d8"],["ce14984e.350f78"],["abc83f8b.76688"],["7556d94f.bcc2b8"],["ef8a80dc.25064"],["9b61ccfe.ea1fa"],["1ad1e075.d0f96"],["38a401c.87d6bfe"],["96a033a5.d2c27"],["ac1aefdb.7546b"],["1a3e98f1.f3c0b7"],["2c4cb0d1.7e6d1"],["88b34ee0.f3b5f"],["b9cfbbce.8e8558"],["281f78b6.512488"],["99502cfe.b49f4"],["cd11a70f.4538e8"],["afeca03e.dd66"],["5971f477.eb114c"],["4bc13408.03836c"],["2991e206.a0f7be"],["1a5966dc.8ee2e9"],["eb431fdb.68458"],["350f8e98.ca6a82"],["30626d8c.717122"],["22517b4.3a3cb84"],["4beb0b31.f68044"],["a02e289b.9299e8"],["ffa56675.142ed8"],["1d42ddad.024c12"],["bbd85ad5.9e1e98"],["6a07fbbc.0afa34"],["725f6230.d8d08c"],["a2b4a47e.af1fa8"],["bc12a6db.a0e668"],["11c31a47.bac9c6"],["44b2c441.3caddc"],["41fe2ba3.0aae84"],["a361cd28.4b17d"],["766660d3.52119"],["fadfa24f.04ee2"],["1b3eef8d.81105"],["e862826c.37a7d"],["45a2e30e.d9654c"],["7ae7d39e.816e6c"],["3400066f.ab4c2a"],["f14363e1.06331"],["f70c28cd.fb6c78"],["76fd87e2.ddefa8"],["ce163bad.17b7d8"],["2b9888a6.20dab8"],["1e03c810.abdb68"],["c69ab685.625818"],["c082ad9b.6cfc2"],["e8e5ded.93f852"],["e800bc4a.bbd7e"]]},{"id":"786463d3.475bcc","type":"function","z":"a43f3336.67771","name":"Send Current Universe","func":"msg.payload = { \n                dmx: global.get(\"dark_lab_preset\"),\n                offset: 1\n            };\nreturn msg;","outputs":1,"noerr":0,"x":2140,"y":920,"wires":[["33a01fdd.6ced5"]]},{"id":"3db0e537.b36d8a","type":"ui_slider","z":"a43f3336.67771","name":"DMX1","label":"DMX 1","group":"36c03856.566ca8","order":1,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1470,"y":240,"wires":[["a957a721.ef4eb8"]]},{"id":"90757971.60e478","type":"ui_slider","z":"a43f3336.67771","name":"DMX16","label":"DMX 16","group":"36c03856.566ca8","order":16,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":800,"wires":[["36782bd2.66a7c4"]]},{"id":"8153ce57.ab303","type":"ui_slider","z":"a43f3336.67771","name":"DMX15","label":"DMX 15","group":"36c03856.566ca8","order":15,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1481,"y":763,"wires":[["19ef511a.fd144f"]]},{"id":"f9f2bff4.932a5","type":"ui_slider","z":"a43f3336.67771","name":"DMX14","label":"DMX 14","group":"36c03856.566ca8","order":14,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":727,"wires":[["cb799f12.6a2de"]]},{"id":"d9d8a547.550c38","type":"ui_slider","z":"a43f3336.67771","name":"DMX13","label":"DMX 13","group":"36c03856.566ca8","order":13,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1482,"y":690,"wires":[["2e28fb5d.34bab4"]]},{"id":"2e28fb5d.34bab4","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_13","rules":[{"t":"set","p":"dark_lab_preset[12]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1713,"y":696,"wires":[["786463d3.475bcc"]]},{"id":"cb799f12.6a2de","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_14","rules":[{"t":"set","p":"dark_lab_preset[13]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1711,"y":734,"wires":[["786463d3.475bcc"]]},{"id":"19ef511a.fd144f","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_15","rules":[{"t":"set","p":"dark_lab_preset[14]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1714,"y":772,"wires":[["786463d3.475bcc"]]},{"id":"36782bd2.66a7c4","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_16","rules":[{"t":"set","p":"dark_lab_preset[15]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1710,"y":810,"wires":[["786463d3.475bcc"]]},{"id":"1210020e.e61aee","type":"ui_slider","z":"a43f3336.67771","name":"DMX18","label":"DMX 18","group":"207550aa.da467","order":2,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":900,"wires":[["dd22a522.7ed198"]]},{"id":"7556d94f.bcc2b8","type":"ui_slider","z":"a43f3336.67771","name":"DMX28","label":"DMX 28","group":"207550aa.da467","order":12,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1473,"y":1266,"wires":[["3de47e2e.d6ce42"]]},{"id":"abc83f8b.76688","type":"ui_slider","z":"a43f3336.67771","name":"DMX27","label":"DMX 27","group":"207550aa.da467","order":11,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1474,"y":1229,"wires":[["c745122a.cd7a2"]]},{"id":"ce14984e.350f78","type":"ui_slider","z":"a43f3336.67771","name":"DMX26","label":"DMX 26","group":"207550aa.da467","order":10,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1473,"y":1193,"wires":[["a0f4efb8.462fc"]]},{"id":"5ddf2886.b207d8","type":"ui_slider","z":"a43f3336.67771","name":"DMX25","label":"DMX 25","group":"207550aa.da467","order":9,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1475,"y":1156,"wires":[["c29bfad8.85d378"]]},{"id":"661cb857.657a98","type":"ui_slider","z":"a43f3336.67771","name":"DMX24","label":"DMX 24","group":"207550aa.da467","order":8,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1475,"y":1120,"wires":[["c1559e16.b845d"]]},{"id":"d9759e5d.f736f","type":"ui_slider","z":"a43f3336.67771","name":"DMX23","label":"DMX 23","group":"207550aa.da467","order":7,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1474,"y":1083,"wires":[["8dbd4db9.4eb6e"]]},{"id":"677f41e7.548a7","type":"ui_slider","z":"a43f3336.67771","name":"DMX22","label":"DMX 22","group":"207550aa.da467","order":6,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1475,"y":1048,"wires":[["c8007482.ed9348"]]},{"id":"a1e4d9e2.213748","type":"ui_slider","z":"a43f3336.67771","name":"DMX21","label":"DMX 21","group":"207550aa.da467","order":5,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1476,"y":1011,"wires":[["14682e12.4d0ad2"]]},{"id":"fdcc3081.30986","type":"ui_slider","z":"a43f3336.67771","name":"DMX20","label":"DMX 20","group":"207550aa.da467","order":4,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1477,"y":975,"wires":[["7c33bed.764d74"]]},{"id":"a1cd0790.8f7788","type":"ui_slider","z":"a43f3336.67771","name":"DMX19","label":"DMX 19","group":"207550aa.da467","order":3,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1478,"y":937,"wires":[["db9032a5.b018b"]]},{"id":"66f4a77f.4015e8","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_17","rules":[{"t":"set","p":"dark_lab_preset[16]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1716,"y":858,"wires":[["786463d3.475bcc"]]},{"id":"dd22a522.7ed198","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_18","rules":[{"t":"set","p":"dark_lab_preset[17]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1712,"y":900,"wires":[["786463d3.475bcc"]]},{"id":"db9032a5.b018b","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_19","rules":[{"t":"set","p":"dark_lab_preset[18]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1710,"y":938,"wires":[["786463d3.475bcc"]]},{"id":"7c33bed.764d74","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_20","rules":[{"t":"set","p":"dark_lab_preset[19]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1710,"y":975,"wires":[["786463d3.475bcc"]]},{"id":"14682e12.4d0ad2","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_21","rules":[{"t":"set","p":"dark_lab_preset[20]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1708,"y":1013,"wires":[["786463d3.475bcc"]]},{"id":"c8007482.ed9348","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_22","rules":[{"t":"set","p":"dark_lab_preset[21]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1709,"y":1051,"wires":[["786463d3.475bcc"]]},{"id":"8dbd4db9.4eb6e","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_23","rules":[{"t":"set","p":"dark_lab_preset[22]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1707,"y":1089,"wires":[["786463d3.475bcc"]]},{"id":"c1559e16.b845d","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_24","rules":[{"t":"set","p":"dark_lab_preset[23]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1706,"y":1125,"wires":[["786463d3.475bcc"]]},{"id":"c29bfad8.85d378","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_25","rules":[{"t":"set","p":"dark_lab_preset[24]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1706,"y":1162,"wires":[["786463d3.475bcc"]]},{"id":"a0f4efb8.462fc","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_26","rules":[{"t":"set","p":"dark_lab_preset[25]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1704,"y":1200,"wires":[["786463d3.475bcc"]]},{"id":"c745122a.cd7a2","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_27","rules":[{"t":"set","p":"dark_lab_preset[26]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1707,"y":1238,"wires":[["786463d3.475bcc"]]},{"id":"3de47e2e.d6ce42","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_28","rules":[{"t":"set","p":"dark_lab_preset[27]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1703,"y":1276,"wires":[["786463d3.475bcc"]]},{"id":"b05e2e8c.4fdf8","type":"ui_slider","z":"a43f3336.67771","name":"DMX17","label":"DMX 17","group":"207550aa.da467","order":1,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1474,"y":853,"wires":[["66f4a77f.4015e8"]]},{"id":"38a401c.87d6bfe","type":"ui_slider","z":"a43f3336.67771","name":"DMX32","label":"DMX 32","group":"207550aa.da467","order":16,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1474,"y":1413,"wires":[["5846774b.742dc8"]]},{"id":"1ad1e075.d0f96","type":"ui_slider","z":"a43f3336.67771","name":"DMX31","label":"DMX 31","group":"207550aa.da467","order":15,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1475,"y":1376,"wires":[["79654c2b.0e8a54"]]},{"id":"9b61ccfe.ea1fa","type":"ui_slider","z":"a43f3336.67771","name":"DMX 30","label":"DMX 30","group":"207550aa.da467","order":14,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1474,"y":1340,"wires":[["6372e524.8d40cc"]]},{"id":"ef8a80dc.25064","type":"ui_slider","z":"a43f3336.67771","name":"DMX29","label":"DMX 29","group":"207550aa.da467","order":13,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1476,"y":1303,"wires":[["c2eca6e1.a2d198"]]},{"id":"c2eca6e1.a2d198","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_29","rules":[{"t":"set","p":"dark_lab_preset[28]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1707,"y":1309,"wires":[["786463d3.475bcc"]]},{"id":"6372e524.8d40cc","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_30","rules":[{"t":"set","p":"dark_lab_preset[29]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1705,"y":1347,"wires":[["786463d3.475bcc"]]},{"id":"79654c2b.0e8a54","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_31","rules":[{"t":"set","p":"dark_lab_preset[30]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1708,"y":1385,"wires":[["786463d3.475bcc"]]},{"id":"5846774b.742dc8","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_32","rules":[{"t":"set","p":"dark_lab_preset[31]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1704,"y":1423,"wires":[["786463d3.475bcc"]]},{"id":"ac1aefdb.7546b","type":"ui_slider","z":"a43f3336.67771","name":"DMX34","label":"DMX 34","group":"a1f6cd90.fd9db","order":2,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":1520,"wires":[["449c383c.457338"]]},{"id":"4bc13408.03836c","type":"ui_slider","z":"a43f3336.67771","name":"DMX44","label":"DMX 44","group":"a1f6cd90.fd9db","order":12,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1473,"y":1886,"wires":[["640f1f87.e611b"]]},{"id":"5971f477.eb114c","type":"ui_slider","z":"a43f3336.67771","name":"DMX43","label":"DMX 43","group":"a1f6cd90.fd9db","order":11,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1474,"y":1849,"wires":[["7dbd2142.88a28"]]},{"id":"afeca03e.dd66","type":"ui_slider","z":"a43f3336.67771","name":"DMX42","label":"DMX 42","group":"a1f6cd90.fd9db","order":10,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1473,"y":1813,"wires":[["585abdfa.cb2a04"]]},{"id":"cd11a70f.4538e8","type":"ui_slider","z":"a43f3336.67771","name":"DMX41","label":"DMX 41","group":"a1f6cd90.fd9db","order":9,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1475,"y":1776,"wires":[["7e19cd8f.f521d4"]]},{"id":"99502cfe.b49f4","type":"ui_slider","z":"a43f3336.67771","name":"DMX40","label":"DMX 40","group":"a1f6cd90.fd9db","order":8,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1475,"y":1740,"wires":[["244f5723.534118"]]},{"id":"281f78b6.512488","type":"ui_slider","z":"a43f3336.67771","name":"DMX39","label":"DMX 39","group":"a1f6cd90.fd9db","order":7,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1474,"y":1703,"wires":[["ef329e42.d953f"]]},{"id":"b9cfbbce.8e8558","type":"ui_slider","z":"a43f3336.67771","name":"DMX38","label":"DMX 38","group":"a1f6cd90.fd9db","order":6,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1475,"y":1668,"wires":[["586635e2.cb3a5c"]]},{"id":"88b34ee0.f3b5f","type":"ui_slider","z":"a43f3336.67771","name":"DMX37","label":"DMX 37","group":"a1f6cd90.fd9db","order":5,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1476,"y":1631,"wires":[["c60907ed.0bc1b8"]]},{"id":"2c4cb0d1.7e6d1","type":"ui_slider","z":"a43f3336.67771","name":"DMX36","label":"DMX 36","group":"a1f6cd90.fd9db","order":4,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1477,"y":1595,"wires":[["7d5a51e5.b7753"]]},{"id":"1a3e98f1.f3c0b7","type":"ui_slider","z":"a43f3336.67771","name":"DMX35","label":"DMX 35","group":"a1f6cd90.fd9db","order":3,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1478,"y":1557,"wires":[["bb762de1.b5ef"]]},{"id":"7f4248e1.68fdf8","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_33","rules":[{"t":"set","p":"dark_lab_preset[32]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1716,"y":1478,"wires":[["786463d3.475bcc"]]},{"id":"449c383c.457338","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_34","rules":[{"t":"set","p":"dark_lab_preset[33]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1712,"y":1520,"wires":[["786463d3.475bcc"]]},{"id":"bb762de1.b5ef","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_35","rules":[{"t":"set","p":"dark_lab_preset[34]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1710,"y":1558,"wires":[["786463d3.475bcc"]]},{"id":"7d5a51e5.b7753","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_36","rules":[{"t":"set","p":"dark_lab_preset[35]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1710,"y":1595,"wires":[["786463d3.475bcc"]]},{"id":"c60907ed.0bc1b8","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_37","rules":[{"t":"set","p":"dark_lab_preset[36]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1708,"y":1633,"wires":[["786463d3.475bcc"]]},{"id":"586635e2.cb3a5c","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_38","rules":[{"t":"set","p":"dark_lab_preset[37]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1711,"y":1673,"wires":[["786463d3.475bcc"]]},{"id":"ef329e42.d953f","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_39","rules":[{"t":"set","p":"dark_lab_preset[38]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1707,"y":1709,"wires":[["786463d3.475bcc"]]},{"id":"244f5723.534118","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_40","rules":[{"t":"set","p":"dark_lab_preset[39]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1706,"y":1745,"wires":[["786463d3.475bcc"]]},{"id":"7e19cd8f.f521d4","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_41","rules":[{"t":"set","p":"dark_lab_preset[40]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1706,"y":1782,"wires":[["786463d3.475bcc"]]},{"id":"585abdfa.cb2a04","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_42","rules":[{"t":"set","p":"dark_lab_preset[41]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1704,"y":1820,"wires":[["786463d3.475bcc"]]},{"id":"7dbd2142.88a28","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_43","rules":[{"t":"set","p":"dark_lab_preset[42]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1707,"y":1858,"wires":[["786463d3.475bcc"]]},{"id":"640f1f87.e611b","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_44","rules":[{"t":"set","p":"dark_lab_preset[43]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1703,"y":1896,"wires":[["786463d3.475bcc"]]},{"id":"96a033a5.d2c27","type":"ui_slider","z":"a43f3336.67771","name":"DMX33","label":"DMX 33","group":"a1f6cd90.fd9db","order":1,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1474,"y":1473,"wires":[["7f4248e1.68fdf8"]]},{"id":"6a07fbbc.0afa34","type":"ui_slider","z":"a43f3336.67771","name":"DMX56","label":"DMX 56","group":"1aa89355.4d057d","order":8,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":2360,"wires":[["66fa3161.9b74a"]]},{"id":"eb431fdb.68458","type":"ui_slider","z":"a43f3336.67771","name":"DMX47","label":"DMX 47","group":"a1f6cd90.fd9db","order":15,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1475,"y":1996,"wires":[["990845c8.36a838"]]},{"id":"1a5966dc.8ee2e9","type":"ui_slider","z":"a43f3336.67771","name":"DMX46","label":"DMX 46","group":"a1f6cd90.fd9db","order":14,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1474,"y":1960,"wires":[["e351f4bf.faeb68"]]},{"id":"2991e206.a0f7be","type":"ui_slider","z":"a43f3336.67771","name":"DMX45","label":"DMX 45","group":"a1f6cd90.fd9db","order":13,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1476,"y":1923,"wires":[["2bddd63a.baae8a"]]},{"id":"2bddd63a.baae8a","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_45","rules":[{"t":"set","p":"dark_lab_preset[44]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1707,"y":1929,"wires":[["786463d3.475bcc"]]},{"id":"e351f4bf.faeb68","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_46","rules":[{"t":"set","p":"dark_lab_preset[45]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1705,"y":1967,"wires":[["786463d3.475bcc"]]},{"id":"990845c8.36a838","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_47","rules":[{"t":"set","p":"dark_lab_preset[46]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1708,"y":2005,"wires":[["786463d3.475bcc"]]},{"id":"66fa3161.9b74a","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_56","rules":[{"t":"set","p":"dark_lab_preset[55]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2360,"wires":[["786463d3.475bcc"]]},{"id":"45a2e30e.d9654c","type":"ui_slider","z":"a43f3336.67771","name":"DMX68","label":"DMX 68","group":"2c129366.459f3c","order":4,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":2900,"wires":[["502e3b21.c68e34"]]},{"id":"502e3b21.c68e34","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_68","rules":[{"t":"set","p":"dark_lab_preset[67]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2900,"wires":[["786463d3.475bcc"]]},{"id":"3400066f.ab4c2a","type":"ui_slider","z":"a43f3336.67771","name":"DMX70","label":"DMX 70","group":"2c129366.459f3c","order":6,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":2980,"wires":[["243ab086.f8da3"]]},{"id":"243ab086.f8da3","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_70","rules":[{"t":"set","p":"dark_lab_preset[69]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2980,"wires":[["786463d3.475bcc"]]},{"id":"350f8e98.ca6a82","type":"ui_slider","z":"a43f3336.67771","name":"DMX48","label":"DMX 48","group":"a1f6cd90.fd9db","order":16,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":2040,"wires":[["80419823.6984f8"]]},{"id":"80419823.6984f8","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_48","rules":[{"t":"set","p":"dark_lab_preset[47]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2040,"wires":[["786463d3.475bcc"]]},{"id":"7ae7d39e.816e6c","type":"ui_slider","z":"a43f3336.67771","name":"DMX69","label":"DMX 69","group":"2c129366.459f3c","order":5,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":2940,"wires":[["79f96901.2afa68"]]},{"id":"79f96901.2afa68","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_69","rules":[{"t":"set","p":"dark_lab_preset[68]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2940,"wires":[["786463d3.475bcc"]]},{"id":"f14363e1.06331","type":"ui_slider","z":"a43f3336.67771","name":"DMX71","label":"DMX 71","group":"2c129366.459f3c","order":7,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":3020,"wires":[["5b2b53c2.396c0c"]]},{"id":"5b2b53c2.396c0c","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_71","rules":[{"t":"set","p":"dark_lab_preset[70]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":3020,"wires":[["786463d3.475bcc"]]},{"id":"76fd87e2.ddefa8","type":"ui_slider","z":"a43f3336.67771","name":"DMX73","label":"DMX 73","group":"2c129366.459f3c","order":9,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":3100,"wires":[["cfaa8e97.0c93f"]]},{"id":"cfaa8e97.0c93f","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_73","rules":[{"t":"set","p":"dark_lab_preset[72]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":3100,"wires":[["786463d3.475bcc"]]},{"id":"f70c28cd.fb6c78","type":"ui_slider","z":"a43f3336.67771","name":"DMX72","label":"DMX 72","group":"2c129366.459f3c","order":8,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":3060,"wires":[["f01ccdab.34a1b"]]},{"id":"f01ccdab.34a1b","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_72","rules":[{"t":"set","p":"dark_lab_preset[71]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":3060,"wires":[["786463d3.475bcc"]]},{"id":"ce163bad.17b7d8","type":"ui_slider","z":"a43f3336.67771","name":"DMX74","label":"DMX 74","group":"2c129366.459f3c","order":10,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":3140,"wires":[["ea2e9832.ad2d88"]]},{"id":"ea2e9832.ad2d88","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_74","rules":[{"t":"set","p":"dark_lab_preset[73]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":3140,"wires":[["786463d3.475bcc"]]},{"id":"1e03c810.abdb68","type":"ui_slider","z":"a43f3336.67771","name":"DMX76","label":"DMX 76","group":"2c129366.459f3c","order":12,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":3220,"wires":[["79439883.53f438"]]},{"id":"79439883.53f438","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_76","rules":[{"t":"set","p":"dark_lab_preset[75]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":3220,"wires":[["786463d3.475bcc"]]},{"id":"2b9888a6.20dab8","type":"ui_slider","z":"a43f3336.67771","name":"DMX75","label":"DMX 75","group":"2c129366.459f3c","order":11,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":3180,"wires":[["281af72e.590718"]]},{"id":"281af72e.590718","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_75","rules":[{"t":"set","p":"dark_lab_preset[74]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":3180,"wires":[["786463d3.475bcc"]]},{"id":"c69ab685.625818","type":"ui_slider","z":"a43f3336.67771","name":"DMX77","label":"DMX 77","group":"2c129366.459f3c","order":13,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":3260,"wires":[["cbae9d9e.f3c5"]]},{"id":"cbae9d9e.f3c5","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_77","rules":[{"t":"set","p":"dark_lab_preset[76]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":3260,"wires":[["786463d3.475bcc"]]},{"id":"e8e5ded.93f852","type":"ui_slider","z":"a43f3336.67771","name":"DMX79","label":"DMX 79","group":"2c129366.459f3c","order":15,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":3340,"wires":[["64b075bc.05f8fc"]]},{"id":"64b075bc.05f8fc","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_79","rules":[{"t":"set","p":"dark_lab_preset[78]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":3340,"wires":[["786463d3.475bcc"]]},{"id":"c082ad9b.6cfc2","type":"ui_slider","z":"a43f3336.67771","name":"DMX78","label":"DMX 78","group":"2c129366.459f3c","order":14,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":3300,"wires":[["c4169d32.37723"]]},{"id":"c4169d32.37723","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_78","rules":[{"t":"set","p":"dark_lab_preset[77]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":3300,"wires":[["786463d3.475bcc"]]},{"id":"e800bc4a.bbd7e","type":"ui_slider","z":"a43f3336.67771","name":"DMX80","label":"DMX 80","group":"2c129366.459f3c","order":16,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":3380,"wires":[["3b67b7fb.f60318"]]},{"id":"3b67b7fb.f60318","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_80","rules":[{"t":"set","p":"dark_lab_preset[79]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":3380,"wires":[["786463d3.475bcc"]]},{"id":"bbd85ad5.9e1e98","type":"ui_slider","z":"a43f3336.67771","name":"DMX55","label":"DMX 55","group":"1aa89355.4d057d","order":7,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":2320,"wires":[["f17ad0d7.7606f"]]},{"id":"f17ad0d7.7606f","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_55","rules":[{"t":"set","p":"dark_lab_preset[54]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2320,"wires":[["786463d3.475bcc"]]},{"id":"1d42ddad.024c12","type":"ui_slider","z":"a43f3336.67771","name":"DMX54","label":"DMX 54","group":"1aa89355.4d057d","order":6,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":2280,"wires":[["5b87161c.ac57e8"]]},{"id":"5b87161c.ac57e8","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_54","rules":[{"t":"set","p":"dark_lab_preset[53]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2280,"wires":[["786463d3.475bcc"]]},{"id":"ffa56675.142ed8","type":"ui_slider","z":"a43f3336.67771","name":"DMX53","label":"DMX 53","group":"1aa89355.4d057d","order":5,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":2240,"wires":[["5950648f.3f413c"]]},{"id":"5950648f.3f413c","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_53","rules":[{"t":"set","p":"dark_lab_preset[52]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2240,"wires":[["786463d3.475bcc"]]},{"id":"a02e289b.9299e8","type":"ui_slider","z":"a43f3336.67771","name":"DMX52","label":"DMX 52","group":"1aa89355.4d057d","order":4,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":2200,"wires":[["778487a8.bc0118"]]},{"id":"778487a8.bc0118","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_52","rules":[{"t":"set","p":"dark_lab_preset[51]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2200,"wires":[["786463d3.475bcc"]]},{"id":"4beb0b31.f68044","type":"ui_slider","z":"a43f3336.67771","name":"DMX51","label":"DMX 51","group":"1aa89355.4d057d","order":3,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":2160,"wires":[["1f9b55b2.b848aa"]]},{"id":"1f9b55b2.b848aa","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_51","rules":[{"t":"set","p":"dark_lab_preset[50]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2160,"wires":[["786463d3.475bcc"]]},{"id":"22517b4.3a3cb84","type":"ui_slider","z":"a43f3336.67771","name":"DMX50","label":"DMX 50","group":"1aa89355.4d057d","order":2,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":2120,"wires":[["f5df3368.12664"]]},{"id":"f5df3368.12664","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_50","rules":[{"t":"set","p":"dark_lab_preset[49]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2120,"wires":[["786463d3.475bcc"]]},{"id":"30626d8c.717122","type":"ui_slider","z":"a43f3336.67771","name":"DMX49","label":"DMX 49","group":"1aa89355.4d057d","order":1,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":2080,"wires":[["bbcda6ef.bf04f8"]]},{"id":"bbcda6ef.bf04f8","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_49","rules":[{"t":"set","p":"dark_lab_preset[48]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2080,"wires":[["786463d3.475bcc"]]},{"id":"725f6230.d8d08c","type":"ui_slider","z":"a43f3336.67771","name":"DMX57","label":"DMX 57","group":"1aa89355.4d057d","order":9,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1500,"y":2460,"wires":[["56a3e8c0.e9c718"]]},{"id":"56a3e8c0.e9c718","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_57","rules":[{"t":"set","p":"dark_lab_preset[56]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2440,"wires":[["786463d3.475bcc"]]},{"id":"a2b4a47e.af1fa8","type":"ui_slider","z":"a43f3336.67771","name":"DMX58","label":"DMX 58","group":"1aa89355.4d057d","order":10,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":2500,"wires":[["ee9fd12e.737b3"]]},{"id":"ee9fd12e.737b3","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_58","rules":[{"t":"set","p":"dark_lab_preset[57]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2500,"wires":[["786463d3.475bcc"]]},{"id":"bc12a6db.a0e668","type":"ui_slider","z":"a43f3336.67771","name":"DMX59","label":"DMX 59","group":"1aa89355.4d057d","order":11,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1500,"y":2540,"wires":[["fb1eca9c.aab3c8"]]},{"id":"fb1eca9c.aab3c8","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_59","rules":[{"t":"set","p":"dark_lab_preset[58]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1720,"y":2540,"wires":[["786463d3.475bcc"]]},{"id":"11c31a47.bac9c6","type":"ui_slider","z":"a43f3336.67771","name":"DMX60","label":"DMX 60","group":"1aa89355.4d057d","order":12,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":2580,"wires":[["7d9680d0.5ac02"]]},{"id":"7d9680d0.5ac02","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_60","rules":[{"t":"set","p":"dark_lab_preset[59]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2580,"wires":[["786463d3.475bcc"]]},{"id":"44b2c441.3caddc","type":"ui_slider","z":"a43f3336.67771","name":"DMX61","label":"DMX 61","group":"1aa89355.4d057d","order":13,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":2620,"wires":[["60368b25.200d84"]]},{"id":"60368b25.200d84","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_61","rules":[{"t":"set","p":"dark_lab_preset[60]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2620,"wires":[["786463d3.475bcc"]]},{"id":"41fe2ba3.0aae84","type":"ui_slider","z":"a43f3336.67771","name":"DMX62","label":"DMX 62","group":"1aa89355.4d057d","order":14,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":2660,"wires":[["4ee5b51b.48f3ec"]]},{"id":"4ee5b51b.48f3ec","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_59","rules":[{"t":"set","p":"dark_lab_preset[58]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2660,"wires":[["786463d3.475bcc"]]},{"id":"a361cd28.4b17d","type":"ui_slider","z":"a43f3336.67771","name":"DMX63","label":"DMX 63","group":"1aa89355.4d057d","order":15,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1460,"y":2700,"wires":[["86ba659f.710f78"]]},{"id":"86ba659f.710f78","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_63","rules":[{"t":"set","p":"dark_lab_preset[62]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1680,"y":2700,"wires":[["786463d3.475bcc"]]},{"id":"766660d3.52119","type":"ui_slider","z":"a43f3336.67771","name":"DMX64","label":"DMX 64","group":"1aa89355.4d057d","order":16,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1460,"y":2740,"wires":[["35aecf77.1165e"]]},{"id":"35aecf77.1165e","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_64","rules":[{"t":"set","p":"dark_lab_preset[63]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1680,"y":2740,"wires":[["786463d3.475bcc"]]},{"id":"fadfa24f.04ee2","type":"ui_slider","z":"a43f3336.67771","name":"DMX65","label":"DMX 65","group":"2c129366.459f3c","order":1,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":2780,"wires":[["b32435d8.eaa3c8"]]},{"id":"b32435d8.eaa3c8","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_65","rules":[{"t":"set","p":"dark_lab_preset[64]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2780,"wires":[["786463d3.475bcc"]]},{"id":"e862826c.37a7d","type":"ui_slider","z":"a43f3336.67771","name":"DMX67","label":"DMX 67","group":"2c129366.459f3c","order":3,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":2860,"wires":[["56d8e7c4.b4a1e8"]]},{"id":"56d8e7c4.b4a1e8","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_67","rules":[{"t":"set","p":"dark_lab_preset[66]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2860,"wires":[["786463d3.475bcc"]]},{"id":"1b3eef8d.81105","type":"ui_slider","z":"a43f3336.67771","name":"DMX66","label":"DMX 66","group":"2c129366.459f3c","order":2,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":2820,"wires":[["7d3a106f.2d4eb"]]},{"id":"7d3a106f.2d4eb","type":"change","z":"a43f3336.67771","name":"save to Global dark_lab_preset_66","rules":[{"t":"set","p":"dark_lab_preset[65]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2820,"wires":[["786463d3.475bcc"]]},{"id":"c086d338.ae922","type":"ui_button","z":"a43f3336.67771","name":"Load Presets","group":"342ff814.062d08","order":5,"width":0,"height":0,"passthru":false,"label":"Load Presets","color":"white","bgcolor":"purple","icon":"","payload":"","payloadType":"date","topic":"","x":110,"y":300,"wires":[["789b9837.fdfc98"]]},{"id":"df7ad8cd.6b9468","type":"function","z":"a43f3336.67771","name":"trigger grid preset","func":"var dark_lab_preset = flow.get(\"dark_lab_db_preset\");\nfor(var i = 0;i<dark_lab_preset.length; i++){\n    var temp_preset = dark_lab_preset[i];\n    if (temp_preset.topic==msg.payload){\n        msg.payload = { payload: temp_preset.payload };\n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":440,"wires":[["d2e69154.b993"]]},{"id":"33a01fdd.6ced5","type":"debug","z":"a43f3336.67771","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2320,"y":800,"wires":[]},{"id":"40f81bde.757454","type":"debug","z":"a43f3336.67771","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1020,"y":380,"wires":[]},{"id":"2fe3b9c7.30d626","type":"mongodb2","z":"","uri":"mongodb://127.0.0.1:27017/cinebrain","name":"cinebrain db","options":"","parallelism":"-1"},{"id":"342ff814.062d08","type":"ui_group","z":"","name":"PRESETS","tab":"5a010694.1da7f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"36c03856.566ca8","type":"ui_group","z":"","name":"DMX 1-16","tab":"5a010694.1da7f8","order":2,"disp":true,"width":"6","collapse":false},{"id":"207550aa.da467","type":"ui_group","z":"","name":"DMX 17-32","tab":"5a010694.1da7f8","order":3,"disp":true,"width":"6","collapse":false},{"id":"a1f6cd90.fd9db","type":"ui_group","z":"","name":"DMX 33-48","tab":"5a010694.1da7f8","order":4,"disp":true,"width":"6","collapse":false},{"id":"1aa89355.4d057d","type":"ui_group","z":"","name":"DMX 49-64","tab":"5a010694.1da7f8","order":5,"disp":true,"width":"6","collapse":false},{"id":"2c129366.459f3c","type":"ui_group","z":"","name":"DMX 65-80","tab":"5a010694.1da7f8","order":6,"disp":true,"width":"6","collapse":false},{"id":"5a010694.1da7f8","type":"ui_tab","z":"","name":"DIMMERS","icon":"dashboard","order":3},{"id":"8498ce88.7c895","type":"subflow","name":"Subflow 3","info":"","category":"","in":[{"x":300,"y":280,"wires":[{"id":"cf6e9d4b.820f7"}]}],"out":[{"x":2120,"y":340,"wires":[{"id":"7182e03a.09c3d","port":0}]}]},{"id":"7182e03a.09c3d","type":"function","z":"8498ce88.7c895","name":"Send Current Universe","func":"msg.payload = { \n                dmx:flow.get(\"adj_pinspot_preset\"),\n                offset: 399\n            };\nreturn msg;","outputs":1,"noerr":0,"x":1940,"y":340,"wires":[[]]},{"id":"beadbd05.50b0d","type":"ui_slider","z":"8498ce88.7c895","name":"DMX5 DIMMER","label":"","group":"8d4a4d29.2e749","order":2,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1140,"y":440,"wires":[["9b0e0ed3.3bfef"]]},{"id":"cd515f03.7096c","type":"ui_slider","z":"8498ce88.7c895","name":"DMX6 STROBE SPEED","label":"","group":"8d4a4d29.2e749","order":13,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"239","step":"1","x":710,"y":520,"wires":[["428fa60e.d78368"]]},{"id":"4ec3cb7a.8ed854","type":"change","z":"8498ce88.7c895","name":"save to Flow DMX1","rules":[{"t":"set","p":"adj_pinspot_preset[0]","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":280,"wires":[["7182e03a.09c3d"]]},{"id":"9219891c.bb8d58","type":"change","z":"8498ce88.7c895","name":"save to Flow DMX2","rules":[{"t":"set","p":"adj_pinspot_preset[1]","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":320,"wires":[["7182e03a.09c3d"]]},{"id":"c7aa532b.ef62","type":"change","z":"8498ce88.7c895","name":"save to Flow DMX3","rules":[{"t":"set","p":"adj_pinspot_preset[2]","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":360,"wires":[["7182e03a.09c3d"]]},{"id":"96085cbd.fa4f3","type":"change","z":"8498ce88.7c895","name":"save to Flow DMX4","rules":[{"t":"set","p":"adj_pinspot_preset[3]","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":400,"wires":[["7182e03a.09c3d"]]},{"id":"a9a1c7b1.540388","type":"change","z":"8498ce88.7c895","name":"save to Flow DMX6","rules":[{"t":"set","p":"adj_pinspot_preset[5]","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":480,"wires":[["7182e03a.09c3d"]]},{"id":"af371337.3d06d","type":"change","z":"8498ce88.7c895","name":"save to Flow DMX5","rules":[{"t":"set","p":"adj_pinspot_preset[4]","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":440,"wires":[["7182e03a.09c3d"]]},{"id":"a53ef33b.b82cc","type":"function","z":"8498ce88.7c895","name":"Just get preset","func":"flow.set(\"adj_pinspot_preset\", msg.payload.payload);\n\nvar preset = [];\nvar m = [];\npreset = flow.get(\"adj_pinspot_preset\");\n\n\nfor (var i=0;i<6;i++)\n{\n    m[i] = { payload: preset[i] };\n}\nreturn m;\n","outputs":6,"noerr":0,"x":800,"y":240,"wires":[["daa9368d.892368"],["db4b796.ec52988"],["5cf9736c.26145c"],["bc9f6efb.12d87"],["beadbd05.50b0d"],[]]},{"id":"10a0342b.13c1bc","type":"function","z":"8498ce88.7c895","name":"insert preset","func":"var preset = [];\npreset = flow.get(\"adj_pinspot_preset\");\nvar newMsg = {};\nnewMsg.collection = 'adj_pinspot_preset';\nnewMsg.payload = [\n  {topic: msg.payload},\n  {\n    \"$set\": {\n      \"payload\": preset\n    }\n  },\n  {upsert:true}\n];\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":398,"y":61,"wires":[["4ec501ad.293a"]]},{"id":"4ec501ad.293a","type":"mongodb2 in","z":"8498ce88.7c895","service":"_ext_","configNode":"de3380a2.fc70d","name":"Store Data into MongoDB","collection":"adj_pinspot_presets","operation":"findOneAndUpdate","x":609,"y":62,"wires":[["d6fed4c5.708058"]]},{"id":"81fce37b.2f0b5","type":"mongodb2 in","z":"8498ce88.7c895","service":"_ext_","configNode":"de3380a2.fc70d","name":"Mongo DB dynamic operation","collection":"adj_pinspot_presets","operation":"","x":519,"y":182,"wires":[["4909197f.50da08"]]},{"id":"d6fed4c5.708058","type":"function","z":"8498ce88.7c895","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":285,"y":179,"wires":[["81fce37b.2f0b5"]]},{"id":"e0ea19a1.d98ef8","type":"ui_dropdown","z":"8498ce88.7c895","name":"ADJ Pinspot Pulldown","label":"Recall","place":"Select option","group":"a061a86.3c88658","order":2,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1120,"y":40,"wires":[["a53ef33b.b82cc","f1633550.03eee8"]]},{"id":"4909197f.50da08","type":"function","z":"8498ce88.7c895","name":"Format Preset Pulldown","func":"flow.set(\"adj_pinspot_db_preset\", msg.payload);\nvar msg_array = [];\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic != undefined){\n        tmp_object[msg_object.topic] = {\"topic\": msg_object.topic, \"payload\": msg_object.payload};\n        msg_array[i] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":40,"wires":[["e0ea19a1.d98ef8"]]},{"id":"c5892dad.de669","type":"inject","z":"8498ce88.7c895","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":180,"wires":[["d6fed4c5.708058"]]},{"id":"47550075.2bd5b","type":"ui_text_input","z":"8498ce88.7c895","name":"","label":"Edit Preset Name","group":"a061a86.3c88658","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"","x":1523,"y":37,"wires":[["bfc8bf6c.d80ae"]]},{"id":"48fd9677.4fb028","type":"ui_button","z":"8498ce88.7c895","name":"Save","group":"a061a86.3c88658","order":5,"width":0,"height":0,"passthru":false,"label":"Save Preset","color":"#FFF","bgcolor":"#FF0000","icon":"","payload":"","payloadType":"date","topic":"","x":70,"y":60,"wires":[["a8892891.fadbb8"]]},{"id":"bfc8bf6c.d80ae","type":"function","z":"8498ce88.7c895","name":"set global preset name","func":"flow.set(\"adj_pinspot_preset_name\", msg.payload);","outputs":1,"noerr":0,"x":1755,"y":40,"wires":[[]]},{"id":"a8892891.fadbb8","type":"function","z":"8498ce88.7c895","name":"save preset","func":"msg.payload = flow.get(\"adj_pinspot_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":60,"wires":[["10a0342b.13c1bc"]]},{"id":"f1633550.03eee8","type":"function","z":"8498ce88.7c895","name":"get preset name","func":"msg.payload = msg.payload.topic;\nreturn msg;","outputs":1,"noerr":0,"x":1328,"y":38.5,"wires":[["47550075.2bd5b"]]},{"id":"a06b5991.7dcf68","type":"ui_text","z":"8498ce88.7c895","group":"a061a86.3c88658","order":4,"width":0,"height":0,"name":"","label":"SAVE PRESET","format":"{{msg.payload}}","layout":"row-left","x":100,"y":300,"wires":[]},{"id":"99682619.389ba8","type":"ui_text","z":"8498ce88.7c895","group":"a061a86.3c88658","order":1,"width":0,"height":0,"name":"","label":"RECALL PRESET","format":"{{msg.payload}}","layout":"row-left","x":110,"y":240,"wires":[]},{"id":"d311adce.b240d","type":"function","z":"8498ce88.7c895","name":"delete preset","func":"var newMsg = {};\nnewMsg.operation  = 'deleteOne';\nnewMsg.payload    = {'topic' : msg.payload};\nreturn newMsg;","outputs":1,"noerr":0,"x":399,"y":120,"wires":[["a3b82e9b.3ef8d"]]},{"id":"a3b82e9b.3ef8d","type":"mongodb2 in","z":"8498ce88.7c895","service":"_ext_","configNode":"de3380a2.fc70d","name":"Store Data into MongoDB","collection":"adj_pinspot_presets","operation":"","x":610,"y":121,"wires":[["d6fed4c5.708058"]]},{"id":"891e6570.a75c48","type":"ui_button","z":"8498ce88.7c895","name":"Delete","group":"a061a86.3c88658","order":6,"width":0,"height":0,"passthru":false,"label":"Delete Preset","color":"#FFF","bgcolor":"#FF00FF","icon":"","payload":"","payloadType":"date","topic":"","x":70,"y":120,"wires":[["8076fac0.8385b8"]]},{"id":"8076fac0.8385b8","type":"function","z":"8498ce88.7c895","name":"delete preset","func":"msg.payload = flow.get(\"adj_pinspot_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":231,"y":119,"wires":[["d311adce.b240d"]]},{"id":"83fa9ad3.a5e5a8","type":"ui_numeric","z":"8498ce88.7c895","name":"","label":"Strobe Values","group":"8d4a4d29.2e749","order":11,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1320,"y":480,"wires":[["a9a1c7b1.540388"]]},{"id":"9b0e0ed3.3bfef","type":"ui_numeric","z":"8498ce88.7c895","name":"DMX 5 Dimmer (0-100%)","label":"Dimmer (0-100%)","group":"8d4a4d29.2e749","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1350,"y":440,"wires":[["af371337.3d06d"]]},{"id":"daa9368d.892368","type":"ui_slider","z":"8498ce88.7c895","name":"DMX1 RED","label":"","group":"8d4a4d29.2e749","order":4,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1130,"y":280,"wires":[["306dcf61.1e574"]]},{"id":"306dcf61.1e574","type":"ui_numeric","z":"8498ce88.7c895","name":"DMX 1: RED","label":"RED","group":"8d4a4d29.2e749","order":3,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1310,"y":280,"wires":[["4ec3cb7a.8ed854"]]},{"id":"6a31460.e837cbc","type":"ui_switch","z":"8498ce88.7c895","name":"","label":"Strobe ON/OFF & SPEED","group":"8d4a4d29.2e749","order":12,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"8","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":710,"y":480,"wires":[["50613064.f1727"]]},{"id":"50613064.f1727","type":"function","z":"8498ce88.7c895","name":"save flow offset","func":"flow.set(\"strobe_offset\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":480,"wires":[["f7dd03fd.d4df3"]]},{"id":"428fa60e.d78368","type":"function","z":"8498ce88.7c895","name":"save flow offset","func":"flow.set(\"strobe_speed\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":520,"wires":[["f7dd03fd.d4df3"]]},{"id":"f7dd03fd.d4df3","type":"function","z":"8498ce88.7c895","name":"strobe speed + offset","func":"var offset = flow.get(\"strobe_offset\");\nvar sound_strobe = flow.get(\"sound_strobe_flag\");\nif(offset==null){offset=0;}\nif(offset!==0){\n    if (sound_strobe !==0 ) {\n        msg.payload = sound_strobe;\n    }\n    else {\n        var strobe_speed = flow.get(\"strobe_speed\");\n        msg.payload = offset + strobe_speed;\n    }\n}\nelse {\n    msg.payload = 0;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":1120,"y":480,"wires":[["83fa9ad3.a5e5a8"]]},{"id":"db4b796.ec52988","type":"ui_slider","z":"8498ce88.7c895","name":"DMX2 GREEN","label":"","group":"8d4a4d29.2e749","order":6,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1140,"y":320,"wires":[["d57e227.87b61e"]]},{"id":"d57e227.87b61e","type":"ui_numeric","z":"8498ce88.7c895","name":"DMX 2: GREEN","label":"GREEN","group":"8d4a4d29.2e749","order":5,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1320,"y":320,"wires":[["9219891c.bb8d58"]]},{"id":"5cf9736c.26145c","type":"ui_slider","z":"8498ce88.7c895","name":"DMX3 BLUE","label":"","group":"8d4a4d29.2e749","order":8,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1130,"y":360,"wires":[["9b3e1890.883918"]]},{"id":"9b3e1890.883918","type":"ui_numeric","z":"8498ce88.7c895","name":"DMX 3: BLUE","label":"BLUE","group":"8d4a4d29.2e749","order":7,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1320,"y":360,"wires":[["c7aa532b.ef62"]]},{"id":"bc9f6efb.12d87","type":"ui_slider","z":"8498ce88.7c895","name":"DMX4 WHITE","label":"","group":"8d4a4d29.2e749","order":10,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1140,"y":400,"wires":[["ad7f4b15.03e798"]]},{"id":"ad7f4b15.03e798","type":"ui_numeric","z":"8498ce88.7c895","name":"DMX 4: WHITE","label":"WHITE","group":"8d4a4d29.2e749","order":9,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1320,"y":400,"wires":[["96085cbd.fa4f3"]]},{"id":"e189401e.a3cbc","type":"ui_switch","z":"8498ce88.7c895","name":"","label":"Sound Activated Strobe ON/OFF","group":"8d4a4d29.2e749","order":14,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"248","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":680,"y":560,"wires":[["32593612.7caf0a"]]},{"id":"32593612.7caf0a","type":"function","z":"8498ce88.7c895","name":"save flow offset","func":"flow.set(\"sound_strobe_flag\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":560,"wires":[["f7dd03fd.d4df3"]]},{"id":"cf6e9d4b.820f7","type":"function","z":"8498ce88.7c895","name":"trigger pitch preset","func":"var adj_pinspot_preset = flow.get(\"adj_pinspot_db_preset\");\nfor(var i = 0;i<adj_pinspot_preset.length; i++){\n    var temp_preset = adj_pinspot_preset[i];\n    if (temp_preset.topic==msg.payload){\n        msg.payload = { payload: temp_preset.payload };\n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":280,"wires":[["a53ef33b.b82cc"]]},{"id":"591d877d.ffdbc8","type":"ui_button","z":"8498ce88.7c895","name":"Load Presets","group":"a061a86.3c88658","order":5,"width":0,"height":0,"passthru":false,"label":"Load Presets","color":"white","bgcolor":"purple","icon":"","payload":"","payloadType":"date","topic":"","x":90,"y":360,"wires":[["d6fed4c5.708058"]]},{"id":"8d4a4d29.2e749","type":"ui_group","z":"","name":"SLIDERS","tab":"6d317060.c8483","order":2,"disp":true,"width":"6","collapse":false},{"id":"a061a86.3c88658","type":"ui_group","z":"","name":"PRESETS","tab":"6d317060.c8483","order":1,"disp":true,"width":"6","collapse":false},{"id":"6d317060.c8483","type":"ui_tab","z":"","name":"DMX ADJ Pinspot","icon":"dashboard","order":5},{"id":"be60980c.7dc628","type":"subflow","name":"Subflow 2","info":"","category":"","in":[{"x":460,"y":320,"wires":[{"id":"a70fea61.458058"}]}],"out":[{"x":2100,"y":480,"wires":[{"id":"e48fc5f0.8e1038","port":0}]}]},{"id":"47084fc.cc37eb","type":"ui_slider","z":"be60980c.7dc628","name":"DMX2 FINE PAN","label":"","group":"e0068ecd.6a73b","order":9,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1150,"y":380,"wires":[["c29dcb13.898d48"]]},{"id":"4a2277b.21c8f88","type":"ui_slider","z":"be60980c.7dc628","name":"DMX11 SHUTTER","label":"","group":"e0068ecd.6a73b","order":15,"width":0,"height":0,"passthru":true,"topic":"Slider","min":"7","max":"215","step":1,"x":1150,"y":220,"wires":[["c9830809.1ca908"]]},{"id":"43ac6f91.d7463","type":"ui_slider","z":"be60980c.7dc628","name":"DMX10 DIMMER","label":"","group":"e0068ecd.6a73b","order":3,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1150,"y":260,"wires":[["34c5ae46.63f572"]]},{"id":"a725e14c.a255","type":"ui_slider","z":"be60980c.7dc628","name":"DMX6 COLOR WHEEL SPEED","label":"","group":"f0f538ff.c44cd8","order":3,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"63","step":"1","x":670,"y":800,"wires":[["1c22958d.41033a"]]},{"id":"d099fca0.0d426","type":"ui_slider","z":"be60980c.7dc628","name":"DMX5 SPEED","label":"","group":"e0068ecd.6a73b","order":13,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1140,"y":460,"wires":[["5096d3a9.8bf07c"]]},{"id":"7892bb2a.579cc4","type":"ui_slider","z":"be60980c.7dc628","name":"DMX4 FINE TILT","label":"","group":"e0068ecd.6a73b","order":11,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1150,"y":420,"wires":[["56fda449.8355dc"]]},{"id":"18d09330.65c75d","type":"ui_slider","z":"be60980c.7dc628","name":"DMX3 TILT","label":"","group":"e0068ecd.6a73b","order":7,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1130,"y":340,"wires":[["b6ef4556.3e2cc8"]]},{"id":"ce53ec24.ff14b","type":"change","z":"be60980c.7dc628","name":"save to Global DMX1","rules":[{"t":"set","p":"chauvet_255_preset[0]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":300,"wires":[["e48fc5f0.8e1038"]]},{"id":"4e7949d2.9b1f08","type":"change","z":"be60980c.7dc628","name":"save to Global DMX2","rules":[{"t":"set","p":"chauvet_255_preset[1]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":380,"wires":[["e48fc5f0.8e1038"]]},{"id":"2b92f9f7.496056","type":"change","z":"be60980c.7dc628","name":"save to Global DMX3","rules":[{"t":"set","p":"chauvet_255_preset[2]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":340,"wires":[["e48fc5f0.8e1038"]]},{"id":"a8acd19c.36b79","type":"change","z":"be60980c.7dc628","name":"save to Global DMX4","rules":[{"t":"set","p":"chauvet_255_preset[3]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":420,"wires":[["e48fc5f0.8e1038"]]},{"id":"fa7d10f5.871c4","type":"change","z":"be60980c.7dc628","name":"save to Global DMX5","rules":[{"t":"set","p":"chauvet_255_preset[4]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":460,"wires":[["e48fc5f0.8e1038"]]},{"id":"d4e79ef7.e36fe","type":"change","z":"be60980c.7dc628","name":"save to Global DMX6","rules":[{"t":"set","p":"chauvet_255_preset[5]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":780,"wires":[["e48fc5f0.8e1038"]]},{"id":"cc1b5bec.edd638","type":"change","z":"be60980c.7dc628","name":"save to Global DMX7","rules":[{"t":"set","p":"chauvet_255_preset[6]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":540,"wires":[["e48fc5f0.8e1038"]]},{"id":"84a74125.f8a17","type":"change","z":"be60980c.7dc628","name":"save to Global DMX8","rules":[{"t":"set","p":"chauvet_255_preset[7]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":580,"wires":[["e48fc5f0.8e1038"]]},{"id":"a372dad1.cdb5c8","type":"change","z":"be60980c.7dc628","name":"save to Global DMX9","rules":[{"t":"set","p":"chauvet_255_preset[8]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":500,"wires":[["e48fc5f0.8e1038"]]},{"id":"492e159a.b7e08c","type":"change","z":"be60980c.7dc628","name":"save to Global DMX10","rules":[{"t":"set","p":"chauvet_255_preset[9]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":260,"wires":[["e48fc5f0.8e1038"]]},{"id":"c578f9c1.943d38","type":"change","z":"be60980c.7dc628","name":"save to Global DMX11","rules":[{"t":"set","p":"chauvet_255_preset[10]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":220,"wires":[["e48fc5f0.8e1038"]]},{"id":"e2024643.b6a248","type":"function","z":"be60980c.7dc628","name":"Just get preset","func":"global.set(\"chauvet_255_preset\", msg.payload.payload);\n\nvar preset = [];\nvar m = [];\npreset = global.get(\"chauvet_255_preset\");\n\n\nfor (var i=0;i<13;i++)\n{\n    m[i] = { payload: preset[i] };\n}\nreturn m;\n","outputs":13,"noerr":0,"x":901,"y":368,"wires":[["ff65aa39.b83e38"],["47084fc.cc37eb"],["18d09330.65c75d"],["7892bb2a.579cc4"],["d099fca0.0d426"],["67e5f0e4.a0f3"],["45441e8e.a481f"],["da46e41d.d025e8"],["55edf6d4.d7a518"],["43ac6f91.d7463"],["4a2277b.21c8f88"],[],[]]},{"id":"6d61fee1.d48a7","type":"function","z":"be60980c.7dc628","name":"insert preset","func":"var preset = [];\npreset = global.get(\"chauvet_255_preset\");\nvar newMsg = {};\nnewMsg.collection = 'chauvet_255_presets';\nnewMsg.payload = [\n  {topic: msg.payload},\n  {\n    \"$set\": {\n      \"payload\": preset\n    }\n  },\n  {upsert:true}\n];\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":398,"y":81,"wires":[["d9b7b79e.1c8d78"]]},{"id":"d9b7b79e.1c8d78","type":"mongodb2 in","z":"be60980c.7dc628","service":"_ext_","configNode":"de3380a2.fc70d","name":"Store Data into MongoDB","collection":"chauvet_255_presets","operation":"findOneAndUpdate","x":609,"y":82,"wires":[["412d3fc5.39058"]]},{"id":"fa3a9150.b4891","type":"mongodb2 in","z":"be60980c.7dc628","service":"_ext_","configNode":"de3380a2.fc70d","name":"Mongo DB dynamic operation","collection":"chauvet_255_presets","operation":"","x":519,"y":202,"wires":[["64fe75b2.f3fe1c"]]},{"id":"412d3fc5.39058","type":"function","z":"be60980c.7dc628","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":285,"y":199,"wires":[["fa3a9150.b4891"]]},{"id":"7e8fec96.d50cb4","type":"ui_dropdown","z":"be60980c.7dc628","name":"Recall Pulldown","label":"Recall","place":"Select option","group":"37527071.b6de2","order":2,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1140,"y":60,"wires":[["e2024643.b6a248","c8396e13.db9b5"]]},{"id":"64fe75b2.f3fe1c","type":"function","z":"be60980c.7dc628","name":"Format Preset Pulldown","func":"flow.set(\"chauvet_255_db_preset\", msg.payload);\nvar msg_array = [];\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic != undefined){\n        tmp_object[msg_object.topic] = {\"topic\": msg_object.topic, \"payload\": msg_object.payload};\n        msg_array[i] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":60,"wires":[["7e8fec96.d50cb4"]]},{"id":"af070e92.aac6d","type":"inject","z":"be60980c.7dc628","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":136,"y":197.5,"wires":[["412d3fc5.39058"]]},{"id":"a34c8856.1baa68","type":"ui_text_input","z":"be60980c.7dc628","name":"","label":"Edit Preset Name","group":"37527071.b6de2","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"","x":1523,"y":57,"wires":[["bdf95d96.9d2a9"]]},{"id":"4b8740ce.f650a","type":"ui_button","z":"be60980c.7dc628","name":"Save","group":"37527071.b6de2","order":5,"width":0,"height":0,"passthru":false,"label":"Save Preset","color":"#FFF","bgcolor":"#FF0000","icon":"","payload":"","payloadType":"date","topic":"","x":78,"y":79.5,"wires":[["5ace110f.51838"]]},{"id":"bdf95d96.9d2a9","type":"function","z":"be60980c.7dc628","name":"set global preset name","func":"global.set(\"chauvet_255_preset_name\", msg.payload);","outputs":1,"noerr":0,"x":1755,"y":60,"wires":[[]]},{"id":"5ace110f.51838","type":"function","z":"be60980c.7dc628","name":"save preset","func":"msg.payload = global.get(\"chauvet_255_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":80,"wires":[["6d61fee1.d48a7"]]},{"id":"c8396e13.db9b5","type":"function","z":"be60980c.7dc628","name":"get preset name","func":"msg.payload = msg.payload.topic;\nreturn msg;","outputs":1,"noerr":0,"x":1328,"y":58.5,"wires":[["a34c8856.1baa68"]]},{"id":"748e9588.28039c","type":"ui_text","z":"be60980c.7dc628","group":"37527071.b6de2","order":3,"width":0,"height":0,"name":"","label":"SAVE PRESET","format":"{{msg.payload}}","layout":"row-left","x":254,"y":331,"wires":[]},{"id":"c1d945a8.bceb78","type":"ui_text","z":"be60980c.7dc628","group":"37527071.b6de2","order":1,"width":0,"height":0,"name":"","label":"RECALL PRESET","format":"{{msg.payload}}","layout":"row-left","x":270,"y":280,"wires":[]},{"id":"7e415b.7845dea4","type":"function","z":"be60980c.7dc628","name":"delete preset","func":"var newMsg = {};\nnewMsg.operation  = 'deleteOne';\nnewMsg.payload    = {'topic' : msg.payload};\nreturn newMsg;","outputs":1,"noerr":0,"x":399,"y":140,"wires":[["f761a074.9a83"]]},{"id":"f761a074.9a83","type":"mongodb2 in","z":"be60980c.7dc628","service":"_ext_","configNode":"de3380a2.fc70d","name":"Store Data into MongoDB","collection":"chauvet_255_presets","operation":"","x":610,"y":141,"wires":[["412d3fc5.39058"]]},{"id":"d07214a9.174a48","type":"ui_button","z":"be60980c.7dc628","name":"Delete","group":"37527071.b6de2","order":6,"width":0,"height":0,"passthru":false,"label":"Delete Preset","color":"#FFF","bgcolor":"#FF00FF","icon":"","payload":"","payloadType":"date","topic":"","x":79,"y":138.5,"wires":[["9ddec180.aedfc"]]},{"id":"9ddec180.aedfc","type":"function","z":"be60980c.7dc628","name":"delete preset","func":"msg.payload = global.get(\"chauvet_255_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":231,"y":139,"wires":[["7e415b.7845dea4"]]},{"id":"e48fc5f0.8e1038","type":"function","z":"be60980c.7dc628","name":"Send Current Universe","func":"msg.payload = { \n                dmx: global.get(\"chauvet_255_preset\"),\n                offset: 409\n            };\nreturn msg;","outputs":1,"noerr":0,"x":1940,"y":480,"wires":[[]]},{"id":"c29dcb13.898d48","type":"ui_numeric","z":"be60980c.7dc628","name":"DMX 2: Fine Pan","label":"Fine Pan","group":"e0068ecd.6a73b","order":8,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1350,"y":380,"wires":[["4e7949d2.9b1f08"]]},{"id":"b6ef4556.3e2cc8","type":"ui_numeric","z":"be60980c.7dc628","name":"DMX 3: Tilt (0-270 deg)","label":"Tilt (0-270 deg)","group":"e0068ecd.6a73b","order":6,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1350,"y":340,"wires":[["2b92f9f7.496056"]]},{"id":"56fda449.8355dc","type":"ui_numeric","z":"be60980c.7dc628","name":"DMX 4: Fine Tilt","label":"Fine Tilt","group":"e0068ecd.6a73b","order":10,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1340,"y":420,"wires":[["a8acd19c.36b79"]]},{"id":"5096d3a9.8bf07c","type":"ui_numeric","z":"be60980c.7dc628","name":"DMX 5 Speed (Fast to Slow)","label":"Speed (Fast to Slow)","group":"e0068ecd.6a73b","order":12,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1380,"y":460,"wires":[["fa7d10f5.871c4"]]},{"id":"67e5f0e4.a0f3","type":"ui_numeric","z":"be60980c.7dc628","name":"","label":"Color DMX Output Value","group":"f0f538ff.c44cd8","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1410,"y":780,"wires":[["d4e79ef7.e36fe"]]},{"id":"34c5ae46.63f572","type":"ui_numeric","z":"be60980c.7dc628","name":"DMX 10 Dimmer (0-100%)","label":"Dimmer (0-100%)","group":"e0068ecd.6a73b","order":2,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1380,"y":260,"wires":[["492e159a.b7e08c"]]},{"id":"c9830809.1ca908","type":"ui_numeric","z":"be60980c.7dc628","name":"DMX 11 Shutter","label":"Strobe (Slow to Fast)","group":"e0068ecd.6a73b","order":14,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1360,"y":220,"wires":[["c578f9c1.943d38","5a5516d3.389818"]]},{"id":"ff65aa39.b83e38","type":"ui_slider","z":"be60980c.7dc628","name":"DMX1 PAN","label":"","group":"e0068ecd.6a73b","order":5,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1130,"y":300,"wires":[["7b652174.3adbf"]]},{"id":"7b652174.3adbf","type":"ui_numeric","z":"be60980c.7dc628","name":"DMX 1: Pan (0-540 deg)","label":"Pan (0-254 = 0-540 deg)","group":"e0068ecd.6a73b","order":4,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1350,"y":300,"wires":[["ce53ec24.ff14b"]]},{"id":"3cc5dc8f.0221b4","type":"ui_switch","z":"be60980c.7dc628","name":"","label":"Shutter ON/OFF","group":"e0068ecd.6a73b","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"7","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":1400,"y":120,"wires":[["4a2277b.21c8f88"]]},{"id":"5a5516d3.389818","type":"function","z":"be60980c.7dc628","name":"update shutter switch based on dmx data","func":"if (msg.payload > 4){\n    msg.payload = 7;\n}\nelse {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1640,"y":180,"wires":[["3cc5dc8f.0221b4"]]},{"id":"55edf6d4.d7a518","type":"ui_switch","z":"be60980c.7dc628","name":"","label":"Prism ON/OFF","group":"e0068ecd.6a73b","order":16,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"16","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":1140,"y":500,"wires":[["a372dad1.cdb5c8"]]},{"id":"244005c9.0a505a","type":"ui_button","z":"be60980c.7dc628","name":"red","group":"f0f538ff.c44cd8","order":8,"width":0,"height":0,"passthru":false,"label":"red","color":"","bgcolor":"red","icon":"","payload":"28","payloadType":"num","topic":"","x":910,"y":1020,"wires":[["67e5f0e4.a0f3"]]},{"id":"2aa116cc.18442a","type":"ui_button","z":"be60980c.7dc628","name":"white","group":"f0f538ff.c44cd8","order":4,"width":0,"height":0,"passthru":false,"label":"white (color wheel off)","color":"black","bgcolor":"white","icon":"","payload":"0","payloadType":"num","topic":"","x":910,"y":860,"wires":[["67e5f0e4.a0f3"]]},{"id":"26bc6a40.b23e66","type":"ui_button","z":"be60980c.7dc628","name":"yellow","group":"f0f538ff.c44cd8","order":5,"width":0,"height":0,"passthru":false,"label":"yellow","color":"black","bgcolor":"yellow","icon":"","payload":"7","payloadType":"num","topic":"","x":910,"y":900,"wires":[["67e5f0e4.a0f3"]]},{"id":"d63279b4.7693a8","type":"ui_button","z":"be60980c.7dc628","name":"pink","group":"f0f538ff.c44cd8","order":6,"width":0,"height":0,"passthru":false,"label":"pink","color":"","bgcolor":"magenta","icon":"","payload":"14","payloadType":"num","topic":"","x":910,"y":940,"wires":[["67e5f0e4.a0f3"]]},{"id":"46b4c436.17590c","type":"ui_button","z":"be60980c.7dc628","name":"green","group":"f0f538ff.c44cd8","order":7,"width":0,"height":0,"passthru":false,"label":"green","color":"","bgcolor":"green","icon":"","payload":"21","payloadType":"num","topic":"","x":910,"y":980,"wires":[["67e5f0e4.a0f3"]]},{"id":"f7c8a4c.9b22058","type":"ui_button","z":"be60980c.7dc628","name":"cyan","group":"f0f538ff.c44cd8","order":9,"width":0,"height":0,"passthru":false,"label":"cyan","color":"black","bgcolor":"cyan","icon":"","payload":"35","payloadType":"num","topic":"","x":910,"y":1060,"wires":[["67e5f0e4.a0f3"]]},{"id":"b43dc5f7.5af828","type":"ui_button","z":"be60980c.7dc628","name":"lime","group":"f0f538ff.c44cd8","order":10,"width":0,"height":0,"passthru":false,"label":"lime","color":"black","bgcolor":"lime","icon":"","payload":"42","payloadType":"num","topic":"","x":910,"y":1100,"wires":[["67e5f0e4.a0f3"]]},{"id":"4ec9b573.ab554c","type":"ui_button","z":"be60980c.7dc628","name":"orange","group":"f0f538ff.c44cd8","order":11,"width":0,"height":0,"passthru":false,"label":"orange","color":"","bgcolor":"orange","icon":"","payload":"49","payloadType":"num","topic":"","x":920,"y":1140,"wires":[["67e5f0e4.a0f3"]]},{"id":"90da49f0.04a438","type":"ui_button","z":"be60980c.7dc628","name":"blue","group":"f0f538ff.c44cd8","order":12,"width":0,"height":0,"passthru":false,"label":"blue","color":"","bgcolor":"blue","icon":"","payload":"56","payloadType":"num","topic":"","x":910,"y":1180,"wires":[["67e5f0e4.a0f3"]]},{"id":"75ef895c.5b35a8","type":"ui_switch","z":"be60980c.7dc628","name":"","label":"Color Wheel UP/DOWN & SPEED","group":"f0f538ff.c44cd8","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"192","onvalueType":"num","onicon":"","oncolor":"","offvalue":"128","offvalueType":"num","officon":"","offcolor":"","x":680,"y":740,"wires":[["c938ee44.45863"]]},{"id":"c938ee44.45863","type":"function","z":"be60980c.7dc628","name":"save flow offset","func":"flow.set(\"color_wheel_offset\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":740,"wires":[["48d0e22b.4b262c"]]},{"id":"1c22958d.41033a","type":"function","z":"be60980c.7dc628","name":"save flow offset","func":"flow.set(\"color_wheel_speed\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":800,"wires":[["48d0e22b.4b262c"]]},{"id":"fb41d0c7.018c4","type":"ui_button","z":"be60980c.7dc628","name":"red + cyan","group":"f0f538ff.c44cd8","order":17,"width":0,"height":0,"passthru":false,"label":"red + cyan","color":"cyan","bgcolor":"red","icon":"","payload":"93","payloadType":"num","topic":"","x":1130,"y":1000,"wires":[["67e5f0e4.a0f3"]]},{"id":"5a0fe3f4.77867c","type":"ui_button","z":"be60980c.7dc628","name":"white + yellow","group":"f0f538ff.c44cd8","order":13,"width":0,"height":0,"passthru":false,"label":"white + yellow","color":"black","bgcolor":"white","icon":"","payload":"65","payloadType":"num","topic":"","x":1140,"y":840,"wires":[["67e5f0e4.a0f3"]]},{"id":"612f3605.34f178","type":"ui_button","z":"be60980c.7dc628","name":"yellow + pink","group":"f0f538ff.c44cd8","order":14,"width":0,"height":0,"passthru":false,"label":"yellow + pink","color":"magenta","bgcolor":"yellow","icon":"","payload":"72","payloadType":"num","topic":"","x":1130,"y":880,"wires":[["67e5f0e4.a0f3"]]},{"id":"b3f2c524.f55bf8","type":"ui_button","z":"be60980c.7dc628","name":"pink + green","group":"f0f538ff.c44cd8","order":15,"width":0,"height":0,"passthru":false,"label":"pink + green","color":"green","bgcolor":"magenta","icon":"","payload":"79","payloadType":"num","topic":"","x":1130,"y":920,"wires":[["67e5f0e4.a0f3"]]},{"id":"e3f4bae3.224688","type":"ui_button","z":"be60980c.7dc628","name":"green + red","group":"f0f538ff.c44cd8","order":16,"width":0,"height":0,"passthru":false,"label":"green + red","color":"red","bgcolor":"green","icon":"","payload":"86","payloadType":"num","topic":"","x":1130,"y":960,"wires":[["67e5f0e4.a0f3"]]},{"id":"24a93ff1.f7d7d","type":"ui_button","z":"be60980c.7dc628","name":"cyan + lime","group":"f0f538ff.c44cd8","order":18,"width":0,"height":0,"passthru":false,"label":"cyan + lime","color":"green","bgcolor":"cyan","icon":"","payload":"100","payloadType":"num","topic":"","x":1130,"y":1040,"wires":[["67e5f0e4.a0f3"]]},{"id":"3a0399ef.54ba16","type":"ui_button","z":"be60980c.7dc628","name":"lime + orange","group":"f0f538ff.c44cd8","order":19,"width":0,"height":0,"passthru":false,"label":"lime + orange","color":"orange","bgcolor":"lime","icon":"","payload":"107","payloadType":"num","topic":"","x":1140,"y":1080,"wires":[["67e5f0e4.a0f3"]]},{"id":"d8923946.2b9c48","type":"ui_button","z":"be60980c.7dc628","name":"orange + blue","group":"f0f538ff.c44cd8","order":20,"width":0,"height":0,"passthru":false,"label":"orange + blue","color":"blue","bgcolor":"orange","icon":"","payload":"114","payloadType":"num","topic":"","x":1140,"y":1120,"wires":[["67e5f0e4.a0f3"]]},{"id":"c34d220d.b6b9d","type":"ui_button","z":"be60980c.7dc628","name":"dark + white","group":"f0f538ff.c44cd8","order":21,"width":0,"height":0,"passthru":false,"label":"blue + white","color":"white","bgcolor":"blue","icon":"","payload":"121","payloadType":"num","topic":"","x":1130,"y":1160,"wires":[["67e5f0e4.a0f3"]]},{"id":"48d0e22b.4b262c","type":"function","z":"be60980c.7dc628","name":"color wheel slider + offset","func":"var offset = flow.get(\"color_wheel_offset\");\nvar color_wheel_speed = flow.get(\"color_wheel_speed\");\nmsg.payload = offset + color_wheel_speed;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":780,"wires":[["67e5f0e4.a0f3"]]},{"id":"36ffcf67.948c9","type":"ui_slider","z":"be60980c.7dc628","name":"DMX8 GOBO ROTATION SPEED","label":"","group":"c7724ee4.5e14e","order":17,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"111","step":"1","x":1180,"y":1340,"wires":[["1f2bfbf8.74e774"]]},{"id":"da46e41d.d025e8","type":"ui_numeric","z":"be60980c.7dc628","name":"","label":"Gobo Rotation Value","group":"c7724ee4.5e14e","order":13,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1360,"y":580,"wires":[["84a74125.f8a17"]]},{"id":"be492455.52ce68","type":"ui_switch","z":"be60980c.7dc628","name":"","label":"Gobo Rotate UP/DOWN","group":"c7724ee4.5e14e","order":16,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"120","onvalueType":"num","onicon":"","oncolor":"","offvalue":"8","offvalueType":"num","officon":"","offcolor":"","x":1150,"y":1300,"wires":[["29b6357a.ba63ca"]]},{"id":"29b6357a.ba63ca","type":"function","z":"be60980c.7dc628","name":"save flow offset","func":"flow.set(\"gobo_rotate_offset\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":1300,"wires":[["52b610be.cb902"]]},{"id":"1f2bfbf8.74e774","type":"function","z":"be60980c.7dc628","name":"save flow offset","func":"flow.set(\"gobo_rotate_speed\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":1340,"wires":[["52b610be.cb902"]]},{"id":"52b610be.cb902","type":"function","z":"be60980c.7dc628","name":"gobo rotation slider + offset","func":"var bounce_flag = flow.get(\"gobo_bounce_flag\");\n\nif(bounce_flag===0){\n\n   var rotate_flag = flow.get(\"gobo_rotate_flag\");\n   \n    if (rotate_flag ===0) {\n        msg.payload = 0;\n       \n    }\n    else {\n         flow.set(\"gobo_bounce_flag\", 0);\n        \n        var offset = flow.get(\"gobo_rotate_offset\");\n        var speed = flow.get(\"gobo_rotate_speed\");\n        \n        msg.payload = offset + speed;\n    }\n     \n}\nelse {\n    \n     flow.set(\"gobo_rotate_flag\", 0);\n     msg.payload = 232;  \n    \n    \n      \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1720,"y":1280,"wires":[["da46e41d.d025e8"]]},{"id":"45e0a49d.be478c","type":"ui_button","z":"be60980c.7dc628","name":"no gobo","group":"c7724ee4.5e14e","order":2,"width":0,"height":0,"passthru":false,"label":"no gobo","color":"black","bgcolor":"white","icon":"","payload":"0","payloadType":"num","topic":"","x":1360,"y":840,"wires":[["4b06bea6.b3976"]]},{"id":"5c759b4e.e64234","type":"ui_button","z":"be60980c.7dc628","name":"dots in a circle gobo","group":"c7724ee4.5e14e","order":3,"width":0,"height":0,"passthru":false,"label":"dots in a circle gobo","color":"black","bgcolor":"white","icon":"","payload":"8","payloadType":"num","topic":"","x":1400,"y":880,"wires":[["4b06bea6.b3976"]]},{"id":"fba6b0cf.8d36c","type":"ui_button","z":"be60980c.7dc628","name":"bubbles","group":"c7724ee4.5e14e","order":4,"width":0,"height":0,"passthru":false,"label":"bubbles","color":"black","bgcolor":"white","icon":"","payload":"16","payloadType":"num","topic":"","x":1360,"y":920,"wires":[["4b06bea6.b3976"]]},{"id":"70aff01d.fb401","type":"ui_switch","z":"be60980c.7dc628","name":"","label":"Gobo Bounce ON/OFF","group":"c7724ee4.5e14e","order":14,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":1140,"y":1220,"wires":[["f81479eb.9e1ec8"]]},{"id":"62d28e26.95752","type":"ui_switch","z":"be60980c.7dc628","name":"","label":"Gobo Rotate ON/OFF","group":"c7724ee4.5e14e","order":15,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":1140,"y":1260,"wires":[["9e19d711.9bd208"]]},{"id":"f81479eb.9e1ec8","type":"function","z":"be60980c.7dc628","name":"save flow offset","func":"flow.set(\"gobo_bounce_flag\", msg.payload);\nif (msg.payload ===1) {\n    flow.set(\"gobo_rotate_flag\", 0);\n    msg.payload = 0;\n}\nelse {\n    msg.payload = null;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":1420,"y":1220,"wires":[["52b610be.cb902","62d28e26.95752"]]},{"id":"9e19d711.9bd208","type":"function","z":"be60980c.7dc628","name":"save flow offset","func":"flow.set(\"gobo_rotate_flag\", msg.payload);\nif (msg.payload ===1) {\n    flow.set(\"gobo_bounce_flag\", 0);\n    msg.payload = 0\n}\nelse {\n    msg.payload = null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":1260,"wires":[["52b610be.cb902","70aff01d.fb401"]]},{"id":"35951ee8.4f03f2","type":"ui_button","z":"be60980c.7dc628","name":"swirls","group":"c7724ee4.5e14e","order":5,"width":0,"height":0,"passthru":false,"label":"swirls","color":"black","bgcolor":"white","icon":"","payload":"24","payloadType":"num","topic":"","x":1350,"y":960,"wires":[["4b06bea6.b3976"]]},{"id":"6e1d956f.78752c","type":"ui_button","z":"be60980c.7dc628","name":"biohazard","group":"c7724ee4.5e14e","order":6,"width":0,"height":0,"passthru":false,"label":"biohazard","color":"black","bgcolor":"white","icon":"","payload":"32","payloadType":"num","topic":"","x":1360,"y":1000,"wires":[["4b06bea6.b3976"]]},{"id":"19755fbe.59e4","type":"ui_button","z":"be60980c.7dc628","name":"flower","group":"c7724ee4.5e14e","order":7,"width":0,"height":0,"passthru":false,"label":"flower","color":"black","bgcolor":"white","icon":"","payload":"40","payloadType":"num","topic":"","x":1350,"y":1040,"wires":[["4b06bea6.b3976"]]},{"id":"3c67cab6.800bc6","type":"ui_button","z":"be60980c.7dc628","name":"triangle grate","group":"c7724ee4.5e14e","order":8,"width":0,"height":0,"passthru":false,"label":"triangle grate","color":"black","bgcolor":"white","icon":"","payload":"48","payloadType":"num","topic":"","x":1370,"y":1080,"wires":[["4b06bea6.b3976"]]},{"id":"28afb5eb.6e273a","type":"ui_button","z":"be60980c.7dc628","name":"spiral","group":"c7724ee4.5e14e","order":9,"width":0,"height":0,"passthru":false,"label":"spiral","color":"black","bgcolor":"white","icon":"","payload":"56","payloadType":"num","topic":"","x":1350,"y":1120,"wires":[["4b06bea6.b3976"]]},{"id":"45441e8e.a481f","type":"ui_numeric","z":"be60980c.7dc628","name":"","label":"Gobo Output Value","group":"c7724ee4.5e14e","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1350,"y":540,"wires":[["cc1b5bec.edd638"]]},{"id":"4b06bea6.b3976","type":"function","z":"be60980c.7dc628","name":"set current gobo selection","func":"flow.set(\"current_gobo_selection\", msg.payload);\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":960,"wires":[["1f6a4778.407019"]]},{"id":"a62397ba.1e6168","type":"ui_slider","z":"be60980c.7dc628","name":"DMX7 GOBO SHAKE SPEED","label":"Shake:","group":"c7724ee4.5e14e","order":10,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"8","step":"1","x":1430,"y":1160,"wires":[["1f6a4778.407019"]]},{"id":"1f6a4778.407019","type":"function","z":"be60980c.7dc628","name":"gobo rotation slider + offset","func":"var current_gobo = flow.get(\"current_gobo_selection\");\nif (msg.payload === 0) {\n    msg.payload = current_gobo;\n    return msg;\n}\nelse if(msg.payload!==null) {\n    switch(current_gobo) {\n        case 56:\n            msg.payload = msg.payload + 63;\n            break;\n        case 48:\n            msg.payload = msg.payload + 71;\n            break;\n        case 40:\n            msg.payload = msg.payload + 79;\n            break;\n        case 32:\n            msg.payload = msg.payload + 87;\n            break;\n        case 24:\n            msg.payload = msg.payload + 95;\n            break;\n        case 16:\n            msg.payload = msg.payload + 103;\n            break;\n        case 8:\n            msg.payload = msg.payload + 111;\n            break;\n        default:\n            msg.payload = 0;\n    }\n    return msg;\n}\n","outputs":1,"noerr":0,"x":2000,"y":960,"wires":[["45441e8e.a481f"]]},{"id":"110b4d70.142363","type":"ui_slider","z":"be60980c.7dc628","name":"DMX7 GOBO CYCLE SPEED","label":"","group":"c7724ee4.5e14e","order":12,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"63","step":"1","x":1770,"y":1140,"wires":[["e86b07be.1e3c88"]]},{"id":"b54d957a.5bb358","type":"ui_switch","z":"be60980c.7dc628","name":"","label":"Gobo Cycle UP/DOWN & SPEED","group":"c7724ee4.5e14e","order":11,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"192","onvalueType":"num","onicon":"","oncolor":"","offvalue":"128","offvalueType":"num","officon":"","offcolor":"","x":1780,"y":1080,"wires":[["837c2223.e11c1"]]},{"id":"837c2223.e11c1","type":"function","z":"be60980c.7dc628","name":"save flow offset","func":"flow.set(\"gobo_cycle_offset\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2020,"y":1080,"wires":[["3e5c18b4.02cb18"]]},{"id":"e86b07be.1e3c88","type":"function","z":"be60980c.7dc628","name":"save flow offset","func":"flow.set(\"gobo_cycle_speed\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2020,"y":1140,"wires":[["3e5c18b4.02cb18"]]},{"id":"3e5c18b4.02cb18","type":"function","z":"be60980c.7dc628","name":"gobo cycle slider + offset","func":"var offset = flow.get(\"gobo_cycle_offset\");\nvar gobo_cycle_speed = flow.get(\"gobo_cycle_speed\");\nmsg.payload = offset + gobo_cycle_speed;\nreturn msg;","outputs":1,"noerr":0,"x":2250,"y":1120,"wires":[["45441e8e.a481f"]]},{"id":"a70fea61.458058","type":"function","z":"be60980c.7dc628","name":"trigger pitch preset","func":"var chauvet_255_preset = flow.get(\"chauvet_255_db_preset\");\nfor(var i = 0;i<chauvet_255_preset.length; i++){\n    var temp_preset = chauvet_255_preset[i];\n    if (temp_preset.topic==msg.payload){\n        msg.payload = { payload: temp_preset.payload };\n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":320,"wires":[["e2024643.b6a248"]]},{"id":"fff2742a.3bf4b8","type":"ui_button","z":"be60980c.7dc628","name":"Load Presets","group":"37527071.b6de2","order":5,"width":0,"height":0,"passthru":false,"label":"Load Presets","color":"white","bgcolor":"purple","icon":"","payload":"","payloadType":"date","topic":"","x":90,"y":240,"wires":[["412d3fc5.39058"]]},{"id":"e0068ecd.6a73b","type":"ui_group","z":"","name":"MOVEMENT","tab":"22d212db.b8853e","order":2,"disp":true,"width":"6","collapse":false},{"id":"f0f538ff.c44cd8","type":"ui_group","z":"","name":"COLORS","tab":"22d212db.b8853e","order":3,"disp":true,"width":"6","collapse":false},{"id":"de3380a2.fc70d","type":"mongodb2","z":"","uri":"mongodb://127.0.0.1:27017/cinebrain","name":"cinebrain db","options":"","parallelism":"-1"},{"id":"37527071.b6de2","type":"ui_group","z":"","name":"PRESETS","tab":"22d212db.b8853e","order":1,"disp":true,"width":"4","collapse":false},{"id":"c7724ee4.5e14e","type":"ui_group","z":"","name":"GOBOS","tab":"22d212db.b8853e","order":4,"disp":true,"width":"6","collapse":false},{"id":"22d212db.b8853e","type":"ui_tab","z":"","name":"Chauvet 255","icon":"dashboard","order":6},{"id":"cfaac501.048d28","type":"dmxusbpro","z":"6150bfce.25762","name":"","port":"COM4","DMX_starting_address":"1","x":1410,"y":360,"wires":[[]]},{"id":"efbcda3f.d37048","type":"debug","z":"6150bfce.25762","name":"Current Universe","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1270,"y":80,"wires":[]},{"id":"d788be93.99a91","type":"function","z":"6150bfce.25762","name":"format and trigger DMX universe","func":"var temp_dmx_array = msg.payload.dmx;\nvar offset = msg.payload.offset;\nvar current_dmx_universe = global.get(\"last_known_universe_array\");\nfor(var i = 0; i < temp_dmx_array.length; i++) {\n    current_dmx_universe[i+offset] = temp_dmx_array[i];\n}\nglobal.set(\"last_known_universe_array\", current_dmx_universe);\nmsg.payload = current_dmx_universe;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":400,"wires":[["cfaac501.048d28","fd928839.482428"]]},{"id":"5144eb23.aff264","type":"subflow:be60980c.7dc628","z":"6150bfce.25762","name":"Chauvet Intimidator 255 - 13ch","x":650,"y":400,"wires":[["d788be93.99a91"]]},{"id":"9f4f164e.f3b538","type":"subflow:8498ce88.7c895","z":"6150bfce.25762","name":"ADJ Pinspot LED Quad","x":630,"y":500,"wires":[["56b3498.f0b21b8"]]},{"id":"56b3498.f0b21b8","type":"function","z":"6150bfce.25762","name":"format and trigger DMX universe","func":"var temp_dmx_array = msg.payload.dmx;\nvar offset = msg.payload.offset;\nvar current_dmx_universe = global.get(\"last_known_universe_array\");\nfor(var i = 0; i < temp_dmx_array.length; i++) {\n    current_dmx_universe[i+offset] = temp_dmx_array[i];\n}\nglobal.set(\"last_known_universe_array\", current_dmx_universe);\nmsg.payload = current_dmx_universe;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":500,"wires":[["cfaac501.048d28","fd928839.482428"]]},{"id":"ac97d577.510d48","type":"link in","z":"6150bfce.25762","name":"DMX Master Preset In","links":["a2dd56ec.4a54d8"],"x":35,"y":460,"wires":[["1912686e.4a1888"]]},{"id":"1912686e.4a1888","type":"function","z":"6150bfce.25762","name":"parse DMX presets from Master Control","func":"var m = [];\nm[0] = { payload: msg.payload.chauvet_255 };\nm[1] = { payload: msg.payload.adj_pinspot };\nm[2] = { payload: msg.payload.dark_lab };\nm[3] = { payload: msg.payload.chauvet_155_floor };\nm[4] = { payload: msg.payload.chauvet_155_grid };\nm[5] = { payload: msg.payload.sniper };\n\nreturn m;","outputs":6,"noerr":0,"x":260,"y":460,"wires":[[],["9f4f164e.f3b538"],["d3bd4c2f.18d2e","fe9ed9aa.8693f8"],["3560f1a8.ad4efe"],["bc9a3d4d.12cc5"],["20c6269e.e10a2a"]]},{"id":"a50bc372.fbb97","type":"function","z":"6150bfce.25762","name":"reset universe","func":"var universe_array = [];\n//flow.get(\"current_universe_array\");\nfor(var i=0; i<512; i++)\n{\n    universe_array[i]=0;\n}\nglobal.set(\"last_known_universe_array\", universe_array);\nmsg.payload = universe_array;\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":180,"wires":[["cfaac501.048d28","fd928839.482428"]]},{"id":"7d58cf0.e50703","type":"inject","z":"6150bfce.25762","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":760,"y":220,"wires":[["a50bc372.fbb97"]]},{"id":"d9117e64.7c436","type":"ui_button","z":"6150bfce.25762","name":"RESET DMX","group":"805f3d57.b33ba","order":0,"width":0,"height":0,"passthru":false,"label":"DMX PANIC","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":750,"y":160,"wires":[["a50bc372.fbb97"]]},{"id":"c2f7e978.2efce8","type":"comment","z":"6150bfce.25762","name":"DMX Addresses","info":"house: 10 13 24\ngreen screen: 43 30 \n470: sniper 3136\n450: chauvet 155 grid\n430: chauvet 155 floor\n410: chauvet 255 floor\n400: adj pinspot\n\n\ngreenscreen: 2 30 43 56 68 70","x":440,"y":200,"wires":[]},{"id":"d3bd4c2f.18d2e","type":"subflow:a43f3336.67771","z":"6150bfce.25762","name":"Dark Lab House","x":600,"y":560,"wires":[["86d5a30e.8efff"]]},{"id":"86d5a30e.8efff","type":"function","z":"6150bfce.25762","name":"format and trigger DMX universe","func":"msg.payload = msg.payload.dmx;\nglobal.set(\"last_known_universe_array\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":560,"wires":[["cfaac501.048d28","fd928839.482428"]]},{"id":"a6dd29eb.3712c8","type":"function","z":"6150bfce.25762","name":"format and trigger DMX universe","func":"var temp_dmx_array = msg.payload.dmx;\nvar offset = msg.payload.offset;\nvar current_dmx_universe = global.get(\"last_known_universe_array\");\nfor(var i = 0; i < temp_dmx_array.length; i++) {\n    current_dmx_universe[i+offset] = temp_dmx_array[i];\n}\nglobal.set(\"last_known_universe_array\", current_dmx_universe);\nmsg.payload = current_dmx_universe;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":660,"wires":[["fd928839.482428","cfaac501.048d28"]]},{"id":"3560f1a8.ad4efe","type":"subflow:464c74b5.a27ccc","z":"6150bfce.25762","name":"Chauvet Intimidator 155 Floor","x":640,"y":660,"wires":[["a6dd29eb.3712c8"]]},{"id":"fe1518e0.fb45f8","type":"function","z":"6150bfce.25762","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":340,"y":80,"wires":[["872facef.1f823"]]},{"id":"67e150be.75444","type":"function","z":"6150bfce.25762","name":"Format Preset Pulldown","func":"global.set(\"last_known_universe_array\", msg.payload);\n\n/*var msg_array = [];\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic != undefined){\n        tmp_object[msg_object.topic] = {\"topic\": msg_object.topic, \"payload\": msg_object.payload};\n        msg_array[i] = tmp_object;\n    }\n}*/\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":80,"wires":[["efbcda3f.d37048"]]},{"id":"9a64b5a6.d370f8","type":"inject","z":"6150bfce.25762","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":80,"wires":[["fe1518e0.fb45f8"]]},{"id":"872facef.1f823","type":"mongodb2 in","z":"6150bfce.25762","service":"_ext_","configNode":"ac414dfc.419c9","name":"Mongo DB dynamic operation","collection":"last_known_universe_array","operation":"","x":570,"y":80,"wires":[["67e150be.75444"]]},{"id":"fd928839.482428","type":"function","z":"6150bfce.25762","name":"save preset","func":"var last_known_universe_array = [];\nlast_known_universe_array = global.get(\"last_known_universe_array\");\nvar newMsg = {};\nnewMsg.collection = 'last_known_universe_array';\nnewMsg.payload = [\n   {topic: \"last_known_universe_array\"},\n  {\n    \"$set\": {\n      \"payload\": last_known_universe_array\n    }\n  },\n  {upsert:true}\n];\n\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"x":1370,"y":520,"wires":[["9054d7c6.b67128"]]},{"id":"9054d7c6.b67128","type":"mongodb2 in","z":"6150bfce.25762","service":"_ext_","configNode":"ac414dfc.419c9","name":"Store Data into MongoDB","collection":"last_known_universe_array","operation":"findOneAndUpdate","x":1770,"y":520,"wires":[[]]},{"id":"bc9a3d4d.12cc5","type":"subflow:a8b395a4.ac9318","z":"6150bfce.25762","name":"Chauvet Intimidator 155 Grid","x":640,"y":760,"wires":[["76fe965b.5a1608"]]},{"id":"76fe965b.5a1608","type":"function","z":"6150bfce.25762","name":"format and trigger DMX universe","func":"var temp_dmx_array = msg.payload.dmx;\nvar offset = msg.payload.offset;\nvar current_dmx_universe = global.get(\"last_known_universe_array\");\nfor(var i = 0; i < temp_dmx_array.length; i++) {\n    current_dmx_universe[i+offset] = temp_dmx_array[i];\n}\nglobal.set(\"last_known_universe_array\", current_dmx_universe);\nmsg.payload = current_dmx_universe;\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":760,"wires":[["cfaac501.048d28","fd928839.482428"]]},{"id":"51ad966.7659768","type":"function","z":"6150bfce.25762","name":"format and trigger DMX universe","func":"var temp_dmx_array = msg.payload.dmx;\nvar offset = msg.payload.offset;\nvar current_dmx_universe = global.get(\"last_known_universe_array\");\nfor(var i = 0; i < temp_dmx_array.length; i++) {\n    current_dmx_universe[i+offset] = temp_dmx_array[i];\n}\nglobal.set(\"last_known_universe_array\", current_dmx_universe);\nmsg.payload = current_dmx_universe;\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":860,"wires":[["cfaac501.048d28","fd928839.482428"]]},{"id":"20c6269e.e10a2a","type":"subflow:88ebd53.ffb1128","z":"6150bfce.25762","name":"Sniper","x":630,"y":840,"wires":[["51ad966.7659768"]]},{"id":"fe9ed9aa.8693f8","type":"debug","z":"6150bfce.25762","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":570,"y":320,"wires":[]},{"id":"805f3d57.b33ba","type":"ui_group","z":"","name":"MASTER PRESETS","tab":"a1ce639f.79f3b","order":1,"disp":true,"width":"6","collapse":false},{"id":"ac414dfc.419c9","type":"mongodb2","z":0,"uri":"mongodb://127.0.0.1:27017/cinebrain","name":"cinebrain db","options":"","parallelism":"-1"},{"id":"a1ce639f.79f3b","type":"ui_tab","z":"","name":"MASTER CTL","icon":"dashboard","order":2}]