DARK_LAB_MASTER_v2.json
[{"id":"8c49af3.a995e5","type":"function","z":"d57f5948.732138","name":"insert preset","func":"var preset = [];\npreset = global.get(\"master_preset\");\nvar newMsg = {};\nnewMsg.collection = 'master_presets';\nnewMsg.payload = [\n  {topic: msg.payload},\n  {\n    \"$set\": {\n      \"payload\": preset\n    }\n  },\n  {upsert:true}\n];\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":410,"y":100,"wires":[["e60c3486.d9d868"]]},{"id":"31bf2a1e.442b16","type":"function","z":"d57f5948.732138","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":297,"y":218,"wires":[["17d50e2.fc02af2"]]},{"id":"a54beeff.28f98","type":"ui_dropdown","z":"d57f5948.732138","name":"Recall Pulldown","label":"Recall","place":"Select option","group":"805f3d57.b33ba","order":2,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1015,"y":218.5,"wires":[["bd659a2b.d2ffa8","808d6ca4.d08fe"]]},{"id":"9c0de3d4.0ab3e","type":"function","z":"d57f5948.732138","name":"Format Preset Pulldown","func":"var msg_array = [];\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic != undefined){\n        tmp_object[msg_object.topic] = {\"topic\": msg_object.topic, \"payload\": msg_object.payload};\n        msg_array[i] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":785,"y":218.5,"wires":[["a54beeff.28f98"]]},{"id":"b82adbce.5832c8","type":"inject","z":"d57f5948.732138","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":148,"y":216.5,"wires":[["31bf2a1e.442b16"]]},{"id":"f0478761.1bec68","type":"ui_text_input","z":"d57f5948.732138","name":"","label":"Edit Master Preset Name","group":"805f3d57.b33ba","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"","x":1485,"y":218.5,"wires":[["2433e8aa.7017c8"]]},{"id":"7c4b437d.0c5b7c","type":"ui_button","z":"d57f5948.732138","name":"Save","group":"805f3d57.b33ba","order":5,"width":0,"height":0,"passthru":false,"label":"Save Master Preset","color":"#FFF","bgcolor":"#FF0000","icon":"","payload":"","payloadType":"date","topic":"","x":90,"y":98.5,"wires":[["dd6f2c6.3f0c4d"]]},{"id":"2433e8aa.7017c8","type":"function","z":"d57f5948.732138","name":"set global preset name","func":"global.set(\"master_preset_name\", msg.payload);","outputs":1,"noerr":0,"x":1735,"y":218.5,"wires":[[]]},{"id":"dd6f2c6.3f0c4d","type":"function","z":"d57f5948.732138","name":"save preset","func":"msg.payload = global.get(\"master_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":225,"y":98.5,"wires":[["8c49af3.a995e5","671eb310.9d543c"]]},{"id":"bd659a2b.d2ffa8","type":"function","z":"d57f5948.732138","name":"get preset name","func":"msg.payload = msg.payload.topic;\nreturn msg;","outputs":1,"noerr":0,"x":1255,"y":218.5,"wires":[["f0478761.1bec68"]]},{"id":"25239925.9744a6","type":"ui_text","z":"d57f5948.732138","group":"805f3d57.b33ba","order":3,"width":0,"height":0,"name":"","label":"SAVE MASTER PRESET","format":"{{msg.payload}}","layout":"row-left","x":165,"y":318.5,"wires":[]},{"id":"1e840990.5514d6","type":"ui_text","z":"d57f5948.732138","group":"805f3d57.b33ba","order":1,"width":0,"height":0,"name":"","label":"RECALL MASTER PRESET","format":"{{msg.payload}}","layout":"row-left","x":175,"y":278.5,"wires":[]},{"id":"ba8f2d86.c27a5","type":"function","z":"d57f5948.732138","name":"delete preset","func":"var newMsg = {};\nnewMsg.operation  = 'deleteOne';\nnewMsg.payload    = {'topic' : msg.payload};\nreturn newMsg;","outputs":1,"noerr":0,"x":411,"y":159,"wires":[["1539d815.1bbf58"]]},{"id":"546f0f9a.41ff2","type":"ui_button","z":"d57f5948.732138","name":"Delete","group":"805f3d57.b33ba","order":5,"width":0,"height":0,"passthru":false,"label":"Delete Master Preset","color":"#FFF","bgcolor":"#FF00FF","icon":"","payload":"","payloadType":"date","topic":"","x":91,"y":157.5,"wires":[["74ba063d.9843d8"]]},{"id":"74ba063d.9843d8","type":"function","z":"d57f5948.732138","name":"delete preset","func":"msg.payload = global.get(\"master_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":243,"y":158,"wires":[["ba8f2d86.c27a5"]]},{"id":"e60c3486.d9d868","type":"mongodb2 in","z":"d57f5948.732138","service":"_ext_","configNode":"52b0c635.61ade8","name":"Store Data into MongoDB","collection":"master_presets","operation":"findOneAndUpdate","x":621,"y":101,"wires":[["31bf2a1e.442b16"]]},{"id":"17d50e2.fc02af2","type":"mongodb2 in","z":"d57f5948.732138","service":"_ext_","configNode":"52b0c635.61ade8","name":"Mongo DB dynamic operation","collection":"master_presets","operation":"","x":525,"y":218.5,"wires":[["9c0de3d4.0ab3e"]]},{"id":"1539d815.1bbf58","type":"mongodb2 in","z":"d57f5948.732138","service":"_ext_","configNode":"52b0c635.61ade8","name":"Store Data into MongoDB","collection":"master_presets","operation":"","x":622,"y":160,"wires":[["31bf2a1e.442b16"]]},{"id":"f73bf014.23cf","type":"mongodb2 in","z":"d57f5948.732138","service":"_ext_","configNode":"9d90899.2608978","name":"Mongo DB dynamic operation","collection":"chauvet_155_grid_presets","operation":"","x":565,"y":918.5,"wires":[["9ef44486.a0dc08"]]},{"id":"83b25873.e01488","type":"function","z":"d57f5948.732138","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":355,"y":918.5,"wires":[["f73bf014.23cf"]]},{"id":"ca683982.7e5f08","type":"inject","z":"d57f5948.732138","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":145,"y":918.5,"wires":[["83b25873.e01488"]]},{"id":"2bf8de3e.100dc2","type":"ui_dropdown","z":"d57f5948.732138","name":"Chauvet 155 Grid","label":"Chauvet 155 Grid","place":"Select option","group":"30e246b2.8f2f9a","order":9,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1065,"y":918.5,"wires":[["137e2fc2.c3d39"]]},{"id":"9ef44486.a0dc08","type":"function","z":"d57f5948.732138","name":"Format Preset Pulldown","func":"var msg_array = [];\nmsg_array[0] = \"No Action\";\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic !== undefined){\n        tmp_object =  msg_object.topic;\n        msg_array[i+1] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":825,"y":918.5,"wires":[["2bf8de3e.100dc2"]]},{"id":"b46c9471.43bcf8","type":"ui_dropdown","z":"d57f5948.732138","name":"PTZ 1 Recall Pulldown","label":"PTZ 1","place":"Select option","group":"30e246b2.8f2f9a","order":3,"width":0,"height":0,"passthru":false,"options":[{"label":"No Action","value":"No Action","type":"str"},{"label":"Preset 1","value":"Preset 1","type":"str"},{"label":"Preset 2","value":"Preset 2","type":"str"},{"label":"Preset 3","value":"Preset 3","type":"str"},{"label":"Preset 4","value":"Preset 4","type":"str"},{"label":"Preset 5","value":"Preset 5","type":"str"},{"label":"Preset 6","value":"Preset 6","type":"str"}],"payload":"","topic":"","x":1075,"y":618.5,"wires":[["d08de99d.c99858","2b0c5380.bbb85c"]]},{"id":"137e2fc2.c3d39","type":"function","z":"d57f5948.732138","name":"save to master_preset_object","func":"var master_preset_object =  global.get(\"master_preset\");\nmaster_preset_object.chauvet_155_grid = msg.payload;\nglobal.set(\"master_preset\", master_preset_object);\n","outputs":1,"noerr":0,"x":1345,"y":918.5,"wires":[[]]},{"id":"d08de99d.c99858","type":"function","z":"d57f5948.732138","name":"save to master_preset_object","func":"var master_preset_object =  global.get(\"master_preset\");\nmaster_preset_object.ptz_1 = msg.payload;\n global.set(\"master_preset\", master_preset_object);\n","outputs":1,"noerr":0,"x":1345,"y":618.5,"wires":[[]]},{"id":"4689db88.352e54","type":"ui_button","z":"d57f5948.732138","name":"Refresh Preset Lists","group":"30e246b2.8f2f9a","order":1,"width":0,"height":0,"passthru":false,"label":"Refresh Preset Lists","color":"black","bgcolor":"yellow","icon":"","payload":"","payloadType":"str","topic":"","x":155,"y":378.5,"wires":[["83b25873.e01488","6f01a67a.dbda58","a1bdd69b.937278","75847758.2ce7d8","38a23d21.439e42","8edb9643.5b7af8"]]},{"id":"808d6ca4.d08fe","type":"function","z":"d57f5948.732138","name":"Just get preset","func":"global.set(\"master_preset\", msg.payload.payload);\n\nvar preset = {};\nvar m = [];\npreset = global.get(\"master_preset\");\n\nm[0] = { payload: preset.robot_1};\nm[1] = { payload: preset.ptz_1}; \nm[2] = { payload: preset.ptz_2};\n\nm[3] = {    chauvet_255: preset.chauvet_255,\n            adj_pinspot: preset.adj_pinspot,\n            chauvet_155_floor: preset.chauvet_155_floor,\n            chauvet_155_grid: preset.chauvet_155_grid,\n            dark_lab: preset.dark_lab,\n            \n};\n\nm[4] = { payload: preset.chauvet_255}; \nm[5] = { payload: preset.adj_pinspot};\nm[6] = { payload: preset.chauvet_155_floor}; \nm[7] = { payload: preset.chauvet_155_grid};\nm[8] = { payload: preset.dark_lab}; \n\n\nreturn m;\n","outputs":9,"noerr":0,"x":775,"y":378.5,"wires":[["38ace5ee.3b8cba","332a072c.0f6d28"],["b46c9471.43bcf8","2b0c5380.bbb85c"],["fd3188cf.c4f9d8","cf8191aa.2cfd1"],["a2dd56ec.4a54d8"],["30804738.476ee8"],["cb16f0e5.7d4b"],["3eaddbf1.0923e4"],["2bf8de3e.100dc2"],["3681d0e0.a3367"]]},{"id":"295d941f.584e3c","type":"inject","z":"d57f5948.732138","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":850,"y":80,"wires":[["cbceca42.795aa8"]]},{"id":"cbceca42.795aa8","type":"function","z":"d57f5948.732138","name":"","func":"var master_preset_object = {\n                                robot_1: 0,\n                                chauvet_255: 1,\n                                adj_pinspot: 2,\n                                ptz_1: 3,\n                                ptz_2: 4,\n                                chauvet_155_floor: 5,\n                                chauvet_155_grid: 6,\n                                dark_lab: 7,\n                                sniper: 8\n};\nglobal.set(\"master_preset\", master_preset_object);\nmsg.payload = master_preset_object;\nreturn msg;","outputs":1,"noerr":0,"x":1075,"y":78.5,"wires":[["191664b0.710bab"]]},{"id":"a2dd56ec.4a54d8","type":"link out","z":"d57f5948.732138","name":"DMX Master Preset Out","links":["ac97d577.510d48"],"x":1110,"y":438.5,"wires":[]},{"id":"2b0c5380.bbb85c","type":"link out","z":"d57f5948.732138","name":"PTZ 1 Master Preset Out","links":["5bae300b.e4a64"],"x":1110,"y":358.5,"wires":[]},{"id":"fd3188cf.c4f9d8","type":"link out","z":"d57f5948.732138","name":"PTZ 2 Master Preset Out","links":["46e4988e.1260c8","2931d287.c2105e"],"x":1110,"y":398.5,"wires":[]},{"id":"b62d3d9e.8ba81","type":"mongodb2 in","z":"d57f5948.732138","service":"_ext_","configNode":"9d90899.2608978","name":"Mongo DB dynamic operation","collection":"dark_lab_presets","operation":"","x":565,"y":978.5,"wires":[["f148d3f0.afbd"]]},{"id":"6f01a67a.dbda58","type":"function","z":"d57f5948.732138","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":355,"y":978.5,"wires":[["b62d3d9e.8ba81"]]},{"id":"36f98ef8.d2b082","type":"inject","z":"d57f5948.732138","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":145,"y":978.5,"wires":[["6f01a67a.dbda58"]]},{"id":"3681d0e0.a3367","type":"ui_dropdown","z":"d57f5948.732138","name":"Dark Lab House","label":"Dark Lab House","place":"Select option","group":"30e246b2.8f2f9a","order":5,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1055,"y":978.5,"wires":[["d2beaa23.eddd18"]]},{"id":"f148d3f0.afbd","type":"function","z":"d57f5948.732138","name":"Format Preset Pulldown","func":"var msg_array = [];\nmsg_array[0] = \"No Action\";\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic !== undefined){\n        tmp_object =  msg_object.topic;\n        msg_array[i+1] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":825,"y":978.5,"wires":[["3681d0e0.a3367"]]},{"id":"d2beaa23.eddd18","type":"function","z":"d57f5948.732138","name":"save to master_preset_object","func":"var master_preset_object =  global.get(\"master_preset\");\nmaster_preset_object.dark_lab = msg.payload;\nglobal.set(\"master_preset\", master_preset_object);\nmsg.payload = master_preset_object;\nreturn msg;","outputs":1,"noerr":0,"x":1345,"y":978.5,"wires":[["a2dd56ec.4a54d8","191664b0.710bab"]]},{"id":"671eb310.9d543c","type":"debug","z":"d57f5948.732138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1265,"y":318.5,"wires":[]},{"id":"191664b0.710bab","type":"debug","z":"d57f5948.732138","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1610,"y":500,"wires":[]},{"id":"38ace5ee.3b8cba","type":"link out","z":"d57f5948.732138","name":"Robot 1 Master Preset Out","links":["332f9ccf.361174","7feb0826.ff1c08","951e1ccb.b952"],"x":1110,"y":318.5,"wires":[]},{"id":"a4a6f0f7.566e8","type":"inject","z":"d57f5948.732138","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":145,"y":558.5,"wires":[["a1bdd69b.937278"]]},{"id":"660ed043.7ed33","type":"inject","z":"d57f5948.732138","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":145,"y":858.5,"wires":[["75847758.2ce7d8"]]},{"id":"34b23895.490a48","type":"inject","z":"d57f5948.732138","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":145,"y":738.5,"wires":[["38a23d21.439e42"]]},{"id":"c351b860.010be8","type":"inject","z":"d57f5948.732138","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":145,"y":798.5,"wires":[["8edb9643.5b7af8"]]},{"id":"a1bdd69b.937278","type":"function","z":"d57f5948.732138","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":355,"y":558.5,"wires":[["a8f79f12.ce7bb"]]},{"id":"332a072c.0f6d28","type":"ui_dropdown","z":"d57f5948.732138","name":"Robot Arm 1 Pulldown","label":"Robot Arm 1","place":"Select option","group":"cd40f89e.099f58","order":2,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1075,"y":558.5,"wires":[["de745623.930238","38ace5ee.3b8cba"]]},{"id":"6f752173.eca2c","type":"function","z":"d57f5948.732138","name":"Format Preset Pulldown","func":"var msg_array = [];\nmsg_array[0] = \"No Action\";\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic !== undefined){\n        tmp_object = msg_object.topic;\n        msg_array[i+1] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":825,"y":558.5,"wires":[["332a072c.0f6d28"]]},{"id":"a8f79f12.ce7bb","type":"mongodb2 in","z":"d57f5948.732138","service":"_ext_","configNode":"52b0c635.61ade8","name":"Mongo DB dynamic operation","collection":"robot_arm_presets","operation":"","x":565,"y":558.5,"wires":[["6f752173.eca2c"]]},{"id":"de745623.930238","type":"function","z":"d57f5948.732138","name":"save to master_preset_object","func":"var master_preset_object = global.get(\"master_preset\");\nmaster_preset_object['robot_1'] = msg.payload;\nglobal.set(\"master_preset\", master_preset_object);\n","outputs":1,"noerr":0,"x":1345,"y":558.5,"wires":[[]]},{"id":"6c3bd94b.c118f8","type":"function","z":"d57f5948.732138","name":"Format Preset Pulldown","func":"var msg_array = [];\nmsg_array[0] = \"No Action\";\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic !== undefined){\n        tmp_object = msg_object.topic;\n        msg_array[i+1] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":825,"y":858.5,"wires":[["3eaddbf1.0923e4"]]},{"id":"2d71f9fc.bd5316","type":"mongodb2 in","z":"d57f5948.732138","service":"_ext_","configNode":"9d90899.2608978","name":"Mongo DB dynamic operation","collection":"chauvet_155_floor_presets","operation":"","x":565,"y":858.5,"wires":[["6c3bd94b.c118f8"]]},{"id":"75847758.2ce7d8","type":"function","z":"d57f5948.732138","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":355,"y":858.5,"wires":[["2d71f9fc.bd5316"]]},{"id":"cf8191aa.2cfd1","type":"ui_dropdown","z":"d57f5948.732138","name":"PTZ 2 Recall Pulldown","label":"PTZ 2","place":"Select option","group":"cd40f89e.099f58","order":4,"width":0,"height":0,"passthru":false,"options":[{"label":"No Action","value":"No Action","type":"str"},{"label":"Preset 1","value":"Preset 1","type":"str"},{"label":"Preset 2","value":"Preset 2","type":"str"},{"label":"Preset 3","value":"Preset 3","type":"str"},{"label":"Preset 4","value":"Preset 4","type":"str"},{"label":"Preset 5","value":"Prese 5","type":"str"},{"label":"Preset 6","value":"Preset 6","type":"str"}],"payload":"","topic":"","x":1075,"y":678.5,"wires":[["dc56e137.6f972","fd3188cf.c4f9d8"]]},{"id":"dcfb3fa.b4b3ac","type":"function","z":"d57f5948.732138","name":"save to master_preset_object","func":"var master_preset_object =  global.get(\"master_preset\");\nmaster_preset_object.chauvet_155_floor = msg.payload;\n global.set(\"master_preset\", master_preset_object);\n","outputs":1,"noerr":0,"x":1345,"y":858.5,"wires":[[]]},{"id":"dc56e137.6f972","type":"function","z":"d57f5948.732138","name":"save to master_preset_object","func":"var master_preset_object =  global.get(\"master_preset\");\nmaster_preset_object.ptz_2 = msg.payload;\n global.set(\"master_preset\", master_preset_object);\n","outputs":1,"noerr":0,"x":1345,"y":678.5,"wires":[[]]},{"id":"30804738.476ee8","type":"ui_dropdown","z":"d57f5948.732138","name":"Chauvet 255 Pulldown","label":"Chauvet 255","place":"Select option","group":"cd40f89e.099f58","order":7,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1075,"y":738.5,"wires":[["2669b591.50291a"]]},{"id":"6a006c86.8084f4","type":"function","z":"d57f5948.732138","name":"Format Preset Pulldown","func":"var msg_array = [];\nmsg_array[0] = \"No Action\";\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic !== undefined){\n        tmp_object = msg_object.topic;\n        msg_array[i+1] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":825,"y":738.5,"wires":[["30804738.476ee8"]]},{"id":"93ce6131.de751","type":"mongodb2 in","z":"d57f5948.732138","service":"_ext_","configNode":"9d90899.2608978","name":"Mongo DB dynamic operation","collection":"chauvet_255_presets","operation":"","x":565,"y":738.5,"wires":[["6a006c86.8084f4"]]},{"id":"38a23d21.439e42","type":"function","z":"d57f5948.732138","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":355,"y":738.5,"wires":[["93ce6131.de751"]]},{"id":"9af4225d.48a72","type":"mongodb2 in","z":"d57f5948.732138","service":"_ext_","configNode":"9d90899.2608978","name":"Mongo DB dynamic operation","collection":"adj_pinspot_presets","operation":"","x":565,"y":798.5,"wires":[["b6f8d2ca.8b2f6"]]},{"id":"8edb9643.5b7af8","type":"function","z":"d57f5948.732138","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":355,"y":798.5,"wires":[["9af4225d.48a72"]]},{"id":"cb16f0e5.7d4b","type":"ui_dropdown","z":"d57f5948.732138","name":"ADJ Pinspot Pulldown","label":"ADJ Pinspot","place":"Select option","group":"cd40f89e.099f58","order":6,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1075,"y":798.5,"wires":[["8753925a.0df72"]]},{"id":"b6f8d2ca.8b2f6","type":"function","z":"d57f5948.732138","name":"Format Preset Pulldown","func":"var msg_array = [];\nmsg_array[0] = \"No Action\";\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic !== undefined){\n        tmp_object =  msg_object.topic;\n        msg_array[i+1] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":825,"y":798.5,"wires":[["cb16f0e5.7d4b"]]},{"id":"2669b591.50291a","type":"function","z":"d57f5948.732138","name":"save to master_preset_object","func":"var master_preset_object =  global.get(\"master_preset\");\nmaster_preset_object.chauvet_255 = msg.payload;\n global.set(\"master_preset\", master_preset_object);\n","outputs":1,"noerr":0,"x":1345,"y":738.5,"wires":[[]]},{"id":"8753925a.0df72","type":"function","z":"d57f5948.732138","name":"save to master_preset_object","func":"var master_preset_object =  global.get(\"master_preset\");\nmaster_preset_object.adj_pinspot = msg.payload;\nglobal.set(\"master_preset\", master_preset_object);\n","outputs":1,"noerr":0,"x":1345,"y":798.5,"wires":[[]]},{"id":"3eaddbf1.0923e4","type":"ui_dropdown","z":"d57f5948.732138","name":"Chauvet 155 Floor","label":"Chauvet 155 Floor","place":"Select option","group":"cd40f89e.099f58","order":8,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1065,"y":858.5,"wires":[["dcfb3fa.b4b3ac"]]},{"id":"805f3d57.b33ba","type":"ui_group","z":"","name":"MASTER PRESETS","tab":"a1ce639f.79f3b","order":1,"disp":true,"width":"6","collapse":false},{"id":"52b0c635.61ade8","type":"mongodb2","z":0,"uri":"mongodb://127.0.0.1:27017/cinebrain","name":"cinebrain db","options":"","parallelism":"-1"},{"id":"9d90899.2608978","type":"mongodb2","z":"","uri":"mongodb://127.0.0.1:27017/cinebrain","name":"cinebrain db","options":"","parallelism":"-1"},{"id":"30e246b2.8f2f9a","type":"ui_group","z":"","name":"SUB PRESETS","tab":"a1ce639f.79f3b","order":2,"disp":true,"width":"12","collapse":false},{"id":"cd40f89e.099f58","type":"ui_group","z":"","name":"MASTER PRESETS","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"a1ce639f.79f3b","type":"ui_tab","z":"","name":"MASTER CTL","icon":"dashboard","order":2}]