DMX_template_v2.json
[{"id":"ed916a0b.101318","type":"subflow","name":"Subflow 2","info":"","category":"","in":[],"out":[{"x":2100,"y":480,"wires":[{"id":"d456030a.5129b","port":0}]}]},{"id":"b327d4c6.a26678","type":"ui_slider","z":"ed916a0b.101318","name":"DMX2 FINE PAN","label":"","group":"ea3bd860.23d408","order":9,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1150,"y":380,"wires":[["b102f0ab.46198"]]},{"id":"be085694.ec5c28","type":"ui_slider","z":"ed916a0b.101318","name":"DMX12 FUNCTIONS","label":"DMX 12: Functions","group":"1b4c344c.bd38ac","order":6,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1180,"y":660,"wires":[["44dc7270.224eec"]]},{"id":"89e80b03.b8bec8","type":"ui_slider","z":"ed916a0b.101318","name":"DMX11 SHUTTER","label":"","group":"1b4c344c.bd38ac","order":3,"width":0,"height":0,"passthru":true,"topic":"Slider","min":"7","max":"215","step":1,"x":1150,"y":220,"wires":[["55d9844b.9fbcbc"]]},{"id":"45ad78f8.f45fb8","type":"ui_slider","z":"ed916a0b.101318","name":"DMX10 DIMMER","label":"","group":"ea3bd860.23d408","order":3,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1150,"y":260,"wires":[["d8da9abc.e28d28"]]},{"id":"230b9410.8f1f6c","type":"ui_slider","z":"ed916a0b.101318","name":"DMX8 GOBO ROTATION","label":"DMX 8: Gobo Rotation","group":"1b4c344c.bd38ac","order":5,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1170,"y":580,"wires":[["8dd50cc7.44d4a"]]},{"id":"666f4d8f.6d0ae4","type":"ui_slider","z":"ed916a0b.101318","name":"DMX7 GOBOS","label":"DMX 7: Gobos","group":"1b4c344c.bd38ac","order":4,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1140,"y":540,"wires":[["cab267a5.d51938"]]},{"id":"f92ed2dd.76421","type":"ui_slider","z":"ed916a0b.101318","name":"DMX6 COLOR WHEEL SPEED","label":"","group":"27f07b90.e6d524","order":3,"width":0,"height":0,"passthru":false,"topic":"Slider","min":0,"max":"63","step":"1","x":670,"y":800,"wires":[["f5d6999a.ae7958"]]},{"id":"130a9efe.bcf1a1","type":"ui_slider","z":"ed916a0b.101318","name":"DMX5 SPEED","label":"","group":"ea3bd860.23d408","order":13,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1140,"y":460,"wires":[["a8f1a517.d55358"]]},{"id":"dc3e5822.50d098","type":"ui_slider","z":"ed916a0b.101318","name":"DMX4 FINE TILT","label":"","group":"ea3bd860.23d408","order":11,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1150,"y":420,"wires":[["7af80827.6758d8"]]},{"id":"2ecb7cbf.ef0994","type":"ui_slider","z":"ed916a0b.101318","name":"DMX3 TILT","label":"","group":"ea3bd860.23d408","order":7,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1130,"y":340,"wires":[["38a58d29.2e8db2"]]},{"id":"449ef367.35a6bc","type":"change","z":"ed916a0b.101318","name":"save to Global DMX1","rules":[{"t":"set","p":"chauvet_255_preset[0]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":300,"wires":[["d456030a.5129b"]]},{"id":"37e402b3.12f72e","type":"change","z":"ed916a0b.101318","name":"save to Global DMX2","rules":[{"t":"set","p":"chauvet_255_preset[1]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":380,"wires":[["d456030a.5129b"]]},{"id":"c9baec6b.d2238","type":"change","z":"ed916a0b.101318","name":"save to Global DMX3","rules":[{"t":"set","p":"chauvet_255_preset[2]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":340,"wires":[["d456030a.5129b"]]},{"id":"82fa3edc.8c682","type":"change","z":"ed916a0b.101318","name":"save to Global DMX4","rules":[{"t":"set","p":"chauvet_255_preset[3]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":420,"wires":[["d456030a.5129b"]]},{"id":"26502f28.43f6c","type":"change","z":"ed916a0b.101318","name":"save to Global DMX5","rules":[{"t":"set","p":"chauvet_255_preset[4]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":460,"wires":[["d456030a.5129b"]]},{"id":"9ccbad9.eb9405","type":"change","z":"ed916a0b.101318","name":"save to Global DMX6","rules":[{"t":"set","p":"chauvet_255_preset[5]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":800,"wires":[["d456030a.5129b"]]},{"id":"987864b7.253f18","type":"change","z":"ed916a0b.101318","name":"save to Global DMX7","rules":[{"t":"set","p":"chauvet_255_preset[6]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":540,"wires":[["d456030a.5129b"]]},{"id":"23289ab7.183116","type":"change","z":"ed916a0b.101318","name":"save to Global DMX8","rules":[{"t":"set","p":"chauvet_255_preset[7]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":580,"wires":[["d456030a.5129b"]]},{"id":"fc1d3eab.2e39f","type":"change","z":"ed916a0b.101318","name":"save to Global DMX9","rules":[{"t":"set","p":"chauvet_255_preset[8]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":500,"wires":[["d456030a.5129b"]]},{"id":"e76c8be6.9088c8","type":"change","z":"ed916a0b.101318","name":"save to Global DMX10","rules":[{"t":"set","p":"chauvet_255_preset[9]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":260,"wires":[["d456030a.5129b"]]},{"id":"8f823552.cba4b8","type":"change","z":"ed916a0b.101318","name":"save to Global DMX11","rules":[{"t":"set","p":"chauvet_255_preset[10]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":220,"wires":[["d456030a.5129b"]]},{"id":"b4309422.84ddb8","type":"change","z":"ed916a0b.101318","name":"save to Global DMX12","rules":[{"t":"set","p":"chauvet_255_preset[11]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":660,"wires":[["d456030a.5129b"]]},{"id":"563f3f58.502d6","type":"function","z":"ed916a0b.101318","name":"Just get preset","func":"global.set(\"chauvet_255_preset\", msg.payload.payload);\n\nvar preset = [];\nvar m = [];\npreset = global.get(\"chauvet_255_preset\");\n\n\nfor (var i=0;i<13;i++)\n{\n    m[i] = { payload: preset[i] };\n}\nreturn m;\n","outputs":13,"noerr":0,"x":901,"y":368,"wires":[["fc566ac3.1dbd48"],["b327d4c6.a26678"],["2ecb7cbf.ef0994"],["dc3e5822.50d098"],["130a9efe.bcf1a1"],["5d455786.ef6888"],["666f4d8f.6d0ae4"],["230b9410.8f1f6c"],[],["45ad78f8.f45fb8"],["89e80b03.b8bec8"],["be085694.ec5c28"],["29619972.1835c6"]]},{"id":"a33dcff5.e5d7","type":"function","z":"ed916a0b.101318","name":"insert preset","func":"var preset = [];\npreset = global.get(\"chauvet_255_preset\");\nvar newMsg = {};\nnewMsg.collection = 'chauvet_255_presets';\nnewMsg.payload = [\n  {topic: msg.payload},\n  {\n    \"$set\": {\n      \"payload\": preset\n    }\n  },\n  {upsert:true}\n];\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":398,"y":81,"wires":[["7f781a0a.22bc44"]]},{"id":"7f781a0a.22bc44","type":"mongodb2 in","z":"ed916a0b.101318","service":"_ext_","configNode":"e8414499.885228","name":"Store Data into MongoDB","collection":"chauvet_255_presets","operation":"findOneAndUpdate","x":609,"y":82,"wires":[["573298d.a47dd68"]]},{"id":"f2648bcd.604178","type":"function","z":"ed916a0b.101318","name":"init global variables","func":"global.set(\"dmx_preset\",[0,0,0,0,0,0,0,0,0,0,0,0]); \nmsg.payload = global.get(\"dmx_preset\");\nreturn msg;","outputs":1,"noerr":0,"x":417,"y":496,"wires":[["21793120.e3a49e","1eab64a0.de779b"]]},{"id":"6637cbdb.f653c4","type":"inject","z":"ed916a0b.101318","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":222,"y":496.5,"wires":[["f2648bcd.604178"]]},{"id":"21793120.e3a49e","type":"debug","z":"ed916a0b.101318","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":624,"y":496,"wires":[]},{"id":"e126d035.6a566","type":"debug","z":"ed916a0b.101318","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":623,"y":578,"wires":[]},{"id":"bf9cd3fd.566f7","type":"function","z":"ed916a0b.101318","name":"check global preset","func":"msg.payload = global.get(\"dmx_preset\");\nreturn msg;","outputs":1,"noerr":0,"x":416,"y":579,"wires":[["e126d035.6a566","1eab64a0.de779b"]]},{"id":"4b78ca16.2d17c4","type":"inject","z":"ed916a0b.101318","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":215,"y":573.5,"wires":[["bf9cd3fd.566f7"]]},{"id":"1eab64a0.de779b","type":"function","z":"ed916a0b.101318","name":"Reset from global","func":"var preset = [];\nvar m = [];\npreset = global.get(\"chauvet_255_preset\");\n\n\nfor (var i=0;i<13;i++)\n{\n    m[i] = { payload: preset[i] };\n}\nreturn m;\n","outputs":13,"noerr":0,"x":865.5,"y":588,"wires":[["fc566ac3.1dbd48"],["b327d4c6.a26678"],["2ecb7cbf.ef0994"],["dc3e5822.50d098"],["130a9efe.bcf1a1"],["5d455786.ef6888"],["666f4d8f.6d0ae4"],["230b9410.8f1f6c"],["9e6cea23.fea4a8"],["45ad78f8.f45fb8"],["89e80b03.b8bec8"],["be085694.ec5c28"],["29619972.1835c6"]]},{"id":"2cd200a3.7e9fd","type":"mongodb2 in","z":"ed916a0b.101318","service":"_ext_","configNode":"e8414499.885228","name":"Mongo DB dynamic operation","collection":"chauvet_255_presets","operation":"","x":519,"y":202,"wires":[["4fe5bec8.2d721"]]},{"id":"573298d.a47dd68","type":"function","z":"ed916a0b.101318","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":285,"y":199,"wires":[["2cd200a3.7e9fd"]]},{"id":"f585b7ba.d8cd48","type":"ui_dropdown","z":"ed916a0b.101318","name":"Recall Pulldown","label":"Recall","place":"Select option","group":"ef5d0924.1a70d8","order":2,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1140,"y":60,"wires":[["563f3f58.502d6","98840117.9cb5e"]]},{"id":"4fe5bec8.2d721","type":"function","z":"ed916a0b.101318","name":"Format Preset Pulldown","func":"//var preset_array = msg.payload;\nvar msg_array = [];\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic != undefined){\n        tmp_object[msg_object.topic] = {\"topic\": msg_object.topic, \"payload\": msg_object.payload};\n        msg_array[i] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":60,"wires":[["f585b7ba.d8cd48"]]},{"id":"63c5aff5.73d64","type":"inject","z":"ed916a0b.101318","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":136,"y":197.5,"wires":[["573298d.a47dd68"]]},{"id":"76d655ab.43d20c","type":"ui_text_input","z":"ed916a0b.101318","name":"","label":"Edit Preset Name","group":"ef5d0924.1a70d8","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"","x":1523,"y":57,"wires":[["8a55a58e.5761a8"]]},{"id":"370eedc3.e69aa2","type":"ui_button","z":"ed916a0b.101318","name":"Save","group":"ef5d0924.1a70d8","order":5,"width":0,"height":0,"passthru":false,"label":"Save Preset","color":"#FFF","bgcolor":"#FF0000","icon":"","payload":"","payloadType":"date","topic":"","x":78,"y":79.5,"wires":[["d217d2f1.1adf8"]]},{"id":"8a55a58e.5761a8","type":"function","z":"ed916a0b.101318","name":"set global preset name","func":"global.set(\"chauvet_255_preset_name\", msg.payload);","outputs":1,"noerr":0,"x":1755,"y":60,"wires":[[]]},{"id":"d217d2f1.1adf8","type":"function","z":"ed916a0b.101318","name":"save preset","func":"msg.payload = global.get(\"chauvet_255_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":80,"wires":[["a33dcff5.e5d7"]]},{"id":"98840117.9cb5e","type":"function","z":"ed916a0b.101318","name":"get preset name","func":"msg.payload = msg.payload.topic;\nreturn msg;","outputs":1,"noerr":0,"x":1328,"y":58.5,"wires":[["76d655ab.43d20c"]]},{"id":"5058950e.95120c","type":"ui_text","z":"ed916a0b.101318","group":"ef5d0924.1a70d8","order":3,"width":0,"height":0,"name":"","label":"SAVE PRESET","format":"{{msg.payload}}","layout":"row-left","x":254,"y":331,"wires":[]},{"id":"9c1707bb.bb6f68","type":"ui_text","z":"ed916a0b.101318","group":"ef5d0924.1a70d8","order":1,"width":0,"height":0,"name":"","label":"RECALL PRESET","format":"{{msg.payload}}","layout":"row-left","x":270,"y":280,"wires":[]},{"id":"e49ae529.ad8f38","type":"function","z":"ed916a0b.101318","name":"delete preset","func":"var newMsg = {};\nnewMsg.operation  = 'deleteOne';\nnewMsg.payload    = {'topic' : msg.payload};\nreturn newMsg;","outputs":1,"noerr":0,"x":399,"y":140,"wires":[["1d30f7e4.34b588"]]},{"id":"1d30f7e4.34b588","type":"mongodb2 in","z":"ed916a0b.101318","service":"_ext_","configNode":"e8414499.885228","name":"Store Data into MongoDB","collection":"chauvet_255_presets","operation":"","x":610,"y":141,"wires":[["573298d.a47dd68"]]},{"id":"824fbeb.edc4f4","type":"ui_button","z":"ed916a0b.101318","name":"Delete","group":"ef5d0924.1a70d8","order":6,"width":0,"height":0,"passthru":false,"label":"Delete Preset","color":"#FFF","bgcolor":"#FF00FF","icon":"","payload":"","payloadType":"date","topic":"","x":79,"y":138.5,"wires":[["86c20534.8abb68"]]},{"id":"86c20534.8abb68","type":"function","z":"ed916a0b.101318","name":"delete preset","func":"msg.payload = global.get(\"chauvet_255_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":231,"y":139,"wires":[["e49ae529.ad8f38"]]},{"id":"d456030a.5129b","type":"function","z":"ed916a0b.101318","name":"Send Current Universe","func":"msg.payload = { \n                dmx: global.get(\"chauvet_255_preset\"),\n                offset: 1\n            };\nreturn msg;","outputs":1,"noerr":0,"x":1940,"y":480,"wires":[[]]},{"id":"29619972.1835c6","type":"ui_slider","z":"ed916a0b.101318","name":"DMX13 AUTO MACROS","label":"DMX 13: Auto Macros","group":"1b4c344c.bd38ac","order":7,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1190,"y":700,"wires":[["b92e5bac.03bc48"]]},{"id":"97aa7054.7d4f8","type":"change","z":"ed916a0b.101318","name":"save to Global DMX13","rules":[{"t":"set","p":"chauvet_255_preset[12]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":700,"wires":[["d456030a.5129b"]]},{"id":"b102f0ab.46198","type":"ui_numeric","z":"ed916a0b.101318","name":"DMX 2: Fine Pan","label":"Fine Pan","group":"ea3bd860.23d408","order":8,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"254","step":1,"x":1350,"y":380,"wires":[["37e402b3.12f72e"]]},{"id":"38a58d29.2e8db2","type":"ui_numeric","z":"ed916a0b.101318","name":"DMX 3: Tilt (0-270 deg)","label":"Tilt (0-270 deg)","group":"ea3bd860.23d408","order":6,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"254","step":1,"x":1350,"y":340,"wires":[["c9baec6b.d2238"]]},{"id":"7af80827.6758d8","type":"ui_numeric","z":"ed916a0b.101318","name":"DMX 4: Fine Tilt","label":"Fine Tilt","group":"ea3bd860.23d408","order":10,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1340,"y":420,"wires":[["82fa3edc.8c682"]]},{"id":"a8f1a517.d55358","type":"ui_numeric","z":"ed916a0b.101318","name":"DMX 5 Speed (Fast to Slow)","label":"Speed (Fast to Slow)","group":"ea3bd860.23d408","order":12,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1380,"y":460,"wires":[["26502f28.43f6c"]]},{"id":"5d455786.ef6888","type":"ui_numeric","z":"ed916a0b.101318","name":"","label":"Color DMX Output Value","group":"27f07b90.e6d524","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1410,"y":800,"wires":[["9ccbad9.eb9405"]]},{"id":"cab267a5.d51938","type":"ui_numeric","z":"ed916a0b.101318","name":"","label":"numeric","group":"e33de808.a12a18","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1320,"y":540,"wires":[["987864b7.253f18"]]},{"id":"8dd50cc7.44d4a","type":"ui_numeric","z":"ed916a0b.101318","name":"","label":"numeric","group":"e33de808.a12a18","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1360,"y":580,"wires":[["23289ab7.183116"]]},{"id":"d8da9abc.e28d28","type":"ui_numeric","z":"ed916a0b.101318","name":"DMX 10 Dimmer (0-100%)","label":"Dimmer (0-100%)","group":"ea3bd860.23d408","order":2,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"254","step":1,"x":1380,"y":260,"wires":[["e76c8be6.9088c8"]]},{"id":"55d9844b.9fbcbc","type":"ui_numeric","z":"ed916a0b.101318","name":"DMX 11 Shutter","label":"Strobe (increasing speed)","group":"1b4c344c.bd38ac","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1360,"y":220,"wires":[["8f823552.cba4b8","7846dd84.b713b4"]]},{"id":"44dc7270.224eec","type":"ui_numeric","z":"ed916a0b.101318","name":"","label":"numeric","group":"e33de808.a12a18","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1380,"y":660,"wires":[["b4309422.84ddb8"]]},{"id":"b92e5bac.03bc48","type":"ui_numeric","z":"ed916a0b.101318","name":"","label":"numeric","group":"e33de808.a12a18","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1380,"y":700,"wires":[["97aa7054.7d4f8"]]},{"id":"fc566ac3.1dbd48","type":"ui_slider","z":"ed916a0b.101318","name":"DMX1 PAN","label":"","group":"ea3bd860.23d408","order":5,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1130,"y":300,"wires":[["4b17d588.acf18c"]]},{"id":"4b17d588.acf18c","type":"ui_numeric","z":"ed916a0b.101318","name":"DMX 1: Pan (0-540 deg)","label":"Pan (0-254 = 0-540 deg)","group":"ea3bd860.23d408","order":4,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"254","step":1,"x":1350,"y":300,"wires":[["449ef367.35a6bc"]]},{"id":"43f1fe7b.9d6cd","type":"ui_switch","z":"ed916a0b.101318","name":"","label":"Shutter ON/OFF","group":"ea3bd860.23d408","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"7","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":1400,"y":120,"wires":[["89e80b03.b8bec8"]]},{"id":"7846dd84.b713b4","type":"function","z":"ed916a0b.101318","name":"update shutter switch based on dmx data","func":"if (msg.payload > 4){\n    msg.payload = 7;\n}\nelse {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1640,"y":180,"wires":[["43f1fe7b.9d6cd"]]},{"id":"9e6cea23.fea4a8","type":"ui_switch","z":"ed916a0b.101318","name":"","label":"Prism ON/OFF","group":"1b4c344c.bd38ac","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"16","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":1140,"y":500,"wires":[["fc1d3eab.2e39f"]]},{"id":"8d020dec.ae069","type":"ui_button","z":"ed916a0b.101318","name":"red","group":"27f07b90.e6d524","order":8,"width":0,"height":0,"passthru":false,"label":"red","color":"","bgcolor":"red","icon":"","payload":"28","payloadType":"num","topic":"","x":1050,"y":1020,"wires":[["5d455786.ef6888"]]},{"id":"8598fae1.b274e8","type":"ui_button","z":"ed916a0b.101318","name":"white","group":"27f07b90.e6d524","order":4,"width":0,"height":0,"passthru":false,"label":"white","color":"black","bgcolor":"white","icon":"","payload":"0","payloadType":"num","topic":"","x":1050,"y":860,"wires":[["5d455786.ef6888"]]},{"id":"18182aea.06fd35","type":"ui_button","z":"ed916a0b.101318","name":"yellow","group":"27f07b90.e6d524","order":5,"width":0,"height":0,"passthru":false,"label":"yellow","color":"black","bgcolor":"yellow","icon":"","payload":"7","payloadType":"num","topic":"","x":1050,"y":900,"wires":[["5d455786.ef6888"]]},{"id":"5240cff2.7b23b","type":"ui_button","z":"ed916a0b.101318","name":"pink","group":"27f07b90.e6d524","order":6,"width":0,"height":0,"passthru":false,"label":"pink","color":"","bgcolor":"magenta","icon":"","payload":"14","payloadType":"num","topic":"","x":1050,"y":940,"wires":[["5d455786.ef6888"]]},{"id":"8286b730.d69438","type":"ui_button","z":"ed916a0b.101318","name":"green","group":"27f07b90.e6d524","order":7,"width":0,"height":0,"passthru":false,"label":"green","color":"","bgcolor":"green","icon":"","payload":"21","payloadType":"num","topic":"","x":1050,"y":980,"wires":[["5d455786.ef6888"]]},{"id":"cef1f8e7.3ccbf8","type":"ui_button","z":"ed916a0b.101318","name":"light blue","group":"27f07b90.e6d524","order":9,"width":0,"height":0,"passthru":false,"label":"light blue","color":"black","bgcolor":"cyan","icon":"","payload":"35","payloadType":"num","topic":"","x":1060,"y":1060,"wires":[["5d455786.ef6888"]]},{"id":"e0ea971e.c47df8","type":"ui_button","z":"ed916a0b.101318","name":"kelly green","group":"27f07b90.e6d524","order":10,"width":0,"height":0,"passthru":false,"label":"kelly green","color":"black","bgcolor":"lime","icon":"","payload":"42","payloadType":"num","topic":"","x":1070,"y":1100,"wires":[["5d455786.ef6888"]]},{"id":"614a82da.c65fdc","type":"ui_button","z":"ed916a0b.101318","name":"orange","group":"27f07b90.e6d524","order":11,"width":0,"height":0,"passthru":false,"label":"orange","color":"","bgcolor":"orange","icon":"","payload":"49","payloadType":"num","topic":"","x":1060,"y":1140,"wires":[["5d455786.ef6888"]]},{"id":"2adff5e2.cce8ca","type":"ui_button","z":"ed916a0b.101318","name":"dark blue","group":"27f07b90.e6d524","order":12,"width":0,"height":0,"passthru":false,"label":"dark blue","color":"","bgcolor":"blue","icon":"","payload":"56","payloadType":"num","topic":"","x":1060,"y":1180,"wires":[["5d455786.ef6888"]]},{"id":"eb6e03d1.2696c","type":"ui_switch","z":"ed916a0b.101318","name":"","label":"Color Wheel UP/DOWN & SPEED","group":"27f07b90.e6d524","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"192","onvalueType":"num","onicon":"","oncolor":"","offvalue":"128","offvalueType":"num","officon":"","offcolor":"","x":680,"y":740,"wires":[["e7cbaf4f.84ba7"]]},{"id":"e7cbaf4f.84ba7","type":"function","z":"ed916a0b.101318","name":"save flow offset","func":"flow.set(\"color_wheel_offset\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":740,"wires":[["8e998892.832f08"]]},{"id":"8e998892.832f08","type":"function","z":"ed916a0b.101318","name":"color wheel slider + offset","func":"var offset = flow.get(\"color_wheel_offset\");\nvar color_wheel_slider = flow.get(\"color_wheel_slider\");\nmsg.payload = offset + color_wheel_slider;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":780,"wires":[["5d455786.ef6888"]]},{"id":"f5d6999a.ae7958","type":"function","z":"ed916a0b.101318","name":"save flow offset","func":"flow.set(\"color_wheel_speed\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":800,"wires":[["8e998892.832f08"]]},{"id":"ea3bd860.23d408","type":"ui_group","z":"","name":"Dimmer/Pan/Tilt/Speed","tab":"308e9e25.e2c0e2","order":2,"disp":true,"width":"6","collapse":false},{"id":"1b4c344c.bd38ac","type":"ui_group","z":"","name":"FX","tab":"308e9e25.e2c0e2","order":4,"disp":true,"width":"6","collapse":false},{"id":"27f07b90.e6d524","type":"ui_group","z":"","name":"COLORS","tab":"308e9e25.e2c0e2","order":3,"disp":true,"width":"6","collapse":false},{"id":"e8414499.885228","type":"mongodb2","z":"","uri":"mongodb://127.0.0.1:27017/cinebrain","name":"cinebrain db","options":"","parallelism":"-1"},{"id":"ef5d0924.1a70d8","type":"ui_group","z":"","name":"PRESETS","tab":"308e9e25.e2c0e2","order":1,"disp":true,"width":"4","collapse":false},{"id":"e33de808.a12a18","type":"ui_group","z":"","name":"RECALL PRESETS","tab":"","order":1,"disp":true,"width":"6","collapse":true},{"id":"308e9e25.e2c0e2","type":"ui_tab","z":"","name":"DMX Chauver 255","icon":"dashboard","order":5},{"id":"76ad3007.c137a","type":"subflow:ed916a0b.101318","z":"68b10b3.d3953f4","name":"Chauvet Intimidator 255 - 13ch","x":510,"y":240,"wires":[["af1dd946.2539a8"]]},{"id":"d2fca79d.2ec948","type":"dmxusbpro","z":"68b10b3.d3953f4","name":"","port":"COM4","DMX_starting_address":"1","x":1130,"y":200,"wires":[[]]},{"id":"3a402de4.fcef82","type":"debug","z":"68b10b3.d3953f4","name":"Current Universe","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1150,"y":260,"wires":[]},{"id":"af1dd946.2539a8","type":"function","z":"68b10b3.d3953f4","name":"format and trigger DMX universe","func":"msg.payload = msg.payload.dmx;\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":240,"wires":[["d2fca79d.2ec948","3a402de4.fcef82"]]}]