DMX_UNIVERSE_with subflows_v1.json
[{"id":"bcca6388.a5525","type":"subflow","name":"Subflow 3","info":"","category":"","in":[],"out":[{"x":2120,"y":340,"wires":[{"id":"351c8532.a666fa","port":0}]}]},{"id":"351c8532.a666fa","type":"function","z":"bcca6388.a5525","name":"Send Current Universe","func":"msg.payload = { \n                dmx: global.get(\"chauvet_255_preset\"),\n                offset: 1\n            };\nreturn msg;","outputs":1,"noerr":0,"x":1940,"y":340,"wires":[[]]},{"id":"ca82846c.975fd8","type":"ui_slider","z":"bcca6388.a5525","name":"DMX11 SHUTTER","label":"","group":"ea3bd860.23d408","order":15,"width":0,"height":0,"passthru":true,"topic":"Slider","min":"7","max":"215","step":1,"x":1150,"y":200,"wires":[["38acb0fc.6dc2b"]]},{"id":"f2d091f1.30d66","type":"ui_slider","z":"bcca6388.a5525","name":"DMX5 DIMMER","label":"","group":"e1e5477d.90bf08","order":2,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1140,"y":440,"wires":[["7f2df472.dea0bc"]]},{"id":"92188af8.bfb628","type":"ui_slider","z":"bcca6388.a5525","name":"DMX6 STROBE SPEED","label":"","group":"e1e5477d.90bf08","order":13,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"239","step":"1","x":710,"y":520,"wires":[["da8a27c3.1b5b18"]]},{"id":"13fccb82.998164","type":"change","z":"bcca6388.a5525","name":"save to Global DMX1","rules":[{"t":"set","p":"chauvet_255_preset[0]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":280,"wires":[["351c8532.a666fa"]]},{"id":"e45f50f8.2957c","type":"change","z":"bcca6388.a5525","name":"save to Global DMX2","rules":[{"t":"set","p":"chauvet_255_preset[1]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":320,"wires":[["351c8532.a666fa"]]},{"id":"e150641b.0b90d8","type":"change","z":"bcca6388.a5525","name":"save to Global DMX3","rules":[{"t":"set","p":"chauvet_255_preset[2]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":360,"wires":[["351c8532.a666fa"]]},{"id":"9f47a0b5.56355","type":"change","z":"bcca6388.a5525","name":"save to Global DMX4","rules":[{"t":"set","p":"chauvet_255_preset[3]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":400,"wires":[["351c8532.a666fa"]]},{"id":"272d12f3.dde3ae","type":"change","z":"bcca6388.a5525","name":"save to Global DMX6","rules":[{"t":"set","p":"chauvet_255_preset[5]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":480,"wires":[["351c8532.a666fa"]]},{"id":"1a6859b0.facea6","type":"change","z":"bcca6388.a5525","name":"save to Global DMX5","rules":[{"t":"set","p":"chauvet_255_preset[4]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":440,"wires":[["351c8532.a666fa"]]},{"id":"9f3b0c29.71424","type":"change","z":"bcca6388.a5525","name":"save to Global DMX11","rules":[{"t":"set","p":"chauvet_255_preset[10]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":200,"wires":[["351c8532.a666fa"]]},{"id":"4d6c6362.6d9d3c","type":"function","z":"bcca6388.a5525","name":"Just get preset","func":"global.set(\"adj_pinspot_preset\", msg.payload.payload);\n\nvar preset = [];\nvar m = [];\npreset = global.get(\"adj_pinspot_preset\");\n\n\nfor (var i=0;i<6;i++)\n{\n    m[i] = { payload: preset[i] };\n}\nreturn m;\n","outputs":6,"noerr":0,"x":800,"y":260,"wires":[["530bd5ca.7f41bc"],["41cf2f91.e7258"],["1ef809fa.c29086"],["b9a4dc4e.60534"],["f2d091f1.30d66"],[]]},{"id":"c1e9c0af.de02a","type":"function","z":"bcca6388.a5525","name":"insert preset","func":"var preset = [];\npreset = global.get(\"adj_pinspot_preset\");\nvar newMsg = {};\nnewMsg.collection = 'adj_pinspot_preset';\nnewMsg.payload = [\n  {topic: msg.payload},\n  {\n    \"$set\": {\n      \"payload\": preset\n    }\n  },\n  {upsert:true}\n];\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":398,"y":61,"wires":[["9784ecc8.8f6a7"]]},{"id":"9784ecc8.8f6a7","type":"mongodb2 in","z":"bcca6388.a5525","service":"_ext_","configNode":"e8414499.885228","name":"Store Data into MongoDB","collection":"adj_pinspot_presets","operation":"findOneAndUpdate","x":609,"y":62,"wires":[["63cd8fad.9bafe"]]},{"id":"57d7a904.f142e8","type":"function","z":"bcca6388.a5525","name":"init global variables","func":"global.set(\"dmx_preset\",[0,0,0,0,0,0,0,0,0,0,0,0]); \nmsg.payload = global.get(\"dmx_preset\");\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":360,"wires":[["44117ba1.c66174","5bd98887.2bd6b8"]]},{"id":"49992853.3f4b28","type":"inject","z":"bcca6388.a5525","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":360,"wires":[["57d7a904.f142e8"]]},{"id":"44117ba1.c66174","type":"debug","z":"bcca6388.a5525","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":360,"wires":[]},{"id":"4ff0fb55.41aed4","type":"debug","z":"bcca6388.a5525","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":420,"wires":[]},{"id":"b6c04970.c25928","type":"function","z":"bcca6388.a5525","name":"check global preset","func":"msg.payload = global.get(\"dmx_preset\");\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":420,"wires":[["4ff0fb55.41aed4","5bd98887.2bd6b8"]]},{"id":"cc228e3b.0750c","type":"inject","z":"bcca6388.a5525","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":420,"wires":[["b6c04970.c25928"]]},{"id":"5bd98887.2bd6b8","type":"function","z":"bcca6388.a5525","name":"Reset from global","func":"var preset = [];\nvar m = [];\npreset = global.get(\"adj_pinspot_preset\");\n\n\nfor (var i=0;i<6;i++)\n{\n    m[i] = { payload: preset[i] };\n}\nreturn m;\n","outputs":6,"noerr":0,"x":810,"y":380,"wires":[["530bd5ca.7f41bc"],["41cf2f91.e7258"],["1ef809fa.c29086"],["b9a4dc4e.60534"],["f2d091f1.30d66"],[]]},{"id":"f479debe.2d35e","type":"mongodb2 in","z":"bcca6388.a5525","service":"_ext_","configNode":"e8414499.885228","name":"Mongo DB dynamic operation","collection":"adj_pinspot_presets","operation":"","x":519,"y":182,"wires":[["aa1903b9.f306a"]]},{"id":"63cd8fad.9bafe","type":"function","z":"bcca6388.a5525","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":285,"y":179,"wires":[["f479debe.2d35e"]]},{"id":"9f311e1b.ef721","type":"ui_dropdown","z":"bcca6388.a5525","name":"Recall Pulldown","label":"Recall","place":"Select option","group":"c9bf2bce.8a91d8","order":2,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1140,"y":40,"wires":[["4d6c6362.6d9d3c","ed49ecef.417ce"]]},{"id":"aa1903b9.f306a","type":"function","z":"bcca6388.a5525","name":"Format Preset Pulldown","func":"//var preset_array = msg.payload;\nvar msg_array = [];\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic != undefined){\n        tmp_object[msg_object.topic] = {\"topic\": msg_object.topic, \"payload\": msg_object.payload};\n        msg_array[i] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":40,"wires":[["9f311e1b.ef721"]]},{"id":"36080d8f.a8ba62","type":"inject","z":"bcca6388.a5525","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":180,"wires":[["63cd8fad.9bafe"]]},{"id":"c99c867c.b65c08","type":"ui_text_input","z":"bcca6388.a5525","name":"","label":"Edit Preset Name","group":"c9bf2bce.8a91d8","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"","x":1523,"y":37,"wires":[["5a7af80b.e3c938"]]},{"id":"39634940.1cb946","type":"ui_button","z":"bcca6388.a5525","name":"Save","group":"c9bf2bce.8a91d8","order":5,"width":0,"height":0,"passthru":false,"label":"Save Preset","color":"#FFF","bgcolor":"#FF0000","icon":"","payload":"","payloadType":"date","topic":"","x":70,"y":60,"wires":[["bd61b541.5ac8c8"]]},{"id":"5a7af80b.e3c938","type":"function","z":"bcca6388.a5525","name":"set global preset name","func":"global.set(\"adj_pinspot_preset_name\", msg.payload);","outputs":1,"noerr":0,"x":1755,"y":40,"wires":[[]]},{"id":"bd61b541.5ac8c8","type":"function","z":"bcca6388.a5525","name":"save preset","func":"msg.payload = global.get(\"adj_pinspot_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":60,"wires":[["c1e9c0af.de02a"]]},{"id":"ed49ecef.417ce","type":"function","z":"bcca6388.a5525","name":"get preset name","func":"msg.payload = msg.payload.topic;\nreturn msg;","outputs":1,"noerr":0,"x":1328,"y":38.5,"wires":[["c99c867c.b65c08"]]},{"id":"5c857d58.a44ab4","type":"ui_text","z":"bcca6388.a5525","group":"c9bf2bce.8a91d8","order":4,"width":0,"height":0,"name":"","label":"SAVE PRESET","format":"{{msg.payload}}","layout":"row-left","x":100,"y":300,"wires":[]},{"id":"33c6e666.ca373a","type":"ui_text","z":"bcca6388.a5525","group":"c9bf2bce.8a91d8","order":1,"width":0,"height":0,"name":"","label":"RECALL PRESET","format":"{{msg.payload}}","layout":"row-left","x":110,"y":240,"wires":[]},{"id":"463c4758.9c9f98","type":"function","z":"bcca6388.a5525","name":"delete preset","func":"var newMsg = {};\nnewMsg.operation  = 'deleteOne';\nnewMsg.payload    = {'topic' : msg.payload};\nreturn newMsg;","outputs":1,"noerr":0,"x":399,"y":120,"wires":[["e0010259.54f77"]]},{"id":"e0010259.54f77","type":"mongodb2 in","z":"bcca6388.a5525","service":"_ext_","configNode":"e8414499.885228","name":"Store Data into MongoDB","collection":"adj_pinspot_presets","operation":"","x":610,"y":121,"wires":[["63cd8fad.9bafe"]]},{"id":"8e4cf20e.58ed3","type":"ui_button","z":"bcca6388.a5525","name":"Delete","group":"c9bf2bce.8a91d8","order":6,"width":0,"height":0,"passthru":false,"label":"Delete Preset","color":"#FFF","bgcolor":"#FF00FF","icon":"","payload":"","payloadType":"date","topic":"","x":70,"y":120,"wires":[["7c853799.c4a938"]]},{"id":"7c853799.c4a938","type":"function","z":"bcca6388.a5525","name":"delete preset","func":"msg.payload = global.get(\"adj_pinspot_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":231,"y":119,"wires":[["463c4758.9c9f98"]]},{"id":"c8e3a077.66cc4","type":"ui_numeric","z":"bcca6388.a5525","name":"","label":"Strobe Values","group":"e1e5477d.90bf08","order":11,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1320,"y":480,"wires":[["272d12f3.dde3ae"]]},{"id":"7f2df472.dea0bc","type":"ui_numeric","z":"bcca6388.a5525","name":"DMX 5 Dimmer (0-100%)","label":"Dimmer (0-100%)","group":"e1e5477d.90bf08","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1350,"y":440,"wires":[["1a6859b0.facea6"]]},{"id":"38acb0fc.6dc2b","type":"ui_numeric","z":"bcca6388.a5525","name":"DMX 11 Shutter","label":"Strobe (Slow to Fast)","group":"ea3bd860.23d408","order":14,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1360,"y":200,"wires":[["9f3b0c29.71424","421b1206.31f1ec"]]},{"id":"530bd5ca.7f41bc","type":"ui_slider","z":"bcca6388.a5525","name":"DMX1 RED","label":"","group":"e1e5477d.90bf08","order":4,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1130,"y":280,"wires":[["d17bf671.168958"]]},{"id":"d17bf671.168958","type":"ui_numeric","z":"bcca6388.a5525","name":"DMX 1: RED","label":"RED","group":"e1e5477d.90bf08","order":3,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1310,"y":280,"wires":[["13fccb82.998164"]]},{"id":"ac8d88f4.460b28","type":"ui_switch","z":"bcca6388.a5525","name":"","label":"Shutter ON/OFF","group":"ea3bd860.23d408","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"7","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":1400,"y":100,"wires":[["ca82846c.975fd8"]]},{"id":"421b1206.31f1ec","type":"function","z":"bcca6388.a5525","name":"update shutter switch based on dmx data","func":"if (msg.payload > 4){\n    msg.payload = 7;\n}\nelse {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1640,"y":160,"wires":[["ac8d88f4.460b28"]]},{"id":"bc28600a.41122","type":"ui_switch","z":"bcca6388.a5525","name":"","label":"Strobe ON/OFF & SPEED","group":"e1e5477d.90bf08","order":12,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"8","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":710,"y":480,"wires":[["7c45b0c9.16025"]]},{"id":"7c45b0c9.16025","type":"function","z":"bcca6388.a5525","name":"save flow offset","func":"flow.set(\"strobe_offset\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":480,"wires":[["9f5f2cdc.7de5d"]]},{"id":"da8a27c3.1b5b18","type":"function","z":"bcca6388.a5525","name":"save flow offset","func":"flow.set(\"strobe_speed\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":520,"wires":[["9f5f2cdc.7de5d"]]},{"id":"9f5f2cdc.7de5d","type":"function","z":"bcca6388.a5525","name":"strobe speed + offset","func":"var offset = flow.get(\"strobe_offset\");\nvar sound_strobe = flow.get(\"sound_strobe_flag\");\nif(offset!==0){\n    if (sound_strobe !==0 ) {\n        msg.payload = sound_strobe;\n    }\n    else {\n        var strobe_speed = flow.get(\"strobe_speed\");\n        msg.payload = offset + strobe_speed;\n    }\n}\nelse {\n    msg.payload = 0;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":1120,"y":480,"wires":[["c8e3a077.66cc4"]]},{"id":"41cf2f91.e7258","type":"ui_slider","z":"bcca6388.a5525","name":"DMX2 GREEN","label":"","group":"e1e5477d.90bf08","order":6,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1140,"y":320,"wires":[["fc256d3a.0c37"]]},{"id":"fc256d3a.0c37","type":"ui_numeric","z":"bcca6388.a5525","name":"DMX 2: GREEN","label":"GREEN","group":"e1e5477d.90bf08","order":5,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1320,"y":320,"wires":[["e45f50f8.2957c"]]},{"id":"1ef809fa.c29086","type":"ui_slider","z":"bcca6388.a5525","name":"DMX3 BLUE","label":"","group":"e1e5477d.90bf08","order":8,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1130,"y":360,"wires":[["38a9ff9.02eff"]]},{"id":"38a9ff9.02eff","type":"ui_numeric","z":"bcca6388.a5525","name":"DMX 3: BLUE","label":"BLUE","group":"e1e5477d.90bf08","order":7,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1320,"y":360,"wires":[["e150641b.0b90d8"]]},{"id":"b9a4dc4e.60534","type":"ui_slider","z":"bcca6388.a5525","name":"DMX4 WHITE","label":"","group":"e1e5477d.90bf08","order":10,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1140,"y":400,"wires":[["f6927484.511c28"]]},{"id":"f6927484.511c28","type":"ui_numeric","z":"bcca6388.a5525","name":"DMX 4: WHITE","label":"WHITE","group":"e1e5477d.90bf08","order":9,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1320,"y":400,"wires":[["9f47a0b5.56355"]]},{"id":"efc17a87.3ce578","type":"ui_switch","z":"bcca6388.a5525","name":"","label":"Sound Activated Strobe ON/OFF","group":"e1e5477d.90bf08","order":14,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"248","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":680,"y":560,"wires":[["e0ce1433.4d3298"]]},{"id":"e0ce1433.4d3298","type":"function","z":"bcca6388.a5525","name":"save flow offset","func":"flow.set(\"sound_strobe_flag\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":560,"wires":[["9f5f2cdc.7de5d"]]},{"id":"e1e5477d.90bf08","type":"ui_group","z":"","name":"SLIDERS","tab":"d071e088.1d474","order":2,"disp":true,"width":"6","collapse":false},{"id":"c9bf2bce.8a91d8","type":"ui_group","z":"","name":"PRESETS","tab":"d071e088.1d474","order":1,"disp":true,"width":"6","collapse":false},{"id":"d071e088.1d474","type":"ui_tab","z":"","name":"DMX ADJ Pinspot","icon":"dashboard","order":6},{"id":"ed916a0b.101318","type":"subflow","name":"Subflow 2","info":"","category":"","in":[],"out":[{"x":2100,"y":480,"wires":[{"id":"d456030a.5129b","port":0}]}]},{"id":"b327d4c6.a26678","type":"ui_slider","z":"ed916a0b.101318","name":"DMX2 FINE PAN","label":"","group":"ea3bd860.23d408","order":9,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1150,"y":380,"wires":[["b102f0ab.46198"]]},{"id":"89e80b03.b8bec8","type":"ui_slider","z":"ed916a0b.101318","name":"DMX11 SHUTTER","label":"","group":"ea3bd860.23d408","order":15,"width":0,"height":0,"passthru":true,"topic":"Slider","min":"7","max":"215","step":1,"x":1150,"y":220,"wires":[["55d9844b.9fbcbc"]]},{"id":"45ad78f8.f45fb8","type":"ui_slider","z":"ed916a0b.101318","name":"DMX10 DIMMER","label":"","group":"ea3bd860.23d408","order":3,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1150,"y":260,"wires":[["d8da9abc.e28d28"]]},{"id":"f92ed2dd.76421","type":"ui_slider","z":"ed916a0b.101318","name":"DMX6 COLOR WHEEL SPEED","label":"","group":"27f07b90.e6d524","order":3,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"63","step":"1","x":670,"y":800,"wires":[["f5d6999a.ae7958"]]},{"id":"130a9efe.bcf1a1","type":"ui_slider","z":"ed916a0b.101318","name":"DMX5 SPEED","label":"","group":"ea3bd860.23d408","order":13,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1140,"y":460,"wires":[["a8f1a517.d55358"]]},{"id":"dc3e5822.50d098","type":"ui_slider","z":"ed916a0b.101318","name":"DMX4 FINE TILT","label":"","group":"ea3bd860.23d408","order":11,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1150,"y":420,"wires":[["7af80827.6758d8"]]},{"id":"2ecb7cbf.ef0994","type":"ui_slider","z":"ed916a0b.101318","name":"DMX3 TILT","label":"","group":"ea3bd860.23d408","order":7,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1130,"y":340,"wires":[["38a58d29.2e8db2"]]},{"id":"449ef367.35a6bc","type":"change","z":"ed916a0b.101318","name":"save to Global DMX1","rules":[{"t":"set","p":"chauvet_255_preset[0]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":300,"wires":[["d456030a.5129b"]]},{"id":"37e402b3.12f72e","type":"change","z":"ed916a0b.101318","name":"save to Global DMX2","rules":[{"t":"set","p":"chauvet_255_preset[1]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":380,"wires":[["d456030a.5129b"]]},{"id":"c9baec6b.d2238","type":"change","z":"ed916a0b.101318","name":"save to Global DMX3","rules":[{"t":"set","p":"chauvet_255_preset[2]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":340,"wires":[["d456030a.5129b"]]},{"id":"82fa3edc.8c682","type":"change","z":"ed916a0b.101318","name":"save to Global DMX4","rules":[{"t":"set","p":"chauvet_255_preset[3]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":420,"wires":[["d456030a.5129b"]]},{"id":"26502f28.43f6c","type":"change","z":"ed916a0b.101318","name":"save to Global DMX5","rules":[{"t":"set","p":"chauvet_255_preset[4]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":460,"wires":[["d456030a.5129b"]]},{"id":"9ccbad9.eb9405","type":"change","z":"ed916a0b.101318","name":"save to Global DMX6","rules":[{"t":"set","p":"chauvet_255_preset[5]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":780,"wires":[["d456030a.5129b"]]},{"id":"987864b7.253f18","type":"change","z":"ed916a0b.101318","name":"save to Global DMX7","rules":[{"t":"set","p":"chauvet_255_preset[6]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":540,"wires":[["d456030a.5129b"]]},{"id":"23289ab7.183116","type":"change","z":"ed916a0b.101318","name":"save to Global DMX8","rules":[{"t":"set","p":"chauvet_255_preset[7]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":580,"wires":[["d456030a.5129b"]]},{"id":"fc1d3eab.2e39f","type":"change","z":"ed916a0b.101318","name":"save to Global DMX9","rules":[{"t":"set","p":"chauvet_255_preset[8]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":500,"wires":[["d456030a.5129b"]]},{"id":"e76c8be6.9088c8","type":"change","z":"ed916a0b.101318","name":"save to Global DMX10","rules":[{"t":"set","p":"chauvet_255_preset[9]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":260,"wires":[["d456030a.5129b"]]},{"id":"8f823552.cba4b8","type":"change","z":"ed916a0b.101318","name":"save to Global DMX11","rules":[{"t":"set","p":"chauvet_255_preset[10]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":220,"wires":[["d456030a.5129b"]]},{"id":"563f3f58.502d6","type":"function","z":"ed916a0b.101318","name":"Just get preset","func":"global.set(\"chauvet_255_preset\", msg.payload.payload);\n\nvar preset = [];\nvar m = [];\npreset = global.get(\"chauvet_255_preset\");\n\n\nfor (var i=0;i<13;i++)\n{\n    m[i] = { payload: preset[i] };\n}\nreturn m;\n","outputs":13,"noerr":0,"x":901,"y":368,"wires":[["fc566ac3.1dbd48"],["b327d4c6.a26678"],["2ecb7cbf.ef0994"],["dc3e5822.50d098"],["130a9efe.bcf1a1"],["5d455786.ef6888"],["9d19f5cf.940fa8"],["aa2c9890.0961c8"],["9e6cea23.fea4a8"],["45ad78f8.f45fb8"],["89e80b03.b8bec8"],[],[]]},{"id":"a33dcff5.e5d7","type":"function","z":"ed916a0b.101318","name":"insert preset","func":"var preset = [];\npreset = global.get(\"chauvet_255_preset\");\nvar newMsg = {};\nnewMsg.collection = 'chauvet_255_presets';\nnewMsg.payload = [\n  {topic: msg.payload},\n  {\n    \"$set\": {\n      \"payload\": preset\n    }\n  },\n  {upsert:true}\n];\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":398,"y":81,"wires":[["7f781a0a.22bc44"]]},{"id":"7f781a0a.22bc44","type":"mongodb2 in","z":"ed916a0b.101318","service":"_ext_","configNode":"e8414499.885228","name":"Store Data into MongoDB","collection":"chauvet_255_presets","operation":"findOneAndUpdate","x":609,"y":82,"wires":[["573298d.a47dd68"]]},{"id":"f2648bcd.604178","type":"function","z":"ed916a0b.101318","name":"init global variables","func":"global.set(\"dmx_preset\",[0,0,0,0,0,0,0,0,0,0,0,0]); \nmsg.payload = global.get(\"dmx_preset\");\nreturn msg;","outputs":1,"noerr":0,"x":417,"y":496,"wires":[["21793120.e3a49e","1eab64a0.de779b"]]},{"id":"6637cbdb.f653c4","type":"inject","z":"ed916a0b.101318","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":222,"y":496.5,"wires":[["f2648bcd.604178"]]},{"id":"21793120.e3a49e","type":"debug","z":"ed916a0b.101318","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":624,"y":496,"wires":[]},{"id":"e126d035.6a566","type":"debug","z":"ed916a0b.101318","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":623,"y":578,"wires":[]},{"id":"bf9cd3fd.566f7","type":"function","z":"ed916a0b.101318","name":"check global preset","func":"msg.payload = global.get(\"dmx_preset\");\nreturn msg;","outputs":1,"noerr":0,"x":416,"y":579,"wires":[["e126d035.6a566","1eab64a0.de779b"]]},{"id":"4b78ca16.2d17c4","type":"inject","z":"ed916a0b.101318","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":215,"y":573.5,"wires":[["bf9cd3fd.566f7"]]},{"id":"1eab64a0.de779b","type":"function","z":"ed916a0b.101318","name":"Reset from global","func":"var preset = [];\nvar m = [];\npreset = global.get(\"chauvet_255_preset\");\n\n\nfor (var i=0;i<13;i++)\n{\n    m[i] = { payload: preset[i] };\n}\nreturn m;\n","outputs":13,"noerr":0,"x":865.5,"y":588,"wires":[["fc566ac3.1dbd48"],["b327d4c6.a26678"],["2ecb7cbf.ef0994"],["dc3e5822.50d098"],["130a9efe.bcf1a1"],["5d455786.ef6888"],["9d19f5cf.940fa8"],["aa2c9890.0961c8"],["9e6cea23.fea4a8"],["45ad78f8.f45fb8"],["89e80b03.b8bec8"],[],[]]},{"id":"2cd200a3.7e9fd","type":"mongodb2 in","z":"ed916a0b.101318","service":"_ext_","configNode":"e8414499.885228","name":"Mongo DB dynamic operation","collection":"chauvet_255_presets","operation":"","x":519,"y":202,"wires":[["4fe5bec8.2d721"]]},{"id":"573298d.a47dd68","type":"function","z":"ed916a0b.101318","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":285,"y":199,"wires":[["2cd200a3.7e9fd"]]},{"id":"f585b7ba.d8cd48","type":"ui_dropdown","z":"ed916a0b.101318","name":"Recall Pulldown","label":"Recall","place":"Select option","group":"ef5d0924.1a70d8","order":2,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1140,"y":60,"wires":[["563f3f58.502d6","98840117.9cb5e"]]},{"id":"4fe5bec8.2d721","type":"function","z":"ed916a0b.101318","name":"Format Preset Pulldown","func":"//var preset_array = msg.payload;\nvar msg_array = [];\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic != undefined){\n        tmp_object[msg_object.topic] = {\"topic\": msg_object.topic, \"payload\": msg_object.payload};\n        msg_array[i] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":60,"wires":[["f585b7ba.d8cd48"]]},{"id":"63c5aff5.73d64","type":"inject","z":"ed916a0b.101318","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":136,"y":197.5,"wires":[["573298d.a47dd68"]]},{"id":"76d655ab.43d20c","type":"ui_text_input","z":"ed916a0b.101318","name":"","label":"Edit Preset Name","group":"ef5d0924.1a70d8","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"","x":1523,"y":57,"wires":[["8a55a58e.5761a8"]]},{"id":"370eedc3.e69aa2","type":"ui_button","z":"ed916a0b.101318","name":"Save","group":"ef5d0924.1a70d8","order":5,"width":0,"height":0,"passthru":false,"label":"Save Preset","color":"#FFF","bgcolor":"#FF0000","icon":"","payload":"","payloadType":"date","topic":"","x":78,"y":79.5,"wires":[["d217d2f1.1adf8"]]},{"id":"8a55a58e.5761a8","type":"function","z":"ed916a0b.101318","name":"set global preset name","func":"global.set(\"chauvet_255_preset_name\", msg.payload);","outputs":1,"noerr":0,"x":1755,"y":60,"wires":[[]]},{"id":"d217d2f1.1adf8","type":"function","z":"ed916a0b.101318","name":"save preset","func":"msg.payload = global.get(\"chauvet_255_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":80,"wires":[["a33dcff5.e5d7"]]},{"id":"98840117.9cb5e","type":"function","z":"ed916a0b.101318","name":"get preset name","func":"msg.payload = msg.payload.topic;\nreturn msg;","outputs":1,"noerr":0,"x":1328,"y":58.5,"wires":[["76d655ab.43d20c"]]},{"id":"5058950e.95120c","type":"ui_text","z":"ed916a0b.101318","group":"ef5d0924.1a70d8","order":3,"width":0,"height":0,"name":"","label":"SAVE PRESET","format":"{{msg.payload}}","layout":"row-left","x":254,"y":331,"wires":[]},{"id":"9c1707bb.bb6f68","type":"ui_text","z":"ed916a0b.101318","group":"ef5d0924.1a70d8","order":1,"width":0,"height":0,"name":"","label":"RECALL PRESET","format":"{{msg.payload}}","layout":"row-left","x":270,"y":280,"wires":[]},{"id":"e49ae529.ad8f38","type":"function","z":"ed916a0b.101318","name":"delete preset","func":"var newMsg = {};\nnewMsg.operation  = 'deleteOne';\nnewMsg.payload    = {'topic' : msg.payload};\nreturn newMsg;","outputs":1,"noerr":0,"x":399,"y":140,"wires":[["1d30f7e4.34b588"]]},{"id":"1d30f7e4.34b588","type":"mongodb2 in","z":"ed916a0b.101318","service":"_ext_","configNode":"e8414499.885228","name":"Store Data into MongoDB","collection":"chauvet_255_presets","operation":"","x":610,"y":141,"wires":[["573298d.a47dd68"]]},{"id":"824fbeb.edc4f4","type":"ui_button","z":"ed916a0b.101318","name":"Delete","group":"ef5d0924.1a70d8","order":6,"width":0,"height":0,"passthru":false,"label":"Delete Preset","color":"#FFF","bgcolor":"#FF00FF","icon":"","payload":"","payloadType":"date","topic":"","x":79,"y":138.5,"wires":[["86c20534.8abb68"]]},{"id":"86c20534.8abb68","type":"function","z":"ed916a0b.101318","name":"delete preset","func":"msg.payload = global.get(\"chauvet_255_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":231,"y":139,"wires":[["e49ae529.ad8f38"]]},{"id":"d456030a.5129b","type":"function","z":"ed916a0b.101318","name":"Send Current Universe","func":"msg.payload = { \n                dmx: global.get(\"chauvet_255_preset\"),\n                offset: 1\n            };\nreturn msg;","outputs":1,"noerr":0,"x":1940,"y":480,"wires":[[]]},{"id":"b102f0ab.46198","type":"ui_numeric","z":"ed916a0b.101318","name":"DMX 2: Fine Pan","label":"Fine Pan","group":"ea3bd860.23d408","order":8,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1350,"y":380,"wires":[["37e402b3.12f72e"]]},{"id":"38a58d29.2e8db2","type":"ui_numeric","z":"ed916a0b.101318","name":"DMX 3: Tilt (0-270 deg)","label":"Tilt (0-270 deg)","group":"ea3bd860.23d408","order":6,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1350,"y":340,"wires":[["c9baec6b.d2238"]]},{"id":"7af80827.6758d8","type":"ui_numeric","z":"ed916a0b.101318","name":"DMX 4: Fine Tilt","label":"Fine Tilt","group":"ea3bd860.23d408","order":10,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1340,"y":420,"wires":[["82fa3edc.8c682"]]},{"id":"a8f1a517.d55358","type":"ui_numeric","z":"ed916a0b.101318","name":"DMX 5 Speed (Fast to Slow)","label":"Speed (Fast to Slow)","group":"ea3bd860.23d408","order":12,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1380,"y":460,"wires":[["26502f28.43f6c"]]},{"id":"5d455786.ef6888","type":"ui_numeric","z":"ed916a0b.101318","name":"","label":"Color DMX Output Value","group":"27f07b90.e6d524","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1410,"y":780,"wires":[["9ccbad9.eb9405"]]},{"id":"d8da9abc.e28d28","type":"ui_numeric","z":"ed916a0b.101318","name":"DMX 10 Dimmer (0-100%)","label":"Dimmer (0-100%)","group":"ea3bd860.23d408","order":2,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1380,"y":260,"wires":[["e76c8be6.9088c8"]]},{"id":"55d9844b.9fbcbc","type":"ui_numeric","z":"ed916a0b.101318","name":"DMX 11 Shutter","label":"Strobe (Slow to Fast)","group":"ea3bd860.23d408","order":14,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1360,"y":220,"wires":[["8f823552.cba4b8","7846dd84.b713b4"]]},{"id":"fc566ac3.1dbd48","type":"ui_slider","z":"ed916a0b.101318","name":"DMX1 PAN","label":"","group":"ea3bd860.23d408","order":5,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1130,"y":300,"wires":[["4b17d588.acf18c"]]},{"id":"4b17d588.acf18c","type":"ui_numeric","z":"ed916a0b.101318","name":"DMX 1: Pan (0-540 deg)","label":"Pan (0-254 = 0-540 deg)","group":"ea3bd860.23d408","order":4,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1350,"y":300,"wires":[["449ef367.35a6bc"]]},{"id":"43f1fe7b.9d6cd","type":"ui_switch","z":"ed916a0b.101318","name":"","label":"Shutter ON/OFF","group":"ea3bd860.23d408","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"7","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":1400,"y":120,"wires":[["89e80b03.b8bec8"]]},{"id":"7846dd84.b713b4","type":"function","z":"ed916a0b.101318","name":"update shutter switch based on dmx data","func":"if (msg.payload > 4){\n    msg.payload = 7;\n}\nelse {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1640,"y":180,"wires":[["43f1fe7b.9d6cd"]]},{"id":"9e6cea23.fea4a8","type":"ui_switch","z":"ed916a0b.101318","name":"","label":"Prism ON/OFF","group":"ea3bd860.23d408","order":16,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"16","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":1140,"y":500,"wires":[["fc1d3eab.2e39f"]]},{"id":"8d020dec.ae069","type":"ui_button","z":"ed916a0b.101318","name":"red","group":"27f07b90.e6d524","order":8,"width":0,"height":0,"passthru":false,"label":"red","color":"","bgcolor":"red","icon":"","payload":"28","payloadType":"num","topic":"","x":910,"y":1020,"wires":[["5d455786.ef6888"]]},{"id":"8598fae1.b274e8","type":"ui_button","z":"ed916a0b.101318","name":"white","group":"27f07b90.e6d524","order":4,"width":0,"height":0,"passthru":false,"label":"white (color wheel off)","color":"black","bgcolor":"white","icon":"","payload":"0","payloadType":"num","topic":"","x":910,"y":860,"wires":[["5d455786.ef6888"]]},{"id":"18182aea.06fd35","type":"ui_button","z":"ed916a0b.101318","name":"yellow","group":"27f07b90.e6d524","order":5,"width":0,"height":0,"passthru":false,"label":"yellow","color":"black","bgcolor":"yellow","icon":"","payload":"7","payloadType":"num","topic":"","x":910,"y":900,"wires":[["5d455786.ef6888"]]},{"id":"5240cff2.7b23b","type":"ui_button","z":"ed916a0b.101318","name":"pink","group":"27f07b90.e6d524","order":6,"width":0,"height":0,"passthru":false,"label":"pink","color":"","bgcolor":"magenta","icon":"","payload":"14","payloadType":"num","topic":"","x":910,"y":940,"wires":[["5d455786.ef6888"]]},{"id":"8286b730.d69438","type":"ui_button","z":"ed916a0b.101318","name":"green","group":"27f07b90.e6d524","order":7,"width":0,"height":0,"passthru":false,"label":"green","color":"","bgcolor":"green","icon":"","payload":"21","payloadType":"num","topic":"","x":910,"y":980,"wires":[["5d455786.ef6888"]]},{"id":"cef1f8e7.3ccbf8","type":"ui_button","z":"ed916a0b.101318","name":"cyan","group":"27f07b90.e6d524","order":9,"width":0,"height":0,"passthru":false,"label":"cyan","color":"black","bgcolor":"cyan","icon":"","payload":"35","payloadType":"num","topic":"","x":910,"y":1060,"wires":[["5d455786.ef6888"]]},{"id":"e0ea971e.c47df8","type":"ui_button","z":"ed916a0b.101318","name":"lime","group":"27f07b90.e6d524","order":10,"width":0,"height":0,"passthru":false,"label":"lime","color":"black","bgcolor":"lime","icon":"","payload":"42","payloadType":"num","topic":"","x":910,"y":1100,"wires":[["5d455786.ef6888"]]},{"id":"614a82da.c65fdc","type":"ui_button","z":"ed916a0b.101318","name":"orange","group":"27f07b90.e6d524","order":11,"width":0,"height":0,"passthru":false,"label":"orange","color":"","bgcolor":"orange","icon":"","payload":"49","payloadType":"num","topic":"","x":920,"y":1140,"wires":[["5d455786.ef6888"]]},{"id":"2adff5e2.cce8ca","type":"ui_button","z":"ed916a0b.101318","name":"blue","group":"27f07b90.e6d524","order":12,"width":0,"height":0,"passthru":false,"label":"blue","color":"","bgcolor":"blue","icon":"","payload":"56","payloadType":"num","topic":"","x":910,"y":1180,"wires":[["5d455786.ef6888"]]},{"id":"eb6e03d1.2696c","type":"ui_switch","z":"ed916a0b.101318","name":"","label":"Color Wheel UP/DOWN & SPEED","group":"27f07b90.e6d524","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"192","onvalueType":"num","onicon":"","oncolor":"","offvalue":"128","offvalueType":"num","officon":"","offcolor":"","x":680,"y":740,"wires":[["e7cbaf4f.84ba7"]]},{"id":"e7cbaf4f.84ba7","type":"function","z":"ed916a0b.101318","name":"save flow offset","func":"flow.set(\"color_wheel_offset\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":740,"wires":[["8e998892.832f08"]]},{"id":"f5d6999a.ae7958","type":"function","z":"ed916a0b.101318","name":"save flow offset","func":"flow.set(\"color_wheel_speed\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":800,"wires":[["8e998892.832f08"]]},{"id":"f57cf0f5.cd4e4","type":"ui_button","z":"ed916a0b.101318","name":"red + cyan","group":"27f07b90.e6d524","order":17,"width":0,"height":0,"passthru":false,"label":"red + cyan","color":"cyan","bgcolor":"red","icon":"","payload":"93","payloadType":"num","topic":"","x":1130,"y":1000,"wires":[["5d455786.ef6888"]]},{"id":"eaeb18b8.b05a08","type":"ui_button","z":"ed916a0b.101318","name":"white + yellow","group":"27f07b90.e6d524","order":13,"width":0,"height":0,"passthru":false,"label":"white + yellow","color":"black","bgcolor":"white","icon":"","payload":"65","payloadType":"num","topic":"","x":1140,"y":840,"wires":[["5d455786.ef6888"]]},{"id":"946d1a34.b4ebc8","type":"ui_button","z":"ed916a0b.101318","name":"yellow + pink","group":"27f07b90.e6d524","order":14,"width":0,"height":0,"passthru":false,"label":"yellow + pink","color":"magenta","bgcolor":"yellow","icon":"","payload":"72","payloadType":"num","topic":"","x":1130,"y":880,"wires":[["5d455786.ef6888"]]},{"id":"cbddbc4f.10601","type":"ui_button","z":"ed916a0b.101318","name":"pink + green","group":"27f07b90.e6d524","order":15,"width":0,"height":0,"passthru":false,"label":"pink + green","color":"green","bgcolor":"magenta","icon":"","payload":"79","payloadType":"num","topic":"","x":1130,"y":920,"wires":[["5d455786.ef6888"]]},{"id":"5adcfb41.b6b1a4","type":"ui_button","z":"ed916a0b.101318","name":"green + red","group":"27f07b90.e6d524","order":16,"width":0,"height":0,"passthru":false,"label":"green + red","color":"red","bgcolor":"green","icon":"","payload":"86","payloadType":"num","topic":"","x":1130,"y":960,"wires":[["5d455786.ef6888"]]},{"id":"2844e02f.18ab4","type":"ui_button","z":"ed916a0b.101318","name":"cyan + lime","group":"27f07b90.e6d524","order":18,"width":0,"height":0,"passthru":false,"label":"cyan + lime","color":"green","bgcolor":"cyan","icon":"","payload":"100","payloadType":"num","topic":"","x":1130,"y":1040,"wires":[["5d455786.ef6888"]]},{"id":"1ed9feaa.be7861","type":"ui_button","z":"ed916a0b.101318","name":"lime + orange","group":"27f07b90.e6d524","order":19,"width":0,"height":0,"passthru":false,"label":"lime + orange","color":"orange","bgcolor":"lime","icon":"","payload":"107","payloadType":"num","topic":"","x":1140,"y":1080,"wires":[["5d455786.ef6888"]]},{"id":"9f8f6d2f.314c5","type":"ui_button","z":"ed916a0b.101318","name":"orange + blue","group":"27f07b90.e6d524","order":20,"width":0,"height":0,"passthru":false,"label":"orange + blue","color":"blue","bgcolor":"orange","icon":"","payload":"114","payloadType":"num","topic":"","x":1140,"y":1120,"wires":[["5d455786.ef6888"]]},{"id":"f8566b05.98f6f8","type":"ui_button","z":"ed916a0b.101318","name":"dark + white","group":"27f07b90.e6d524","order":21,"width":0,"height":0,"passthru":false,"label":"blue + white","color":"white","bgcolor":"blue","icon":"","payload":"121","payloadType":"num","topic":"","x":1130,"y":1160,"wires":[["5d455786.ef6888"]]},{"id":"8e998892.832f08","type":"function","z":"ed916a0b.101318","name":"color wheel slider + offset","func":"var offset = flow.get(\"color_wheel_offset\");\nvar color_wheel_speed = flow.get(\"color_wheel_speed\");\nmsg.payload = offset + color_wheel_speed;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":780,"wires":[["5d455786.ef6888"]]},{"id":"387e363b.3bab5a","type":"ui_slider","z":"ed916a0b.101318","name":"DMX8 GOBO ROTATION SPEED","label":"","group":"1b4c344c.bd38ac","order":17,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"111","step":"1","x":1180,"y":1340,"wires":[["2b2daeed.c57912"]]},{"id":"aa2c9890.0961c8","type":"ui_numeric","z":"ed916a0b.101318","name":"","label":"Gobo Rotation Value","group":"1b4c344c.bd38ac","order":13,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1360,"y":580,"wires":[["23289ab7.183116"]]},{"id":"3ba5ea60.88bb06","type":"ui_switch","z":"ed916a0b.101318","name":"","label":"Gobo Rotate UP/DOWN","group":"1b4c344c.bd38ac","order":16,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"120","onvalueType":"num","onicon":"","oncolor":"","offvalue":"8","offvalueType":"num","officon":"","offcolor":"","x":1150,"y":1300,"wires":[["11db5b09.1a1185"]]},{"id":"11db5b09.1a1185","type":"function","z":"ed916a0b.101318","name":"save flow offset","func":"flow.set(\"gobo_rotate_offset\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":1300,"wires":[["ba45a1b9.6f62a"]]},{"id":"2b2daeed.c57912","type":"function","z":"ed916a0b.101318","name":"save flow offset","func":"flow.set(\"gobo_rotate_speed\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":1340,"wires":[["ba45a1b9.6f62a"]]},{"id":"ba45a1b9.6f62a","type":"function","z":"ed916a0b.101318","name":"gobo rotation slider + offset","func":"var bounce_flag = flow.get(\"gobo_bounce_flag\");\n\nif(bounce_flag===0){\n\n   var rotate_flag = flow.get(\"gobo_rotate_flag\");\n   \n    if (rotate_flag ===0) {\n        msg.payload = 0;\n       \n    }\n    else {\n         flow.set(\"gobo_bounce_flag\", 0);\n        \n        var offset = flow.get(\"gobo_rotate_offset\");\n        var speed = flow.get(\"gobo_rotate_speed\");\n        \n        msg.payload = offset + speed;\n    }\n     \n}\nelse {\n    \n     flow.set(\"gobo_rotate_flag\", 0);\n     msg.payload = 232;  \n    \n    \n      \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1720,"y":1280,"wires":[["aa2c9890.0961c8"]]},{"id":"bc295174.1615a","type":"ui_button","z":"ed916a0b.101318","name":"no gobo","group":"1b4c344c.bd38ac","order":2,"width":0,"height":0,"passthru":false,"label":"no gobo","color":"black","bgcolor":"white","icon":"","payload":"0","payloadType":"num","topic":"","x":1360,"y":840,"wires":[["9d6d3cbe.e3ab8"]]},{"id":"c149fe4c.896e6","type":"ui_button","z":"ed916a0b.101318","name":"dots in a circle gobo","group":"1b4c344c.bd38ac","order":3,"width":0,"height":0,"passthru":false,"label":"dots in a circle gobo","color":"black","bgcolor":"white","icon":"","payload":"8","payloadType":"num","topic":"","x":1400,"y":880,"wires":[["9d6d3cbe.e3ab8"]]},{"id":"c0185f5.c3c18a","type":"ui_button","z":"ed916a0b.101318","name":"bubbles","group":"1b4c344c.bd38ac","order":4,"width":0,"height":0,"passthru":false,"label":"bubbles","color":"black","bgcolor":"white","icon":"","payload":"16","payloadType":"num","topic":"","x":1360,"y":920,"wires":[["9d6d3cbe.e3ab8"]]},{"id":"9e52ac82.f4829","type":"ui_switch","z":"ed916a0b.101318","name":"","label":"Gobo Bounce ON/OFF","group":"1b4c344c.bd38ac","order":14,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":1140,"y":1220,"wires":[["1cca628b.00e3ad"]]},{"id":"eab5906b.0e525","type":"ui_switch","z":"ed916a0b.101318","name":"","label":"Gobo Rotate ON/OFF","group":"1b4c344c.bd38ac","order":15,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":1140,"y":1260,"wires":[["8505c9f1.fe8ca8"]]},{"id":"1cca628b.00e3ad","type":"function","z":"ed916a0b.101318","name":"save flow offset","func":"flow.set(\"gobo_bounce_flag\", msg.payload);\nif (msg.payload ===1) {\n    flow.set(\"gobo_rotate_flag\", 0);\n    msg.payload = 0;\n}\nelse {\n    msg.payload = null;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":1420,"y":1220,"wires":[["ba45a1b9.6f62a","eab5906b.0e525"]]},{"id":"8505c9f1.fe8ca8","type":"function","z":"ed916a0b.101318","name":"save flow offset","func":"flow.set(\"gobo_rotate_flag\", msg.payload);\nif (msg.payload ===1) {\n    flow.set(\"gobo_bounce_flag\", 0);\n    msg.payload = 0\n}\nelse {\n    msg.payload = null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":1260,"wires":[["ba45a1b9.6f62a","9e52ac82.f4829"]]},{"id":"a0f01872.92ec28","type":"ui_button","z":"ed916a0b.101318","name":"swirls","group":"1b4c344c.bd38ac","order":5,"width":0,"height":0,"passthru":false,"label":"swirls","color":"black","bgcolor":"white","icon":"","payload":"24","payloadType":"num","topic":"","x":1350,"y":960,"wires":[["9d6d3cbe.e3ab8"]]},{"id":"7dc336d1.161988","type":"ui_button","z":"ed916a0b.101318","name":"biohazard","group":"1b4c344c.bd38ac","order":6,"width":0,"height":0,"passthru":false,"label":"biohazard","color":"black","bgcolor":"white","icon":"","payload":"32","payloadType":"num","topic":"","x":1360,"y":1000,"wires":[["9d6d3cbe.e3ab8"]]},{"id":"f4961fb7.8b66b","type":"ui_button","z":"ed916a0b.101318","name":"flower","group":"1b4c344c.bd38ac","order":7,"width":0,"height":0,"passthru":false,"label":"flower","color":"black","bgcolor":"white","icon":"","payload":"40","payloadType":"num","topic":"","x":1350,"y":1040,"wires":[["9d6d3cbe.e3ab8"]]},{"id":"6434ac36.e5f254","type":"ui_button","z":"ed916a0b.101318","name":"triangle grate","group":"1b4c344c.bd38ac","order":8,"width":0,"height":0,"passthru":false,"label":"triangle grate","color":"black","bgcolor":"white","icon":"","payload":"48","payloadType":"num","topic":"","x":1370,"y":1080,"wires":[["9d6d3cbe.e3ab8"]]},{"id":"d81a30b2.527f4","type":"ui_button","z":"ed916a0b.101318","name":"spiral","group":"1b4c344c.bd38ac","order":9,"width":0,"height":0,"passthru":false,"label":"spiral","color":"black","bgcolor":"white","icon":"","payload":"56","payloadType":"num","topic":"","x":1350,"y":1120,"wires":[["9d6d3cbe.e3ab8"]]},{"id":"9d19f5cf.940fa8","type":"ui_numeric","z":"ed916a0b.101318","name":"","label":"Gobo Output Value","group":"1b4c344c.bd38ac","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1350,"y":540,"wires":[["987864b7.253f18"]]},{"id":"9d6d3cbe.e3ab8","type":"function","z":"ed916a0b.101318","name":"set current gobo selection","func":"flow.set(\"current_gobo_selection\", msg.payload);\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":960,"wires":[["29a4dae8.f015f6"]]},{"id":"b36ecc7f.cca6b","type":"ui_slider","z":"ed916a0b.101318","name":"DMX7 GOBO SHAKE SPEED","label":"Shake:","group":"1b4c344c.bd38ac","order":10,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"8","step":"1","x":1430,"y":1160,"wires":[["29a4dae8.f015f6"]]},{"id":"29a4dae8.f015f6","type":"function","z":"ed916a0b.101318","name":"gobo rotation slider + offset","func":"var current_gobo = flow.get(\"current_gobo_selection\");\nif (msg.payload === 0) {\n    msg.payload = current_gobo;\n    return msg;\n}\nelse if(msg.payload!==null) {\n    switch(current_gobo) {\n        case 56:\n            msg.payload = msg.payload + 63;\n            break;\n        case 48:\n            msg.payload = msg.payload + 71;\n            break;\n        case 40:\n            msg.payload = msg.payload + 79;\n            break;\n        case 32:\n            msg.payload = msg.payload + 87;\n            break;\n        case 24:\n            msg.payload = msg.payload + 95;\n            break;\n        case 16:\n            msg.payload = msg.payload + 103;\n            break;\n        case 8:\n            msg.payload = msg.payload + 111;\n            break;\n        default:\n            msg.payload = 0;\n    }\n    return msg;\n}\n","outputs":1,"noerr":0,"x":2000,"y":960,"wires":[["9d19f5cf.940fa8"]]},{"id":"2f4135dc.3f5ada","type":"ui_slider","z":"ed916a0b.101318","name":"DMX7 GOBO CYCLE SPEED","label":"","group":"1b4c344c.bd38ac","order":12,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"63","step":"1","x":1770,"y":1140,"wires":[["93fe0826.2660a8"]]},{"id":"42b23959.f1bae8","type":"ui_switch","z":"ed916a0b.101318","name":"","label":"Gobo Cycle UP/DOWN & SPEED","group":"1b4c344c.bd38ac","order":11,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"192","onvalueType":"num","onicon":"","oncolor":"","offvalue":"128","offvalueType":"num","officon":"","offcolor":"","x":1780,"y":1080,"wires":[["640f7d9b.d746b4"]]},{"id":"640f7d9b.d746b4","type":"function","z":"ed916a0b.101318","name":"save flow offset","func":"flow.set(\"gobo_cycle_offset\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2020,"y":1080,"wires":[["af10d7ce.b4b628"]]},{"id":"93fe0826.2660a8","type":"function","z":"ed916a0b.101318","name":"save flow offset","func":"flow.set(\"gobo_cycle_speed\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2020,"y":1140,"wires":[["af10d7ce.b4b628"]]},{"id":"af10d7ce.b4b628","type":"function","z":"ed916a0b.101318","name":"gobo cycle slider + offset","func":"var offset = flow.get(\"gobo_cycle_offset\");\nvar gobo_cycle_speed = flow.get(\"gobo_cycle_speed\");\nmsg.payload = offset + gobo_cycle_speed;\nreturn msg;","outputs":1,"noerr":0,"x":2250,"y":1120,"wires":[["9d19f5cf.940fa8"]]},{"id":"ea3bd860.23d408","type":"ui_group","z":"","name":"MOVEMENT","tab":"308e9e25.e2c0e2","order":2,"disp":true,"width":"6","collapse":false},{"id":"27f07b90.e6d524","type":"ui_group","z":"","name":"COLORS","tab":"308e9e25.e2c0e2","order":3,"disp":true,"width":"6","collapse":false},{"id":"e8414499.885228","type":"mongodb2","z":"","uri":"mongodb://127.0.0.1:27017/cinebrain","name":"cinebrain db","options":"","parallelism":"-1"},{"id":"ef5d0924.1a70d8","type":"ui_group","z":"","name":"PRESETS","tab":"308e9e25.e2c0e2","order":1,"disp":true,"width":"4","collapse":false},{"id":"1b4c344c.bd38ac","type":"ui_group","z":"","name":"GOBOS","tab":"308e9e25.e2c0e2","order":4,"disp":true,"width":"6","collapse":false},{"id":"308e9e25.e2c0e2","type":"ui_tab","z":"","name":"DMX Chauvet 255","icon":"dashboard","order":5},{"id":"d2fca79d.2ec948","type":"dmxusbpro","z":"68b10b3.d3953f4","name":"","port":"COM4","DMX_starting_address":"1","x":1130,"y":200,"wires":[[]]},{"id":"3a402de4.fcef82","type":"debug","z":"68b10b3.d3953f4","name":"Current Universe","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1150,"y":260,"wires":[]},{"id":"af1dd946.2539a8","type":"function","z":"68b10b3.d3953f4","name":"format and trigger DMX universe","func":"msg.payload = msg.payload.dmx;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":240,"wires":[["d2fca79d.2ec948","3a402de4.fcef82"]]},{"id":"76ad3007.c137a","type":"subflow:ed916a0b.101318","z":"68b10b3.d3953f4","name":"Chauvet Intimidator 255 - 13ch","x":290,"y":240,"wires":[["af1dd946.2539a8"]]},{"id":"b3aa4f1f.1cfcb","type":"subflow:bcca6388.a5525","z":"68b10b3.d3953f4","name":"ADJ Pinspot LED Quad","x":280,"y":340,"wires":[["69e11d54.3bc404"]]},{"id":"69e11d54.3bc404","type":"function","z":"68b10b3.d3953f4","name":"format and trigger DMX universe","func":"msg.payload = msg.payload.dmx;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":340,"wires":[["3a402de4.fcef82","d2fca79d.2ec948"]]}]