DMX_template_v1.json
[{"id":"41c6d41e.0f873c","type":"ui_template","z":"68b10b3.d3953f4","group":"9e30a7e8.02cf88","name":"DMX LOG","order":1,"width":"6","height":"12","format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1790,"y":200,"wires":[[]]},{"id":"b327d4c6.a26678","type":"ui_slider","z":"68b10b3.d3953f4","name":"DMX2","label":"DMX 2","group":"525219e4.77da98","order":2,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1066,"y":360,"wires":[["37e402b3.12f72e","d456030a.5129b"]]},{"id":"be085694.ec5c28","type":"ui_slider","z":"68b10b3.d3953f4","name":"DMX12","label":"DMX 12","group":"525219e4.77da98","order":12,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1069,"y":726,"wires":[["b4309422.84ddb8","d456030a.5129b"]]},{"id":"89e80b03.b8bec8","type":"ui_slider","z":"68b10b3.d3953f4","name":"DMX11","label":"DMX 11","group":"525219e4.77da98","order":11,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1070,"y":689,"wires":[["8f823552.cba4b8","d456030a.5129b"]]},{"id":"45ad78f8.f45fb8","type":"ui_slider","z":"68b10b3.d3953f4","name":"DMX10","label":"DMX 10","group":"525219e4.77da98","order":10,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1069,"y":653,"wires":[["e76c8be6.9088c8","d456030a.5129b"]]},{"id":"6f053fd3.352a7","type":"ui_slider","z":"68b10b3.d3953f4","name":"DMX9","label":"DMX 9","group":"525219e4.77da98","order":9,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1061,"y":616,"wires":[["fc1d3eab.2e39f","d456030a.5129b"]]},{"id":"230b9410.8f1f6c","type":"ui_slider","z":"68b10b3.d3953f4","name":"DMX8","label":"DMX 8","group":"525219e4.77da98","order":8,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1061,"y":580,"wires":[["23289ab7.183116","d456030a.5129b"]]},{"id":"666f4d8f.6d0ae4","type":"ui_slider","z":"68b10b3.d3953f4","name":"DMX7","label":"DMX 7","group":"525219e4.77da98","order":7,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1060,"y":543,"wires":[["987864b7.253f18","d456030a.5129b"]]},{"id":"f92ed2dd.76421","type":"ui_slider","z":"68b10b3.d3953f4","name":"DMX6","label":"DMX 6","group":"525219e4.77da98","order":6,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1061,"y":508,"wires":[["9ccbad9.eb9405","d456030a.5129b"]]},{"id":"130a9efe.bcf1a1","type":"ui_slider","z":"68b10b3.d3953f4","name":"DMX5","label":"DMX 5","group":"525219e4.77da98","order":5,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1062,"y":471,"wires":[["26502f28.43f6c","d456030a.5129b"]]},{"id":"dc3e5822.50d098","type":"ui_slider","z":"68b10b3.d3953f4","name":"DMX4","label":"DMX 4","group":"525219e4.77da98","order":4,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1063,"y":435,"wires":[["82fa3edc.8c682","d456030a.5129b"]]},{"id":"2ecb7cbf.ef0994","type":"ui_slider","z":"68b10b3.d3953f4","name":"DMX3","label":"DMX 3","group":"525219e4.77da98","order":3,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1064,"y":397,"wires":[["c9baec6b.d2238","d456030a.5129b"]]},{"id":"449ef367.35a6bc","type":"change","z":"68b10b3.d3953f4","name":"save to Global DMX1","rules":[{"t":"set","p":"dmx_preset[0]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1268,"y":322,"wires":[[]]},{"id":"37e402b3.12f72e","type":"change","z":"68b10b3.d3953f4","name":"save to Global DMX2","rules":[{"t":"set","p":"dmx_preset[1]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1268,"y":360,"wires":[[]]},{"id":"c9baec6b.d2238","type":"change","z":"68b10b3.d3953f4","name":"save to Global DMX3","rules":[{"t":"set","p":"dmx_preset[2]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1266,"y":398,"wires":[[]]},{"id":"82fa3edc.8c682","type":"change","z":"68b10b3.d3953f4","name":"save to Global DMX4","rules":[{"t":"set","p":"dmx_preset[3]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1266,"y":435,"wires":[[]]},{"id":"26502f28.43f6c","type":"change","z":"68b10b3.d3953f4","name":"save to Global DMX5","rules":[{"t":"set","p":"dmx_preset[4]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1264,"y":473,"wires":[[]]},{"id":"9ccbad9.eb9405","type":"change","z":"68b10b3.d3953f4","name":"save to Global DMX6","rules":[{"t":"set","p":"dmx_preset[5]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1265,"y":511,"wires":[[]]},{"id":"987864b7.253f18","type":"change","z":"68b10b3.d3953f4","name":"save to Global DMX7","rules":[{"t":"set","p":"dmx_preset[6]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1263,"y":549,"wires":[[]]},{"id":"23289ab7.183116","type":"change","z":"68b10b3.d3953f4","name":"save to Global DMX8","rules":[{"t":"set","p":"dmx_preset[7]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1262,"y":585,"wires":[[]]},{"id":"fc1d3eab.2e39f","type":"change","z":"68b10b3.d3953f4","name":"save to Global DMX9","rules":[{"t":"set","p":"dmx_preset[8]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1262,"y":622,"wires":[[]]},{"id":"e76c8be6.9088c8","type":"change","z":"68b10b3.d3953f4","name":"save to Global DMX10","rules":[{"t":"set","p":"dmx_preset[9]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":660,"wires":[[]]},{"id":"8f823552.cba4b8","type":"change","z":"68b10b3.d3953f4","name":"save to Global DMX11","rules":[{"t":"set","p":"dmx_preset[10]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1263,"y":698,"wires":[[]]},{"id":"b4309422.84ddb8","type":"change","z":"68b10b3.d3953f4","name":"save to Global DMX12","rules":[{"t":"set","p":"dmx_preset[11]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1259,"y":736,"wires":[[]]},{"id":"563f3f58.502d6","type":"function","z":"68b10b3.d3953f4","name":"Just get preset","func":"global.set(\"dmx_preset\", msg.payload.payload);\n\nvar preset = [];\nvar m = [];\npreset = global.get(\"dmx_preset\");\n\n\nfor (var i=0;i<12;i++)\n{\n    m[i] = { payload: preset[i] };\n}\nreturn m;\n","outputs":12,"noerr":0,"x":867,"y":380,"wires":[["fc566ac3.1dbd48"],["b327d4c6.a26678"],["2ecb7cbf.ef0994"],["dc3e5822.50d098"],["130a9efe.bcf1a1"],["f92ed2dd.76421"],["666f4d8f.6d0ae4"],["230b9410.8f1f6c"],["6f053fd3.352a7"],["45ad78f8.f45fb8"],["89e80b03.b8bec8"],["be085694.ec5c28"]]},{"id":"a33dcff5.e5d7","type":"function","z":"68b10b3.d3953f4","name":"insert preset","func":"var preset = [];\npreset = global.get(\"dmx_preset\");\nvar newMsg = {};\nnewMsg.collection = 'dmx_presets';\nnewMsg.payload = [\n  {topic: msg.payload},\n  {\n    \"$set\": {\n      \"payload\": preset\n    }\n  },\n  {upsert:true}\n];\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":364,"y":93,"wires":[["7f781a0a.22bc44"]]},{"id":"7f781a0a.22bc44","type":"mongodb2 in","z":"68b10b3.d3953f4","service":"_ext_","configNode":"e8414499.885228","name":"Store Data into MongoDB","collection":"dmx_presets ","operation":"findOneAndUpdate","x":575,"y":94,"wires":[["573298d.a47dd68","7f943e2a.24469"]]},{"id":"f2648bcd.604178","type":"function","z":"68b10b3.d3953f4","name":"init global variables","func":"global.set(\"dmx_preset\",[0,0,0,0,0,0,0,0,0,0,0,0]); \nmsg.payload = global.get(\"dmx_preset\");\nreturn msg;","outputs":1,"noerr":0,"x":383,"y":508,"wires":[["21793120.e3a49e","1eab64a0.de779b"]]},{"id":"6637cbdb.f653c4","type":"inject","z":"68b10b3.d3953f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":188,"y":508.5,"wires":[["f2648bcd.604178"]]},{"id":"21793120.e3a49e","type":"debug","z":"68b10b3.d3953f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":508,"wires":[]},{"id":"e126d035.6a566","type":"debug","z":"68b10b3.d3953f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":589,"y":590,"wires":[]},{"id":"bf9cd3fd.566f7","type":"function","z":"68b10b3.d3953f4","name":"check global preset","func":"msg.payload = global.get(\"dmx_preset\");\nreturn msg;","outputs":1,"noerr":0,"x":382,"y":591,"wires":[["e126d035.6a566","1eab64a0.de779b"]]},{"id":"4b78ca16.2d17c4","type":"inject","z":"68b10b3.d3953f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":181,"y":585.5,"wires":[["bf9cd3fd.566f7"]]},{"id":"1eab64a0.de779b","type":"function","z":"68b10b3.d3953f4","name":"Reset from global","func":"var preset = [];\nvar m = [];\npreset = global.get(\"dmx_preset\");\n\n\nfor (var i=0;i<12;i++)\n{\n    m[i] = { payload: preset[i] };\n}\nreturn m;\n","outputs":12,"noerr":0,"x":831.5,"y":600,"wires":[["fc566ac3.1dbd48"],["b327d4c6.a26678"],["2ecb7cbf.ef0994"],["dc3e5822.50d098"],["130a9efe.bcf1a1"],["f92ed2dd.76421"],["666f4d8f.6d0ae4"],["230b9410.8f1f6c"],["6f053fd3.352a7"],["45ad78f8.f45fb8"],["89e80b03.b8bec8"],["be085694.ec5c28"]]},{"id":"7f943e2a.24469","type":"function","z":"68b10b3.d3953f4","name":"DASHBOARD FORMATTING","func":"var dashboardLog = context.get('dashboardLog')|| [];\n\ndashboardLog.push(msg);\nif (dashboardLog.length > 20){\n    // Supprime le plus anciens message si > 20\n    // Delete oldest message if > 20\n    dashboardLog.shift();\n    dashboardLog.length = 20;\n} \n\n// Enregistre les messages du dashboard pour le prochain affichage\n// store the value back\ncontext.set('dashboardLog',dashboardLog);\n\n// Affiche le journal des messages\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = dashboardLog;\nreturn msg;\n","outputs":1,"noerr":0,"x":1558,"y":203,"wires":[["41c6d41e.0f873c"]]},{"id":"fc566ac3.1dbd48","type":"ui_slider","z":"68b10b3.d3953f4","name":"DMX1","label":"DMX 1","group":"525219e4.77da98","order":1,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1066,"y":322,"wires":[["449ef367.35a6bc","d456030a.5129b"]]},{"id":"2cd200a3.7e9fd","type":"mongodb2 in","z":"68b10b3.d3953f4","service":"_ext_","configNode":"e8414499.885228","name":"Mongo DB dynamic operation","collection":"dmx_presets","operation":"","x":485,"y":214,"wires":[["4fe5bec8.2d721"]]},{"id":"573298d.a47dd68","type":"function","z":"68b10b3.d3953f4","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":251,"y":211,"wires":[["2cd200a3.7e9fd"]]},{"id":"f585b7ba.d8cd48","type":"ui_dropdown","z":"68b10b3.d3953f4","name":"Recall Pulldown","label":"Recall","place":"Select option","group":"755c0043.d0fbf","order":2,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":965,"y":140,"wires":[["563f3f58.502d6","7f943e2a.24469","98840117.9cb5e"]]},{"id":"4fe5bec8.2d721","type":"function","z":"68b10b3.d3953f4","name":"Format Preset Pulldown","func":"//var preset_array = msg.payload;\nvar msg_array = [];\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic != undefined){\n        tmp_object[msg_object.topic] = {\"topic\": msg_object.topic, \"payload\": msg_object.payload};\n        msg_array[i] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":767,"y":213.5,"wires":[["f585b7ba.d8cd48"]]},{"id":"63c5aff5.73d64","type":"inject","z":"68b10b3.d3953f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":102,"y":209.5,"wires":[["573298d.a47dd68"]]},{"id":"76d655ab.43d20c","type":"ui_text_input","z":"68b10b3.d3953f4","name":"","label":"Edit Preset Name","group":"755c0043.d0fbf","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"","x":1348,"y":137,"wires":[["8a55a58e.5761a8"]]},{"id":"370eedc3.e69aa2","type":"ui_button","z":"68b10b3.d3953f4","name":"Save","group":"755c0043.d0fbf","order":5,"width":0,"height":0,"passthru":false,"label":"Save Preset","color":"#FFF","bgcolor":"#FF0000","icon":"","payload":"","payloadType":"date","topic":"","x":44,"y":91.5,"wires":[["d217d2f1.1adf8"]]},{"id":"8a55a58e.5761a8","type":"function","z":"68b10b3.d3953f4","name":"set global preset name","func":"global.set(\"preset_name\", msg.payload);","outputs":1,"noerr":0,"x":1580,"y":140,"wires":[[]]},{"id":"d217d2f1.1adf8","type":"function","z":"68b10b3.d3953f4","name":"save preset","func":"msg.payload = global.get(\"preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":196,"y":92,"wires":[["a33dcff5.e5d7"]]},{"id":"98840117.9cb5e","type":"function","z":"68b10b3.d3953f4","name":"get preset name","func":"msg.payload = msg.payload.topic;\nreturn msg;","outputs":1,"noerr":0,"x":1153,"y":138.5,"wires":[["76d655ab.43d20c"]]},{"id":"5058950e.95120c","type":"ui_text","z":"68b10b3.d3953f4","group":"755c0043.d0fbf","order":3,"width":0,"height":0,"name":"","label":"SAVE PRESET","format":"{{msg.payload}}","layout":"row-left","x":220,"y":343,"wires":[]},{"id":"9c1707bb.bb6f68","type":"ui_text","z":"68b10b3.d3953f4","group":"755c0043.d0fbf","order":1,"width":0,"height":0,"name":"","label":"RECALL PRESET","format":"{{msg.payload}}","layout":"row-left","x":230,"y":265,"wires":[]},{"id":"e49ae529.ad8f38","type":"function","z":"68b10b3.d3953f4","name":"delete preset","func":"var newMsg = {};\nnewMsg.operation  = 'deleteOne';\nnewMsg.payload    = {'topic' : msg.payload};\nreturn newMsg;","outputs":1,"noerr":0,"x":365,"y":152,"wires":[["1d30f7e4.34b588"]]},{"id":"1d30f7e4.34b588","type":"mongodb2 in","z":"68b10b3.d3953f4","service":"_ext_","configNode":"e8414499.885228","name":"Store Data into MongoDB","collection":"dmx_presets","operation":"","x":576,"y":153,"wires":[["573298d.a47dd68","7f943e2a.24469"]]},{"id":"824fbeb.edc4f4","type":"ui_button","z":"68b10b3.d3953f4","name":"Delete","group":"755c0043.d0fbf","order":5,"width":0,"height":0,"passthru":false,"label":"Delete Preset","color":"#FFF","bgcolor":"#FF00FF","icon":"","payload":"","payloadType":"date","topic":"","x":45,"y":150.5,"wires":[["86c20534.8abb68"]]},{"id":"86c20534.8abb68","type":"function","z":"68b10b3.d3953f4","name":"delete preset","func":"msg.payload = global.get(\"preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":197,"y":151,"wires":[["e49ae529.ad8f38"]]},{"id":"d456030a.5129b","type":"function","z":"68b10b3.d3953f4","name":"Send Current Universe","func":"msg.payload = global.get(\"dmx_preset\");\nreturn msg;","outputs":1,"noerr":0,"x":1560,"y":540,"wires":[["96963ab.abfbac8","43af56a2.b8af48"]]},{"id":"43af56a2.b8af48","type":"dmxusbpro","z":"68b10b3.d3953f4","name":"","port":"COM4","DMX_starting_address":"1","x":1790,"y":500,"wires":[[]]},{"id":"96963ab.abfbac8","type":"debug","z":"68b10b3.d3953f4","name":"Current Preset","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1787,"y":564,"wires":[]},{"id":"9e30a7e8.02cf88","type":"ui_group","z":"68b10b3.d3953f4","name":"DMX LOG","tab":"28b67ea8.0b9a52","order":4,"disp":true,"width":"6","collapse":true},{"id":"525219e4.77da98","type":"ui_group","z":"","name":"DMX SLIDERS","tab":"28b67ea8.0b9a52","order":3,"disp":true,"width":"8","collapse":true},{"id":"e8414499.885228","type":"mongodb2","z":"","uri":"mongodb://127.0.0.1:27017/cinebrain","name":"cinebrain db","options":"","parallelism":"-1"},{"id":"755c0043.d0fbf","type":"ui_group","z":"","name":"PRESETS","tab":"28b67ea8.0b9a52","order":1,"disp":false,"width":"6","collapse":false},{"id":"28b67ea8.0b9a52","type":"ui_tab","z":"","name":"DMX TEMPLATE","icon":"home","order":2}]