dmxusbpro-nodered-backup.json
[{"id":"83cd4485.7181e8","type":"ui_button","z":"dde0ea38.cad8b8","name":"Save Community Storytelling Preset","group":"152bf161.fcdfbf","order":0,"width":0,"height":0,"passthru":false,"label":"Save Community Storytelling Preset","color":"#FFFFFF","bgcolor":"#FF0000","icon":"fa-circle","payload":"Community Storytelling","payloadType":"str","topic":"Community Storytelling","x":179,"y":192,"wires":[["a505ba10.833058"]]},{"id":"1426e1a2.24973e","type":"ui_template","z":"dde0ea38.cad8b8","group":"a4eff4f8.caebd8","name":"DMX LOG","order":1,"width":"4","height":"12","format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1359,"y":54,"wires":[[]]},{"id":"2e30a691.2ee00a","type":"ui_button","z":"dde0ea38.cad8b8","name":"Load Community Storytelling Preset","group":"dded5644.9627c8","order":0,"width":0,"height":0,"passthru":false,"label":"Load Community Storytelling Preset","color":"#FFF","bgcolor":"#00FF00","icon":"fa-play","payload":"Community Storytelling","payloadType":"str","topic":"Community Storytelling","x":180,"y":34,"wires":[["36e1c49c.1905dc"]]},{"id":"b03b5637.6c4538","type":"ui_button","z":"dde0ea38.cad8b8","name":"Load Talk of the Town Preset","group":"dded5644.9627c8","order":0,"width":0,"height":0,"passthru":false,"label":"Load Talk of the Town Preset","color":"#FFF","bgcolor":"#00FF00","icon":"fa-play","payload":"Talk of the Town","payloadType":"str","topic":"Talk of the Town","x":148,"y":77,"wires":[["36e1c49c.1905dc"]]},{"id":"7cadfd5c.280984","type":"ui_button","z":"dde0ea38.cad8b8","name":"Load Jazz Tonight Preset","group":"dded5644.9627c8","order":0,"width":0,"height":0,"passthru":false,"label":"Load Jazz Tonight Preset","color":"#FFF","bgcolor":"#00FF00","icon":"fa-play","payload":"Jazz Tonight","payloadType":"str","topic":"Jazz Tonight","x":138,"y":122,"wires":[["36e1c49c.1905dc"]]},{"id":"9a826674.57d728","type":"ui_slider","z":"dde0ea38.cad8b8","name":"DMX2","label":"DMX 2","group":"d09c701e.37b23","order":2,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1032,"y":313,"wires":[["cb048f7b.eff89"]]},{"id":"475f2b5e.3aca84","type":"ui_switch","z":"dde0ea38.cad8b8","name":"DMX1","label":"DMX 1: Cameras On/Off","group":"d09c701e.37b23","order":1,"width":"6","height":"1","passthru":true,"decouple":"false","topic":"DMX 1","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":1031,"y":275,"wires":[["15a7ae88.37dc41"]]},{"id":"7657a58e.532dbc","type":"ui_slider","z":"dde0ea38.cad8b8","name":"DMX12","label":"DMX 12","group":"d09c701e.37b23","order":12,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1035,"y":679,"wires":[["2fb5d6fd.a9aada"]]},{"id":"e2970adc.64f848","type":"ui_slider","z":"dde0ea38.cad8b8","name":"DMX11","label":"DMX 11","group":"d09c701e.37b23","order":11,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1036,"y":642,"wires":[["406e486f.c5e8f8"]]},{"id":"16a664a7.8544cb","type":"ui_slider","z":"dde0ea38.cad8b8","name":"DMX10","label":"DMX 10","group":"d09c701e.37b23","order":10,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1035,"y":606,"wires":[["93d5ff85.5f849"]]},{"id":"fdc36d93.68362","type":"ui_slider","z":"dde0ea38.cad8b8","name":"DMX9","label":"DMX 9","group":"d09c701e.37b23","order":9,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1027,"y":569,"wires":[["9c4d52fd.82028"]]},{"id":"710ac8e9.e0b7f8","type":"ui_slider","z":"dde0ea38.cad8b8","name":"DMX8","label":"DMX 8","group":"d09c701e.37b23","order":8,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1027,"y":533,"wires":[["c993cd50.bbce1"]]},{"id":"99217266.bd24a","type":"ui_slider","z":"dde0ea38.cad8b8","name":"DMX7","label":"DMX 7","group":"d09c701e.37b23","order":7,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1026,"y":496,"wires":[["b2535691.480088"]]},{"id":"dd6c3f29.72a03","type":"ui_slider","z":"dde0ea38.cad8b8","name":"DMX6","label":"DMX 6","group":"d09c701e.37b23","order":6,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1027,"y":461,"wires":[["214acb46.39b4e4"]]},{"id":"8eddee72.cd8a7","type":"ui_slider","z":"dde0ea38.cad8b8","name":"DMX5","label":"DMX 5","group":"d09c701e.37b23","order":5,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1028,"y":424,"wires":[["6910fa11.ac0ae4"]]},{"id":"30712708.7c0188","type":"ui_slider","z":"dde0ea38.cad8b8","name":"DMX4","label":"DMX 4","group":"d09c701e.37b23","order":4,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1029,"y":388,"wires":[["eab2d9ce.79f768"]]},{"id":"8605b3b6.b93ca","type":"ui_slider","z":"dde0ea38.cad8b8","name":"DMX3","label":"DMX 3","group":"d09c701e.37b23","order":3,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1030,"y":350,"wires":[["8b0d3979.b73508"]]},{"id":"15a7ae88.37dc41","type":"change","z":"dde0ea38.cad8b8","name":"save to Global DMX1","rules":[{"t":"set","p":"dmx_preset[0]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1238,"y":271,"wires":[[]]},{"id":"cb048f7b.eff89","type":"change","z":"dde0ea38.cad8b8","name":"save to Global DMX2","rules":[{"t":"set","p":"dmx_preset[1]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1234,"y":313,"wires":[[]]},{"id":"8b0d3979.b73508","type":"change","z":"dde0ea38.cad8b8","name":"save to Global DMX3","rules":[{"t":"set","p":"dmx_preset[2]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1232,"y":351,"wires":[[]]},{"id":"eab2d9ce.79f768","type":"change","z":"dde0ea38.cad8b8","name":"save to Global DMX4","rules":[{"t":"set","p":"dmx_preset[3]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1232,"y":388,"wires":[[]]},{"id":"6910fa11.ac0ae4","type":"change","z":"dde0ea38.cad8b8","name":"save to Global DMX5","rules":[{"t":"set","p":"dmx_preset[4]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1230,"y":426,"wires":[[]]},{"id":"214acb46.39b4e4","type":"change","z":"dde0ea38.cad8b8","name":"save to Global DMX6","rules":[{"t":"set","p":"dmx_preset[5]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1231,"y":464,"wires":[[]]},{"id":"b2535691.480088","type":"change","z":"dde0ea38.cad8b8","name":"save to Global DMX7","rules":[{"t":"set","p":"dmx_preset[6]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1229,"y":502,"wires":[[]]},{"id":"c993cd50.bbce1","type":"change","z":"dde0ea38.cad8b8","name":"save to Global DMX8","rules":[{"t":"set","p":"dmx_preset[7]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1228,"y":538,"wires":[[]]},{"id":"9c4d52fd.82028","type":"change","z":"dde0ea38.cad8b8","name":"save to Global DMX9","rules":[{"t":"set","p":"dmx_preset[8]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1228,"y":575,"wires":[[]]},{"id":"93d5ff85.5f849","type":"change","z":"dde0ea38.cad8b8","name":"save to Global DMX10","rules":[{"t":"set","p":"dmx_preset[9]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1226,"y":613,"wires":[[]]},{"id":"406e486f.c5e8f8","type":"change","z":"dde0ea38.cad8b8","name":"save to Global DMX11","rules":[{"t":"set","p":"dmx_preset[10]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1229,"y":651,"wires":[[]]},{"id":"2fb5d6fd.a9aada","type":"change","z":"dde0ea38.cad8b8","name":"save to Global DMX12","rules":[{"t":"set","p":"dmx_preset[11]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1225,"y":689,"wires":[[]]},{"id":"f5877e0a.a59ed","type":"ui_button","z":"dde0ea38.cad8b8","name":"Save Talk of the Town Preset","group":"152bf161.fcdfbf","order":0,"width":0,"height":0,"passthru":false,"label":"Save Talk of the Town Preset","color":"#FFFFFF","bgcolor":"#FF0000","icon":"fa-circle","payload":"Talk of the Town","payloadType":"str","topic":"Talk of the Town","x":148,"y":232,"wires":[["a505ba10.833058"]]},{"id":"f4aba86e.23f698","type":"ui_button","z":"dde0ea38.cad8b8","name":"Save Jazz Tonight Preset","group":"152bf161.fcdfbf","order":0,"width":0,"height":0,"passthru":false,"label":"Save Jazz Tonight Preset","color":"#FFFFFF","bgcolor":"#FF0000","icon":"fa-circle","payload":"Jazz Tonight","payloadType":"str","topic":"Jazz Tonight","x":139,"y":272,"wires":[["a505ba10.833058"]]},{"id":"36e1c49c.1905dc","type":"function","z":"dde0ea38.cad8b8","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'topic' : msg.payload};\nreturn newMsg;","outputs":1,"noerr":0,"x":448,"y":55,"wires":[["97af33f1.cf4b2"]]},{"id":"d806b4e0.7afdc8","type":"function","z":"dde0ea38.cad8b8","name":"Just get preset","func":"global.set(\"dmx_preset\", msg.payload.payload);\n\nvar preset = [];\nvar m = [];\npreset = global.get(\"dmx_preset\");\n\n\nfor (var i=0;i<12;i++)\n{\n    m[i] = { payload: preset[i] };\n}\nreturn m;\n","outputs":12,"noerr":0,"x":790,"y":353,"wires":[["475f2b5e.3aca84"],["9a826674.57d728"],["8605b3b6.b93ca"],["30712708.7c0188"],["8eddee72.cd8a7"],["dd6c3f29.72a03"],["99217266.bd24a"],["710ac8e9.e0b7f8"],["fdc36d93.68362"],["16a664a7.8544cb"],["e2970adc.64f848"],["7657a58e.532dbc"]]},{"id":"97af33f1.cf4b2","type":"mongodb2 in","z":"dde0ea38.cad8b8","service":"_ext_","configNode":"639ca02d.65369","name":"Mongo DB dynamic operation","collection":"dmx_presets","operation":"","x":677,"y":63,"wires":[["d806b4e0.7afdc8","4370178f.403548","1bd7954a.bf18bb","3131234f.f5111c"]]},{"id":"a505ba10.833058","type":"function","z":"dde0ea38.cad8b8","name":"insert preset","func":"var preset = [];\npreset = global.get(\"dmx_preset\");\nvar newMsg = {};\nnewMsg.collection = 'dmx_presets';\nnewMsg.payload = [\n  {topic: msg.payload},\n  {\n    \"$set\": {\n      \"payload\": preset\n    }\n  },\n  {upsert:true}\n];\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":439,"y":235,"wires":[["83177560.caeb58","364bb350.7326ec"]]},{"id":"83177560.caeb58","type":"mongodb2 in","z":"dde0ea38.cad8b8","service":"_ext_","configNode":"639ca02d.65369","name":"Store Data into MongoDB","collection":"dmx_presets","operation":"findOneAndUpdate","x":658,"y":234,"wires":[["4370178f.403548"]]},{"id":"364bb350.7326ec","type":"debug","z":"dde0ea38.cad8b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":577,"y":340.5,"wires":[]},{"id":"6bcdf190.2ff83","type":"function","z":"dde0ea38.cad8b8","name":"init global variables","func":"global.set(\"dmx_preset\",[0,0,0,0,0,0,0,0,0,0,0,0]); \nmsg.payload = global.get(\"dmx_preset\");\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":462,"wires":[["294bb581.96c79a","e3b52d62.9faf6"]]},{"id":"d1c27d36.2171d","type":"inject","z":"dde0ea38.cad8b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":155,"y":466.5,"wires":[["6bcdf190.2ff83"]]},{"id":"294bb581.96c79a","type":"debug","z":"dde0ea38.cad8b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":556,"y":461,"wires":[]},{"id":"8b06f727.1f4e98","type":"debug","z":"dde0ea38.cad8b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":555,"y":543,"wires":[]},{"id":"2f4bf462.a2dedc","type":"function","z":"dde0ea38.cad8b8","name":"check global preset","func":"msg.payload = global.get(\"dmx_preset\");\nreturn msg;","outputs":1,"noerr":0,"x":348,"y":544,"wires":[["8b06f727.1f4e98","e3b52d62.9faf6"]]},{"id":"e261b482.2e2668","type":"inject","z":"dde0ea38.cad8b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":133,"y":548.5,"wires":[["2f4bf462.a2dedc"]]},{"id":"e3b52d62.9faf6","type":"function","z":"dde0ea38.cad8b8","name":"Reset from global","func":"var preset = [];\nvar m = [];\npreset = global.get(\"dmx_preset\");\n\n\nfor (var i=0;i<12;i++)\n{\n    m[i] = { payload: preset[i] };\n}\nreturn m;\n","outputs":12,"noerr":0,"x":797.5,"y":553,"wires":[["475f2b5e.3aca84"],["9a826674.57d728"],["8605b3b6.b93ca"],["30712708.7c0188"],["8eddee72.cd8a7"],["dd6c3f29.72a03"],["99217266.bd24a"],["710ac8e9.e0b7f8"],["fdc36d93.68362"],["16a664a7.8544cb"],["e2970adc.64f848"],["7657a58e.532dbc"]]},{"id":"4370178f.403548","type":"function","z":"dde0ea38.cad8b8","name":"DASHBOARD FORMATTING","func":"var dashboardLog = context.get('dashboardLog')|| [];\n\ndashboardLog.push(msg);\nif (dashboardLog.length > 20){\n    // Supprime le plus anciens message si > 20\n    // Delete oldest message if > 20\n    dashboardLog.shift();\n    dashboardLog.length = 20;\n} \n\n// Enregistre les messages du dashboard pour le prochain affichage\n// store the value back\ncontext.set('dashboardLog',dashboardLog);\n\n// Affiche le journal des messages\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = dashboardLog;\nreturn msg;\n","outputs":1,"noerr":0,"x":1056,"y":56,"wires":[["1426e1a2.24973e"]]},{"id":"1bd7954a.bf18bb","type":"debug","z":"dde0ea38.cad8b8","name":"current_preset","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.payload","x":915,"y":123,"wires":[]},{"id":"cf0a5f71.552cb","type":"inject","z":"dde0ea38.cad8b8","name":"","topic":"","payload":"update","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1211,"y":145,"wires":[["918aa84a.bad048"]]},{"id":"b29a8c6b.55a0f","type":"debug","z":"dde0ea38.cad8b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1729,"y":127.5,"wires":[]},{"id":"236c4888.fabe68","type":"inject","z":"dde0ea38.cad8b8","name":"","topic":"","payload":"updateAll","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1219,"y":183.5,"wires":[["918aa84a.bad048"]]},{"id":"3131234f.f5111c","type":"function","z":"dde0ea38.cad8b8","name":"Send Current Universe","func":"var current_preset = msg.payload.payload;\n\nvar current_universe = [];\nvar universe_length = 512; // user defined length\n\nfor(var i = 0; i < universe_length; i++) {\n    current_universe[i] = current_preset[i];\n}\nmsg.payload = current_universe;\nreturn msg;","outputs":1,"noerr":0,"x":1293,"y":98,"wires":[["918aa84a.bad048"]]},{"id":"918aa84a.bad048","type":"dmxusbpro","z":"dde0ea38.cad8b8","name":"","x":1523.5,"y":140,"wires":[["b29a8c6b.55a0f"]]},{"id":"152bf161.fcdfbf","type":"ui_group","z":"","name":"RECORD PRESETS","tab":"28225e2c.493c32","order":2,"disp":true,"width":"6","collapse":true},{"id":"a4eff4f8.caebd8","type":"ui_group","z":"dde0ea38.cad8b8","name":"DMX LOG","tab":"28225e2c.493c32","order":4,"disp":true,"width":"4","collapse":true},{"id":"dded5644.9627c8","type":"ui_group","z":"","name":"RECALL PRESETS","tab":"28225e2c.493c32","order":1,"disp":true,"width":"6","collapse":true},{"id":"d09c701e.37b23","type":"ui_group","z":"","name":"DMX SLIDERS","tab":"28225e2c.493c32","order":3,"disp":true,"width":"8","collapse":true},{"id":"639ca02d.65369","type":"mongodb2","z":"","uri":"mongodb://127.0.0.1:27017/cinebrain","name":"cinebrain db","options":"","parallelism":"-1"},{"id":"28225e2c.493c32","type":"ui_tab","z":"","name":"KCAT DMX DASHBOARD","icon":"home","order":2}]