Dolphinarium_osc_v1.json
[{"id":"cbb6a35b.68c17","type":"inject","z":"6feaea0f.ae7c44","name":"","topic":"","payload":"stringtest","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1000,"y":200,"wires":[["2361fb7b.33dea4"]]},{"id":"13dde752.aa1d09","type":"udp in","z":"6feaea0f.ae7c44","name":"udp osc input","iface":"","port":"6666","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":490,"y":260,"wires":[["34d464ac.7345bc"]]},{"id":"abefd793.be90a8","type":"udp out","z":"6feaea0f.ae7c44","name":"OSC localhost output","addr":"127.0.0.1","iface":"","port":"6666","ipv":"udp4","outport":"6666","base64":false,"multicast":"false","x":1420,"y":200,"wires":[]},{"id":"7ad3c731.4556f8","type":"inject","z":"6feaea0f.ae7c44","name":"","topic":"","payload":"stringtest","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1000,"y":260,"wires":[["5154a0e.12cc26"]]},{"id":"d99d87f5.40d368","type":"debug","z":"6feaea0f.ae7c44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1390,"y":260,"wires":[]},{"id":"36510635.40ac5a","type":"debug","z":"6feaea0f.ae7c44","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":260,"wires":[]},{"id":"5154a0e.12cc26","type":"osc","z":"6feaea0f.ae7c44","name":"test","path":"/test","metadata":false,"x":1190,"y":260,"wires":[["abefd793.be90a8","d99d87f5.40d368"]]},{"id":"34d464ac.7345bc","type":"osc","z":"6feaea0f.ae7c44","name":"","path":"","metadata":false,"x":650,"y":260,"wires":[["36510635.40ac5a"]]},{"id":"2361fb7b.33dea4","type":"osc","z":"6feaea0f.ae7c44","name":"othertest","path":"/othertest","metadata":false,"x":1200,"y":200,"wires":[["abefd793.be90a8"]]},{"id":"d32db66d.a0bb98","type":"function","z":"6feaea0f.ae7c44","name":"insert preset","func":"var preset = [];\npreset = global.get(\"osc_preset\");\nvar newMsg = {};\nnewMsg.collection = 'osc_presets';\nnewMsg.payload = [\n  {topic: msg.payload},\n  {\n    \"$set\": {\n      \"payload\": preset\n    }\n  },\n  {upsert:true}\n];\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":550,"y":440,"wires":[["75794b2f.774444"]]},{"id":"7dfba9ee.d6a658","type":"function","z":"6feaea0f.ae7c44","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":437,"y":558,"wires":[["aeb83c36.a7fda"]]},{"id":"bef9d3c8.567af","type":"ui_dropdown","z":"6feaea0f.ae7c44","name":"Recall Pulldown","label":"Recall","place":"Select option","group":"dbe90788.1a6358","order":2,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1175,"y":558.5,"wires":[["fc903173.80ea2"]]},{"id":"9011e05e.86c0f","type":"function","z":"6feaea0f.ae7c44","name":"Format Preset Pulldown","func":"flow.set(\"osc_db_preset\", msg.payload);\nvar msg_array = [];\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic != undefined){\n        tmp_object[msg_object.topic] = {\"topic\": msg_object.topic, \"payload\": msg_object.payload};\n        msg_array[i] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":942,"y":559,"wires":[["bef9d3c8.567af"]]},{"id":"d66d33b9.d5e81","type":"inject","z":"6feaea0f.ae7c44","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":288,"y":556.5,"wires":[["7dfba9ee.d6a658"]]},{"id":"9a15a676.e56a18","type":"ui_text_input","z":"6feaea0f.ae7c44","name":"","label":"Edit Preset Name","group":"dbe90788.1a6358","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"","x":1605,"y":558.5,"wires":[["a48666b3.f6c738"]]},{"id":"9d44d6cb.9196a8","type":"ui_button","z":"6feaea0f.ae7c44","name":"Save","group":"dbe90788.1a6358","order":5,"width":0,"height":0,"passthru":false,"label":"Save Preset","color":"#FFF","bgcolor":"#FF0000","icon":"","payload":"","payloadType":"date","topic":"","x":230,"y":438.5,"wires":[["6011d6b0.440c38"]]},{"id":"a48666b3.f6c738","type":"function","z":"6feaea0f.ae7c44","name":"set global preset name","func":"global.set(\"osc_preset_name\", msg.payload);","outputs":1,"noerr":0,"x":1820,"y":560,"wires":[[]]},{"id":"6011d6b0.440c38","type":"function","z":"6feaea0f.ae7c44","name":"save preset","func":"msg.payload = global.get(\"osc_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":382,"y":439,"wires":[["d32db66d.a0bb98"]]},{"id":"fc903173.80ea2","type":"function","z":"6feaea0f.ae7c44","name":"get preset name","func":"msg.payload = msg.payload.topic;\nreturn msg;","outputs":1,"noerr":0,"x":1395,"y":558.5,"wires":[["9a15a676.e56a18"]]},{"id":"4e9df470.334aec","type":"function","z":"6feaea0f.ae7c44","name":"delete preset","func":"var newMsg = {};\nnewMsg.operation  = 'deleteOne';\nnewMsg.payload    = {'topic' : msg.payload};\nreturn newMsg;","outputs":1,"noerr":0,"x":551,"y":499,"wires":[["40567ff8.3d716"]]},{"id":"b8fd0d42.388a1","type":"ui_button","z":"6feaea0f.ae7c44","name":"Delete","group":"dbe90788.1a6358","order":5,"width":0,"height":0,"passthru":false,"label":"Delete Preset","color":"#FFF","bgcolor":"#FF00FF","icon":"","payload":"","payloadType":"date","topic":"","x":231,"y":497.5,"wires":[["a53b12ff.dec7a"]]},{"id":"a53b12ff.dec7a","type":"function","z":"6feaea0f.ae7c44","name":"delete preset","func":"msg.payload = global.get(\"osc_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":383,"y":498,"wires":[["4e9df470.334aec"]]},{"id":"75794b2f.774444","type":"mongodb2 in","z":"6feaea0f.ae7c44","service":"_ext_","configNode":"8f466b3e.ef20b8","name":"Store Data into MongoDB","collection":"osc_presets","operation":"findOneAndUpdate","x":762,"y":439,"wires":[["7dfba9ee.d6a658"]]},{"id":"aeb83c36.a7fda","type":"mongodb2 in","z":"6feaea0f.ae7c44","service":"_ext_","configNode":"8f466b3e.ef20b8","name":"Mongo DB dynamic operation","collection":"osc_presets","operation":"","x":671,"y":561,"wires":[["9011e05e.86c0f"]]},{"id":"40567ff8.3d716","type":"mongodb2 in","z":"6feaea0f.ae7c44","service":"_ext_","configNode":"8f466b3e.ef20b8","name":"Store Data into MongoDB","collection":"osc_presets","operation":"","x":762,"y":500,"wires":[["7dfba9ee.d6a658"]]},{"id":"f12b1235.f9502","type":"ui_button","z":"6feaea0f.ae7c44","name":"Load Presets","group":"dbe90788.1a6358","order":5,"width":0,"height":0,"passthru":false,"label":"Load Presets","color":"white","bgcolor":"purple","icon":"","payload":"","payloadType":"date","topic":"","x":102,"y":559,"wires":[["7dfba9ee.d6a658"]]},{"id":"fafef3e4.58d63","type":"link in","z":"6feaea0f.ae7c44","name":"OSC MIDI Input","links":["36d6c71f.e3e148"],"x":200,"y":140,"wires":[[]]},{"id":"dbe90788.1a6358","type":"ui_group","z":"","name":"PRESETS","tab":"1ef9b2c2.4a917d","order":1,"disp":true,"width":"6","collapse":false},{"id":"8f466b3e.ef20b8","type":"mongodb2","z":0,"uri":"mongodb://127.0.0.1:27017/cinebrain","name":"cinebrain db","options":"","parallelism":"-1"},{"id":"1ef9b2c2.4a917d","type":"ui_tab","z":"","name":"OSC","icon":"dashboard","order":2}]