Dolphinarium_dmx_universe_v1.json
[{"id":"f7948e34.dd2f2","type":"subflow","name":"Subflow 6","info":"","in":[{"x":440,"y":280,"wires":[{"id":"edf28cda.75173"}]}],"out":[{"x":2100,"y":440,"wires":[{"id":"6cc19bc8.2d5db4","port":0}]}]},{"id":"d855880d.2204c8","type":"ui_slider","z":"f7948e34.dd2f2","name":"DMX2 FINE PAN","label":"","group":"b176ee41.157fa","order":8,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1130,"y":340,"wires":[["6ef91cb6.945b64"]]},{"id":"4ef9b717.aa5618","type":"ui_slider","z":"f7948e34.dd2f2","name":"DMX11 PATTERN ROTATE H&V","label":"","group":"9795eaa8.b41cd8","order":8,"width":0,"height":0,"passthru":true,"topic":"Slider","min":"7","max":"215","step":1,"x":1040,"y":620,"wires":[["4376c1d5.9eb53"]]},{"id":"2419936c.640b2c","type":"ui_slider","z":"f7948e34.dd2f2","name":"DMX10 PATTERN ROTATION","label":"","group":"9795eaa8.b41cd8","order":6,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1050,"y":660,"wires":[["2b8c7372.30e2bc"]]},{"id":"8b738b83.cb1448","type":"ui_slider","z":"f7948e34.dd2f2","name":"DMX5 PAN SHAKING","label":"","group":"b176ee41.157fa","order":12,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1120,"y":420,"wires":[["33a51059.10cd2"]]},{"id":"e19ca40d.3a9c68","type":"ui_slider","z":"f7948e34.dd2f2","name":"DMX4 FINE TILT","label":"","group":"b176ee41.157fa","order":10,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1130,"y":380,"wires":[["2dd092e9.255dde"]]},{"id":"34b8774b.736568","type":"ui_slider","z":"f7948e34.dd2f2","name":"DMX3 TILT","label":"","group":"b176ee41.157fa","order":6,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1110,"y":300,"wires":[["26f8f972.1f6d76"]]},{"id":"63d61c18.03c9c4","type":"change","z":"f7948e34.dd2f2","name":"save to Global DMX1","rules":[{"t":"set","p":"sniper_preset[0]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":260,"wires":[["6cc19bc8.2d5db4"]]},{"id":"4cbd9239.e0d5ac","type":"change","z":"f7948e34.dd2f2","name":"save to Global DMX2","rules":[{"t":"set","p":"sniper_preset[1]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":340,"wires":[["6cc19bc8.2d5db4"]]},{"id":"f74593e8.62547","type":"change","z":"f7948e34.dd2f2","name":"save to Global DMX3","rules":[{"t":"set","p":"sniper_preset[2]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":300,"wires":[["6cc19bc8.2d5db4"]]},{"id":"b2004f93.e3c18","type":"change","z":"f7948e34.dd2f2","name":"save to Global DMX4","rules":[{"t":"set","p":"sniper_preset[3]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":380,"wires":[["6cc19bc8.2d5db4"]]},{"id":"80c9f777.e99fb8","type":"change","z":"f7948e34.dd2f2","name":"save to Global DMX5","rules":[{"t":"set","p":"sniper_preset[4]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":420,"wires":[["6cc19bc8.2d5db4"]]},{"id":"9a14506a.e4b5f","type":"change","z":"f7948e34.dd2f2","name":"save to Global DMX6","rules":[{"t":"set","p":"sniper_preset[5]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":460,"wires":[["6cc19bc8.2d5db4"]]},{"id":"20188d8e.cda502","type":"change","z":"f7948e34.dd2f2","name":"save to Global DMX7","rules":[{"t":"set","p":"sniper_preset[6]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":500,"wires":[["6cc19bc8.2d5db4"]]},{"id":"d84db75e.f79bb8","type":"change","z":"f7948e34.dd2f2","name":"save to Global DMX8","rules":[{"t":"set","p":"sniper_preset[7]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":540,"wires":[["6cc19bc8.2d5db4"]]},{"id":"bb959bfb.4250a8","type":"change","z":"f7948e34.dd2f2","name":"save to Global DMX9","rules":[{"t":"set","p":"sniper_preset[8]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":580,"wires":[["6cc19bc8.2d5db4"]]},{"id":"182a4e75.b61c82","type":"change","z":"f7948e34.dd2f2","name":"save to Global DMX10","rules":[{"t":"set","p":"sniper_preset[9]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1560,"y":660,"wires":[["6cc19bc8.2d5db4"]]},{"id":"e1bd9ece.c4d2a","type":"change","z":"f7948e34.dd2f2","name":"save to Global DMX11","rules":[{"t":"set","p":"sniper_preset[10]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1560,"y":620,"wires":[["6cc19bc8.2d5db4"]]},{"id":"ad5937bf.0b5018","type":"function","z":"f7948e34.dd2f2","name":"Just get preset","func":"global.set(\"sniper_preset\", msg.payload.payload);\n\nvar preset = [];\nvar m = [];\npreset = global.get(\"sniper_preset\");\n\n\nfor (var i=0;i<21;i++)\n{\n    m[i] = { payload: preset[i] };\n}\nreturn m;\n","outputs":21,"noerr":0,"x":620,"y":500,"wires":[["fb2b300d.c61e6"],["d855880d.2204c8"],["34b8774b.736568"],["e19ca40d.3a9c68"],["8b738b83.cb1448"],["5a55a593.f8e20c"],["c93295b7.6cd8c8"],["39e29cb3.516d94"],["5dca3020.d0f7b"],["2419936c.640b2c"],["4ef9b717.aa5618"],["818ecfef.19daa"],["14d936fa.cd8b29"],["e5326010.91dc6"],["f35ff2e1.715f5"],["439e426a.bb1e8c"],["5c51064b.5d52c8"],["51c0711a.21d7c"],["7ffb4a0e.2b90c4"],["6475e5a3.a31aac"],[]]},{"id":"660d3d41.d09cc4","type":"function","z":"f7948e34.dd2f2","name":"insert preset","func":"var preset = [];\npreset = global.get(\"sniper_preset\");\nvar newMsg = {};\nnewMsg.collection = 'sniper_presets';\nnewMsg.payload = [\n  {topic: msg.payload},\n  {\n    \"$set\": {\n      \"payload\": preset\n    }\n  },\n  {upsert:true}\n];\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":378,"y":41,"wires":[["860ee05f.129fd"]]},{"id":"860ee05f.129fd","type":"mongodb2 in","z":"f7948e34.dd2f2","service":"_ext_","configNode":"e8414499.885228","name":"Store Data into MongoDB","collection":"sniper_presets","operation":"findOneAndUpdate","x":589,"y":42,"wires":[["37644015.b473a"]]},{"id":"b7e6d2f8.b808","type":"mongodb2 in","z":"f7948e34.dd2f2","service":"_ext_","configNode":"e8414499.885228","name":"Mongo DB dynamic operation","collection":"sniper_presets","operation":"","x":499,"y":162,"wires":[["3c872308.b310cc"]]},{"id":"37644015.b473a","type":"function","z":"f7948e34.dd2f2","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":265,"y":159,"wires":[["b7e6d2f8.b808"]]},{"id":"fc6670fd.1c91f","type":"ui_dropdown","z":"f7948e34.dd2f2","name":"Recall Pulldown","label":"Recall","place":"Select option","group":"b001eee6.38405","order":2,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1120,"y":20,"wires":[["ad5937bf.0b5018","112669c2.1df356"]]},{"id":"3c872308.b310cc","type":"function","z":"f7948e34.dd2f2","name":"Format Preset Pulldown","func":"flow.set(\"sniper_db_preset\", msg.payload);\nvar msg_array = [];\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic != undefined){\n        tmp_object[msg_object.topic] = {\"topic\": msg_object.topic, \"payload\": msg_object.payload};\n        msg_array[i] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":20,"wires":[["fc6670fd.1c91f"]]},{"id":"8ca8e85b.4560f8","type":"inject","z":"f7948e34.dd2f2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":116,"y":157.5,"wires":[["37644015.b473a"]]},{"id":"fc24a061.44f55","type":"ui_text_input","z":"f7948e34.dd2f2","name":"","label":"Edit Preset Name","group":"b001eee6.38405","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"","x":1503,"y":17,"wires":[["b8e24c9b.2be45"]]},{"id":"9d280d1.a81b2f","type":"ui_button","z":"f7948e34.dd2f2","name":"Save","group":"b001eee6.38405","order":5,"width":0,"height":0,"passthru":false,"label":"Save Preset","color":"#FFF","bgcolor":"#FF0000","icon":"","payload":"","payloadType":"date","topic":"","x":58,"y":39.5,"wires":[["ea5edc62.3aa1a"]]},{"id":"b8e24c9b.2be45","type":"function","z":"f7948e34.dd2f2","name":"set global preset name","func":"global.set(\"sniper_preset_name\", msg.payload);","outputs":1,"noerr":0,"x":1735,"y":20,"wires":[[]]},{"id":"ea5edc62.3aa1a","type":"function","z":"f7948e34.dd2f2","name":"save preset","func":"msg.payload = global.get(\"sniper_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":40,"wires":[["660d3d41.d09cc4"]]},{"id":"112669c2.1df356","type":"function","z":"f7948e34.dd2f2","name":"get preset name","func":"msg.payload = msg.payload.topic;\nreturn msg;","outputs":1,"noerr":0,"x":1308,"y":18.5,"wires":[["fc24a061.44f55"]]},{"id":"3dba8018.2aac","type":"ui_text","z":"f7948e34.dd2f2","group":"b001eee6.38405","order":3,"width":0,"height":0,"name":"","label":"SAVE PRESET","format":"{{msg.payload}}","layout":"row-left","x":234,"y":291,"wires":[]},{"id":"471f6cd1.b0b444","type":"ui_text","z":"f7948e34.dd2f2","group":"b001eee6.38405","order":1,"width":0,"height":0,"name":"","label":"RECALL PRESET","format":"{{msg.payload}}","layout":"row-left","x":250,"y":240,"wires":[]},{"id":"ca3deb80.0f21d8","type":"function","z":"f7948e34.dd2f2","name":"delete preset","func":"var newMsg = {};\nnewMsg.operation  = 'deleteOne';\nnewMsg.payload    = {'topic' : msg.payload};\nreturn newMsg;","outputs":1,"noerr":0,"x":379,"y":100,"wires":[["bffb167e.7c6448"]]},{"id":"bffb167e.7c6448","type":"mongodb2 in","z":"f7948e34.dd2f2","service":"_ext_","configNode":"e8414499.885228","name":"Store Data into MongoDB","collection":"sniper_presets","operation":"","x":590,"y":101,"wires":[["37644015.b473a"]]},{"id":"f7ca3e00.d6096","type":"ui_button","z":"f7948e34.dd2f2","name":"Delete","group":"b001eee6.38405","order":6,"width":0,"height":0,"passthru":false,"label":"Delete Preset","color":"#FFF","bgcolor":"#FF00FF","icon":"","payload":"","payloadType":"date","topic":"","x":59,"y":98.5,"wires":[["c807cae8.b81538"]]},{"id":"c807cae8.b81538","type":"function","z":"f7948e34.dd2f2","name":"delete preset","func":"msg.payload = global.get(\"sniper_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":211,"y":99,"wires":[["ca3deb80.0f21d8"]]},{"id":"6cc19bc8.2d5db4","type":"function","z":"f7948e34.dd2f2","name":"Send Current Universe","func":"msg.payload = { \n                dmx: global.get(\"sniper_preset\"),\n                offset: 469\n            };\nreturn msg;","outputs":1,"noerr":0,"x":1920,"y":440,"wires":[[]]},{"id":"6ef91cb6.945b64","type":"ui_numeric","z":"f7948e34.dd2f2","name":"DMX 2: Fine Pan","label":"Fine Pan","group":"b176ee41.157fa","order":7,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1330,"y":340,"wires":[["4cbd9239.e0d5ac"]]},{"id":"26f8f972.1f6d76","type":"ui_numeric","z":"f7948e34.dd2f2","name":"DMX 3: Tilt","label":"Tilt","group":"b176ee41.157fa","order":5,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1290,"y":300,"wires":[["f74593e8.62547"]]},{"id":"2dd092e9.255dde","type":"ui_numeric","z":"f7948e34.dd2f2","name":"DMX 4: Fine Tilt","label":"Fine Tilt","group":"b176ee41.157fa","order":9,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1320,"y":380,"wires":[["b2004f93.e3c18"]]},{"id":"33a51059.10cd2","type":"ui_numeric","z":"f7948e34.dd2f2","name":"DMX 5 Shaking (Slow to Fast)","label":"Pan Shaking (Slow to Fast)","group":"b176ee41.157fa","order":11,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1370,"y":420,"wires":[["80c9f777.e99fb8"]]},{"id":"9bc2632d.c18cb","type":"ui_numeric","z":"f7948e34.dd2f2","name":"","label":"Color DMX Output Value","group":"9795eaa8.b41cd8","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1310,"y":500,"wires":[["20188d8e.cda502"]]},{"id":"2b8c7372.30e2bc","type":"ui_numeric","z":"f7948e34.dd2f2","name":"DMX 10 Pattern Rotation","label":"Pattern Rotation","group":"9795eaa8.b41cd8","order":5,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1310,"y":660,"wires":[["182a4e75.b61c82"]]},{"id":"4376c1d5.9eb53","type":"ui_numeric","z":"f7948e34.dd2f2","name":"DMX 11 PATTERN ROTATE H&V","label":"PATTERN ROTATE H&V","group":"9795eaa8.b41cd8","order":7,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1360,"y":620,"wires":[["e1bd9ece.c4d2a","3833a516.3da9fa"]]},{"id":"fb2b300d.c61e6","type":"ui_slider","z":"f7948e34.dd2f2","name":"DMX1 PAN","label":"","group":"b176ee41.157fa","order":4,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1110,"y":260,"wires":[["9fd10622.21f7b8"]]},{"id":"9fd10622.21f7b8","type":"ui_numeric","z":"f7948e34.dd2f2","name":"DMX 1: Pan","label":"Pan","group":"b176ee41.157fa","order":3,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1290,"y":260,"wires":[["63d61c18.03c9c4"]]},{"id":"66673e7d.cda68","type":"ui_switch","z":"f7948e34.dd2f2","name":"","label":"Shutter ON/OFF","group":"ea3bd860.23d408","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"7","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":1380,"y":80,"wires":[["4ef9b717.aa5618"]]},{"id":"3833a516.3da9fa","type":"function","z":"f7948e34.dd2f2","name":"update shutter switch based on dmx data","func":"if (msg.payload > 4){\n    msg.payload = 7;\n}\nelse {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1620,"y":140,"wires":[["66673e7d.cda68"]]},{"id":"edf28cda.75173","type":"function","z":"f7948e34.dd2f2","name":"trigger pitch preset","func":"var chauvet_255_preset = flow.get(\"sniper_db_preset\");\nfor(var i = 0;i<chauvet_255_preset.length; i++){\n    var temp_preset = chauvet_255_preset[i];\n    if (temp_preset.topic==msg.payload){\n        msg.payload = { payload: temp_preset.payload };\n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":280,"wires":[["ad5937bf.0b5018"]]},{"id":"3a778b23.fdf8d4","type":"ui_button","z":"f7948e34.dd2f2","name":"Load Presets","group":"b001eee6.38405","order":5,"width":0,"height":0,"passthru":false,"label":"Load Presets","color":"white","bgcolor":"purple","icon":"","payload":"","payloadType":"date","topic":"","x":70,"y":200,"wires":[["37644015.b473a"]]},{"id":"5a55a593.f8e20c","type":"ui_slider","z":"f7948e34.dd2f2","name":"DMX6 TILT SHAKING","label":"","group":"b176ee41.157fa","order":14,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1080,"y":460,"wires":[["fb94e47f.0789d8"]]},{"id":"fb94e47f.0789d8","type":"ui_numeric","z":"f7948e34.dd2f2","name":"DMX 6 Tilt Shaking (Slow to Fast)","label":"Tilt Shaking (Slow to Fast)","group":"b176ee41.157fa","order":13,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1340,"y":460,"wires":[["9a14506a.e4b5f"]]},{"id":"917352f6.a747b","type":"change","z":"f7948e34.dd2f2","name":"save to Global DMX19","rules":[{"t":"set","p":"sniper_preset[18]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":1120,"wires":[["6cc19bc8.2d5db4"]]},{"id":"7ffb4a0e.2b90c4","type":"ui_slider","z":"f7948e34.dd2f2","name":"DMX19 DIMMER","label":"","group":"b176ee41.157fa","order":2,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1050,"y":1120,"wires":[["a2084270.167d9"]]},{"id":"a2084270.167d9","type":"ui_numeric","z":"f7948e34.dd2f2","name":"DMX 19 Dimmer","label":"Dimmer","group":"b176ee41.157fa","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1270,"y":1120,"wires":[["917352f6.a747b"]]},{"id":"8458b9b5.f21c08","type":"change","z":"f7948e34.dd2f2","name":"save to Global DMX20","rules":[{"t":"set","p":"sniper_preset[19]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":1160,"wires":[["6cc19bc8.2d5db4"]]},{"id":"6475e5a3.a31aac","type":"ui_slider","z":"f7948e34.dd2f2","name":"DMX 20 STROBE","label":"","group":"f6bd4bf6.59c838","order":12,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1050,"y":1160,"wires":[["d44f2234.601f7"]]},{"id":"d44f2234.601f7","type":"ui_numeric","z":"f7948e34.dd2f2","name":"DMX 20 STROBE","label":"Strobe","group":"f6bd4bf6.59c838","order":11,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1270,"y":1160,"wires":[["8458b9b5.f21c08"]]},{"id":"78934b30.946cc4","type":"change","z":"f7948e34.dd2f2","name":"save to Global DMX16","rules":[{"t":"set","p":"sniper_preset[15]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":1200,"wires":[["6cc19bc8.2d5db4"]]},{"id":"439e426a.bb1e8c","type":"ui_slider","z":"f7948e34.dd2f2","name":"DMX16 CRAZY SHAKE","label":"","group":"f6bd4bf6.59c838","order":6,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1070,"y":1200,"wires":[["d7bb61dc.d8ab2"]]},{"id":"d7bb61dc.d8ab2","type":"ui_numeric","z":"f7948e34.dd2f2","name":"DMX 16 Crazy Shake","label":"Crazy Shake","group":"f6bd4bf6.59c838","order":5,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1300,"y":1200,"wires":[["78934b30.946cc4"]]},{"id":"c93295b7.6cd8c8","type":"ui_slider","z":"f7948e34.dd2f2","name":"DMX 7 COLOR","label":"","group":"9795eaa8.b41cd8","order":2,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1080,"y":500,"wires":[["9bc2632d.c18cb"]]},{"id":"9dfb369e.d34da8","type":"ui_numeric","z":"f7948e34.dd2f2","name":"","label":"Gobo DMX Output Value","group":"f6bd4bf6.59c838","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1310,"y":540,"wires":[["d84db75e.f79bb8"]]},{"id":"39e29cb3.516d94","type":"ui_slider","z":"f7948e34.dd2f2","name":"DMX 8 GOBO","label":"","group":"f6bd4bf6.59c838","order":2,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1080,"y":540,"wires":[["9dfb369e.d34da8"]]},{"id":"f4ac519a.a5245","type":"ui_numeric","z":"f7948e34.dd2f2","name":"","label":"Patterns DMX Output Value","group":"9795eaa8.b41cd8","order":3,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1320,"y":580,"wires":[["bb959bfb.4250a8"]]},{"id":"5dca3020.d0f7b","type":"ui_slider","z":"f7948e34.dd2f2","name":"DMX 9 PATTERNS","label":"","group":"9795eaa8.b41cd8","order":4,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1090,"y":580,"wires":[["f4ac519a.a5245"]]},{"id":"265dca37.959f06","type":"change","z":"f7948e34.dd2f2","name":"save to Global DMX12","rules":[{"t":"set","p":"sniper_preset[11]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1580,"y":700,"wires":[["6cc19bc8.2d5db4"]]},{"id":"818ecfef.19daa","type":"ui_slider","z":"f7948e34.dd2f2","name":"DMX12 PATTERN ZOOM","label":"","group":"9795eaa8.b41cd8","order":10,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1070,"y":700,"wires":[["c5e92933.f89078"]]},{"id":"c5e92933.f89078","type":"ui_numeric","z":"f7948e34.dd2f2","name":"DMX 12 Pattern Zoom","label":"Pattern Zoom","group":"9795eaa8.b41cd8","order":9,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1320,"y":700,"wires":[["265dca37.959f06"]]},{"id":"52e958d6.94c6a8","type":"change","z":"f7948e34.dd2f2","name":"save to Global DMX13","rules":[{"t":"set","p":"sniper_preset[12]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1580,"y":740,"wires":[["6cc19bc8.2d5db4"]]},{"id":"14d936fa.cd8b29","type":"ui_slider","z":"f7948e34.dd2f2","name":"DMX 13 Pattern Left and Right","label":"","group":"9795eaa8.b41cd8","order":12,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1070,"y":740,"wires":[["77a5f15a.3a742"]]},{"id":"77a5f15a.3a742","type":"ui_numeric","z":"f7948e34.dd2f2","name":"DMX Pattern Left and Right","label":"Pattern Left and Right","group":"9795eaa8.b41cd8","order":11,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1340,"y":740,"wires":[["52e958d6.94c6a8"]]},{"id":"56dd61e7.1f0f9","type":"change","z":"f7948e34.dd2f2","name":"save to Global DMX14","rules":[{"t":"set","p":"sniper_preset[13]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":780,"wires":[["6cc19bc8.2d5db4"]]},{"id":"e5326010.91dc6","type":"ui_slider","z":"f7948e34.dd2f2","name":"DMX14 Pattern Up and Down","label":"","group":"9795eaa8.b41cd8","order":14,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1050,"y":780,"wires":[["1547f33.cf1ab0d"]]},{"id":"1547f33.cf1ab0d","type":"ui_numeric","z":"f7948e34.dd2f2","name":"DMX 14 Pattern Up and Down","label":"Pattern Up and Down","group":"9795eaa8.b41cd8","order":13,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1370,"y":780,"wires":[["56dd61e7.1f0f9"]]},{"id":"2bc50848.e7dc78","type":"change","z":"f7948e34.dd2f2","name":"save to Global DMX15","rules":[{"t":"set","p":"sniper_preset[14]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":820,"wires":[["6cc19bc8.2d5db4"]]},{"id":"8c304adf.f23cc8","type":"ui_numeric","z":"f7948e34.dd2f2","name":"","label":" ROTATION","group":"f6bd4bf6.59c838","order":3,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1310,"y":820,"wires":[["2bc50848.e7dc78"]]},{"id":"f35ff2e1.715f5","type":"ui_slider","z":"f7948e34.dd2f2","name":"DMX 15 ROTATION","label":"","group":"f6bd4bf6.59c838","order":4,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1040,"y":820,"wires":[["8c304adf.f23cc8"]]},{"id":"4ee4811a.9b756","type":"change","z":"f7948e34.dd2f2","name":"save to Global DMX17","rules":[{"t":"set","p":"sniper_preset[16]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":860,"wires":[["6cc19bc8.2d5db4"]]},{"id":"4bd9f5f2.7e317c","type":"ui_numeric","z":"f7948e34.dd2f2","name":"","label":"PRISM","group":"f6bd4bf6.59c838","order":7,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1300,"y":860,"wires":[["4ee4811a.9b756"]]},{"id":"5c51064b.5d52c8","type":"ui_slider","z":"f7948e34.dd2f2","name":"DMX 17 PRISM","label":"","group":"f6bd4bf6.59c838","order":8,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1020,"y":860,"wires":[["4bd9f5f2.7e317c"]]},{"id":"aeb03941.f0be08","type":"change","z":"f7948e34.dd2f2","name":"save to Global DMX18","rules":[{"t":"set","p":"sniper_preset[17]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":900,"wires":[["6cc19bc8.2d5db4"]]},{"id":"3397a73d.08a6c8","type":"ui_numeric","z":"f7948e34.dd2f2","name":"","label":"PRISM INDEX","group":"f6bd4bf6.59c838","order":9,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1320,"y":900,"wires":[["aeb03941.f0be08"]]},{"id":"51c0711a.21d7c","type":"ui_slider","z":"f7948e34.dd2f2","name":"DMX 18 PRISM INDEX","label":"","group":"f6bd4bf6.59c838","order":10,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1050,"y":900,"wires":[["3397a73d.08a6c8"]]},{"id":"b176ee41.157fa","type":"ui_group","z":"","name":"MOVEMENT","tab":"71fa9610.7d35d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"9795eaa8.b41cd8","type":"ui_group","z":"","name":"FX 1","tab":"71fa9610.7d35d8","order":3,"disp":true,"width":"6","collapse":false},{"id":"b001eee6.38405","type":"ui_group","z":"","name":"PRESETS","tab":"71fa9610.7d35d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"f6bd4bf6.59c838","type":"ui_group","z":"","name":"FX 2","tab":"71fa9610.7d35d8","order":4,"disp":true,"width":"6","collapse":false},{"id":"71fa9610.7d35d8","type":"ui_tab","z":"","name":"ShowLight Sniper","icon":"dashboard","order":7},{"id":"79f1378c.5c5978","type":"subflow","name":"Subflow 5","info":"","in":[{"x":420,"y":400,"wires":[{"id":"d3c39867.ade618"}]}],"out":[{"x":2100,"y":480,"wires":[{"id":"335ad80.07ee728","port":0}]}]},{"id":"412d741f.08883c","type":"function","z":"79f1378c.5c5978","name":"Just get preset","func":"global.set(\"chauvet_155_grid_preset\", msg.payload.payload);\n\nvar preset = [];\nvar m = [];\npreset = global.get(\"chauvet_155_grid_preset\");\n\n\nfor (var i=0;i<13;i++)\n{\n    m[i] = { payload: preset[i] };\n}\nreturn m;\n","outputs":13,"noerr":0,"x":880,"y":360,"wires":[["92533617.6ca788"],["9e14eed7.59c7"],["390c7823.29f788"],["c459b6f7.a347b8"],["75805175.1bba"],["ac4b7a1a.90acb8"],["b3e677f2.8479c8"],[],[],["7f132108.b3549"],["94577c8b.855a7"],[],[]]},{"id":"9e14eed7.59c7","type":"ui_slider","z":"79f1378c.5c5978","name":"DMX3 FINE PAN","label":"","group":"9a7f8d13.dcca","order":9,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1130,"y":380,"wires":[["edba600a.812bf"]]},{"id":"94577c8b.855a7","type":"ui_slider","z":"79f1378c.5c5978","name":"DMX7 SHUTTER","label":"","group":"9a7f8d13.dcca","order":15,"width":0,"height":0,"passthru":true,"topic":"Slider","min":"7","max":"215","step":1,"x":1130,"y":220,"wires":[["39f0424c.475c7e"]]},{"id":"7f132108.b3549","type":"ui_slider","z":"79f1378c.5c5978","name":"DMX8 DIMMER","label":"","group":"9a7f8d13.dcca","order":3,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1120,"y":260,"wires":[["b15c8819.f127e8"]]},{"id":"4dec912d.79ea1","type":"ui_slider","z":"79f1378c.5c5978","name":"DMX6 COLOR WHEEL SPEED","label":"","group":"498d4104.2bb0b","order":3,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"63","step":"1","x":650,"y":800,"wires":[["96db919c.31b7"]]},{"id":"75805175.1bba","type":"ui_slider","z":"79f1378c.5c5978","name":"DMX5 SPEED","label":"","group":"9a7f8d13.dcca","order":13,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1120,"y":460,"wires":[["890d196.3febde8"]]},{"id":"c459b6f7.a347b8","type":"ui_slider","z":"79f1378c.5c5978","name":"DMX4 FINE TILT","label":"","group":"9a7f8d13.dcca","order":11,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1130,"y":420,"wires":[["6c92185f.3fc788"]]},{"id":"390c7823.29f788","type":"ui_slider","z":"79f1378c.5c5978","name":"DMX2 TILT","label":"","group":"9a7f8d13.dcca","order":7,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1110,"y":340,"wires":[["30bc207b.460af"]]},{"id":"86f0ce1a.c78c8","type":"change","z":"79f1378c.5c5978","name":"save to Global DMX1","rules":[{"t":"set","p":"chauvet_155_grid_preset[0]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":300,"wires":[["335ad80.07ee728"]]},{"id":"2e117438.0f8dfc","type":"change","z":"79f1378c.5c5978","name":"save to Global DMX3","rules":[{"t":"set","p":"chauvet_155_grid_preset[2]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":380,"wires":[["335ad80.07ee728"]]},{"id":"cca26925.bc32e8","type":"change","z":"79f1378c.5c5978","name":"save to Global DMX2","rules":[{"t":"set","p":"chauvet_155_grid_preset[1]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":340,"wires":[["335ad80.07ee728"]]},{"id":"eebafa9c.374748","type":"change","z":"79f1378c.5c5978","name":"save to Global DMX4","rules":[{"t":"set","p":"chauvet_155_grid_preset[3]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":420,"wires":[["335ad80.07ee728"]]},{"id":"a32f8f2d.2ba85","type":"change","z":"79f1378c.5c5978","name":"save to Global DMX5","rules":[{"t":"set","p":"chauvet_155_grid_preset[4]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":460,"wires":[["335ad80.07ee728"]]},{"id":"bd015c07.b0932","type":"change","z":"79f1378c.5c5978","name":"save to Global DMX6","rules":[{"t":"set","p":"chauvet_155_grid_preset[5]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":780,"wires":[["335ad80.07ee728"]]},{"id":"d7557581.601628","type":"change","z":"79f1378c.5c5978","name":"save to Global DMX9","rules":[{"t":"set","p":"chauvet_155_grid_preset[8]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":540,"wires":[["335ad80.07ee728"]]},{"id":"1c638012.f553e","type":"change","z":"79f1378c.5c5978","name":"save to Global DMX8","rules":[{"t":"set","p":"chauvet_155_grid_preset[7]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":260,"wires":[["335ad80.07ee728"]]},{"id":"2329f6bf.5e39ea","type":"change","z":"79f1378c.5c5978","name":"save to Global DMX7","rules":[{"t":"set","p":"chauvet_155_grid_preset[6]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":220,"wires":[["335ad80.07ee728"]]},{"id":"65d53bc2.133834","type":"function","z":"79f1378c.5c5978","name":"insert preset","func":"var preset = [];\npreset = global.get(\"chauvet_155_grid_preset\");\nvar newMsg = {};\nnewMsg.collection = 'chauvet_155_grid_presets';\nnewMsg.payload = [\n  {topic: msg.payload},\n  {\n    \"$set\": {\n      \"payload\": preset\n    }\n  },\n  {upsert:true}\n];\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":378,"y":81,"wires":[["1365a19c.ffe65e"]]},{"id":"1365a19c.ffe65e","type":"mongodb2 in","z":"79f1378c.5c5978","service":"_ext_","configNode":"e8414499.885228","name":"Store Data into MongoDB","collection":"chauvet_155_grid_presets","operation":"findOneAndUpdate","x":589,"y":82,"wires":[["84e86f7f.6fd03"]]},{"id":"d9f8ebdb.226528","type":"mongodb2 in","z":"79f1378c.5c5978","service":"_ext_","configNode":"e8414499.885228","name":"Mongo DB dynamic operation","collection":"chauvet_155_grid_presets","operation":"","x":499,"y":202,"wires":[["888a3648.2f9de8"]]},{"id":"84e86f7f.6fd03","type":"function","z":"79f1378c.5c5978","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":265,"y":199,"wires":[["d9f8ebdb.226528"]]},{"id":"abb5f3ff.37d65","type":"ui_dropdown","z":"79f1378c.5c5978","name":"Recall Pulldown","label":"Recall","place":"Select option","group":"d6765d36.209eb","order":2,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1120,"y":60,"wires":[["412d741f.08883c","99e84caa.fa7da"]]},{"id":"888a3648.2f9de8","type":"function","z":"79f1378c.5c5978","name":"Format Preset Pulldown","func":"flow.set(\"chauvet_155_grid_db_preset\", msg.payload);\nvar msg_array = [];\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic !== undefined){\n        tmp_object[msg_object.topic] = {\"topic\": msg_object.topic, \"payload\": msg_object.payload};\n        msg_array[i] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":60,"wires":[["abb5f3ff.37d65"]]},{"id":"da0b7001.b4677","type":"inject","z":"79f1378c.5c5978","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":116,"y":197.5,"wires":[["84e86f7f.6fd03"]]},{"id":"4717a1e4.770d6","type":"ui_text_input","z":"79f1378c.5c5978","name":"","label":"Edit Preset Name","group":"d6765d36.209eb","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"","x":1503,"y":57,"wires":[["855857e8.6279b8"]]},{"id":"bb902a0a.ee3aa8","type":"ui_button","z":"79f1378c.5c5978","name":"Save","group":"d6765d36.209eb","order":5,"width":0,"height":0,"passthru":false,"label":"Save Preset","color":"#FFF","bgcolor":"#FF0000","icon":"","payload":"","payloadType":"date","topic":"","x":58,"y":79.5,"wires":[["860d2082.90374"]]},{"id":"855857e8.6279b8","type":"function","z":"79f1378c.5c5978","name":"set global preset name","func":"global.set(\"chauvet_155_grid_preset_name\", msg.payload);","outputs":1,"noerr":0,"x":1735,"y":60,"wires":[[]]},{"id":"860d2082.90374","type":"function","z":"79f1378c.5c5978","name":"save preset","func":"msg.payload = global.get(\"chauvet_155_grid_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":80,"wires":[["65d53bc2.133834"]]},{"id":"99e84caa.fa7da","type":"function","z":"79f1378c.5c5978","name":"get preset name","func":"msg.payload = msg.payload.topic;\nreturn msg;","outputs":1,"noerr":0,"x":1308,"y":58.5,"wires":[["4717a1e4.770d6"]]},{"id":"5fcb6169.76ae9","type":"ui_text","z":"79f1378c.5c5978","group":"d6765d36.209eb","order":3,"width":0,"height":0,"name":"","label":"SAVE PRESET","format":"{{msg.payload}}","layout":"row-left","x":234,"y":331,"wires":[]},{"id":"83882d75.a9aaf","type":"ui_text","z":"79f1378c.5c5978","group":"d6765d36.209eb","order":1,"width":0,"height":0,"name":"","label":"RECALL PRESET","format":"{{msg.payload}}","layout":"row-left","x":250,"y":280,"wires":[]},{"id":"f6c0b647.587348","type":"function","z":"79f1378c.5c5978","name":"delete preset","func":"var newMsg = {};\nnewMsg.operation  = 'deleteOne';\nnewMsg.payload    = {'topic' : msg.payload};\nreturn newMsg;","outputs":1,"noerr":0,"x":379,"y":140,"wires":[["23d8ee9b.4282e2"]]},{"id":"23d8ee9b.4282e2","type":"mongodb2 in","z":"79f1378c.5c5978","service":"_ext_","configNode":"e8414499.885228","name":"Store Data into MongoDB","collection":"chauvet_155_grid_presets","operation":"","x":590,"y":141,"wires":[["84e86f7f.6fd03"]]},{"id":"cecbe9c2.110a98","type":"ui_button","z":"79f1378c.5c5978","name":"Delete","group":"d6765d36.209eb","order":6,"width":0,"height":0,"passthru":false,"label":"Delete Preset","color":"#FFF","bgcolor":"#FF00FF","icon":"","payload":"","payloadType":"date","topic":"","x":59,"y":138.5,"wires":[["169934df.ce7afb"]]},{"id":"169934df.ce7afb","type":"function","z":"79f1378c.5c5978","name":"delete preset","func":"msg.payload = global.get(\"chauvet_155_grid_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":211,"y":139,"wires":[["f6c0b647.587348"]]},{"id":"335ad80.07ee728","type":"function","z":"79f1378c.5c5978","name":"Send Current Universe","func":"msg.payload = { \n                dmx: global.get(\"chauvet_155_grid_preset\"),\n                offset: 449\n            };\nreturn msg;","outputs":1,"noerr":0,"x":1920,"y":480,"wires":[[]]},{"id":"edba600a.812bf","type":"ui_numeric","z":"79f1378c.5c5978","name":"DMX 3: Fine Pan","label":"Fine Pan","group":"9a7f8d13.dcca","order":8,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1330,"y":380,"wires":[["2e117438.0f8dfc"]]},{"id":"30bc207b.460af","type":"ui_numeric","z":"79f1378c.5c5978","name":"DMX 2: Tilt (0-270 deg)","label":"Tilt (0-270 deg)","group":"9a7f8d13.dcca","order":6,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1330,"y":340,"wires":[["cca26925.bc32e8"]]},{"id":"6c92185f.3fc788","type":"ui_numeric","z":"79f1378c.5c5978","name":"DMX 4: Fine Tilt","label":"Fine Tilt","group":"9a7f8d13.dcca","order":10,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1320,"y":420,"wires":[["eebafa9c.374748"]]},{"id":"890d196.3febde8","type":"ui_numeric","z":"79f1378c.5c5978","name":"DMX 5 Speed (Fast to Slow)","label":"Speed (Fast to Slow)","group":"9a7f8d13.dcca","order":12,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1360,"y":460,"wires":[["a32f8f2d.2ba85"]]},{"id":"ac4b7a1a.90acb8","type":"ui_numeric","z":"79f1378c.5c5978","name":"","label":"Color DMX Output Value","group":"498d4104.2bb0b","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1390,"y":780,"wires":[["bd015c07.b0932"]]},{"id":"b15c8819.f127e8","type":"ui_numeric","z":"79f1378c.5c5978","name":"DMX 8 Dimmer (0-100%)","label":"Dimmer (0-100%)","group":"9a7f8d13.dcca","order":2,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1350,"y":260,"wires":[["1c638012.f553e"]]},{"id":"39f0424c.475c7e","type":"ui_numeric","z":"79f1378c.5c5978","name":"DMX 7 Shutter","label":"Strobe (Slow to Fast)","group":"9a7f8d13.dcca","order":14,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1340,"y":220,"wires":[["2329f6bf.5e39ea","c1b23ba8.fd1fa8"]]},{"id":"92533617.6ca788","type":"ui_slider","z":"79f1378c.5c5978","name":"DMX1 PAN","label":"","group":"9a7f8d13.dcca","order":5,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1110,"y":300,"wires":[["86f0cbe0.dca548"]]},{"id":"86f0cbe0.dca548","type":"ui_numeric","z":"79f1378c.5c5978","name":"DMX 1: Pan (0-540 deg)","label":"Pan (0-254 = 0-540 deg)","group":"9a7f8d13.dcca","order":4,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1330,"y":300,"wires":[["86f0ce1a.c78c8"]]},{"id":"dfe5d647.a24728","type":"ui_switch","z":"79f1378c.5c5978","name":"","label":"Shutter ON/OFF","group":"9a7f8d13.dcca","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"7","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":1380,"y":120,"wires":[["94577c8b.855a7"]]},{"id":"c1b23ba8.fd1fa8","type":"function","z":"79f1378c.5c5978","name":"update shutter switch based on dmx data","func":"if (msg.payload > 4){\n    msg.payload = 7;\n}\nelse {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1620,"y":180,"wires":[["dfe5d647.a24728"]]},{"id":"6fe8a0e3.d7319","type":"ui_button","z":"79f1378c.5c5978","name":"red","group":"498d4104.2bb0b","order":8,"width":0,"height":0,"passthru":false,"label":"red","color":"","bgcolor":"red","icon":"","payload":"24","payloadType":"num","topic":"","x":890,"y":1020,"wires":[["ac4b7a1a.90acb8"]]},{"id":"93b0ebc6.47ab18","type":"ui_button","z":"79f1378c.5c5978","name":"white","group":"498d4104.2bb0b","order":4,"width":0,"height":0,"passthru":false,"label":"white (color wheel off)","color":"black","bgcolor":"white","icon":"","payload":"0","payloadType":"num","topic":"","x":890,"y":860,"wires":[["ac4b7a1a.90acb8"]]},{"id":"b9498cd6.2c02c","type":"ui_button","z":"79f1378c.5c5978","name":"yellow","group":"498d4104.2bb0b","order":5,"width":0,"height":0,"passthru":false,"label":"yellow","color":"black","bgcolor":"yellow","icon":"","payload":"6","payloadType":"num","topic":"","x":890,"y":900,"wires":[["ac4b7a1a.90acb8"]]},{"id":"305e3214.5c72ee","type":"ui_button","z":"79f1378c.5c5978","name":"pink","group":"498d4104.2bb0b","order":6,"width":0,"height":0,"passthru":false,"label":"pink","color":"","bgcolor":"magenta","icon":"","payload":"12","payloadType":"num","topic":"","x":890,"y":940,"wires":[["ac4b7a1a.90acb8"]]},{"id":"ca2d34.239992d","type":"ui_button","z":"79f1378c.5c5978","name":"green","group":"498d4104.2bb0b","order":7,"width":0,"height":0,"passthru":false,"label":"green","color":"","bgcolor":"green","icon":"","payload":"18","payloadType":"num","topic":"","x":890,"y":980,"wires":[["ac4b7a1a.90acb8"]]},{"id":"c3cf4219.565e1","type":"ui_button","z":"79f1378c.5c5978","name":"cyan","group":"498d4104.2bb0b","order":9,"width":0,"height":0,"passthru":false,"label":"cyan","color":"black","bgcolor":"cyan","icon":"","payload":"30","payloadType":"num","topic":"","x":890,"y":1060,"wires":[["ac4b7a1a.90acb8"]]},{"id":"5501f59f.18993c","type":"ui_button","z":"79f1378c.5c5978","name":"lime","group":"498d4104.2bb0b","order":10,"width":0,"height":0,"passthru":false,"label":"lime","color":"black","bgcolor":"lime","icon":"","payload":"48","payloadType":"num","topic":"","x":890,"y":1180,"wires":[["ac4b7a1a.90acb8"]]},{"id":"22a328db.3d77d8","type":"ui_button","z":"79f1378c.5c5978","name":"orange","group":"498d4104.2bb0b","order":11,"width":0,"height":0,"passthru":false,"label":"orange","color":"","bgcolor":"orange","icon":"","payload":"36","payloadType":"num","topic":"","x":900,"y":1100,"wires":[["ac4b7a1a.90acb8"]]},{"id":"5ba83cda.06eb04","type":"ui_button","z":"79f1378c.5c5978","name":"blue","group":"498d4104.2bb0b","order":12,"width":0,"height":0,"passthru":false,"label":"blue","color":"","bgcolor":"blue","icon":"","payload":"42","payloadType":"num","topic":"","x":890,"y":1140,"wires":[["ac4b7a1a.90acb8"]]},{"id":"f5d8a175.8d488","type":"ui_switch","z":"79f1378c.5c5978","name":"","label":"Color Wheel UP/DOWN & SPEED","group":"498d4104.2bb0b","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"192","onvalueType":"num","onicon":"","oncolor":"","offvalue":"128","offvalueType":"num","officon":"","offcolor":"","x":660,"y":740,"wires":[["1c1936fe.0a7c79"]]},{"id":"1c1936fe.0a7c79","type":"function","z":"79f1378c.5c5978","name":"save flow offset","func":"flow.set(\"155_grid_color_wheel_offset\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":740,"wires":[["a068684c.930e48"]]},{"id":"96db919c.31b7","type":"function","z":"79f1378c.5c5978","name":"save flow offset","func":"flow.set(\"155_grid_color_wheel_speed\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":800,"wires":[["a068684c.930e48"]]},{"id":"5b4b22bb.6ab4cc","type":"ui_button","z":"79f1378c.5c5978","name":"red + cyan","group":"498d4104.2bb0b","order":17,"width":0,"height":0,"passthru":false,"label":"red + cyan","color":"cyan","bgcolor":"red","icon":"","payload":"88","payloadType":"num","topic":"","x":1110,"y":1000,"wires":[["ac4b7a1a.90acb8"]]},{"id":"c691c225.17e06","type":"ui_button","z":"79f1378c.5c5978","name":"white + yellow","group":"498d4104.2bb0b","order":13,"width":0,"height":0,"passthru":false,"label":"white + yellow","color":"black","bgcolor":"white","icon":"","payload":"64","payloadType":"num","topic":"","x":1120,"y":840,"wires":[["ac4b7a1a.90acb8"]]},{"id":"dc0b93d1.82779","type":"ui_button","z":"79f1378c.5c5978","name":"yellow + pink","group":"498d4104.2bb0b","order":14,"width":0,"height":0,"passthru":false,"label":"yellow + pink","color":"magenta","bgcolor":"yellow","icon":"","payload":"70","payloadType":"num","topic":"","x":1110,"y":880,"wires":[["ac4b7a1a.90acb8"]]},{"id":"26e01aa5.f8cfc6","type":"ui_button","z":"79f1378c.5c5978","name":"pink + green","group":"498d4104.2bb0b","order":15,"width":0,"height":0,"passthru":false,"label":"pink + green","color":"green","bgcolor":"magenta","icon":"","payload":"76","payloadType":"num","topic":"","x":1110,"y":920,"wires":[["ac4b7a1a.90acb8"]]},{"id":"ab54b4be.10fb58","type":"ui_button","z":"79f1378c.5c5978","name":"green + red","group":"498d4104.2bb0b","order":16,"width":0,"height":0,"passthru":false,"label":"green + red","color":"red","bgcolor":"green","icon":"","payload":"83","payloadType":"num","topic":"","x":1110,"y":960,"wires":[["ac4b7a1a.90acb8"]]},{"id":"93ab4e0e.f1821","type":"ui_button","z":"79f1378c.5c5978","name":"cyan + orange","group":"498d4104.2bb0b","order":18,"width":0,"height":0,"passthru":false,"label":"cyan + orange","color":"orange","bgcolor":"cyan","icon":"","payload":"94","payloadType":"num","topic":"","x":1120,"y":1040,"wires":[["ac4b7a1a.90acb8"]]},{"id":"ee917409.a6bac8","type":"ui_button","z":"79f1378c.5c5978","name":"lime + amber","group":"498d4104.2bb0b","order":19,"width":0,"height":0,"passthru":false,"label":"lime + amber","color":"amber","bgcolor":"lime","icon":"","payload":"112","payloadType":"num","topic":"","x":1110,"y":1160,"wires":[["ac4b7a1a.90acb8"]]},{"id":"2f7c6db4.80dad2","type":"ui_button","z":"79f1378c.5c5978","name":"orange + blue","group":"498d4104.2bb0b","order":20,"width":0,"height":0,"passthru":false,"label":"orange + blue","color":"blue","bgcolor":"orange","icon":"","payload":"100","payloadType":"num","topic":"","x":1120,"y":1080,"wires":[["ac4b7a1a.90acb8"]]},{"id":"abc883b5.e6b26","type":"ui_button","z":"79f1378c.5c5978","name":"blue + lime","group":"498d4104.2bb0b","order":21,"width":0,"height":0,"passthru":false,"label":"blue + lime","color":"lime","bgcolor":"blue","icon":"","payload":"106","payloadType":"num","topic":"","x":1090,"y":1120,"wires":[["ac4b7a1a.90acb8"]]},{"id":"a068684c.930e48","type":"function","z":"79f1378c.5c5978","name":"color wheel slider + offset","func":"var offset = flow.get(\"155_grid_color_wheel_offset\");\nvar color_wheel_speed = flow.get(\"155_grid_color_wheel_speed\");\nmsg.payload = offset + color_wheel_speed;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":780,"wires":[["ac4b7a1a.90acb8"]]},{"id":"6d864107.47b24","type":"ui_button","z":"79f1378c.5c5978","name":"no gobo","group":"8e52ec3a.d2f4f","order":2,"width":0,"height":0,"passthru":false,"label":"no gobo","color":"black","bgcolor":"white","icon":"","payload":"0","payloadType":"num","topic":"","x":1340,"y":840,"wires":[["bb83f48c.510978"]]},{"id":"4781854b.537bdc","type":"ui_button","z":"79f1378c.5c5978","name":"dots in a circle gobo","group":"8e52ec3a.d2f4f","order":3,"width":0,"height":0,"passthru":false,"label":"dots in a circle gobo","color":"black","bgcolor":"white","icon":"","payload":"18","payloadType":"num","topic":"","x":1380,"y":960,"wires":[["bb83f48c.510978"]]},{"id":"24832e48.bc8a52","type":"ui_button","z":"79f1378c.5c5978","name":"bubbles","group":"8e52ec3a.d2f4f","order":4,"width":0,"height":0,"passthru":false,"label":"bubbles","color":"black","bgcolor":"white","icon":"","payload":"12","payloadType":"num","topic":"","x":1340,"y":920,"wires":[["bb83f48c.510978"]]},{"id":"cd94c207.91dd4","type":"ui_button","z":"79f1378c.5c5978","name":"swirls","group":"8e52ec3a.d2f4f","order":5,"width":0,"height":0,"passthru":false,"label":"swirls","color":"black","bgcolor":"white","icon":"","payload":"6","payloadType":"num","topic":"","x":1330,"y":880,"wires":[["bb83f48c.510978"]]},{"id":"e894b079.0d557","type":"ui_button","z":"79f1378c.5c5978","name":"curve thatch","group":"8e52ec3a.d2f4f","order":6,"width":0,"height":0,"passthru":false,"label":"curve thatch","color":"black","bgcolor":"white","icon":"","payload":"24","payloadType":"num","topic":"","x":1350,"y":1000,"wires":[["bb83f48c.510978"]]},{"id":"c329c66f.473668","type":"ui_button","z":"79f1378c.5c5978","name":"sun","group":"8e52ec3a.d2f4f","order":7,"width":0,"height":0,"passthru":false,"label":"sun","color":"black","bgcolor":"white","icon":"","payload":"30","payloadType":"num","topic":"","x":1330,"y":1040,"wires":[["bb83f48c.510978"]]},{"id":"c83af72.8e71708","type":"ui_button","z":"79f1378c.5c5978","name":"stars","group":"8e52ec3a.d2f4f","order":8,"width":0,"height":0,"passthru":false,"label":"stars","color":"black","bgcolor":"white","icon":"","payload":"36","payloadType":"num","topic":"","x":1330,"y":1080,"wires":[["bb83f48c.510978"]]},{"id":"39b43410.e29f4c","type":"ui_button","z":"79f1378c.5c5978","name":"spiral","group":"8e52ec3a.d2f4f","order":9,"width":0,"height":0,"passthru":false,"label":"spiral","color":"black","bgcolor":"white","icon":"","payload":"42","payloadType":"num","topic":"","x":1330,"y":1120,"wires":[["bb83f48c.510978"]]},{"id":"b3e677f2.8479c8","type":"ui_numeric","z":"79f1378c.5c5978","name":"","label":"Gobo Output Value","group":"8e52ec3a.d2f4f","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1330,"y":540,"wires":[["d7557581.601628"]]},{"id":"bb83f48c.510978","type":"function","z":"79f1378c.5c5978","name":"set current gobo selection","func":"flow.set(\"155_grid_current_gobo_selection\", msg.payload);\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":1630,"y":960,"wires":[["bf748020.37b9e"]]},{"id":"6e243217.a9d5dc","type":"ui_slider","z":"79f1378c.5c5978","name":"DMX9 GOBO SHAKE SPEED","label":"Shake:","group":"8e52ec3a.d2f4f","order":10,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"5","step":"1","x":1410,"y":1240,"wires":[["bf748020.37b9e"]]},{"id":"bf748020.37b9e","type":"function","z":"79f1378c.5c5978","name":"gobo rotation slider + offset","func":"var current_gobo = flow.get(\"155_grid_current_gobo_selection\");\nif (msg.payload === 0) {\n    msg.payload = current_gobo;\n    return msg;\n}\nelse if(msg.payload!==null) {\n    switch(current_gobo) {\n        case 56:\n            msg.payload = msg.payload + 64;\n            break;\n        case 48:\n            msg.payload = msg.payload + 74;\n            break;\n        case 42:\n            msg.payload = msg.payload + 80;\n            break;\n        case 36:\n            msg.payload = msg.payload + 86;\n            break;\n        case 30:\n            msg.payload = msg.payload + 92;\n            break;\n        case 24:\n            msg.payload = msg.payload + 98;\n            break;\n        case 18:\n            msg.payload = msg.payload + 104;\n            break;\n        case 12:\n            msg.payload = msg.payload + 110;\n            break;\n        case 6:\n            msg.payload = msg.payload + 116;\n            break;\n        default:\n            msg.payload = 0;\n    }\n    return msg;\n}\n","outputs":1,"noerr":0,"x":1980,"y":960,"wires":[["b3e677f2.8479c8"]]},{"id":"7e8d01b4.f4b23","type":"ui_slider","z":"79f1378c.5c5978","name":"DMX7 GOBO CYCLE SPEED","label":"","group":"8e52ec3a.d2f4f","order":12,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"63","step":"1","x":1750,"y":1140,"wires":[["10596a94.ef70b5"]]},{"id":"777fc097.f6c57","type":"ui_switch","z":"79f1378c.5c5978","name":"","label":"Gobo Cycle UP/DOWN & SPEED","group":"8e52ec3a.d2f4f","order":11,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"192","onvalueType":"num","onicon":"","oncolor":"","offvalue":"128","offvalueType":"num","officon":"","offcolor":"","x":1760,"y":1080,"wires":[["19e181be.744f5e"]]},{"id":"19e181be.744f5e","type":"function","z":"79f1378c.5c5978","name":"save flow offset","func":"flow.set(\"155_grid_gobo_cycle_offset\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2000,"y":1080,"wires":[["2e060992.429326"]]},{"id":"10596a94.ef70b5","type":"function","z":"79f1378c.5c5978","name":"save flow offset","func":"flow.set(\"155_grid_gobo_cycle_speed\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2000,"y":1140,"wires":[["2e060992.429326"]]},{"id":"2e060992.429326","type":"function","z":"79f1378c.5c5978","name":"gobo cycle slider + offset","func":"var offset = flow.get(\"155_grid_gobo_cycle_offset\");\nvar gobo_cycle_speed = flow.get(\"155_grid_gobo_cycle_speed\");\nmsg.payload = offset + gobo_cycle_speed;\nreturn msg;","outputs":1,"noerr":0,"x":2230,"y":1120,"wires":[["b3e677f2.8479c8"]]},{"id":"d3c39867.ade618","type":"function","z":"79f1378c.5c5978","name":"trigger pitch preset","func":"var chauvet_155_grid_preset = flow.get(\"chauvet_155_grid_db_preset\");\nfor(var i = 0;i<chauvet_155_grid_preset.length; i++){\n    var temp_preset = chauvet_155_grid_preset[i];\n    if (temp_preset.topic==msg.payload){\n        msg.payload = { payload: temp_preset.payload };\n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":400,"wires":[["412d741f.08883c"]]},{"id":"e62ab478.8e1788","type":"ui_button","z":"79f1378c.5c5978","name":"amber","group":"498d4104.2bb0b","order":10,"width":0,"height":0,"passthru":false,"label":"amber","color":"black","bgcolor":"amber","icon":"","payload":"54","payloadType":"num","topic":"","x":890,"y":1220,"wires":[["ac4b7a1a.90acb8"]]},{"id":"d012d07e.646df","type":"ui_button","z":"79f1378c.5c5978","name":"amber + white","group":"498d4104.2bb0b","order":19,"width":0,"height":0,"passthru":false,"label":"amber + white","color":"white","bgcolor":"amber","icon":"","payload":"118","payloadType":"num","topic":"","x":1120,"y":1200,"wires":[["ac4b7a1a.90acb8"]]},{"id":"778c62f0.bd8f4c","type":"ui_button","z":"79f1378c.5c5978","name":"circle legs","group":"8e52ec3a.d2f4f","order":8,"width":0,"height":0,"passthru":false,"label":"circle legs","color":"black","bgcolor":"white","icon":"","payload":"48","payloadType":"num","topic":"","x":1340,"y":1160,"wires":[["bb83f48c.510978"]]},{"id":"c3b6b3ac.bc95c","type":"ui_button","z":"79f1378c.5c5978","name":"thatch","group":"8e52ec3a.d2f4f","order":9,"width":0,"height":0,"passthru":false,"label":"thatch","color":"black","bgcolor":"white","icon":"","payload":"54","payloadType":"num","topic":"","x":1330,"y":1200,"wires":[["bb83f48c.510978"]]},{"id":"84b24d2e.9c88b","type":"ui_button","z":"79f1378c.5c5978","name":"Load Presets","group":"d6765d36.209eb","order":5,"width":0,"height":0,"passthru":false,"label":"Load Presets","color":"white","bgcolor":"purple","icon":"","payload":"","payloadType":"date","topic":"","x":70,"y":240,"wires":[["84e86f7f.6fd03"]]},{"id":"9a7f8d13.dcca","type":"ui_group","z":"","name":"MOVEMENT","tab":"9d6e253b.bfb7a8","order":2,"disp":true,"width":"6","collapse":false},{"id":"498d4104.2bb0b","type":"ui_group","z":"","name":"COLORS","tab":"9d6e253b.bfb7a8","order":3,"disp":true,"width":"6","collapse":false},{"id":"d6765d36.209eb","type":"ui_group","z":"","name":"PRESETS","tab":"9d6e253b.bfb7a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"8e52ec3a.d2f4f","type":"ui_group","z":"","name":"GOBOS","tab":"9d6e253b.bfb7a8","order":4,"disp":true,"width":"6","collapse":false},{"id":"9d6e253b.bfb7a8","type":"ui_tab","z":"","name":"Chauvet 155Grid","icon":"dashboard","order":11},{"id":"169f71f9.0db13e","type":"subflow","name":"Subflow 1","info":"","in":[{"x":440,"y":400,"wires":[{"id":"f08886bb.42c768"}]}],"out":[{"x":2100,"y":480,"wires":[{"id":"3c64c52a.b69f6a","port":0}]}]},{"id":"dcc8f0f1.b745","type":"ui_slider","z":"169f71f9.0db13e","name":"DMX3 FINE PAN","label":"","group":"ff0e467d.4df6d8","order":9,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1150,"y":380,"wires":[["e34e02da.e823"]]},{"id":"1f51f329.bc6ecd","type":"ui_slider","z":"169f71f9.0db13e","name":"DMX7 SHUTTER","label":"","group":"ff0e467d.4df6d8","order":15,"width":0,"height":0,"passthru":true,"topic":"Slider","min":"7","max":"215","step":1,"x":1150,"y":220,"wires":[["ea12af47.84581"]]},{"id":"e3ad2349.00455","type":"ui_slider","z":"169f71f9.0db13e","name":"DMX8 DIMMER","label":"","group":"ff0e467d.4df6d8","order":3,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1140,"y":260,"wires":[["830e36cd.93c748"]]},{"id":"c535d605.110a08","type":"ui_slider","z":"169f71f9.0db13e","name":"DMX6 COLOR WHEEL SPEED","label":"","group":"3c18de2e.9a7e42","order":3,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"63","step":"1","x":670,"y":800,"wires":[["1ad1fc58.808d44"]]},{"id":"f4299be5.573018","type":"ui_slider","z":"169f71f9.0db13e","name":"DMX5 SPEED","label":"","group":"ff0e467d.4df6d8","order":13,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1140,"y":460,"wires":[["10d14271.75b6ee"]]},{"id":"a92b4db.29abbb","type":"ui_slider","z":"169f71f9.0db13e","name":"DMX4 FINE TILT","label":"","group":"ff0e467d.4df6d8","order":11,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1150,"y":420,"wires":[["ca74f11b.f8b48"]]},{"id":"445367dc.d5ad18","type":"ui_slider","z":"169f71f9.0db13e","name":"DMX2 TILT","label":"","group":"ff0e467d.4df6d8","order":7,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1130,"y":340,"wires":[["626aa282.f83b6c"]]},{"id":"d0bfbfd1.2779","type":"change","z":"169f71f9.0db13e","name":"save to Global DMX1","rules":[{"t":"set","p":"chauvet_155_floor_preset[0]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":300,"wires":[["3c64c52a.b69f6a"]]},{"id":"ca9dfd78.0d0ec","type":"change","z":"169f71f9.0db13e","name":"save to Global DMX3","rules":[{"t":"set","p":"chauvet_155_floor_preset[2]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":380,"wires":[["3c64c52a.b69f6a"]]},{"id":"38a48b55.b7b004","type":"change","z":"169f71f9.0db13e","name":"save to Global DMX2","rules":[{"t":"set","p":"chauvet_155_floor_preset[1]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":340,"wires":[["3c64c52a.b69f6a"]]},{"id":"fba33ba3.2b1648","type":"change","z":"169f71f9.0db13e","name":"save to Global DMX4","rules":[{"t":"set","p":"chauvet_155_floor_preset[3]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":420,"wires":[["3c64c52a.b69f6a"]]},{"id":"98003a2d.9f73c8","type":"change","z":"169f71f9.0db13e","name":"save to Global DMX5","rules":[{"t":"set","p":"chauvet_155_floor_preset[4]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":460,"wires":[["3c64c52a.b69f6a"]]},{"id":"9adf07f0.3a0298","type":"change","z":"169f71f9.0db13e","name":"save to Global DMX6","rules":[{"t":"set","p":"chauvet_155_floor_preset[5]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":780,"wires":[["3c64c52a.b69f6a"]]},{"id":"6853fed3.daec2","type":"change","z":"169f71f9.0db13e","name":"save to Global DMX9","rules":[{"t":"set","p":"chauvet_155_floor_preset[8]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":540,"wires":[["3c64c52a.b69f6a"]]},{"id":"1a260e0b.f59692","type":"change","z":"169f71f9.0db13e","name":"save to Global DMX8","rules":[{"t":"set","p":"chauvet_155_floor_preset[7]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":260,"wires":[["3c64c52a.b69f6a"]]},{"id":"f150da4f.681bf8","type":"change","z":"169f71f9.0db13e","name":"save to Global DMX7","rules":[{"t":"set","p":"chauvet_155_floor_preset[6]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":220,"wires":[["3c64c52a.b69f6a"]]},{"id":"72205909.7a2798","type":"function","z":"169f71f9.0db13e","name":"Just get preset","func":"global.set(\"chauvet_155_floor_preset\", msg.payload.payload);\n\nvar preset = [];\nvar m = [];\npreset = global.get(\"chauvet_155_floor_preset\");\n\n\nfor (var i=0;i<13;i++)\n{\n    m[i] = { payload: preset[i] };\n}\nreturn m;\n","outputs":13,"noerr":0,"x":900,"y":360,"wires":[["413000d7.205de"],["dcc8f0f1.b745"],["445367dc.d5ad18"],["a92b4db.29abbb"],["f4299be5.573018"],["f9111796.bd1028"],["1a4c43c0.8c2aac"],[],[],["e3ad2349.00455"],["1f51f329.bc6ecd"],[],[]]},{"id":"c3da8074.35a03","type":"function","z":"169f71f9.0db13e","name":"insert preset","func":"var preset = [];\npreset = global.get(\"chauvet_155_floor_preset\");\nvar newMsg = {};\nnewMsg.collection = 'chauvet_155_floor_presets';\nnewMsg.payload = [\n  {topic: msg.payload},\n  {\n    \"$set\": {\n      \"payload\": preset\n    }\n  },\n  {upsert:true}\n];\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":398,"y":81,"wires":[["bff9a016.c24a4"]]},{"id":"bff9a016.c24a4","type":"mongodb2 in","z":"169f71f9.0db13e","service":"_ext_","configNode":"e8414499.885228","name":"Store Data into MongoDB","collection":"chauvet_155_floor_presets","operation":"findOneAndUpdate","x":609,"y":82,"wires":[["a547bf0d.1dcc8"]]},{"id":"7c3b2e9.17372d","type":"mongodb2 in","z":"169f71f9.0db13e","service":"_ext_","configNode":"e8414499.885228","name":"Mongo DB dynamic operation","collection":"chauvet_155_floor_presets","operation":"","x":519,"y":202,"wires":[["2cebfc0.785f304"]]},{"id":"a547bf0d.1dcc8","type":"function","z":"169f71f9.0db13e","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":285,"y":199,"wires":[["7c3b2e9.17372d"]]},{"id":"897f1dce.b09d4","type":"ui_dropdown","z":"169f71f9.0db13e","name":"Recall Pulldown","label":"Recall","place":"Select option","group":"ac0e09be.2f7ff8","order":2,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1140,"y":60,"wires":[["72205909.7a2798","f5cb5bae.e571e8"]]},{"id":"2cebfc0.785f304","type":"function","z":"169f71f9.0db13e","name":"Format Preset Pulldown","func":"flow.set(\"chauvet_155_floor_db_preset\", msg.payload);\nvar msg_array = [];\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic !== undefined){\n        tmp_object[msg_object.topic] = {\"topic\": msg_object.topic, \"payload\": msg_object.payload};\n        msg_array[i] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":60,"wires":[["897f1dce.b09d4"]]},{"id":"1ee700b4.29242f","type":"inject","z":"169f71f9.0db13e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":136,"y":197.5,"wires":[["a547bf0d.1dcc8"]]},{"id":"91e34124.bf666","type":"ui_text_input","z":"169f71f9.0db13e","name":"","label":"Edit Preset Name","group":"ac0e09be.2f7ff8","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"","x":1523,"y":57,"wires":[["a6f5747.1fceb88"]]},{"id":"beaaefa7.ecc6e","type":"ui_button","z":"169f71f9.0db13e","name":"Save","group":"ac0e09be.2f7ff8","order":5,"width":0,"height":0,"passthru":false,"label":"Save Preset","color":"#FFF","bgcolor":"#FF0000","icon":"","payload":"","payloadType":"date","topic":"","x":78,"y":79.5,"wires":[["1f2b662b.13c72a"]]},{"id":"a6f5747.1fceb88","type":"function","z":"169f71f9.0db13e","name":"set global preset name","func":"global.set(\"chauvet_155_floor_preset_name\", msg.payload);","outputs":1,"noerr":0,"x":1755,"y":60,"wires":[[]]},{"id":"1f2b662b.13c72a","type":"function","z":"169f71f9.0db13e","name":"save preset","func":"msg.payload = global.get(\"chauvet_155_floor_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":80,"wires":[["c3da8074.35a03"]]},{"id":"f5cb5bae.e571e8","type":"function","z":"169f71f9.0db13e","name":"get preset name","func":"msg.payload = msg.payload.topic;\nreturn msg;","outputs":1,"noerr":0,"x":1328,"y":58.5,"wires":[["91e34124.bf666"]]},{"id":"1dcc2587.282b7a","type":"ui_text","z":"169f71f9.0db13e","group":"ac0e09be.2f7ff8","order":3,"width":0,"height":0,"name":"","label":"SAVE PRESET","format":"{{msg.payload}}","layout":"row-left","x":254,"y":331,"wires":[]},{"id":"eca2db1.9880028","type":"ui_text","z":"169f71f9.0db13e","group":"ac0e09be.2f7ff8","order":1,"width":0,"height":0,"name":"","label":"RECALL PRESET","format":"{{msg.payload}}","layout":"row-left","x":270,"y":280,"wires":[]},{"id":"4f46f8c.ba66708","type":"function","z":"169f71f9.0db13e","name":"delete preset","func":"var newMsg = {};\nnewMsg.operation  = 'deleteOne';\nnewMsg.payload    = {'topic' : msg.payload};\nreturn newMsg;","outputs":1,"noerr":0,"x":399,"y":140,"wires":[["182cc1b7.4af8ae"]]},{"id":"182cc1b7.4af8ae","type":"mongodb2 in","z":"169f71f9.0db13e","service":"_ext_","configNode":"e8414499.885228","name":"Store Data into MongoDB","collection":"chauvet_155_floor_presets","operation":"","x":610,"y":141,"wires":[["a547bf0d.1dcc8"]]},{"id":"3dc1b260.83632e","type":"ui_button","z":"169f71f9.0db13e","name":"Delete","group":"ac0e09be.2f7ff8","order":6,"width":0,"height":0,"passthru":false,"label":"Delete Preset","color":"#FFF","bgcolor":"#FF00FF","icon":"","payload":"","payloadType":"date","topic":"","x":79,"y":138.5,"wires":[["ebc0f376.93699"]]},{"id":"ebc0f376.93699","type":"function","z":"169f71f9.0db13e","name":"delete preset","func":"msg.payload = global.get(\"chauvet_155_floor_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":231,"y":139,"wires":[["4f46f8c.ba66708"]]},{"id":"3c64c52a.b69f6a","type":"function","z":"169f71f9.0db13e","name":"Send Current Universe","func":"msg.payload = { \n                dmx: global.get(\"chauvet_155_floor_preset\"),\n                offset: 429\n            };\nreturn msg;","outputs":1,"noerr":0,"x":1940,"y":480,"wires":[[]]},{"id":"e34e02da.e823","type":"ui_numeric","z":"169f71f9.0db13e","name":"DMX 3: Fine Pan","label":"Fine Pan","group":"ff0e467d.4df6d8","order":8,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1350,"y":380,"wires":[["ca9dfd78.0d0ec"]]},{"id":"626aa282.f83b6c","type":"ui_numeric","z":"169f71f9.0db13e","name":"DMX 2: Tilt (0-270 deg)","label":"Tilt (0-270 deg)","group":"ff0e467d.4df6d8","order":6,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1350,"y":340,"wires":[["38a48b55.b7b004"]]},{"id":"ca74f11b.f8b48","type":"ui_numeric","z":"169f71f9.0db13e","name":"DMX 4: Fine Tilt","label":"Fine Tilt","group":"ff0e467d.4df6d8","order":10,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1340,"y":420,"wires":[["fba33ba3.2b1648"]]},{"id":"10d14271.75b6ee","type":"ui_numeric","z":"169f71f9.0db13e","name":"DMX 5 Speed (Fast to Slow)","label":"Speed (Fast to Slow)","group":"ff0e467d.4df6d8","order":12,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1380,"y":460,"wires":[["98003a2d.9f73c8"]]},{"id":"f9111796.bd1028","type":"ui_numeric","z":"169f71f9.0db13e","name":"","label":"Color DMX Output Value","group":"3c18de2e.9a7e42","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1410,"y":780,"wires":[["9adf07f0.3a0298"]]},{"id":"830e36cd.93c748","type":"ui_numeric","z":"169f71f9.0db13e","name":"DMX 8 Dimmer (0-100%)","label":"Dimmer (0-100%)","group":"ff0e467d.4df6d8","order":2,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1370,"y":260,"wires":[["1a260e0b.f59692"]]},{"id":"ea12af47.84581","type":"ui_numeric","z":"169f71f9.0db13e","name":"DMX 7 Shutter","label":"Strobe (Slow to Fast)","group":"ff0e467d.4df6d8","order":14,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1360,"y":220,"wires":[["f150da4f.681bf8","341dbd95.750622"]]},{"id":"413000d7.205de","type":"ui_slider","z":"169f71f9.0db13e","name":"DMX1 PAN","label":"","group":"ff0e467d.4df6d8","order":5,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1130,"y":300,"wires":[["a549f661.45b498"]]},{"id":"a549f661.45b498","type":"ui_numeric","z":"169f71f9.0db13e","name":"DMX 1: Pan (0-540 deg)","label":"Pan (0-254 = 0-540 deg)","group":"ff0e467d.4df6d8","order":4,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1350,"y":300,"wires":[["d0bfbfd1.2779"]]},{"id":"ac77e770.af5478","type":"ui_switch","z":"169f71f9.0db13e","name":"","label":"Shutter ON/OFF","group":"ff0e467d.4df6d8","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"7","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":1400,"y":120,"wires":[["1f51f329.bc6ecd"]]},{"id":"341dbd95.750622","type":"function","z":"169f71f9.0db13e","name":"update shutter switch based on dmx data","func":"if (msg.payload > 4){\n    msg.payload = 7;\n}\nelse {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1640,"y":180,"wires":[["ac77e770.af5478"]]},{"id":"871b8a83.049308","type":"ui_button","z":"169f71f9.0db13e","name":"red","group":"3c18de2e.9a7e42","order":8,"width":0,"height":0,"passthru":false,"label":"red","color":"","bgcolor":"red","icon":"","payload":"24","payloadType":"num","topic":"","x":910,"y":1020,"wires":[["f9111796.bd1028"]]},{"id":"62ca9d51.30c914","type":"ui_button","z":"169f71f9.0db13e","name":"white","group":"3c18de2e.9a7e42","order":4,"width":0,"height":0,"passthru":false,"label":"white (color wheel off)","color":"black","bgcolor":"white","icon":"","payload":"0","payloadType":"num","topic":"","x":910,"y":860,"wires":[["f9111796.bd1028"]]},{"id":"444de80b.6fba98","type":"ui_button","z":"169f71f9.0db13e","name":"yellow","group":"3c18de2e.9a7e42","order":5,"width":0,"height":0,"passthru":false,"label":"yellow","color":"black","bgcolor":"yellow","icon":"","payload":"6","payloadType":"num","topic":"","x":910,"y":900,"wires":[["f9111796.bd1028"]]},{"id":"a0f9017d.07da9","type":"ui_button","z":"169f71f9.0db13e","name":"pink","group":"3c18de2e.9a7e42","order":6,"width":0,"height":0,"passthru":false,"label":"pink","color":"","bgcolor":"magenta","icon":"","payload":"12","payloadType":"num","topic":"","x":910,"y":940,"wires":[["f9111796.bd1028"]]},{"id":"8b3151a4.c0987","type":"ui_button","z":"169f71f9.0db13e","name":"green","group":"3c18de2e.9a7e42","order":7,"width":0,"height":0,"passthru":false,"label":"green","color":"","bgcolor":"green","icon":"","payload":"18","payloadType":"num","topic":"","x":910,"y":980,"wires":[["f9111796.bd1028"]]},{"id":"9608ff70.4bc4a","type":"ui_button","z":"169f71f9.0db13e","name":"cyan","group":"3c18de2e.9a7e42","order":9,"width":0,"height":0,"passthru":false,"label":"cyan","color":"black","bgcolor":"cyan","icon":"","payload":"30","payloadType":"num","topic":"","x":910,"y":1060,"wires":[["f9111796.bd1028"]]},{"id":"33cc0056.a6d7d","type":"ui_button","z":"169f71f9.0db13e","name":"lime","group":"3c18de2e.9a7e42","order":10,"width":0,"height":0,"passthru":false,"label":"lime","color":"black","bgcolor":"lime","icon":"","payload":"48","payloadType":"num","topic":"","x":910,"y":1180,"wires":[["f9111796.bd1028"]]},{"id":"c71c0f7c.9aad2","type":"ui_button","z":"169f71f9.0db13e","name":"orange","group":"3c18de2e.9a7e42","order":11,"width":0,"height":0,"passthru":false,"label":"orange","color":"","bgcolor":"orange","icon":"","payload":"36","payloadType":"num","topic":"","x":920,"y":1100,"wires":[["f9111796.bd1028"]]},{"id":"dc78fe7b.fccdb","type":"ui_button","z":"169f71f9.0db13e","name":"blue","group":"3c18de2e.9a7e42","order":12,"width":0,"height":0,"passthru":false,"label":"blue","color":"","bgcolor":"blue","icon":"","payload":"42","payloadType":"num","topic":"","x":910,"y":1140,"wires":[["f9111796.bd1028"]]},{"id":"42711053.c8971","type":"ui_switch","z":"169f71f9.0db13e","name":"","label":"Color Wheel UP/DOWN & SPEED","group":"3c18de2e.9a7e42","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"192","onvalueType":"num","onicon":"","oncolor":"","offvalue":"128","offvalueType":"num","officon":"","offcolor":"","x":680,"y":740,"wires":[["7852bce3.b8a9f4"]]},{"id":"7852bce3.b8a9f4","type":"function","z":"169f71f9.0db13e","name":"save flow offset","func":"flow.set(\"155_floor_color_wheel_offset\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":740,"wires":[["e7b83856.d22528"]]},{"id":"1ad1fc58.808d44","type":"function","z":"169f71f9.0db13e","name":"save flow offset","func":"flow.set(\"155_floor_color_wheel_speed\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":800,"wires":[["e7b83856.d22528"]]},{"id":"24c622ff.4c58ce","type":"ui_button","z":"169f71f9.0db13e","name":"red + cyan","group":"3c18de2e.9a7e42","order":17,"width":0,"height":0,"passthru":false,"label":"red + cyan","color":"cyan","bgcolor":"red","icon":"","payload":"88","payloadType":"num","topic":"","x":1130,"y":1000,"wires":[["f9111796.bd1028"]]},{"id":"ed3215cf.e23998","type":"ui_button","z":"169f71f9.0db13e","name":"white + yellow","group":"3c18de2e.9a7e42","order":13,"width":0,"height":0,"passthru":false,"label":"white + yellow","color":"black","bgcolor":"white","icon":"","payload":"64","payloadType":"num","topic":"","x":1140,"y":840,"wires":[["f9111796.bd1028"]]},{"id":"cb888c2e.05f66","type":"ui_button","z":"169f71f9.0db13e","name":"yellow + pink","group":"3c18de2e.9a7e42","order":14,"width":0,"height":0,"passthru":false,"label":"yellow + pink","color":"magenta","bgcolor":"yellow","icon":"","payload":"70","payloadType":"num","topic":"","x":1130,"y":880,"wires":[["f9111796.bd1028"]]},{"id":"326b34a0.dfb70c","type":"ui_button","z":"169f71f9.0db13e","name":"pink + green","group":"3c18de2e.9a7e42","order":15,"width":0,"height":0,"passthru":false,"label":"pink + green","color":"green","bgcolor":"magenta","icon":"","payload":"76","payloadType":"num","topic":"","x":1130,"y":920,"wires":[["f9111796.bd1028"]]},{"id":"1c7ece4f.cba672","type":"ui_button","z":"169f71f9.0db13e","name":"green + red","group":"3c18de2e.9a7e42","order":16,"width":0,"height":0,"passthru":false,"label":"green + red","color":"red","bgcolor":"green","icon":"","payload":"83","payloadType":"num","topic":"","x":1130,"y":960,"wires":[["f9111796.bd1028"]]},{"id":"d1976248.ce20e","type":"ui_button","z":"169f71f9.0db13e","name":"cyan + orange","group":"3c18de2e.9a7e42","order":18,"width":0,"height":0,"passthru":false,"label":"cyan + orange","color":"orange","bgcolor":"cyan","icon":"","payload":"94","payloadType":"num","topic":"","x":1140,"y":1040,"wires":[["f9111796.bd1028"]]},{"id":"9c001f44.5fd8d","type":"ui_button","z":"169f71f9.0db13e","name":"lime + amber","group":"3c18de2e.9a7e42","order":19,"width":0,"height":0,"passthru":false,"label":"lime + amber","color":"amber","bgcolor":"lime","icon":"","payload":"112","payloadType":"num","topic":"","x":1130,"y":1160,"wires":[["f9111796.bd1028"]]},{"id":"e53129f7.0259b8","type":"ui_button","z":"169f71f9.0db13e","name":"orange + blue","group":"3c18de2e.9a7e42","order":20,"width":0,"height":0,"passthru":false,"label":"orange + blue","color":"blue","bgcolor":"orange","icon":"","payload":"100","payloadType":"num","topic":"","x":1140,"y":1080,"wires":[["f9111796.bd1028"]]},{"id":"16c7755f.8415ab","type":"ui_button","z":"169f71f9.0db13e","name":"blue + lime","group":"3c18de2e.9a7e42","order":21,"width":0,"height":0,"passthru":false,"label":"blue + lime","color":"lime","bgcolor":"blue","icon":"","payload":"106","payloadType":"num","topic":"","x":1130,"y":1120,"wires":[["f9111796.bd1028"]]},{"id":"e7b83856.d22528","type":"function","z":"169f71f9.0db13e","name":"color wheel slider + offset","func":"var offset = flow.get(\"155_floor_color_wheel_offset\");\nvar color_wheel_speed = flow.get(\"155_floor_color_wheel_speed\");\nmsg.payload = offset + color_wheel_speed;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":780,"wires":[["f9111796.bd1028"]]},{"id":"6db55400.0d6fec","type":"ui_button","z":"169f71f9.0db13e","name":"no gobo","group":"7620c8a8.9b4a08","order":2,"width":0,"height":0,"passthru":false,"label":"no gobo","color":"black","bgcolor":"white","icon":"","payload":"0","payloadType":"num","topic":"","x":1360,"y":840,"wires":[["f4584838.d502f8"]]},{"id":"7d24369c.a234b8","type":"ui_button","z":"169f71f9.0db13e","name":"dots in a circle gobo","group":"7620c8a8.9b4a08","order":3,"width":0,"height":0,"passthru":false,"label":"dots in a circle gobo","color":"black","bgcolor":"white","icon":"","payload":"18","payloadType":"num","topic":"","x":1400,"y":960,"wires":[["f4584838.d502f8"]]},{"id":"4193878d.491138","type":"ui_button","z":"169f71f9.0db13e","name":"bubbles","group":"7620c8a8.9b4a08","order":4,"width":0,"height":0,"passthru":false,"label":"bubbles","color":"black","bgcolor":"white","icon":"","payload":"12","payloadType":"num","topic":"","x":1360,"y":920,"wires":[["f4584838.d502f8"]]},{"id":"47007452.8ea88c","type":"ui_button","z":"169f71f9.0db13e","name":"swirls","group":"7620c8a8.9b4a08","order":5,"width":0,"height":0,"passthru":false,"label":"swirls","color":"black","bgcolor":"white","icon":"","payload":"6","payloadType":"num","topic":"","x":1350,"y":880,"wires":[["f4584838.d502f8"]]},{"id":"e90ed6d9.7aec58","type":"ui_button","z":"169f71f9.0db13e","name":"curve thatch","group":"7620c8a8.9b4a08","order":6,"width":0,"height":0,"passthru":false,"label":"curve thatch","color":"black","bgcolor":"white","icon":"","payload":"24","payloadType":"num","topic":"","x":1370,"y":1000,"wires":[["f4584838.d502f8"]]},{"id":"463c093a.2e4d58","type":"ui_button","z":"169f71f9.0db13e","name":"sun","group":"7620c8a8.9b4a08","order":7,"width":0,"height":0,"passthru":false,"label":"sun","color":"black","bgcolor":"white","icon":"","payload":"30","payloadType":"num","topic":"","x":1350,"y":1040,"wires":[["f4584838.d502f8"]]},{"id":"2cea9b62.c11464","type":"ui_button","z":"169f71f9.0db13e","name":"stars","group":"7620c8a8.9b4a08","order":8,"width":0,"height":0,"passthru":false,"label":"stars","color":"black","bgcolor":"white","icon":"","payload":"36","payloadType":"num","topic":"","x":1350,"y":1080,"wires":[["f4584838.d502f8"]]},{"id":"62e94af1.2c8204","type":"ui_button","z":"169f71f9.0db13e","name":"spiral","group":"7620c8a8.9b4a08","order":9,"width":0,"height":0,"passthru":false,"label":"spiral","color":"black","bgcolor":"white","icon":"","payload":"42","payloadType":"num","topic":"","x":1350,"y":1120,"wires":[["f4584838.d502f8"]]},{"id":"1a4c43c0.8c2aac","type":"ui_numeric","z":"169f71f9.0db13e","name":"","label":"Gobo Output Value","group":"7620c8a8.9b4a08","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1350,"y":540,"wires":[["6853fed3.daec2"]]},{"id":"f4584838.d502f8","type":"function","z":"169f71f9.0db13e","name":"set current gobo selection","func":"flow.set(\"155_floor_current_gobo_selection\", msg.payload);\n//msg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":960,"wires":[["26a22090.4ccca"]]},{"id":"e54c943d.1edec8","type":"ui_slider","z":"169f71f9.0db13e","name":"DMX9 GOBO SHAKE SPEED","label":"Shake:","group":"7620c8a8.9b4a08","order":10,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"5","step":"1","x":1430,"y":1240,"wires":[["26a22090.4ccca"]]},{"id":"26a22090.4ccca","type":"function","z":"169f71f9.0db13e","name":"gobo rotation slider + offset","func":"var current_gobo = flow.get(\"155_floor_current_gobo_selection\");\nif (msg.payload === 0) {\n    msg.payload = current_gobo;\n    return msg;\n}\nelse if(msg.payload!==null) {\n    switch(current_gobo) {\n        case 56:\n            msg.payload = msg.payload + 64;\n            break;\n        case 48:\n            msg.payload = msg.payload + 74;\n            break;\n        case 42:\n            msg.payload = msg.payload + 80;\n            break;\n        case 36:\n            msg.payload = msg.payload + 86;\n            break;\n        case 30:\n            msg.payload = msg.payload + 92;\n            break;\n        case 24:\n            msg.payload = msg.payload + 98;\n            break;\n        case 18:\n            msg.payload = msg.payload + 104;\n            break;\n        case 12:\n            msg.payload = msg.payload + 110;\n            break;\n        case 6:\n            msg.payload = msg.payload + 116;\n            break;\n        default:\n            msg.payload = 0;\n    }\n    return msg;\n}\n","outputs":1,"noerr":0,"x":2000,"y":960,"wires":[["1a4c43c0.8c2aac","e7b366f3.0b1468"]]},{"id":"aa4ad043.3c546","type":"ui_slider","z":"169f71f9.0db13e","name":"DMX7 GOBO CYCLE SPEED","label":"","group":"7620c8a8.9b4a08","order":12,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"63","step":"1","x":1770,"y":1140,"wires":[["aec873bb.e0bf4"]]},{"id":"be0fd690.e483b8","type":"ui_switch","z":"169f71f9.0db13e","name":"","label":"Gobo Cycle UP/DOWN & SPEED","group":"7620c8a8.9b4a08","order":11,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"192","onvalueType":"num","onicon":"","oncolor":"","offvalue":"128","offvalueType":"num","officon":"","offcolor":"","x":1780,"y":1080,"wires":[["50d3ac88.505e64"]]},{"id":"50d3ac88.505e64","type":"function","z":"169f71f9.0db13e","name":"save flow offset","func":"flow.set(\"155_floor_gobo_cycle_offset\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2020,"y":1080,"wires":[["1f4b0e7f.185782"]]},{"id":"aec873bb.e0bf4","type":"function","z":"169f71f9.0db13e","name":"save flow offset","func":"flow.set(\"155_floor_gobo_cycle_speed\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2020,"y":1140,"wires":[["1f4b0e7f.185782"]]},{"id":"1f4b0e7f.185782","type":"function","z":"169f71f9.0db13e","name":"gobo cycle slider + offset","func":"var offset = flow.get(\"155_floor_gobo_cycle_offset\");\nvar gobo_cycle_speed = flow.get(\"155_floor_gobo_cycle_speed\");\nmsg.payload = offset + gobo_cycle_speed;\nreturn msg;","outputs":1,"noerr":0,"x":2250,"y":1120,"wires":[["1a4c43c0.8c2aac"]]},{"id":"f08886bb.42c768","type":"function","z":"169f71f9.0db13e","name":"trigger pitch preset","func":"var chauvet_155_floor_preset = flow.get(\"chauvet_155_floor_db_preset\");\nfor(var i = 0;i<chauvet_155_floor_preset.length; i++){\n    var temp_preset = chauvet_155_floor_preset[i];\n    if (temp_preset.topic==msg.payload){\n        msg.payload = { payload: temp_preset.payload };\n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":400,"wires":[["72205909.7a2798"]]},{"id":"f0b2b715.43e268","type":"ui_button","z":"169f71f9.0db13e","name":"amber","group":"3c18de2e.9a7e42","order":10,"width":0,"height":0,"passthru":false,"label":"amber","color":"black","bgcolor":"amber","icon":"","payload":"54","payloadType":"num","topic":"","x":910,"y":1220,"wires":[["f9111796.bd1028"]]},{"id":"c5c298c3.d09f48","type":"ui_button","z":"169f71f9.0db13e","name":"amber + white","group":"3c18de2e.9a7e42","order":19,"width":0,"height":0,"passthru":false,"label":"amber + white","color":"white","bgcolor":"amber","icon":"","payload":"118","payloadType":"num","topic":"","x":1140,"y":1200,"wires":[["f9111796.bd1028"]]},{"id":"7cb4974c.bf0868","type":"ui_button","z":"169f71f9.0db13e","name":"circle legs","group":"7620c8a8.9b4a08","order":8,"width":0,"height":0,"passthru":false,"label":"circle legs","color":"black","bgcolor":"white","icon":"","payload":"48","payloadType":"num","topic":"","x":1360,"y":1160,"wires":[["f4584838.d502f8"]]},{"id":"5441c37a.4aaf7c","type":"ui_button","z":"169f71f9.0db13e","name":"thatch","group":"7620c8a8.9b4a08","order":9,"width":0,"height":0,"passthru":false,"label":"thatch","color":"black","bgcolor":"white","icon":"","payload":"54","payloadType":"num","topic":"","x":1350,"y":1200,"wires":[["f4584838.d502f8"]]},{"id":"fe8398db.4ca2a8","type":"ui_button","z":"169f71f9.0db13e","name":"Load Presets","group":"ac0e09be.2f7ff8","order":5,"width":0,"height":0,"passthru":false,"label":"Load Presets","color":"white","bgcolor":"purple","icon":"","payload":"","payloadType":"date","topic":"","x":70,"y":260,"wires":[["a547bf0d.1dcc8"]]},{"id":"e7b366f3.0b1468","type":"debug","z":"169f71f9.0db13e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2270,"y":860,"wires":[]},{"id":"ff0e467d.4df6d8","type":"ui_group","z":"","name":"MOVEMENT","tab":"1df41c54.0c4ea4","order":2,"disp":true,"width":"6","collapse":false},{"id":"3c18de2e.9a7e42","type":"ui_group","z":"","name":"COLORS","tab":"1df41c54.0c4ea4","order":3,"disp":true,"width":"6","collapse":false},{"id":"ac0e09be.2f7ff8","type":"ui_group","z":"","name":"PRESETS","tab":"1df41c54.0c4ea4","order":1,"disp":true,"width":"6","collapse":false},{"id":"7620c8a8.9b4a08","type":"ui_group","z":"","name":"GOBOS","tab":"1df41c54.0c4ea4","order":4,"disp":true,"width":"6","collapse":false},{"id":"1df41c54.0c4ea4","type":"ui_tab","z":"","name":"Chauvet 155Floor","icon":"dashboard","order":10},{"id":"b8aaba87.539188","type":"subflow","name":"Subflow 4","info":"","category":"","in":[{"x":660,"y":440,"wires":[{"id":"be9b2c92.0efc4"}]}],"out":[{"x":2380,"y":920,"wires":[{"id":"a2a617db.39d618","port":0}]}]},{"id":"6efb7d28.9ae3c4","type":"function","z":"b8aaba87.539188","name":"insert preset","func":"var preset = [];\npreset = global.get(\"dark_lab_preset\");\nvar newMsg = {};\nnewMsg.collection = 'dark_lab_presets';\nnewMsg.payload = [\n  {topic: msg.payload},\n  {\n    \"$set\": {\n      \"payload\": preset\n    }\n  },\n  {upsert:true}\n];\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":410,"y":140,"wires":[["9e3101ad.1fd05"]]},{"id":"9e3101ad.1fd05","type":"mongodb2 in","z":"b8aaba87.539188","service":"_ext_","configNode":"aa034a9c.e558d8","name":"Store Data into MongoDB","collection":"dark_lab_presets","operation":"findOneAndUpdate","x":621,"y":141,"wires":[["2c42216d.0a79ae"]]},{"id":"51068565.c6ea0c","type":"mongodb2 in","z":"b8aaba87.539188","service":"_ext_","configNode":"aa034a9c.e558d8","name":"Mongo DB dynamic operation","collection":"dark_lab_presets","operation":"","x":531,"y":261,"wires":[["b3e2dc07.06b8f"]]},{"id":"2c42216d.0a79ae","type":"function","z":"b8aaba87.539188","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":297,"y":258,"wires":[["51068565.c6ea0c"]]},{"id":"e534a7a6.f40b88","type":"ui_dropdown","z":"b8aaba87.539188","name":"Recall Pulldown","label":"Recall","place":"Select option","group":"dc78dc99.eb78e","order":2,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1011,"y":187,"wires":[["644a6036.0373c","4fc49be9.faf314"]]},{"id":"b3e2dc07.06b8f","type":"function","z":"b8aaba87.539188","name":"Format Preset Pulldown","func":"flow.set(\"dark_lab_db_preset\", msg.payload);\nvar msg_array = [];\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic !== undefined){\n        tmp_object[msg_object.topic] = {\"topic\": msg_object.topic, \"payload\": msg_object.payload};\n        msg_array[i] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":813,"y":260.5,"wires":[["e534a7a6.f40b88"]]},{"id":"d53596dd.759da8","type":"inject","z":"b8aaba87.539188","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":240,"wires":[["2c42216d.0a79ae"]]},{"id":"9e0ea19.a5c5e6","type":"ui_text_input","z":"b8aaba87.539188","name":"","label":"Edit Preset Name","group":"dc78dc99.eb78e","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"","x":1394,"y":184,"wires":[["ecd9448c.639568"]]},{"id":"bf8e2f25.c2822","type":"ui_button","z":"b8aaba87.539188","name":"Save","group":"dc78dc99.eb78e","order":5,"width":0,"height":0,"passthru":false,"label":"Save Preset","color":"#FFF","bgcolor":"#FF0000","icon":"","payload":"","payloadType":"date","topic":"","x":90,"y":138.5,"wires":[["74eef2a1.e3acbc"]]},{"id":"ecd9448c.639568","type":"function","z":"b8aaba87.539188","name":"set global preset name","func":"global.set(\"dark_lab_preset_name\", msg.payload);","outputs":1,"noerr":0,"x":1646,"y":187,"wires":[[]]},{"id":"74eef2a1.e3acbc","type":"function","z":"b8aaba87.539188","name":"save preset","func":"msg.payload = global.get(\"dark_lab_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":242,"y":139,"wires":[["6efb7d28.9ae3c4"]]},{"id":"644a6036.0373c","type":"function","z":"b8aaba87.539188","name":"get preset name","func":"msg.payload = msg.payload.topic;\nreturn msg;","outputs":1,"noerr":0,"x":1199,"y":185.5,"wires":[["9e0ea19.a5c5e6"]]},{"id":"503ac93d.4acbe8","type":"ui_text","z":"b8aaba87.539188","group":"dc78dc99.eb78e","order":3,"width":0,"height":0,"name":"","label":"SAVE PRESET","format":"{{msg.payload}}","layout":"row-left","x":120,"y":400,"wires":[]},{"id":"e5f1f604.dc17e8","type":"ui_text","z":"b8aaba87.539188","group":"dc78dc99.eb78e","order":1,"width":0,"height":0,"name":"","label":"RECALL PRESET","format":"{{msg.payload}}","layout":"row-left","x":136,"y":352,"wires":[]},{"id":"756995c1.622bfc","type":"function","z":"b8aaba87.539188","name":"delete preset","func":"var newMsg = {};\nnewMsg.operation  = 'deleteOne';\nnewMsg.payload    = {'topic' : msg.payload};\nreturn newMsg;","outputs":1,"noerr":0,"x":411,"y":199,"wires":[["ef79b2c2.e1581"]]},{"id":"ef79b2c2.e1581","type":"mongodb2 in","z":"b8aaba87.539188","service":"_ext_","configNode":"aa034a9c.e558d8","name":"Store Data into MongoDB","collection":"dark_lab_presets","operation":"","x":622,"y":200,"wires":[["2c42216d.0a79ae"]]},{"id":"12db9718.216939","type":"ui_button","z":"b8aaba87.539188","name":"Delete","group":"dc78dc99.eb78e","order":5,"width":0,"height":0,"passthru":false,"label":"Delete Preset","color":"#FFF","bgcolor":"#FF00FF","icon":"","payload":"","payloadType":"date","topic":"","x":91,"y":197.5,"wires":[["3bb94a10.d52c86"]]},{"id":"3bb94a10.d52c86","type":"function","z":"b8aaba87.539188","name":"delete preset","func":"msg.payload = global.get(\"dark_lab_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":243,"y":198,"wires":[["756995c1.622bfc"]]},{"id":"d385b755.09b078","type":"ui_slider","z":"b8aaba87.539188","name":"DMX2","label":"DMX 2","group":"cbc8ef35.63fca","order":2,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1476,"y":287,"wires":[["f460cbe2.e17768"]]},{"id":"249bc2f2.0ae9ce","type":"ui_slider","z":"b8aaba87.539188","name":"DMX12","label":"DMX 12","group":"cbc8ef35.63fca","order":12,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1479,"y":653,"wires":[["4e51e195.aa88d"]]},{"id":"432ad99a.92d6d8","type":"ui_slider","z":"b8aaba87.539188","name":"DMX11","label":"DMX 11","group":"cbc8ef35.63fca","order":11,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":616,"wires":[["df19281.5af1fd8"]]},{"id":"fc8fb146.578a1","type":"ui_slider","z":"b8aaba87.539188","name":"DMX10","label":"DMX 10","group":"cbc8ef35.63fca","order":10,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1479,"y":580,"wires":[["ef675025.77ea1"]]},{"id":"eee227a4.e27288","type":"ui_slider","z":"b8aaba87.539188","name":"DMX9","label":"DMX 9","group":"cbc8ef35.63fca","order":9,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1471,"y":543,"wires":[["9fa28f43.0a4de"]]},{"id":"11a0dfb7.a0a97","type":"ui_slider","z":"b8aaba87.539188","name":"DMX8","label":"DMX 8","group":"cbc8ef35.63fca","order":8,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1471,"y":507,"wires":[["e7c225e0.56cfe8"]]},{"id":"3233d413.87fd5c","type":"ui_slider","z":"b8aaba87.539188","name":"DMX7","label":"DMX 7","group":"cbc8ef35.63fca","order":7,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1470,"y":470,"wires":[["6cce4517.64589c"]]},{"id":"ea2c161a.d04138","type":"ui_slider","z":"b8aaba87.539188","name":"DMX6","label":"DMX 6","group":"cbc8ef35.63fca","order":6,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1471,"y":435,"wires":[["717362a1.04578c"]]},{"id":"a8a4e9e1.5ece58","type":"ui_slider","z":"b8aaba87.539188","name":"DMX5","label":"DMX 5","group":"cbc8ef35.63fca","order":5,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1472,"y":398,"wires":[["82994b53.a70768"]]},{"id":"e46e57d0.d71db8","type":"ui_slider","z":"b8aaba87.539188","name":"DMX4","label":"DMX 4","group":"cbc8ef35.63fca","order":4,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1473,"y":362,"wires":[["c184886c.7caeb8"]]},{"id":"85ec6ae0.7a9cb8","type":"ui_slider","z":"b8aaba87.539188","name":"DMX3","label":"DMX 3","group":"cbc8ef35.63fca","order":3,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1474,"y":324,"wires":[["b824ad3.67d095"]]},{"id":"8ce84c11.1f897","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_1","rules":[{"t":"set","p":"dark_lab_preset[0]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1722,"y":245,"wires":[["a2a617db.39d618"]]},{"id":"f460cbe2.e17768","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_2","rules":[{"t":"set","p":"dark_lab_preset[1]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1718,"y":287,"wires":[["a2a617db.39d618"]]},{"id":"b824ad3.67d095","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_3","rules":[{"t":"set","p":"dark_lab_preset[2]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1716,"y":325,"wires":[["a2a617db.39d618"]]},{"id":"c184886c.7caeb8","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_4","rules":[{"t":"set","p":"dark_lab_preset[3]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1716,"y":362,"wires":[["a2a617db.39d618"]]},{"id":"82994b53.a70768","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_5","rules":[{"t":"set","p":"dark_lab_preset[4]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1714,"y":400,"wires":[["a2a617db.39d618"]]},{"id":"717362a1.04578c","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_6","rules":[{"t":"set","p":"dark_lab_preset[5]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1715,"y":438,"wires":[["a2a617db.39d618"]]},{"id":"6cce4517.64589c","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_7","rules":[{"t":"set","p":"dark_lab_preset[6]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1713,"y":476,"wires":[["a2a617db.39d618"]]},{"id":"e7c225e0.56cfe8","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_8","rules":[{"t":"set","p":"dark_lab_preset[7]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1712,"y":512,"wires":[["a2a617db.39d618"]]},{"id":"9fa28f43.0a4de","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_9","rules":[{"t":"set","p":"dark_lab_preset[8]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1712,"y":549,"wires":[["a2a617db.39d618"]]},{"id":"ef675025.77ea1","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_10","rules":[{"t":"set","p":"dark_lab_preset[9]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1710,"y":587,"wires":[["a2a617db.39d618"]]},{"id":"df19281.5af1fd8","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_11","rules":[{"t":"set","p":"dark_lab_preset[10]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1713,"y":625,"wires":[["a2a617db.39d618"]]},{"id":"4e51e195.aa88d","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_12","rules":[{"t":"set","p":"dark_lab_preset[11]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1709,"y":663,"wires":[["a2a617db.39d618"]]},{"id":"4fc49be9.faf314","type":"function","z":"b8aaba87.539188","name":"Just get preset","func":"global.set(\"dark_lab_preset\", msg.payload.payload);\n\nvar preset = [];\nvar m = [];\npreset = global.get(\"dark_lab_preset\");\n\n\nfor (var i=0;i<80;i++)\n{   var preset_val = preset[i];\n    if (preset_val===null){preset_val = 0;}\n    m[i] = { payload: preset_val };\n}\nreturn m;\n","outputs":80,"noerr":0,"x":1240,"y":840,"wires":[["91180ed6.a043a"],["d385b755.09b078"],["85ec6ae0.7a9cb8"],["e46e57d0.d71db8"],["a8a4e9e1.5ece58"],["ea2c161a.d04138"],["3233d413.87fd5c"],["11a0dfb7.a0a97"],["eee227a4.e27288"],["fc8fb146.578a1"],["432ad99a.92d6d8"],["249bc2f2.0ae9ce"],["4d37bddf.35b3d4"],["faa31f95.bbcf6"],["c2060ec4.313da"],["7d5a86d2.2a8da8"],["7da45a67.d9a664"],["3ca528a8.757ec8"],["4a05e3be.57991c"],["46d90a67.a969d4"],["b19d424d.58f7a"],["96322482.f446a8"],["8ad4990d.61a3d8"],["b795df84.14846"],["aec41ca1.f3598"],["b6fd7042.98b95"],["57726be1.2bbdf4"],["810bdd05.ef3b9"],["b9227b46.62a638"],["38a3f1e.6e8000e"],["9ea0422a.8613d"],["cebd2e16.6a591"],["23a6ebe1.b1add4"],["2af2a0c2.213b9"],["34202ae7.e6d096"],["ad625374.5541e"],["fd1e2b18.1ab958"],["952575a0.e59958"],["22d3c12e.083b7e"],["b751d650.1447f8"],["a5973da.65ccbc"],["6d350bb2.5be4a4"],["75e62f23.5839e"],["3cab4fc4.b7bbb"],["4520c47b.e23a4c"],["16801987.89f8b6"],["e9b113b3.3d0b6"],["98d3daa8.3fc598"],["fae8a5f8.44c458"],["b0a72508.ea0278"],["64981772.dd64c8"],["dab77acb.cbd458"],["d81fd23a.75fd4"],["f18a4ec4.3ee9a"],["3891144b.b8eafc"],["f08bf6dd.fcb9f8"],["d02814ab.496258"],["c310eeff.710d5"],["97b4931c.157f8"],["40a6fc3a.f6bea4"],["4f0c325.585b2cc"],["f08a6f9b.a6813"],["c1c75dae.96d41"],["af968fe6.d4a26"],["23aef82d.b21458"],["e3c7aad7.9531e8"],["b724fe3.be4ea"],["9ac795dc.617968"],["50ad2daf.3d7504"],["564cb439.bc16cc"],["3cb560a3.bf01a"],["932c91f2.1605c"],["a6f369ce.4ea278"],["e971497d.98d648"],["b5bb34ef.de30b8"],["2d6166c4.20296a"],["6e80fc18.aae6d4"],["524b5cc3.cc8594"],["3dc79db9.8636c2"],["32977982.8a75e6"]]},{"id":"a2a617db.39d618","type":"function","z":"b8aaba87.539188","name":"Send Current Universe","func":"msg.payload = { \n                dmx: global.get(\"dark_lab_preset\"),\n                offset: 1\n            };\nreturn msg;","outputs":1,"noerr":0,"x":2140,"y":920,"wires":[["2b9594c3.95e4fc"]]},{"id":"91180ed6.a043a","type":"ui_slider","z":"b8aaba87.539188","name":"DMX1","label":"DMX 1","group":"cbc8ef35.63fca","order":1,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1470,"y":240,"wires":[["8ce84c11.1f897"]]},{"id":"7d5a86d2.2a8da8","type":"ui_slider","z":"b8aaba87.539188","name":"DMX16","label":"DMX 16","group":"cbc8ef35.63fca","order":16,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":800,"wires":[["b292c84c.2959f8"]]},{"id":"c2060ec4.313da","type":"ui_slider","z":"b8aaba87.539188","name":"DMX15","label":"DMX 15","group":"cbc8ef35.63fca","order":15,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1481,"y":763,"wires":[["305116d2.d4271a"]]},{"id":"faa31f95.bbcf6","type":"ui_slider","z":"b8aaba87.539188","name":"DMX14","label":"DMX 14","group":"cbc8ef35.63fca","order":14,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":727,"wires":[["dd3ee81b.f5e9b8"]]},{"id":"4d37bddf.35b3d4","type":"ui_slider","z":"b8aaba87.539188","name":"DMX13","label":"DMX 13","group":"cbc8ef35.63fca","order":13,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1482,"y":690,"wires":[["15933586.9650ca"]]},{"id":"15933586.9650ca","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_13","rules":[{"t":"set","p":"dark_lab_preset[12]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1713,"y":696,"wires":[["a2a617db.39d618"]]},{"id":"dd3ee81b.f5e9b8","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_14","rules":[{"t":"set","p":"dark_lab_preset[13]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1711,"y":734,"wires":[["a2a617db.39d618"]]},{"id":"305116d2.d4271a","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_15","rules":[{"t":"set","p":"dark_lab_preset[14]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1714,"y":772,"wires":[["a2a617db.39d618"]]},{"id":"b292c84c.2959f8","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_16","rules":[{"t":"set","p":"dark_lab_preset[15]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1710,"y":810,"wires":[["a2a617db.39d618"]]},{"id":"3ca528a8.757ec8","type":"ui_slider","z":"b8aaba87.539188","name":"DMX18","label":"DMX 18","group":"7166c0de.8c1d3","order":2,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":900,"wires":[["5b6a1fa4.249a8"]]},{"id":"810bdd05.ef3b9","type":"ui_slider","z":"b8aaba87.539188","name":"DMX28","label":"DMX 28","group":"7166c0de.8c1d3","order":12,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1473,"y":1266,"wires":[["a8c8687d.8fd198"]]},{"id":"57726be1.2bbdf4","type":"ui_slider","z":"b8aaba87.539188","name":"DMX27","label":"DMX 27","group":"7166c0de.8c1d3","order":11,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1474,"y":1229,"wires":[["229f580c.9064e8"]]},{"id":"b6fd7042.98b95","type":"ui_slider","z":"b8aaba87.539188","name":"DMX26","label":"DMX 26","group":"7166c0de.8c1d3","order":10,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1473,"y":1193,"wires":[["b6fc0b6c.69b1e8"]]},{"id":"aec41ca1.f3598","type":"ui_slider","z":"b8aaba87.539188","name":"DMX25","label":"DMX 25","group":"7166c0de.8c1d3","order":9,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1475,"y":1156,"wires":[["981f1b6e.7ba638"]]},{"id":"b795df84.14846","type":"ui_slider","z":"b8aaba87.539188","name":"DMX24","label":"DMX 24","group":"7166c0de.8c1d3","order":8,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1475,"y":1120,"wires":[["52392cc6.92e184"]]},{"id":"8ad4990d.61a3d8","type":"ui_slider","z":"b8aaba87.539188","name":"DMX23","label":"DMX 23","group":"7166c0de.8c1d3","order":7,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1474,"y":1083,"wires":[["7f6fb806.63be98"]]},{"id":"96322482.f446a8","type":"ui_slider","z":"b8aaba87.539188","name":"DMX22","label":"DMX 22","group":"7166c0de.8c1d3","order":6,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1475,"y":1048,"wires":[["c7cecaab.a8e518"]]},{"id":"b19d424d.58f7a","type":"ui_slider","z":"b8aaba87.539188","name":"DMX21","label":"DMX 21","group":"7166c0de.8c1d3","order":5,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1476,"y":1011,"wires":[["32b9673d.5546e8"]]},{"id":"46d90a67.a969d4","type":"ui_slider","z":"b8aaba87.539188","name":"DMX20","label":"DMX 20","group":"7166c0de.8c1d3","order":4,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1477,"y":975,"wires":[["d29749af.e4b638"]]},{"id":"4a05e3be.57991c","type":"ui_slider","z":"b8aaba87.539188","name":"DMX19","label":"DMX 19","group":"7166c0de.8c1d3","order":3,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1478,"y":937,"wires":[["383204d.be04ffc"]]},{"id":"768e76aa.5e5da8","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_17","rules":[{"t":"set","p":"dark_lab_preset[16]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1716,"y":858,"wires":[["a2a617db.39d618"]]},{"id":"5b6a1fa4.249a8","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_18","rules":[{"t":"set","p":"dark_lab_preset[17]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1712,"y":900,"wires":[["a2a617db.39d618"]]},{"id":"383204d.be04ffc","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_19","rules":[{"t":"set","p":"dark_lab_preset[18]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1710,"y":938,"wires":[["a2a617db.39d618"]]},{"id":"d29749af.e4b638","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_20","rules":[{"t":"set","p":"dark_lab_preset[19]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1710,"y":975,"wires":[["a2a617db.39d618"]]},{"id":"32b9673d.5546e8","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_21","rules":[{"t":"set","p":"dark_lab_preset[20]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1708,"y":1013,"wires":[["a2a617db.39d618"]]},{"id":"c7cecaab.a8e518","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_22","rules":[{"t":"set","p":"dark_lab_preset[21]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1709,"y":1051,"wires":[["a2a617db.39d618"]]},{"id":"7f6fb806.63be98","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_23","rules":[{"t":"set","p":"dark_lab_preset[22]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1707,"y":1089,"wires":[["a2a617db.39d618"]]},{"id":"52392cc6.92e184","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_24","rules":[{"t":"set","p":"dark_lab_preset[23]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1706,"y":1125,"wires":[["a2a617db.39d618"]]},{"id":"981f1b6e.7ba638","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_25","rules":[{"t":"set","p":"dark_lab_preset[24]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1706,"y":1162,"wires":[["a2a617db.39d618"]]},{"id":"b6fc0b6c.69b1e8","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_26","rules":[{"t":"set","p":"dark_lab_preset[25]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1704,"y":1200,"wires":[["a2a617db.39d618"]]},{"id":"229f580c.9064e8","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_27","rules":[{"t":"set","p":"dark_lab_preset[26]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1707,"y":1238,"wires":[["a2a617db.39d618"]]},{"id":"a8c8687d.8fd198","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_28","rules":[{"t":"set","p":"dark_lab_preset[27]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1703,"y":1276,"wires":[["a2a617db.39d618"]]},{"id":"7da45a67.d9a664","type":"ui_slider","z":"b8aaba87.539188","name":"DMX17","label":"DMX 17","group":"7166c0de.8c1d3","order":1,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1474,"y":853,"wires":[["768e76aa.5e5da8"]]},{"id":"cebd2e16.6a591","type":"ui_slider","z":"b8aaba87.539188","name":"DMX32","label":"DMX 32","group":"7166c0de.8c1d3","order":16,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1474,"y":1413,"wires":[["99f83144.2ce4e"]]},{"id":"9ea0422a.8613d","type":"ui_slider","z":"b8aaba87.539188","name":"DMX31","label":"DMX 31","group":"7166c0de.8c1d3","order":15,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1475,"y":1376,"wires":[["1b2cc606.46af3a"]]},{"id":"38a3f1e.6e8000e","type":"ui_slider","z":"b8aaba87.539188","name":"DMX 30","label":"DMX 30","group":"7166c0de.8c1d3","order":14,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1474,"y":1340,"wires":[["ddb8aba2.348f68"]]},{"id":"b9227b46.62a638","type":"ui_slider","z":"b8aaba87.539188","name":"DMX29","label":"DMX 29","group":"7166c0de.8c1d3","order":13,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1476,"y":1303,"wires":[["c21f51db.3bef9"]]},{"id":"c21f51db.3bef9","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_29","rules":[{"t":"set","p":"dark_lab_preset[28]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1707,"y":1309,"wires":[["a2a617db.39d618"]]},{"id":"ddb8aba2.348f68","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_30","rules":[{"t":"set","p":"dark_lab_preset[29]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1705,"y":1347,"wires":[["a2a617db.39d618"]]},{"id":"1b2cc606.46af3a","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_31","rules":[{"t":"set","p":"dark_lab_preset[30]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1708,"y":1385,"wires":[["a2a617db.39d618"]]},{"id":"99f83144.2ce4e","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_32","rules":[{"t":"set","p":"dark_lab_preset[31]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1704,"y":1423,"wires":[["a2a617db.39d618"]]},{"id":"2af2a0c2.213b9","type":"ui_slider","z":"b8aaba87.539188","name":"DMX34","label":"DMX 34","group":"b3d980a2.5ac25","order":2,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":1520,"wires":[["2362ca85.f994e6"]]},{"id":"3cab4fc4.b7bbb","type":"ui_slider","z":"b8aaba87.539188","name":"DMX44","label":"DMX 44","group":"b3d980a2.5ac25","order":12,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1473,"y":1886,"wires":[["80d736d2.ecfd18"]]},{"id":"75e62f23.5839e","type":"ui_slider","z":"b8aaba87.539188","name":"DMX43","label":"DMX 43","group":"b3d980a2.5ac25","order":11,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1474,"y":1849,"wires":[["686d5f0e.f9978"]]},{"id":"6d350bb2.5be4a4","type":"ui_slider","z":"b8aaba87.539188","name":"DMX42","label":"DMX 42","group":"b3d980a2.5ac25","order":10,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1473,"y":1813,"wires":[["9167a5a5.29d398"]]},{"id":"a5973da.65ccbc","type":"ui_slider","z":"b8aaba87.539188","name":"DMX41","label":"DMX 41","group":"b3d980a2.5ac25","order":9,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1475,"y":1776,"wires":[["a2edf68c.599178"]]},{"id":"b751d650.1447f8","type":"ui_slider","z":"b8aaba87.539188","name":"DMX40","label":"DMX 40","group":"b3d980a2.5ac25","order":8,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1475,"y":1740,"wires":[["b9b64326.f19f1"]]},{"id":"22d3c12e.083b7e","type":"ui_slider","z":"b8aaba87.539188","name":"DMX39","label":"DMX 39","group":"b3d980a2.5ac25","order":7,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1474,"y":1703,"wires":[["5eefea47.a1df24"]]},{"id":"952575a0.e59958","type":"ui_slider","z":"b8aaba87.539188","name":"DMX38","label":"DMX 38","group":"b3d980a2.5ac25","order":6,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1475,"y":1668,"wires":[["52de5cfb.02cf84"]]},{"id":"fd1e2b18.1ab958","type":"ui_slider","z":"b8aaba87.539188","name":"DMX37","label":"DMX 37","group":"b3d980a2.5ac25","order":5,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1476,"y":1631,"wires":[["514e8ff5.ec7f6"]]},{"id":"ad625374.5541e","type":"ui_slider","z":"b8aaba87.539188","name":"DMX36","label":"DMX 36","group":"b3d980a2.5ac25","order":4,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1477,"y":1595,"wires":[["79cc1670.373c08"]]},{"id":"34202ae7.e6d096","type":"ui_slider","z":"b8aaba87.539188","name":"DMX35","label":"DMX 35","group":"b3d980a2.5ac25","order":3,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1478,"y":1557,"wires":[["25c22c4a.690494"]]},{"id":"9a00f21a.022b9","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_33","rules":[{"t":"set","p":"dark_lab_preset[32]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1716,"y":1478,"wires":[["a2a617db.39d618"]]},{"id":"2362ca85.f994e6","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_34","rules":[{"t":"set","p":"dark_lab_preset[33]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1712,"y":1520,"wires":[["a2a617db.39d618"]]},{"id":"25c22c4a.690494","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_35","rules":[{"t":"set","p":"dark_lab_preset[34]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1710,"y":1558,"wires":[["a2a617db.39d618"]]},{"id":"79cc1670.373c08","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_36","rules":[{"t":"set","p":"dark_lab_preset[35]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1710,"y":1595,"wires":[["a2a617db.39d618"]]},{"id":"514e8ff5.ec7f6","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_37","rules":[{"t":"set","p":"dark_lab_preset[36]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1708,"y":1633,"wires":[["a2a617db.39d618"]]},{"id":"52de5cfb.02cf84","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_38","rules":[{"t":"set","p":"dark_lab_preset[37]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1711,"y":1673,"wires":[["a2a617db.39d618"]]},{"id":"5eefea47.a1df24","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_39","rules":[{"t":"set","p":"dark_lab_preset[38]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1707,"y":1709,"wires":[["a2a617db.39d618"]]},{"id":"b9b64326.f19f1","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_40","rules":[{"t":"set","p":"dark_lab_preset[39]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1706,"y":1745,"wires":[["a2a617db.39d618"]]},{"id":"a2edf68c.599178","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_41","rules":[{"t":"set","p":"dark_lab_preset[40]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1706,"y":1782,"wires":[["a2a617db.39d618"]]},{"id":"9167a5a5.29d398","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_42","rules":[{"t":"set","p":"dark_lab_preset[41]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1704,"y":1820,"wires":[["a2a617db.39d618"]]},{"id":"686d5f0e.f9978","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_43","rules":[{"t":"set","p":"dark_lab_preset[42]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1707,"y":1858,"wires":[["a2a617db.39d618"]]},{"id":"80d736d2.ecfd18","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_44","rules":[{"t":"set","p":"dark_lab_preset[43]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1703,"y":1896,"wires":[["a2a617db.39d618"]]},{"id":"23a6ebe1.b1add4","type":"ui_slider","z":"b8aaba87.539188","name":"DMX33","label":"DMX 33","group":"b3d980a2.5ac25","order":1,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1474,"y":1473,"wires":[["9a00f21a.022b9"]]},{"id":"f08bf6dd.fcb9f8","type":"ui_slider","z":"b8aaba87.539188","name":"DMX56","label":"DMX 56","group":"52937767.091a28","order":8,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":2360,"wires":[["26e460e3.fceab"]]},{"id":"e9b113b3.3d0b6","type":"ui_slider","z":"b8aaba87.539188","name":"DMX47","label":"DMX 47","group":"b3d980a2.5ac25","order":15,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1475,"y":1996,"wires":[["1de880f4.37ec9f"]]},{"id":"16801987.89f8b6","type":"ui_slider","z":"b8aaba87.539188","name":"DMX46","label":"DMX 46","group":"b3d980a2.5ac25","order":14,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1474,"y":1960,"wires":[["cac4921c.eccbe"]]},{"id":"4520c47b.e23a4c","type":"ui_slider","z":"b8aaba87.539188","name":"DMX45","label":"DMX 45","group":"b3d980a2.5ac25","order":13,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1476,"y":1923,"wires":[["21530e1d.1e6b32"]]},{"id":"21530e1d.1e6b32","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_45","rules":[{"t":"set","p":"dark_lab_preset[44]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1707,"y":1929,"wires":[["a2a617db.39d618"]]},{"id":"cac4921c.eccbe","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_46","rules":[{"t":"set","p":"dark_lab_preset[45]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1705,"y":1967,"wires":[["a2a617db.39d618"]]},{"id":"1de880f4.37ec9f","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_47","rules":[{"t":"set","p":"dark_lab_preset[46]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1708,"y":2005,"wires":[["a2a617db.39d618"]]},{"id":"26e460e3.fceab","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_56","rules":[{"t":"set","p":"dark_lab_preset[55]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2360,"wires":[["a2a617db.39d618"]]},{"id":"9ac795dc.617968","type":"ui_slider","z":"b8aaba87.539188","name":"DMX68","label":"DMX 68","group":"d5fd5751.4c8a28","order":4,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":2900,"wires":[["6ca76994.741ac8"]]},{"id":"6ca76994.741ac8","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_68","rules":[{"t":"set","p":"dark_lab_preset[67]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2900,"wires":[["a2a617db.39d618"]]},{"id":"564cb439.bc16cc","type":"ui_slider","z":"b8aaba87.539188","name":"DMX70","label":"DMX 70","group":"d5fd5751.4c8a28","order":6,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":2980,"wires":[["f4662d9b.405ad"]]},{"id":"f4662d9b.405ad","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_70","rules":[{"t":"set","p":"dark_lab_preset[69]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2980,"wires":[["a2a617db.39d618"]]},{"id":"98d3daa8.3fc598","type":"ui_slider","z":"b8aaba87.539188","name":"DMX48","label":"DMX 48","group":"b3d980a2.5ac25","order":16,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":2040,"wires":[["c7de43b2.5e0b2"]]},{"id":"c7de43b2.5e0b2","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_48","rules":[{"t":"set","p":"dark_lab_preset[47]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2040,"wires":[["a2a617db.39d618"]]},{"id":"50ad2daf.3d7504","type":"ui_slider","z":"b8aaba87.539188","name":"DMX69","label":"DMX 69","group":"d5fd5751.4c8a28","order":5,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":2940,"wires":[["f55a1a80.974778"]]},{"id":"f55a1a80.974778","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_69","rules":[{"t":"set","p":"dark_lab_preset[68]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2940,"wires":[["a2a617db.39d618"]]},{"id":"3cb560a3.bf01a","type":"ui_slider","z":"b8aaba87.539188","name":"DMX71","label":"DMX 71","group":"d5fd5751.4c8a28","order":7,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":3020,"wires":[["c6e9a00d.ce182"]]},{"id":"c6e9a00d.ce182","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_71","rules":[{"t":"set","p":"dark_lab_preset[70]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":3020,"wires":[["a2a617db.39d618"]]},{"id":"a6f369ce.4ea278","type":"ui_slider","z":"b8aaba87.539188","name":"DMX73","label":"DMX 73","group":"d5fd5751.4c8a28","order":9,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":3100,"wires":[["5e81a90d.8ba1f8"]]},{"id":"5e81a90d.8ba1f8","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_73","rules":[{"t":"set","p":"dark_lab_preset[72]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":3100,"wires":[["a2a617db.39d618"]]},{"id":"932c91f2.1605c","type":"ui_slider","z":"b8aaba87.539188","name":"DMX72","label":"DMX 72","group":"d5fd5751.4c8a28","order":8,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":3060,"wires":[["ba137900.fb1d48"]]},{"id":"ba137900.fb1d48","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_72","rules":[{"t":"set","p":"dark_lab_preset[71]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":3060,"wires":[["a2a617db.39d618"]]},{"id":"e971497d.98d648","type":"ui_slider","z":"b8aaba87.539188","name":"DMX74","label":"DMX 74","group":"d5fd5751.4c8a28","order":10,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":3140,"wires":[["ab40fd2e.1d355"]]},{"id":"ab40fd2e.1d355","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_74","rules":[{"t":"set","p":"dark_lab_preset[73]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":3140,"wires":[["a2a617db.39d618"]]},{"id":"2d6166c4.20296a","type":"ui_slider","z":"b8aaba87.539188","name":"DMX76","label":"DMX 76","group":"d5fd5751.4c8a28","order":12,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":3220,"wires":[["541d4b53.1c8d44"]]},{"id":"541d4b53.1c8d44","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_76","rules":[{"t":"set","p":"dark_lab_preset[75]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":3220,"wires":[["a2a617db.39d618"]]},{"id":"b5bb34ef.de30b8","type":"ui_slider","z":"b8aaba87.539188","name":"DMX75","label":"DMX 75","group":"d5fd5751.4c8a28","order":11,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":3180,"wires":[["26e2f48d.9b42ec"]]},{"id":"26e2f48d.9b42ec","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_75","rules":[{"t":"set","p":"dark_lab_preset[74]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":3180,"wires":[["a2a617db.39d618"]]},{"id":"6e80fc18.aae6d4","type":"ui_slider","z":"b8aaba87.539188","name":"DMX77","label":"DMX 77","group":"d5fd5751.4c8a28","order":13,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":3260,"wires":[["828105f7.2ccf78"]]},{"id":"828105f7.2ccf78","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_77","rules":[{"t":"set","p":"dark_lab_preset[76]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":3260,"wires":[["a2a617db.39d618"]]},{"id":"3dc79db9.8636c2","type":"ui_slider","z":"b8aaba87.539188","name":"DMX79","label":"DMX 79","group":"d5fd5751.4c8a28","order":15,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":3340,"wires":[["f11866a1.54d178"]]},{"id":"f11866a1.54d178","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_79","rules":[{"t":"set","p":"dark_lab_preset[78]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":3340,"wires":[["a2a617db.39d618"]]},{"id":"524b5cc3.cc8594","type":"ui_slider","z":"b8aaba87.539188","name":"DMX78","label":"DMX 78","group":"d5fd5751.4c8a28","order":14,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":3300,"wires":[["d0260eec.09742"]]},{"id":"d0260eec.09742","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_78","rules":[{"t":"set","p":"dark_lab_preset[77]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":3300,"wires":[["a2a617db.39d618"]]},{"id":"32977982.8a75e6","type":"ui_slider","z":"b8aaba87.539188","name":"DMX80","label":"DMX 80","group":"d5fd5751.4c8a28","order":16,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":3380,"wires":[["ba14cb76.010168"]]},{"id":"ba14cb76.010168","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_80","rules":[{"t":"set","p":"dark_lab_preset[79]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":3380,"wires":[["a2a617db.39d618"]]},{"id":"3891144b.b8eafc","type":"ui_slider","z":"b8aaba87.539188","name":"DMX55","label":"DMX 55","group":"52937767.091a28","order":7,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":2320,"wires":[["895023ad.e8487"]]},{"id":"895023ad.e8487","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_55","rules":[{"t":"set","p":"dark_lab_preset[54]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2320,"wires":[["a2a617db.39d618"]]},{"id":"f18a4ec4.3ee9a","type":"ui_slider","z":"b8aaba87.539188","name":"DMX54","label":"DMX 54","group":"52937767.091a28","order":6,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":2280,"wires":[["a8eb127e.bf0eb"]]},{"id":"a8eb127e.bf0eb","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_54","rules":[{"t":"set","p":"dark_lab_preset[53]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2280,"wires":[["a2a617db.39d618"]]},{"id":"d81fd23a.75fd4","type":"ui_slider","z":"b8aaba87.539188","name":"DMX53","label":"DMX 53","group":"52937767.091a28","order":5,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":2240,"wires":[["5d3a5ae.1a00ca4"]]},{"id":"5d3a5ae.1a00ca4","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_53","rules":[{"t":"set","p":"dark_lab_preset[52]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2240,"wires":[["a2a617db.39d618"]]},{"id":"dab77acb.cbd458","type":"ui_slider","z":"b8aaba87.539188","name":"DMX52","label":"DMX 52","group":"52937767.091a28","order":4,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":2200,"wires":[["68a8f8b1.061e48"]]},{"id":"68a8f8b1.061e48","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_52","rules":[{"t":"set","p":"dark_lab_preset[51]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2200,"wires":[["a2a617db.39d618"]]},{"id":"64981772.dd64c8","type":"ui_slider","z":"b8aaba87.539188","name":"DMX51","label":"DMX 51","group":"52937767.091a28","order":3,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":2160,"wires":[["7e6800fd.8ff2b"]]},{"id":"7e6800fd.8ff2b","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_51","rules":[{"t":"set","p":"dark_lab_preset[50]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2160,"wires":[["a2a617db.39d618"]]},{"id":"b0a72508.ea0278","type":"ui_slider","z":"b8aaba87.539188","name":"DMX50","label":"DMX 50","group":"52937767.091a28","order":2,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":2120,"wires":[["aa05096f.f85698"]]},{"id":"aa05096f.f85698","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_50","rules":[{"t":"set","p":"dark_lab_preset[49]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2120,"wires":[["a2a617db.39d618"]]},{"id":"fae8a5f8.44c458","type":"ui_slider","z":"b8aaba87.539188","name":"DMX49","label":"DMX 49","group":"52937767.091a28","order":1,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":2080,"wires":[["d72016c2.b2bef8"]]},{"id":"d72016c2.b2bef8","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_49","rules":[{"t":"set","p":"dark_lab_preset[48]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2080,"wires":[["a2a617db.39d618"]]},{"id":"d02814ab.496258","type":"ui_slider","z":"b8aaba87.539188","name":"DMX57","label":"DMX 57","group":"52937767.091a28","order":9,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1500,"y":2460,"wires":[["527f9156.7585b"]]},{"id":"527f9156.7585b","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_57","rules":[{"t":"set","p":"dark_lab_preset[56]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2440,"wires":[["a2a617db.39d618"]]},{"id":"c310eeff.710d5","type":"ui_slider","z":"b8aaba87.539188","name":"DMX58","label":"DMX 58","group":"52937767.091a28","order":10,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":2500,"wires":[["f57d6b4e.ee8e88"]]},{"id":"f57d6b4e.ee8e88","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_58","rules":[{"t":"set","p":"dark_lab_preset[57]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2500,"wires":[["a2a617db.39d618"]]},{"id":"97b4931c.157f8","type":"ui_slider","z":"b8aaba87.539188","name":"DMX59","label":"DMX 59","group":"52937767.091a28","order":11,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1500,"y":2540,"wires":[["f89404b6.2cd1f8"]]},{"id":"f89404b6.2cd1f8","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_59","rules":[{"t":"set","p":"dark_lab_preset[58]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1720,"y":2540,"wires":[["a2a617db.39d618"]]},{"id":"40a6fc3a.f6bea4","type":"ui_slider","z":"b8aaba87.539188","name":"DMX60","label":"DMX 60","group":"52937767.091a28","order":12,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":2580,"wires":[["31496926.c08d66"]]},{"id":"31496926.c08d66","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_60","rules":[{"t":"set","p":"dark_lab_preset[59]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2580,"wires":[["a2a617db.39d618"]]},{"id":"4f0c325.585b2cc","type":"ui_slider","z":"b8aaba87.539188","name":"DMX61","label":"DMX 61","group":"52937767.091a28","order":13,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":2620,"wires":[["5bbea6f5.9ec5e8"]]},{"id":"5bbea6f5.9ec5e8","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_61","rules":[{"t":"set","p":"dark_lab_preset[60]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2620,"wires":[["a2a617db.39d618"]]},{"id":"f08a6f9b.a6813","type":"ui_slider","z":"b8aaba87.539188","name":"DMX62","label":"DMX 62","group":"52937767.091a28","order":14,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":2660,"wires":[["adbc3b65.9ccfa8"]]},{"id":"adbc3b65.9ccfa8","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_59","rules":[{"t":"set","p":"dark_lab_preset[58]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2660,"wires":[["a2a617db.39d618"]]},{"id":"c1c75dae.96d41","type":"ui_slider","z":"b8aaba87.539188","name":"DMX63","label":"DMX 63","group":"52937767.091a28","order":15,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1460,"y":2700,"wires":[["84f42edc.3f1c9"]]},{"id":"84f42edc.3f1c9","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_63","rules":[{"t":"set","p":"dark_lab_preset[62]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1680,"y":2700,"wires":[["a2a617db.39d618"]]},{"id":"af968fe6.d4a26","type":"ui_slider","z":"b8aaba87.539188","name":"DMX64","label":"DMX 64","group":"52937767.091a28","order":16,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1460,"y":2740,"wires":[["2e270bb7.3f44a4"]]},{"id":"2e270bb7.3f44a4","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_64","rules":[{"t":"set","p":"dark_lab_preset[63]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1680,"y":2740,"wires":[["a2a617db.39d618"]]},{"id":"23aef82d.b21458","type":"ui_slider","z":"b8aaba87.539188","name":"DMX65","label":"DMX 65","group":"d5fd5751.4c8a28","order":1,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":2780,"wires":[["62252b50.eea974"]]},{"id":"62252b50.eea974","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_65","rules":[{"t":"set","p":"dark_lab_preset[64]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2780,"wires":[["a2a617db.39d618"]]},{"id":"b724fe3.be4ea","type":"ui_slider","z":"b8aaba87.539188","name":"DMX67","label":"DMX 67","group":"d5fd5751.4c8a28","order":3,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":2860,"wires":[["9e42e9cc.afdf08"]]},{"id":"9e42e9cc.afdf08","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_67","rules":[{"t":"set","p":"dark_lab_preset[66]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2860,"wires":[["a2a617db.39d618"]]},{"id":"e3c7aad7.9531e8","type":"ui_slider","z":"b8aaba87.539188","name":"DMX66","label":"DMX 66","group":"d5fd5751.4c8a28","order":2,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1480,"y":2820,"wires":[["ede2c8ab.96b768"]]},{"id":"ede2c8ab.96b768","type":"change","z":"b8aaba87.539188","name":"save to Global dark_lab_preset_66","rules":[{"t":"set","p":"dark_lab_preset[65]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":2820,"wires":[["a2a617db.39d618"]]},{"id":"4aef57e.aec1aa8","type":"ui_button","z":"b8aaba87.539188","name":"Load Presets","group":"dc78dc99.eb78e","order":5,"width":0,"height":0,"passthru":false,"label":"Load Presets","color":"white","bgcolor":"purple","icon":"","payload":"","payloadType":"date","topic":"","x":110,"y":300,"wires":[["2c42216d.0a79ae"]]},{"id":"be9b2c92.0efc4","type":"function","z":"b8aaba87.539188","name":"trigger pitch preset","func":"var dark_lab_preset = flow.get(\"dark_lab_db_preset\");\nfor(var i = 0;i<dark_lab_preset.length; i++){\n    var temp_preset = dark_lab_preset[i];\n    if (temp_preset.topic==msg.payload){\n        msg.payload = { payload: temp_preset.payload };\n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":440,"wires":[["4fc49be9.faf314"]]},{"id":"2b9594c3.95e4fc","type":"debug","z":"b8aaba87.539188","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2320,"y":800,"wires":[]},{"id":"aa034a9c.e558d8","type":"mongodb2","z":"","uri":"mongodb://127.0.0.1:27017/cinebrain","name":"cinebrain db","options":"","parallelism":"-1"},{"id":"dc78dc99.eb78e","type":"ui_group","z":"","name":"PRESETS","tab":"127e1655.39d4aa","order":1,"disp":true,"width":"6","collapse":false},{"id":"cbc8ef35.63fca","type":"ui_group","z":"","name":"DMX 1-16","tab":"127e1655.39d4aa","order":2,"disp":true,"width":"6","collapse":false},{"id":"7166c0de.8c1d3","type":"ui_group","z":"","name":"DMX 17-32","tab":"127e1655.39d4aa","order":3,"disp":true,"width":"6","collapse":false},{"id":"b3d980a2.5ac25","type":"ui_group","z":"","name":"DMX 33-48","tab":"127e1655.39d4aa","order":4,"disp":true,"width":"6","collapse":false},{"id":"52937767.091a28","type":"ui_group","z":"","name":"DMX 49-64","tab":"127e1655.39d4aa","order":5,"disp":true,"width":"6","collapse":false},{"id":"d5fd5751.4c8a28","type":"ui_group","z":"","name":"DMX 65-80","tab":"127e1655.39d4aa","order":6,"disp":true,"width":"6","collapse":false},{"id":"127e1655.39d4aa","type":"ui_tab","z":"","name":"DARK LAB HOUSE","icon":"dashboard","order":6},{"id":"bcca6388.a5525","type":"subflow","name":"Subflow 3","info":"","category":"","in":[{"x":300,"y":280,"wires":[{"id":"47d4730.869188c"}]}],"out":[{"x":2120,"y":340,"wires":[{"id":"351c8532.a666fa","port":0}]}]},{"id":"351c8532.a666fa","type":"function","z":"bcca6388.a5525","name":"Send Current Universe","func":"msg.payload = { \n                dmx:flow.get(\"adj_pinspot_preset\"),\n                offset: 399\n            };\nreturn msg;","outputs":1,"noerr":0,"x":1940,"y":340,"wires":[[]]},{"id":"f2d091f1.30d66","type":"ui_slider","z":"bcca6388.a5525","name":"DMX5 DIMMER","label":"","group":"e1e5477d.90bf08","order":2,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1140,"y":440,"wires":[["7f2df472.dea0bc"]]},{"id":"92188af8.bfb628","type":"ui_slider","z":"bcca6388.a5525","name":"DMX6 STROBE SPEED","label":"","group":"e1e5477d.90bf08","order":13,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"239","step":"1","x":710,"y":520,"wires":[["da8a27c3.1b5b18"]]},{"id":"13fccb82.998164","type":"change","z":"bcca6388.a5525","name":"save to Flow DMX1","rules":[{"t":"set","p":"adj_pinspot_preset[0]","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":280,"wires":[["351c8532.a666fa"]]},{"id":"e45f50f8.2957c","type":"change","z":"bcca6388.a5525","name":"save to Flow DMX2","rules":[{"t":"set","p":"adj_pinspot_preset[1]","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":320,"wires":[["351c8532.a666fa"]]},{"id":"e150641b.0b90d8","type":"change","z":"bcca6388.a5525","name":"save to Flow DMX3","rules":[{"t":"set","p":"adj_pinspot_preset[2]","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":360,"wires":[["351c8532.a666fa"]]},{"id":"9f47a0b5.56355","type":"change","z":"bcca6388.a5525","name":"save to Flow DMX4","rules":[{"t":"set","p":"adj_pinspot_preset[3]","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":400,"wires":[["351c8532.a666fa"]]},{"id":"272d12f3.dde3ae","type":"change","z":"bcca6388.a5525","name":"save to Flow DMX6","rules":[{"t":"set","p":"adj_pinspot_preset[5]","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":480,"wires":[["351c8532.a666fa"]]},{"id":"1a6859b0.facea6","type":"change","z":"bcca6388.a5525","name":"save to Flow DMX5","rules":[{"t":"set","p":"adj_pinspot_preset[4]","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1610,"y":440,"wires":[["351c8532.a666fa"]]},{"id":"4d6c6362.6d9d3c","type":"function","z":"bcca6388.a5525","name":"Just get preset","func":"flow.set(\"adj_pinspot_preset\", msg.payload.payload);\n\nvar preset = [];\nvar m = [];\npreset = flow.get(\"adj_pinspot_preset\");\n\n\nfor (var i=0;i<6;i++)\n{\n    m[i] = { payload: preset[i] };\n}\nreturn m;\n","outputs":6,"noerr":0,"x":800,"y":240,"wires":[["530bd5ca.7f41bc"],["41cf2f91.e7258"],["1ef809fa.c29086"],["b9a4dc4e.60534"],["f2d091f1.30d66"],[]]},{"id":"c1e9c0af.de02a","type":"function","z":"bcca6388.a5525","name":"insert preset","func":"var preset = [];\npreset = flow.get(\"adj_pinspot_preset\");\nvar newMsg = {};\nnewMsg.collection = 'adj_pinspot_preset';\nnewMsg.payload = [\n  {topic: msg.payload},\n  {\n    \"$set\": {\n      \"payload\": preset\n    }\n  },\n  {upsert:true}\n];\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":398,"y":61,"wires":[["9784ecc8.8f6a7"]]},{"id":"9784ecc8.8f6a7","type":"mongodb2 in","z":"bcca6388.a5525","service":"_ext_","configNode":"e8414499.885228","name":"Store Data into MongoDB","collection":"adj_pinspot_presets","operation":"findOneAndUpdate","x":609,"y":62,"wires":[["63cd8fad.9bafe"]]},{"id":"f479debe.2d35e","type":"mongodb2 in","z":"bcca6388.a5525","service":"_ext_","configNode":"e8414499.885228","name":"Mongo DB dynamic operation","collection":"adj_pinspot_presets","operation":"","x":519,"y":182,"wires":[["aa1903b9.f306a"]]},{"id":"63cd8fad.9bafe","type":"function","z":"bcca6388.a5525","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":285,"y":179,"wires":[["f479debe.2d35e"]]},{"id":"9f311e1b.ef721","type":"ui_dropdown","z":"bcca6388.a5525","name":"ADJ Pinspot Pulldown","label":"Recall","place":"Select option","group":"c9bf2bce.8a91d8","order":2,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1120,"y":40,"wires":[["4d6c6362.6d9d3c","ed49ecef.417ce"]]},{"id":"aa1903b9.f306a","type":"function","z":"bcca6388.a5525","name":"Format Preset Pulldown","func":"flow.set(\"adj_pinspot_db_preset\", msg.payload);\nvar msg_array = [];\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic != undefined){\n        tmp_object[msg_object.topic] = {\"topic\": msg_object.topic, \"payload\": msg_object.payload};\n        msg_array[i] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":40,"wires":[["9f311e1b.ef721"]]},{"id":"36080d8f.a8ba62","type":"inject","z":"bcca6388.a5525","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":180,"wires":[["63cd8fad.9bafe"]]},{"id":"c99c867c.b65c08","type":"ui_text_input","z":"bcca6388.a5525","name":"","label":"Edit Preset Name","group":"c9bf2bce.8a91d8","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"","x":1523,"y":37,"wires":[["5a7af80b.e3c938"]]},{"id":"39634940.1cb946","type":"ui_button","z":"bcca6388.a5525","name":"Save","group":"c9bf2bce.8a91d8","order":5,"width":0,"height":0,"passthru":false,"label":"Save Preset","color":"#FFF","bgcolor":"#FF0000","icon":"","payload":"","payloadType":"date","topic":"","x":70,"y":60,"wires":[["bd61b541.5ac8c8"]]},{"id":"5a7af80b.e3c938","type":"function","z":"bcca6388.a5525","name":"set global preset name","func":"flow.set(\"adj_pinspot_preset_name\", msg.payload);","outputs":1,"noerr":0,"x":1755,"y":40,"wires":[[]]},{"id":"bd61b541.5ac8c8","type":"function","z":"bcca6388.a5525","name":"save preset","func":"msg.payload = flow.get(\"adj_pinspot_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":60,"wires":[["c1e9c0af.de02a"]]},{"id":"ed49ecef.417ce","type":"function","z":"bcca6388.a5525","name":"get preset name","func":"msg.payload = msg.payload.topic;\nreturn msg;","outputs":1,"noerr":0,"x":1328,"y":38.5,"wires":[["c99c867c.b65c08"]]},{"id":"5c857d58.a44ab4","type":"ui_text","z":"bcca6388.a5525","group":"c9bf2bce.8a91d8","order":4,"width":0,"height":0,"name":"","label":"SAVE PRESET","format":"{{msg.payload}}","layout":"row-left","x":100,"y":300,"wires":[]},{"id":"33c6e666.ca373a","type":"ui_text","z":"bcca6388.a5525","group":"c9bf2bce.8a91d8","order":1,"width":0,"height":0,"name":"","label":"RECALL PRESET","format":"{{msg.payload}}","layout":"row-left","x":110,"y":240,"wires":[]},{"id":"463c4758.9c9f98","type":"function","z":"bcca6388.a5525","name":"delete preset","func":"var newMsg = {};\nnewMsg.operation  = 'deleteOne';\nnewMsg.payload    = {'topic' : msg.payload};\nreturn newMsg;","outputs":1,"noerr":0,"x":399,"y":120,"wires":[["e0010259.54f77"]]},{"id":"e0010259.54f77","type":"mongodb2 in","z":"bcca6388.a5525","service":"_ext_","configNode":"e8414499.885228","name":"Store Data into MongoDB","collection":"adj_pinspot_presets","operation":"","x":610,"y":121,"wires":[["63cd8fad.9bafe"]]},{"id":"8e4cf20e.58ed3","type":"ui_button","z":"bcca6388.a5525","name":"Delete","group":"c9bf2bce.8a91d8","order":6,"width":0,"height":0,"passthru":false,"label":"Delete Preset","color":"#FFF","bgcolor":"#FF00FF","icon":"","payload":"","payloadType":"date","topic":"","x":70,"y":120,"wires":[["7c853799.c4a938"]]},{"id":"7c853799.c4a938","type":"function","z":"bcca6388.a5525","name":"delete preset","func":"msg.payload = flow.get(\"adj_pinspot_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":231,"y":119,"wires":[["463c4758.9c9f98"]]},{"id":"c8e3a077.66cc4","type":"ui_numeric","z":"bcca6388.a5525","name":"","label":"Strobe Values","group":"e1e5477d.90bf08","order":11,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1320,"y":480,"wires":[["272d12f3.dde3ae"]]},{"id":"7f2df472.dea0bc","type":"ui_numeric","z":"bcca6388.a5525","name":"DMX 5 Dimmer (0-100%)","label":"Dimmer (0-100%)","group":"e1e5477d.90bf08","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1350,"y":440,"wires":[["1a6859b0.facea6"]]},{"id":"530bd5ca.7f41bc","type":"ui_slider","z":"bcca6388.a5525","name":"DMX1 RED","label":"","group":"e1e5477d.90bf08","order":4,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1130,"y":280,"wires":[["d17bf671.168958"]]},{"id":"d17bf671.168958","type":"ui_numeric","z":"bcca6388.a5525","name":"DMX 1: RED","label":"RED","group":"e1e5477d.90bf08","order":3,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1310,"y":280,"wires":[["13fccb82.998164"]]},{"id":"bc28600a.41122","type":"ui_switch","z":"bcca6388.a5525","name":"","label":"Strobe ON/OFF & SPEED","group":"e1e5477d.90bf08","order":12,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"8","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":710,"y":480,"wires":[["7c45b0c9.16025"]]},{"id":"7c45b0c9.16025","type":"function","z":"bcca6388.a5525","name":"save flow offset","func":"flow.set(\"strobe_offset\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":480,"wires":[["9f5f2cdc.7de5d"]]},{"id":"da8a27c3.1b5b18","type":"function","z":"bcca6388.a5525","name":"save flow offset","func":"flow.set(\"strobe_speed\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":520,"wires":[["9f5f2cdc.7de5d"]]},{"id":"9f5f2cdc.7de5d","type":"function","z":"bcca6388.a5525","name":"strobe speed + offset","func":"var offset = flow.get(\"strobe_offset\");\nvar sound_strobe = flow.get(\"sound_strobe_flag\");\nif(offset==null){offset=0;}\nif(offset!==0){\n    if (sound_strobe !==0 ) {\n        msg.payload = sound_strobe;\n    }\n    else {\n        var strobe_speed = flow.get(\"strobe_speed\");\n        msg.payload = offset + strobe_speed;\n    }\n}\nelse {\n    msg.payload = 0;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":1120,"y":480,"wires":[["c8e3a077.66cc4"]]},{"id":"41cf2f91.e7258","type":"ui_slider","z":"bcca6388.a5525","name":"DMX2 GREEN","label":"","group":"e1e5477d.90bf08","order":6,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1140,"y":320,"wires":[["fc256d3a.0c37"]]},{"id":"fc256d3a.0c37","type":"ui_numeric","z":"bcca6388.a5525","name":"DMX 2: GREEN","label":"GREEN","group":"e1e5477d.90bf08","order":5,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1320,"y":320,"wires":[["e45f50f8.2957c"]]},{"id":"1ef809fa.c29086","type":"ui_slider","z":"bcca6388.a5525","name":"DMX3 BLUE","label":"","group":"e1e5477d.90bf08","order":8,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1130,"y":360,"wires":[["38a9ff9.02eff"]]},{"id":"38a9ff9.02eff","type":"ui_numeric","z":"bcca6388.a5525","name":"DMX 3: BLUE","label":"BLUE","group":"e1e5477d.90bf08","order":7,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1320,"y":360,"wires":[["e150641b.0b90d8"]]},{"id":"b9a4dc4e.60534","type":"ui_slider","z":"bcca6388.a5525","name":"DMX4 WHITE","label":"","group":"e1e5477d.90bf08","order":10,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1140,"y":400,"wires":[["f6927484.511c28"]]},{"id":"f6927484.511c28","type":"ui_numeric","z":"bcca6388.a5525","name":"DMX 4: WHITE","label":"WHITE","group":"e1e5477d.90bf08","order":9,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1320,"y":400,"wires":[["9f47a0b5.56355"]]},{"id":"efc17a87.3ce578","type":"ui_switch","z":"bcca6388.a5525","name":"","label":"Sound Activated Strobe ON/OFF","group":"e1e5477d.90bf08","order":14,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"248","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":680,"y":560,"wires":[["e0ce1433.4d3298"]]},{"id":"e0ce1433.4d3298","type":"function","z":"bcca6388.a5525","name":"save flow offset","func":"flow.set(\"sound_strobe_flag\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":560,"wires":[["9f5f2cdc.7de5d"]]},{"id":"47d4730.869188c","type":"function","z":"bcca6388.a5525","name":"trigger pitch preset","func":"var adj_pinspot_preset = flow.get(\"adj_pinspot_db_preset\");\nfor(var i = 0;i<adj_pinspot_preset.length; i++){\n    var temp_preset = adj_pinspot_preset[i];\n    if (temp_preset.topic==msg.payload){\n        msg.payload = { payload: temp_preset.payload };\n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":280,"wires":[["4d6c6362.6d9d3c"]]},{"id":"715cce99.15dda","type":"ui_button","z":"bcca6388.a5525","name":"Load Presets","group":"c9bf2bce.8a91d8","order":5,"width":0,"height":0,"passthru":false,"label":"Load Presets","color":"white","bgcolor":"purple","icon":"","payload":"","payloadType":"date","topic":"","x":90,"y":360,"wires":[["63cd8fad.9bafe"]]},{"id":"e1e5477d.90bf08","type":"ui_group","z":"","name":"SLIDERS","tab":"d071e088.1d474","order":2,"disp":true,"width":"6","collapse":false},{"id":"c9bf2bce.8a91d8","type":"ui_group","z":"","name":"PRESETS","tab":"d071e088.1d474","order":1,"disp":true,"width":"6","collapse":false},{"id":"d071e088.1d474","type":"ui_tab","z":"","name":"DMX ADJ Pinspot","icon":"dashboard","order":8},{"id":"ed916a0b.101318","type":"subflow","name":"Subflow 2","info":"","category":"","in":[{"x":460,"y":320,"wires":[{"id":"19fa6479.4e4cac"}]}],"out":[{"x":2100,"y":480,"wires":[{"id":"d456030a.5129b","port":0}]}]},{"id":"b327d4c6.a26678","type":"ui_slider","z":"ed916a0b.101318","name":"DMX2 FINE PAN","label":"","group":"ea3bd860.23d408","order":9,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1150,"y":380,"wires":[["b102f0ab.46198"]]},{"id":"89e80b03.b8bec8","type":"ui_slider","z":"ed916a0b.101318","name":"DMX11 SHUTTER","label":"","group":"ea3bd860.23d408","order":15,"width":0,"height":0,"passthru":true,"topic":"Slider","min":"7","max":"215","step":1,"x":1150,"y":220,"wires":[["55d9844b.9fbcbc"]]},{"id":"45ad78f8.f45fb8","type":"ui_slider","z":"ed916a0b.101318","name":"DMX10 DIMMER","label":"","group":"ea3bd860.23d408","order":3,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1150,"y":260,"wires":[["d8da9abc.e28d28"]]},{"id":"f92ed2dd.76421","type":"ui_slider","z":"ed916a0b.101318","name":"DMX6 COLOR WHEEL SPEED","label":"","group":"27f07b90.e6d524","order":3,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"63","step":"1","x":670,"y":800,"wires":[["f5d6999a.ae7958"]]},{"id":"130a9efe.bcf1a1","type":"ui_slider","z":"ed916a0b.101318","name":"DMX5 SPEED","label":"","group":"ea3bd860.23d408","order":13,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1140,"y":460,"wires":[["a8f1a517.d55358"]]},{"id":"dc3e5822.50d098","type":"ui_slider","z":"ed916a0b.101318","name":"DMX4 FINE TILT","label":"","group":"ea3bd860.23d408","order":11,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1150,"y":420,"wires":[["7af80827.6758d8"]]},{"id":"2ecb7cbf.ef0994","type":"ui_slider","z":"ed916a0b.101318","name":"DMX3 TILT","label":"","group":"ea3bd860.23d408","order":7,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1130,"y":340,"wires":[["38a58d29.2e8db2"]]},{"id":"449ef367.35a6bc","type":"change","z":"ed916a0b.101318","name":"save to Global DMX1","rules":[{"t":"set","p":"chauvet_255_preset[0]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":300,"wires":[["d456030a.5129b"]]},{"id":"37e402b3.12f72e","type":"change","z":"ed916a0b.101318","name":"save to Global DMX2","rules":[{"t":"set","p":"chauvet_255_preset[1]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":380,"wires":[["d456030a.5129b"]]},{"id":"c9baec6b.d2238","type":"change","z":"ed916a0b.101318","name":"save to Global DMX3","rules":[{"t":"set","p":"chauvet_255_preset[2]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":340,"wires":[["d456030a.5129b"]]},{"id":"82fa3edc.8c682","type":"change","z":"ed916a0b.101318","name":"save to Global DMX4","rules":[{"t":"set","p":"chauvet_255_preset[3]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":420,"wires":[["d456030a.5129b"]]},{"id":"26502f28.43f6c","type":"change","z":"ed916a0b.101318","name":"save to Global DMX5","rules":[{"t":"set","p":"chauvet_255_preset[4]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":460,"wires":[["d456030a.5129b"]]},{"id":"9ccbad9.eb9405","type":"change","z":"ed916a0b.101318","name":"save to Global DMX6","rules":[{"t":"set","p":"chauvet_255_preset[5]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":780,"wires":[["d456030a.5129b"]]},{"id":"987864b7.253f18","type":"change","z":"ed916a0b.101318","name":"save to Global DMX7","rules":[{"t":"set","p":"chauvet_255_preset[6]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":540,"wires":[["d456030a.5129b"]]},{"id":"23289ab7.183116","type":"change","z":"ed916a0b.101318","name":"save to Global DMX8","rules":[{"t":"set","p":"chauvet_255_preset[7]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":580,"wires":[["d456030a.5129b"]]},{"id":"fc1d3eab.2e39f","type":"change","z":"ed916a0b.101318","name":"save to Global DMX9","rules":[{"t":"set","p":"chauvet_255_preset[8]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":500,"wires":[["d456030a.5129b"]]},{"id":"e76c8be6.9088c8","type":"change","z":"ed916a0b.101318","name":"save to Global DMX10","rules":[{"t":"set","p":"chauvet_255_preset[9]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":260,"wires":[["d456030a.5129b"]]},{"id":"8f823552.cba4b8","type":"change","z":"ed916a0b.101318","name":"save to Global DMX11","rules":[{"t":"set","p":"chauvet_255_preset[10]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":220,"wires":[["d456030a.5129b"]]},{"id":"563f3f58.502d6","type":"function","z":"ed916a0b.101318","name":"Just get preset","func":"global.set(\"chauvet_255_preset\", msg.payload.payload);\n\nvar preset = [];\nvar m = [];\npreset = global.get(\"chauvet_255_preset\");\n\n\nfor (var i=0;i<13;i++)\n{\n    m[i] = { payload: preset[i] };\n}\nreturn m;\n","outputs":13,"noerr":0,"x":901,"y":368,"wires":[["fc566ac3.1dbd48"],["b327d4c6.a26678"],["2ecb7cbf.ef0994"],["dc3e5822.50d098"],["130a9efe.bcf1a1"],["5d455786.ef6888"],["9d19f5cf.940fa8"],["aa2c9890.0961c8"],["9e6cea23.fea4a8"],["45ad78f8.f45fb8"],["89e80b03.b8bec8"],[],[]]},{"id":"a33dcff5.e5d7","type":"function","z":"ed916a0b.101318","name":"insert preset","func":"var preset = [];\npreset = global.get(\"chauvet_255_preset\");\nvar newMsg = {};\nnewMsg.collection = 'chauvet_255_presets';\nnewMsg.payload = [\n  {topic: msg.payload},\n  {\n    \"$set\": {\n      \"payload\": preset\n    }\n  },\n  {upsert:true}\n];\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":398,"y":81,"wires":[["7f781a0a.22bc44"]]},{"id":"7f781a0a.22bc44","type":"mongodb2 in","z":"ed916a0b.101318","service":"_ext_","configNode":"e8414499.885228","name":"Store Data into MongoDB","collection":"chauvet_255_presets","operation":"findOneAndUpdate","x":609,"y":82,"wires":[["573298d.a47dd68"]]},{"id":"2cd200a3.7e9fd","type":"mongodb2 in","z":"ed916a0b.101318","service":"_ext_","configNode":"e8414499.885228","name":"Mongo DB dynamic operation","collection":"chauvet_255_presets","operation":"","x":519,"y":202,"wires":[["4fe5bec8.2d721"]]},{"id":"573298d.a47dd68","type":"function","z":"ed916a0b.101318","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":285,"y":199,"wires":[["2cd200a3.7e9fd"]]},{"id":"f585b7ba.d8cd48","type":"ui_dropdown","z":"ed916a0b.101318","name":"Recall Pulldown","label":"Recall","place":"Select option","group":"ef5d0924.1a70d8","order":2,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1140,"y":60,"wires":[["563f3f58.502d6","98840117.9cb5e"]]},{"id":"4fe5bec8.2d721","type":"function","z":"ed916a0b.101318","name":"Format Preset Pulldown","func":"flow.set(\"chauvet_255_db_preset\", msg.payload);\nvar msg_array = [];\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic != undefined){\n        tmp_object[msg_object.topic] = {\"topic\": msg_object.topic, \"payload\": msg_object.payload};\n        msg_array[i] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":60,"wires":[["f585b7ba.d8cd48"]]},{"id":"63c5aff5.73d64","type":"inject","z":"ed916a0b.101318","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":136,"y":197.5,"wires":[["573298d.a47dd68"]]},{"id":"76d655ab.43d20c","type":"ui_text_input","z":"ed916a0b.101318","name":"","label":"Edit Preset Name","group":"ef5d0924.1a70d8","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"","x":1523,"y":57,"wires":[["8a55a58e.5761a8"]]},{"id":"370eedc3.e69aa2","type":"ui_button","z":"ed916a0b.101318","name":"Save","group":"ef5d0924.1a70d8","order":5,"width":0,"height":0,"passthru":false,"label":"Save Preset","color":"#FFF","bgcolor":"#FF0000","icon":"","payload":"","payloadType":"date","topic":"","x":78,"y":79.5,"wires":[["d217d2f1.1adf8"]]},{"id":"8a55a58e.5761a8","type":"function","z":"ed916a0b.101318","name":"set global preset name","func":"global.set(\"chauvet_255_preset_name\", msg.payload);","outputs":1,"noerr":0,"x":1755,"y":60,"wires":[[]]},{"id":"d217d2f1.1adf8","type":"function","z":"ed916a0b.101318","name":"save preset","func":"msg.payload = global.get(\"chauvet_255_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":80,"wires":[["a33dcff5.e5d7"]]},{"id":"98840117.9cb5e","type":"function","z":"ed916a0b.101318","name":"get preset name","func":"msg.payload = msg.payload.topic;\nreturn msg;","outputs":1,"noerr":0,"x":1328,"y":58.5,"wires":[["76d655ab.43d20c"]]},{"id":"5058950e.95120c","type":"ui_text","z":"ed916a0b.101318","group":"ef5d0924.1a70d8","order":3,"width":0,"height":0,"name":"","label":"SAVE PRESET","format":"{{msg.payload}}","layout":"row-left","x":254,"y":331,"wires":[]},{"id":"9c1707bb.bb6f68","type":"ui_text","z":"ed916a0b.101318","group":"ef5d0924.1a70d8","order":1,"width":0,"height":0,"name":"","label":"RECALL PRESET","format":"{{msg.payload}}","layout":"row-left","x":270,"y":280,"wires":[]},{"id":"e49ae529.ad8f38","type":"function","z":"ed916a0b.101318","name":"delete preset","func":"var newMsg = {};\nnewMsg.operation  = 'deleteOne';\nnewMsg.payload    = {'topic' : msg.payload};\nreturn newMsg;","outputs":1,"noerr":0,"x":399,"y":140,"wires":[["1d30f7e4.34b588"]]},{"id":"1d30f7e4.34b588","type":"mongodb2 in","z":"ed916a0b.101318","service":"_ext_","configNode":"e8414499.885228","name":"Store Data into MongoDB","collection":"chauvet_255_presets","operation":"","x":610,"y":141,"wires":[["573298d.a47dd68"]]},{"id":"824fbeb.edc4f4","type":"ui_button","z":"ed916a0b.101318","name":"Delete","group":"ef5d0924.1a70d8","order":6,"width":0,"height":0,"passthru":false,"label":"Delete Preset","color":"#FFF","bgcolor":"#FF00FF","icon":"","payload":"","payloadType":"date","topic":"","x":79,"y":138.5,"wires":[["86c20534.8abb68"]]},{"id":"86c20534.8abb68","type":"function","z":"ed916a0b.101318","name":"delete preset","func":"msg.payload = global.get(\"chauvet_255_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":231,"y":139,"wires":[["e49ae529.ad8f38"]]},{"id":"d456030a.5129b","type":"function","z":"ed916a0b.101318","name":"Send Current Universe","func":"msg.payload = { \n                dmx: global.get(\"chauvet_255_preset\"),\n                offset: 409\n            };\nreturn msg;","outputs":1,"noerr":0,"x":1940,"y":480,"wires":[[]]},{"id":"b102f0ab.46198","type":"ui_numeric","z":"ed916a0b.101318","name":"DMX 2: Fine Pan","label":"Fine Pan","group":"ea3bd860.23d408","order":8,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1350,"y":380,"wires":[["37e402b3.12f72e"]]},{"id":"38a58d29.2e8db2","type":"ui_numeric","z":"ed916a0b.101318","name":"DMX 3: Tilt (0-270 deg)","label":"Tilt (0-270 deg)","group":"ea3bd860.23d408","order":6,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1350,"y":340,"wires":[["c9baec6b.d2238"]]},{"id":"7af80827.6758d8","type":"ui_numeric","z":"ed916a0b.101318","name":"DMX 4: Fine Tilt","label":"Fine Tilt","group":"ea3bd860.23d408","order":10,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1340,"y":420,"wires":[["82fa3edc.8c682"]]},{"id":"a8f1a517.d55358","type":"ui_numeric","z":"ed916a0b.101318","name":"DMX 5 Speed (Fast to Slow)","label":"Speed (Fast to Slow)","group":"ea3bd860.23d408","order":12,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1380,"y":460,"wires":[["26502f28.43f6c"]]},{"id":"5d455786.ef6888","type":"ui_numeric","z":"ed916a0b.101318","name":"","label":"Color DMX Output Value","group":"27f07b90.e6d524","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1410,"y":780,"wires":[["9ccbad9.eb9405"]]},{"id":"d8da9abc.e28d28","type":"ui_numeric","z":"ed916a0b.101318","name":"DMX 10 Dimmer (0-100%)","label":"Dimmer (0-100%)","group":"ea3bd860.23d408","order":2,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1380,"y":260,"wires":[["e76c8be6.9088c8"]]},{"id":"55d9844b.9fbcbc","type":"ui_numeric","z":"ed916a0b.101318","name":"DMX 11 Shutter","label":"Strobe (Slow to Fast)","group":"ea3bd860.23d408","order":14,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1360,"y":220,"wires":[["8f823552.cba4b8","7846dd84.b713b4"]]},{"id":"fc566ac3.1dbd48","type":"ui_slider","z":"ed916a0b.101318","name":"DMX1 PAN","label":"","group":"ea3bd860.23d408","order":5,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1130,"y":300,"wires":[["4b17d588.acf18c"]]},{"id":"4b17d588.acf18c","type":"ui_numeric","z":"ed916a0b.101318","name":"DMX 1: Pan (0-540 deg)","label":"Pan (0-254 = 0-540 deg)","group":"ea3bd860.23d408","order":4,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1350,"y":300,"wires":[["449ef367.35a6bc"]]},{"id":"43f1fe7b.9d6cd","type":"ui_switch","z":"ed916a0b.101318","name":"","label":"Shutter ON/OFF","group":"ea3bd860.23d408","order":1,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"7","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":1400,"y":120,"wires":[["89e80b03.b8bec8"]]},{"id":"7846dd84.b713b4","type":"function","z":"ed916a0b.101318","name":"update shutter switch based on dmx data","func":"if (msg.payload > 4){\n    msg.payload = 7;\n}\nelse {\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1640,"y":180,"wires":[["43f1fe7b.9d6cd"]]},{"id":"9e6cea23.fea4a8","type":"ui_switch","z":"ed916a0b.101318","name":"","label":"Prism ON/OFF","group":"ea3bd860.23d408","order":16,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"16","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":1140,"y":500,"wires":[["fc1d3eab.2e39f"]]},{"id":"8d020dec.ae069","type":"ui_button","z":"ed916a0b.101318","name":"red","group":"27f07b90.e6d524","order":8,"width":0,"height":0,"passthru":false,"label":"red","color":"","bgcolor":"red","icon":"","payload":"28","payloadType":"num","topic":"","x":910,"y":1020,"wires":[["5d455786.ef6888"]]},{"id":"8598fae1.b274e8","type":"ui_button","z":"ed916a0b.101318","name":"white","group":"27f07b90.e6d524","order":4,"width":0,"height":0,"passthru":false,"label":"white (color wheel off)","color":"black","bgcolor":"white","icon":"","payload":"0","payloadType":"num","topic":"","x":910,"y":860,"wires":[["5d455786.ef6888"]]},{"id":"18182aea.06fd35","type":"ui_button","z":"ed916a0b.101318","name":"yellow","group":"27f07b90.e6d524","order":5,"width":0,"height":0,"passthru":false,"label":"yellow","color":"black","bgcolor":"yellow","icon":"","payload":"7","payloadType":"num","topic":"","x":910,"y":900,"wires":[["5d455786.ef6888"]]},{"id":"5240cff2.7b23b","type":"ui_button","z":"ed916a0b.101318","name":"pink","group":"27f07b90.e6d524","order":6,"width":0,"height":0,"passthru":false,"label":"pink","color":"","bgcolor":"magenta","icon":"","payload":"14","payloadType":"num","topic":"","x":910,"y":940,"wires":[["5d455786.ef6888"]]},{"id":"8286b730.d69438","type":"ui_button","z":"ed916a0b.101318","name":"green","group":"27f07b90.e6d524","order":7,"width":0,"height":0,"passthru":false,"label":"green","color":"","bgcolor":"green","icon":"","payload":"21","payloadType":"num","topic":"","x":910,"y":980,"wires":[["5d455786.ef6888"]]},{"id":"cef1f8e7.3ccbf8","type":"ui_button","z":"ed916a0b.101318","name":"cyan","group":"27f07b90.e6d524","order":9,"width":0,"height":0,"passthru":false,"label":"cyan","color":"black","bgcolor":"cyan","icon":"","payload":"35","payloadType":"num","topic":"","x":910,"y":1060,"wires":[["5d455786.ef6888"]]},{"id":"e0ea971e.c47df8","type":"ui_button","z":"ed916a0b.101318","name":"lime","group":"27f07b90.e6d524","order":10,"width":0,"height":0,"passthru":false,"label":"lime","color":"black","bgcolor":"lime","icon":"","payload":"42","payloadType":"num","topic":"","x":910,"y":1100,"wires":[["5d455786.ef6888"]]},{"id":"614a82da.c65fdc","type":"ui_button","z":"ed916a0b.101318","name":"orange","group":"27f07b90.e6d524","order":11,"width":0,"height":0,"passthru":false,"label":"orange","color":"","bgcolor":"orange","icon":"","payload":"49","payloadType":"num","topic":"","x":920,"y":1140,"wires":[["5d455786.ef6888"]]},{"id":"2adff5e2.cce8ca","type":"ui_button","z":"ed916a0b.101318","name":"blue","group":"27f07b90.e6d524","order":12,"width":0,"height":0,"passthru":false,"label":"blue","color":"","bgcolor":"blue","icon":"","payload":"56","payloadType":"num","topic":"","x":910,"y":1180,"wires":[["5d455786.ef6888"]]},{"id":"eb6e03d1.2696c","type":"ui_switch","z":"ed916a0b.101318","name":"","label":"Color Wheel UP/DOWN & SPEED","group":"27f07b90.e6d524","order":2,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"192","onvalueType":"num","onicon":"","oncolor":"","offvalue":"128","offvalueType":"num","officon":"","offcolor":"","x":680,"y":740,"wires":[["e7cbaf4f.84ba7"]]},{"id":"e7cbaf4f.84ba7","type":"function","z":"ed916a0b.101318","name":"save flow offset","func":"flow.set(\"color_wheel_offset\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":740,"wires":[["8e998892.832f08"]]},{"id":"f5d6999a.ae7958","type":"function","z":"ed916a0b.101318","name":"save flow offset","func":"flow.set(\"color_wheel_speed\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":800,"wires":[["8e998892.832f08"]]},{"id":"f57cf0f5.cd4e4","type":"ui_button","z":"ed916a0b.101318","name":"red + cyan","group":"27f07b90.e6d524","order":17,"width":0,"height":0,"passthru":false,"label":"red + cyan","color":"cyan","bgcolor":"red","icon":"","payload":"93","payloadType":"num","topic":"","x":1130,"y":1000,"wires":[["5d455786.ef6888"]]},{"id":"eaeb18b8.b05a08","type":"ui_button","z":"ed916a0b.101318","name":"white + yellow","group":"27f07b90.e6d524","order":13,"width":0,"height":0,"passthru":false,"label":"white + yellow","color":"black","bgcolor":"white","icon":"","payload":"65","payloadType":"num","topic":"","x":1140,"y":840,"wires":[["5d455786.ef6888"]]},{"id":"946d1a34.b4ebc8","type":"ui_button","z":"ed916a0b.101318","name":"yellow + pink","group":"27f07b90.e6d524","order":14,"width":0,"height":0,"passthru":false,"label":"yellow + pink","color":"magenta","bgcolor":"yellow","icon":"","payload":"72","payloadType":"num","topic":"","x":1130,"y":880,"wires":[["5d455786.ef6888"]]},{"id":"cbddbc4f.10601","type":"ui_button","z":"ed916a0b.101318","name":"pink + green","group":"27f07b90.e6d524","order":15,"width":0,"height":0,"passthru":false,"label":"pink + green","color":"green","bgcolor":"magenta","icon":"","payload":"79","payloadType":"num","topic":"","x":1130,"y":920,"wires":[["5d455786.ef6888"]]},{"id":"5adcfb41.b6b1a4","type":"ui_button","z":"ed916a0b.101318","name":"green + red","group":"27f07b90.e6d524","order":16,"width":0,"height":0,"passthru":false,"label":"green + red","color":"red","bgcolor":"green","icon":"","payload":"86","payloadType":"num","topic":"","x":1130,"y":960,"wires":[["5d455786.ef6888"]]},{"id":"2844e02f.18ab4","type":"ui_button","z":"ed916a0b.101318","name":"cyan + lime","group":"27f07b90.e6d524","order":18,"width":0,"height":0,"passthru":false,"label":"cyan + lime","color":"green","bgcolor":"cyan","icon":"","payload":"100","payloadType":"num","topic":"","x":1130,"y":1040,"wires":[["5d455786.ef6888"]]},{"id":"1ed9feaa.be7861","type":"ui_button","z":"ed916a0b.101318","name":"lime + orange","group":"27f07b90.e6d524","order":19,"width":0,"height":0,"passthru":false,"label":"lime + orange","color":"orange","bgcolor":"lime","icon":"","payload":"107","payloadType":"num","topic":"","x":1140,"y":1080,"wires":[["5d455786.ef6888"]]},{"id":"9f8f6d2f.314c5","type":"ui_button","z":"ed916a0b.101318","name":"orange + blue","group":"27f07b90.e6d524","order":20,"width":0,"height":0,"passthru":false,"label":"orange + blue","color":"blue","bgcolor":"orange","icon":"","payload":"114","payloadType":"num","topic":"","x":1140,"y":1120,"wires":[["5d455786.ef6888"]]},{"id":"f8566b05.98f6f8","type":"ui_button","z":"ed916a0b.101318","name":"dark + white","group":"27f07b90.e6d524","order":21,"width":0,"height":0,"passthru":false,"label":"blue + white","color":"white","bgcolor":"blue","icon":"","payload":"121","payloadType":"num","topic":"","x":1130,"y":1160,"wires":[["5d455786.ef6888"]]},{"id":"8e998892.832f08","type":"function","z":"ed916a0b.101318","name":"color wheel slider + offset","func":"var offset = flow.get(\"color_wheel_offset\");\nvar color_wheel_speed = flow.get(\"color_wheel_speed\");\nmsg.payload = offset + color_wheel_speed;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":780,"wires":[["5d455786.ef6888"]]},{"id":"387e363b.3bab5a","type":"ui_slider","z":"ed916a0b.101318","name":"DMX8 GOBO ROTATION SPEED","label":"","group":"1b4c344c.bd38ac","order":17,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"111","step":"1","x":1180,"y":1340,"wires":[["2b2daeed.c57912"]]},{"id":"aa2c9890.0961c8","type":"ui_numeric","z":"ed916a0b.101318","name":"","label":"Gobo Rotation Value","group":"1b4c344c.bd38ac","order":13,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1360,"y":580,"wires":[["23289ab7.183116"]]},{"id":"3ba5ea60.88bb06","type":"ui_switch","z":"ed916a0b.101318","name":"","label":"Gobo Rotate UP/DOWN","group":"1b4c344c.bd38ac","order":16,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"120","onvalueType":"num","onicon":"","oncolor":"","offvalue":"8","offvalueType":"num","officon":"","offcolor":"","x":1150,"y":1300,"wires":[["11db5b09.1a1185"]]},{"id":"11db5b09.1a1185","type":"function","z":"ed916a0b.101318","name":"save flow offset","func":"flow.set(\"gobo_rotate_offset\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":1300,"wires":[["ba45a1b9.6f62a"]]},{"id":"2b2daeed.c57912","type":"function","z":"ed916a0b.101318","name":"save flow offset","func":"flow.set(\"gobo_rotate_speed\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":1340,"wires":[["ba45a1b9.6f62a"]]},{"id":"ba45a1b9.6f62a","type":"function","z":"ed916a0b.101318","name":"gobo rotation slider + offset","func":"var bounce_flag = flow.get(\"gobo_bounce_flag\");\n\nif(bounce_flag===0){\n\n   var rotate_flag = flow.get(\"gobo_rotate_flag\");\n   \n    if (rotate_flag ===0) {\n        msg.payload = 0;\n       \n    }\n    else {\n         flow.set(\"gobo_bounce_flag\", 0);\n        \n        var offset = flow.get(\"gobo_rotate_offset\");\n        var speed = flow.get(\"gobo_rotate_speed\");\n        \n        msg.payload = offset + speed;\n    }\n     \n}\nelse {\n    \n     flow.set(\"gobo_rotate_flag\", 0);\n     msg.payload = 232;  \n    \n    \n      \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1720,"y":1280,"wires":[["aa2c9890.0961c8"]]},{"id":"bc295174.1615a","type":"ui_button","z":"ed916a0b.101318","name":"no gobo","group":"1b4c344c.bd38ac","order":2,"width":0,"height":0,"passthru":false,"label":"no gobo","color":"black","bgcolor":"white","icon":"","payload":"0","payloadType":"num","topic":"","x":1360,"y":840,"wires":[["9d6d3cbe.e3ab8"]]},{"id":"c149fe4c.896e6","type":"ui_button","z":"ed916a0b.101318","name":"dots in a circle gobo","group":"1b4c344c.bd38ac","order":3,"width":0,"height":0,"passthru":false,"label":"dots in a circle gobo","color":"black","bgcolor":"white","icon":"","payload":"8","payloadType":"num","topic":"","x":1400,"y":880,"wires":[["9d6d3cbe.e3ab8"]]},{"id":"c0185f5.c3c18a","type":"ui_button","z":"ed916a0b.101318","name":"bubbles","group":"1b4c344c.bd38ac","order":4,"width":0,"height":0,"passthru":false,"label":"bubbles","color":"black","bgcolor":"white","icon":"","payload":"16","payloadType":"num","topic":"","x":1360,"y":920,"wires":[["9d6d3cbe.e3ab8"]]},{"id":"9e52ac82.f4829","type":"ui_switch","z":"ed916a0b.101318","name":"","label":"Gobo Bounce ON/OFF","group":"1b4c344c.bd38ac","order":14,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":1140,"y":1220,"wires":[["1cca628b.00e3ad"]]},{"id":"eab5906b.0e525","type":"ui_switch","z":"ed916a0b.101318","name":"","label":"Gobo Rotate ON/OFF","group":"1b4c344c.bd38ac","order":15,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":1140,"y":1260,"wires":[["8505c9f1.fe8ca8"]]},{"id":"1cca628b.00e3ad","type":"function","z":"ed916a0b.101318","name":"save flow offset","func":"flow.set(\"gobo_bounce_flag\", msg.payload);\nif (msg.payload ===1) {\n    flow.set(\"gobo_rotate_flag\", 0);\n    msg.payload = 0;\n}\nelse {\n    msg.payload = null;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":1420,"y":1220,"wires":[["ba45a1b9.6f62a","eab5906b.0e525"]]},{"id":"8505c9f1.fe8ca8","type":"function","z":"ed916a0b.101318","name":"save flow offset","func":"flow.set(\"gobo_rotate_flag\", msg.payload);\nif (msg.payload ===1) {\n    flow.set(\"gobo_bounce_flag\", 0);\n    msg.payload = 0\n}\nelse {\n    msg.payload = null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":1260,"wires":[["ba45a1b9.6f62a","9e52ac82.f4829"]]},{"id":"a0f01872.92ec28","type":"ui_button","z":"ed916a0b.101318","name":"swirls","group":"1b4c344c.bd38ac","order":5,"width":0,"height":0,"passthru":false,"label":"swirls","color":"black","bgcolor":"white","icon":"","payload":"24","payloadType":"num","topic":"","x":1350,"y":960,"wires":[["9d6d3cbe.e3ab8"]]},{"id":"7dc336d1.161988","type":"ui_button","z":"ed916a0b.101318","name":"biohazard","group":"1b4c344c.bd38ac","order":6,"width":0,"height":0,"passthru":false,"label":"biohazard","color":"black","bgcolor":"white","icon":"","payload":"32","payloadType":"num","topic":"","x":1360,"y":1000,"wires":[["9d6d3cbe.e3ab8"]]},{"id":"f4961fb7.8b66b","type":"ui_button","z":"ed916a0b.101318","name":"flower","group":"1b4c344c.bd38ac","order":7,"width":0,"height":0,"passthru":false,"label":"flower","color":"black","bgcolor":"white","icon":"","payload":"40","payloadType":"num","topic":"","x":1350,"y":1040,"wires":[["9d6d3cbe.e3ab8"]]},{"id":"6434ac36.e5f254","type":"ui_button","z":"ed916a0b.101318","name":"triangle grate","group":"1b4c344c.bd38ac","order":8,"width":0,"height":0,"passthru":false,"label":"triangle grate","color":"black","bgcolor":"white","icon":"","payload":"48","payloadType":"num","topic":"","x":1370,"y":1080,"wires":[["9d6d3cbe.e3ab8"]]},{"id":"d81a30b2.527f4","type":"ui_button","z":"ed916a0b.101318","name":"spiral","group":"1b4c344c.bd38ac","order":9,"width":0,"height":0,"passthru":false,"label":"spiral","color":"black","bgcolor":"white","icon":"","payload":"56","payloadType":"num","topic":"","x":1350,"y":1120,"wires":[["9d6d3cbe.e3ab8"]]},{"id":"9d19f5cf.940fa8","type":"ui_numeric","z":"ed916a0b.101318","name":"","label":"Gobo Output Value","group":"1b4c344c.bd38ac","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"255","step":1,"x":1350,"y":540,"wires":[["987864b7.253f18"]]},{"id":"9d6d3cbe.e3ab8","type":"function","z":"ed916a0b.101318","name":"set current gobo selection","func":"flow.set(\"current_gobo_selection\", msg.payload);\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":960,"wires":[["29a4dae8.f015f6"]]},{"id":"b36ecc7f.cca6b","type":"ui_slider","z":"ed916a0b.101318","name":"DMX7 GOBO SHAKE SPEED","label":"Shake:","group":"1b4c344c.bd38ac","order":10,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"8","step":"1","x":1430,"y":1160,"wires":[["29a4dae8.f015f6"]]},{"id":"29a4dae8.f015f6","type":"function","z":"ed916a0b.101318","name":"gobo rotation slider + offset","func":"var current_gobo = flow.get(\"current_gobo_selection\");\nif (msg.payload === 0) {\n    msg.payload = current_gobo;\n    return msg;\n}\nelse if(msg.payload!==null) {\n    switch(current_gobo) {\n        case 56:\n            msg.payload = msg.payload + 63;\n            break;\n        case 48:\n            msg.payload = msg.payload + 71;\n            break;\n        case 40:\n            msg.payload = msg.payload + 79;\n            break;\n        case 32:\n            msg.payload = msg.payload + 87;\n            break;\n        case 24:\n            msg.payload = msg.payload + 95;\n            break;\n        case 16:\n            msg.payload = msg.payload + 103;\n            break;\n        case 8:\n            msg.payload = msg.payload + 111;\n            break;\n        default:\n            msg.payload = 0;\n    }\n    return msg;\n}\n","outputs":1,"noerr":0,"x":2000,"y":960,"wires":[["9d19f5cf.940fa8"]]},{"id":"2f4135dc.3f5ada","type":"ui_slider","z":"ed916a0b.101318","name":"DMX7 GOBO CYCLE SPEED","label":"","group":"1b4c344c.bd38ac","order":12,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"63","step":"1","x":1770,"y":1140,"wires":[["93fe0826.2660a8"]]},{"id":"42b23959.f1bae8","type":"ui_switch","z":"ed916a0b.101318","name":"","label":"Gobo Cycle UP/DOWN & SPEED","group":"1b4c344c.bd38ac","order":11,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":"192","onvalueType":"num","onicon":"","oncolor":"","offvalue":"128","offvalueType":"num","officon":"","offcolor":"","x":1780,"y":1080,"wires":[["640f7d9b.d746b4"]]},{"id":"640f7d9b.d746b4","type":"function","z":"ed916a0b.101318","name":"save flow offset","func":"flow.set(\"gobo_cycle_offset\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2020,"y":1080,"wires":[["af10d7ce.b4b628"]]},{"id":"93fe0826.2660a8","type":"function","z":"ed916a0b.101318","name":"save flow offset","func":"flow.set(\"gobo_cycle_speed\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2020,"y":1140,"wires":[["af10d7ce.b4b628"]]},{"id":"af10d7ce.b4b628","type":"function","z":"ed916a0b.101318","name":"gobo cycle slider + offset","func":"var offset = flow.get(\"gobo_cycle_offset\");\nvar gobo_cycle_speed = flow.get(\"gobo_cycle_speed\");\nmsg.payload = offset + gobo_cycle_speed;\nreturn msg;","outputs":1,"noerr":0,"x":2250,"y":1120,"wires":[["9d19f5cf.940fa8"]]},{"id":"19fa6479.4e4cac","type":"function","z":"ed916a0b.101318","name":"trigger pitch preset","func":"var chauvet_255_preset = flow.get(\"chauvet_255_db_preset\");\nfor(var i = 0;i<chauvet_255_preset.length; i++){\n    var temp_preset = chauvet_255_preset[i];\n    if (temp_preset.topic==msg.payload){\n        msg.payload = { payload: temp_preset.payload };\n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":320,"wires":[["563f3f58.502d6"]]},{"id":"fa85649.71b1598","type":"ui_button","z":"ed916a0b.101318","name":"Load Presets","group":"ef5d0924.1a70d8","order":5,"width":0,"height":0,"passthru":false,"label":"Load Presets","color":"white","bgcolor":"purple","icon":"","payload":"","payloadType":"date","topic":"","x":90,"y":240,"wires":[["573298d.a47dd68"]]},{"id":"ea3bd860.23d408","type":"ui_group","z":"","name":"MOVEMENT","tab":"308e9e25.e2c0e2","order":2,"disp":true,"width":"6","collapse":false},{"id":"27f07b90.e6d524","type":"ui_group","z":"","name":"COLORS","tab":"308e9e25.e2c0e2","order":3,"disp":true,"width":"6","collapse":false},{"id":"e8414499.885228","type":"mongodb2","z":"","uri":"mongodb://127.0.0.1:27017/cinebrain","name":"cinebrain db","options":"","parallelism":"-1"},{"id":"ef5d0924.1a70d8","type":"ui_group","z":"","name":"PRESETS","tab":"308e9e25.e2c0e2","order":1,"disp":true,"width":"4","collapse":false},{"id":"1b4c344c.bd38ac","type":"ui_group","z":"","name":"GOBOS","tab":"308e9e25.e2c0e2","order":4,"disp":true,"width":"6","collapse":false},{"id":"308e9e25.e2c0e2","type":"ui_tab","z":"","name":"Chauvet 255","icon":"dashboard","order":9},{"id":"d2fca79d.2ec948","type":"dmxusbpro","z":"68b10b3.d3953f4","name":"","port":"COM4","DMX_starting_address":"1","x":1470,"y":640,"wires":[[]]},{"id":"3a402de4.fcef82","type":"debug","z":"68b10b3.d3953f4","name":"Current Universe","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1270,"y":360,"wires":[]},{"id":"af1dd946.2539a8","type":"function","z":"68b10b3.d3953f4","name":"format and trigger DMX universe","func":"var temp_dmx_array = msg.payload.dmx;\nvar offset = msg.payload.offset;\nvar current_dmx_universe = global.get(\"last_known_universe_array\");\nfor(var i = 0; i < temp_dmx_array.length; i++) {\n    current_dmx_universe[i+offset] = temp_dmx_array[i];\n}\nglobal.set(\"last_known_universe_array\", current_dmx_universe);\nmsg.payload = current_dmx_universe;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":680,"wires":[["d2fca79d.2ec948","2810876e.a3b728"]]},{"id":"76ad3007.c137a","type":"subflow:ed916a0b.101318","z":"68b10b3.d3953f4","name":"Chauvet Intimidator 255 - 13ch","x":710,"y":680,"wires":[["af1dd946.2539a8"]]},{"id":"b3aa4f1f.1cfcb","type":"subflow:bcca6388.a5525","z":"68b10b3.d3953f4","name":"ADJ Pinspot LED Quad","x":690,"y":780,"wires":[["69e11d54.3bc404"]]},{"id":"69e11d54.3bc404","type":"function","z":"68b10b3.d3953f4","name":"format and trigger DMX universe","func":"var temp_dmx_array = msg.payload.dmx;\nvar offset = msg.payload.offset;\nvar current_dmx_universe = global.get(\"last_known_universe_array\");\nfor(var i = 0; i < temp_dmx_array.length; i++) {\n    current_dmx_universe[i+offset] = temp_dmx_array[i];\n}\nglobal.set(\"last_known_universe_array\", current_dmx_universe);\nmsg.payload = current_dmx_universe;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":780,"wires":[["d2fca79d.2ec948","2810876e.a3b728"]]},{"id":"ac10a925.4c8ea8","type":"link in","z":"68b10b3.d3953f4","name":"DMX Master Preset In","links":["af676703.1a6c48"],"x":95,"y":740,"wires":[["852d541a.ef1bd8"]]},{"id":"852d541a.ef1bd8","type":"function","z":"68b10b3.d3953f4","name":"parse DMX presets from Master Control","func":"var m = [];\nm[0] = msg.payload.chauvet_255;\nm[1] = msg.payload.adj_pinspot;\nm[2] = msg.payload.dark_lab;\nm[3] = msg.payload.chauvet_155_floor;\nm[4] = msg.payload.chauvet_155_grid;\nm[5] = msg.payload.sniper;\nreturn m;","outputs":6,"noerr":0,"x":320,"y":740,"wires":[["30f09a49.af07e6"],["b3aa4f1f.1cfcb"],["68c1ab94.bcd954"],["7fe04ba1.ab7784"],["e56e9361.c946c"],["dda9b24a.2fbdb"]]},{"id":"eef0378a.0faf78","type":"function","z":"68b10b3.d3953f4","name":"reset universe","func":"var universe_array = [];\n//flow.get(\"current_universe_array\");\nfor(var i=0; i<512; i++)\n{\n    universe_array[i]=0;\n}\nglobal.set(\"last_known_universe_array\", universe_array);\nmsg.payload = universe_array;\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":460,"wires":[["d2fca79d.2ec948","2810876e.a3b728"]]},{"id":"16f4a9b5.5dfa66","type":"inject","z":"68b10b3.d3953f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":820,"y":500,"wires":[["eef0378a.0faf78"]]},{"id":"420104e9.ca385c","type":"ui_button","z":"68b10b3.d3953f4","name":"RESET DMX","group":"8a52e703.6595b8","order":0,"width":0,"height":0,"passthru":false,"label":"DMX PANIC","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":810,"y":440,"wires":[["eef0378a.0faf78"]]},{"id":"7097de5d.e5815","type":"comment","z":"68b10b3.d3953f4","name":"DMX Addresses","info":"house: 10 13 24\ngreen screen: 43 30 \n470: sniper 3136\n450: chauvet 155 grid\n430: chauvet 155 floor\n410: chauvet 255 floor\n400: adj pinspot\n\n\ngreenscreen: 2 30 43 56 68 70","x":500,"y":480,"wires":[]},{"id":"68c1ab94.bcd954","type":"subflow:b8aaba87.539188","z":"68b10b3.d3953f4","name":"Dark Lab House","x":660,"y":840,"wires":[["c377be15.a06ec"]]},{"id":"c377be15.a06ec","type":"function","z":"68b10b3.d3953f4","name":"format and trigger DMX universe","func":"msg.payload = msg.payload.dmx;\nglobal.set(\"last_known_universe_array\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":840,"wires":[["d2fca79d.2ec948","2810876e.a3b728"]]},{"id":"c3431c24.381d5","type":"function","z":"68b10b3.d3953f4","name":"format and trigger DMX universe","func":"var temp_dmx_array = msg.payload.dmx;\nvar offset = msg.payload.offset;\nvar current_dmx_universe = global.get(\"last_known_universe_array\");\nfor(var i = 0; i < temp_dmx_array.length; i++) {\n    current_dmx_universe[i+offset] = temp_dmx_array[i];\n}\nglobal.set(\"last_known_universe_array\", current_dmx_universe);\nmsg.payload = current_dmx_universe;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":940,"wires":[["2810876e.a3b728","d2fca79d.2ec948"]]},{"id":"7fe04ba1.ab7784","type":"subflow:169f71f9.0db13e","z":"68b10b3.d3953f4","name":"Chauvet Intimidator 155 Floor","x":700,"y":940,"wires":[["c3431c24.381d5"]]},{"id":"a6a6e08.e4a562","type":"function","z":"68b10b3.d3953f4","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":400,"y":360,"wires":[["8163fc00.5f67e8"]]},{"id":"4202e1a9.137d8","type":"function","z":"68b10b3.d3953f4","name":"Format Preset Pulldown","func":"global.set(\"last_known_universe_array\", msg.payload);\n\n/*var msg_array = [];\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic != undefined){\n        tmp_object[msg_object.topic] = {\"topic\": msg_object.topic, \"payload\": msg_object.payload};\n        msg_array[i] = tmp_object;\n    }\n}*/\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":360,"wires":[["3a402de4.fcef82"]]},{"id":"c8a57d4d.47c52","type":"inject","z":"68b10b3.d3953f4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":230,"y":360,"wires":[["a6a6e08.e4a562"]]},{"id":"8163fc00.5f67e8","type":"mongodb2 in","z":"68b10b3.d3953f4","service":"_ext_","configNode":"8f466b3e.ef20b8","name":"Mongo DB dynamic operation","collection":"last_known_universe_array","operation":"","x":630,"y":360,"wires":[["4202e1a9.137d8"]]},{"id":"2810876e.a3b728","type":"function","z":"68b10b3.d3953f4","name":"save preset","func":"var last_known_universe_array = [];\nlast_known_universe_array = global.get(\"last_known_universe_array\");\nvar newMsg = {};\nnewMsg.collection = 'last_known_universe_array';\nnewMsg.payload = [\n   {topic: \"last_known_universe_array\"},\n  {\n    \"$set\": {\n      \"payload\": last_known_universe_array\n    }\n  },\n  {upsert:true}\n];\n\nreturn newMsg;\n\n\n","outputs":1,"noerr":0,"x":1430,"y":800,"wires":[["445fa45c.cc61bc"]]},{"id":"445fa45c.cc61bc","type":"mongodb2 in","z":"68b10b3.d3953f4","service":"_ext_","configNode":"8f466b3e.ef20b8","name":"Store Data into MongoDB","collection":"last_known_universe_array","operation":"findOneAndUpdate","x":1830,"y":800,"wires":[[]]},{"id":"e56e9361.c946c","type":"subflow:79f1378c.5c5978","z":"68b10b3.d3953f4","name":"Chauvet Intimidator 155 Grid","x":700,"y":1040,"wires":[["b6a76e2e.4f5a"]]},{"id":"b6a76e2e.4f5a","type":"function","z":"68b10b3.d3953f4","name":"format and trigger DMX universe","func":"var temp_dmx_array = msg.payload.dmx;\nvar offset = msg.payload.offset;\nvar current_dmx_universe = global.get(\"last_known_universe_array\");\nfor(var i = 0; i < temp_dmx_array.length; i++) {\n    current_dmx_universe[i+offset] = temp_dmx_array[i];\n}\nglobal.set(\"last_known_universe_array\", current_dmx_universe);\nmsg.payload = current_dmx_universe;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":1040,"wires":[["d2fca79d.2ec948","2810876e.a3b728"]]},{"id":"aa45b029.63b58","type":"function","z":"68b10b3.d3953f4","name":"format and trigger DMX universe","func":"var temp_dmx_array = msg.payload.dmx;\nvar offset = msg.payload.offset;\nvar current_dmx_universe = global.get(\"last_known_universe_array\");\nfor(var i = 0; i < temp_dmx_array.length; i++) {\n    current_dmx_universe[i+offset] = temp_dmx_array[i];\n}\nglobal.set(\"last_known_universe_array\", current_dmx_universe);\nmsg.payload = current_dmx_universe;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":1140,"wires":[["d2fca79d.2ec948","2810876e.a3b728"]]},{"id":"dda9b24a.2fbdb","type":"subflow:f7948e34.dd2f2","z":"68b10b3.d3953f4","name":"Sniper","x":690,"y":1120,"wires":[["aa45b029.63b58"]]},{"id":"30f09a49.af07e6","type":"debug","z":"68b10b3.d3953f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":600,"wires":[]},{"id":"8a52e703.6595b8","type":"ui_group","z":"","name":"MASTER PRESETS","tab":"ffc7f18b.c999d","order":1,"disp":true,"width":"6","collapse":false},{"id":"8f466b3e.ef20b8","type":"mongodb2","z":0,"uri":"mongodb://127.0.0.1:27017/cinebrain","name":"cinebrain db","options":"","parallelism":"-1"},{"id":"ffc7f18b.c999d","type":"ui_tab","z":"","name":"MASTER PRESETS","icon":"dashboard","order":1}]