Dolphinarium_robot_arms_v2.json
[{"id":"4024fc89.877394","type":"mongodb2 in","z":"f93eb8d7.7eb688","service":"_ext_","configNode":"8f466b3e.ef20b8","name":"Store Data into MongoDB","collection":"robot_arm_presets","operation":"findOneAndUpdate","x":1570,"y":140,"wires":[["fa155130.cbea3"]]},{"id":"7af537b9.ab6fd8","type":"function","z":"f93eb8d7.7eb688","name":"Just get preset","func":"var servos = msg.payload.payload;\nvar last_servos = global.get(\"last_sent_servos\");\nvar robot_speed = global.get(\"robot_speed\");\nvar sameness_flag = 0;\nvar m = [];\nvar servo_command = \"\";\n\nfor(var i=0; i<servos.length; i++) {\n    if(servos[i]!=last_servos[i]){\n        sameness_flag=1;\n    }\n}\n\nif(sameness_flag==1){\n    \n    m[0] = { payload: \"reset\"};\n    \n    for (var i=1;i<7;i++)\n    {\n        m[i] = { payload: servos[i-1] };\n        \n        var id = i;\n        servo_command = servo_command + id + \":\" + servos[i-1] + \":\" + robot_speed;\n        if (id == 6) {\n            servo_command = servo_command + \"!\";\n        }\n        else {\n            servo_command = servo_command + \"&\";\n        }\n    }\n    \n    m[7] = { payload: servo_command };\n    global.set(\"last_sent_servos\", [...servos]);\n    global.set(\"servos_preset\", servos);\n\n    return m;\n\n}\n","outputs":8,"noerr":0,"x":1823,"y":519.5,"wires":[[],["ab2a9d2f.bf37b"],["d6c97e93.61519"],["535d0ca.8aec4f4"],["38a0e6c8.8afa0a"],["53ae2aaa.18af94"],["fe3043b4.55cfa"],["9cfca67e.cbbf68","269ef04e.87b28"]]},{"id":"846fea9a.b80bd8","type":"function","z":"f93eb8d7.7eb688","name":"MIDI KNOB PARSE","func":"var knob_array = [];\nknob_array = msg.payload;\nvar output_array = [];\n\nswitch (knob_array[0]) {\n    case 48:\n        var scaled_value = Math.floor((knob_array[1]*1000)/127);\n        output_array[0] = {payload: scaled_value};\n        break;\n    case 49:\n        var scaled_value = Math.floor((knob_array[1]*1000)/127);\n        output_array[1] = {payload: scaled_value};\n        break;\n    case 50:\n        var scaled_value = Math.floor((knob_array[1]*1000)/127);\n        output_array[2] = {payload: scaled_value};\n        break;\n    case 51:\n        var scaled_value = Math.floor((knob_array[1]*1000)/127);\n        output_array[3] = {payload: scaled_value};\n        break;\n    case 52:\n        var scaled_value = Math.floor((knob_array[1]*1000)/127);\n        output_array[4] = {payload: scaled_value};\n        break;\n    case 53:\n        var scaled_value = Math.floor((knob_array[1]*1000)/127);\n        output_array[5] = {payload: scaled_value};\n        break;\n    case 54:\n        var scaled_value = Math.floor((knob_array[1]*1000)/127);\n        output_array[6] = {payload: scaled_value};\n        break;\n    case 55:\n        var scaled_value = Math.floor((knob_array[1]*3000)/127);\n        output_array[7] = {payload: scaled_value};\n        break;\n        \n}\nreturn output_array;\n\n\n","outputs":8,"noerr":0,"x":1580,"y":620,"wires":[["63bceeb3.39566"],["4d20cee2.d0b46"],["1ca99a99.cc8465"],["803b4c22.6192b"],["6761b3ef.3bbd8c"],["1073798c.71c646"],[],["8acc17b3.3553e8","5b4544ed.a97efc"]]},{"id":"d6c97e93.61519","type":"ui_slider","z":"f93eb8d7.7eb688","name":"Servo2","label":"Servo 2","group":"b29a4984.6aeca8","order":2,"width":"0","height":"0","passthru":true,"topic":"Slider","min":0,"max":"1000","step":"1","x":2063,"y":499.5,"wires":[["4d20cee2.d0b46"]]},{"id":"3c923ed6.4b5e12","type":"ui_slider","z":"f93eb8d7.7eb688","name":"Preset Recall Speed","label":"Robot Speed","group":"1d707854.547168","order":7,"width":0,"height":0,"passthru":true,"topic":"Slider","min":"500","max":"3000","step":1,"x":2109,"y":699.5,"wires":[["8acc17b3.3553e8","5b4544ed.a97efc"]]},{"id":"fe3043b4.55cfa","type":"ui_slider","z":"f93eb8d7.7eb688","name":"Servo6","label":"Servo 6","group":"b29a4984.6aeca8","order":6,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"1000","step":"1","x":2063,"y":659.5,"wires":[["1073798c.71c646"]]},{"id":"53ae2aaa.18af94","type":"ui_slider","z":"f93eb8d7.7eb688","name":"Servo5","label":"Servo 5","group":"b29a4984.6aeca8","order":5,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"1000","step":"1","x":2063,"y":619.5,"wires":[["6761b3ef.3bbd8c"]]},{"id":"38a0e6c8.8afa0a","type":"ui_slider","z":"f93eb8d7.7eb688","name":"Servo4","label":"Servo 4","group":"b29a4984.6aeca8","order":4,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"1000","step":"1","x":2063,"y":579.5,"wires":[["803b4c22.6192b"]]},{"id":"535d0ca.8aec4f4","type":"ui_slider","z":"f93eb8d7.7eb688","name":"Servo3","label":"Servo 3","group":"b29a4984.6aeca8","order":3,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"1000","step":"1","x":2063,"y":539.5,"wires":[["1ca99a99.cc8465"]]},{"id":"63bceeb3.39566","type":"change","z":"f93eb8d7.7eb688","name":"save to Global Servos1","rules":[{"t":"set","p":"servos_preset[0]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2333,"y":459.5,"wires":[[]]},{"id":"4d20cee2.d0b46","type":"change","z":"f93eb8d7.7eb688","name":"save to Global Servos2","rules":[{"t":"set","p":"servos_preset[1]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2333,"y":499.5,"wires":[[]]},{"id":"1ca99a99.cc8465","type":"change","z":"f93eb8d7.7eb688","name":"save to Global Servos3","rules":[{"t":"set","p":"servos_preset[2]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2333,"y":539.5,"wires":[[]]},{"id":"803b4c22.6192b","type":"change","z":"f93eb8d7.7eb688","name":"save to Global Servos4","rules":[{"t":"set","p":"servos_preset[3]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2333,"y":579.5,"wires":[[]]},{"id":"6761b3ef.3bbd8c","type":"change","z":"f93eb8d7.7eb688","name":"save to Global Servos5","rules":[{"t":"set","p":"servos_preset[4]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2333,"y":619.5,"wires":[[]]},{"id":"1073798c.71c646","type":"change","z":"f93eb8d7.7eb688","name":"save to Global Servos6","rules":[{"t":"set","p":"servos_preset[5]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2333,"y":659.5,"wires":[[]]},{"id":"8acc17b3.3553e8","type":"change","z":"f93eb8d7.7eb688","name":"save to Global RobotSpeed","rules":[{"t":"set","p":"robot_speed","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2343,"y":699.5,"wires":[[]]},{"id":"56db81b9.cfc8e","type":"function","z":"f93eb8d7.7eb688","name":"insert preset","func":"var preset = [];\npreset = global.get(\"servos_preset\");\nvar newMsg = {};\nnewMsg.collection = 'servos_presets';\nnewMsg.payload = [\n  {topic: msg.payload},\n  {\n    \"$set\": {\n      \"payload\": preset\n    }\n  },\n  {upsert:true}\n];\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":1358,"y":141,"wires":[["4024fc89.877394"]]},{"id":"ab2a9d2f.bf37b","type":"ui_slider","z":"f93eb8d7.7eb688","name":"Servo1","label":"Servo 1","group":"b29a4984.6aeca8","order":1,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"1000","step":"1","x":2063,"y":459.5,"wires":[["63bceeb3.39566"]]},{"id":"fa155130.cbea3","type":"function","z":"f93eb8d7.7eb688","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":1245,"y":259,"wires":[["2075189f.16d2e8"]]},{"id":"7c9b3f9e.04794","type":"ui_dropdown","z":"f93eb8d7.7eb688","name":"Recall Pulldown","label":"Recall","place":"Select option","group":"1d707854.547168","order":2,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1983,"y":259.5,"wires":[["7af537b9.ab6fd8","837cedf3.22337"]]},{"id":"ad7275ac.c469b8","type":"function","z":"f93eb8d7.7eb688","name":"Format Preset Pulldown","func":"flow.set(\"robot_db_preset\", msg.payload);\nvar msg_array = [];\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic != undefined){\n        tmp_object[msg_object.topic] = {\"topic\": msg_object.topic, \"payload\": msg_object.payload};\n        msg_array[i] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":1750,"y":260,"wires":[["7c9b3f9e.04794"]]},{"id":"b6dccb30.6274e8","type":"inject","z":"f93eb8d7.7eb688","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"2","x":1096,"y":257.5,"wires":[["fa155130.cbea3"]]},{"id":"83f40700.0985c8","type":"ui_text_input","z":"f93eb8d7.7eb688","name":"","label":"Edit Preset Name","group":"1d707854.547168","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"","x":2413,"y":259.5,"wires":[["2401e583.81a64a"]]},{"id":"68f0462e.637738","type":"ui_button","z":"f93eb8d7.7eb688","name":"Save","group":"1d707854.547168","order":5,"width":0,"height":0,"passthru":false,"label":"Save Preset","color":"#FFF","bgcolor":"#FF0000","icon":"","payload":"","payloadType":"date","topic":"","x":1038,"y":139.5,"wires":[["de4f88b6.3dd398"]]},{"id":"2401e583.81a64a","type":"function","z":"f93eb8d7.7eb688","name":"set global preset name","func":"global.set(\"robot_arm_preset_name\", msg.payload);","outputs":1,"noerr":0,"x":2660,"y":260,"wires":[[]]},{"id":"de4f88b6.3dd398","type":"function","z":"f93eb8d7.7eb688","name":"save preset","func":"msg.payload = global.get(\"robot_arm_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":140,"wires":[["56db81b9.cfc8e"]]},{"id":"837cedf3.22337","type":"function","z":"f93eb8d7.7eb688","name":"get preset name","func":"msg.payload = msg.payload.topic;\nreturn msg;","outputs":1,"noerr":0,"x":2203,"y":259.5,"wires":[["83f40700.0985c8"]]},{"id":"da6c2e66.a231e","type":"ui_text","z":"f93eb8d7.7eb688","group":"1d707854.547168","order":3,"width":0,"height":0,"name":"","label":"SAVE PRESET","format":"{{msg.payload}}","layout":"row-left","x":1083,"y":339.5,"wires":[]},{"id":"828c87c.23c9f78","type":"function","z":"f93eb8d7.7eb688","name":"delete preset","func":"var newMsg = {};\nnewMsg.operation  = 'deleteOne';\nnewMsg.payload    = {'topic' : msg.payload};\nreturn newMsg;","outputs":1,"noerr":0,"x":1359,"y":200,"wires":[["8d4481ca.604a2"]]},{"id":"cb3902c1.1f9fb","type":"ui_button","z":"f93eb8d7.7eb688","name":"Delete","group":"1d707854.547168","order":5,"width":0,"height":0,"passthru":false,"label":"Delete Preset","color":"#FFF","bgcolor":"#FF00FF","icon":"","payload":"","payloadType":"date","topic":"","x":1039,"y":198.5,"wires":[["747863dc.c08f5c"]]},{"id":"747863dc.c08f5c","type":"function","z":"f93eb8d7.7eb688","name":"delete preset","func":"msg.payload = global.get(\"robot_arm_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":1191,"y":199,"wires":[["828c87c.23c9f78"]]},{"id":"a5a94603.72b068","type":"function","z":"f93eb8d7.7eb688","name":"send servo data","func":"var servos = global.get(\"servos_preset\");\nvar last_servos = global.get(\"last_sent_servos\");\nvar sameness_flag = false;\nvar m = [];\n\nfor(var i=0; i<servos.length; i++) {\n    if(servos[i]!=last_servos[i]){\n        sameness_flag= true;\n    }\n}\n\nif(sameness_flag){\n  \n    var robot_speed = 150;\n\n    var servo_string =   \"1:\" + servos[0] + \":\" + robot_speed + \"&\" +\n                        \"2:\" + servos[1] + \":\" + robot_speed + \"&\" +\n                        \"3:\" + servos[2] + \":\" + robot_speed + \"&\" +\n                        \"4:\" + servos[3] + \":\" + robot_speed + \"&\" +\n                        \"5:\" + servos[4] + \":\" + robot_speed + \"&\" +\n                        \"6:\" + servos[5] + \":\" + robot_speed + \"!\";\n    global.set(\"last_sent_servos\", [...servos]);\n    m[0] = { payload: servo_string };\n    m[1] = { payload: servos};\n    return m;\n}\n\n","outputs":2,"noerr":0,"x":2883,"y":859.5,"wires":[["9cfca67e.cbbf68","269ef04e.87b28"],[]]},{"id":"b1f96afd.3456b8","type":"ui_button","z":"f93eb8d7.7eb688","name":"RESET SERVO POSITIONS","group":"1d707854.547168","order":0,"width":0,"height":0,"passthru":false,"label":"RESET SERVO POSITIONS","color":"","bgcolor":"","icon":"","payload":"1:500:1000&2:500:1000&3:500:1000&4:500:1000&5:500:1000&6:500:1000!","payloadType":"str","topic":"","x":1123,"y":399.5,"wires":[["ab6d5bc1.1b8b98"]]},{"id":"ab6d5bc1.1b8b98","type":"function","z":"f93eb8d7.7eb688","name":"load reset","func":"msg.payload = { payload : [500,500,500,500,500,500] };\nreturn msg;","outputs":1,"noerr":0,"x":1403,"y":419.5,"wires":[["7af537b9.ab6fd8"]]},{"id":"f423c9f0.6d44e8","type":"inject","z":"f93eb8d7.7eb688","name":"","topic":"","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":"2","x":1910,"y":700,"wires":[["3c923ed6.4b5e12"]]},{"id":"6f47ef65.21da1","type":"trigger","z":"f93eb8d7.7eb688","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-150","extend":false,"units":"ms","reset":"reset","bytopic":"all","name":"","x":2503,"y":899.5,"wires":[["6ba85c83.cdf9d4","a5a94603.72b068"]]},{"id":"33eefa82.339ea6","type":"inject","z":"f93eb8d7.7eb688","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"2","x":2293,"y":879.5,"wires":[["6f47ef65.21da1"]]},{"id":"5b4544ed.a97efc","type":"ui_numeric","z":"f93eb8d7.7eb688","name":"preset recall speed","label":"numeric","group":"b29a4984.6aeca8","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"1000","step":1,"x":2410,"y":800,"wires":[[]]},{"id":"e1c5378c.523448","type":"function","z":"f93eb8d7.7eb688","name":"save last sent servos","func":"global.set(\"last_sent_servos\", [0,0,0,0,0,0]);\nreturn msg;","outputs":1,"noerr":0,"x":2983,"y":699.5,"wires":[[]]},{"id":"943b09ec.ea4928","type":"inject","z":"f93eb8d7.7eb688","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"2","x":2793,"y":699.5,"wires":[["e1c5378c.523448"]]},{"id":"2d6a6cef.217864","type":"inject","z":"f93eb8d7.7eb688","name":"RESET SERVO POSITIONS","topic":"","payload":"1:500:1000&2:500:1000&3:500:1000&4:500:1000&5:500:1000&6:500:1000!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1143,"y":439.5,"wires":[["ab6d5bc1.1b8b98"]]},{"id":"38df0076.fcec3","type":"inject","z":"f93eb8d7.7eb688","name":"reset","topic":"","payload":"reset","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2293,"y":919.5,"wires":[["6f47ef65.21da1"]]},{"id":"879c4b01.df9308","type":"function","z":"f93eb8d7.7eb688","name":"get last sent","func":"msg.payload = global.get(\"last_sent_servos\");\n\nreturn msg;","outputs":1,"noerr":0,"x":2953,"y":379.5,"wires":[["75ac3bb2.bfe7c4"]]},{"id":"ec06c0b9.ab1b9","type":"inject","z":"f93eb8d7.7eb688","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2783,"y":379.5,"wires":[["879c4b01.df9308"]]},{"id":"fe05410d.4ae66","type":"function","z":"f93eb8d7.7eb688","name":"get current","func":"msg.payload = global.get(\"servos_preset\");\nreturn msg;","outputs":1,"noerr":0,"x":2953,"y":439.5,"wires":[["75ac3bb2.bfe7c4"]]},{"id":"9b6092f4.c2622","type":"inject","z":"f93eb8d7.7eb688","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2783,"y":439.5,"wires":[["fe05410d.4ae66"]]},{"id":"75ac3bb2.bfe7c4","type":"debug","z":"f93eb8d7.7eb688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":3230,"y":400,"wires":[]},{"id":"9cfca67e.cbbf68","type":"debug","z":"f93eb8d7.7eb688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":3150,"y":1000,"wires":[]},{"id":"6ba85c83.cdf9d4","type":"function","z":"f93eb8d7.7eb688","name":"get last sent","func":"msg.payload = { last_sent_servos: global.get(\"last_sent_servos\"),\n                current_servos: global.get(\"servos_preset\")\n            \n};\n\nreturn msg;","outputs":1,"noerr":0,"x":2730,"y":960,"wires":[[]]},{"id":"2075189f.16d2e8","type":"mongodb2 in","z":"f93eb8d7.7eb688","service":"_ext_","configNode":"8f466b3e.ef20b8","name":"Mongo DB dynamic operation","collection":"robot_arm_presets","operation":"","x":1479,"y":262,"wires":[["ad7275ac.c469b8","62055759.fd3ce8"]]},{"id":"8d4481ca.604a2","type":"mongodb2 in","z":"f93eb8d7.7eb688","service":"_ext_","configNode":"8f466b3e.ef20b8","name":"Store Data into MongoDB","collection":"robot_arm_presets","operation":"","x":1570,"y":201,"wires":[["fa155130.cbea3"]]},{"id":"bde7f4a2.ffbb98","type":"link in","z":"f93eb8d7.7eb688","name":"","links":["7948db74.494324","534cb538.8c889c"],"x":1363,"y":339.5,"wires":[["e6b12a19.2b65a8"]]},{"id":"1a8ac6d.a192939","type":"debug","z":"f93eb8d7.7eb688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":690,"y":500,"wires":[]},{"id":"bb1c171b.df8298","type":"function","z":"f93eb8d7.7eb688","name":"filter midi messages by type","func":"var m = [];\nvar type = msg.midi.type;\nif (type == \"controlchange\"){\n    m[0] = msg;\n}\nelse if ((type == \"noteon\") || (type == \"noteoff\")) {\n    m[1] = msg;\n}\nelse {\n    m[2] = msg;\n}\nreturn m;","outputs":3,"noerr":0,"x":420,"y":440,"wires":[["846fea9a.b80bd8"],["1a8ac6d.a192939","46cc5ae2.047a74"],[]]},{"id":"46cc5ae2.047a74","type":"function","z":"f93eb8d7.7eb688","name":"save preset with midi keyboard","func":"var m = [];\nvar type = msg.midi.type;\nvar note_num = msg.payload[0];\nif (note_num===93){\n    if (type == \"noteon\"){\n        flow.set(\"preset_record\", true);\n    }\n    else if (type == \"noteoff\") {\n        flow.set(\"preset_record\", false);\n    }\n}\nelse{\n    var preset_record = flow.get(\"preset_record\");\n    if (preset_record){\n        global.set(\"robot_arm_preset_name\", msg.payload[0]);\n        m[0] = { payload: 1};\n    }\n    else {\n         m[1] = { payload: msg.payload[0] };\n         m[2] = { payload: msg.payload[1] };\n    }\n    \n}\nreturn m;","outputs":3,"noerr":0,"x":750,"y":420,"wires":[["de4f88b6.3dd398"],["e6b12a19.2b65a8"],[]]},{"id":"3472b647.b4d81a","type":"ui_button","z":"f93eb8d7.7eb688","name":"Load Presets","group":"1d707854.547168","order":5,"width":0,"height":0,"passthru":false,"label":"Load Presets","color":"white","bgcolor":"purple","icon":"","payload":"","payloadType":"date","topic":"","x":910,"y":260,"wires":[["fa155130.cbea3"]]},{"id":"e6b12a19.2b65a8","type":"function","z":"f93eb8d7.7eb688","name":"trigger pitch preset","func":"var robot_preset = flow.get(\"robot_db_preset\");\nfor(var i = 0;i<robot_preset.length; i++){\n    var temp_preset = robot_preset[i];\n    if (temp_preset.topic==msg.payload){\n        msg.payload = { payload: temp_preset.payload };\n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":360,"wires":[["7af537b9.ab6fd8"]]},{"id":"62055759.fd3ce8","type":"debug","z":"f93eb8d7.7eb688","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1790,"y":360,"wires":[]},{"id":"32b08d88.aab692","type":"link in","z":"f93eb8d7.7eb688","name":"Robot MIDI input","links":["d06ddb1c.b7a7e8"],"x":235,"y":440,"wires":[["bb1c171b.df8298"]]},{"id":"269ef04e.87b28","type":"serial out","z":"f93eb8d7.7eb688","name":"","serial":"ba4e05b2.19cda8","x":3410,"y":580,"wires":[]},{"id":"a9c47511.1fbaa8","type":"serial in","z":"f93eb8d7.7eb688","name":"","serial":"ba4e05b2.19cda8","x":2950,"y":300,"wires":[["75ac3bb2.bfe7c4"]]},{"id":"8f466b3e.ef20b8","type":"mongodb2","z":0,"uri":"mongodb://127.0.0.1:27017/cinebrain","name":"cinebrain db","options":"","parallelism":"-1"},{"id":"b29a4984.6aeca8","type":"ui_group","z":"","name":"SERVO SLIDERS","tab":"ccefefa2.1224a","order":3,"disp":true,"width":"6","collapse":false},{"id":"1d707854.547168","type":"ui_group","z":"","name":"PRESETS","tab":"ccefefa2.1224a","order":2,"disp":true,"width":"6","collapse":false},{"id":"ba4e05b2.19cda8","type":"serial-port","z":"","serialport":"COM5","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":""},{"id":"ccefefa2.1224a","type":"ui_tab","z":"","name":"ROBOT ARM 1","icon":"dashboard","order":3}]