Dolphinarium_master_presets_v1.json
[{"id":"12b8a4ce.f2149b","type":"function","z":"44b52a0d.4f3804","name":"insert preset","func":"var preset = [];\npreset = global.get(\"master_preset\");\nvar newMsg = {};\nnewMsg.collection = 'master_presets';\nnewMsg.payload = [\n  {topic: msg.payload},\n  {\n    \"$set\": {\n      \"payload\": preset\n    }\n  },\n  {upsert:true}\n];\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":375,"y":81.5,"wires":[["a2b17e0f.7b60d"]]},{"id":"ac45731e.5839f","type":"function","z":"44b52a0d.4f3804","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":262,"y":199.5,"wires":[["5dffa273.34169c"]]},{"id":"f4c15c3.e8da5a","type":"ui_dropdown","z":"44b52a0d.4f3804","name":"Recall Pulldown","label":"Recall","place":"Select option","group":"8a52e703.6595b8","order":2,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":980,"y":200,"wires":[["1881517a.126aef","7dece72b.b04158"]]},{"id":"5a0e845b.1ab97c","type":"function","z":"44b52a0d.4f3804","name":"Format Preset Pulldown","func":"var msg_array = [];\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic != undefined){\n        tmp_object[msg_object.topic] = {\"topic\": msg_object.topic, \"payload\": msg_object.payload};\n        msg_array[i] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":200,"wires":[["f4c15c3.e8da5a"]]},{"id":"9232668e.d623c8","type":"inject","z":"44b52a0d.4f3804","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":113,"y":198,"wires":[["ac45731e.5839f"]]},{"id":"1c883c33.4cc5c4","type":"ui_text_input","z":"44b52a0d.4f3804","name":"","label":"Edit Master Preset Name","group":"8a52e703.6595b8","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"","x":1450,"y":200,"wires":[["21d9a4bd.29792c"]]},{"id":"bd44ff2e.22c9b","type":"ui_button","z":"44b52a0d.4f3804","name":"Save","group":"8a52e703.6595b8","order":5,"width":0,"height":0,"passthru":false,"label":"Save Master Preset","color":"#FFF","bgcolor":"#FF0000","icon":"","payload":"","payloadType":"date","topic":"","x":55,"y":80,"wires":[["76dc8ab7.98f684"]]},{"id":"21d9a4bd.29792c","type":"function","z":"44b52a0d.4f3804","name":"set global preset name","func":"global.set(\"master_preset_name\", msg.payload);","outputs":1,"noerr":0,"x":1700,"y":200,"wires":[[]]},{"id":"76dc8ab7.98f684","type":"function","z":"44b52a0d.4f3804","name":"save preset","func":"msg.payload = global.get(\"master_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":80,"wires":[["12b8a4ce.f2149b","14e61808.7043e8"]]},{"id":"1881517a.126aef","type":"function","z":"44b52a0d.4f3804","name":"get preset name","func":"msg.payload = msg.payload.topic;\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":200,"wires":[["1c883c33.4cc5c4"]]},{"id":"dab1a16d.c7682","type":"ui_text","z":"44b52a0d.4f3804","group":"8a52e703.6595b8","order":3,"width":0,"height":0,"name":"","label":"SAVE MASTER PRESET","format":"{{msg.payload}}","layout":"row-left","x":130,"y":300,"wires":[]},{"id":"47e0bf00.01a9","type":"ui_text","z":"44b52a0d.4f3804","group":"8a52e703.6595b8","order":1,"width":0,"height":0,"name":"","label":"RECALL MASTER PRESET","format":"{{msg.payload}}","layout":"row-left","x":140,"y":260,"wires":[]},{"id":"34883490.ba9ffc","type":"function","z":"44b52a0d.4f3804","name":"delete preset","func":"var newMsg = {};\nnewMsg.operation  = 'deleteOne';\nnewMsg.payload    = {'topic' : msg.payload};\nreturn newMsg;","outputs":1,"noerr":0,"x":376,"y":140.5,"wires":[["80b2996a.b9b008"]]},{"id":"553046f3.19ef78","type":"ui_button","z":"44b52a0d.4f3804","name":"Delete","group":"8a52e703.6595b8","order":5,"width":0,"height":0,"passthru":false,"label":"Delete Master Preset","color":"#FFF","bgcolor":"#FF00FF","icon":"","payload":"","payloadType":"date","topic":"","x":56,"y":139,"wires":[["fa22de5.104a72"]]},{"id":"fa22de5.104a72","type":"function","z":"44b52a0d.4f3804","name":"delete preset","func":"msg.payload = global.get(\"master_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":208,"y":139.5,"wires":[["34883490.ba9ffc"]]},{"id":"a2b17e0f.7b60d","type":"mongodb2 in","z":"44b52a0d.4f3804","service":"_ext_","configNode":"8f466b3e.ef20b8","name":"Store Data into MongoDB","collection":"master_presets","operation":"findOneAndUpdate","x":586,"y":82.5,"wires":[["ac45731e.5839f"]]},{"id":"5dffa273.34169c","type":"mongodb2 in","z":"44b52a0d.4f3804","service":"_ext_","configNode":"8f466b3e.ef20b8","name":"Mongo DB dynamic operation","collection":"master_presets","operation":"","x":490,"y":200,"wires":[["5a0e845b.1ab97c"]]},{"id":"80b2996a.b9b008","type":"mongodb2 in","z":"44b52a0d.4f3804","service":"_ext_","configNode":"8f466b3e.ef20b8","name":"Store Data into MongoDB","collection":"master_presets","operation":"","x":587,"y":141.5,"wires":[["ac45731e.5839f"]]},{"id":"f27229c.77045d8","type":"function","z":"44b52a0d.4f3804","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":320,"y":540,"wires":[["c93a7c49.e7b2c"]]},{"id":"f7834333.35f37","type":"ui_dropdown","z":"44b52a0d.4f3804","name":"Robot Arm 1 Pulldown","label":"Robot Arm 1","place":"Select option","group":"4f7a655c.a30e5c","order":2,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1040,"y":540,"wires":[["2385b4be.a082ec","7948db74.494324"]]},{"id":"d2bfb04a.b5c76","type":"function","z":"44b52a0d.4f3804","name":"Format Preset Pulldown","func":"var msg_array = [];\nmsg_array[0] = \"No Action\";\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic !== undefined){\n        tmp_object = msg_object.topic;\n        msg_array[i+1] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":540,"wires":[["f7834333.35f37"]]},{"id":"b8776cc2.00672","type":"inject","z":"44b52a0d.4f3804","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":540,"wires":[["f27229c.77045d8"]]},{"id":"c93a7c49.e7b2c","type":"mongodb2 in","z":"44b52a0d.4f3804","service":"_ext_","configNode":"8f466b3e.ef20b8","name":"Mongo DB dynamic operation","collection":"robot_arm_presets","operation":"","x":530,"y":540,"wires":[["d2bfb04a.b5c76"]]},{"id":"c3e44619.21ef58","type":"ui_dropdown","z":"44b52a0d.4f3804","name":"Chauvet 155 Floor","label":"Chauvet 155 Floor","place":"Select option","group":"4f7a655c.a30e5c","order":8,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1030,"y":840,"wires":[["a97c15a3.65ed48"]]},{"id":"ca6cbfb1.14c4c","type":"function","z":"44b52a0d.4f3804","name":"Format Preset Pulldown","func":"var msg_array = [];\nmsg_array[0] = \"No Action\";\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic !== undefined){\n        tmp_object = msg_object.topic;\n        msg_array[i+1] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":840,"wires":[["c3e44619.21ef58"]]},{"id":"ac0587eb.c99458","type":"mongodb2 in","z":"44b52a0d.4f3804","service":"_ext_","configNode":"e8414499.885228","name":"Mongo DB dynamic operation","collection":"chauvet_155_floor_presets","operation":"","x":530,"y":840,"wires":[["ca6cbfb1.14c4c"]]},{"id":"5dda5852.517918","type":"function","z":"44b52a0d.4f3804","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":320,"y":840,"wires":[["ac0587eb.c99458"]]},{"id":"612b7a20.3d5004","type":"inject","z":"44b52a0d.4f3804","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":840,"wires":[["5dda5852.517918"]]},{"id":"27827e73.1874f2","type":"mongodb2 in","z":"44b52a0d.4f3804","service":"_ext_","configNode":"e8414499.885228","name":"Mongo DB dynamic operation","collection":"chauvet_155_grid_presets","operation":"","x":530,"y":900,"wires":[["5844f019.d906b"]]},{"id":"ee5d332f.16b3f","type":"function","z":"44b52a0d.4f3804","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":320,"y":900,"wires":[["27827e73.1874f2"]]},{"id":"e8fafbcd.f33c18","type":"inject","z":"44b52a0d.4f3804","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":900,"wires":[["ee5d332f.16b3f"]]},{"id":"2b320be5.248494","type":"ui_dropdown","z":"44b52a0d.4f3804","name":"Chauvet 155 Grid","label":"Chauvet 155 Grid","place":"Select option","group":"4f7a655c.a30e5c","order":9,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1030,"y":900,"wires":[["753d3be1.42ba64"]]},{"id":"5844f019.d906b","type":"function","z":"44b52a0d.4f3804","name":"Format Preset Pulldown","func":"var msg_array = [];\nmsg_array[0] = \"No Action\";\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic !== undefined){\n        tmp_object =  msg_object.topic;\n        msg_array[i+1] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":900,"wires":[["2b320be5.248494"]]},{"id":"442e3d16.81d7d4","type":"ui_dropdown","z":"44b52a0d.4f3804","name":"PTZ 1 Recall Pulldown","label":"PTZ 1","place":"Select option","group":"4f7a655c.a30e5c","order":3,"width":0,"height":0,"passthru":false,"options":[{"label":"No Action","value":"No Action","type":"str"},{"label":"Preset 1","value":"Preset 1","type":"str"},{"label":"Preset 2","value":"Preset 2","type":"str"},{"label":"Preset 3","value":"Preset 3","type":"str"},{"label":"Preset 4","value":"Preset 4","type":"str"},{"label":"Preset 5","value":"Preset 5","type":"str"},{"label":"Preset 6","value":"Preset 6","type":"str"}],"payload":"","topic":"","x":1040,"y":600,"wires":[["369d5d0d.cc9462","fc1f3923.219f88"]]},{"id":"dfad0e3d.37ef8","type":"ui_dropdown","z":"44b52a0d.4f3804","name":"PTZ 2 Recall Pulldown","label":"PTZ 2","place":"Select option","group":"4f7a655c.a30e5c","order":4,"width":0,"height":0,"passthru":false,"options":[{"label":"No Action","value":"No Action","type":"str"},{"label":"Preset 1","value":"Preset 1","type":"str"},{"label":"Preset 2","value":"Preset 2","type":"str"},{"label":"Preset 3","value":"Preset 3","type":"str"},{"label":"Preset 4","value":"Preset 4","type":"str"},{"label":"Preset 5","value":"Prese 5","type":"str"},{"label":"Preset 6","value":"Preset 6","type":"str"}],"payload":"","topic":"","x":1040,"y":660,"wires":[["63af7c29.5f8614","8381be6a.d1596"]]},{"id":"2385b4be.a082ec","type":"function","z":"44b52a0d.4f3804","name":"save to master_preset_object","func":"var master_preset_object = global.get(\"master_preset\");\nmaster_preset_object['robot_1'] = msg.payload;\nglobal.set(\"master_preset\", master_preset_object);\n","outputs":1,"noerr":0,"x":1310,"y":540,"wires":[[]]},{"id":"a97c15a3.65ed48","type":"function","z":"44b52a0d.4f3804","name":"save to master_preset_object","func":"var master_preset_object =  global.get(\"master_preset\");\nmaster_preset_object.chauvet_155_floor = msg.payload;\n global.set(\"master_preset\", master_preset_object);\n","outputs":1,"noerr":0,"x":1310,"y":840,"wires":[[]]},{"id":"753d3be1.42ba64","type":"function","z":"44b52a0d.4f3804","name":"save to master_preset_object","func":"var master_preset_object =  global.get(\"master_preset\");\nmaster_preset_object.chauvet_155_grid = msg.payload;\nglobal.set(\"master_preset\", master_preset_object);\n","outputs":1,"noerr":0,"x":1310,"y":900,"wires":[[]]},{"id":"369d5d0d.cc9462","type":"function","z":"44b52a0d.4f3804","name":"save to master_preset_object","func":"var master_preset_object =  global.get(\"master_preset\");\nmaster_preset_object.ptz_1 = msg.payload;\n global.set(\"master_preset\", master_preset_object);\n","outputs":1,"noerr":0,"x":1310,"y":600,"wires":[[]]},{"id":"63af7c29.5f8614","type":"function","z":"44b52a0d.4f3804","name":"save to master_preset_object","func":"var master_preset_object =  global.get(\"master_preset\");\nmaster_preset_object.ptz_2 = msg.payload;\n global.set(\"master_preset\", master_preset_object);\n","outputs":1,"noerr":0,"x":1310,"y":660,"wires":[[]]},{"id":"e98465a8.6b6418","type":"ui_button","z":"44b52a0d.4f3804","name":"Refresh Preset Lists","group":"4f7a655c.a30e5c","order":1,"width":0,"height":0,"passthru":false,"label":"Refresh Preset Lists","color":"black","bgcolor":"yellow","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":360,"wires":[["f27229c.77045d8","5dda5852.517918","ee5d332f.16b3f","1af12827.e87388","e1689032.28068","4238496.6bc77b8"]]},{"id":"7dece72b.b04158","type":"function","z":"44b52a0d.4f3804","name":"Just get preset","func":"global.set(\"master_preset\", msg.payload.payload);\n\nvar preset = {};\nvar m = [];\npreset = global.get(\"master_preset\");\n\nm[0] = { payload: preset.robot_1};\nm[1] = { payload: preset.ptz_1}; \nm[2] = { payload: preset.ptz_2};\n\nm[3] = {    chauvet_255: preset.chauvet_255,\n            adj_pinspot: preset.adj_pinspot,\n            chauvet_155_floor: preset.chauvet_155_floor,\n            chauvet_155_grid: preset.chauvet_155_grid,\n            dark_lab_house: preset.dark_lab_house,\n            \n};\n\nm[4] = { payload: preset.chauvet_255}; \nm[5] = { payload: preset.adj_pinspot};\nm[6] = { payload: preset.chauvet_155_floor}; \nm[7] = { payload: preset.chauvet_155_grid};\nm[8] = { payload: preset.dark_lab_house}; \n\n\nreturn m;\n","outputs":9,"noerr":0,"x":740,"y":360,"wires":[["7948db74.494324","f7834333.35f37"],["fc1f3923.219f88","442e3d16.81d7d4"],["8381be6a.d1596","dfad0e3d.37ef8"],["af676703.1a6c48"],["2219ecb8.dfc8b4"],["59fc4015.5852a"],["c3e44619.21ef58"],["2b320be5.248494"],["417cff06.93e09"]]},{"id":"fd18051d.27d148","type":"inject","z":"44b52a0d.4f3804","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":850,"y":60,"wires":[["51f8e29.0bc8d1c"]]},{"id":"51f8e29.0bc8d1c","type":"function","z":"44b52a0d.4f3804","name":"","func":"var master_preset_object = {\n                                robot_1: 0,\n                                chauvet_255: 1,\n                                adj_pinspot: 2,\n                                ptz_1: 3,\n                                ptz_2: 4,\n                                chauvet_155_floor: 5,\n                                chauvet_155_grid: 6,\n                                dark_lab: 7,\n                                sniper: 8\n};\nglobal.set(\"master_preset\", master_preset_object);\n","outputs":1,"noerr":0,"x":1040,"y":60,"wires":[[]]},{"id":"7948db74.494324","type":"link out","z":"44b52a0d.4f3804","name":"Robot 1 Master Preset Out","links":["332f9ccf.361174","7feb0826.ff1c08","951e1ccb.b952"],"x":1075,"y":300,"wires":[]},{"id":"af676703.1a6c48","type":"link out","z":"44b52a0d.4f3804","name":"DMX Master Preset Out","links":["ac10a925.4c8ea8"],"x":1075,"y":420,"wires":[]},{"id":"fc1f3923.219f88","type":"link out","z":"44b52a0d.4f3804","name":"PTZ 1 Master Preset Out","links":["5bae300b.e4a64"],"x":1075,"y":340,"wires":[]},{"id":"8381be6a.d1596","type":"link out","z":"44b52a0d.4f3804","name":"PTZ 2 Master Preset Out","links":["46e4988e.1260c8","2931d287.c2105e"],"x":1075,"y":380,"wires":[]},{"id":"2219ecb8.dfc8b4","type":"ui_dropdown","z":"44b52a0d.4f3804","name":"Chauvet 255 Pulldown","label":"Chauvet 255","place":"Select option","group":"4f7a655c.a30e5c","order":7,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1040,"y":720,"wires":[["4d5922bb.e6dd7c","de8459f7.3055c8"]]},{"id":"f6b9f0fd.4dba7","type":"function","z":"44b52a0d.4f3804","name":"Format Preset Pulldown","func":"var msg_array = [];\nmsg_array[0] = \"No Action\";\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic !== undefined){\n        tmp_object = msg_object.topic;\n        msg_array[i+1] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":720,"wires":[["2219ecb8.dfc8b4"]]},{"id":"e4dfea1f.e82118","type":"mongodb2 in","z":"44b52a0d.4f3804","service":"_ext_","configNode":"e8414499.885228","name":"Mongo DB dynamic operation","collection":"chauvet_255_presets","operation":"","x":530,"y":720,"wires":[["f6b9f0fd.4dba7"]]},{"id":"1af12827.e87388","type":"function","z":"44b52a0d.4f3804","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":320,"y":720,"wires":[["e4dfea1f.e82118"]]},{"id":"605a9c44.2bdb74","type":"inject","z":"44b52a0d.4f3804","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":720,"wires":[["1af12827.e87388"]]},{"id":"1bf5dbc9.eab964","type":"mongodb2 in","z":"44b52a0d.4f3804","service":"_ext_","configNode":"e8414499.885228","name":"Mongo DB dynamic operation","collection":"adj_pinspot_presets","operation":"","x":530,"y":780,"wires":[["483b14e.4f21bec"]]},{"id":"e1689032.28068","type":"function","z":"44b52a0d.4f3804","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":320,"y":780,"wires":[["1bf5dbc9.eab964"]]},{"id":"368a52ac.be698e","type":"inject","z":"44b52a0d.4f3804","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":780,"wires":[["e1689032.28068"]]},{"id":"59fc4015.5852a","type":"ui_dropdown","z":"44b52a0d.4f3804","name":"ADJ Pinspot Pulldown","label":"ADJ Pinspot","place":"Select option","group":"4f7a655c.a30e5c","order":6,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1040,"y":780,"wires":[["c5aa1afb.e92408"]]},{"id":"483b14e.4f21bec","type":"function","z":"44b52a0d.4f3804","name":"Format Preset Pulldown","func":"var msg_array = [];\nmsg_array[0] = \"No Action\";\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic !== undefined){\n        tmp_object =  msg_object.topic;\n        msg_array[i+1] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":780,"wires":[["59fc4015.5852a"]]},{"id":"4d5922bb.e6dd7c","type":"function","z":"44b52a0d.4f3804","name":"save to master_preset_object","func":"var master_preset_object =  global.get(\"master_preset\");\nmaster_preset_object.chauvet_255 = msg.payload;\n global.set(\"master_preset\", master_preset_object);\n","outputs":1,"noerr":0,"x":1310,"y":720,"wires":[[]]},{"id":"c5aa1afb.e92408","type":"function","z":"44b52a0d.4f3804","name":"save to master_preset_object","func":"var master_preset_object =  global.get(\"master_preset\");\nmaster_preset_object.adj_pinspot = msg.payload;\nglobal.set(\"master_preset\", master_preset_object);\n","outputs":1,"noerr":0,"x":1310,"y":780,"wires":[[]]},{"id":"78bfddfb.07b174","type":"mongodb2 in","z":"44b52a0d.4f3804","service":"_ext_","configNode":"e8414499.885228","name":"Mongo DB dynamic operation","collection":"dark_lab_presets","operation":"","x":530,"y":960,"wires":[["1dbdb8d1.2d6c57"]]},{"id":"4238496.6bc77b8","type":"function","z":"44b52a0d.4f3804","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":320,"y":960,"wires":[["78bfddfb.07b174"]]},{"id":"bdb075a0.0aa348","type":"inject","z":"44b52a0d.4f3804","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":960,"wires":[["4238496.6bc77b8"]]},{"id":"417cff06.93e09","type":"ui_dropdown","z":"44b52a0d.4f3804","name":"Dark Lab House","label":"Dark Lab House","place":"Select option","group":"4f7a655c.a30e5c","order":5,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1020,"y":960,"wires":[["f5677155.6c237"]]},{"id":"1dbdb8d1.2d6c57","type":"function","z":"44b52a0d.4f3804","name":"Format Preset Pulldown","func":"var msg_array = [];\nmsg_array[0] = \"No Action\";\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic !== undefined){\n        tmp_object =  msg_object.topic;\n        msg_array[i+1] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":960,"wires":[["417cff06.93e09"]]},{"id":"f5677155.6c237","type":"function","z":"44b52a0d.4f3804","name":"save to master_preset_object","func":"var master_preset_object =  global.get(\"master_preset\");\nmaster_preset_object.dark_lab = msg.payload;\nglobal.set(\"master_preset\", master_preset_object);\n","outputs":1,"noerr":0,"x":1310,"y":960,"wires":[[]]},{"id":"14e61808.7043e8","type":"debug","z":"44b52a0d.4f3804","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1230,"y":300,"wires":[]},{"id":"36d6c71f.e3e148","type":"link out","z":"44b52a0d.4f3804","name":"MIDI output","links":["622d0f07.c5548","fafef3e4.58d63","faed9fcd.f4371","57dd3406.c9eb1c"],"x":1560,"y":80,"wires":[]},{"id":"e7cf73db.312fa","type":"midi in","z":"44b52a0d.4f3804","name":"AKAI APC KEY25 MIDI IN","midiport":"0","x":1370,"y":80,"wires":[["36d6c71f.e3e148"]]},{"id":"de8459f7.3055c8","type":"function","z":"44b52a0d.4f3804","name":"format dmx preset recall","func":"msg.payload = { chauvet_255: msg.payload };\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":460,"wires":[["af676703.1a6c48","2bff7f9.9607d8"]]},{"id":"2bff7f9.9607d8","type":"debug","z":"44b52a0d.4f3804","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1220,"y":480,"wires":[]},{"id":"8a52e703.6595b8","type":"ui_group","z":"","name":"MASTER PRESETS","tab":"ffc7f18b.c999d","order":1,"disp":true,"width":"6","collapse":false},{"id":"8f466b3e.ef20b8","type":"mongodb2","z":0,"uri":"mongodb://127.0.0.1:27017/cinebrain","name":"cinebrain db","options":"","parallelism":"-1"},{"id":"4f7a655c.a30e5c","type":"ui_group","z":"","name":"SUB PRESETS","tab":"ffc7f18b.c999d","order":2,"disp":true,"width":"12","collapse":false},{"id":"e8414499.885228","type":"mongodb2","z":"","uri":"mongodb://127.0.0.1:27017/cinebrain","name":"cinebrain db","options":"","parallelism":"-1"},{"id":"ffc7f18b.c999d","type":"ui_tab","z":"","name":"MASTER PRESETS","icon":"dashboard","order":1}]