Dolphinarium_robot_arms_v1.json
[{"id":"7ec105c5.f46f4c","type":"mongodb2 in","z":"99b87941.680e58","service":"_ext_","configNode":"8f466b3e.ef20b8","name":"Store Data into MongoDB","collection":"robot_arm_presets","operation":"findOneAndUpdate","x":1027,"y":60.5,"wires":[["a060440a.b91208"]]},{"id":"42e01b54.fb3a74","type":"function","z":"99b87941.680e58","name":"Just get preset","func":"var servos = msg.payload.payload;\nvar last_servos = global.get(\"last_sent_servos\");\nvar robot_speed = global.get(\"robot_speed\");\nvar sameness_flag = 0;\nvar m = [];\nvar servo_command = \"\";\n\nfor(var i=0; i<servos.length; i++) {\n    if(servos[i]!=last_servos[i]){\n        sameness_flag=1;\n    }\n}\n\nif(sameness_flag==1){\n    \n    m[0] = { payload: \"reset\"};\n    \n    for (var i=1;i<7;i++)\n    {\n        m[i] = { payload: servos[i-1] };\n        \n        var id = i;\n        servo_command = servo_command + id + \":\" + servos[i-1] + \":\" + robot_speed;\n        if (id == 6) {\n            servo_command = servo_command + \"!\";\n        }\n        else {\n            servo_command = servo_command + \"&\";\n        }\n    }\n    \n    m[7] = { payload: servo_command };\n    global.set(\"last_sent_servos\", [...servos]);\n    global.set(\"servos_preset\", servos);\n\n    return m;\n\n}\n","outputs":8,"noerr":0,"x":1280,"y":440,"wires":[[],["b9ca78f.8b0ad88"],["133e8cc5.3f12a3"],["d7c35652.e58598"],["a4d03390.8143f"],["f12b1357.b5d7"],["15b5a30e.21d3ed"],["d22bb9e9.b548c8","6c3b553a.00586c"]]},{"id":"70905371.12a15c","type":"function","z":"99b87941.680e58","name":"MIDI KNOB PARSE","func":"var knob_array = [];\nknob_array = msg.payload;\nvar output_array = [];\n\nswitch (knob_array[0]) {\n    case 48:\n        var scaled_value = Math.floor((knob_array[1]*1000)/127);\n        output_array[0] = {payload: scaled_value};\n        break;\n    case 49:\n        var scaled_value = Math.floor((knob_array[1]*1000)/127);\n        output_array[1] = {payload: scaled_value};\n        break;\n    case 50:\n        var scaled_value = Math.floor((knob_array[1]*1000)/127);\n        output_array[2] = {payload: scaled_value};\n        break;\n    case 51:\n        var scaled_value = Math.floor((knob_array[1]*1000)/127);\n        output_array[3] = {payload: scaled_value};\n        break;\n    case 52:\n        var scaled_value = Math.floor((knob_array[1]*1000)/127);\n        output_array[4] = {payload: scaled_value};\n        break;\n    case 53:\n        var scaled_value = Math.floor((knob_array[1]*1000)/127);\n        output_array[5] = {payload: scaled_value};\n        break;\n    case 54:\n        var scaled_value = Math.floor((knob_array[1]*1000)/127);\n        output_array[6] = {payload: scaled_value};\n        break;\n    case 55:\n        var scaled_value = Math.floor((knob_array[1]*3000)/127);\n        output_array[7] = {payload: scaled_value};\n        break;\n        \n}\nreturn output_array;\n\n\n","outputs":8,"noerr":0,"x":1310,"y":740,"wires":[["ed1da979.ea4468"],["5baebb71.bc4e34"],["7c602261.aefa4c"],["19155e0e.7ad0b2"],["f2eb096f.3353a8"],["2193eaaf.0b8926"],[],["956f65ae.e79f18","7668685c.778848"]]},{"id":"133e8cc5.3f12a3","type":"ui_slider","z":"99b87941.680e58","name":"Servo2","label":"Servo 2","group":"b29a4984.6aeca8","order":2,"width":"0","height":"0","passthru":true,"topic":"Slider","min":0,"max":"1000","step":"1","x":1520,"y":420,"wires":[["5baebb71.bc4e34"]]},{"id":"946b8c65.9c7cc","type":"ui_slider","z":"99b87941.680e58","name":"Preset Recall Speed","label":"Robot Speed","group":"1d707854.547168","order":7,"width":0,"height":0,"passthru":true,"topic":"Slider","min":"500","max":"3000","step":1,"x":1566,"y":620,"wires":[["956f65ae.e79f18","7668685c.778848"]]},{"id":"15b5a30e.21d3ed","type":"ui_slider","z":"99b87941.680e58","name":"Servo6","label":"Servo 6","group":"b29a4984.6aeca8","order":6,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"1000","step":"1","x":1520,"y":580,"wires":[["2193eaaf.0b8926"]]},{"id":"f12b1357.b5d7","type":"ui_slider","z":"99b87941.680e58","name":"Servo5","label":"Servo 5","group":"b29a4984.6aeca8","order":5,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"1000","step":"1","x":1520,"y":540,"wires":[["f2eb096f.3353a8"]]},{"id":"a4d03390.8143f","type":"ui_slider","z":"99b87941.680e58","name":"Servo4","label":"Servo 4","group":"b29a4984.6aeca8","order":4,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"1000","step":"1","x":1520,"y":500,"wires":[["19155e0e.7ad0b2"]]},{"id":"d7c35652.e58598","type":"ui_slider","z":"99b87941.680e58","name":"Servo3","label":"Servo 3","group":"b29a4984.6aeca8","order":3,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"1000","step":"1","x":1520,"y":460,"wires":[["7c602261.aefa4c"]]},{"id":"ed1da979.ea4468","type":"change","z":"99b87941.680e58","name":"save to Global Servos1","rules":[{"t":"set","p":"servos_preset[0]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1790,"y":380,"wires":[[]]},{"id":"5baebb71.bc4e34","type":"change","z":"99b87941.680e58","name":"save to Global Servos2","rules":[{"t":"set","p":"servos_preset[1]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1790,"y":420,"wires":[[]]},{"id":"7c602261.aefa4c","type":"change","z":"99b87941.680e58","name":"save to Global Servos3","rules":[{"t":"set","p":"servos_preset[2]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1790,"y":460,"wires":[[]]},{"id":"19155e0e.7ad0b2","type":"change","z":"99b87941.680e58","name":"save to Global Servos4","rules":[{"t":"set","p":"servos_preset[3]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1790,"y":500,"wires":[[]]},{"id":"f2eb096f.3353a8","type":"change","z":"99b87941.680e58","name":"save to Global Servos5","rules":[{"t":"set","p":"servos_preset[4]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1790,"y":540,"wires":[[]]},{"id":"2193eaaf.0b8926","type":"change","z":"99b87941.680e58","name":"save to Global Servos6","rules":[{"t":"set","p":"servos_preset[5]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1790,"y":580,"wires":[[]]},{"id":"956f65ae.e79f18","type":"change","z":"99b87941.680e58","name":"save to Global RobotSpeed","rules":[{"t":"set","p":"robot_speed","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1800,"y":620,"wires":[[]]},{"id":"83081fda.7bd04","type":"function","z":"99b87941.680e58","name":"insert preset","func":"var preset = [];\npreset = global.get(\"servos_preset\");\nvar newMsg = {};\nnewMsg.collection = 'servos_presets';\nnewMsg.payload = [\n  {topic: msg.payload},\n  {\n    \"$set\": {\n      \"payload\": preset\n    }\n  },\n  {upsert:true}\n];\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":815,"y":61.5,"wires":[["7ec105c5.f46f4c"]]},{"id":"920f5ec3.1bde8","type":"function","z":"99b87941.680e58","name":"init global variables","func":"global.set(\"servos_preset\",[500,500,500,500,500,500]); \nmsg.payload = global.get(\"servos_preset\");\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":480,"wires":[["53d009d6.408418","4ee02193.d7672"]]},{"id":"fe8cfc6b.52f1","type":"inject","z":"99b87941.680e58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":590,"y":480,"wires":[["920f5ec3.1bde8"]]},{"id":"53d009d6.408418","type":"debug","z":"99b87941.680e58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1050,"y":480,"wires":[]},{"id":"df0aece9.e8ef6","type":"debug","z":"99b87941.680e58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1050,"y":560,"wires":[]},{"id":"dc7bc354.3cd52","type":"function","z":"99b87941.680e58","name":"check global preset","func":"msg.payload = global.get(\"servos_preset\");\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":560,"wires":[["df0aece9.e8ef6","4ee02193.d7672"]]},{"id":"4f60995f.df4398","type":"inject","z":"99b87941.680e58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":580,"y":560,"wires":[["dc7bc354.3cd52"]]},{"id":"b9ca78f.8b0ad88","type":"ui_slider","z":"99b87941.680e58","name":"Servo1","label":"Servo 1","group":"b29a4984.6aeca8","order":1,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"1000","step":"1","x":1520,"y":380,"wires":[["ed1da979.ea4468"]]},{"id":"a060440a.b91208","type":"function","z":"99b87941.680e58","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":702,"y":179.5,"wires":[["f95b3dba.375a9"]]},{"id":"147db105.8c927f","type":"ui_dropdown","z":"99b87941.680e58","name":"Recall Pulldown","label":"Recall","place":"Select option","group":"1d707854.547168","order":2,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1440,"y":180,"wires":[["42e01b54.fb3a74","525a607.53caaa"]]},{"id":"229c07a0.bf39c8","type":"function","z":"99b87941.680e58","name":"Format Preset Pulldown","func":"flow.set(\"robot_db_preset\", msg.payload);\nvar msg_array = [];\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic != undefined){\n        tmp_object[msg_object.topic] = {\"topic\": msg_object.topic, \"payload\": msg_object.payload};\n        msg_array[i] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":1207,"y":180.5,"wires":[["147db105.8c927f"]]},{"id":"be5ebbd7.b158b8","type":"inject","z":"99b87941.680e58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":553,"y":178,"wires":[["a060440a.b91208"]]},{"id":"b96694bd.fab3c8","type":"ui_text_input","z":"99b87941.680e58","name":"","label":"Edit Preset Name","group":"1d707854.547168","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"","x":1870,"y":180,"wires":[["54e921ac.44037"]]},{"id":"1b916e57.e8d332","type":"ui_button","z":"99b87941.680e58","name":"Save","group":"1d707854.547168","order":5,"width":0,"height":0,"passthru":false,"label":"Save Preset","color":"#FFF","bgcolor":"#FF0000","icon":"","payload":"","payloadType":"date","topic":"","x":495,"y":60,"wires":[["59f0a546.20bb5c"]]},{"id":"54e921ac.44037","type":"function","z":"99b87941.680e58","name":"set global preset name","func":"global.set(\"robot_arm_preset_name\", msg.payload);","outputs":1,"noerr":0,"x":2080,"y":180,"wires":[[]]},{"id":"59f0a546.20bb5c","type":"function","z":"99b87941.680e58","name":"save preset","func":"msg.payload = global.get(\"robot_arm_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":647,"y":60.5,"wires":[["83081fda.7bd04"]]},{"id":"525a607.53caaa","type":"function","z":"99b87941.680e58","name":"get preset name","func":"msg.payload = msg.payload.topic;\nreturn msg;","outputs":1,"noerr":0,"x":1660,"y":180,"wires":[["b96694bd.fab3c8"]]},{"id":"24d66914.03e886","type":"ui_text","z":"99b87941.680e58","group":"1d707854.547168","order":3,"width":0,"height":0,"name":"","label":"SAVE PRESET","format":"{{msg.payload}}","layout":"row-left","x":540,"y":260,"wires":[]},{"id":"9c296d09.82d62","type":"function","z":"99b87941.680e58","name":"delete preset","func":"var newMsg = {};\nnewMsg.operation  = 'deleteOne';\nnewMsg.payload    = {'topic' : msg.payload};\nreturn newMsg;","outputs":1,"noerr":0,"x":816,"y":120.5,"wires":[["2ac4165e.084b3a"]]},{"id":"b10ba62e.c39848","type":"ui_button","z":"99b87941.680e58","name":"Delete","group":"1d707854.547168","order":5,"width":0,"height":0,"passthru":false,"label":"Delete Preset","color":"#FFF","bgcolor":"#FF00FF","icon":"","payload":"","payloadType":"date","topic":"","x":496,"y":119,"wires":[["dcf602ac.4c9a4"]]},{"id":"dcf602ac.4c9a4","type":"function","z":"99b87941.680e58","name":"delete preset","func":"msg.payload = global.get(\"robot_arm_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":648,"y":119.5,"wires":[["9c296d09.82d62"]]},{"id":"2fd73c02.d0b784","type":"function","z":"99b87941.680e58","name":"send servo data","func":"var servos = global.get(\"servos_preset\");\nvar last_servos = global.get(\"last_sent_servos\");\nvar sameness_flag = false;\nvar m = [];\n\nfor(var i=0; i<servos.length; i++) {\n    if(servos[i]!=last_servos[i]){\n        sameness_flag= true;\n    }\n}\n\nif(sameness_flag){\n  \n    var robot_speed = 150;\n\n    var servo_string =   \"1:\" + servos[0] + \":\" + robot_speed + \"&\" +\n                        \"2:\" + servos[1] + \":\" + robot_speed + \"&\" +\n                        \"3:\" + servos[2] + \":\" + robot_speed + \"&\" +\n                        \"4:\" + servos[3] + \":\" + robot_speed + \"&\" +\n                        \"5:\" + servos[4] + \":\" + robot_speed + \"&\" +\n                        \"6:\" + servos[5] + \":\" + robot_speed + \"!\";\n    global.set(\"last_sent_servos\", [...servos]);\n    m[0] = { payload: servo_string };\n    m[1] = { payload: servos};\n    return m;\n}\n\n","outputs":2,"noerr":0,"x":2340,"y":780,"wires":[["d22bb9e9.b548c8","6c3b553a.00586c"],[]]},{"id":"6a16cd4.5646c34","type":"ui_button","z":"99b87941.680e58","name":"RESET SERVO POSITIONS","group":"1d707854.547168","order":0,"width":0,"height":0,"passthru":false,"label":"RESET SERVO POSITIONS","color":"","bgcolor":"","icon":"","payload":"1:500:1000&2:500:1000&3:500:1000&4:500:1000&5:500:1000&6:500:1000!","payloadType":"str","topic":"","x":580,"y":320,"wires":[["f4806fc2.98005"]]},{"id":"f4806fc2.98005","type":"function","z":"99b87941.680e58","name":"load reset","func":"msg.payload = { payload : [500,500,500,500,500,500] };\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":340,"wires":[["42e01b54.fb3a74"]]},{"id":"3db36e44.f65382","type":"inject","z":"99b87941.680e58","name":"","topic":"","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1370,"y":640,"wires":[["946b8c65.9c7cc"]]},{"id":"de5a83b1.1f514","type":"trigger","z":"99b87941.680e58","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-150","extend":false,"units":"ms","reset":"reset","bytopic":"all","name":"","x":1960,"y":820,"wires":[["a9abb569.7c6518","2fd73c02.d0b784"]]},{"id":"7b0102c3.8066fc","type":"inject","z":"99b87941.680e58","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1750,"y":800,"wires":[["de5a83b1.1f514"]]},{"id":"7668685c.778848","type":"ui_numeric","z":"99b87941.680e58","name":"preset recall speed","label":"numeric","group":"b29a4984.6aeca8","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"1000","step":1,"x":1867,"y":720.5,"wires":[[]]},{"id":"9c72aed5.da9b5","type":"function","z":"99b87941.680e58","name":"save last sent servos","func":"global.set(\"last_sent_servos\", [0,0,0,0,0,0]);\nreturn msg;","outputs":1,"noerr":0,"x":2440,"y":620,"wires":[[]]},{"id":"25dbe405.b5062c","type":"inject","z":"99b87941.680e58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":2250,"y":620,"wires":[["9c72aed5.da9b5"]]},{"id":"4ee02193.d7672","type":"function","z":"99b87941.680e58","name":"Reset from global","func":"var preset = [];\nvar m = [];\npreset = global.get(\"servos_preset\");\n\n\nfor (var i=0;i<7;i++)\n{\n    m[i] = { payload: preset[i] };\n}\nreturn m;\n","outputs":6,"noerr":0,"x":1290,"y":560,"wires":[["b9ca78f.8b0ad88"],["133e8cc5.3f12a3"],["d7c35652.e58598"],["a4d03390.8143f"],["f12b1357.b5d7"],["15b5a30e.21d3ed"]]},{"id":"b5763922.24f3b8","type":"inject","z":"99b87941.680e58","name":"RESET SERVO POSITIONS","topic":"","payload":"1:500:1000&2:500:1000&3:500:1000&4:500:1000&5:500:1000&6:500:1000!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":360,"wires":[["f4806fc2.98005"]]},{"id":"6695140c.48d5ac","type":"inject","z":"99b87941.680e58","name":"reset","topic":"","payload":"reset","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1750,"y":840,"wires":[["de5a83b1.1f514"]]},{"id":"ed31fc85.228d3","type":"function","z":"99b87941.680e58","name":"get last sent","func":"msg.payload = global.get(\"last_sent_servos\");\n\nreturn msg;","outputs":1,"noerr":0,"x":2410,"y":300,"wires":[["50951799.b4af48"]]},{"id":"84fabe04.91121","type":"inject","z":"99b87941.680e58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2240,"y":300,"wires":[["ed31fc85.228d3"]]},{"id":"28c5ad20.1bd8d2","type":"function","z":"99b87941.680e58","name":"get current","func":"msg.payload = global.get(\"servos_preset\");\nreturn msg;","outputs":1,"noerr":0,"x":2410,"y":360,"wires":[["50951799.b4af48"]]},{"id":"6a357e0a.00609","type":"inject","z":"99b87941.680e58","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2240,"y":360,"wires":[["28c5ad20.1bd8d2"]]},{"id":"50951799.b4af48","type":"debug","z":"99b87941.680e58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2687,"y":320.5,"wires":[]},{"id":"d22bb9e9.b548c8","type":"debug","z":"99b87941.680e58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2607,"y":920.5,"wires":[]},{"id":"a9abb569.7c6518","type":"function","z":"99b87941.680e58","name":"get last sent","func":"msg.payload = { last_sent_servos: global.get(\"last_sent_servos\"),\n                current_servos: global.get(\"servos_preset\")\n            \n};\n\nreturn msg;","outputs":1,"noerr":0,"x":2190,"y":840,"wires":[[]]},{"id":"f95b3dba.375a9","type":"mongodb2 in","z":"99b87941.680e58","service":"_ext_","configNode":"8f466b3e.ef20b8","name":"Mongo DB dynamic operation","collection":"robot_arm_presets","operation":"","x":936,"y":182.5,"wires":[["229c07a0.bf39c8","61ad6dbe.409634"]]},{"id":"2ac4165e.084b3a","type":"mongodb2 in","z":"99b87941.680e58","service":"_ext_","configNode":"8f466b3e.ef20b8","name":"Store Data into MongoDB","collection":"robot_arm_presets","operation":"","x":1027,"y":121.5,"wires":[["a060440a.b91208"]]},{"id":"951e1ccb.b952","type":"link in","z":"99b87941.680e58","name":"","links":["7948db74.494324"],"x":820,"y":260,"wires":[["956265d.d1ed498"]]},{"id":"6e663401.83985c","type":"debug","z":"99b87941.680e58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":527,"y":840.5,"wires":[]},{"id":"2840df26.2bbb6","type":"function","z":"99b87941.680e58","name":"filter midi messages by type","func":"var m = [];\nvar type = msg.midi.type;\nif (type == \"controlchange\"){\n    m[0] = msg;\n}\nelse if ((type == \"noteon\") || (type == \"noteoff\")) {\n    m[1] = msg;\n}\nelse {\n    m[2] = msg;\n}\nreturn m;","outputs":3,"noerr":0,"x":257,"y":620.5,"wires":[["70905371.12a15c"],["6e663401.83985c","8eae3c29.a8ce2"],[]]},{"id":"8eae3c29.a8ce2","type":"function","z":"99b87941.680e58","name":"save preset with midi keyboard","func":"var m = [];\nvar type = msg.midi.type;\nvar note_num = msg.payload[0];\nif (note_num===93){\n    if (type == \"noteon\"){\n        flow.set(\"preset_record\", true);\n    }\n    else if (type == \"noteoff\") {\n        flow.set(\"preset_record\", false);\n    }\n}\nelse{\n    var preset_record = flow.get(\"preset_record\");\n    if (preset_record){\n        global.set(\"robot_arm_preset_name\", msg.payload[0]);\n        m[0] = { payload: 1};\n    }\n    else {\n         m[1] = { payload: msg.payload[0] };\n         m[2] = { payload: msg.payload[1] };\n    }\n    \n}\nreturn m;","outputs":3,"noerr":0,"x":227,"y":300.5,"wires":[["59f0a546.20bb5c"],["956265d.d1ed498"],[]]},{"id":"ca9c1abc.b12d58","type":"ui_button","z":"99b87941.680e58","name":"Load Presets","group":"1d707854.547168","order":5,"width":0,"height":0,"passthru":false,"label":"Load Presets","color":"white","bgcolor":"purple","icon":"","payload":"","payloadType":"date","topic":"","x":367,"y":180.5,"wires":[["a060440a.b91208"]]},{"id":"956265d.d1ed498","type":"function","z":"99b87941.680e58","name":"trigger pitch preset","func":"var robot_preset = flow.get(\"robot_db_preset\");\nfor(var i = 0;i<robot_preset.length; i++){\n    var temp_preset = robot_preset[i];\n    if (temp_preset.topic==msg.payload){\n        msg.payload = { payload: temp_preset.payload };\n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":987,"y":280.5,"wires":[["42e01b54.fb3a74"]]},{"id":"61ad6dbe.409634","type":"debug","z":"99b87941.680e58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1247,"y":280.5,"wires":[]},{"id":"57dd3406.c9eb1c","type":"link in","z":"99b87941.680e58","name":"Robot MIDI input","links":["36d6c71f.e3e148"],"x":12,"y":620.5,"wires":[["2840df26.2bbb6"]]},{"id":"6c3b553a.00586c","type":"serial out","z":"99b87941.680e58","name":"","serial":"ba4e05b2.19cda8","x":2807,"y":520.5,"wires":[]},{"id":"d30e9496.571448","type":"inject","z":"99b87941.680e58","name":"","topic":"","payload":"7:90:150!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2297,"y":460.5,"wires":[["6c3b553a.00586c","d22bb9e9.b548c8"]]},{"id":"fa314f47.65184","type":"inject","z":"99b87941.680e58","name":"","topic":"","payload":"7:150:150!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2317,"y":540.5,"wires":[["6c3b553a.00586c","d22bb9e9.b548c8"]]},{"id":"2d73660c.39790a","type":"inject","z":"99b87941.680e58","name":"","topic":"","payload":"7:80:150&8:50:150&9:30:150&10:150:150!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2027,"y":440.5,"wires":[["6c3b553a.00586c"]]},{"id":"8f466b3e.ef20b8","type":"mongodb2","z":0,"uri":"mongodb://127.0.0.1:27017/cinebrain","name":"cinebrain db","options":"","parallelism":"-1"},{"id":"b29a4984.6aeca8","type":"ui_group","z":"","name":"SERVO SLIDERS","tab":"ccefefa2.1224a","order":3,"disp":true,"width":"6","collapse":false},{"id":"1d707854.547168","type":"ui_group","z":"","name":"PRESETS","tab":"ccefefa2.1224a","order":2,"disp":true,"width":"6","collapse":false},{"id":"ba4e05b2.19cda8","type":"serial-port","z":"","serialport":"COM5","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false,"responsetimeout":""},{"id":"ccefefa2.1224a","type":"ui_tab","z":"","name":"ROBOT ARM 1","icon":"dashboard","order":3}]