ffprobe example.json
[{"id":"e973badd.293e58","type":"ffprobe","z":"c9dfebcd.885ae8","name":"","prefix":"","x":350,"y":140,"wires":[["ba204db1.2f66d"]]},{"id":"c98f036f.50dea","type":"inject","z":"c9dfebcd.885ae8","name":"amb.mp4","topic":"","payload":"C:\\CasparCG\\server\\media\\amb.mp4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":140,"wires":[["e973badd.293e58"]]},{"id":"ba204db1.2f66d","type":"debug","z":"c9dfebcd.885ae8","name":"JSON object describing media file","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":600,"y":140,"wires":[]}]