Global Presets Start.json
[{"id":"3f91674b.6336b8","type":"ui_button","z":"30144dde.f4cc62","name":"Save Preset 1","group":"e266ff43.6f62c","order":0,"width":0,"height":0,"passthru":false,"label":"Save Preset 1","color":"#FFFFFF","bgcolor":"#FF0000","icon":"fa-circle","payload":"Preset 1","payloadType":"str","topic":"Preset 1","x":298,"y":211,"wires":[["c53ae0e5.48726"]]},{"id":"8ece2d04.ef14","type":"ui_template","z":"30144dde.f4cc62","group":"6a56eea8.69e33","name":"DMX LOG","order":1,"width":"4","height":"12","format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1413,"y":40,"wires":[[]]},{"id":"2fd3b57.5c5824a","type":"ui_button","z":"30144dde.f4cc62","name":"Load Preset 1","group":"abea39b4.f3ff08","order":0,"width":0,"height":0,"passthru":false,"label":"Load Preset 1","color":"#FFF","bgcolor":"#00FF00","icon":"fa-play","payload":"Preset 1","payloadType":"str","topic":"Preset 1","x":112,"y":20,"wires":[["bece63a8.175e7"]]},{"id":"b48fc9e8.be5678","type":"ui_slider","z":"30144dde.f4cc62","name":"DMX2","label":"DMX 2","group":"27bc8433.013eac","order":2,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1086,"y":299,"wires":[["d7495abc.7a08f8"]]},{"id":"90c07887.5b97f8","type":"ui_slider","z":"30144dde.f4cc62","name":"DMX12","label":"DMX 12","group":"27bc8433.013eac","order":12,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1089,"y":665,"wires":[["c95e2b.0c2571d8"]]},{"id":"5a6a16a7.818358","type":"ui_slider","z":"30144dde.f4cc62","name":"DMX11","label":"DMX 11","group":"27bc8433.013eac","order":11,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1090,"y":628,"wires":[["c8588952.8e7998"]]},{"id":"9011282.77f14d8","type":"ui_slider","z":"30144dde.f4cc62","name":"DMX10","label":"DMX 10","group":"27bc8433.013eac","order":10,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1089,"y":592,"wires":[["d72beaef.24f328"]]},{"id":"911b5048.1c1f4","type":"ui_slider","z":"30144dde.f4cc62","name":"DMX9","label":"DMX 9","group":"27bc8433.013eac","order":9,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1081,"y":555,"wires":[["17e1fb6a.38ce25"]]},{"id":"9cffe825.b92b08","type":"ui_slider","z":"30144dde.f4cc62","name":"DMX8","label":"DMX 8","group":"27bc8433.013eac","order":8,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1081,"y":519,"wires":[["b6e7a055.7a685"]]},{"id":"3f580cae.657f04","type":"ui_slider","z":"30144dde.f4cc62","name":"DMX7","label":"DMX 7","group":"27bc8433.013eac","order":7,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1080,"y":482,"wires":[["6e0198ec.a28b38"]]},{"id":"31a615ec.2c447a","type":"ui_slider","z":"30144dde.f4cc62","name":"DMX6","label":"DMX 6","group":"27bc8433.013eac","order":6,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1081,"y":447,"wires":[["d0312e43.aa4ee"]]},{"id":"b99ed5aa.ad0fc8","type":"ui_slider","z":"30144dde.f4cc62","name":"DMX5","label":"DMX 5","group":"27bc8433.013eac","order":5,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1082,"y":410,"wires":[["6b62de9.a69cf2"]]},{"id":"717b2d4c.ac1cf4","type":"ui_slider","z":"30144dde.f4cc62","name":"DMX4","label":"DMX 4","group":"27bc8433.013eac","order":4,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1083,"y":374,"wires":[["11247268.14027e"]]},{"id":"af5583de.4c3b7","type":"ui_slider","z":"30144dde.f4cc62","name":"DMX3","label":"DMX 3","group":"27bc8433.013eac","order":3,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1084,"y":336,"wires":[["1a32bfaa.ff08a"]]},{"id":"cd2998e6.eb8e98","type":"change","z":"30144dde.f4cc62","name":"save to Global DMX1","rules":[{"t":"set","p":"dmx_preset[0]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1288,"y":261,"wires":[[]]},{"id":"d7495abc.7a08f8","type":"change","z":"30144dde.f4cc62","name":"save to Global DMX2","rules":[{"t":"set","p":"dmx_preset[1]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1288,"y":299,"wires":[[]]},{"id":"1a32bfaa.ff08a","type":"change","z":"30144dde.f4cc62","name":"save to Global DMX3","rules":[{"t":"set","p":"dmx_preset[2]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1286,"y":337,"wires":[[]]},{"id":"11247268.14027e","type":"change","z":"30144dde.f4cc62","name":"save to Global DMX4","rules":[{"t":"set","p":"dmx_preset[3]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1286,"y":374,"wires":[[]]},{"id":"6b62de9.a69cf2","type":"change","z":"30144dde.f4cc62","name":"save to Global DMX5","rules":[{"t":"set","p":"dmx_preset[4]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1284,"y":412,"wires":[[]]},{"id":"d0312e43.aa4ee","type":"change","z":"30144dde.f4cc62","name":"save to Global DMX6","rules":[{"t":"set","p":"dmx_preset[5]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1285,"y":450,"wires":[[]]},{"id":"6e0198ec.a28b38","type":"change","z":"30144dde.f4cc62","name":"save to Global DMX7","rules":[{"t":"set","p":"dmx_preset[6]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1283,"y":488,"wires":[[]]},{"id":"b6e7a055.7a685","type":"change","z":"30144dde.f4cc62","name":"save to Global DMX8","rules":[{"t":"set","p":"dmx_preset[7]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1282,"y":524,"wires":[[]]},{"id":"17e1fb6a.38ce25","type":"change","z":"30144dde.f4cc62","name":"save to Global DMX9","rules":[{"t":"set","p":"dmx_preset[8]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1282,"y":561,"wires":[[]]},{"id":"d72beaef.24f328","type":"change","z":"30144dde.f4cc62","name":"save to Global DMX10","rules":[{"t":"set","p":"dmx_preset[9]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":599,"wires":[[]]},{"id":"c8588952.8e7998","type":"change","z":"30144dde.f4cc62","name":"save to Global DMX11","rules":[{"t":"set","p":"dmx_preset[10]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1283,"y":637,"wires":[[]]},{"id":"c95e2b.0c2571d8","type":"change","z":"30144dde.f4cc62","name":"save to Global DMX12","rules":[{"t":"set","p":"dmx_preset[11]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1279,"y":675,"wires":[[]]},{"id":"d4ad6cc9.aac5c","type":"ui_button","z":"30144dde.f4cc62","name":"Save Preset 2","group":"e266ff43.6f62c","order":0,"width":0,"height":0,"passthru":false,"label":"Save Preset 2","color":"#FFFFFF","bgcolor":"#FF0000","icon":"fa-circle","payload":"Preset 2","payloadType":"str","topic":"Preset 2","x":296,"y":247,"wires":[["c53ae0e5.48726"]]},{"id":"aded8634.eb2dd8","type":"ui_button","z":"30144dde.f4cc62","name":"Save Preset 3","group":"e266ff43.6f62c","order":0,"width":0,"height":0,"passthru":false,"label":"Save Preset 3","color":"#FFFFFF","bgcolor":"#FF0000","icon":"fa-circle","payload":"Preset 3","payloadType":"str","topic":"Preset 3","x":298,"y":285,"wires":[["c53ae0e5.48726"]]},{"id":"bece63a8.175e7","type":"function","z":"30144dde.f4cc62","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'topic' : msg.payload};\nreturn newMsg;","outputs":1,"noerr":0,"x":502,"y":41,"wires":[["af48c83a.217038"]]},{"id":"5872de6c.dc0fe","type":"function","z":"30144dde.f4cc62","name":"Just get preset","func":"global.set(\"dmx_preset\", msg.payload.payload);\n\nvar preset = [];\nvar m = [];\npreset = global.get(\"dmx_preset\");\n\n\nfor (var i=0;i<12;i++)\n{\n    m[i] = { payload: preset[i] };\n}\nreturn m;\n","outputs":12,"noerr":0,"x":844,"y":339,"wires":[["382d8125.fb762e"],["b48fc9e8.be5678"],["af5583de.4c3b7"],["717b2d4c.ac1cf4"],["b99ed5aa.ad0fc8"],["31a615ec.2c447a"],["3f580cae.657f04"],["9cffe825.b92b08"],["911b5048.1c1f4"],["9011282.77f14d8"],["5a6a16a7.818358"],["90c07887.5b97f8"]]},{"id":"af48c83a.217038","type":"mongodb2 in","z":"30144dde.f4cc62","service":"_ext_","configNode":"14e60731.4844a9","name":"Mongo DB dynamic operation","collection":"dmx_presets","operation":"","x":729,"y":40,"wires":[["5872de6c.dc0fe","a5be4129.651a6"]]},{"id":"c53ae0e5.48726","type":"function","z":"30144dde.f4cc62","name":"insert preset","func":"var preset = [];\npreset = global.get(\"dmx_preset\");\nvar newMsg = {};\nnewMsg.collection = 'dmx_presets';\nnewMsg.payload = [\n  {topic: msg.payload},\n  {\n    \"$set\": {\n      \"payload\": preset\n    }\n  },\n  {upsert:true}\n];\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":491,"y":271,"wires":[["137235f6.851ada","e577783.2b15988"]]},{"id":"137235f6.851ada","type":"mongodb2 in","z":"30144dde.f4cc62","service":"_ext_","configNode":"14e60731.4844a9","name":"Store Data into MongoDB","collection":"dmx_presets","operation":"findOneAndUpdate","x":712,"y":220,"wires":[["a5be4129.651a6"]]},{"id":"e577783.2b15988","type":"debug","z":"30144dde.f4cc62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":631,"y":326.5,"wires":[]},{"id":"caecd456.0488d8","type":"function","z":"30144dde.f4cc62","name":"init global variables","func":"global.set(\"dmx_preset\",[0,0,0,0,0,0,0,0,0,0,0,0]); \nmsg.payload = global.get(\"dmx_preset\");\nreturn msg;","outputs":1,"noerr":0,"x":403,"y":447,"wires":[["e1dc33bd.5872a","f75d072f.6957c8"]]},{"id":"7efd1f83.ca727","type":"inject","z":"30144dde.f4cc62","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":208,"y":447.5,"wires":[["caecd456.0488d8"]]},{"id":"e1dc33bd.5872a","type":"debug","z":"30144dde.f4cc62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":447,"wires":[]},{"id":"f20e53a.bd12cb","type":"debug","z":"30144dde.f4cc62","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":609,"y":529,"wires":[]},{"id":"95b6610e.220f5","type":"function","z":"30144dde.f4cc62","name":"check global preset","func":"msg.payload = global.get(\"dmx_preset\");\nreturn msg;","outputs":1,"noerr":0,"x":402,"y":530,"wires":[["f20e53a.bd12cb","f75d072f.6957c8"]]},{"id":"dfd52307.b6efc","type":"inject","z":"30144dde.f4cc62","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":201,"y":524.5,"wires":[["95b6610e.220f5"]]},{"id":"f75d072f.6957c8","type":"function","z":"30144dde.f4cc62","name":"Reset from global","func":"var preset = [];\nvar m = [];\npreset = global.get(\"dmx_preset\");\n\n\nfor (var i=0;i<12;i++)\n{\n    m[i] = { payload: preset[i] };\n}\nreturn m;\n","outputs":12,"noerr":0,"x":851.5,"y":539,"wires":[["382d8125.fb762e"],["b48fc9e8.be5678"],["af5583de.4c3b7"],["717b2d4c.ac1cf4"],["b99ed5aa.ad0fc8"],["31a615ec.2c447a"],["3f580cae.657f04"],["9cffe825.b92b08"],["911b5048.1c1f4"],["9011282.77f14d8"],["5a6a16a7.818358"],["90c07887.5b97f8"]]},{"id":"a5be4129.651a6","type":"function","z":"30144dde.f4cc62","name":"DASHBOARD FORMATTING","func":"var dashboardLog = context.get('dashboardLog')|| [];\n\ndashboardLog.push(msg);\nif (dashboardLog.length > 20){\n    // Supprime le plus anciens message si > 20\n    // Delete oldest message if > 20\n    dashboardLog.shift();\n    dashboardLog.length = 20;\n} \n\n// Enregistre les messages du dashboard pour le prochain affichage\n// store the value back\ncontext.set('dashboardLog',dashboardLog);\n\n// Affiche le journal des messages\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = dashboardLog;\nreturn msg;\n","outputs":1,"noerr":0,"x":1110,"y":42,"wires":[["8ece2d04.ef14"]]},{"id":"7a08fc31.4523d4","type":"ui_button","z":"30144dde.f4cc62","name":"Save Preset 4","group":"e266ff43.6f62c","order":0,"width":0,"height":0,"passthru":false,"label":"Save Preset 4","color":"#FFFFFF","bgcolor":"#FF0000","icon":"fa-circle","payload":"Preset 4","payloadType":"str","topic":"Preset 4","x":298,"y":321,"wires":[["c53ae0e5.48726"]]},{"id":"1bc5d49c.88e01b","type":"ui_button","z":"30144dde.f4cc62","name":"Save Preset 5","group":"e266ff43.6f62c","order":0,"width":0,"height":0,"passthru":false,"label":"Save Preset 5","color":"#FFFFFF","bgcolor":"#FF0000","icon":"fa-circle","payload":"Preset 5","payloadType":"str","topic":"Preset 5","x":296,"y":357,"wires":[["c53ae0e5.48726"]]},{"id":"b6feeddf.d50d5","type":"ui_button","z":"30144dde.f4cc62","name":"Save Preset 6","group":"e266ff43.6f62c","order":0,"width":0,"height":0,"passthru":false,"label":"Save Preset 6","color":"#FFFFFF","bgcolor":"#FF0000","icon":"fa-circle","payload":"Preset 6","payloadType":"str","topic":"Preset 6","x":298,"y":395,"wires":[["c53ae0e5.48726"]]},{"id":"8f23cd22.cb8c5","type":"ui_button","z":"30144dde.f4cc62","name":"Load Preset 2","group":"abea39b4.f3ff08","order":0,"width":0,"height":0,"passthru":false,"label":"Load Preset 2","color":"#FFF","bgcolor":"#00FF00","icon":"fa-play","payload":"Preset 2","payloadType":"str","topic":"Preset 2","x":112,"y":58,"wires":[["bece63a8.175e7"]]},{"id":"6a936c90.420f74","type":"ui_button","z":"30144dde.f4cc62","name":"Load Preset 3","group":"abea39b4.f3ff08","order":0,"width":0,"height":0,"passthru":false,"label":"Load Preset 3","color":"#FFF","bgcolor":"#00FF00","icon":"fa-play","payload":"Preset 3","payloadType":"str","topic":"Preset 3","x":113,"y":94,"wires":[["bece63a8.175e7"]]},{"id":"d52ee43f.e56058","type":"ui_button","z":"30144dde.f4cc62","name":"Load Preset 4","group":"abea39b4.f3ff08","order":0,"width":0,"height":0,"passthru":false,"label":"Load Preset 4","color":"#FFF","bgcolor":"#00FF00","icon":"fa-play","payload":"Preset 4","payloadType":"str","topic":"Preset 4","x":110,"y":135,"wires":[["bece63a8.175e7"]]},{"id":"a7ca43e6.5281f","type":"ui_button","z":"30144dde.f4cc62","name":"Load Preset 5","group":"abea39b4.f3ff08","order":0,"width":0,"height":0,"passthru":false,"label":"Load Preset 5","color":"#FFF","bgcolor":"#00FF00","icon":"fa-play","payload":"Preset 5","payloadType":"str","topic":"Preset 5","x":109,"y":173,"wires":[["bece63a8.175e7"]]},{"id":"bbb8c8d2.89e838","type":"ui_button","z":"30144dde.f4cc62","name":"Load Preset 6","group":"abea39b4.f3ff08","order":0,"width":0,"height":0,"passthru":false,"label":"Load Preset 6","color":"#FFF","bgcolor":"#00FF00","icon":"fa-play","payload":"Preset 6","payloadType":"str","topic":"Preset 6","x":107,"y":214,"wires":[["bece63a8.175e7"]]},{"id":"382d8125.fb762e","type":"ui_slider","z":"30144dde.f4cc62","name":"DMX1","label":"DMX 1","group":"27bc8433.013eac","order":1,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1086,"y":261,"wires":[["cd2998e6.eb8e98"]]},{"id":"e266ff43.6f62c","type":"ui_group","z":"","name":"RECORD PRESETS","tab":"2e3d2b87.848a34","order":2,"disp":true,"width":"6","collapse":true},{"id":"6a56eea8.69e33","type":"ui_group","z":"30144dde.f4cc62","name":"DMX LOG","tab":"2e3d2b87.848a34","order":4,"disp":true,"width":"4","collapse":true},{"id":"abea39b4.f3ff08","type":"ui_group","z":"","name":"RECALL PRESETS","tab":"2e3d2b87.848a34","order":1,"disp":true,"width":"6","collapse":true},{"id":"27bc8433.013eac","type":"ui_group","z":"","name":"DMX SLIDERS","tab":"2e3d2b87.848a34","order":3,"disp":true,"width":"8","collapse":true},{"id":"14e60731.4844a9","type":"mongodb2","z":"","uri":"mongodb://127.0.0.1:27017/cinebrain","name":"cinebrain db","options":"","parallelism":"-1"},{"id":"2e3d2b87.848a34","type":"ui_tab","z":"","name":"KCAT DMX DASHBOARD","icon":"home","order":2}]