KCAT-DMX-PRESETS.json
[{"id":"b1c2c70f.fb8368","type":"ui_button","z":"3aff4390.f5ad3c","name":"Save Community Storytelling Preset","group":"152bf161.fcdfbf","order":0,"width":0,"height":0,"passthru":false,"label":"Save Community Storytelling Preset","color":"#FFFFFF","bgcolor":"#FF0000","icon":"fa-circle","payload":"Community Storytelling","payloadType":"str","topic":"Community Storytelling","x":173,"y":189,"wires":[["1bbdc630.5a9d9a"]]},{"id":"2c950ffa.b418b","type":"ui_template","z":"3aff4390.f5ad3c","group":"dcb2d657.33f7e8","name":"DMX LOG","order":1,"width":"4","height":"12","format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1334,"y":51,"wires":[[]]},{"id":"a488c5f9.775f98","type":"ui_button","z":"3aff4390.f5ad3c","name":"Load Community Storytelling Preset","group":"dded5644.9627c8","order":0,"width":0,"height":0,"passthru":false,"label":"Load Community Storytelling Preset","color":"#FFF","bgcolor":"#00FF00","icon":"fa-play","payload":"Community Storytelling","payloadType":"str","topic":"Community Storytelling","x":155,"y":31,"wires":[["af2a95d6.558788"]]},{"id":"abc1e196.7d9cb","type":"ui_button","z":"3aff4390.f5ad3c","name":"Load Talk of the Town Preset","group":"dded5644.9627c8","order":0,"width":0,"height":0,"passthru":false,"label":"Load Talk of the Town Preset","color":"#FFF","bgcolor":"#00FF00","icon":"fa-play","payload":"Talk of the Town","payloadType":"str","topic":"Talk of the Town","x":138,"y":78,"wires":[["af2a95d6.558788"]]},{"id":"9d8a8d46.7625a","type":"ui_button","z":"3aff4390.f5ad3c","name":"Load Jazz Tonight Preset","group":"dded5644.9627c8","order":0,"width":0,"height":0,"passthru":false,"label":"Load Jazz Tonight Preset","color":"#FFF","bgcolor":"#00FF00","icon":"fa-play","payload":"Jazz Tonight","payloadType":"str","topic":"Jazz Tonight","x":130,"y":115,"wires":[["af2a95d6.558788"]]},{"id":"a810a3ef.25cfa","type":"ui_slider","z":"3aff4390.f5ad3c","name":"DMX2","label":"DMX 2","group":"d09c701e.37b23","order":2,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1007,"y":310,"wires":[["2689768f.901a1a"]]},{"id":"ebc523a.95425e","type":"ui_switch","z":"3aff4390.f5ad3c","name":"DMX1","label":"DMX 1: Cameras On/Off","group":"d09c701e.37b23","order":1,"width":"6","height":"1","passthru":true,"decouple":"false","topic":"DMX 1","style":"","onvalue":"255","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":1006,"y":272,"wires":[["bfa41ffc.34aea"]]},{"id":"98cb855b.6a8ec8","type":"ui_slider","z":"3aff4390.f5ad3c","name":"DMX12","label":"DMX 12","group":"d09c701e.37b23","order":12,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1010,"y":676,"wires":[["636bb423.e1975c"]]},{"id":"42040dac.642554","type":"ui_slider","z":"3aff4390.f5ad3c","name":"DMX11","label":"DMX 11","group":"d09c701e.37b23","order":11,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1011,"y":639,"wires":[["c5e426af.c73948"]]},{"id":"7df23014.2fdb8","type":"ui_slider","z":"3aff4390.f5ad3c","name":"DMX10","label":"DMX 10","group":"d09c701e.37b23","order":10,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1010,"y":603,"wires":[["b567f2a4.9ef12"]]},{"id":"6dbba650.a0e2f8","type":"ui_slider","z":"3aff4390.f5ad3c","name":"DMX9","label":"DMX 9","group":"d09c701e.37b23","order":9,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1002,"y":566,"wires":[["85757c80.4bc7d"]]},{"id":"888f087.eff1ff8","type":"ui_slider","z":"3aff4390.f5ad3c","name":"DMX8","label":"DMX 8","group":"d09c701e.37b23","order":8,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1002,"y":530,"wires":[["99ed424b.23001"]]},{"id":"63165c87.bd0294","type":"ui_slider","z":"3aff4390.f5ad3c","name":"DMX7","label":"DMX 7","group":"d09c701e.37b23","order":7,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1001,"y":493,"wires":[["4775b5d3.b7d95c"]]},{"id":"9992f332.3c7c4","type":"ui_slider","z":"3aff4390.f5ad3c","name":"DMX6","label":"DMX 6","group":"d09c701e.37b23","order":6,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1002,"y":458,"wires":[["5fd26be0.2151a4"]]},{"id":"fa9b45be.3e8218","type":"ui_slider","z":"3aff4390.f5ad3c","name":"DMX5","label":"DMX 5","group":"d09c701e.37b23","order":5,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1003,"y":421,"wires":[["70d5c90c.8bc068"]]},{"id":"b8379385.193aa","type":"ui_slider","z":"3aff4390.f5ad3c","name":"DMX4","label":"DMX 4","group":"d09c701e.37b23","order":4,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1004,"y":385,"wires":[["3c1093af.6a2c6c"]]},{"id":"a961d9d5.79f828","type":"ui_slider","z":"3aff4390.f5ad3c","name":"DMX3","label":"DMX 3","group":"d09c701e.37b23","order":3,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"255","step":1,"x":1005,"y":347,"wires":[["4843f580.edeeac"]]},{"id":"bfa41ffc.34aea","type":"change","z":"3aff4390.f5ad3c","name":"save to Global DMX1","rules":[{"t":"set","p":"dmx_preset[0]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1213,"y":268,"wires":[[]]},{"id":"2689768f.901a1a","type":"change","z":"3aff4390.f5ad3c","name":"save to Global DMX2","rules":[{"t":"set","p":"dmx_preset[1]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1209,"y":310,"wires":[[]]},{"id":"4843f580.edeeac","type":"change","z":"3aff4390.f5ad3c","name":"save to Global DMX3","rules":[{"t":"set","p":"dmx_preset[2]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1207,"y":348,"wires":[[]]},{"id":"3c1093af.6a2c6c","type":"change","z":"3aff4390.f5ad3c","name":"save to Global DMX4","rules":[{"t":"set","p":"dmx_preset[3]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1207,"y":385,"wires":[[]]},{"id":"70d5c90c.8bc068","type":"change","z":"3aff4390.f5ad3c","name":"save to Global DMX5","rules":[{"t":"set","p":"dmx_preset[4]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1205,"y":423,"wires":[[]]},{"id":"5fd26be0.2151a4","type":"change","z":"3aff4390.f5ad3c","name":"save to Global DMX6","rules":[{"t":"set","p":"dmx_preset[5]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1206,"y":461,"wires":[[]]},{"id":"4775b5d3.b7d95c","type":"change","z":"3aff4390.f5ad3c","name":"save to Global DMX7","rules":[{"t":"set","p":"dmx_preset[6]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1204,"y":499,"wires":[[]]},{"id":"99ed424b.23001","type":"change","z":"3aff4390.f5ad3c","name":"save to Global DMX8","rules":[{"t":"set","p":"dmx_preset[7]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1203,"y":535,"wires":[[]]},{"id":"85757c80.4bc7d","type":"change","z":"3aff4390.f5ad3c","name":"save to Global DMX9","rules":[{"t":"set","p":"dmx_preset[8]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1203,"y":572,"wires":[[]]},{"id":"b567f2a4.9ef12","type":"change","z":"3aff4390.f5ad3c","name":"save to Global DMX10","rules":[{"t":"set","p":"dmx_preset[9]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1201,"y":610,"wires":[[]]},{"id":"c5e426af.c73948","type":"change","z":"3aff4390.f5ad3c","name":"save to Global DMX11","rules":[{"t":"set","p":"dmx_preset[10]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1204,"y":648,"wires":[[]]},{"id":"636bb423.e1975c","type":"change","z":"3aff4390.f5ad3c","name":"save to Global DMX12","rules":[{"t":"set","p":"dmx_preset[11]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":686,"wires":[[]]},{"id":"3c7fe5d7.1b9b5a","type":"ui_button","z":"3aff4390.f5ad3c","name":"Save Talk of the Town Preset","group":"152bf161.fcdfbf","order":0,"width":0,"height":0,"passthru":false,"label":"Save Talk of the Town Preset","color":"#FFFFFF","bgcolor":"#FF0000","icon":"fa-circle","payload":"Talk of the Town","payloadType":"str","topic":"Talk of the Town","x":139,"y":233,"wires":[["1bbdc630.5a9d9a"]]},{"id":"a601ead6.1786d8","type":"ui_button","z":"3aff4390.f5ad3c","name":"Save Jazz Tonight Preset","group":"152bf161.fcdfbf","order":0,"width":0,"height":0,"passthru":false,"label":"Save Jazz Tonight Preset","color":"#FFFFFF","bgcolor":"#FF0000","icon":"fa-circle","payload":"Jazz Tonight","payloadType":"str","topic":"Jazz Tonight","x":131,"y":271,"wires":[["1bbdc630.5a9d9a"]]},{"id":"af2a95d6.558788","type":"function","z":"3aff4390.f5ad3c","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = { 'topic' : msg.payload};\nreturn newMsg;","outputs":1,"noerr":0,"x":423,"y":52,"wires":[["b0855d54.59b58"]]},{"id":"bc06e9a7.2d29a8","type":"function","z":"3aff4390.f5ad3c","name":"Just get preset","func":"global.set(\"dmx_preset\", msg.payload.payload);\n\nvar preset = [];\nvar m = [];\npreset = global.get(\"dmx_preset\");\n\n\nfor (var i=0;i<12;i++)\n{\n    m[i] = { payload: preset[i] };\n}\nreturn m;\n","outputs":12,"noerr":0,"x":765,"y":350,"wires":[["ebc523a.95425e"],["a810a3ef.25cfa"],["a961d9d5.79f828"],["b8379385.193aa"],["fa9b45be.3e8218"],["9992f332.3c7c4"],["63165c87.bd0294"],["888f087.eff1ff8"],["6dbba650.a0e2f8"],["7df23014.2fdb8"],["42040dac.642554"],["98cb855b.6a8ec8"]]},{"id":"b0855d54.59b58","type":"mongodb2 in","z":"3aff4390.f5ad3c","service":"_ext_","configNode":"639ca02d.65369","name":"Mongo DB dynamic operation","collection":"dmx_presets","operation":"","x":650,"y":51,"wires":[["bc06e9a7.2d29a8","6f5cdd16.953fa4"]]},{"id":"1bbdc630.5a9d9a","type":"function","z":"3aff4390.f5ad3c","name":"insert preset","func":"var preset = [];\npreset = global.get(\"dmx_preset\");\nvar newMsg = {};\nnewMsg.collection = 'dmx_presets';\nnewMsg.payload = [\n  {topic: msg.payload},\n  {\n    \"$set\": {\n      \"payload\": preset\n    }\n  },\n  {upsert:true}\n];\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":414,"y":232,"wires":[["8c316447.7c2ba8","2601fb35.080ae4"]]},{"id":"8c316447.7c2ba8","type":"mongodb2 in","z":"3aff4390.f5ad3c","service":"_ext_","configNode":"639ca02d.65369","name":"Store Data into MongoDB","collection":"dmx_presets","operation":"findOneAndUpdate","x":633,"y":231,"wires":[["6f5cdd16.953fa4"]]},{"id":"2601fb35.080ae4","type":"debug","z":"3aff4390.f5ad3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":552,"y":337.5,"wires":[]},{"id":"e3a15e7a.11741","type":"function","z":"3aff4390.f5ad3c","name":"init global variables","func":"global.set(\"dmx_preset\",[0,0,0,0,0,0,0,0,0,0,0,0]); \nmsg.payload = global.get(\"dmx_preset\");\nreturn msg;","outputs":1,"noerr":0,"x":345,"y":459,"wires":[["aece0b0d.12a8a8","d49a425a.1039b"]]},{"id":"749624b6.2507ec","type":"inject","z":"3aff4390.f5ad3c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":463.5,"wires":[["e3a15e7a.11741"]]},{"id":"aece0b0d.12a8a8","type":"debug","z":"3aff4390.f5ad3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":531,"y":458,"wires":[]},{"id":"e928f4eb.cdcc58","type":"debug","z":"3aff4390.f5ad3c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":540,"wires":[]},{"id":"a698d2c5.da126","type":"function","z":"3aff4390.f5ad3c","name":"check global preset","func":"msg.payload = global.get(\"dmx_preset\");\nreturn msg;","outputs":1,"noerr":0,"x":323,"y":541,"wires":[["e928f4eb.cdcc58","d49a425a.1039b"]]},{"id":"a36577a9.94da98","type":"inject","z":"3aff4390.f5ad3c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":108,"y":545.5,"wires":[["a698d2c5.da126"]]},{"id":"d49a425a.1039b","type":"function","z":"3aff4390.f5ad3c","name":"Reset from global","func":"var preset = [];\nvar m = [];\npreset = global.get(\"dmx_preset\");\n\n\nfor (var i=0;i<12;i++)\n{\n    m[i] = { payload: preset[i] };\n}\nreturn m;\n","outputs":12,"noerr":0,"x":772.5,"y":550,"wires":[["ebc523a.95425e"],["a810a3ef.25cfa"],["a961d9d5.79f828"],["b8379385.193aa"],["fa9b45be.3e8218"],["9992f332.3c7c4"],["63165c87.bd0294"],["888f087.eff1ff8"],["6dbba650.a0e2f8"],["7df23014.2fdb8"],["42040dac.642554"],["98cb855b.6a8ec8"]]},{"id":"6f5cdd16.953fa4","type":"function","z":"3aff4390.f5ad3c","name":"DASHBOARD FORMATTING","func":"var dashboardLog = context.get('dashboardLog')|| [];\n\ndashboardLog.push(msg);\nif (dashboardLog.length > 20){\n    // Supprime le plus anciens message si > 20\n    // Delete oldest message if > 20\n    dashboardLog.shift();\n    dashboardLog.length = 20;\n} \n\n// Enregistre les messages du dashboard pour le prochain affichage\n// store the value back\ncontext.set('dashboardLog',dashboardLog);\n\n// Affiche le journal des messages\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = dashboardLog;\nreturn msg;\n","outputs":1,"noerr":0,"x":1031,"y":53,"wires":[["2c950ffa.b418b"]]},{"id":"152bf161.fcdfbf","type":"ui_group","z":"","name":"RECORD PRESETS","tab":"28225e2c.493c32","order":2,"disp":true,"width":"6","collapse":true},{"id":"dcb2d657.33f7e8","type":"ui_group","z":"3aff4390.f5ad3c","name":"DMX LOG","tab":"28225e2c.493c32","order":4,"disp":true,"width":"4","collapse":true},{"id":"dded5644.9627c8","type":"ui_group","z":"","name":"RECALL PRESETS","tab":"28225e2c.493c32","order":1,"disp":true,"width":"6","collapse":true},{"id":"d09c701e.37b23","type":"ui_group","z":"","name":"DMX SLIDERS","tab":"28225e2c.493c32","order":3,"disp":true,"width":"8","collapse":true},{"id":"639ca02d.65369","type":"mongodb2","z":"","uri":"mongodb://127.0.0.1:27017/cinebrain","name":"cinebrain db","options":"","parallelism":"-1"},{"id":"28225e2c.493c32","type":"ui_tab","z":"","name":"KCAT DMX DASHBOARD","icon":"home","order":2}]