Master_Presets_v1.json
[{"id":"12b8a4ce.f2149b","type":"function","z":"44b52a0d.4f3804","name":"insert preset","func":"var preset = [];\npreset = global.get(\"master_preset\");\nvar newMsg = {};\nnewMsg.collection = 'master_presets';\nnewMsg.payload = [\n  {topic: msg.payload},\n  {\n    \"$set\": {\n      \"payload\": preset\n    }\n  },\n  {upsert:true}\n];\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":375,"y":81.5,"wires":[["a2b17e0f.7b60d"]]},{"id":"ac45731e.5839f","type":"function","z":"44b52a0d.4f3804","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":262,"y":199.5,"wires":[["5dffa273.34169c"]]},{"id":"f4c15c3.e8da5a","type":"ui_dropdown","z":"44b52a0d.4f3804","name":"Recall Pulldown","label":"Recall","place":"Select option","group":"8a52e703.6595b8","order":2,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1020,"y":200,"wires":[["1881517a.126aef"]]},{"id":"5a0e845b.1ab97c","type":"function","z":"44b52a0d.4f3804","name":"Format Preset Pulldown","func":"var msg_array = [];\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic != undefined){\n        tmp_object[msg_object.topic] = {\"topic\": msg_object.topic, \"payload\": msg_object.payload};\n        msg_array[i] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":778,"y":202,"wires":[["f4c15c3.e8da5a"]]},{"id":"9232668e.d623c8","type":"inject","z":"44b52a0d.4f3804","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":113,"y":198,"wires":[["ac45731e.5839f"]]},{"id":"1c883c33.4cc5c4","type":"ui_text_input","z":"44b52a0d.4f3804","name":"","label":"Edit Master Preset Name","group":"8a52e703.6595b8","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"","x":1450,"y":200,"wires":[["21d9a4bd.29792c"]]},{"id":"bd44ff2e.22c9b","type":"ui_button","z":"44b52a0d.4f3804","name":"Save","group":"8a52e703.6595b8","order":5,"width":0,"height":0,"passthru":false,"label":"Save Master Preset","color":"#FFF","bgcolor":"#FF0000","icon":"","payload":"","payloadType":"date","topic":"","x":55,"y":80,"wires":[["76dc8ab7.98f684"]]},{"id":"21d9a4bd.29792c","type":"function","z":"44b52a0d.4f3804","name":"set global preset name","func":"global.set(\"master_preset_name\", msg.payload);","outputs":1,"noerr":0,"x":1640,"y":200,"wires":[[]]},{"id":"76dc8ab7.98f684","type":"function","z":"44b52a0d.4f3804","name":"save preset","func":"msg.payload = global.get(\"master_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":207,"y":80.5,"wires":[["12b8a4ce.f2149b"]]},{"id":"1881517a.126aef","type":"function","z":"44b52a0d.4f3804","name":"get preset name","func":"msg.payload = msg.payload.topic;\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":200,"wires":[["1c883c33.4cc5c4"]]},{"id":"dab1a16d.c7682","type":"ui_text","z":"44b52a0d.4f3804","group":"8a52e703.6595b8","order":3,"width":0,"height":0,"name":"","label":"SAVE MASTER PRESET","format":"{{msg.payload}}","layout":"row-left","x":130,"y":300,"wires":[]},{"id":"47e0bf00.01a9","type":"ui_text","z":"44b52a0d.4f3804","group":"8a52e703.6595b8","order":1,"width":0,"height":0,"name":"","label":"RECALL MASTER PRESET","format":"{{msg.payload}}","layout":"row-left","x":140,"y":260,"wires":[]},{"id":"34883490.ba9ffc","type":"function","z":"44b52a0d.4f3804","name":"delete preset","func":"var newMsg = {};\nnewMsg.operation  = 'deleteOne';\nnewMsg.payload    = {'topic' : msg.payload};\nreturn newMsg;","outputs":1,"noerr":0,"x":376,"y":140.5,"wires":[["80b2996a.b9b008"]]},{"id":"553046f3.19ef78","type":"ui_button","z":"44b52a0d.4f3804","name":"Delete","group":"8a52e703.6595b8","order":5,"width":0,"height":0,"passthru":false,"label":"Delete Master Preset","color":"#FFF","bgcolor":"#FF00FF","icon":"","payload":"","payloadType":"date","topic":"","x":56,"y":139,"wires":[["fa22de5.104a72"]]},{"id":"fa22de5.104a72","type":"function","z":"44b52a0d.4f3804","name":"delete preset","func":"msg.payload = global.get(\"master_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":208,"y":139.5,"wires":[["34883490.ba9ffc"]]},{"id":"a2b17e0f.7b60d","type":"mongodb2 in","z":"44b52a0d.4f3804","service":"_ext_","configNode":"8f466b3e.ef20b8","name":"Store Data into MongoDB","collection":"master_presets","operation":"findOneAndUpdate","x":586,"y":82.5,"wires":[["ac45731e.5839f"]]},{"id":"5dffa273.34169c","type":"mongodb2 in","z":"44b52a0d.4f3804","service":"_ext_","configNode":"8f466b3e.ef20b8","name":"Mongo DB dynamic operation","collection":"master_presets","operation":"","x":496,"y":202.5,"wires":[["5a0e845b.1ab97c"]]},{"id":"80b2996a.b9b008","type":"mongodb2 in","z":"44b52a0d.4f3804","service":"_ext_","configNode":"8f466b3e.ef20b8","name":"Store Data into MongoDB","collection":"master_presets","operation":"","x":587,"y":141.5,"wires":[["ac45731e.5839f"]]},{"id":"f27229c.77045d8","type":"function","z":"44b52a0d.4f3804","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":320,"y":420,"wires":[["c93a7c49.e7b2c"]]},{"id":"f7834333.35f37","type":"ui_dropdown","z":"44b52a0d.4f3804","name":"Recall Pulldown","label":"Robot Arm 1","place":"Select option","group":"4f7a655c.a30e5c","order":2,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1000,"y":420,"wires":[[]]},{"id":"d2bfb04a.b5c76","type":"function","z":"44b52a0d.4f3804","name":"Format Preset Pulldown","func":"var msg_array = [];\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic != undefined){\n        tmp_object[msg_object.topic] = {\"topic\": msg_object.topic, \"payload\": msg_object.payload};\n        msg_array[i] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":420,"wires":[["f7834333.35f37"]]},{"id":"b8776cc2.00672","type":"inject","z":"44b52a0d.4f3804","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":171,"y":418.5,"wires":[["f27229c.77045d8"]]},{"id":"c93a7c49.e7b2c","type":"mongodb2 in","z":"44b52a0d.4f3804","service":"_ext_","configNode":"8f466b3e.ef20b8","name":"Mongo DB dynamic operation","collection":"robot_arm_presets","operation":"","x":530,"y":420,"wires":[["d2bfb04a.b5c76"]]},{"id":"c3e44619.21ef58","type":"ui_dropdown","z":"44b52a0d.4f3804","name":"Recall Pulldown","label":"Chauvet 255","place":"Select option","group":"4f7a655c.a30e5c","order":2,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1020,"y":500,"wires":[[]]},{"id":"ca6cbfb1.14c4c","type":"function","z":"44b52a0d.4f3804","name":"Format Preset Pulldown","func":"//var preset_array = msg.payload;\nvar msg_array = [];\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic != undefined){\n        tmp_object[msg_object.topic] = {\"topic\": msg_object.topic, \"payload\": msg_object.payload};\n        msg_array[i] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":500,"wires":[["c3e44619.21ef58"]]},{"id":"ac0587eb.c99458","type":"mongodb2 in","z":"44b52a0d.4f3804","service":"_ext_","configNode":"e8414499.885228","name":"Mongo DB dynamic operation","collection":"chauvet_255_presets","operation":"","x":530,"y":500,"wires":[["ca6cbfb1.14c4c"]]},{"id":"5dda5852.517918","type":"function","z":"44b52a0d.4f3804","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":296,"y":497,"wires":[["ac0587eb.c99458"]]},{"id":"612b7a20.3d5004","type":"inject","z":"44b52a0d.4f3804","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":147,"y":495.5,"wires":[["5dda5852.517918"]]},{"id":"27827e73.1874f2","type":"mongodb2 in","z":"44b52a0d.4f3804","service":"_ext_","configNode":"e8414499.885228","name":"Mongo DB dynamic operation","collection":"adj_pinspot_presets","operation":"","x":550,"y":580,"wires":[["5844f019.d906b"]]},{"id":"ee5d332f.16b3f","type":"function","z":"44b52a0d.4f3804","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":316,"y":577,"wires":[["27827e73.1874f2"]]},{"id":"e8fafbcd.f33c18","type":"inject","z":"44b52a0d.4f3804","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":141,"y":578,"wires":[["ee5d332f.16b3f"]]},{"id":"2b320be5.248494","type":"ui_dropdown","z":"44b52a0d.4f3804","name":"Recall Pulldown","label":"ADJ Pinspot","place":"Select option","group":"4f7a655c.a30e5c","order":2,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1040,"y":580,"wires":[[]]},{"id":"5844f019.d906b","type":"function","z":"44b52a0d.4f3804","name":"Format Preset Pulldown","func":"//var preset_array = msg.payload;\nvar msg_array = [];\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic != undefined){\n        tmp_object[msg_object.topic] = {\"topic\": msg_object.topic, \"payload\": msg_object.payload};\n        msg_array[i] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":580,"wires":[["2b320be5.248494"]]},{"id":"442e3d16.81d7d4","type":"ui_dropdown","z":"44b52a0d.4f3804","name":"PTZ 1 Recall Pulldown","label":"PTZ 1","place":"Select option","group":"4f7a655c.a30e5c","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"Preset 1","value":0,"type":"num"},{"label":"Preset 2","value":1,"type":"num"},{"label":"Preset 3","value":2,"type":"num"},{"label":"Preset 4","value":3,"type":"num"},{"label":"Preset 5","value":4,"type":"num"},{"label":"Preset 6","value":5,"type":"num"}],"payload":"","topic":"","x":1060,"y":640,"wires":[[]]},{"id":"dfad0e3d.37ef8","type":"ui_dropdown","z":"44b52a0d.4f3804","name":"PTZ 2 Recall Pulldown","label":"PTZ 2","place":"Select option","group":"4f7a655c.a30e5c","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"Preset 1","value":0,"type":"num"},{"label":"Preset 2","value":1,"type":"num"},{"label":"Preset 3","value":2,"type":"num"},{"label":"Preset 4","value":3,"type":"num"},{"label":"Preset 5","value":4,"type":"num"},{"label":"Preset 6","value":5,"type":"num"}],"payload":"","topic":"","x":1060,"y":700,"wires":[[]]},{"id":"8a52e703.6595b8","type":"ui_group","z":"","name":"MASTER PRESETS","tab":"ffc7f18b.c999d","order":1,"disp":true,"width":"6","collapse":false},{"id":"8f466b3e.ef20b8","type":"mongodb2","z":0,"uri":"mongodb://127.0.0.1:27017/cinebrain","name":"cinebrain db","options":"","parallelism":"-1"},{"id":"4f7a655c.a30e5c","type":"ui_group","z":"","name":"SUB PRESETS","tab":"ffc7f18b.c999d","order":2,"disp":true,"width":"12","collapse":false},{"id":"e8414499.885228","type":"mongodb2","z":"","uri":"mongodb://127.0.0.1:27017/cinebrain","name":"cinebrain db","options":"","parallelism":"-1"},{"id":"ffc7f18b.c999d","type":"ui_tab","z":"","name":"MASTER PRESETS","icon":"dashboard","order":1}]