osc_example.json
[{"id":"f842667d.28b208","type":"osc","z":"ece5114f.f98d3","name":"test","path":"/test","metadata":false,"x":830,"y":160,"wires":[["c9100613.93afd8","51d938a2.0a7258"]]},{"id":"4d501406.a0ca3c","type":"osc","z":"ece5114f.f98d3","name":"","path":"","metadata":false,"x":290,"y":160,"wires":[["6826eb6e.1fb144"]]},{"id":"ffc7fdf3.973b","type":"udp in","z":"ece5114f.f98d3","name":"udp osc input","iface":"","port":"6666","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":130,"y":160,"wires":[["4d501406.a0ca3c"]]},{"id":"c9100613.93afd8","type":"udp out","z":"ece5114f.f98d3","name":"OSC localhost output","addr":"127.0.0.1","iface":"","port":"6666","ipv":"udp4","outport":"6666","base64":false,"multicast":"false","x":1060,"y":100,"wires":[]},{"id":"10d3615.ead209f","type":"inject","z":"ece5114f.f98d3","name":"","topic":"","payload":"stringtest","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":160,"wires":[["f842667d.28b208"]]},{"id":"51d938a2.0a7258","type":"debug","z":"ece5114f.f98d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":160,"wires":[]},{"id":"6826eb6e.1fb144","type":"debug","z":"ece5114f.f98d3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":410,"y":160,"wires":[]},{"id":"45e0129a.f9ca6c","type":"osc","z":"ece5114f.f98d3","name":"othertest","path":"/othertest","metadata":false,"x":840,"y":100,"wires":[["c9100613.93afd8"]]},{"id":"eb9a7286.f2e7f","type":"inject","z":"ece5114f.f98d3","name":"","topic":"","payload":"stringtest","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":640,"y":100,"wires":[["45e0129a.f9ca6c"]]}]