PTZ_CAMERA_1_v2.json
[{"id":"e959ed2a.0f4ca","type":"ui_button","z":"f15a84eb.884568","name":"Shutter DOWN","group":"2b503a41.386926","order":0,"width":0,"height":0,"passthru":false,"label":"Shutter DOWN","color":"#FFFFFF","bgcolor":"purple","icon":"","payload":"1","payloadType":"num","topic":"","x":1320,"y":960,"wires":[["8af5db2c.15e868"]]},{"id":"66fce66c.0bb2a8","type":"function","z":"f15a84eb.884568","name":"UP-RIGHT","func":"var flag = flow.get(\"ptz_up_right_flag\");\nif(flag===0){\n    msg.payload = flow.get(\"ptz_up_right\");\n    flow.set(\"ptz_up_right_flag\", 1);\n}\nelse {\n    msg.payload = flow.get(\"ptz_stop\");\n    flow.set(\"ptz_up_right_flag\", 0);\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":660,"wires":[["80cf4461.b28c98"]]},{"id":"16c3df34.bd0ed1","type":"udp out","z":"f15a84eb.884568","name":"CAM1","addr":"192.168.0.100","iface":"","port":"52381","ipv":"udp4","outport":"5250","base64":false,"multicast":"false","x":2550,"y":1020,"wires":[]},{"id":"27d4cae7.4f60d6","type":"function","z":"f15a84eb.884568","name":"Recall Preset 1","func":"msg.payload = flow.get(\"recall_preset_1\");\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":120,"wires":[["80cf4461.b28c98"]]},{"id":"80cf4461.b28c98","type":"function","z":"f15a84eb.884568","name":"format with init message","func":"var m = [];\n\nm[0] = { payload: flow.get(\"ptz_init\") };\n\nm[1] = { payload: msg.payload };\n\nreturn m;","outputs":2,"noerr":0,"x":2290,"y":1020,"wires":[["16c3df34.bd0ed1"],["16c3df34.bd0ed1"]]},{"id":"cb707315.229e7","type":"function","z":"f15a84eb.884568","name":"FLOW PTZ CONTROL VARIABLES","func":"flow.set(\"ptz_init\", Buffer.from('020000010000000001', 'hex'));\n\nflow.set(\"recall_preset_1\", Buffer.from('01000007000000648101043f0200ff', 'hex'));\nflow.set(\"recall_preset_2\", Buffer.from('01000007000000648101043f0201ff', 'hex'));\nflow.set(\"recall_preset_3\", Buffer.from('01000007000000648101043f0202ff', 'hex'));\nflow.set(\"recall_preset_4\", Buffer.from('01000007000000648101043f0203ff', 'hex'));\nflow.set(\"recall_preset_5\", Buffer.from('01000007000000648101043f0204ff', 'hex'));\nflow.set(\"recall_preset_6\", Buffer.from('01000007000000648101043f0205ff', 'hex'));\n\nflow.set(\"save_preset_1\", Buffer.from('01000007000000108101043f0100ff', 'hex'));\nflow.set(\"save_preset_2\", Buffer.from('01000007000000108101043f0101ff', 'hex'));\nflow.set(\"save_preset_3\", Buffer.from('01000007000000108101043f0102ff', 'hex'));\nflow.set(\"save_preset_4\", Buffer.from('01000007000000108101043f0103ff', 'hex'));\nflow.set(\"save_preset_5\", Buffer.from('01000007000000108101043f0104ff', 'hex'));\nflow.set(\"save_preset_6\", Buffer.from('01000007000000108101043f0105ff', 'hex'));\n\nflow.set('ptz_on', Buffer.from('010000060000000c8101040002ff', 'hex'));\nflow.set('ptz_off', Buffer.from('010000060000000c8101040003ff', 'hex'));\n\nflow.set('ptz_up_left', Buffer.from('0100000900000099810106010c080101ff', 'hex'));\nflow.set('ptz_up', Buffer.from('010000090000009b810106010c080301ff', 'hex'));\nflow.set('ptz_up_right', Buffer.from('010000090000009d810106010c080201ff', 'hex'));\nflow.set('ptz_left', Buffer.from('01000009000000a3810106010c080103ff', 'hex'));\nflow.set('ptz_right', Buffer.from('01000009000000a5810106010c080203ff', 'hex'));\nflow.set('ptz_down_left', Buffer.from('01000009000000a7810106010c080102ff', 'hex'));\nflow.set('ptz_down', Buffer.from('01000009000000a9810106010c080302ff', 'hex'));\nflow.set('ptz_down_right', Buffer.from('01000009000000ab810106010c080202ff', 'hex'));\nflow.set('ptz_stop', Buffer.from('01000009000000ac810106010c080303ff', 'hex'));\n\nflow.set('ptz_zoom_in', Buffer.from('01000006000000b78101040723ff', 'hex'));\nflow.set('ptz_zoom_out', Buffer.from('01000006000000b98101040733ff', 'hex'));\nflow.set('ptz_zoom_stop', Buffer.from('01000006000000ba8101040700ff', 'hex'));\n\nflow.set('ptz_iris_up', Buffer.from('01000006000003148101040b02ff', 'hex'));\nflow.set('ptz_iris_down', Buffer.from('01000006000003168101040b03ff', 'hex'));\nflow.set('ptz_shutter_up', Buffer.from('01000006000003148101040a02ff', 'hex'));\nflow.set('ptz_shutter_down', Buffer.from('01000006000003168101040a03ff', 'hex'));\nflow.set('ptz_gain_up', Buffer.from('01000006000003148101040c02ff', 'hex'));\nflow.set('ptz_gain_down', Buffer.from('01000006000003168101040c03ff', 'hex'));\nflow.set('ptz_iris_priority', Buffer.from('0100000600000009810104390Bff', 'hex'));\nflow.set('ptz_shutter_priority', Buffer.from('0100000600000009810104390Aff', 'hex'));\nflow.set('ptz_bright_mode', Buffer.from('0100000600000009810104390Dff', 'hex'));\nflow.set('ptz_bright_up', Buffer.from('01000006000000098101040D02ff', 'hex'));\nflow.set('ptz_bright_down', Buffer.from('01000006000000098101040D03ff', 'hex'));\nflow.set('ptz_awb', Buffer.from('01000006000003148101043500ff', 'hex'));\nflow.set('ptz_onetouch_wb', Buffer.from('01000006000003148101043503ff', 'hex'));\nflow.set('ptz_onetouch_wb_trigger', Buffer.from('01000006000003148101041005ff', 'hex'));   \nflow.set('ptz_manual_wb', Buffer.from('01000006000003148101043505ff', 'hex'));\nflow.set('ptz_full_auto', Buffer.from('01000006000000098101043900ff', 'hex'));\nflow.set('ptz_manual_exposure', Buffer.from('01000006000003168101043903ff', 'hex'));\nflow.set('ptz_fx_off', Buffer.from('01000006000003148101046300ff', 'hex'));\nflow.set('ptz_fx_neg', Buffer.from('01000006000000098101046302ff', 'hex'));\nflow.set('ptz_fx_bw', Buffer.from('01000006000003168101046304ff', 'hex'));\n\nflow.set('ptz_onscreen_on', Buffer.from('010000060000000c81017e011802ff', 'hex'));\nflow.set('ptz_onscreen_off', Buffer.from('010000060000000c81017e011803ff', 'hex'));\n\nflow.set('ptz_up_left_flag', 0);\nflow.set('ptz_up_flag', 0);\nflow.set('ptz_up_right_flag', 0);\nflow.set('ptz_left_flag', 0);\nflow.set('ptz_right_flag', 0);\nflow.set('ptz_down_left_flag', 0);\nflow.set('ptz_down_flag', 0);\nflow.set('ptz_down_right_flag', 0);\n\nflow.set('ptz_zoom_in_flag', 0);\nflow.set('ptz_zoom_out_flag', 0);\n","outputs":1,"noerr":0,"x":750,"y":20,"wires":[[]]},{"id":"1230ba2c.f65206","type":"inject","z":"f15a84eb.884568","name":"store global PTZ variables","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":440,"y":20,"wires":[["cb707315.229e7"]]},{"id":"3f3505b0.c5532a","type":"ui_button","z":"f15a84eb.884568","name":"Recall Preset 1","group":"af5bbfb6.5cdf4","order":0,"width":0,"height":0,"passthru":false,"label":"Recall Preset 1","color":"#FFFFFF","bgcolor":"green","icon":"","payload":"1","payloadType":"num","topic":"","x":560,"y":120,"wires":[["27d4cae7.4f60d6"]]},{"id":"ed266f7e.73f62","type":"function","z":"f15a84eb.884568","name":"Recall Preset 2","func":"msg.payload = flow.get(\"recall_preset_2\");\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":200,"wires":[["80cf4461.b28c98"]]},{"id":"b6669848.8e1e08","type":"ui_button","z":"f15a84eb.884568","name":"Recall Preset 2","group":"af5bbfb6.5cdf4","order":0,"width":0,"height":0,"passthru":false,"label":"Recall Preset 2","color":"#FFFFFF","bgcolor":"green","icon":"","payload":"1","payloadType":"num","topic":"","x":560,"y":200,"wires":[["ed266f7e.73f62"]]},{"id":"edd51dc3.9d20e","type":"function","z":"f15a84eb.884568","name":"Recall Preset 3","func":"msg.payload = flow.get(\"recall_preset_3\");\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":280,"wires":[["80cf4461.b28c98"]]},{"id":"7fb6cd97.cdad04","type":"ui_button","z":"f15a84eb.884568","name":"Recall Preset 3","group":"af5bbfb6.5cdf4","order":0,"width":0,"height":0,"passthru":false,"label":"Recall Preset 3","color":"#FFFFFF","bgcolor":"green","icon":"","payload":"1","payloadType":"num","topic":"","x":560,"y":280,"wires":[["edd51dc3.9d20e"]]},{"id":"937e3200.38f82","type":"function","z":"f15a84eb.884568","name":"Recall Preset 4","func":"msg.payload = flow.get(\"recall_preset_4\");\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":360,"wires":[["80cf4461.b28c98"]]},{"id":"12c87405.fb7e0c","type":"ui_button","z":"f15a84eb.884568","name":"Recall Preset 4","group":"af5bbfb6.5cdf4","order":0,"width":0,"height":0,"passthru":false,"label":"Recall Preset 4","color":"#FFFFFF","bgcolor":"green","icon":"","payload":"1","payloadType":"num","topic":"","x":560,"y":360,"wires":[["937e3200.38f82"]]},{"id":"c151f594.26a028","type":"function","z":"f15a84eb.884568","name":"Recall Preset 5","func":"msg.payload = flow.get(\"recall_preset_5\");\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":440,"wires":[["80cf4461.b28c98"]]},{"id":"b2dd220e.2205d","type":"ui_button","z":"f15a84eb.884568","name":"Recall Preset 5","group":"af5bbfb6.5cdf4","order":0,"width":0,"height":0,"passthru":false,"label":"Recall Preset 5","color":"#FFFFFF","bgcolor":"green","icon":"","payload":"1","payloadType":"num","topic":"","x":560,"y":440,"wires":[["c151f594.26a028"]]},{"id":"7587a910.b7c9c8","type":"function","z":"f15a84eb.884568","name":"Recall Preset 6","func":"msg.payload = flow.get(\"recall_preset_6\");\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":520,"wires":[["80cf4461.b28c98"]]},{"id":"230e9f3e.e7915","type":"ui_button","z":"f15a84eb.884568","name":"Recall Preset 6","group":"af5bbfb6.5cdf4","order":0,"width":0,"height":0,"passthru":false,"label":"Recall Preset 6","color":"#FFFFFF","bgcolor":"green","icon":"","payload":"1","payloadType":"num","topic":"","x":560,"y":520,"wires":[["7587a910.b7c9c8"]]},{"id":"f1270c1.13ed9f","type":"function","z":"f15a84eb.884568","name":"Save Preset 1","func":"msg.payload = flow.get(\"save_preset_1\");\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":80,"wires":[["80cf4461.b28c98"]]},{"id":"5106f54b.8c314c","type":"ui_button","z":"f15a84eb.884568","name":"Save Preset 1","group":"36696ac2.f5d396","order":0,"width":0,"height":0,"passthru":false,"label":"Save Preset 1","color":"#FFFFFF","bgcolor":"red","icon":"","payload":"1","payloadType":"num","topic":"","x":560,"y":80,"wires":[["f1270c1.13ed9f"]]},{"id":"456b1800.f36118","type":"function","z":"f15a84eb.884568","name":"Save Preset 2","func":"msg.payload = flow.get(\"save_preset_2\");\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":160,"wires":[["80cf4461.b28c98"]]},{"id":"7ab64d07.292ff4","type":"ui_button","z":"f15a84eb.884568","name":"Save Preset 2","group":"36696ac2.f5d396","order":0,"width":0,"height":0,"passthru":false,"label":"Save Preset 2","color":"#FFFFFF","bgcolor":"red","icon":"","payload":"1","payloadType":"num","topic":"","x":560,"y":160,"wires":[["456b1800.f36118"]]},{"id":"25482e62.2e6dd2","type":"function","z":"f15a84eb.884568","name":"Save Preset 3","func":"msg.payload = flow.get(\"save_preset_3\");\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":240,"wires":[["80cf4461.b28c98"]]},{"id":"8c6399c6.5a9b48","type":"ui_button","z":"f15a84eb.884568","name":"Save Preset 3","group":"36696ac2.f5d396","order":0,"width":0,"height":0,"passthru":false,"label":"Save Preset 3","color":"#FFFFFF","bgcolor":"red","icon":"","payload":"1","payloadType":"num","topic":"","x":560,"y":240,"wires":[["25482e62.2e6dd2"]]},{"id":"5f03adfc.374004","type":"function","z":"f15a84eb.884568","name":"Save Preset 4","func":"msg.payload = flow.get(\"save_preset_4\");\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":320,"wires":[["80cf4461.b28c98"]]},{"id":"9df04879.d07198","type":"ui_button","z":"f15a84eb.884568","name":"Save Preset 4","group":"36696ac2.f5d396","order":0,"width":0,"height":0,"passthru":false,"label":"Save Preset 4","color":"#FFFFFF","bgcolor":"red","icon":"","payload":"1","payloadType":"num","topic":"","x":560,"y":320,"wires":[["5f03adfc.374004"]]},{"id":"ee1d9f28.c838b","type":"function","z":"f15a84eb.884568","name":"Save Preset 5","func":"msg.payload = flow.get(\"save_preset_5\");\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":400,"wires":[["80cf4461.b28c98"]]},{"id":"99b35ea2.37eb1","type":"ui_button","z":"f15a84eb.884568","name":"Save Preset 5","group":"36696ac2.f5d396","order":0,"width":0,"height":0,"passthru":false,"label":"Save Preset 5","color":"#FFFFFF","bgcolor":"red","icon":"","payload":"1","payloadType":"num","topic":"","x":560,"y":400,"wires":[["ee1d9f28.c838b"]]},{"id":"8e3685b5.fdc568","type":"function","z":"f15a84eb.884568","name":"Save Preset 6","func":"msg.payload = flow.get(\"save_preset_6\");\n\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":480,"wires":[["80cf4461.b28c98"]]},{"id":"35072882.499e78","type":"ui_button","z":"f15a84eb.884568","name":"Save Preset 6","group":"36696ac2.f5d396","order":0,"width":0,"height":0,"passthru":false,"label":"Save Preset 6","color":"#FFFFFF","bgcolor":"red","icon":"","payload":"1","payloadType":"num","topic":"","x":560,"y":480,"wires":[["8e3685b5.fdc568"]]},{"id":"c78888cb.522148","type":"ui_switch","z":"f15a84eb.884568","name":"PTZ On/Off","label":"Power ON/OFF","group":"c6a9c771.0a3ef8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1050,"y":20,"wires":[["1f901ef3.06b751"]]},{"id":"1f901ef3.06b751","type":"function","z":"f15a84eb.884568","name":"Power On/Off","func":"var power_msg = {};\nif(msg.payload){\n    power_msg = { payload: flow.get(\"ptz_on\")};\n}\nelse {\n    power_msg = { payload: flow.get(\"ptz_off\")};\n}\n\nreturn power_msg;","outputs":1,"noerr":0,"x":1280,"y":20,"wires":[["80cf4461.b28c98"]]},{"id":"7523e1ac.c9504","type":"function","z":"f15a84eb.884568","name":"UP-LEFT","func":"var flag = flow.get(\"ptz_up_left_flag\");\nif(flag===0){\n    msg.payload = flow.get(\"ptz_up_left\");\n    flow.set(\"ptz_up_left_flag\", 1);\n}\nelse {\n    msg.payload = flow.get(\"ptz_stop\");\n    flow.set(\"ptz_up_left_flag\", 0);\n}\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":580,"wires":[["80cf4461.b28c98"]]},{"id":"4e60a5d5.f938bc","type":"ui_button","z":"f15a84eb.884568","name":"UP-LEFT","group":"f7ae651b.b27568","order":13,"width":0,"height":0,"passthru":false,"label":"UP-LEFT","color":"#FFFFFF","bgcolor":"orange","icon":"","payload":"1","payloadType":"num","topic":"","x":540,"y":580,"wires":[["7523e1ac.c9504"]]},{"id":"747a0517.0faf8c","type":"function","z":"f15a84eb.884568","name":"UP","func":"var flag = flow.get(\"ptz_up_flag\");\nif(flag===0){\n    msg.payload = flow.get(\"ptz_up\");\n    flow.set(\"ptz_up_flag\", 1);\n}\nelse {\n    msg.payload = flow.get(\"ptz_stop\");\n    flow.set(\"ptz_up_flag\", 0);\n}\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":620,"wires":[["80cf4461.b28c98"]]},{"id":"967e6de7.519a1","type":"ui_button","z":"f15a84eb.884568","name":"UP","group":"f7ae651b.b27568","order":14,"width":0,"height":0,"passthru":false,"label":"UP","color":"#FFFFFF","bgcolor":"orange","icon":"","payload":"1","payloadType":"num","topic":"","x":530,"y":620,"wires":[["747a0517.0faf8c"]]},{"id":"1c77be09.eb04a2","type":"ui_button","z":"f15a84eb.884568","name":"UP-RIGHT","group":"f7ae651b.b27568","order":15,"width":0,"height":0,"passthru":false,"label":"UP-RIGHT","color":"#FFFFFF","bgcolor":"orange","icon":"","payload":"1","payloadType":"num","topic":"","x":550,"y":660,"wires":[["66fce66c.0bb2a8"]]},{"id":"58978869.1321c8","type":"function","z":"f15a84eb.884568","name":"LEFT","func":"var flag = flow.get(\"ptz_left_flag\");\nif(flag===0){\n    msg.payload = flow.get(\"ptz_left\");\n    flow.set(\"ptz_left_flag\", 1);\n}\nelse {\n    msg.payload = flow.get(\"ptz_stop\");\n    flow.set(\"ptz_left_flag\", 0);\n}\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":700,"wires":[["80cf4461.b28c98"]]},{"id":"f1080b33.413cd8","type":"ui_button","z":"f15a84eb.884568","name":"LEFT","group":"f7ae651b.b27568","order":16,"width":0,"height":0,"passthru":false,"label":"LEFT","color":"#FFFFFF","bgcolor":"orange","icon":"","payload":"1","payloadType":"num","topic":"","x":530,"y":700,"wires":[["58978869.1321c8"]]},{"id":"f039bcc4.9c4fa","type":"function","z":"f15a84eb.884568","name":"RIGHT","func":"var flag = flow.get(\"ptz_right_flag\");\nif(flag===0){\n    msg.payload = flow.get(\"ptz_right\");\n    flow.set(\"ptz_right_flag\", 1);\n}\nelse {\n    msg.payload = flow.get(\"ptz_stop\");\n    flow.set(\"ptz_right_flag\", 0);\n}\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":740,"wires":[["80cf4461.b28c98"]]},{"id":"52d9ee99.b37d4","type":"ui_button","z":"f15a84eb.884568","name":"RIGHT","group":"f7ae651b.b27568","order":17,"width":0,"height":0,"passthru":false,"label":"RIGHT","color":"#FFFFFF","bgcolor":"orange","icon":"","payload":"1","payloadType":"num","topic":"","x":540,"y":740,"wires":[["f039bcc4.9c4fa"]]},{"id":"c1428239.d8ea4","type":"function","z":"f15a84eb.884568","name":"DOWN-LEFT","func":"var flag = flow.get(\"ptz_down_left_flag\");\nif(flag===0){\n    msg.payload = flow.get(\"ptz_down_left\");\n    flow.set(\"ptz_down_left_flag\", 1);\n}\nelse {\n    msg.payload = flow.get(\"ptz_stop\");\n    flow.set(\"ptz_down_left_flag\", 0);\n}\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":780,"wires":[["80cf4461.b28c98"]]},{"id":"9ae9bfa7.cb1af","type":"ui_button","z":"f15a84eb.884568","name":"DOWN-LEFT","group":"f7ae651b.b27568","order":18,"width":0,"height":0,"passthru":false,"label":"DOWN-LEFT","color":"#FFFFFF","bgcolor":"orange","icon":"","payload":"1","payloadType":"num","topic":"","x":560,"y":780,"wires":[["c1428239.d8ea4"]]},{"id":"74567ef1.8f1f","type":"function","z":"f15a84eb.884568","name":"DOWN","func":"var flag = flow.get(\"ptz_down_flag\");\nif(flag===0){\n    msg.payload = flow.get(\"ptz_down\");\n    flow.set(\"ptz_down_flag\", 1);\n}\nelse {\n    msg.payload = flow.get(\"ptz_stop\");\n    flow.set(\"ptz_down_flag\", 0);\n}\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":820,"wires":[["80cf4461.b28c98"]]},{"id":"fda3b047.af2fc","type":"ui_button","z":"f15a84eb.884568","name":"DOWN","group":"f7ae651b.b27568","order":19,"width":0,"height":0,"passthru":false,"label":"DOWN","color":"#FFFFFF","bgcolor":"orange","icon":"","payload":"1","payloadType":"num","topic":"","x":540,"y":820,"wires":[["74567ef1.8f1f"]]},{"id":"86addded.d61e5","type":"function","z":"f15a84eb.884568","name":"DOWN-RIGHT","func":"var flag = flow.get(\"ptz_down_right_flag\");\nif(flag===0){\n    msg.payload = flow.get(\"ptz_down_right\");\n    flow.set(\"ptz_down_right_flag\", 1);\n}\nelse {\n    msg.payload = flow.get(\"ptz_stop\");\n    flow.set(\"ptz_down_right_flag\", 0);\n}\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":860,"wires":[["80cf4461.b28c98"]]},{"id":"b72eaf98.b755c","type":"ui_button","z":"f15a84eb.884568","name":"DOWN-RIGHT","group":"f7ae651b.b27568","order":20,"width":0,"height":0,"passthru":false,"label":"DOWN-RIGHT","color":"#FFFFFF","bgcolor":"orange","icon":"","payload":"1","payloadType":"num","topic":"","x":560,"y":860,"wires":[["86addded.d61e5"]]},{"id":"810cfc64.98ec","type":"function","z":"f15a84eb.884568","name":"STOP","func":"msg.payload = flow.get(\"ptz_stop\");\nflow.set(\"ptz_down_right_flag\", 0);\nflow.set(\"ptz_down_left_flag\", 0);\nflow.set(\"ptz_down_flag\", 0);\nflow.set(\"ptz_right_flag\", 0);\nflow.set(\"ptz_left_flag\", 0);\nflow.set(\"ptz_up_right_flag\", 0);\nflow.set(\"ptz_up_left_flag\", 0);\nflow.set(\"ptz_up_flag\", 0);\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":920,"wires":[["80cf4461.b28c98"]]},{"id":"1562bb12.6f9605","type":"ui_button","z":"f15a84eb.884568","name":"STOP","group":"f7ae651b.b27568","order":21,"width":0,"height":0,"passthru":false,"label":"STOP","color":"#FFFFFF","bgcolor":"red","icon":"","payload":"1","payloadType":"num","topic":"","x":530,"y":920,"wires":[["810cfc64.98ec"]]},{"id":"6ac851ac.53c1a","type":"function","z":"f15a84eb.884568","name":"ZOOM-IN","func":"var flag = flow.get(\"ptz_zoom_in_flag\");\nif(flag===0){\n    msg.payload = flow.get(\"ptz_zoom_in\");\n    flow.set(\"ptz_zoom_in_flag\", 1);\n}\nelse {\n    msg.payload = flow.get(\"ptz_zoom_stop\");\n    flow.set(\"ptz_zoom_in_flag\", 0);\n}\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":960,"wires":[["80cf4461.b28c98"]]},{"id":"b0ea6343.dd9","type":"ui_button","z":"f15a84eb.884568","name":"ZOOM-IN","group":"f7ae651b.b27568","order":12,"width":0,"height":0,"passthru":false,"label":"ZOOM-IN","color":"#FFFFFF","bgcolor":"blue","icon":"","payload":"1","payloadType":"num","topic":"","x":540,"y":960,"wires":[["6ac851ac.53c1a"]]},{"id":"a079f95d.0ff8b8","type":"function","z":"f15a84eb.884568","name":"ZOOM-OUT","func":"var flag = flow.get(\"ptz_zoom_out_flag\");\nif(flag===0){\n    msg.payload = flow.get(\"ptz_zoom_out\");\n    flow.set(\"ptz_zoom_out_flag\", 1);\n}\nelse {\n    msg.payload = flow.get(\"ptz_zoom_stop\");\n    flow.set(\"ptz_zoom_out_flag\", 0);\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":1000,"wires":[["80cf4461.b28c98"]]},{"id":"6d4f1f1b.dd96a","type":"ui_button","z":"f15a84eb.884568","name":"ZOOM-OUT","group":"f7ae651b.b27568","order":22,"width":0,"height":0,"passthru":false,"label":"ZOOM-OUT","color":"#FFFFFF","bgcolor":"blue","icon":"","payload":"1","payloadType":"num","topic":"","x":550,"y":1000,"wires":[["a079f95d.0ff8b8"]]},{"id":"65b62735.ebc1b8","type":"function","z":"f15a84eb.884568","name":"STOP ZOOM","func":"msg.payload = flow.get(\"ptz_zoom_stop\");\nflow.set(\"ptz_zoom_in_flag\", 0);\nflow.set(\"ptz_zoom_out_flag\", 0);\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":1040,"wires":[["80cf4461.b28c98"]]},{"id":"753095d5.ee795c","type":"ui_button","z":"f15a84eb.884568","name":"STOP ZOOM","group":"f7ae651b.b27568","order":23,"width":0,"height":0,"passthru":false,"label":"STOP ZOOM","color":"#FFFFFF","bgcolor":"red","icon":"","payload":"1","payloadType":"num","topic":"","x":560,"y":1040,"wires":[["65b62735.ebc1b8"]]},{"id":"92548ad4.c0a558","type":"ui_switch","z":"f15a84eb.884568","name":"Menu Display On/Off","label":"Menu Display ON/OFF","group":"7c91b6f8.a07ed8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1080,"y":60,"wires":[["d65ffc73.e4beb"]]},{"id":"d65ffc73.e4beb","type":"function","z":"f15a84eb.884568","name":"Menu Display ON/OFF","func":"var menu_msg = {};\nif(msg.payload){\n    menu_msg = { payload: flow.get(\"ptz_onscreen_on\")};\n}\nelse {\n    menu_msg = { payload: flow.get(\"ptz_onscreen_off\")};\n}\n\nreturn menu_msg;","outputs":1,"noerr":0,"x":1300,"y":60,"wires":[["80cf4461.b28c98"]]},{"id":"50aaf65a.f45e18","type":"function","z":"f15a84eb.884568","name":"Iris UP","func":"msg.payload = flow.get(\"ptz_iris_up\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1511,"y":760,"wires":[["80cf4461.b28c98"]]},{"id":"7cee9c2d.7ee854","type":"ui_button","z":"f15a84eb.884568","name":"Iris UP","group":"2b503a41.386926","order":0,"width":0,"height":0,"passthru":false,"label":"Iris UP","color":"#FFFFFF","bgcolor":"purple","icon":"","payload":"1","payloadType":"num","topic":"","x":1291,"y":760,"wires":[["50aaf65a.f45e18"]]},{"id":"43a4e1d4.7597c","type":"function","z":"f15a84eb.884568","name":"Iris DOWN","func":"msg.payload = flow.get(\"ptz_iris_down\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1531,"y":800,"wires":[["80cf4461.b28c98"]]},{"id":"9bae852d.915f08","type":"ui_button","z":"f15a84eb.884568","name":"Iris DOWN","group":"2b503a41.386926","order":0,"width":0,"height":0,"passthru":false,"label":"Iris DOWN","color":"#FFFFFF","bgcolor":"purple","icon":"","payload":"1","payloadType":"num","topic":"","x":1311,"y":800,"wires":[["43a4e1d4.7597c"]]},{"id":"a045f566.20ee08","type":"function","z":"f15a84eb.884568","name":"Gain UP","func":"msg.payload = flow.get(\"ptz_gain_up\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1520,"y":840,"wires":[["80cf4461.b28c98"]]},{"id":"4065197c.1c78a8","type":"ui_button","z":"f15a84eb.884568","name":"Gain UP","group":"2b503a41.386926","order":0,"width":0,"height":0,"passthru":false,"label":"Gain UP","color":"#FFFFFF","bgcolor":"purple","icon":"","payload":"1","payloadType":"num","topic":"","x":1300,"y":840,"wires":[["a045f566.20ee08"]]},{"id":"75bc1b4e.f50b74","type":"function","z":"f15a84eb.884568","name":"Gain DOWN","func":"msg.payload = flow.get(\"ptz_gain_down\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":880,"wires":[["80cf4461.b28c98"]]},{"id":"b5b574fb.4eba88","type":"ui_button","z":"f15a84eb.884568","name":"Gain DOWN","group":"2b503a41.386926","order":0,"width":0,"height":0,"passthru":false,"label":"Gain DOWN","color":"#FFFFFF","bgcolor":"purple","icon":"","payload":"1","payloadType":"num","topic":"","x":1310,"y":880,"wires":[["75bc1b4e.f50b74"]]},{"id":"32ed8df1.52fd62","type":"function","z":"f15a84eb.884568","name":"Shutter UP","func":"msg.payload = flow.get(\"ptz_shutter_up\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":920,"wires":[["80cf4461.b28c98"]]},{"id":"9aeaabc6.abf3c8","type":"ui_button","z":"f15a84eb.884568","name":"Shutter UP","group":"2b503a41.386926","order":0,"width":0,"height":0,"passthru":false,"label":"Shutter UP","color":"#FFFFFF","bgcolor":"purple","icon":"","payload":"1","payloadType":"num","topic":"","x":1310,"y":920,"wires":[["32ed8df1.52fd62"]]},{"id":"8af5db2c.15e868","type":"function","z":"f15a84eb.884568","name":"Shutter DOWN","func":"msg.payload = flow.get(\"ptz_shutter_down\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1540,"y":960,"wires":[["80cf4461.b28c98"]]},{"id":"75ab2ae7.93cf14","type":"function","z":"f15a84eb.884568","name":"Bright UP","func":"msg.payload = flow.get(\"ptz_bright_up\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1520,"y":1000,"wires":[["80cf4461.b28c98"]]},{"id":"a8d443a.e847ec","type":"ui_button","z":"f15a84eb.884568","name":"Bright UP","group":"2b503a41.386926","order":0,"width":0,"height":0,"passthru":false,"label":"Bright UP","color":"#FFFFFF","bgcolor":"purple","icon":"","payload":"1","payloadType":"num","topic":"","x":1300,"y":1000,"wires":[["75ab2ae7.93cf14"]]},{"id":"12ac60f6.496dbf","type":"function","z":"f15a84eb.884568","name":"Bright DOWN","func":"msg.payload = flow.get(\"ptz_bright_down\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1540,"y":1040,"wires":[["80cf4461.b28c98"]]},{"id":"a2ab2301.53716","type":"ui_button","z":"f15a84eb.884568","name":"Bright DOWN","group":"2b503a41.386926","order":0,"width":0,"height":0,"passthru":false,"label":"Bright DOWN","color":"#FFFFFF","bgcolor":"purple","icon":"","payload":"1","payloadType":"num","topic":"","x":1320,"y":1040,"wires":[["12ac60f6.496dbf"]]},{"id":"47555e87.1e711","type":"function","z":"f15a84eb.884568","name":"Iris Priority","func":"msg.payload = flow.get(\"ptz_iris_priority\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":1160,"wires":[["80cf4461.b28c98"]]},{"id":"ec70d64f.cf8818","type":"ui_button","z":"f15a84eb.884568","name":"Iris Priority","group":"7d63656f.2f5f1c","order":2,"width":0,"height":0,"passthru":false,"label":"Iris Priority","color":"#FFFFFF","bgcolor":"pink","icon":"","payload":"1","payloadType":"num","topic":"","x":1310,"y":1160,"wires":[["47555e87.1e711"]]},{"id":"6ef28874.3a22d8","type":"function","z":"f15a84eb.884568","name":"Shutter Priority","func":"msg.payload = flow.get(\"ptz_shutter_priority\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1540,"y":1200,"wires":[["80cf4461.b28c98"]]},{"id":"cdd1cf25.a96ff","type":"ui_button","z":"f15a84eb.884568","name":"Shutter Priority","group":"7d63656f.2f5f1c","order":3,"width":0,"height":0,"passthru":false,"label":"Shutter Priority","color":"#FFFFFF","bgcolor":"pink","icon":"","payload":"1","payloadType":"num","topic":"","x":1320,"y":1200,"wires":[["6ef28874.3a22d8"]]},{"id":"db795904.5a8508","type":"function","z":"f15a84eb.884568","name":"Bright Mode","func":"msg.payload = flow.get(\"ptz_bright_mode\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":1240,"wires":[["80cf4461.b28c98"]]},{"id":"db118ddd.c1032","type":"ui_button","z":"f15a84eb.884568","name":"Bright Mode","group":"7d63656f.2f5f1c","order":4,"width":0,"height":0,"passthru":false,"label":"Bright Mode","color":"#FFFFFF","bgcolor":"pink","icon":"","payload":"1","payloadType":"num","topic":"","x":1310,"y":1240,"wires":[["db795904.5a8508"]]},{"id":"c39245e7.ff5ca8","type":"function","z":"f15a84eb.884568","name":"Auto White Balance","func":"msg.payload = flow.get(\"ptz_awb\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":1320,"wires":[["80cf4461.b28c98"]]},{"id":"fd02cc28.8585f","type":"ui_button","z":"f15a84eb.884568","name":"Auto White Balance","group":"7d63656f.2f5f1c","order":6,"width":0,"height":0,"passthru":false,"label":"Auto White Balance","color":"#FFFFFF","bgcolor":"grey","icon":"","payload":"1","payloadType":"num","topic":"","x":1270,"y":1320,"wires":[["c39245e7.ff5ca8"]]},{"id":"4bce79ce.ab0bf8","type":"function","z":"f15a84eb.884568","name":"Full Auto","func":"msg.payload = flow.get(\"ptz_full_auto\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1520,"y":1120,"wires":[["80cf4461.b28c98"]]},{"id":"cb5ea300.f8d56","type":"ui_button","z":"f15a84eb.884568","name":"Full Auto","group":"7d63656f.2f5f1c","order":1,"width":0,"height":0,"passthru":false,"label":"Full Auto","color":"#FFFFFF","bgcolor":"pink","icon":"","payload":"1","payloadType":"num","topic":"","x":1300,"y":1120,"wires":[["4bce79ce.ab0bf8"]]},{"id":"2ebc24da.51fd2c","type":"function","z":"f15a84eb.884568","name":"1-touch White Balance","func":"msg.payload = flow.get(\"ptz_onetouch_wb\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1520,"y":1360,"wires":[["80cf4461.b28c98"]]},{"id":"58c2b00a.5f4b5","type":"ui_button","z":"f15a84eb.884568","name":"1-touch White Balance","group":"7d63656f.2f5f1c","order":7,"width":0,"height":0,"passthru":false,"label":"1-touch White Balance","color":"#FFFFFF","bgcolor":"grey","icon":"","payload":"1","payloadType":"num","topic":"","x":1280,"y":1360,"wires":[["2ebc24da.51fd2c"]]},{"id":"8f165ad3.358f58","type":"function","z":"f15a84eb.884568","name":"1-touch White Bal. Trigger","func":"msg.payload = flow.get(\"ptz_onetouch_wb_trigger\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":1400,"wires":[["80cf4461.b28c98"]]},{"id":"b5f4bd06.2519","type":"ui_button","z":"f15a84eb.884568","name":"1-touch White Bal Trigger","group":"7d63656f.2f5f1c","order":8,"width":0,"height":0,"passthru":false,"label":"1-touch White Bal Trigger","color":"#FFFFFF","bgcolor":"grey","icon":"","payload":"1","payloadType":"num","topic":"","x":1290,"y":1400,"wires":[["8f165ad3.358f58"]]},{"id":"71cffe0e.d2de7","type":"function","z":"f15a84eb.884568","name":"Manual White Balance","func":"msg.payload = flow.get(\"ptz_manual_wb\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1520,"y":1440,"wires":[["80cf4461.b28c98"]]},{"id":"4b30849e.9cd02c","type":"ui_button","z":"f15a84eb.884568","name":"Manual White Balance","group":"7d63656f.2f5f1c","order":9,"width":0,"height":0,"passthru":false,"label":"Manual White Balance","color":"#FFFFFF","bgcolor":"grey","icon":"","payload":"1","payloadType":"num","topic":"","x":1280,"y":1440,"wires":[["71cffe0e.d2de7"]]},{"id":"753a473f.fd51d8","type":"function","z":"f15a84eb.884568","name":"Manual Exposure","func":"msg.payload = flow.get(\"ptz_manual_exposure\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":1480,"wires":[["80cf4461.b28c98"]]},{"id":"bd4a8ada.bc6818","type":"ui_button","z":"f15a84eb.884568","name":"Manual Exposure","group":"7d63656f.2f5f1c","order":5,"width":0,"height":0,"passthru":false,"label":"Manual Exposure","color":"#FFFFFF","bgcolor":"grey","icon":"","payload":"1","payloadType":"num","topic":"","x":1270,"y":1480,"wires":[["753a473f.fd51d8"]]},{"id":"7ec2a694.d49618","type":"function","z":"f15a84eb.884568","name":"FX Off","func":"msg.payload = flow.get(\"ptz_fx_off\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":1600,"wires":[["80cf4461.b28c98"]]},{"id":"73789091.608a2","type":"ui_button","z":"f15a84eb.884568","name":"FX Off","group":"2b503a41.386926","order":0,"width":0,"height":0,"passthru":false,"label":"FX Off","color":"#FFFFFF","bgcolor":"black","icon":"","payload":"1","payloadType":"num","topic":"","x":1230,"y":1600,"wires":[["7ec2a694.d49618"]]},{"id":"4195075e.9b3478","type":"function","z":"f15a84eb.884568","name":"FX Negative","func":"msg.payload = flow.get(\"ptz_fx_neg\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":1640,"wires":[["80cf4461.b28c98"]]},{"id":"6ff61744.6b6fd8","type":"ui_button","z":"f15a84eb.884568","name":"FX Negative","group":"2b503a41.386926","order":0,"width":0,"height":0,"passthru":false,"label":"FX Negative","color":"#FFFFFF","bgcolor":"black","icon":"","payload":"1","payloadType":"num","topic":"","x":1250,"y":1640,"wires":[["4195075e.9b3478"]]},{"id":"35708fb0.b3cc1","type":"function","z":"f15a84eb.884568","name":"FX Black & White","func":"msg.payload = flow.get(\"ptz_fx_bw\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":1680,"wires":[["80cf4461.b28c98"]]},{"id":"860e8b2c.724af8","type":"ui_button","z":"f15a84eb.884568","name":"FX Black & White","group":"2b503a41.386926","order":0,"width":0,"height":0,"passthru":false,"label":"FX Black & White","color":"#FFFFFF","bgcolor":"black","icon":"","payload":"1","payloadType":"num","topic":"","x":1270,"y":1680,"wires":[["35708fb0.b3cc1"]]},{"id":"5bae300b.e4a64","type":"link in","z":"f15a84eb.884568","name":"PTZ 1 Master Preset In","links":["fc1f3923.219f88"],"x":35,"y":240,"wires":[["673d049c.0d41ac"]]},{"id":"673d049c.0d41ac","type":"switch","z":"f15a84eb.884568","name":"Select Preset by name","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Preset 1","vt":"str"},{"t":"eq","v":"Preset 2","vt":"str"},{"t":"eq","v":"Preset 3","vt":"str"},{"t":"eq","v":"Preset 4","vt":"str"},{"t":"eq","v":"Preset 5","vt":"str"},{"t":"eq","v":"Preset 6","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":200,"y":240,"wires":[["27d4cae7.4f60d6"],["ed266f7e.73f62"],["edd51dc3.9d20e"],["937e3200.38f82"],["c151f594.26a028"],["7587a910.b7c9c8"]]},{"id":"2b503a41.386926","type":"ui_group","z":"","name":"Image FX","tab":"f5dfc97e.529808","order":4,"disp":true,"width":"6","collapse":false},{"id":"af5bbfb6.5cdf4","type":"ui_group","z":"","name":"PTZ Recall Presets","tab":"f5dfc97e.529808","order":5,"disp":true,"width":"6","collapse":false},{"id":"36696ac2.f5d396","type":"ui_group","z":"","name":"PTZ Save Presets","tab":"f5dfc97e.529808","order":6,"disp":true,"width":"6","collapse":false},{"id":"c6a9c771.0a3ef8","type":"ui_group","z":"","name":"PTZ Utilities","tab":"fee3bb1b.363958","order":1,"disp":true,"width":"6","collapse":false},{"id":"f7ae651b.b27568","type":"ui_group","z":"","name":"Pan-Tilt-Zoom","tab":"f5dfc97e.529808","order":2,"disp":true,"width":"6","collapse":false},{"id":"7c91b6f8.a07ed8","type":"ui_group","z":"","name":"PTZ Utilities","tab":"f5dfc97e.529808","order":1,"disp":true,"width":"6","collapse":false},{"id":"7d63656f.2f5f1c","type":"ui_group","z":"","name":"Image Modes","tab":"f5dfc97e.529808","order":3,"disp":true,"width":"6","collapse":false},{"id":"f5dfc97e.529808","type":"ui_tab","z":"","name":"PTZ Camera 1","icon":"dashboard","order":2},{"id":"fee3bb1b.363958","type":"ui_tab","z":"","name":"PTZ Camera 2","icon":"dashboard","order":3}]