PTZ_CAMERA_1_v1.json
[{"id":"46570d42.6cdd94","type":"function","z":"f15a84eb.884568","name":"Bright DOWN","func":"msg.payload = flow.get(\"ptz_bright_down\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":1060,"wires":[["d15f4934.93ea98"]]},{"id":"83f4e27.7285c2","type":"udp out","z":"f15a84eb.884568","name":"CAM1","addr":"192.168.0.100","iface":"","port":"52381","ipv":"udp4","outport":"5250","base64":false,"multicast":"false","x":2230,"y":1040,"wires":[]},{"id":"35a845b4.937d4a","type":"function","z":"f15a84eb.884568","name":"Recall Preset 1","func":"msg.payload = flow.get(\"recall_preset_1\");\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":140,"wires":[["d15f4934.93ea98"]]},{"id":"d15f4934.93ea98","type":"function","z":"f15a84eb.884568","name":"format with init message","func":"var m = [];\n\nm[0] = { payload: flow.get(\"ptz_init\") };\n\nm[1] = { payload: msg.payload };\n\nreturn m;","outputs":2,"noerr":0,"x":1970,"y":1040,"wires":[["83f4e27.7285c2"],["83f4e27.7285c2"]]},{"id":"b7e3cebf.967b6","type":"function","z":"f15a84eb.884568","name":"FLOW PTZ CONTROL VARIABLES","func":"flow.set(\"ptz_init\", Buffer.from('020000010000000001', 'hex'));\n\nflow.set(\"recall_preset_1\", Buffer.from('01000007000000648101043f0200ff', 'hex'));\nflow.set(\"recall_preset_2\", Buffer.from('01000007000000648101043f0201ff', 'hex'));\nflow.set(\"recall_preset_3\", Buffer.from('01000007000000648101043f0202ff', 'hex'));\nflow.set(\"recall_preset_4\", Buffer.from('01000007000000648101043f0203ff', 'hex'));\nflow.set(\"recall_preset_5\", Buffer.from('01000007000000648101043f0204ff', 'hex'));\nflow.set(\"recall_preset_6\", Buffer.from('01000007000000648101043f0205ff', 'hex'));\n\nflow.set(\"save_preset_1\", Buffer.from('01000007000000108101043f0100ff', 'hex'));\nflow.set(\"save_preset_2\", Buffer.from('01000007000000108101043f0101ff', 'hex'));\nflow.set(\"save_preset_3\", Buffer.from('01000007000000108101043f0102ff', 'hex'));\nflow.set(\"save_preset_4\", Buffer.from('01000007000000108101043f0103ff', 'hex'));\nflow.set(\"save_preset_5\", Buffer.from('01000007000000108101043f0104ff', 'hex'));\nflow.set(\"save_preset_6\", Buffer.from('01000007000000108101043f0105ff', 'hex'));\n\nflow.set('ptz_on', Buffer.from('010000060000000c8101040002ff', 'hex'));\nflow.set('ptz_off', Buffer.from('010000060000000c8101040003ff', 'hex'));\n\nflow.set('ptz_up_left', Buffer.from('0100000900000099810106010c080101ff', 'hex'));\nflow.set('ptz_up', Buffer.from('010000090000009b810106010c080301ff', 'hex'));\nflow.set('ptz_up_right', Buffer.from('010000090000009d810106010c080201ff', 'hex'));\nflow.set('ptz_left', Buffer.from('01000009000000a3810106010c080103ff', 'hex'));\nflow.set('ptz_right', Buffer.from('01000009000000a5810106010c080203ff', 'hex'));\nflow.set('ptz_down_left', Buffer.from('01000009000000a7810106010c080102ff', 'hex'));\nflow.set('ptz_down', Buffer.from('01000009000000a9810106010c080302ff', 'hex'));\nflow.set('ptz_down_right', Buffer.from('01000009000000ab810106010c080202ff', 'hex'));\nflow.set('ptz_stop', Buffer.from('01000009000000ac810106010c080303ff', 'hex'));\n\nflow.set('ptz_zoom_in', Buffer.from('01000006000000b78101040723ff', 'hex'));\nflow.set('ptz_zoom_out', Buffer.from('01000006000000b98101040733ff', 'hex'));\nflow.set('ptz_zoom_stop', Buffer.from('01000006000000ba8101040700ff', 'hex'));\n\nflow.set('ptz_iris_up', Buffer.from('01000006000003148101040b02ff', 'hex'));\nflow.set('ptz_iris_down', Buffer.from('01000006000003168101040b03ff', 'hex'));\nflow.set('ptz_shutter_up', Buffer.from('01000006000003148101040a02ff', 'hex'));\nflow.set('ptz_shutter_down', Buffer.from('01000006000003168101040a03ff', 'hex'));\nflow.set('ptz_gain_up', Buffer.from('01000006000003148101040c02ff', 'hex'));\nflow.set('ptz_gain_down', Buffer.from('01000006000003168101040c03ff', 'hex'));\nflow.set('ptz_iris_priority', Buffer.from('0100000600000009810104390Bff', 'hex'));\nflow.set('ptz_shutter_priority', Buffer.from('0100000600000009810104390Aff', 'hex'));\nflow.set('ptz_bright_mode', Buffer.from('0100000600000009810104390Dff', 'hex'));\nflow.set('ptz_bright_up', Buffer.from('01000006000000098101040D02ff', 'hex'));\nflow.set('ptz_bright_down', Buffer.from('01000006000000098101040D03ff', 'hex'));\nflow.set('ptz_awb', Buffer.from('01000006000003148101043500ff', 'hex'));\nflow.set('ptz_onetouch_wb', Buffer.from('01000006000003148101043503ff', 'hex'));\nflow.set('ptz_onetouch_wb_trigger', Buffer.from('01000006000003148101041005ff', 'hex'));   \nflow.set('ptz_manual_wb', Buffer.from('01000006000003148101043505ff', 'hex'));\nflow.set('ptz_full_auto', Buffer.from('01000006000000098101043900ff', 'hex'));\nflow.set('ptz_manual_exposure', Buffer.from('01000006000003168101043903ff', 'hex'));\nflow.set('ptz_fx_off', Buffer.from('01000006000003148101046300ff', 'hex'));\nflow.set('ptz_fx_neg', Buffer.from('01000006000000098101046302ff', 'hex'));\nflow.set('ptz_fx_bw', Buffer.from('01000006000003168101046304ff', 'hex'));\n\nflow.set('ptz_onscreen_on', Buffer.from('010000060000000c81017e011802ff', 'hex'));\nflow.set('ptz_onscreen_off', Buffer.from('010000060000000c81017e011803ff', 'hex'));\n","outputs":1,"noerr":0,"x":430,"y":40,"wires":[[]]},{"id":"8b7893db.7d564","type":"inject","z":"f15a84eb.884568","name":"store global PTZ variables","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":120,"y":40,"wires":[["b7e3cebf.967b6"]]},{"id":"24b4b6ae.82c36a","type":"ui_button","z":"f15a84eb.884568","name":"Recall Preset 1","group":"af5bbfb6.5cdf4","order":0,"width":0,"height":0,"passthru":false,"label":"Recall Preset 1","color":"#FFFFFF","bgcolor":"green","icon":"","payload":"1","payloadType":"num","topic":"","x":240,"y":140,"wires":[["35a845b4.937d4a"]]},{"id":"cf80c27a.26dd6","type":"function","z":"f15a84eb.884568","name":"Recall Preset 2","func":"msg.payload = flow.get(\"recall_preset_2\");\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":220,"wires":[["d15f4934.93ea98"]]},{"id":"8921e449.694368","type":"ui_button","z":"f15a84eb.884568","name":"Recall Preset 2","group":"af5bbfb6.5cdf4","order":0,"width":0,"height":0,"passthru":false,"label":"Recall Preset 2","color":"#FFFFFF","bgcolor":"green","icon":"","payload":"1","payloadType":"num","topic":"","x":240,"y":220,"wires":[["cf80c27a.26dd6"]]},{"id":"972be649.3d5038","type":"function","z":"f15a84eb.884568","name":"Recall Preset 3","func":"msg.payload = flow.get(\"recall_preset_3\");\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":300,"wires":[["d15f4934.93ea98"]]},{"id":"22e9743a.e7edac","type":"ui_button","z":"f15a84eb.884568","name":"Recall Preset 3","group":"af5bbfb6.5cdf4","order":0,"width":0,"height":0,"passthru":false,"label":"Recall Preset 3","color":"#FFFFFF","bgcolor":"green","icon":"","payload":"1","payloadType":"num","topic":"","x":240,"y":300,"wires":[["972be649.3d5038"]]},{"id":"61995632.b9fa68","type":"function","z":"f15a84eb.884568","name":"Recall Preset 4","func":"msg.payload = flow.get(\"recall_preset_4\");\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":380,"wires":[["d15f4934.93ea98"]]},{"id":"b09ec6db.179848","type":"ui_button","z":"f15a84eb.884568","name":"Recall Preset 4","group":"af5bbfb6.5cdf4","order":0,"width":0,"height":0,"passthru":false,"label":"Recall Preset 4","color":"#FFFFFF","bgcolor":"green","icon":"","payload":"1","payloadType":"num","topic":"","x":240,"y":380,"wires":[["61995632.b9fa68"]]},{"id":"759e1874.41dde8","type":"function","z":"f15a84eb.884568","name":"Recall Preset 5","func":"msg.payload = flow.get(\"recall_preset_5\");\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":460,"wires":[["d15f4934.93ea98"]]},{"id":"d48fabaa.1d30f8","type":"ui_button","z":"f15a84eb.884568","name":"Recall Preset 5","group":"af5bbfb6.5cdf4","order":0,"width":0,"height":0,"passthru":false,"label":"Recall Preset 5","color":"#FFFFFF","bgcolor":"green","icon":"","payload":"1","payloadType":"num","topic":"","x":240,"y":460,"wires":[["759e1874.41dde8"]]},{"id":"851d4444.167278","type":"function","z":"f15a84eb.884568","name":"Recall Preset 6","func":"msg.payload = flow.get(\"recall_preset_6\");\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":540,"wires":[["d15f4934.93ea98"]]},{"id":"41f706db.e10f98","type":"ui_button","z":"f15a84eb.884568","name":"Recall Preset 6","group":"af5bbfb6.5cdf4","order":0,"width":0,"height":0,"passthru":false,"label":"Recall Preset 6","color":"#FFFFFF","bgcolor":"green","icon":"","payload":"1","payloadType":"num","topic":"","x":240,"y":540,"wires":[["851d4444.167278"]]},{"id":"9fef523f.3aea6","type":"function","z":"f15a84eb.884568","name":"Save Preset 1","func":"msg.payload = flow.get(\"save_preset_1\");\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":100,"wires":[["d15f4934.93ea98"]]},{"id":"fe3e3b47.65c358","type":"ui_button","z":"f15a84eb.884568","name":"Save Preset 1","group":"36696ac2.f5d396","order":0,"width":0,"height":0,"passthru":false,"label":"Save Preset 1","color":"#FFFFFF","bgcolor":"red","icon":"","payload":"1","payloadType":"num","topic":"","x":240,"y":100,"wires":[["9fef523f.3aea6"]]},{"id":"6aea43df.c2c1cc","type":"function","z":"f15a84eb.884568","name":"Save Preset 2","func":"msg.payload = flow.get(\"save_preset_2\");\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":180,"wires":[["d15f4934.93ea98"]]},{"id":"2afb2073.c8a91","type":"ui_button","z":"f15a84eb.884568","name":"Save Preset 2","group":"36696ac2.f5d396","order":0,"width":0,"height":0,"passthru":false,"label":"Save Preset 2","color":"#FFFFFF","bgcolor":"red","icon":"","payload":"1","payloadType":"num","topic":"","x":240,"y":180,"wires":[["6aea43df.c2c1cc"]]},{"id":"8ea1fb16.691528","type":"function","z":"f15a84eb.884568","name":"Save Preset 3","func":"msg.payload = flow.get(\"save_preset_3\");\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":260,"wires":[["d15f4934.93ea98"]]},{"id":"ddade702.990b78","type":"ui_button","z":"f15a84eb.884568","name":"Save Preset 3","group":"36696ac2.f5d396","order":0,"width":0,"height":0,"passthru":false,"label":"Save Preset 3","color":"#FFFFFF","bgcolor":"red","icon":"","payload":"1","payloadType":"num","topic":"","x":240,"y":260,"wires":[["8ea1fb16.691528"]]},{"id":"cb68ab05.d043e8","type":"function","z":"f15a84eb.884568","name":"Save Preset 4","func":"msg.payload = flow.get(\"save_preset_4\");\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":340,"wires":[["d15f4934.93ea98"]]},{"id":"4581424e.6f9fec","type":"ui_button","z":"f15a84eb.884568","name":"Save Preset 4","group":"36696ac2.f5d396","order":0,"width":0,"height":0,"passthru":false,"label":"Save Preset 4","color":"#FFFFFF","bgcolor":"red","icon":"","payload":"1","payloadType":"num","topic":"","x":240,"y":340,"wires":[["cb68ab05.d043e8"]]},{"id":"eafd0e66.d5c72","type":"function","z":"f15a84eb.884568","name":"Save Preset 5","func":"msg.payload = flow.get(\"save_preset_5\");\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":420,"wires":[["d15f4934.93ea98"]]},{"id":"fdf9e2bd.9e844","type":"ui_button","z":"f15a84eb.884568","name":"Save Preset 5","group":"36696ac2.f5d396","order":0,"width":0,"height":0,"passthru":false,"label":"Save Preset 5","color":"#FFFFFF","bgcolor":"red","icon":"","payload":"1","payloadType":"num","topic":"","x":240,"y":420,"wires":[["eafd0e66.d5c72"]]},{"id":"3abe499b.6f1b56","type":"function","z":"f15a84eb.884568","name":"Save Preset 6","func":"msg.payload = flow.get(\"save_preset_6\");\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":500,"wires":[["d15f4934.93ea98"]]},{"id":"cb86ced5.5e8fe","type":"ui_button","z":"f15a84eb.884568","name":"Save Preset 6","group":"36696ac2.f5d396","order":0,"width":0,"height":0,"passthru":false,"label":"Save Preset 6","color":"#FFFFFF","bgcolor":"red","icon":"","payload":"1","payloadType":"num","topic":"","x":240,"y":500,"wires":[["3abe499b.6f1b56"]]},{"id":"bced2f19.b9027","type":"ui_switch","z":"f15a84eb.884568","name":"PTZ On/Off","label":"Power ON/OFF","group":"7c91b6f8.a07ed8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":730,"y":40,"wires":[["79285b07.64fd94"]]},{"id":"79285b07.64fd94","type":"function","z":"f15a84eb.884568","name":"Power On/Off","func":"var power_msg = {};\nif(msg.payload){\n    power_msg = { payload: flow.get(\"ptz_on\")};\n}\nelse {\n    power_msg = { payload: flow.get(\"ptz_off\")};\n}\n\nreturn power_msg;","outputs":1,"noerr":0,"x":960,"y":40,"wires":[["d15f4934.93ea98"]]},{"id":"7426ae70.8a40c","type":"function","z":"f15a84eb.884568","name":"UP-LEFT","func":"msg.payload = flow.get(\"ptz_up_left\");\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":600,"wires":[["d15f4934.93ea98"]]},{"id":"b744c277.dc728","type":"ui_button","z":"f15a84eb.884568","name":"UP-LEFT","group":"f7ae651b.b27568","order":0,"width":0,"height":0,"passthru":false,"label":"UP-LEFT","color":"#FFFFFF","bgcolor":"orange","icon":"","payload":"1","payloadType":"num","topic":"","x":220,"y":600,"wires":[["7426ae70.8a40c"]]},{"id":"22bc9543.78c4ea","type":"function","z":"f15a84eb.884568","name":"UP","func":"msg.payload = flow.get(\"ptz_up\");\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":640,"wires":[["d15f4934.93ea98"]]},{"id":"50ab33aa.3b580c","type":"ui_button","z":"f15a84eb.884568","name":"UP","group":"f7ae651b.b27568","order":0,"width":0,"height":0,"passthru":false,"label":"UP","color":"#FFFFFF","bgcolor":"orange","icon":"","payload":"1","payloadType":"num","topic":"","x":210,"y":640,"wires":[["22bc9543.78c4ea"]]},{"id":"55dd74c.9f9c48c","type":"function","z":"f15a84eb.884568","name":"UP-RIGHT","func":"msg.payload = flow.get(\"ptz_up_right\");\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":680,"wires":[["d15f4934.93ea98"]]},{"id":"9a053c4b.37313","type":"ui_button","z":"f15a84eb.884568","name":"UP-RIGHT","group":"f7ae651b.b27568","order":0,"width":0,"height":0,"passthru":false,"label":"UP-RIGHT","color":"#FFFFFF","bgcolor":"orange","icon":"","payload":"1","payloadType":"num","topic":"","x":230,"y":680,"wires":[["55dd74c.9f9c48c"]]},{"id":"65302e5c.32581","type":"function","z":"f15a84eb.884568","name":"LEFT","func":"msg.payload = flow.get(\"ptz_left\");\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":720,"wires":[["d15f4934.93ea98"]]},{"id":"f780281d.5d9d48","type":"ui_button","z":"f15a84eb.884568","name":"LEFT","group":"f7ae651b.b27568","order":0,"width":0,"height":0,"passthru":false,"label":"LEFT","color":"#FFFFFF","bgcolor":"orange","icon":"","payload":"1","payloadType":"num","topic":"","x":210,"y":720,"wires":[["65302e5c.32581"]]},{"id":"19e30d04.0228c3","type":"function","z":"f15a84eb.884568","name":"RIGHT","func":"msg.payload = flow.get(\"ptz_right\");\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":760,"wires":[["d15f4934.93ea98"]]},{"id":"d2c4046.73d05f8","type":"ui_button","z":"f15a84eb.884568","name":"RIGHT","group":"f7ae651b.b27568","order":0,"width":0,"height":0,"passthru":false,"label":"RIGHT","color":"#FFFFFF","bgcolor":"orange","icon":"","payload":"1","payloadType":"num","topic":"","x":210,"y":760,"wires":[["19e30d04.0228c3"]]},{"id":"7d6fb909.8a7148","type":"function","z":"f15a84eb.884568","name":"DOWN-LEFT","func":"msg.payload = flow.get(\"ptz_down_left\");\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":800,"wires":[["d15f4934.93ea98"]]},{"id":"dbc7a148.83465","type":"ui_button","z":"f15a84eb.884568","name":"DOWN-LEFT","group":"f7ae651b.b27568","order":0,"width":0,"height":0,"passthru":false,"label":"DOWN-LEFT","color":"#FFFFFF","bgcolor":"orange","icon":"","payload":"1","payloadType":"num","topic":"","x":230,"y":800,"wires":[["7d6fb909.8a7148"]]},{"id":"6ddbf215.c6832c","type":"function","z":"f15a84eb.884568","name":"DOWN","func":"msg.payload = flow.get(\"ptz_down\");\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":840,"wires":[["d15f4934.93ea98"]]},{"id":"8202e1da.0e6a5","type":"ui_button","z":"f15a84eb.884568","name":"DOWN","group":"f7ae651b.b27568","order":0,"width":0,"height":0,"passthru":false,"label":"DOWN","color":"#FFFFFF","bgcolor":"orange","icon":"","payload":"1","payloadType":"num","topic":"","x":220,"y":840,"wires":[["6ddbf215.c6832c"]]},{"id":"31613944.224c06","type":"function","z":"f15a84eb.884568","name":"DOWN-RIGHT","func":"msg.payload = flow.get(\"ptz_down_right\");\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":880,"wires":[["d15f4934.93ea98"]]},{"id":"18012d15.53e413","type":"ui_button","z":"f15a84eb.884568","name":"DOWN-RIGHT","group":"f7ae651b.b27568","order":0,"width":0,"height":0,"passthru":false,"label":"DOWN-RIGHT","color":"#FFFFFF","bgcolor":"orange","icon":"","payload":"1","payloadType":"num","topic":"","x":240,"y":880,"wires":[["31613944.224c06"]]},{"id":"138912a4.8c775d","type":"function","z":"f15a84eb.884568","name":"STOP","func":"msg.payload = flow.get(\"ptz_stop\");\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":940,"wires":[["d15f4934.93ea98"]]},{"id":"4f6af4ce.a2402c","type":"ui_button","z":"f15a84eb.884568","name":"STOP","group":"f7ae651b.b27568","order":0,"width":0,"height":0,"passthru":false,"label":"STOP","color":"#FFFFFF","bgcolor":"red","icon":"","payload":"1","payloadType":"num","topic":"","x":210,"y":940,"wires":[["138912a4.8c775d"]]},{"id":"f8263692.d08da8","type":"function","z":"f15a84eb.884568","name":"ZOOM-IN","func":"msg.payload = flow.get(\"ptz_zoom-in\");\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":980,"wires":[["d15f4934.93ea98"]]},{"id":"4be178c5.f291e8","type":"ui_button","z":"f15a84eb.884568","name":"ZOOM-IN","group":"f7ae651b.b27568","order":0,"width":0,"height":0,"passthru":false,"label":"ZOOM-IN","color":"#FFFFFF","bgcolor":"blue","icon":"","payload":"1","payloadType":"num","topic":"","x":220,"y":980,"wires":[["f8263692.d08da8"]]},{"id":"4b3ddbe7.91eae4","type":"function","z":"f15a84eb.884568","name":"ZOOM-OUT","func":"msg.payload = flow.get(\"ptz_zoom-out\");\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":1020,"wires":[["d15f4934.93ea98"]]},{"id":"1308101e.32305","type":"ui_button","z":"f15a84eb.884568","name":"ZOOM-OUT","group":"f7ae651b.b27568","order":0,"width":0,"height":0,"passthru":false,"label":"ZOOM-OUT","color":"#FFFFFF","bgcolor":"blue","icon":"","payload":"1","payloadType":"num","topic":"","x":230,"y":1020,"wires":[["4b3ddbe7.91eae4"]]},{"id":"1afbcda6.dfbe72","type":"function","z":"f15a84eb.884568","name":"STOP ZOOM","func":"msg.payload = flow.get(\"ptz_zoom_stop\");\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":1060,"wires":[["d15f4934.93ea98"]]},{"id":"2e2079d2.549726","type":"ui_button","z":"f15a84eb.884568","name":"STOP ZOOM","group":"f7ae651b.b27568","order":0,"width":0,"height":0,"passthru":false,"label":"STOP ZOOM","color":"#FFFFFF","bgcolor":"red","icon":"","payload":"1","payloadType":"num","topic":"","x":240,"y":1060,"wires":[["1afbcda6.dfbe72"]]},{"id":"addf310e.d203c","type":"ui_switch","z":"f15a84eb.884568","name":"Menu Display On/Off","label":"Menu Display ON/OFF","group":"7c91b6f8.a07ed8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":760,"y":80,"wires":[["29400727.6a07f8"]]},{"id":"29400727.6a07f8","type":"function","z":"f15a84eb.884568","name":"Menu Display ON/OFF","func":"var menu_msg = {};\nif(msg.payload){\n    menu_msg = { payload: flow.get(\"ptz_onscreen_on\")};\n}\nelse {\n    menu_msg = { payload: flow.get(\"ptz_onscreen_off\")};\n}\n\nreturn menu_msg;","outputs":1,"noerr":0,"x":980,"y":80,"wires":[["d15f4934.93ea98"]]},{"id":"6c8cc698.5191f8","type":"function","z":"f15a84eb.884568","name":"Iris UP","func":"msg.payload = flow.get(\"ptz_iris_up\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1191,"y":780,"wires":[["d15f4934.93ea98"]]},{"id":"61182e41.db17a","type":"ui_button","z":"f15a84eb.884568","name":"Iris UP","group":"2b503a41.386926","order":0,"width":0,"height":0,"passthru":false,"label":"Iris UP","color":"#FFFFFF","bgcolor":"purple","icon":"","payload":"1","payloadType":"num","topic":"","x":971,"y":780,"wires":[["6c8cc698.5191f8"]]},{"id":"be36db6e.7aec68","type":"function","z":"f15a84eb.884568","name":"Iris DOWN","func":"msg.payload = flow.get(\"ptz_iris_down\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1211,"y":820,"wires":[["d15f4934.93ea98"]]},{"id":"93b3c79c.c7f9b8","type":"ui_button","z":"f15a84eb.884568","name":"Iris DOWN","group":"2b503a41.386926","order":0,"width":0,"height":0,"passthru":false,"label":"Iris DOWN","color":"#FFFFFF","bgcolor":"purple","icon":"","payload":"1","payloadType":"num","topic":"","x":991,"y":820,"wires":[["be36db6e.7aec68"]]},{"id":"b9f69ff1.09891","type":"function","z":"f15a84eb.884568","name":"Gain UP","func":"msg.payload = flow.get(\"ptz_gain_up\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":860,"wires":[["d15f4934.93ea98"]]},{"id":"5a8e3cb8.c896a4","type":"ui_button","z":"f15a84eb.884568","name":"Gain UP","group":"2b503a41.386926","order":0,"width":0,"height":0,"passthru":false,"label":"Gain UP","color":"#FFFFFF","bgcolor":"purple","icon":"","payload":"1","payloadType":"num","topic":"","x":980,"y":860,"wires":[["b9f69ff1.09891"]]},{"id":"a393080a.e59518","type":"function","z":"f15a84eb.884568","name":"Gain DOWN","func":"msg.payload = flow.get(\"ptz_gain_down\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":900,"wires":[["d15f4934.93ea98"]]},{"id":"7191be92.fdb97","type":"ui_button","z":"f15a84eb.884568","name":"Gain DOWN","group":"2b503a41.386926","order":0,"width":0,"height":0,"passthru":false,"label":"Gain DOWN","color":"#FFFFFF","bgcolor":"purple","icon":"","payload":"1","payloadType":"num","topic":"","x":990,"y":900,"wires":[["a393080a.e59518"]]},{"id":"86c1dc87.6a6cc","type":"function","z":"f15a84eb.884568","name":"Shutter UP","func":"msg.payload = flow.get(\"ptz_shutter_up\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":940,"wires":[["d15f4934.93ea98"]]},{"id":"92ec3d08.ccdfc","type":"ui_button","z":"f15a84eb.884568","name":"Shutter UP","group":"2b503a41.386926","order":0,"width":0,"height":0,"passthru":false,"label":"Shutter UP","color":"#FFFFFF","bgcolor":"purple","icon":"","payload":"1","payloadType":"num","topic":"","x":990,"y":940,"wires":[["86c1dc87.6a6cc"]]},{"id":"91658d04.1b915","type":"function","z":"f15a84eb.884568","name":"Shutter DOWN","func":"msg.payload = flow.get(\"ptz_shutter_down\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":980,"wires":[["d15f4934.93ea98"]]},{"id":"dedc7240.19ae1","type":"ui_button","z":"f15a84eb.884568","name":"Shutter DOWN","group":"2b503a41.386926","order":0,"width":0,"height":0,"passthru":false,"label":"Shutter DOWN","color":"#FFFFFF","bgcolor":"purple","icon":"","payload":"1","payloadType":"num","topic":"","x":1000,"y":980,"wires":[["91658d04.1b915"]]},{"id":"6dce75b6.f0330c","type":"function","z":"f15a84eb.884568","name":"Bright UP","func":"msg.payload = flow.get(\"ptz_bright_up\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":1020,"wires":[["d15f4934.93ea98"]]},{"id":"1045e2ff.0511bd","type":"ui_button","z":"f15a84eb.884568","name":"Bright UP","group":"2b503a41.386926","order":0,"width":0,"height":0,"passthru":false,"label":"Bright UP","color":"#FFFFFF","bgcolor":"purple","icon":"","payload":"1","payloadType":"num","topic":"","x":980,"y":1020,"wires":[["6dce75b6.f0330c"]]},{"id":"3253a9ea.841946","type":"ui_button","z":"f15a84eb.884568","name":"Bright DOWN","group":"2b503a41.386926","order":0,"width":0,"height":0,"passthru":false,"label":"Bright DOWN","color":"#FFFFFF","bgcolor":"purple","icon":"","payload":"1","payloadType":"num","topic":"","x":1000,"y":1060,"wires":[["46570d42.6cdd94"]]},{"id":"f19753ab.e15ab","type":"function","z":"f15a84eb.884568","name":"Iris Priority","func":"msg.payload = flow.get(\"ptz_iris_priority\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1180,"wires":[["d15f4934.93ea98"]]},{"id":"f332ad5e.18ca8","type":"ui_button","z":"f15a84eb.884568","name":"Iris Priority","group":"7d63656f.2f5f1c","order":2,"width":0,"height":0,"passthru":false,"label":"Iris Priority","color":"#FFFFFF","bgcolor":"pink","icon":"","payload":"1","payloadType":"num","topic":"","x":990,"y":1180,"wires":[["f19753ab.e15ab"]]},{"id":"6811e136.e1746","type":"function","z":"f15a84eb.884568","name":"Shutter Priority","func":"msg.payload = flow.get(\"ptz_shutter_priority\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":1220,"wires":[["d15f4934.93ea98"]]},{"id":"b6e61f87.a94a5","type":"ui_button","z":"f15a84eb.884568","name":"Shutter Priority","group":"7d63656f.2f5f1c","order":3,"width":0,"height":0,"passthru":false,"label":"Shutter Priority","color":"#FFFFFF","bgcolor":"pink","icon":"","payload":"1","payloadType":"num","topic":"","x":1000,"y":1220,"wires":[["6811e136.e1746"]]},{"id":"1296f77c.2bc4d9","type":"function","z":"f15a84eb.884568","name":"Bright Mode","func":"msg.payload = flow.get(\"ptz_bright_mode\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1260,"wires":[["d15f4934.93ea98"]]},{"id":"bfab0.b70005508","type":"ui_button","z":"f15a84eb.884568","name":"Bright Mode","group":"7d63656f.2f5f1c","order":4,"width":0,"height":0,"passthru":false,"label":"Bright Mode","color":"#FFFFFF","bgcolor":"pink","icon":"","payload":"1","payloadType":"num","topic":"","x":990,"y":1260,"wires":[["1296f77c.2bc4d9"]]},{"id":"55b4d33b.6b936c","type":"function","z":"f15a84eb.884568","name":"Auto White Balance","func":"msg.payload = flow.get(\"ptz_awb\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":1340,"wires":[["d15f4934.93ea98"]]},{"id":"47e396a.45b8f68","type":"ui_button","z":"f15a84eb.884568","name":"Auto White Balance","group":"7d63656f.2f5f1c","order":6,"width":0,"height":0,"passthru":false,"label":"Auto White Balance","color":"#FFFFFF","bgcolor":"grey","icon":"","payload":"1","payloadType":"num","topic":"","x":950,"y":1340,"wires":[["55b4d33b.6b936c"]]},{"id":"4b8faac9.8a0074","type":"function","z":"f15a84eb.884568","name":"Full Auto","func":"msg.payload = flow.get(\"ptz_full_auto\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":1140,"wires":[["d15f4934.93ea98"]]},{"id":"1ed58811.7e1008","type":"ui_button","z":"f15a84eb.884568","name":"Full Auto","group":"7d63656f.2f5f1c","order":1,"width":0,"height":0,"passthru":false,"label":"Full Auto","color":"#FFFFFF","bgcolor":"pink","icon":"","payload":"1","payloadType":"num","topic":"","x":980,"y":1140,"wires":[["4b8faac9.8a0074"]]},{"id":"a59a895d.a878e8","type":"function","z":"f15a84eb.884568","name":"1-touch White Balance","func":"msg.payload = flow.get(\"ptz_onetouch_wb\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":1380,"wires":[["d15f4934.93ea98"]]},{"id":"9ece2c4e.7d7a4","type":"ui_button","z":"f15a84eb.884568","name":"1-touch White Balance","group":"7d63656f.2f5f1c","order":7,"width":0,"height":0,"passthru":false,"label":"1-touch White Balance","color":"#FFFFFF","bgcolor":"grey","icon":"","payload":"1","payloadType":"num","topic":"","x":960,"y":1380,"wires":[["a59a895d.a878e8"]]},{"id":"6f573723.e15298","type":"function","z":"f15a84eb.884568","name":"1-touch White Bal. Trigger","func":"msg.payload = flow.get(\"ptz_onetouch_wb_trigger\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1420,"wires":[["d15f4934.93ea98"]]},{"id":"b3c11c43.4e544","type":"ui_button","z":"f15a84eb.884568","name":"1-touch White Bal Trigger","group":"7d63656f.2f5f1c","order":8,"width":0,"height":0,"passthru":false,"label":"1-touch White Bal Trigger","color":"#FFFFFF","bgcolor":"grey","icon":"","payload":"1","payloadType":"num","topic":"","x":970,"y":1420,"wires":[["6f573723.e15298"]]},{"id":"f2614172.d3a77","type":"function","z":"f15a84eb.884568","name":"Manual White Balance","func":"msg.payload = flow.get(\"ptz_manual_wb\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":1460,"wires":[["d15f4934.93ea98"]]},{"id":"7cacf197.42262","type":"ui_button","z":"f15a84eb.884568","name":"Manual White Balance","group":"7d63656f.2f5f1c","order":9,"width":0,"height":0,"passthru":false,"label":"Manual White Balance","color":"#FFFFFF","bgcolor":"grey","icon":"","payload":"1","payloadType":"num","topic":"","x":960,"y":1460,"wires":[["f2614172.d3a77"]]},{"id":"309bd2d3.259cce","type":"function","z":"f15a84eb.884568","name":"Manual Exposure","func":"msg.payload = flow.get(\"ptz_manual_exposure\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":1500,"wires":[["d15f4934.93ea98"]]},{"id":"95940fc8.42b29","type":"ui_button","z":"f15a84eb.884568","name":"Manual Exposure","group":"7d63656f.2f5f1c","order":5,"width":0,"height":0,"passthru":false,"label":"Manual Exposure","color":"#FFFFFF","bgcolor":"grey","icon":"","payload":"1","payloadType":"num","topic":"","x":950,"y":1500,"wires":[["309bd2d3.259cce"]]},{"id":"54c8b5b.a42924c","type":"function","z":"f15a84eb.884568","name":"FX Off","func":"msg.payload = flow.get(\"ptz_fx_off\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":1620,"wires":[["d15f4934.93ea98"]]},{"id":"7820a11.edd986","type":"ui_button","z":"f15a84eb.884568","name":"FX Off","group":"2b503a41.386926","order":0,"width":0,"height":0,"passthru":false,"label":"FX Off","color":"#FFFFFF","bgcolor":"black","icon":"","payload":"1","payloadType":"num","topic":"","x":910,"y":1620,"wires":[["54c8b5b.a42924c"]]},{"id":"ca2cba70.4fb6d8","type":"function","z":"f15a84eb.884568","name":"FX Negative","func":"msg.payload = flow.get(\"ptz_fx_neg\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":1660,"wires":[["d15f4934.93ea98"]]},{"id":"92ef7f28.474e3","type":"ui_button","z":"f15a84eb.884568","name":"FX Negative","group":"2b503a41.386926","order":0,"width":0,"height":0,"passthru":false,"label":"FX Negative","color":"#FFFFFF","bgcolor":"black","icon":"","payload":"1","payloadType":"num","topic":"","x":930,"y":1660,"wires":[["ca2cba70.4fb6d8"]]},{"id":"69945446.0d0c0c","type":"function","z":"f15a84eb.884568","name":"FX Black & White","func":"msg.payload = flow.get(\"ptz_fx_bw\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":1700,"wires":[["d15f4934.93ea98"]]},{"id":"8fa59a97.57d6b8","type":"ui_button","z":"f15a84eb.884568","name":"FX Black & White","group":"2b503a41.386926","order":0,"width":0,"height":0,"passthru":false,"label":"FX Black & White","color":"#FFFFFF","bgcolor":"black","icon":"","payload":"1","payloadType":"num","topic":"","x":950,"y":1700,"wires":[["69945446.0d0c0c"]]},{"id":"af5bbfb6.5cdf4","type":"ui_group","z":"","name":"PTZ Recall Presets","tab":"f5dfc97e.529808","order":5,"disp":true,"width":"6","collapse":false},{"id":"36696ac2.f5d396","type":"ui_group","z":"","name":"PTZ Save Presets","tab":"f5dfc97e.529808","order":6,"disp":true,"width":"6","collapse":false},{"id":"7c91b6f8.a07ed8","type":"ui_group","z":"","name":"PTZ Utilities","tab":"f5dfc97e.529808","order":1,"disp":true,"width":"6","collapse":false},{"id":"f7ae651b.b27568","type":"ui_group","z":"","name":"Pan-Tilt-Zoom","tab":"f5dfc97e.529808","order":2,"disp":true,"width":"6","collapse":false},{"id":"2b503a41.386926","type":"ui_group","z":"","name":"Image FX","tab":"f5dfc97e.529808","order":4,"disp":true,"width":"6","collapse":false},{"id":"7d63656f.2f5f1c","type":"ui_group","z":"","name":"Image Modes","tab":"f5dfc97e.529808","order":3,"disp":true,"width":"6","collapse":false},{"id":"f5dfc97e.529808","type":"ui_tab","z":"","name":"PTZ Camera 1","icon":"dashboard","order":1}]