PTZ_CAMERA_2_v1.json
[{"id":"11e7cc30.0bd454","type":"inject","z":"2057e882.e0d458","name":"store global PTZ variables","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":140,"y":40,"wires":[["689870c1.42808"]]},{"id":"fe33b37a.1a903","type":"udp out","z":"2057e882.e0d458","name":"CAM2","addr":"192.168.0.200","iface":"","port":"52381","ipv":"udp4","outport":"5250","base64":false,"multicast":"false","x":2250,"y":1040,"wires":[]},{"id":"f93425f7.6b7a28","type":"function","z":"2057e882.e0d458","name":"Recall Preset 1","func":"msg.payload = flow.get(\"recall_preset_1\");\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":140,"wires":[["c3b5ce99.bd306"]]},{"id":"c3b5ce99.bd306","type":"function","z":"2057e882.e0d458","name":"format with init message","func":"var m = [];\n\nm[0] = { payload: flow.get(\"ptz_init\") };\n\nm[1] = { payload: msg.payload };\n\nreturn m;","outputs":2,"noerr":0,"x":1990,"y":1040,"wires":[["fe33b37a.1a903"],["fe33b37a.1a903"]]},{"id":"689870c1.42808","type":"function","z":"2057e882.e0d458","name":"FLOW PTZ CONTROL VARIABLES","func":"flow.set(\"ptz_init\", Buffer.from('020000010000000001', 'hex'));\n\nflow.set(\"recall_preset_1\", Buffer.from('01000007000000648101043f0200ff', 'hex'));\nflow.set(\"recall_preset_2\", Buffer.from('01000007000000648101043f0201ff', 'hex'));\nflow.set(\"recall_preset_3\", Buffer.from('01000007000000648101043f0202ff', 'hex'));\nflow.set(\"recall_preset_4\", Buffer.from('01000007000000648101043f0203ff', 'hex'));\nflow.set(\"recall_preset_5\", Buffer.from('01000007000000648101043f0204ff', 'hex'));\nflow.set(\"recall_preset_6\", Buffer.from('01000007000000648101043f0205ff', 'hex'));\n\nflow.set(\"save_preset_1\", Buffer.from('01000007000000108101043f0100ff', 'hex'));\nflow.set(\"save_preset_2\", Buffer.from('01000007000000108101043f0101ff', 'hex'));\nflow.set(\"save_preset_3\", Buffer.from('01000007000000108101043f0102ff', 'hex'));\nflow.set(\"save_preset_4\", Buffer.from('01000007000000108101043f0103ff', 'hex'));\nflow.set(\"save_preset_5\", Buffer.from('01000007000000108101043f0104ff', 'hex'));\nflow.set(\"save_preset_6\", Buffer.from('01000007000000108101043f0105ff', 'hex'));\n\nflow.set('ptz_on', Buffer.from('010000060000000c8101040002ff', 'hex'));\nflow.set('ptz_off', Buffer.from('010000060000000c8101040003ff', 'hex'));\n\nflow.set('ptz_up_left', Buffer.from('0100000900000099810106010c080101ff', 'hex'));\nflow.set('ptz_up', Buffer.from('010000090000009b810106010c080301ff', 'hex'));\nflow.set('ptz_up_right', Buffer.from('010000090000009d810106010c080201ff', 'hex'));\nflow.set('ptz_left', Buffer.from('01000009000000a3810106010c080103ff', 'hex'));\nflow.set('ptz_right', Buffer.from('01000009000000a5810106010c080203ff', 'hex'));\nflow.set('ptz_down_left', Buffer.from('01000009000000a7810106010c080102ff', 'hex'));\nflow.set('ptz_down', Buffer.from('01000009000000a9810106010c080302ff', 'hex'));\nflow.set('ptz_down_right', Buffer.from('01000009000000ab810106010c080202ff', 'hex'));\nflow.set('ptz_stop', Buffer.from('01000009000000ac810106010c080303ff', 'hex'));\n\nflow.set('ptz_zoom_in', Buffer.from('01000006000000b78101040723ff', 'hex'));\nflow.set('ptz_zoom_out', Buffer.from('01000006000000b98101040733ff', 'hex'));\nflow.set('ptz_zoom_stop', Buffer.from('01000006000000ba8101040700ff', 'hex'));\n\nflow.set('ptz_iris_up', Buffer.from('01000006000003148101040b02ff', 'hex'));\nflow.set('ptz_iris_down', Buffer.from('01000006000003168101040b03ff', 'hex'));\nflow.set('ptz_shutter_up', Buffer.from('01000006000003148101040a02ff', 'hex'));\nflow.set('ptz_shutter_down', Buffer.from('01000006000003168101040a03ff', 'hex'));\nflow.set('ptz_gain_up', Buffer.from('01000006000003148101040c02ff', 'hex'));\nflow.set('ptz_gain_down', Buffer.from('01000006000003168101040c03ff', 'hex'));\nflow.set('ptz_iris_priority', Buffer.from('0100000600000009810104390Bff', 'hex'));\nflow.set('ptz_shutter_priority', Buffer.from('0100000600000009810104390Aff', 'hex'));\nflow.set('ptz_bright_mode', Buffer.from('0100000600000009810104390Dff', 'hex'));\nflow.set('ptz_bright_up', Buffer.from('01000006000000098101040D02ff', 'hex'));\nflow.set('ptz_bright_down', Buffer.from('01000006000000098101040D03ff', 'hex'));\nflow.set('ptz_awb', Buffer.from('01000006000003148101043500ff', 'hex'));\nflow.set('ptz_onetouch_wb', Buffer.from('01000006000003148101043503ff', 'hex'));\nflow.set('ptz_onetouch_wb_trigger', Buffer.from('01000006000003148101041005ff', 'hex'));   \nflow.set('ptz_manual_wb', Buffer.from('01000006000003148101043505ff', 'hex'));\nflow.set('ptz_full_auto', Buffer.from('01000006000000098101043900ff', 'hex'));\nflow.set('ptz_manual_exposure', Buffer.from('01000006000003168101043903ff', 'hex'));\nflow.set('ptz_fx_off', Buffer.from('01000006000003148101046300ff', 'hex'));\nflow.set('ptz_fx_neg', Buffer.from('01000006000000098101046302ff', 'hex'));\nflow.set('ptz_fx_bw', Buffer.from('01000006000003168101046304ff', 'hex'));\n\nflow.set('ptz_onscreen_on', Buffer.from('010000060000000c81017e011802ff', 'hex'));\nflow.set('ptz_onscreen_off', Buffer.from('010000060000000c81017e011803ff', 'hex'));\n","outputs":1,"noerr":0,"x":450,"y":40,"wires":[[]]},{"id":"393998d6.b3b348","type":"ui_button","z":"2057e882.e0d458","name":"Recall Preset 1","group":"46fe4902.f25ed8","order":0,"width":0,"height":0,"passthru":false,"label":"Recall Preset 1","color":"#FFFFFF","bgcolor":"green","icon":"","payload":"1","payloadType":"num","topic":"","x":260,"y":140,"wires":[["f93425f7.6b7a28"]]},{"id":"8c884e6c.ccfbb","type":"function","z":"2057e882.e0d458","name":"Recall Preset 2","func":"msg.payload = flow.get(\"recall_preset_2\");\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":220,"wires":[["c3b5ce99.bd306"]]},{"id":"4f9cfc02.f98954","type":"ui_button","z":"2057e882.e0d458","name":"Recall Preset 2","group":"46fe4902.f25ed8","order":0,"width":0,"height":0,"passthru":false,"label":"Recall Preset 2","color":"#FFFFFF","bgcolor":"green","icon":"","payload":"1","payloadType":"num","topic":"","x":260,"y":220,"wires":[["8c884e6c.ccfbb"]]},{"id":"4e5e64f7.a9ce4c","type":"function","z":"2057e882.e0d458","name":"Recall Preset 3","func":"msg.payload = flow.get(\"recall_preset_3\");\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":300,"wires":[["c3b5ce99.bd306"]]},{"id":"252bc934.0ca856","type":"ui_button","z":"2057e882.e0d458","name":"Recall Preset 3","group":"46fe4902.f25ed8","order":0,"width":0,"height":0,"passthru":false,"label":"Recall Preset 3","color":"#FFFFFF","bgcolor":"green","icon":"","payload":"1","payloadType":"num","topic":"","x":260,"y":300,"wires":[["4e5e64f7.a9ce4c"]]},{"id":"2d808a0.5595c76","type":"function","z":"2057e882.e0d458","name":"Recall Preset 4","func":"msg.payload = flow.get(\"recall_preset_4\");\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":380,"wires":[["c3b5ce99.bd306"]]},{"id":"79fe7d9.2573d84","type":"ui_button","z":"2057e882.e0d458","name":"Recall Preset 4","group":"46fe4902.f25ed8","order":0,"width":0,"height":0,"passthru":false,"label":"Recall Preset 4","color":"#FFFFFF","bgcolor":"green","icon":"","payload":"1","payloadType":"num","topic":"","x":260,"y":380,"wires":[["2d808a0.5595c76"]]},{"id":"3c68f9b8.f0c756","type":"function","z":"2057e882.e0d458","name":"Recall Preset 5","func":"msg.payload = flow.get(\"recall_preset_5\");\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":460,"wires":[["c3b5ce99.bd306"]]},{"id":"efb7ef7e.149c5","type":"ui_button","z":"2057e882.e0d458","name":"Recall Preset 5","group":"46fe4902.f25ed8","order":0,"width":0,"height":0,"passthru":false,"label":"Recall Preset 5","color":"#FFFFFF","bgcolor":"green","icon":"","payload":"1","payloadType":"num","topic":"","x":260,"y":460,"wires":[["3c68f9b8.f0c756"]]},{"id":"f86ccb5e.563428","type":"function","z":"2057e882.e0d458","name":"Recall Preset 6","func":"msg.payload = flow.get(\"recall_preset_6\");\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":540,"wires":[["c3b5ce99.bd306"]]},{"id":"eccec97f.ca6098","type":"ui_button","z":"2057e882.e0d458","name":"Recall Preset 6","group":"46fe4902.f25ed8","order":0,"width":0,"height":0,"passthru":false,"label":"Recall Preset 6","color":"#FFFFFF","bgcolor":"green","icon":"","payload":"1","payloadType":"num","topic":"","x":260,"y":540,"wires":[["f86ccb5e.563428"]]},{"id":"c2b51a5a.599168","type":"function","z":"2057e882.e0d458","name":"Save Preset 1","func":"msg.payload = flow.get(\"save_preset_1\");\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":100,"wires":[["c3b5ce99.bd306"]]},{"id":"b3890747.9ab998","type":"ui_button","z":"2057e882.e0d458","name":"Save Preset 1","group":"ae526e18.5ea7","order":0,"width":0,"height":0,"passthru":false,"label":"Save Preset 1","color":"#FFFFFF","bgcolor":"red","icon":"","payload":"1","payloadType":"num","topic":"","x":260,"y":100,"wires":[["c2b51a5a.599168"]]},{"id":"d46001b4.04997","type":"function","z":"2057e882.e0d458","name":"Save Preset 2","func":"msg.payload = flow.get(\"save_preset_2\");\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":180,"wires":[["c3b5ce99.bd306"]]},{"id":"db73a385.756a1","type":"ui_button","z":"2057e882.e0d458","name":"Save Preset 2","group":"ae526e18.5ea7","order":0,"width":0,"height":0,"passthru":false,"label":"Save Preset 2","color":"#FFFFFF","bgcolor":"red","icon":"","payload":"1","payloadType":"num","topic":"","x":260,"y":180,"wires":[["d46001b4.04997"]]},{"id":"6fe737c8.25a138","type":"function","z":"2057e882.e0d458","name":"Save Preset 3","func":"msg.payload = flow.get(\"save_preset_3\");\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":260,"wires":[["c3b5ce99.bd306"]]},{"id":"a549de1e.f2e12","type":"ui_button","z":"2057e882.e0d458","name":"Save Preset 3","group":"ae526e18.5ea7","order":0,"width":0,"height":0,"passthru":false,"label":"Save Preset 3","color":"#FFFFFF","bgcolor":"red","icon":"","payload":"1","payloadType":"num","topic":"","x":260,"y":260,"wires":[["6fe737c8.25a138"]]},{"id":"8137aad4.9d2378","type":"function","z":"2057e882.e0d458","name":"Save Preset 4","func":"msg.payload = flow.get(\"save_preset_4\");\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":340,"wires":[["c3b5ce99.bd306"]]},{"id":"4678531e.49112c","type":"ui_button","z":"2057e882.e0d458","name":"Save Preset 4","group":"ae526e18.5ea7","order":0,"width":0,"height":0,"passthru":false,"label":"Save Preset 4","color":"#FFFFFF","bgcolor":"red","icon":"","payload":"1","payloadType":"num","topic":"","x":260,"y":340,"wires":[["8137aad4.9d2378"]]},{"id":"2b9597c.6e02a68","type":"function","z":"2057e882.e0d458","name":"Save Preset 5","func":"msg.payload = flow.get(\"save_preset_5\");\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":420,"wires":[["c3b5ce99.bd306"]]},{"id":"e8250c54.a1cd7","type":"ui_button","z":"2057e882.e0d458","name":"Save Preset 5","group":"ae526e18.5ea7","order":0,"width":0,"height":0,"passthru":false,"label":"Save Preset 5","color":"#FFFFFF","bgcolor":"red","icon":"","payload":"1","payloadType":"num","topic":"","x":260,"y":420,"wires":[["2b9597c.6e02a68"]]},{"id":"aeb85e23.8dc18","type":"function","z":"2057e882.e0d458","name":"Save Preset 6","func":"msg.payload = flow.get(\"save_preset_6\");\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":500,"wires":[["c3b5ce99.bd306"]]},{"id":"4bf76dad.275bc4","type":"ui_button","z":"2057e882.e0d458","name":"Save Preset 6","group":"ae526e18.5ea7","order":0,"width":0,"height":0,"passthru":false,"label":"Save Preset 6","color":"#FFFFFF","bgcolor":"red","icon":"","payload":"1","payloadType":"num","topic":"","x":260,"y":500,"wires":[["aeb85e23.8dc18"]]},{"id":"2cd9fd15.dc5bc2","type":"ui_switch","z":"2057e882.e0d458","name":"PTZ On/Off","label":"Power ON/OFF","group":"c6a9c771.0a3ef8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":750,"y":40,"wires":[["10d21e51.57a552"]]},{"id":"10d21e51.57a552","type":"function","z":"2057e882.e0d458","name":"Power On/Off","func":"var power_msg = {};\nif(msg.payload){\n    power_msg = { payload: flow.get(\"ptz_on\")};\n}\nelse {\n    power_msg = { payload: flow.get(\"ptz_off\")};\n}\n\nreturn power_msg;","outputs":1,"noerr":0,"x":980,"y":40,"wires":[["c3b5ce99.bd306"]]},{"id":"8f241469.3ccd98","type":"function","z":"2057e882.e0d458","name":"UP-LEFT","func":"msg.payload = flow.get(\"ptz_up_left\");\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":600,"wires":[["c3b5ce99.bd306"]]},{"id":"d3be5fb2.d7c41","type":"ui_button","z":"2057e882.e0d458","name":"UP-LEFT","group":"684a12df.665b0c","order":0,"width":0,"height":0,"passthru":false,"label":"UP-LEFT","color":"#FFFFFF","bgcolor":"orange","icon":"","payload":"1","payloadType":"num","topic":"","x":240,"y":600,"wires":[["8f241469.3ccd98"]]},{"id":"8b1e7e7b.c092d","type":"function","z":"2057e882.e0d458","name":"UP","func":"msg.payload = flow.get(\"ptz_up\");\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":640,"wires":[["c3b5ce99.bd306"]]},{"id":"e652418d.f93b9","type":"ui_button","z":"2057e882.e0d458","name":"UP","group":"684a12df.665b0c","order":0,"width":0,"height":0,"passthru":false,"label":"UP","color":"#FFFFFF","bgcolor":"orange","icon":"","payload":"1","payloadType":"num","topic":"","x":230,"y":640,"wires":[["8b1e7e7b.c092d"]]},{"id":"772f2453.4e117c","type":"function","z":"2057e882.e0d458","name":"UP-RIGHT","func":"msg.payload = flow.get(\"ptz_up_right\");\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":680,"wires":[["c3b5ce99.bd306"]]},{"id":"5317ac78.a6d004","type":"ui_button","z":"2057e882.e0d458","name":"UP-RIGHT","group":"684a12df.665b0c","order":0,"width":0,"height":0,"passthru":false,"label":"UP-RIGHT","color":"#FFFFFF","bgcolor":"orange","icon":"","payload":"1","payloadType":"num","topic":"","x":250,"y":680,"wires":[["772f2453.4e117c"]]},{"id":"b0995b9e.e72b38","type":"function","z":"2057e882.e0d458","name":"LEFT","func":"msg.payload = flow.get(\"ptz_left\");\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":720,"wires":[["c3b5ce99.bd306"]]},{"id":"b4993226.71633","type":"ui_button","z":"2057e882.e0d458","name":"LEFT","group":"684a12df.665b0c","order":0,"width":0,"height":0,"passthru":false,"label":"LEFT","color":"#FFFFFF","bgcolor":"orange","icon":"","payload":"1","payloadType":"num","topic":"","x":230,"y":720,"wires":[["b0995b9e.e72b38"]]},{"id":"3af3848f.85459c","type":"function","z":"2057e882.e0d458","name":"RIGHT","func":"msg.payload = flow.get(\"ptz_right\");\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":760,"wires":[["c3b5ce99.bd306"]]},{"id":"1291d50e.97329b","type":"ui_button","z":"2057e882.e0d458","name":"RIGHT","group":"684a12df.665b0c","order":0,"width":0,"height":0,"passthru":false,"label":"RIGHT","color":"#FFFFFF","bgcolor":"orange","icon":"","payload":"1","payloadType":"num","topic":"","x":230,"y":760,"wires":[["3af3848f.85459c"]]},{"id":"9da70086.1aad9","type":"function","z":"2057e882.e0d458","name":"DOWN-LEFT","func":"msg.payload = flow.get(\"ptz_down_left\");\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":800,"wires":[["c3b5ce99.bd306"]]},{"id":"d9a811a6.e759f","type":"ui_button","z":"2057e882.e0d458","name":"DOWN-LEFT","group":"684a12df.665b0c","order":0,"width":0,"height":0,"passthru":false,"label":"DOWN-LEFT","color":"#FFFFFF","bgcolor":"orange","icon":"","payload":"1","payloadType":"num","topic":"","x":250,"y":800,"wires":[["9da70086.1aad9"]]},{"id":"efe740e9.777fc","type":"function","z":"2057e882.e0d458","name":"DOWN","func":"msg.payload = flow.get(\"ptz_down\");\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":840,"wires":[["c3b5ce99.bd306"]]},{"id":"43ae4c39.775564","type":"ui_button","z":"2057e882.e0d458","name":"DOWN","group":"684a12df.665b0c","order":0,"width":0,"height":0,"passthru":false,"label":"DOWN","color":"#FFFFFF","bgcolor":"orange","icon":"","payload":"1","payloadType":"num","topic":"","x":240,"y":840,"wires":[["efe740e9.777fc"]]},{"id":"19f5656a.4c3c0b","type":"function","z":"2057e882.e0d458","name":"DOWN-RIGHT","func":"msg.payload = flow.get(\"ptz_down_right\");\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":880,"wires":[["c3b5ce99.bd306"]]},{"id":"f88e0233.f27b7","type":"ui_button","z":"2057e882.e0d458","name":"DOWN-RIGHT","group":"684a12df.665b0c","order":0,"width":0,"height":0,"passthru":false,"label":"DOWN-RIGHT","color":"#FFFFFF","bgcolor":"orange","icon":"","payload":"1","payloadType":"num","topic":"","x":260,"y":880,"wires":[["19f5656a.4c3c0b"]]},{"id":"42f58934.44bf48","type":"function","z":"2057e882.e0d458","name":"STOP","func":"msg.payload = flow.get(\"ptz_stop\");\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":940,"wires":[["c3b5ce99.bd306"]]},{"id":"d3b66cef.b1684","type":"ui_button","z":"2057e882.e0d458","name":"STOP","group":"684a12df.665b0c","order":0,"width":0,"height":0,"passthru":false,"label":"STOP","color":"#FFFFFF","bgcolor":"red","icon":"","payload":"1","payloadType":"num","topic":"","x":230,"y":940,"wires":[["42f58934.44bf48"]]},{"id":"80ef1fe4.ab70b","type":"function","z":"2057e882.e0d458","name":"ZOOM-IN","func":"msg.payload = flow.get(\"ptz_zoom-in\");\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":980,"wires":[["c3b5ce99.bd306"]]},{"id":"d61563b0.68278","type":"ui_button","z":"2057e882.e0d458","name":"ZOOM-IN","group":"684a12df.665b0c","order":0,"width":0,"height":0,"passthru":false,"label":"ZOOM-IN","color":"#FFFFFF","bgcolor":"blue","icon":"","payload":"1","payloadType":"num","topic":"","x":240,"y":980,"wires":[["80ef1fe4.ab70b"]]},{"id":"334cd25.297712e","type":"function","z":"2057e882.e0d458","name":"ZOOM-OUT","func":"msg.payload = flow.get(\"ptz_zoom-out\");\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":1020,"wires":[["c3b5ce99.bd306"]]},{"id":"fe2af625.6e8dd8","type":"ui_button","z":"2057e882.e0d458","name":"ZOOM-OUT","group":"684a12df.665b0c","order":0,"width":0,"height":0,"passthru":false,"label":"ZOOM-OUT","color":"#FFFFFF","bgcolor":"blue","icon":"","payload":"1","payloadType":"num","topic":"","x":250,"y":1020,"wires":[["334cd25.297712e"]]},{"id":"36849b7e.af75a4","type":"function","z":"2057e882.e0d458","name":"STOP ZOOM","func":"msg.payload = flow.get(\"ptz_zoom_stop\");\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":1060,"wires":[["c3b5ce99.bd306"]]},{"id":"6d934c69.053024","type":"ui_button","z":"2057e882.e0d458","name":"STOP ZOOM","group":"684a12df.665b0c","order":0,"width":0,"height":0,"passthru":false,"label":"STOP ZOOM","color":"#FFFFFF","bgcolor":"red","icon":"","payload":"1","payloadType":"num","topic":"","x":260,"y":1060,"wires":[["36849b7e.af75a4"]]},{"id":"bb244d06.2ea4f","type":"ui_switch","z":"2057e882.e0d458","name":"Menu Display On/Off","label":"Menu Display ON/OFF","group":"c6a9c771.0a3ef8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":780,"y":80,"wires":[["270e0b45.4c28f4"]]},{"id":"270e0b45.4c28f4","type":"function","z":"2057e882.e0d458","name":"Menu Display ON/OFF","func":"var menu_msg = {};\nif(msg.payload){\n    menu_msg = { payload: flow.get(\"ptz_onscreen_on\")};\n}\nelse {\n    menu_msg = { payload: flow.get(\"ptz_onscreen_off\")};\n}\n\nreturn menu_msg;","outputs":1,"noerr":0,"x":1000,"y":80,"wires":[["c3b5ce99.bd306"]]},{"id":"e77bf4e9.9d1778","type":"function","z":"2057e882.e0d458","name":"Iris UP","func":"msg.payload = flow.get(\"ptz_iris_up\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1211,"y":780,"wires":[["c3b5ce99.bd306"]]},{"id":"7175e92.1080818","type":"ui_button","z":"2057e882.e0d458","name":"Iris UP","group":"42f6732.b676d8c","order":0,"width":0,"height":0,"passthru":false,"label":"Iris UP","color":"#FFFFFF","bgcolor":"purple","icon":"","payload":"1","payloadType":"num","topic":"","x":991,"y":780,"wires":[["e77bf4e9.9d1778"]]},{"id":"8b1a0566.f4bca8","type":"function","z":"2057e882.e0d458","name":"Iris DOWN","func":"msg.payload = flow.get(\"ptz_iris_down\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1231,"y":820,"wires":[["c3b5ce99.bd306"]]},{"id":"563cb69a.f284a8","type":"ui_button","z":"2057e882.e0d458","name":"Iris DOWN","group":"42f6732.b676d8c","order":0,"width":0,"height":0,"passthru":false,"label":"Iris DOWN","color":"#FFFFFF","bgcolor":"purple","icon":"","payload":"1","payloadType":"num","topic":"","x":1011,"y":820,"wires":[["8b1a0566.f4bca8"]]},{"id":"d77da84.27ebd58","type":"function","z":"2057e882.e0d458","name":"Gain UP","func":"msg.payload = flow.get(\"ptz_gain_up\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":860,"wires":[["c3b5ce99.bd306"]]},{"id":"a13da22c.1b2ed","type":"ui_button","z":"2057e882.e0d458","name":"Gain UP","group":"42f6732.b676d8c","order":0,"width":0,"height":0,"passthru":false,"label":"Gain UP","color":"#FFFFFF","bgcolor":"purple","icon":"","payload":"1","payloadType":"num","topic":"","x":1000,"y":860,"wires":[["d77da84.27ebd58"]]},{"id":"c6da3528.ad04c8","type":"function","z":"2057e882.e0d458","name":"Gain DOWN","func":"msg.payload = flow.get(\"ptz_gain_down\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":900,"wires":[["c3b5ce99.bd306"]]},{"id":"b65e2ae8.a48f48","type":"ui_button","z":"2057e882.e0d458","name":"Gain DOWN","group":"42f6732.b676d8c","order":0,"width":0,"height":0,"passthru":false,"label":"Gain DOWN","color":"#FFFFFF","bgcolor":"purple","icon":"","payload":"1","payloadType":"num","topic":"","x":1010,"y":900,"wires":[["c6da3528.ad04c8"]]},{"id":"e162abdf.ee4258","type":"function","z":"2057e882.e0d458","name":"Shutter UP","func":"msg.payload = flow.get(\"ptz_shutter_up\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":940,"wires":[["c3b5ce99.bd306"]]},{"id":"5b5bcd1a.624244","type":"ui_button","z":"2057e882.e0d458","name":"Shutter UP","group":"42f6732.b676d8c","order":0,"width":0,"height":0,"passthru":false,"label":"Shutter UP","color":"#FFFFFF","bgcolor":"purple","icon":"","payload":"1","payloadType":"num","topic":"","x":1010,"y":940,"wires":[["e162abdf.ee4258"]]},{"id":"9d573d3d.dc79c","type":"function","z":"2057e882.e0d458","name":"Shutter DOWN","func":"msg.payload = flow.get(\"ptz_shutter_down\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":980,"wires":[["c3b5ce99.bd306"]]},{"id":"be8a9b04.aa90c8","type":"ui_button","z":"2057e882.e0d458","name":"Shutter DOWN","group":"42f6732.b676d8c","order":0,"width":0,"height":0,"passthru":false,"label":"Shutter DOWN","color":"#FFFFFF","bgcolor":"purple","icon":"","payload":"1","payloadType":"num","topic":"","x":1020,"y":980,"wires":[["9d573d3d.dc79c"]]},{"id":"3463c3d4.4c226c","type":"function","z":"2057e882.e0d458","name":"Bright UP","func":"msg.payload = flow.get(\"ptz_bright_up\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":1020,"wires":[["c3b5ce99.bd306"]]},{"id":"67c8b1d9.ddf19","type":"ui_button","z":"2057e882.e0d458","name":"Bright UP","group":"42f6732.b676d8c","order":0,"width":0,"height":0,"passthru":false,"label":"Bright UP","color":"#FFFFFF","bgcolor":"purple","icon":"","payload":"1","payloadType":"num","topic":"","x":1000,"y":1020,"wires":[["3463c3d4.4c226c"]]},{"id":"719cde77.89325","type":"function","z":"2057e882.e0d458","name":"Bright DOWN","func":"msg.payload = flow.get(\"ptz_bright_down\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":1060,"wires":[["c3b5ce99.bd306"]]},{"id":"d15b8e75.4d66b","type":"ui_button","z":"2057e882.e0d458","name":"Bright DOWN","group":"42f6732.b676d8c","order":0,"width":0,"height":0,"passthru":false,"label":"Bright DOWN","color":"#FFFFFF","bgcolor":"purple","icon":"","payload":"1","payloadType":"num","topic":"","x":1020,"y":1060,"wires":[["719cde77.89325"]]},{"id":"df84c309.26277","type":"function","z":"2057e882.e0d458","name":"Iris Priority","func":"msg.payload = flow.get(\"ptz_iris_priority\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":1180,"wires":[["c3b5ce99.bd306"]]},{"id":"60ad76df.6cdff8","type":"ui_button","z":"2057e882.e0d458","name":"Iris Priority","group":"ff3e87f3.deae78","order":2,"width":0,"height":0,"passthru":false,"label":"Iris Priority","color":"#FFFFFF","bgcolor":"pink","icon":"","payload":"1","payloadType":"num","topic":"","x":1010,"y":1180,"wires":[["df84c309.26277"]]},{"id":"e89c40a5.098c9","type":"function","z":"2057e882.e0d458","name":"Shutter Priority","func":"msg.payload = flow.get(\"ptz_shutter_priority\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":1220,"wires":[["c3b5ce99.bd306"]]},{"id":"b121b903.d85228","type":"ui_button","z":"2057e882.e0d458","name":"Shutter Priority","group":"ff3e87f3.deae78","order":3,"width":0,"height":0,"passthru":false,"label":"Shutter Priority","color":"#FFFFFF","bgcolor":"pink","icon":"","payload":"1","payloadType":"num","topic":"","x":1020,"y":1220,"wires":[["e89c40a5.098c9"]]},{"id":"d92ca9ec.da13c8","type":"function","z":"2057e882.e0d458","name":"Bright Mode","func":"msg.payload = flow.get(\"ptz_bright_mode\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":1260,"wires":[["c3b5ce99.bd306"]]},{"id":"697de29d.70fd4c","type":"ui_button","z":"2057e882.e0d458","name":"Bright Mode","group":"ff3e87f3.deae78","order":4,"width":0,"height":0,"passthru":false,"label":"Bright Mode","color":"#FFFFFF","bgcolor":"pink","icon":"","payload":"1","payloadType":"num","topic":"","x":1010,"y":1260,"wires":[["d92ca9ec.da13c8"]]},{"id":"1875300f.6fed2","type":"function","z":"2057e882.e0d458","name":"Auto White Balance","func":"msg.payload = flow.get(\"ptz_awb\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1340,"wires":[["c3b5ce99.bd306"]]},{"id":"2ff72300.fbcb5c","type":"ui_button","z":"2057e882.e0d458","name":"Auto White Balance","group":"ff3e87f3.deae78","order":6,"width":0,"height":0,"passthru":false,"label":"Auto White Balance","color":"#FFFFFF","bgcolor":"grey","icon":"","payload":"1","payloadType":"num","topic":"","x":970,"y":1340,"wires":[["1875300f.6fed2"]]},{"id":"f28aa0f.5a6536","type":"function","z":"2057e882.e0d458","name":"Full Auto","func":"msg.payload = flow.get(\"ptz_full_auto\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":1140,"wires":[["c3b5ce99.bd306"]]},{"id":"6555a229.dbcd1c","type":"ui_button","z":"2057e882.e0d458","name":"Full Auto","group":"ff3e87f3.deae78","order":1,"width":0,"height":0,"passthru":false,"label":"Full Auto","color":"#FFFFFF","bgcolor":"pink","icon":"","payload":"1","payloadType":"num","topic":"","x":1000,"y":1140,"wires":[["f28aa0f.5a6536"]]},{"id":"a6b73923.a496b8","type":"function","z":"2057e882.e0d458","name":"1-touch White Balance","func":"msg.payload = flow.get(\"ptz_onetouch_wb\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":1380,"wires":[["c3b5ce99.bd306"]]},{"id":"123c1728.f758c9","type":"ui_button","z":"2057e882.e0d458","name":"1-touch White Balance","group":"ff3e87f3.deae78","order":7,"width":0,"height":0,"passthru":false,"label":"1-touch White Balance","color":"#FFFFFF","bgcolor":"grey","icon":"","payload":"1","payloadType":"num","topic":"","x":980,"y":1380,"wires":[["a6b73923.a496b8"]]},{"id":"ffcc3a55.27a678","type":"function","z":"2057e882.e0d458","name":"1-touch White Bal. Trigger","func":"msg.payload = flow.get(\"ptz_onetouch_wb_trigger\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":1420,"wires":[["c3b5ce99.bd306"]]},{"id":"bdce4c62.303a","type":"ui_button","z":"2057e882.e0d458","name":"1-touch White Bal Trigger","group":"ff3e87f3.deae78","order":8,"width":0,"height":0,"passthru":false,"label":"1-touch White Bal Trigger","color":"#FFFFFF","bgcolor":"grey","icon":"","payload":"1","payloadType":"num","topic":"","x":990,"y":1420,"wires":[["ffcc3a55.27a678"]]},{"id":"7b5e0191.bc373","type":"function","z":"2057e882.e0d458","name":"Manual White Balance","func":"msg.payload = flow.get(\"ptz_manual_wb\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":1460,"wires":[["c3b5ce99.bd306"]]},{"id":"57b322c8.b57d6c","type":"ui_button","z":"2057e882.e0d458","name":"Manual White Balance","group":"ff3e87f3.deae78","order":9,"width":0,"height":0,"passthru":false,"label":"Manual White Balance","color":"#FFFFFF","bgcolor":"grey","icon":"","payload":"1","payloadType":"num","topic":"","x":980,"y":1460,"wires":[["7b5e0191.bc373"]]},{"id":"cfb116d.19ce4e8","type":"function","z":"2057e882.e0d458","name":"Manual Exposure","func":"msg.payload = flow.get(\"ptz_manual_exposure\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1500,"wires":[["c3b5ce99.bd306"]]},{"id":"8baf3f99.6b29a","type":"ui_button","z":"2057e882.e0d458","name":"Manual Exposure","group":"ff3e87f3.deae78","order":5,"width":0,"height":0,"passthru":false,"label":"Manual Exposure","color":"#FFFFFF","bgcolor":"grey","icon":"","payload":"1","payloadType":"num","topic":"","x":970,"y":1500,"wires":[["cfb116d.19ce4e8"]]},{"id":"7d3f6dff.113664","type":"function","z":"2057e882.e0d458","name":"FX Off","func":"msg.payload = flow.get(\"ptz_fx_off\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":1620,"wires":[["c3b5ce99.bd306"]]},{"id":"f9c4d9ef.3eb3d8","type":"ui_button","z":"2057e882.e0d458","name":"FX Off","group":"42f6732.b676d8c","order":0,"width":0,"height":0,"passthru":false,"label":"FX Off","color":"#FFFFFF","bgcolor":"black","icon":"","payload":"1","payloadType":"num","topic":"","x":930,"y":1620,"wires":[["7d3f6dff.113664"]]},{"id":"fe040f18.4a5d7","type":"function","z":"2057e882.e0d458","name":"FX Negative","func":"msg.payload = flow.get(\"ptz_fx_neg\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":1660,"wires":[["c3b5ce99.bd306"]]},{"id":"b288f8a0.5d6da8","type":"ui_button","z":"2057e882.e0d458","name":"FX Negative","group":"42f6732.b676d8c","order":0,"width":0,"height":0,"passthru":false,"label":"FX Negative","color":"#FFFFFF","bgcolor":"black","icon":"","payload":"1","payloadType":"num","topic":"","x":950,"y":1660,"wires":[["fe040f18.4a5d7"]]},{"id":"ae5d77ec.b894e8","type":"function","z":"2057e882.e0d458","name":"FX Black & White","func":"msg.payload = flow.get(\"ptz_fx_bw\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1700,"wires":[["c3b5ce99.bd306"]]},{"id":"a8d4d765.1497a8","type":"ui_button","z":"2057e882.e0d458","name":"FX Black & White","group":"42f6732.b676d8c","order":0,"width":0,"height":0,"passthru":false,"label":"FX Black & White","color":"#FFFFFF","bgcolor":"black","icon":"","payload":"1","payloadType":"num","topic":"","x":970,"y":1700,"wires":[["ae5d77ec.b894e8"]]},{"id":"46fe4902.f25ed8","type":"ui_group","z":"","name":"PTZ Recall Presets","tab":"fee3bb1b.363958","order":5,"disp":true,"width":"6","collapse":false},{"id":"ae526e18.5ea7","type":"ui_group","z":"","name":"PTZ Save Presets","tab":"fee3bb1b.363958","order":6,"disp":true,"width":"6","collapse":false},{"id":"c6a9c771.0a3ef8","type":"ui_group","z":"","name":"PTZ Utilities","tab":"fee3bb1b.363958","order":1,"disp":true,"width":"6","collapse":false},{"id":"684a12df.665b0c","type":"ui_group","z":"","name":"Pan-Tilt-Zoom","tab":"fee3bb1b.363958","order":2,"disp":true,"width":"6","collapse":false},{"id":"42f6732.b676d8c","type":"ui_group","z":"","name":"Image FX","tab":"fee3bb1b.363958","order":4,"disp":true,"width":"6","collapse":false},{"id":"ff3e87f3.deae78","type":"ui_group","z":"","name":"Image Modes","tab":"fee3bb1b.363958","order":3,"disp":true,"width":"6","collapse":false},{"id":"fee3bb1b.363958","type":"ui_tab","z":"","name":"PTZ Camera 2","icon":"dashboard","order":2}]