PTZ_CAMERA_CONTROL_v1.json
[{"id":"1aa3855e.d28e7b","type":"udp out","z":"e4e3da0f.c62098","name":"CAM1","addr":"192.168.0.100","iface":"","port":"52381","ipv":"udp4","outport":"5250","base64":false,"multicast":"false","x":1690,"y":460,"wires":[]},{"id":"c1188aad.fab6b8","type":"function","z":"e4e3da0f.c62098","name":"Recall Preset 1","func":"msg.payload = flow.get(\"recall_preset_1\");\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":140,"wires":[["ca15ab39.9107a8"]]},{"id":"ca15ab39.9107a8","type":"function","z":"e4e3da0f.c62098","name":"format with init message","func":"var m = [];\n\nm[0] = { payload: flow.get(\"ptz_init\") };\n\nm[1] = { payload: msg.payload };\n\nreturn m;","outputs":2,"noerr":0,"x":2010,"y":1040,"wires":[["1aa3855e.d28e7b"],["1aa3855e.d28e7b"]]},{"id":"76e74fa8.c2ab","type":"function","z":"e4e3da0f.c62098","name":"FLOW PTZ CONTROL VARIABLES","func":"flow.set(\"ptz_init\", Buffer.from('020000010000000001', 'hex'));\n\nflow.set(\"recall_preset_1\", Buffer.from('01000007000000648101043f0200ff', 'hex'));\nflow.set(\"recall_preset_2\", Buffer.from('01000007000000648101043f0201ff', 'hex'));\nflow.set(\"recall_preset_3\", Buffer.from('01000007000000648101043f0202ff', 'hex'));\nflow.set(\"recall_preset_4\", Buffer.from('01000007000000648101043f0203ff', 'hex'));\nflow.set(\"recall_preset_5\", Buffer.from('01000007000000648101043f0204ff', 'hex'));\nflow.set(\"recall_preset_6\", Buffer.from('01000007000000648101043f0205ff', 'hex'));\n\nflow.set(\"save_preset_1\", Buffer.from('01000007000000108101043f0100ff', 'hex'));\nflow.set(\"save_preset_2\", Buffer.from('01000007000000108101043f0101ff', 'hex'));\nflow.set(\"save_preset_3\", Buffer.from('01000007000000108101043f0102ff', 'hex'));\nflow.set(\"save_preset_4\", Buffer.from('01000007000000108101043f0103ff', 'hex'));\nflow.set(\"save_preset_5\", Buffer.from('01000007000000108101043f0104ff', 'hex'));\nflow.set(\"save_preset_6\", Buffer.from('01000007000000108101043f0105ff', 'hex'));\n\nflow.set('ptz_on', Buffer.from('010000060000000c8101040002ff', 'hex'));\nflow.set('ptz_off', Buffer.from('010000060000000c8101040003ff', 'hex'));\n\nflow.set('ptz_up_left', Buffer.from('0100000900000099810106010c080101ff', 'hex'));\nflow.set('ptz_up', Buffer.from('010000090000009b810106010c080301ff', 'hex'));\nflow.set('ptz_up_right', Buffer.from('010000090000009d810106010c080201ff', 'hex'));\nflow.set('ptz_left', Buffer.from('01000009000000a3810106010c080103ff', 'hex'));\nflow.set('ptz_right', Buffer.from('01000009000000a5810106010c080203ff', 'hex'));\nflow.set('ptz_down_left', Buffer.from('01000009000000a7810106010c080102ff', 'hex'));\nflow.set('ptz_down', Buffer.from('01000009000000a9810106010c080302ff', 'hex'));\nflow.set('ptz_down_right', Buffer.from('01000009000000ab810106010c080202ff', 'hex'));\nflow.set('ptz_stop', Buffer.from('01000009000000ac810106010c080303ff', 'hex'));\n\nflow.set('ptz_zoom_in', Buffer.from('01000006000000b78101040723ff', 'hex'));\nflow.set('ptz_zoom_out', Buffer.from('01000006000000b98101040733ff', 'hex'));\nflow.set('ptz_zoom_stop', Buffer.from('01000006000000ba8101040700ff', 'hex'));\n\nflow.set('ptz_iris_up', Buffer.from('01000006000003148101040b02ff', 'hex'));\nflow.set('ptz_iris_down', Buffer.from('01000006000003168101040b03ff', 'hex'));\nflow.set('ptz_shutter_up', Buffer.from('01000006000003148101040a02ff', 'hex'));\nflow.set('ptz_shutter_down', Buffer.from('01000006000003168101040a03ff', 'hex'));\nflow.set('ptz_gain_up', Buffer.from('01000006000003148101040c02ff', 'hex'));\nflow.set('ptz_gain_down', Buffer.from('01000006000003168101040c03ff', 'hex'));\nflow.set('ptz_iris_priority', Buffer.from('0100000600000009810104390Bff', 'hex'));\nflow.set('ptz_shutter_priority', Buffer.from('0100000600000009810104390Aff', 'hex'));\nflow.set('ptz_bright_mode', Buffer.from('0100000600000009810104390Dff', 'hex'));\nflow.set('ptz_bright_up', Buffer.from('01000006000000098101040D02ff', 'hex'));\nflow.set('ptz_bright_down', Buffer.from('01000006000000098101040D03ff', 'hex'));\nflow.set('ptz_awb', Buffer.from('01000006000003148101043500ff', 'hex'));\nflow.set('ptz_onetouch_wb', Buffer.from('01000006000003148101043503ff', 'hex'));\nflow.set('ptz_onetouch_wb_trigger', Buffer.from('01000006000003148101041005ff', 'hex'));   \nflow.set('ptz_manual_wb', Buffer.from('01000006000003148101043505ff', 'hex'));\nflow.set('ptz_full_auto', Buffer.from('01000006000000098101043900ff', 'hex'));\nflow.set('ptz_manual_exposure', Buffer.from('01000006000003168101043903ff', 'hex'));\nflow.set('ptz_fx_off', Buffer.from('01000006000003148101046300ff', 'hex'));\nflow.set('ptz_fx_neg', Buffer.from('01000006000000098101046302ff', 'hex'));\nflow.set('ptz_fx_bw', Buffer.from('01000006000003168101046304ff', 'hex'));\n\nflow.set('ptz_onscreen_on', Buffer.from('010000060000000c81017e011802ff', 'hex'));\nflow.set('ptz_onscreen_off', Buffer.from('010000060000000c81017e011803ff', 'hex'));\n","outputs":1,"noerr":0,"x":470,"y":40,"wires":[[]]},{"id":"9e4a8a5c.806388","type":"inject","z":"e4e3da0f.c62098","name":"store global PTZ variables","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":160,"y":40,"wires":[["76e74fa8.c2ab"]]},{"id":"fc5f9e66.420b","type":"ui_button","z":"e4e3da0f.c62098","name":"Recall Preset 1","group":"af5bbfb6.5cdf4","order":0,"width":0,"height":0,"passthru":false,"label":"Recall Preset 1","color":"#FFFFFF","bgcolor":"green","icon":"","payload":"1","payloadType":"num","topic":"","x":280,"y":140,"wires":[["c1188aad.fab6b8"]]},{"id":"38cb200d.c7817","type":"function","z":"e4e3da0f.c62098","name":"Recall Preset 2","func":"msg.payload = flow.get(\"recall_preset_2\");\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":220,"wires":[["ca15ab39.9107a8"]]},{"id":"f4f7ccf8.bb96a","type":"ui_button","z":"e4e3da0f.c62098","name":"Recall Preset 2","group":"af5bbfb6.5cdf4","order":0,"width":0,"height":0,"passthru":false,"label":"Recall Preset 2","color":"#FFFFFF","bgcolor":"green","icon":"","payload":"1","payloadType":"num","topic":"","x":280,"y":220,"wires":[["38cb200d.c7817"]]},{"id":"af182604.5ff748","type":"function","z":"e4e3da0f.c62098","name":"Recall Preset 3","func":"msg.payload = flow.get(\"recall_preset_3\");\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":300,"wires":[["ca15ab39.9107a8"]]},{"id":"c8641f3e.84a44","type":"ui_button","z":"e4e3da0f.c62098","name":"Recall Preset 3","group":"af5bbfb6.5cdf4","order":0,"width":0,"height":0,"passthru":false,"label":"Recall Preset 3","color":"#FFFFFF","bgcolor":"green","icon":"","payload":"1","payloadType":"num","topic":"","x":280,"y":300,"wires":[["af182604.5ff748"]]},{"id":"e1a4a55c.ad6d18","type":"function","z":"e4e3da0f.c62098","name":"Recall Preset 4","func":"msg.payload = flow.get(\"recall_preset_4\");\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":380,"wires":[["ca15ab39.9107a8"]]},{"id":"c00cbe0e.62092","type":"ui_button","z":"e4e3da0f.c62098","name":"Recall Preset 4","group":"af5bbfb6.5cdf4","order":0,"width":0,"height":0,"passthru":false,"label":"Recall Preset 4","color":"#FFFFFF","bgcolor":"green","icon":"","payload":"1","payloadType":"num","topic":"","x":280,"y":380,"wires":[["e1a4a55c.ad6d18"]]},{"id":"466ff9cb.adf118","type":"function","z":"e4e3da0f.c62098","name":"Recall Preset 5","func":"msg.payload = flow.get(\"recall_preset_5\");\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":460,"wires":[["ca15ab39.9107a8"]]},{"id":"cc8e88f7.2873c8","type":"ui_button","z":"e4e3da0f.c62098","name":"Recall Preset 5","group":"af5bbfb6.5cdf4","order":0,"width":0,"height":0,"passthru":false,"label":"Recall Preset 5","color":"#FFFFFF","bgcolor":"green","icon":"","payload":"1","payloadType":"num","topic":"","x":280,"y":460,"wires":[["466ff9cb.adf118"]]},{"id":"728a27d2.2a1e38","type":"function","z":"e4e3da0f.c62098","name":"Recall Preset 6","func":"msg.payload = flow.get(\"recall_preset_6\");\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":540,"wires":[["ca15ab39.9107a8"]]},{"id":"7d8ca139.43faa","type":"ui_button","z":"e4e3da0f.c62098","name":"Recall Preset 6","group":"af5bbfb6.5cdf4","order":0,"width":0,"height":0,"passthru":false,"label":"Recall Preset 6","color":"#FFFFFF","bgcolor":"green","icon":"","payload":"1","payloadType":"num","topic":"","x":280,"y":540,"wires":[["728a27d2.2a1e38"]]},{"id":"5ae850f6.50b88","type":"function","z":"e4e3da0f.c62098","name":"Save Preset 1","func":"msg.payload = flow.get(\"save_preset_1\");\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":100,"wires":[["ca15ab39.9107a8"]]},{"id":"1d978ed5.012b01","type":"ui_button","z":"e4e3da0f.c62098","name":"Save Preset 1","group":"36696ac2.f5d396","order":0,"width":0,"height":0,"passthru":false,"label":"Save Preset 1","color":"#FFFFFF","bgcolor":"red","icon":"","payload":"1","payloadType":"num","topic":"","x":280,"y":100,"wires":[["5ae850f6.50b88"]]},{"id":"e6ecd7f0.c235c8","type":"function","z":"e4e3da0f.c62098","name":"Save Preset 2","func":"msg.payload = flow.get(\"save_preset_2\");\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":180,"wires":[["ca15ab39.9107a8"]]},{"id":"bbeb5b6b.feb8f8","type":"ui_button","z":"e4e3da0f.c62098","name":"Save Preset 2","group":"36696ac2.f5d396","order":0,"width":0,"height":0,"passthru":false,"label":"Save Preset 2","color":"#FFFFFF","bgcolor":"red","icon":"","payload":"1","payloadType":"num","topic":"","x":280,"y":180,"wires":[["e6ecd7f0.c235c8"]]},{"id":"ad10cbde.656328","type":"function","z":"e4e3da0f.c62098","name":"Save Preset 3","func":"msg.payload = flow.get(\"save_preset_3\");\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":260,"wires":[["ca15ab39.9107a8"]]},{"id":"5ad062bb.efe73c","type":"ui_button","z":"e4e3da0f.c62098","name":"Save Preset 3","group":"36696ac2.f5d396","order":0,"width":0,"height":0,"passthru":false,"label":"Save Preset 3","color":"#FFFFFF","bgcolor":"red","icon":"","payload":"1","payloadType":"num","topic":"","x":280,"y":260,"wires":[["ad10cbde.656328"]]},{"id":"960d1bf4.f15838","type":"function","z":"e4e3da0f.c62098","name":"Save Preset 4","func":"msg.payload = flow.get(\"save_preset_4\");\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":340,"wires":[["ca15ab39.9107a8"]]},{"id":"7a35699.c5ccd98","type":"ui_button","z":"e4e3da0f.c62098","name":"Save Preset 4","group":"36696ac2.f5d396","order":0,"width":0,"height":0,"passthru":false,"label":"Save Preset 4","color":"#FFFFFF","bgcolor":"red","icon":"","payload":"1","payloadType":"num","topic":"","x":280,"y":340,"wires":[["960d1bf4.f15838"]]},{"id":"b4a98615.87e7e8","type":"function","z":"e4e3da0f.c62098","name":"Save Preset 5","func":"msg.payload = flow.get(\"save_preset_5\");\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":420,"wires":[["ca15ab39.9107a8"]]},{"id":"be4269c6.772ad8","type":"ui_button","z":"e4e3da0f.c62098","name":"Save Preset 5","group":"36696ac2.f5d396","order":0,"width":0,"height":0,"passthru":false,"label":"Save Preset 5","color":"#FFFFFF","bgcolor":"red","icon":"","payload":"1","payloadType":"num","topic":"","x":280,"y":420,"wires":[["b4a98615.87e7e8"]]},{"id":"11aff59b.5bb4aa","type":"function","z":"e4e3da0f.c62098","name":"Save Preset 6","func":"msg.payload = flow.get(\"save_preset_6\");\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":500,"wires":[["ca15ab39.9107a8"]]},{"id":"86c45246.9806e","type":"ui_button","z":"e4e3da0f.c62098","name":"Save Preset 6","group":"36696ac2.f5d396","order":0,"width":0,"height":0,"passthru":false,"label":"Save Preset 6","color":"#FFFFFF","bgcolor":"red","icon":"","payload":"1","payloadType":"num","topic":"","x":280,"y":500,"wires":[["11aff59b.5bb4aa"]]},{"id":"1c86cb3d.8b0135","type":"ui_switch","z":"e4e3da0f.c62098","name":"PTZ On/Off","label":"Power ON/OFF","group":"7c91b6f8.a07ed8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":770,"y":40,"wires":[["f8c50dca.83f71"]]},{"id":"f8c50dca.83f71","type":"function","z":"e4e3da0f.c62098","name":"Power On/Off","func":"var power_msg = {};\nif(msg.payload){\n    power_msg = { payload: flow.get(\"ptz_on\")};\n}\nelse {\n    power_msg = { payload: flow.get(\"ptz_off\")};\n}\n\nreturn power_msg;","outputs":1,"noerr":0,"x":1000,"y":40,"wires":[["ca15ab39.9107a8"]]},{"id":"2aa0a251.df81fe","type":"function","z":"e4e3da0f.c62098","name":"UP-LEFT","func":"msg.payload = flow.get(\"ptz_up_left\");\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":600,"wires":[["ca15ab39.9107a8"]]},{"id":"dc52a305.fa011","type":"ui_button","z":"e4e3da0f.c62098","name":"UP-LEFT","group":"f7ae651b.b27568","order":0,"width":0,"height":0,"passthru":false,"label":"UP-LEFT","color":"#FFFFFF","bgcolor":"orange","icon":"","payload":"1","payloadType":"num","topic":"","x":260,"y":600,"wires":[["2aa0a251.df81fe"]]},{"id":"5e86a983.119138","type":"function","z":"e4e3da0f.c62098","name":"UP","func":"msg.payload = flow.get(\"ptz_up\");\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":640,"wires":[["ca15ab39.9107a8"]]},{"id":"e2adafea.6c214","type":"ui_button","z":"e4e3da0f.c62098","name":"UP","group":"f7ae651b.b27568","order":0,"width":0,"height":0,"passthru":false,"label":"UP","color":"#FFFFFF","bgcolor":"orange","icon":"","payload":"1","payloadType":"num","topic":"","x":250,"y":640,"wires":[["5e86a983.119138"]]},{"id":"c6ab098d.29eb28","type":"function","z":"e4e3da0f.c62098","name":"UP-RIGHT","func":"msg.payload = flow.get(\"ptz_up_right\");\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":680,"wires":[["ca15ab39.9107a8"]]},{"id":"ef6a99ea.340558","type":"ui_button","z":"e4e3da0f.c62098","name":"UP-RIGHT","group":"f7ae651b.b27568","order":0,"width":0,"height":0,"passthru":false,"label":"UP-RIGHT","color":"#FFFFFF","bgcolor":"orange","icon":"","payload":"1","payloadType":"num","topic":"","x":270,"y":680,"wires":[["c6ab098d.29eb28"]]},{"id":"9d6dbc2.875434","type":"function","z":"e4e3da0f.c62098","name":"LEFT","func":"msg.payload = flow.get(\"ptz_left\");\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":720,"wires":[["ca15ab39.9107a8"]]},{"id":"13b7ec68.661744","type":"ui_button","z":"e4e3da0f.c62098","name":"LEFT","group":"f7ae651b.b27568","order":0,"width":0,"height":0,"passthru":false,"label":"LEFT","color":"#FFFFFF","bgcolor":"orange","icon":"","payload":"1","payloadType":"num","topic":"","x":250,"y":720,"wires":[["9d6dbc2.875434"]]},{"id":"e6cb4637.cd2478","type":"function","z":"e4e3da0f.c62098","name":"RIGHT","func":"msg.payload = flow.get(\"ptz_right\");\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":760,"wires":[["ca15ab39.9107a8"]]},{"id":"1e75f24d.c138fe","type":"ui_button","z":"e4e3da0f.c62098","name":"RIGHT","group":"f7ae651b.b27568","order":0,"width":0,"height":0,"passthru":false,"label":"RIGHT","color":"#FFFFFF","bgcolor":"orange","icon":"","payload":"1","payloadType":"num","topic":"","x":250,"y":760,"wires":[["e6cb4637.cd2478"]]},{"id":"c162d2f0.e12e","type":"function","z":"e4e3da0f.c62098","name":"DOWN-LEFT","func":"msg.payload = flow.get(\"ptz_down_left\");\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":800,"wires":[["ca15ab39.9107a8"]]},{"id":"3b293ed6.cc6572","type":"ui_button","z":"e4e3da0f.c62098","name":"DOWN-LEFT","group":"f7ae651b.b27568","order":0,"width":0,"height":0,"passthru":false,"label":"DOWN-LEFT","color":"#FFFFFF","bgcolor":"orange","icon":"","payload":"1","payloadType":"num","topic":"","x":270,"y":800,"wires":[["c162d2f0.e12e"]]},{"id":"b1e4906e.87694","type":"function","z":"e4e3da0f.c62098","name":"DOWN","func":"msg.payload = flow.get(\"ptz_down\");\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":840,"wires":[["ca15ab39.9107a8"]]},{"id":"22ace1b1.c8202e","type":"ui_button","z":"e4e3da0f.c62098","name":"DOWN","group":"f7ae651b.b27568","order":0,"width":0,"height":0,"passthru":false,"label":"DOWN","color":"#FFFFFF","bgcolor":"orange","icon":"","payload":"1","payloadType":"num","topic":"","x":260,"y":840,"wires":[["b1e4906e.87694"]]},{"id":"b953c270.4b1cb","type":"function","z":"e4e3da0f.c62098","name":"DOWN-RIGHT","func":"msg.payload = flow.get(\"ptz_down_right\");\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":880,"wires":[["ca15ab39.9107a8"]]},{"id":"42483d52.9e04b4","type":"ui_button","z":"e4e3da0f.c62098","name":"DOWN-RIGHT","group":"f7ae651b.b27568","order":0,"width":0,"height":0,"passthru":false,"label":"DOWN-RIGHT","color":"#FFFFFF","bgcolor":"orange","icon":"","payload":"1","payloadType":"num","topic":"","x":280,"y":880,"wires":[["b953c270.4b1cb"]]},{"id":"70e7bf16.58298","type":"function","z":"e4e3da0f.c62098","name":"STOP","func":"msg.payload = flow.get(\"ptz_stop\");\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":940,"wires":[["ca15ab39.9107a8"]]},{"id":"62f70dce.9d5514","type":"ui_button","z":"e4e3da0f.c62098","name":"STOP","group":"f7ae651b.b27568","order":0,"width":0,"height":0,"passthru":false,"label":"STOP","color":"#FFFFFF","bgcolor":"red","icon":"","payload":"1","payloadType":"num","topic":"","x":250,"y":940,"wires":[["70e7bf16.58298"]]},{"id":"d740cd4d.94be","type":"function","z":"e4e3da0f.c62098","name":"ZOOM-IN","func":"msg.payload = flow.get(\"ptz_zoom-in\");\n\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":980,"wires":[["ca15ab39.9107a8"]]},{"id":"9e7bc5b5.6ff778","type":"ui_button","z":"e4e3da0f.c62098","name":"ZOOM-IN","group":"f7ae651b.b27568","order":0,"width":0,"height":0,"passthru":false,"label":"ZOOM-IN","color":"#FFFFFF","bgcolor":"blue","icon":"","payload":"1","payloadType":"num","topic":"","x":260,"y":980,"wires":[["d740cd4d.94be"]]},{"id":"9a1c2bba.1a7de8","type":"function","z":"e4e3da0f.c62098","name":"ZOOM-OUT","func":"msg.payload = flow.get(\"ptz_zoom-out\");\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1020,"wires":[["ca15ab39.9107a8"]]},{"id":"84641483.528428","type":"ui_button","z":"e4e3da0f.c62098","name":"ZOOM-OUT","group":"f7ae651b.b27568","order":0,"width":0,"height":0,"passthru":false,"label":"ZOOM-OUT","color":"#FFFFFF","bgcolor":"blue","icon":"","payload":"1","payloadType":"num","topic":"","x":270,"y":1020,"wires":[["9a1c2bba.1a7de8"]]},{"id":"8646e88b.9ee158","type":"function","z":"e4e3da0f.c62098","name":"STOP ZOOM","func":"msg.payload = flow.get(\"ptz_zoom_stop\");\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":1060,"wires":[["ca15ab39.9107a8"]]},{"id":"67f46e6.9e4829","type":"ui_button","z":"e4e3da0f.c62098","name":"STOP ZOOM","group":"f7ae651b.b27568","order":0,"width":0,"height":0,"passthru":false,"label":"STOP ZOOM","color":"#FFFFFF","bgcolor":"red","icon":"","payload":"1","payloadType":"num","topic":"","x":280,"y":1060,"wires":[["8646e88b.9ee158"]]},{"id":"3241a0f0.ddc42","type":"ui_switch","z":"e4e3da0f.c62098","name":"Menu Display On/Off","label":"Menu Display ON/OFF","group":"7c91b6f8.a07ed8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":800,"y":80,"wires":[["eaaf1df9.42f1a"]]},{"id":"eaaf1df9.42f1a","type":"function","z":"e4e3da0f.c62098","name":"Menu Display ON/OFF","func":"var menu_msg = {};\nif(msg.payload){\n    menu_msg = { payload: flow.get(\"ptz_onscreen_on\")};\n}\nelse {\n    menu_msg = { payload: flow.get(\"ptz_onscreen_off\")};\n}\n\nreturn menu_msg;","outputs":1,"noerr":0,"x":1020,"y":80,"wires":[["ca15ab39.9107a8"]]},{"id":"78989bab.8c16d4","type":"function","z":"e4e3da0f.c62098","name":"Iris UP","func":"msg.payload = flow.get(\"ptz_iris_up\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1231,"y":780,"wires":[["ca15ab39.9107a8"]]},{"id":"5e9e20c1.20561","type":"ui_button","z":"e4e3da0f.c62098","name":"Iris UP","group":"2b503a41.386926","order":0,"width":0,"height":0,"passthru":false,"label":"Iris UP","color":"#FFFFFF","bgcolor":"purple","icon":"","payload":"1","payloadType":"num","topic":"","x":1011,"y":780,"wires":[["78989bab.8c16d4"]]},{"id":"4fde842f.9973dc","type":"function","z":"e4e3da0f.c62098","name":"Iris DOWN","func":"msg.payload = flow.get(\"ptz_iris_down\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1251,"y":820,"wires":[["ca15ab39.9107a8"]]},{"id":"5c212b49.750564","type":"ui_button","z":"e4e3da0f.c62098","name":"Iris DOWN","group":"2b503a41.386926","order":0,"width":0,"height":0,"passthru":false,"label":"Iris DOWN","color":"#FFFFFF","bgcolor":"purple","icon":"","payload":"1","payloadType":"num","topic":"","x":1031,"y":820,"wires":[["4fde842f.9973dc"]]},{"id":"81cd7471.071d08","type":"function","z":"e4e3da0f.c62098","name":"Gain UP","func":"msg.payload = flow.get(\"ptz_gain_up\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":860,"wires":[["ca15ab39.9107a8"]]},{"id":"f51211f5.cfe6a","type":"ui_button","z":"e4e3da0f.c62098","name":"Gain UP","group":"2b503a41.386926","order":0,"width":0,"height":0,"passthru":false,"label":"Gain UP","color":"#FFFFFF","bgcolor":"purple","icon":"","payload":"1","payloadType":"num","topic":"","x":1020,"y":860,"wires":[["81cd7471.071d08"]]},{"id":"736cb1f7.f5549","type":"function","z":"e4e3da0f.c62098","name":"Gain DOWN","func":"msg.payload = flow.get(\"ptz_gain_down\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":900,"wires":[["ca15ab39.9107a8"]]},{"id":"38d41b78.da81b4","type":"ui_button","z":"e4e3da0f.c62098","name":"Gain DOWN","group":"2b503a41.386926","order":0,"width":0,"height":0,"passthru":false,"label":"Gain DOWN","color":"#FFFFFF","bgcolor":"purple","icon":"","payload":"1","payloadType":"num","topic":"","x":1030,"y":900,"wires":[["736cb1f7.f5549"]]},{"id":"7bec90ae.aa0fb","type":"function","z":"e4e3da0f.c62098","name":"Shutter UP","func":"msg.payload = flow.get(\"ptz_shutter_up\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":940,"wires":[["ca15ab39.9107a8"]]},{"id":"7664f3a9.6898bc","type":"ui_button","z":"e4e3da0f.c62098","name":"Shutter UP","group":"2b503a41.386926","order":0,"width":0,"height":0,"passthru":false,"label":"Shutter UP","color":"#FFFFFF","bgcolor":"purple","icon":"","payload":"1","payloadType":"num","topic":"","x":1030,"y":940,"wires":[["7bec90ae.aa0fb"]]},{"id":"5008a6b6.8dd328","type":"function","z":"e4e3da0f.c62098","name":"Shutter DOWN","func":"msg.payload = flow.get(\"ptz_shutter_down\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":980,"wires":[["ca15ab39.9107a8"]]},{"id":"8915b4da.482908","type":"ui_button","z":"e4e3da0f.c62098","name":"Shutter DOWN","group":"2b503a41.386926","order":0,"width":0,"height":0,"passthru":false,"label":"Shutter DOWN","color":"#FFFFFF","bgcolor":"purple","icon":"","payload":"1","payloadType":"num","topic":"","x":1040,"y":980,"wires":[["5008a6b6.8dd328"]]},{"id":"81b5f791.655548","type":"function","z":"e4e3da0f.c62098","name":"Bright UP","func":"msg.payload = flow.get(\"ptz_bright_up\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":1020,"wires":[["ca15ab39.9107a8"]]},{"id":"767dbd0b.94f094","type":"ui_button","z":"e4e3da0f.c62098","name":"Bright UP","group":"2b503a41.386926","order":0,"width":0,"height":0,"passthru":false,"label":"Bright UP","color":"#FFFFFF","bgcolor":"purple","icon":"","payload":"1","payloadType":"num","topic":"","x":1020,"y":1020,"wires":[["81b5f791.655548"]]},{"id":"76302309.d00b0c","type":"function","z":"e4e3da0f.c62098","name":"Bright DOWN","func":"msg.payload = flow.get(\"ptz_bright_down\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":1060,"wires":[["ca15ab39.9107a8"]]},{"id":"9b8290b2.e74fd","type":"ui_button","z":"e4e3da0f.c62098","name":"Bright DOWN","group":"2b503a41.386926","order":0,"width":0,"height":0,"passthru":false,"label":"Bright DOWN","color":"#FFFFFF","bgcolor":"purple","icon":"","payload":"1","payloadType":"num","topic":"","x":1040,"y":1060,"wires":[["76302309.d00b0c"]]},{"id":"7f04ee95.53cce","type":"function","z":"e4e3da0f.c62098","name":"Iris Priority","func":"msg.payload = flow.get(\"ptz_iris_priority\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":1180,"wires":[["ca15ab39.9107a8"]]},{"id":"703885a0.1d635c","type":"ui_button","z":"e4e3da0f.c62098","name":"Iris Priority","group":"7d63656f.2f5f1c","order":2,"width":0,"height":0,"passthru":false,"label":"Iris Priority","color":"#FFFFFF","bgcolor":"pink","icon":"","payload":"1","payloadType":"num","topic":"","x":1030,"y":1180,"wires":[["7f04ee95.53cce"]]},{"id":"62bf0cfc.a9d934","type":"function","z":"e4e3da0f.c62098","name":"Shutter Priority","func":"msg.payload = flow.get(\"ptz_shutter_priority\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":1220,"wires":[["ca15ab39.9107a8"]]},{"id":"7378d30b.077d4c","type":"ui_button","z":"e4e3da0f.c62098","name":"Shutter Priority","group":"7d63656f.2f5f1c","order":3,"width":0,"height":0,"passthru":false,"label":"Shutter Priority","color":"#FFFFFF","bgcolor":"pink","icon":"","payload":"1","payloadType":"num","topic":"","x":1040,"y":1220,"wires":[["62bf0cfc.a9d934"]]},{"id":"b7050acd.140a78","type":"function","z":"e4e3da0f.c62098","name":"Bright Mode","func":"msg.payload = flow.get(\"ptz_bright_mode\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":1260,"wires":[["ca15ab39.9107a8"]]},{"id":"126acb22.4ba115","type":"ui_button","z":"e4e3da0f.c62098","name":"Bright Mode","group":"7d63656f.2f5f1c","order":4,"width":0,"height":0,"passthru":false,"label":"Bright Mode","color":"#FFFFFF","bgcolor":"pink","icon":"","payload":"1","payloadType":"num","topic":"","x":1030,"y":1260,"wires":[["b7050acd.140a78"]]},{"id":"1c594004.779cc","type":"function","z":"e4e3da0f.c62098","name":"Auto White Balance","func":"msg.payload = flow.get(\"ptz_awb\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":1340,"wires":[["ca15ab39.9107a8"]]},{"id":"a344764.a58fc88","type":"ui_button","z":"e4e3da0f.c62098","name":"Auto White Balance","group":"7d63656f.2f5f1c","order":6,"width":0,"height":0,"passthru":false,"label":"Auto White Balance","color":"#FFFFFF","bgcolor":"grey","icon":"","payload":"1","payloadType":"num","topic":"","x":990,"y":1340,"wires":[["1c594004.779cc"]]},{"id":"2354435a.cbe5ac","type":"function","z":"e4e3da0f.c62098","name":"Full Auto","func":"msg.payload = flow.get(\"ptz_full_auto\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":1140,"wires":[["ca15ab39.9107a8"]]},{"id":"3abeaa78.7f8956","type":"ui_button","z":"e4e3da0f.c62098","name":"Full Auto","group":"7d63656f.2f5f1c","order":1,"width":0,"height":0,"passthru":false,"label":"Full Auto","color":"#FFFFFF","bgcolor":"pink","icon":"","payload":"1","payloadType":"num","topic":"","x":1020,"y":1140,"wires":[["2354435a.cbe5ac"]]},{"id":"483d847a.f530ec","type":"function","z":"e4e3da0f.c62098","name":"1-touch White Balance","func":"msg.payload = flow.get(\"ptz_onetouch_wb\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":1380,"wires":[["ca15ab39.9107a8"]]},{"id":"7389018b.f616a","type":"ui_button","z":"e4e3da0f.c62098","name":"1-touch White Balance","group":"7d63656f.2f5f1c","order":7,"width":0,"height":0,"passthru":false,"label":"1-touch White Balance","color":"#FFFFFF","bgcolor":"grey","icon":"","payload":"1","payloadType":"num","topic":"","x":1000,"y":1380,"wires":[["483d847a.f530ec"]]},{"id":"40a295fe.1a62dc","type":"function","z":"e4e3da0f.c62098","name":"1-touch White Bal. Trigger","func":"msg.payload = flow.get(\"ptz_onetouch_wb_trigger\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":1420,"wires":[["ca15ab39.9107a8"]]},{"id":"9b4edc34.12e48","type":"ui_button","z":"e4e3da0f.c62098","name":"1-touch White Bal. Trigger","group":"7d63656f.2f5f1c","order":8,"width":0,"height":0,"passthru":false,"label":"1-touch White Bal. Trigger","color":"#FFFFFF","bgcolor":"grey","icon":"","payload":"1","payloadType":"num","topic":"","x":1010,"y":1420,"wires":[["40a295fe.1a62dc"]]},{"id":"1336ff44.ee1481","type":"function","z":"e4e3da0f.c62098","name":"Manual White Balance","func":"msg.payload = flow.get(\"ptz_manual_wb\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":1460,"wires":[["ca15ab39.9107a8"]]},{"id":"a7b923f0.1d33a","type":"ui_button","z":"e4e3da0f.c62098","name":"Manual White Balance","group":"7d63656f.2f5f1c","order":9,"width":0,"height":0,"passthru":false,"label":"Manual White Balance","color":"#FFFFFF","bgcolor":"grey","icon":"","payload":"1","payloadType":"num","topic":"","x":1000,"y":1460,"wires":[["1336ff44.ee1481"]]},{"id":"ae3c114e.9f40d","type":"function","z":"e4e3da0f.c62098","name":"Manual Exposure","func":"msg.payload = flow.get(\"ptz_manual_exposure\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":1500,"wires":[["ca15ab39.9107a8"]]},{"id":"7ca1f5c3.b53afc","type":"ui_button","z":"e4e3da0f.c62098","name":"Manual Exposure","group":"7d63656f.2f5f1c","order":5,"width":0,"height":0,"passthru":false,"label":"Manual Exposure","color":"#FFFFFF","bgcolor":"grey","icon":"","payload":"1","payloadType":"num","topic":"","x":990,"y":1500,"wires":[["ae3c114e.9f40d"]]},{"id":"897389e4.cb7a78","type":"function","z":"e4e3da0f.c62098","name":"FX Off","func":"msg.payload = flow.get(\"ptz_fx_off\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1190,"y":1620,"wires":[["ca15ab39.9107a8"]]},{"id":"8082c3f4.753d2","type":"ui_button","z":"e4e3da0f.c62098","name":"FX Off","group":"2b503a41.386926","order":0,"width":0,"height":0,"passthru":false,"label":"FX Off","color":"#FFFFFF","bgcolor":"black","icon":"","payload":"1","payloadType":"num","topic":"","x":950,"y":1620,"wires":[["897389e4.cb7a78"]]},{"id":"43b6a15.3fd1d6","type":"function","z":"e4e3da0f.c62098","name":"FX Negative","func":"msg.payload = flow.get(\"ptz_fx_neg\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":1660,"wires":[["ca15ab39.9107a8"]]},{"id":"2935d768.c999e8","type":"ui_button","z":"e4e3da0f.c62098","name":"FX Negative","group":"2b503a41.386926","order":0,"width":0,"height":0,"passthru":false,"label":"FX Negative","color":"#FFFFFF","bgcolor":"black","icon":"","payload":"1","payloadType":"num","topic":"","x":970,"y":1660,"wires":[["43b6a15.3fd1d6"]]},{"id":"6d66ae03.da64f","type":"function","z":"e4e3da0f.c62098","name":"FX Black & White","func":"msg.payload = flow.get(\"ptz_fx_bw\");\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":1700,"wires":[["ca15ab39.9107a8"]]},{"id":"93b7311d.97aa4","type":"ui_button","z":"e4e3da0f.c62098","name":"FX Black & White","group":"2b503a41.386926","order":0,"width":0,"height":0,"passthru":false,"label":"FX Black & White","color":"#FFFFFF","bgcolor":"black","icon":"","payload":"1","payloadType":"num","topic":"","x":990,"y":1700,"wires":[["6d66ae03.da64f"]]},{"id":"af5bbfb6.5cdf4","type":"ui_group","z":"","name":"PTZ Recall Presets","tab":"f5dfc97e.529808","order":5,"disp":true,"width":"6","collapse":false},{"id":"36696ac2.f5d396","type":"ui_group","z":"","name":"PTZ Save Presets","tab":"f5dfc97e.529808","order":6,"disp":true,"width":"6","collapse":false},{"id":"7c91b6f8.a07ed8","type":"ui_group","z":"","name":"PTZ Utilities","tab":"f5dfc97e.529808","order":1,"disp":true,"width":"6","collapse":false},{"id":"f7ae651b.b27568","type":"ui_group","z":"","name":"Pan-Tilt","tab":"f5dfc97e.529808","order":2,"disp":true,"width":"6","collapse":false},{"id":"2b503a41.386926","type":"ui_group","z":"","name":"Image FX","tab":"f5dfc97e.529808","order":4,"disp":true,"width":"6","collapse":false},{"id":"7d63656f.2f5f1c","type":"ui_group","z":"","name":"Image Modes","tab":"f5dfc97e.529808","order":3,"disp":true,"width":"6","collapse":false},{"id":"f5dfc97e.529808","type":"ui_tab","z":"","name":"PTZ Camera Control","icon":"dashboard","order":1}]