PYLADIES_ROBOT.json
[{"id":"8156f210.caff8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"94ce7904.056298","type":"function","z":"8156f210.caff8","name":"Just get preset","func":"var servos = msg.payload.payload;\nvar last_servos = global.get(\"last_sent_servos\");\nvar robot_speed = global.get(\"robot_speed\");\nvar sameness_flag = 0;\nvar m = [];\nvar servo_command = \"\";\n\nfor(var i=0; i<6; i++) {\n    if(servos[i]!=last_servos[i]){\n        sameness_flag=1;\n    }\n}\n\nif(sameness_flag==1){\n    \n    m[0] = { payload: \"reset\"};\n    \n    for (var i=1;i<7;i++)\n    {\n        m[i] = { payload: servos[i-1] };\n        \n        var id = i;\n        servo_command = servo_command + id + \":\" + servos[i-1] + \":\" + robot_speed;\n        if (id == 6) {\n            servo_command = servo_command + \"!\";\n        }\n        else {\n            servo_command = servo_command + \"&\";\n        }\n    }\n    \n    m[7] = { payload: servo_command };\n    global.set(\"last_sent_servos\", [...servos]);\n    global.set(\"servos_preset\", servos);\n\n    return m;\n\n}\n","outputs":8,"noerr":0,"x":1400,"y":540,"wires":[[],["668a9c89.a9cfd4"],["82a8b5e7.5668a8"],["cf7c0bfb.7029e8"],["3fe3728f.68141e"],["d00b2f7.068cdd"],["75b007e9.cdc488"],["126e365a.dc327a","208845f1.8db06a"]]},{"id":"e50a7c8b.d90c6","type":"function","z":"8156f210.caff8","name":"MIDI KNOB PARSE","func":"var knob_array = [];\nknob_array = msg.payload;\nvar output_array = [];\n\nswitch (knob_array[0]) {\n    case 48:\n        var scaled_value = Math.floor((knob_array[1]*1000)/127);\n        output_array[0] = {payload: scaled_value};\n        break;\n    case 49:\n        var scaled_value = Math.floor((knob_array[1]*1000)/127);\n        output_array[1] = {payload: scaled_value};\n        break;\n    case 50:\n        var scaled_value = Math.floor((knob_array[1]*1000)/127);\n        output_array[2] = {payload: scaled_value};\n        break;\n    case 51:\n        var scaled_value = Math.floor((knob_array[1]*1000)/127);\n        output_array[3] = {payload: scaled_value};\n        break;\n    case 52:\n        var scaled_value = Math.floor((knob_array[1]*1000)/127);\n        output_array[4] = {payload: scaled_value};\n        break;\n    case 53:\n        var scaled_value = Math.floor((knob_array[1]*1000)/127);\n        output_array[5] = {payload: scaled_value};\n        break;\n    case 54:\n        var scaled_value = Math.floor((knob_array[1]*1000)/127);\n        output_array[6] = {payload: scaled_value};\n        break;\n    case 55:\n        var scaled_value = Math.floor((knob_array[1]*3000)/127);\n        output_array[7] = {payload: scaled_value};\n        break;\n        \n}\nreturn output_array;\n\n\n","outputs":8,"noerr":0,"x":1430,"y":840,"wires":[["6883ab30.d0d0c4"],["3a52b53c.20396a"],["c7756be.404c498"],["a225079.052f7f8"],["c1a37d90.2b4d4"],["b3a976f0.9cd468"],[],["b53a8f8e.ac412","8072fc62.cb01"]]},{"id":"82a8b5e7.5668a8","type":"ui_slider","z":"8156f210.caff8","name":"Servo2","label":"Servo 2","group":"97d24317.f15c6","order":2,"width":"0","height":"0","passthru":true,"topic":"Slider","min":0,"max":"1000","step":"1","x":1640,"y":520,"wires":[["3a52b53c.20396a"]]},{"id":"3b948c9.33ab574","type":"ui_slider","z":"8156f210.caff8","name":"Preset Recall Speed","label":"Robot Speed","group":"b616445c.9318d8","order":7,"width":0,"height":0,"passthru":true,"topic":"Slider","min":"500","max":"3000","step":1,"x":1686,"y":720,"wires":[["b53a8f8e.ac412","8072fc62.cb01"]]},{"id":"75b007e9.cdc488","type":"ui_slider","z":"8156f210.caff8","name":"Servo6","label":"Servo 6","group":"97d24317.f15c6","order":6,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"1000","step":"1","x":1640,"y":680,"wires":[["b3a976f0.9cd468"]]},{"id":"d00b2f7.068cdd","type":"ui_slider","z":"8156f210.caff8","name":"Servo5","label":"Servo 5","group":"97d24317.f15c6","order":5,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"1000","step":"1","x":1640,"y":640,"wires":[["c1a37d90.2b4d4"]]},{"id":"3fe3728f.68141e","type":"ui_slider","z":"8156f210.caff8","name":"Servo4","label":"Servo 4","group":"97d24317.f15c6","order":4,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"1000","step":"1","x":1640,"y":600,"wires":[["a225079.052f7f8"]]},{"id":"cf7c0bfb.7029e8","type":"ui_slider","z":"8156f210.caff8","name":"Servo3","label":"Servo 3","group":"97d24317.f15c6","order":3,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"1000","step":"1","x":1640,"y":560,"wires":[["c7756be.404c498"]]},{"id":"6883ab30.d0d0c4","type":"change","z":"8156f210.caff8","name":"save to Global Servos1","rules":[{"t":"set","p":"servos_preset[0]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1910,"y":480,"wires":[[]]},{"id":"3a52b53c.20396a","type":"change","z":"8156f210.caff8","name":"save to Global Servos2","rules":[{"t":"set","p":"servos_preset[1]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1910,"y":520,"wires":[[]]},{"id":"c7756be.404c498","type":"change","z":"8156f210.caff8","name":"save to Global Servos3","rules":[{"t":"set","p":"servos_preset[2]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1910,"y":560,"wires":[[]]},{"id":"a225079.052f7f8","type":"change","z":"8156f210.caff8","name":"save to Global Servos4","rules":[{"t":"set","p":"servos_preset[3]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1910,"y":600,"wires":[[]]},{"id":"c1a37d90.2b4d4","type":"change","z":"8156f210.caff8","name":"save to Global Servos5","rules":[{"t":"set","p":"servos_preset[4]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1910,"y":640,"wires":[[]]},{"id":"b3a976f0.9cd468","type":"change","z":"8156f210.caff8","name":"save to Global Servos6","rules":[{"t":"set","p":"servos_preset[5]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1910,"y":680,"wires":[[]]},{"id":"b53a8f8e.ac412","type":"change","z":"8156f210.caff8","name":"save to Global RobotSpeed","rules":[{"t":"set","p":"robot_speed","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1920,"y":720,"wires":[[]]},{"id":"34c96e65.805f82","type":"function","z":"8156f210.caff8","name":"insert preset","func":"var preset = [];\npreset = global.get(\"servos_preset\");\nvar newMsg = {};\nnewMsg.collection = 'servos_presets';\nnewMsg.payload = [\n  {topic: msg.payload},\n  {\n    \"$set\": {\n      \"payload\": preset\n    }\n  },\n  {upsert:true}\n];\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":935,"y":161.5,"wires":[["4281ee02.70d06"]]},{"id":"fd7fe2f9.1b07e","type":"function","z":"8156f210.caff8","name":"init global variables","func":"global.set(\"servos_preset\",[500,500,500,500,500,500]); \nmsg.payload = global.get(\"servos_preset\");\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":580,"wires":[["70c69816.21d088","fa6aab7d.065db8"]]},{"id":"26a5ddde.ffc562","type":"inject","z":"8156f210.caff8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":710,"y":580,"wires":[["fd7fe2f9.1b07e"]]},{"id":"70c69816.21d088","type":"debug","z":"8156f210.caff8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1170,"y":580,"wires":[]},{"id":"e27b0197.443b9","type":"debug","z":"8156f210.caff8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1170,"y":660,"wires":[]},{"id":"d545940.c5bf57","type":"function","z":"8156f210.caff8","name":"check global preset","func":"msg.payload = global.get(\"servos_preset\");\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":660,"wires":[["e27b0197.443b9","fa6aab7d.065db8"]]},{"id":"2f56f981.c45676","type":"inject","z":"8156f210.caff8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":700,"y":660,"wires":[["d545940.c5bf57"]]},{"id":"668a9c89.a9cfd4","type":"ui_slider","z":"8156f210.caff8","name":"Servo1","label":"Servo 1","group":"97d24317.f15c6","order":1,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"1000","step":"1","x":1640,"y":480,"wires":[["6883ab30.d0d0c4"]]},{"id":"7274d677.deba38","type":"function","z":"8156f210.caff8","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":822,"y":279.5,"wires":[["80e80741.f2cd18"]]},{"id":"d8320799.c05bf8","type":"ui_dropdown","z":"8156f210.caff8","name":"Recall Pulldown","label":"Recall","place":"Select option","group":"b616445c.9318d8","order":2,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1560,"y":280,"wires":[["94ce7904.056298","c043df51.713cd"]]},{"id":"985d2a64.9f0008","type":"function","z":"8156f210.caff8","name":"Format Preset Pulldown","func":"flow.set(\"robot_db_preset\", msg.payload);\nvar msg_array = [];\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic != undefined){\n        tmp_object[msg_object.topic] = {\"topic\": msg_object.topic, \"payload\": msg_object.payload};\n        msg_array[i] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":1327,"y":280.5,"wires":[["d8320799.c05bf8"]]},{"id":"5a14fa35.9ddab4","type":"inject","z":"8156f210.caff8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":673,"y":278,"wires":[["7274d677.deba38"]]},{"id":"20532fc5.14ea1","type":"ui_text_input","z":"8156f210.caff8","name":"","label":"Edit Preset Name","group":"b616445c.9318d8","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"","x":1990,"y":280,"wires":[["e8b56bf0.328878"]]},{"id":"30ebd296.2788be","type":"ui_button","z":"8156f210.caff8","name":"Save","group":"b616445c.9318d8","order":5,"width":0,"height":0,"passthru":false,"label":"Save Preset","tooltip":"","color":"#FFF","bgcolor":"#FF0000","icon":"","payload":"","payloadType":"date","topic":"","x":615,"y":160,"wires":[["806e40b0.e0bd4"]]},{"id":"e8b56bf0.328878","type":"function","z":"8156f210.caff8","name":"set global preset name","func":"global.set(\"robot_arm_preset_name\", msg.payload);","outputs":1,"noerr":0,"x":2200,"y":280,"wires":[[]]},{"id":"806e40b0.e0bd4","type":"function","z":"8156f210.caff8","name":"save preset","func":"msg.payload = global.get(\"robot_arm_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":767,"y":160.5,"wires":[["34c96e65.805f82"]]},{"id":"c043df51.713cd","type":"function","z":"8156f210.caff8","name":"get preset name","func":"msg.payload = msg.payload.topic;\nreturn msg;","outputs":1,"noerr":0,"x":1780,"y":280,"wires":[["20532fc5.14ea1"]]},{"id":"6b5ba057.80e38","type":"ui_text","z":"8156f210.caff8","group":"b616445c.9318d8","order":3,"width":0,"height":0,"name":"","label":"SAVE PRESET","format":"{{msg.payload}}","layout":"row-left","x":660,"y":360,"wires":[]},{"id":"23ec2512.c432da","type":"function","z":"8156f210.caff8","name":"delete preset","func":"var newMsg = {};\nnewMsg.operation  = 'deleteOne';\nnewMsg.payload    = {'topic' : msg.payload};\nreturn newMsg;","outputs":1,"noerr":0,"x":936,"y":220.5,"wires":[["c53a2e0e.e2128"]]},{"id":"1e8870ad.611aff","type":"ui_button","z":"8156f210.caff8","name":"Delete","group":"b616445c.9318d8","order":5,"width":0,"height":0,"passthru":false,"label":"Delete Preset","color":"#FFF","bgcolor":"#FF00FF","icon":"","payload":"","payloadType":"date","topic":"","x":616,"y":219,"wires":[["adfc1921.82a838"]]},{"id":"adfc1921.82a838","type":"function","z":"8156f210.caff8","name":"delete preset","func":"msg.payload = global.get(\"robot_arm_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":768,"y":219.5,"wires":[["23ec2512.c432da"]]},{"id":"62cab7a4.1a44b8","type":"debug","z":"8156f210.caff8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":920,"y":800,"wires":[]},{"id":"cd86ca05.927f38","type":"function","z":"8156f210.caff8","name":"send servo data","func":"var servos = global.get(\"servos_preset\");\nvar last_servos = global.get(\"last_sent_servos\");\nvar sameness_flag = false;\nvar m = [];\n\nfor(var i=0; i<servos.length; i++) {\n    if(servos[i]!=last_servos[i]){\n        sameness_flag= true;\n    }\n}\n\nif(sameness_flag){\n  \n    var robot_speed = 150;\n\n    var servo_string =   \"1:\" + servos[0] + \":\" + robot_speed + \"&\" +\n                        \"2:\" + servos[1] + \":\" + robot_speed + \"&\" +\n                        \"3:\" + servos[2] + \":\" + robot_speed + \"&\" +\n                        \"4:\" + servos[3] + \":\" + robot_speed + \"&\" +\n                        \"5:\" + servos[4] + \":\" + robot_speed + \"&\" +\n                        \"6:\" + servos[5] + \":\" + robot_speed + \"!\";\n    global.set(\"last_sent_servos\", [...servos]);\n    m[0] = { payload: servo_string };\n    m[1] = { payload: servos};\n    return m;\n}\n\n","outputs":2,"noerr":0,"x":2460,"y":880,"wires":[["208845f1.8db06a","126e365a.dc327a"],[]]},{"id":"264dfb12.dd5444","type":"ui_button","z":"8156f210.caff8","name":"RESET SERVO POSITIONS","group":"b616445c.9318d8","order":0,"width":0,"height":0,"passthru":false,"label":"RESET SERVO POSITIONS","color":"","bgcolor":"","icon":"","payload":"1:500:1000&2:500:1000&3:500:1000&4:500:1000&5:500:1000&6:500:1000!","payloadType":"str","topic":"","x":700,"y":420,"wires":[["5fde1768.cac908"]]},{"id":"5fde1768.cac908","type":"function","z":"8156f210.caff8","name":"load reset","func":"msg.payload = { payload : [500,500,500,500,500,500] };\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":440,"wires":[["94ce7904.056298"]]},{"id":"82d979f7.127928","type":"inject","z":"8156f210.caff8","name":"","topic":"","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1490,"y":740,"wires":[["3b948c9.33ab574"]]},{"id":"8d71daa1.604358","type":"trigger","z":"8156f210.caff8","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-150","extend":false,"units":"ms","reset":"reset","bytopic":"all","name":"","x":2080,"y":920,"wires":[["62d023ef.eda77c","cd86ca05.927f38"]]},{"id":"3c26c467.e09abc","type":"inject","z":"8156f210.caff8","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1870,"y":900,"wires":[["8d71daa1.604358"]]},{"id":"8072fc62.cb01","type":"ui_numeric","z":"8156f210.caff8","name":"preset recall speed","label":"numeric","group":"97d24317.f15c6","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"1000","step":1,"x":1987,"y":820.5,"wires":[[]]},{"id":"f170209a.571d","type":"function","z":"8156f210.caff8","name":"save last sent servos","func":"global.set(\"last_sent_servos\", [0,0,0,0,0,0]);\nreturn msg;","outputs":1,"noerr":0,"x":2560,"y":720,"wires":[[]]},{"id":"b59acd89.7ab8c","type":"inject","z":"8156f210.caff8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":2370,"y":720,"wires":[["f170209a.571d"]]},{"id":"fa6aab7d.065db8","type":"function","z":"8156f210.caff8","name":"Reset from global","func":"var preset = [];\nvar m = [];\npreset = global.get(\"servos_preset\");\n\n\nfor (var i=0;i<7;i++)\n{\n    m[i] = { payload: preset[i] };\n}\nreturn m;\n","outputs":6,"noerr":0,"x":1410,"y":660,"wires":[["668a9c89.a9cfd4"],["82a8b5e7.5668a8"],["cf7c0bfb.7029e8"],["3fe3728f.68141e"],["d00b2f7.068cdd"],["75b007e9.cdc488"]]},{"id":"cd025506.172608","type":"inject","z":"8156f210.caff8","name":"RESET SERVO POSITIONS","topic":"","payload":"1:500:1000&2:500:1000&3:500:1000&4:500:1000&5:500:1000&6:500:1000!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":720,"y":460,"wires":[["5fde1768.cac908"]]},{"id":"628760ac.7c834","type":"inject","z":"8156f210.caff8","name":"reset","topic":"","payload":"reset","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1870,"y":940,"wires":[["8d71daa1.604358"]]},{"id":"abe6c209.1b5a3","type":"function","z":"8156f210.caff8","name":"get last sent","func":"msg.payload = global.get(\"last_sent_servos\");\n\nreturn msg;","outputs":1,"noerr":0,"x":2530,"y":400,"wires":[["b5f0177d.d9d2c8"]]},{"id":"4142b511.05a39c","type":"inject","z":"8156f210.caff8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2360,"y":400,"wires":[["abe6c209.1b5a3"]]},{"id":"6618d11a.138db","type":"function","z":"8156f210.caff8","name":"get current","func":"msg.payload = global.get(\"servos_preset\");\nreturn msg;","outputs":1,"noerr":0,"x":2530,"y":460,"wires":[["b5f0177d.d9d2c8"]]},{"id":"6d2f2295.7d7b2c","type":"inject","z":"8156f210.caff8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2360,"y":460,"wires":[["6618d11a.138db"]]},{"id":"b5f0177d.d9d2c8","type":"debug","z":"8156f210.caff8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2807,"y":420.5,"wires":[]},{"id":"208845f1.8db06a","type":"debug","z":"8156f210.caff8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2727,"y":1020.5,"wires":[]},{"id":"62d023ef.eda77c","type":"function","z":"8156f210.caff8","name":"get last sent","func":"msg.payload = { last_sent_servos: global.get(\"last_sent_servos\"),\n                current_servos: global.get(\"servos_preset\")\n            \n};\n\nreturn msg;","outputs":1,"noerr":0,"x":2310,"y":940,"wires":[[]]},{"id":"4281ee02.70d06","type":"mongodb2 in","z":"8156f210.caff8","service":"_ext_","configNode":"4e277ee0.78ab3","name":"Store Data into MongoDB","collection":"robot_arm_presets","operation":"findOneAndUpdate","x":1147,"y":140.5,"wires":[["7274d677.deba38"]]},{"id":"80e80741.f2cd18","type":"mongodb2 in","z":"8156f210.caff8","service":"_ext_","configNode":"4e277ee0.78ab3","name":"Mongo DB dynamic operation","collection":"robot_arm_presets","operation":"","x":1056,"y":282.5,"wires":[["985d2a64.9f0008","619b42d7.9d8b2c"]]},{"id":"c53a2e0e.e2128","type":"mongodb2 in","z":"8156f210.caff8","service":"_ext_","configNode":"4e277ee0.78ab3","name":"Store Data into MongoDB","collection":"robot_arm_presets","operation":"","x":1147,"y":221.5,"wires":[["7274d677.deba38"]]},{"id":"fba3577c.e71678","type":"serial in","z":"8156f210.caff8","name":"","serial":"211835b3.31ce3a","x":690,"y":800,"wires":[["62cab7a4.1a44b8"]]},{"id":"126e365a.dc327a","type":"serial out","z":"8156f210.caff8","name":"","serial":"9a532ea5.0dc8d","x":2770,"y":860,"wires":[]},{"id":"d5356e7a.1bc2","type":"midi in","z":"8156f210.caff8","name":"AKAI APC KEY25 MIDI IN","midiport":"0","x":107,"y":720.5,"wires":[["fc188e23.8789b"]]},{"id":"16f7d3a4.42d85c","type":"link in","z":"8156f210.caff8","name":"","links":["7948db74.494324"],"x":940,"y":360,"wires":[[]]},{"id":"fb2efa71.dd1d98","type":"debug","z":"8156f210.caff8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":647,"y":940.5,"wires":[]},{"id":"fc188e23.8789b","type":"function","z":"8156f210.caff8","name":"filter midi messages by type","func":"var m = [];\nvar type = msg.midi.type;\nif (type == \"controlchange\"){\n    m[0] = msg;\n}\nelse if ((type == \"noteon\") || (type == \"noteoff\")) {\n    m[1] = msg;\n}\nelse {\n    m[2] = msg;\n}\nreturn m;","outputs":3,"noerr":0,"x":377,"y":720.5,"wires":[["e50a7c8b.d90c6"],["fb2efa71.dd1d98","6499ecc7.fa9c74"],[]]},{"id":"6499ecc7.fa9c74","type":"function","z":"8156f210.caff8","name":"save preset with midi keyboard","func":"var m = [];\nvar type = msg.midi.type;\nvar note_num = msg.payload[0];\nif (note_num===93){\n    if (type == \"noteon\"){\n        flow.set(\"preset_record\", true);\n    }\n    else if (type == \"noteoff\") {\n        flow.set(\"preset_record\", false);\n    }\n}\nelse{\n    var preset_record = flow.get(\"preset_record\");\n    if (preset_record){\n        global.set(\"robot_arm_preset_name\", msg.payload[0]);\n        m[0] = { payload: 1};\n    }\n    else {\n         m[1] = { payload: msg.payload[0] };\n         m[2] = { payload: msg.payload[1] };\n    }\n    \n}\nreturn m;","outputs":3,"noerr":0,"x":307,"y":600.5,"wires":[["806e40b0.e0bd4"],["a43f62dd.567b9"],[]]},{"id":"aedbb66d.0655e8","type":"ui_button","z":"8156f210.caff8","name":"Load Presets","group":"b616445c.9318d8","order":5,"width":0,"height":0,"passthru":false,"label":"Load Presets","tooltip":"","color":"white","bgcolor":"purple","icon":"","payload":"","payloadType":"date","topic":"","x":487,"y":280.5,"wires":[["7274d677.deba38"]]},{"id":"a43f62dd.567b9","type":"function","z":"8156f210.caff8","name":"trigger pitch preset","func":"var robot_preset = flow.get(\"robot_db_preset\");\nfor(var i = 0;i<robot_preset.length; i++){\n    var temp_preset = robot_preset[i];\n    if (temp_preset.topic==msg.payload){\n        msg.payload = { payload: temp_preset.payload };\n    }\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":1107,"y":380.5,"wires":[["94ce7904.056298"]]},{"id":"619b42d7.9d8b2c","type":"debug","z":"8156f210.caff8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1367,"y":380.5,"wires":[]},{"id":"97d24317.f15c6","type":"ui_group","z":"","name":"SERVO SLIDERS","tab":"341b5eb7.142932","order":3,"disp":true,"width":"6","collapse":false},{"id":"b616445c.9318d8","type":"ui_group","z":"","name":"PRESETS","tab":"341b5eb7.142932","order":2,"disp":true,"width":"6","collapse":false},{"id":"4e277ee0.78ab3","type":"mongodb2","z":0,"uri":"mongodb://127.0.0.1:27017/cinebrain","name":"cinebrain db","options":"","parallelism":"-1"},{"id":"211835b3.31ce3a","type":"serial-port","z":"","serialport":"COM5","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"false","responsetimeout":""},{"id":"9a532ea5.0dc8d","type":"serial-port","z":"","serialport":"COM3","serialbaud":"57600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"341b5eb7.142932","type":"ui_tab","z":"","name":"ROBOT ARM 1","icon":"dashboard","order":7}]