ROBOTARM_withMIDI_v2.json
[{"id":"6a08d850.c68bc8","type":"function","z":"fb55fa54.923a18","name":"Just get preset","func":"var servos = msg.payload.payload;\nvar last_servos = global.get(\"last_sent_servos\");\nvar robot_speed = global.get(\"robot_speed\");\nvar sameness_flag = 0;\nvar m = [];\nvar servo_command = \"\";\n\nfor(var i=0; i<servos.length; i++) {\n    if(servos[i]!=last_servos[i]){\n        sameness_flag=1;\n    }\n}\n\nif(sameness_flag==1){\n    \n    m[0] = { payload: \"reset\"};\n    \n    for (var i=1;i<7;i++)\n    {\n        m[i] = { payload: servos[i-1] };\n        \n        var id = i;\n        servo_command = servo_command + id + \":\" + servos[i-1] + \":\" + robot_speed;\n        if (id == 6) {\n            servo_command = servo_command + \"!\";\n        }\n        else {\n            servo_command = servo_command + \"&\";\n        }\n    }\n    \n    m[7] = { payload: servo_command };\n    global.set(\"last_sent_servos\", [...servos]);\n    global.set(\"servos_preset\", servos);\n\n    return m;\n\n}\n","outputs":8,"noerr":0,"x":928,"y":462,"wires":[[],["1b7c3687.f29b99"],["ce6e96d3.ca6978"],["5020c77f.0a00f8"],["7f9374cf.314bcc"],["6c077439.a48e4c"],["c2e99a4b.0cbd28"],["1faf1f5c.ed2171","db30252b.4ac288","f6762dee.4cd6f"]]},{"id":"3e2822a4.fce36e","type":"function","z":"fb55fa54.923a18","name":"MIDI KNOB PARSE","func":"var knob_array = [];\nknob_array = msg.payload;\nvar output_array = [];\n\nswitch (knob_array[0]) {\n    case 48:\n        var scaled_value = Math.floor((knob_array[1]*1000)/127);\n        output_array[0] = {payload: scaled_value};\n        break;\n    case 49:\n        var scaled_value = Math.floor((knob_array[1]*1000)/127);\n        output_array[1] = {payload: scaled_value};\n        break;\n    case 50:\n        var scaled_value = Math.floor((knob_array[1]*1000)/127);\n        output_array[2] = {payload: scaled_value};\n        break;\n    case 51:\n        var scaled_value = Math.floor((knob_array[1]*1000)/127);\n        output_array[3] = {payload: scaled_value};\n        break;\n    case 52:\n        var scaled_value = Math.floor((knob_array[1]*1000)/127);\n        output_array[4] = {payload: scaled_value};\n        break;\n    case 53:\n        var scaled_value = Math.floor((knob_array[1]*1000)/127);\n        output_array[5] = {payload: scaled_value};\n        break;\n    case 54:\n        var scaled_value = Math.floor((knob_array[1]*1000)/127);\n        output_array[6] = {payload: scaled_value};\n        break;\n    case 55:\n        var scaled_value = Math.floor((knob_array[1]*3000)/127);\n        output_array[7] = {payload: scaled_value};\n        break;\n        \n}\nreturn output_array;\n\n\n","outputs":8,"noerr":0,"x":938,"y":762,"wires":[["a7a3c391.e85d1"],["14a36c67.6956a4"],["3a59a013.0bc8c"],["eaa23180.4d8eb"],["474f6b1f.fa15f4"],["572da808.8ce728"],[],["e4b48219.a1f1d"]]},{"id":"93912603.7b5ce8","type":"ui_template","z":"fb55fa54.923a18","group":"ec6b860.40a4978","name":"DMX LOG","order":1,"width":"6","height":"12","format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1598,"y":122,"wires":[[]]},{"id":"ce6e96d3.ca6978","type":"ui_slider","z":"fb55fa54.923a18","name":"Servo2","label":"Servo 2","group":"b29a4984.6aeca8","order":2,"width":"0","height":"0","passthru":true,"topic":"Slider","min":0,"max":"1000","step":"1","x":1168,"y":442,"wires":[["14a36c67.6956a4"]]},{"id":"70168873.993538","type":"ui_slider","z":"fb55fa54.923a18","name":"Preset Recall Speed","label":"Robot Speed","group":"a11c81fe.d3c2d","order":7,"width":0,"height":0,"passthru":true,"topic":"Slider","min":"500","max":"3000","step":1,"x":1208,"y":642,"wires":[["e4b48219.a1f1d","b0aa9698.69a818"]]},{"id":"c2e99a4b.0cbd28","type":"ui_slider","z":"fb55fa54.923a18","name":"Servo6","label":"Servo 6","group":"b29a4984.6aeca8","order":6,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"1000","step":"1","x":1168,"y":602,"wires":[["572da808.8ce728"]]},{"id":"6c077439.a48e4c","type":"ui_slider","z":"fb55fa54.923a18","name":"Servo5","label":"Servo 5","group":"b29a4984.6aeca8","order":5,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"1000","step":"1","x":1168,"y":562,"wires":[["474f6b1f.fa15f4"]]},{"id":"7f9374cf.314bcc","type":"ui_slider","z":"fb55fa54.923a18","name":"Servo4","label":"Servo 4","group":"b29a4984.6aeca8","order":4,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"1000","step":"1","x":1168,"y":522,"wires":[["eaa23180.4d8eb"]]},{"id":"5020c77f.0a00f8","type":"ui_slider","z":"fb55fa54.923a18","name":"Servo3","label":"Servo 3","group":"b29a4984.6aeca8","order":3,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"1000","step":"1","x":1168,"y":482,"wires":[["3a59a013.0bc8c"]]},{"id":"a7a3c391.e85d1","type":"change","z":"fb55fa54.923a18","name":"save to Global Servos1","rules":[{"t":"set","p":"servos_preset[0]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1438,"y":402,"wires":[[]]},{"id":"14a36c67.6956a4","type":"change","z":"fb55fa54.923a18","name":"save to Global Servos2","rules":[{"t":"set","p":"servos_preset[1]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1438,"y":442,"wires":[[]]},{"id":"3a59a013.0bc8c","type":"change","z":"fb55fa54.923a18","name":"save to Global Servos3","rules":[{"t":"set","p":"servos_preset[2]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1438,"y":482,"wires":[[]]},{"id":"eaa23180.4d8eb","type":"change","z":"fb55fa54.923a18","name":"save to Global Servos4","rules":[{"t":"set","p":"servos_preset[3]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1438,"y":522,"wires":[[]]},{"id":"474f6b1f.fa15f4","type":"change","z":"fb55fa54.923a18","name":"save to Global Servos5","rules":[{"t":"set","p":"servos_preset[4]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1438,"y":562,"wires":[[]]},{"id":"572da808.8ce728","type":"change","z":"fb55fa54.923a18","name":"save to Global Servos6","rules":[{"t":"set","p":"servos_preset[5]","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1438,"y":602,"wires":[[]]},{"id":"e4b48219.a1f1d","type":"change","z":"fb55fa54.923a18","name":"save to Global RobotSpeed","rules":[{"t":"set","p":"robot_speed","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1448,"y":642,"wires":[[]]},{"id":"51c6101.6ccaff","type":"function","z":"fb55fa54.923a18","name":"insert preset","func":"var preset = [];\npreset = global.get(\"servos_preset\");\nvar newMsg = {};\nnewMsg.collection = 'servos_presets';\nnewMsg.payload = [\n  {topic: msg.payload},\n  {\n    \"$set\": {\n      \"payload\": preset\n    }\n  },\n  {upsert:true}\n];\n\nreturn newMsg;\n","outputs":1,"noerr":0,"x":463,"y":83.5,"wires":[["779df268.92be2c"]]},{"id":"b67ecd77.26619","type":"function","z":"fb55fa54.923a18","name":"init global variables","func":"global.set(\"servos_preset\",[500,500,500,500,500,500]); \nmsg.payload = global.get(\"servos_preset\");\nreturn msg;","outputs":1,"noerr":0,"x":478,"y":502,"wires":[["af563ae.35a36c8","ea6f1671.7320b8"]]},{"id":"d309cc8a.a88b3","type":"inject","z":"fb55fa54.923a18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":238,"y":502,"wires":[["b67ecd77.26619"]]},{"id":"af563ae.35a36c8","type":"debug","z":"fb55fa54.923a18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":698,"y":502,"wires":[]},{"id":"45ff19d5.5058b8","type":"debug","z":"fb55fa54.923a18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":698,"y":582,"wires":[]},{"id":"58a7ce52.ff8f1","type":"function","z":"fb55fa54.923a18","name":"check global preset","func":"msg.payload = global.get(\"servos_preset\");\nreturn msg;","outputs":1,"noerr":0,"x":478,"y":582,"wires":[["45ff19d5.5058b8","ea6f1671.7320b8"]]},{"id":"42f1799b.c2cb28","type":"inject","z":"fb55fa54.923a18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":228,"y":582,"wires":[["58a7ce52.ff8f1"]]},{"id":"1faf1f5c.ed2171","type":"function","z":"fb55fa54.923a18","name":"DASHBOARD FORMATTING","func":"var dashboardLog = context.get('dashboardLog')|| [];\n\ndashboardLog.push(msg);\nif (dashboardLog.length > 20){\n    // Supprime le plus anciens message si > 20\n    // Delete oldest message if > 20\n    dashboardLog.shift();\n    dashboardLog.length = 20;\n} \n\n// Enregistre les messages du dashboard pour le prochain affichage\n// store the value back\ncontext.set('dashboardLog',dashboardLog);\n\n// Affiche le journal des messages\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = dashboardLog;\nreturn msg;\n","outputs":1,"noerr":0,"x":1378,"y":122,"wires":[["93912603.7b5ce8"]]},{"id":"1b7c3687.f29b99","type":"ui_slider","z":"fb55fa54.923a18","name":"Servo1","label":"Servo 1","group":"b29a4984.6aeca8","order":1,"width":0,"height":0,"passthru":true,"topic":"Slider","min":0,"max":"1000","step":"1","x":1168,"y":402,"wires":[["a7a3c391.e85d1"]]},{"id":"9164ef3c.309aa","type":"function","z":"fb55fa54.923a18","name":"findOne","func":"var newMsg = {};\nnewMsg.operation  = 'find.toArray';\nnewMsg.payload    = {};\nreturn newMsg;","outputs":1,"noerr":0,"x":350,"y":201.5,"wires":[["4b9e3f24.96d03"]]},{"id":"a624eebf.1228a","type":"ui_dropdown","z":"fb55fa54.923a18","name":"Recall Pulldown","label":"Recall","place":"Select option","group":"a11c81fe.d3c2d","order":2,"width":0,"height":0,"passthru":false,"options":[],"payload":"","topic":"","x":1108,"y":202,"wires":[["6a08d850.c68bc8","1faf1f5c.ed2171","f63dfea1.ccc9b"]]},{"id":"16b121fd.6fa1ce","type":"function","z":"fb55fa54.923a18","name":"Format Preset Pulldown","func":"var msg_array = [];\nfor (var i=0; i<  msg.payload.length; i++)\n{\n    var tmp_object = {};\n    var msg_object = msg.payload[i];\n    if (msg_object.topic != undefined){\n        tmp_object[msg_object.topic] = {\"topic\": msg_object.topic, \"payload\": msg_object.payload};\n        msg_array[i] = tmp_object;\n    }\n}\nmsg.options = msg_array;\nreturn msg;","outputs":1,"noerr":0,"x":866,"y":204,"wires":[["a624eebf.1228a"]]},{"id":"9b2fc789.791af8","type":"inject","z":"fb55fa54.923a18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":201,"y":200,"wires":[["9164ef3c.309aa"]]},{"id":"95fc005b.9ce36","type":"ui_text_input","z":"fb55fa54.923a18","name":"","label":"Edit Preset Name","group":"a11c81fe.d3c2d","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":"300","topic":"","x":1518,"y":202,"wires":[["1ef62a12.2adb46"]]},{"id":"c704b6a0.c1feb8","type":"ui_button","z":"fb55fa54.923a18","name":"Save","group":"a11c81fe.d3c2d","order":5,"width":0,"height":0,"passthru":false,"label":"Save Preset","color":"#FFF","bgcolor":"#FF0000","icon":"","payload":"","payloadType":"date","topic":"","x":143,"y":82,"wires":[["70a97444.adec3c"]]},{"id":"1ef62a12.2adb46","type":"function","z":"fb55fa54.923a18","name":"set global preset name","func":"global.set(\"robot_arm_preset_name\", msg.payload);","outputs":1,"noerr":0,"x":1728,"y":202,"wires":[[]]},{"id":"70a97444.adec3c","type":"function","z":"fb55fa54.923a18","name":"save preset","func":"msg.payload = global.get(\"robot_arm_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":295,"y":82.5,"wires":[["51c6101.6ccaff"]]},{"id":"f63dfea1.ccc9b","type":"function","z":"fb55fa54.923a18","name":"get preset name","func":"msg.payload = msg.payload.topic;\nreturn msg;","outputs":1,"noerr":0,"x":1328,"y":202,"wires":[["95fc005b.9ce36"]]},{"id":"14a35694.d2c6c9","type":"ui_text","z":"fb55fa54.923a18","group":"a11c81fe.d3c2d","order":3,"width":0,"height":0,"name":"","label":"SAVE PRESET","format":"{{msg.payload}}","layout":"row-left","x":188,"y":302,"wires":[]},{"id":"2353ac12.26a0c4","type":"ui_text","z":"fb55fa54.923a18","group":"a11c81fe.d3c2d","order":1,"width":0,"height":0,"name":"","label":"RECALL PRESET","format":"{{msg.payload}}","layout":"row-left","x":198,"y":262,"wires":[]},{"id":"1014b5ff.f4d36a","type":"function","z":"fb55fa54.923a18","name":"delete preset","func":"var newMsg = {};\nnewMsg.operation  = 'deleteOne';\nnewMsg.payload    = {'topic' : msg.payload};\nreturn newMsg;","outputs":1,"noerr":0,"x":464,"y":142.5,"wires":[["4eb87125.f39f4"]]},{"id":"9fddf9a.fdb4808","type":"ui_button","z":"fb55fa54.923a18","name":"Delete","group":"a11c81fe.d3c2d","order":5,"width":0,"height":0,"passthru":false,"label":"Delete Preset","color":"#FFF","bgcolor":"#FF00FF","icon":"","payload":"","payloadType":"date","topic":"","x":144,"y":141,"wires":[["fb8b3382.6e8ee"]]},{"id":"fb8b3382.6e8ee","type":"function","z":"fb55fa54.923a18","name":"delete preset","func":"msg.payload = global.get(\"robot_arm_preset_name\");\nreturn msg;","outputs":1,"noerr":0,"x":296,"y":141.5,"wires":[["1014b5ff.f4d36a"]]},{"id":"129de3d6.6b446c","type":"debug","z":"fb55fa54.923a18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":448,"y":722,"wires":[]},{"id":"d311ba9a.8e8ba8","type":"function","z":"fb55fa54.923a18","name":"send servo data","func":"var servos = global.get(\"servos_preset\");\nvar last_servos = global.get(\"last_sent_servos\");\nvar sameness_flag = false;\nvar m = [];\n\nfor(var i=0; i<servos.length; i++) {\n    if(servos[i]!=last_servos[i]){\n        sameness_flag= true;\n    }\n}\n\nif(sameness_flag){\n  \n    var robot_speed = 150;\n\n    var servo_string =   \"1:\" + servos[0] + \":\" + robot_speed + \"&\" +\n                        \"2:\" + servos[1] + \":\" + robot_speed + \"&\" +\n                        \"3:\" + servos[2] + \":\" + robot_speed + \"&\" +\n                        \"4:\" + servos[3] + \":\" + robot_speed + \"&\" +\n                        \"5:\" + servos[4] + \":\" + robot_speed + \"&\" +\n                        \"6:\" + servos[5] + \":\" + robot_speed + \"!\";\n    global.set(\"last_sent_servos\", [...servos]);\n    m[0] = { payload: servo_string };\n    m[1] = { payload: servos};\n    return m;\n}\n\n","outputs":2,"noerr":0,"x":1988,"y":802,"wires":[["db30252b.4ac288","f6762dee.4cd6f"],[]]},{"id":"7f626b82.80b4d4","type":"ui_button","z":"fb55fa54.923a18","name":"RESET SERVO POSITIONS","group":"a11c81fe.d3c2d","order":0,"width":0,"height":0,"passthru":false,"label":"RESET SERVO POSITIONS","color":"","bgcolor":"","icon":"","payload":"1:500:1000&2:500:1000&3:500:1000&4:500:1000&5:500:1000&6:500:1000!","payloadType":"str","topic":"","x":228,"y":342,"wires":[["449516da.28dc08"]]},{"id":"449516da.28dc08","type":"function","z":"fb55fa54.923a18","name":"load reset","func":"msg.payload = { payload : [500,500,500,500,500,500] };\nreturn msg;","outputs":1,"noerr":0,"x":508,"y":362,"wires":[["6a08d850.c68bc8"]]},{"id":"f8ca3ca8.c22fd","type":"inject","z":"fb55fa54.923a18","name":"","topic":"","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1018,"y":662,"wires":[["70168873.993538"]]},{"id":"400b987c.8cc168","type":"trigger","z":"fb55fa54.923a18","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-150","extend":false,"units":"ms","reset":"reset","bytopic":"all","name":"","x":1608,"y":842,"wires":[["c78d76cb.aecee8","d311ba9a.8e8ba8"]]},{"id":"bdebb210.18235","type":"inject","z":"fb55fa54.923a18","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1398,"y":822,"wires":[["400b987c.8cc168"]]},{"id":"b0aa9698.69a818","type":"ui_numeric","z":"fb55fa54.923a18","name":"preset recall speed","label":"numeric","group":"b29a4984.6aeca8","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":0,"max":"1000","step":1,"x":1518,"y":702,"wires":[[]]},{"id":"1869214.b1092df","type":"function","z":"fb55fa54.923a18","name":"save last sent servos","func":"global.set(\"last_sent_servos\", [0,0,0,0,0,0]);\nreturn msg;","outputs":1,"noerr":0,"x":2088,"y":642,"wires":[[]]},{"id":"3281d029.9cc0c","type":"inject","z":"fb55fa54.923a18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1898,"y":642,"wires":[["1869214.b1092df"]]},{"id":"ea6f1671.7320b8","type":"function","z":"fb55fa54.923a18","name":"Reset from global","func":"var preset = [];\nvar m = [];\npreset = global.get(\"servos_preset\");\n\n\nfor (var i=0;i<7;i++)\n{\n    m[i] = { payload: preset[i] };\n}\nreturn m;\n","outputs":6,"noerr":0,"x":938,"y":582,"wires":[["1b7c3687.f29b99"],["ce6e96d3.ca6978"],["5020c77f.0a00f8"],["7f9374cf.314bcc"],["6c077439.a48e4c"],["c2e99a4b.0cbd28"]]},{"id":"24fe24dc.3499ac","type":"inject","z":"fb55fa54.923a18","name":"RESET SERVO POSITIONS","topic":"","payload":"1:500:1000&2:500:1000&3:500:1000&4:500:1000&5:500:1000&6:500:1000!","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":248,"y":382,"wires":[["449516da.28dc08"]]},{"id":"ae1b81e4.a4432","type":"inject","z":"fb55fa54.923a18","name":"reset","topic":"","payload":"reset","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1398,"y":862,"wires":[["400b987c.8cc168"]]},{"id":"c906b2a.1f6935","type":"function","z":"fb55fa54.923a18","name":"get last sent","func":"msg.payload = global.get(\"last_sent_servos\");\n\nreturn msg;","outputs":1,"noerr":0,"x":2058,"y":322,"wires":[["7c3b975e.ba5c78"]]},{"id":"948f8d87.b0af7","type":"inject","z":"fb55fa54.923a18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1888,"y":322,"wires":[["c906b2a.1f6935"]]},{"id":"c3616a76.7b0e18","type":"function","z":"fb55fa54.923a18","name":"get current","func":"msg.payload = global.get(\"servos_preset\");\nreturn msg;","outputs":1,"noerr":0,"x":2058,"y":382,"wires":[["7c3b975e.ba5c78"]]},{"id":"907e52bc.124a4","type":"inject","z":"fb55fa54.923a18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1888,"y":382,"wires":[["c3616a76.7b0e18"]]},{"id":"7c3b975e.ba5c78","type":"debug","z":"fb55fa54.923a18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2318,"y":502,"wires":[]},{"id":"fa9ac3a2.cec86","type":"function","z":"fb55fa54.923a18","name":"save last sent","func":"global.set(\"last_sent_servos\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":2208,"y":862,"wires":[[]]},{"id":"db30252b.4ac288","type":"debug","z":"fb55fa54.923a18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2258,"y":1022,"wires":[]},{"id":"c78d76cb.aecee8","type":"function","z":"fb55fa54.923a18","name":"get last sent","func":"msg.payload = { last_sent_servos: global.get(\"last_sent_servos\"),\n                current_servos: global.get(\"servos_preset\")\n            \n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1838,"y":862,"wires":[[]]},{"id":"779df268.92be2c","type":"mongodb2 in","z":"fb55fa54.923a18","service":"_ext_","configNode":"8f466b3e.ef20b8","name":"Store Data into MongoDB","collection":"robot_arm_presets","operation":"findOneAndUpdate","x":674,"y":84.5,"wires":[["9164ef3c.309aa","1faf1f5c.ed2171"]]},{"id":"4b9e3f24.96d03","type":"mongodb2 in","z":"fb55fa54.923a18","service":"_ext_","configNode":"8f466b3e.ef20b8","name":"Mongo DB dynamic operation","collection":"robot_arm_presets","operation":"","x":584,"y":204.5,"wires":[["16b121fd.6fa1ce"]]},{"id":"4eb87125.f39f4","type":"mongodb2 in","z":"fb55fa54.923a18","service":"_ext_","configNode":"8f466b3e.ef20b8","name":"Store Data into MongoDB","collection":"robot_arm_presets","operation":"","x":675,"y":143.5,"wires":[["9164ef3c.309aa","1faf1f5c.ed2171"]]},{"id":"11efa9af.c4e4f6","type":"serial in","z":"fb55fa54.923a18","name":"","serial":"ba4e05b2.19cda8","x":218,"y":722,"wires":[["129de3d6.6b446c"]]},{"id":"f6762dee.4cd6f","type":"serial out","z":"fb55fa54.923a18","name":"","serial":"ba4e05b2.19cda8","x":2298,"y":782,"wires":[]},{"id":"7790dc90.94fc14","type":"midi in","z":"fb55fa54.923a18","name":"AKAI APC KEY25 MIDI IN","midiport":"0","x":698,"y":762,"wires":[["3e2822a4.fce36e"]]},{"id":"ec6b860.40a4978","type":"ui_group","z":"fb55fa54.923a18","name":"SERVO LOG","tab":"b1bfd505.9d0fb8","order":4,"disp":true,"width":"6","collapse":true},{"id":"b29a4984.6aeca8","type":"ui_group","z":"","name":"SERVO SLIDERS","tab":"b1bfd505.9d0fb8","order":3,"disp":true,"width":"6","collapse":false},{"id":"a11c81fe.d3c2d","type":"ui_group","z":"","name":"PRESETS","tab":"b1bfd505.9d0fb8","order":2,"disp":true,"width":"6","collapse":false},{"id":"8f466b3e.ef20b8","type":"mongodb2","z":0,"uri":"mongodb://127.0.0.1:27017/cinebrain","name":"cinebrain db","options":"","parallelism":"-1"},{"id":"ba4e05b2.19cda8","type":"serial-port","z":0,"serialport":"COM5","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"b1bfd505.9d0fb8","type":"ui_tab","z":"","name":"ROBOT ARM DASHBOARD","icon":"home","order":2}]