TCP-telnet-example.json
[{"id":"6b240468.2988cc","type":"inject","z":"643c11c5.d6541","name":"button: create a msg","topic":"","payload":"play 1-0 #FF0000\\r\\n","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":900,"y":960,"wires":[["8de4acdf.37f7d","4abcfa11.836794"]]},{"id":"4abcfa11.836794","type":"tcp out","z":"643c11c5.d6541","host":"127.0.0.1","port":"5250","beserver":"reply","base64":false,"end":false,"name":"reply: the server will get messaged","x":1240,"y":1040,"wires":[]},{"id":"8de4acdf.37f7d","type":"debug","z":"643c11c5.d6541","name":"button","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1100,"y":780,"wires":[]},{"id":"74402d38.f88574","type":"debug","z":"643c11c5.d6541","name":"newline","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1250,"y":960,"wires":[]},{"id":"4f8e7fdf.1970b","type":"tcp in","z":"643c11c5.d6541","name":"","server":"server","host":"","port":"5250","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":690,"y":1200,"wires":[[]]},{"id":"ab6883ed.b132e","type":"tcp in","z":"643c11c5.d6541","name":"Server holding connections at :1025","server":"server","host":"","port":"1025","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"text","base64":false,"x":200,"y":180,"wires":[["1d4fd90f.549967","8423d43b.57c748"]]},{"id":"b95f6d2a.b6062","type":"tcp out","z":"643c11c5.d6541","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"reply: all open connections will be messaged","x":1210,"y":180,"wires":[]},{"id":"993d3dcb.7e6d4","type":"debug","z":"643c11c5.d6541","name":"show incomming text at the debug tab","active":true,"console":"false","complete":"payload","x":510,"y":280,"wires":[]},{"id":"bd1ce8b.9ea3c18","type":"inject","z":"643c11c5.d6541","name":"button: create a msg","topic":"","payload":"Hello from Node-RED server.","payloadType":"str","repeat":"","crontab":"","once":false,"x":880,"y":100,"wires":[["80324443.4f2db8"]]},{"id":"1a8fbd48.06c963","type":"debug","z":"643c11c5.d6541","name":"show incomming text at the debug tab","active":true,"console":"false","complete":"payload","x":390,"y":720,"wires":[]},{"id":"7df26326.65824c","type":"inject","z":"643c11c5.d6541","name":"button: create a msg","topic":"","payload":"Hello from Node-RED client.","payloadType":"str","repeat":"","crontab":"","once":false,"x":880,"y":540,"wires":[["38725172.d170ae"]]},{"id":"f4c6acee.38505","type":"tcp out","z":"643c11c5.d6541","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"reply: the server will get messaged","x":1180,"y":620,"wires":[]},{"id":"ed9a18fa.dbcf08","type":"tcp in","z":"643c11c5.d6541","name":"Node-RED Client","server":"client","host":"localhost","port":"1025","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"text2","base64":false,"x":140,"y":620,"wires":[["af5e664f.0909d8","3ffc0efe.ca1072"]]},{"id":"af5e664f.0909d8","type":"template","z":"643c11c5.d6541","name":"\"CLIENT GOT:\" +","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CLIENT GOT:\n{{payload}}","x":330,"y":680,"wires":[["1a8fbd48.06c963"]]},{"id":"1d4fd90f.549967","type":"template","z":"643c11c5.d6541","name":"\"SERVER GOT:\" +","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SERVER GOT:\n{{payload}}","x":450,"y":240,"wires":[["993d3dcb.7e6d4"]]},{"id":"8423d43b.57c748","type":"template","z":"643c11c5.d6541","name":"modify received msg to be send back","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"You were sending: {{payload}}\n","x":710,"y":180,"wires":[["b95f6d2a.b6062"]]},{"id":"32212887.d71328","type":"comment","z":"643c11c5.d6541","name":"Telnet client: open your command prompt, and type: `telnet localhost 1025` and start typing","info":"Telnet client: open your command prompt, and type: `telnet localhost 1025` and start typing","x":380,"y":800,"wires":[]},{"id":"1b71ecf0.a05483","type":"tcp in","z":"643c11c5.d6541","name":"Proxy: fixing client with no NL :1026","server":"server","host":"","port":"1026","datamode":"stream","datatype":"utf8","newline":"","topic":"text","base64":false,"x":200,"y":440,"wires":[["991a6923.26f498"]]},{"id":"991a6923.26f498","type":"template","z":"643c11c5.d6541","name":"fix incomming message with a newline","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}\n","x":510,"y":440,"wires":[["11821874.34dd98"]]},{"id":"38725172.d170ae","type":"template","z":"643c11c5.d6541","name":"+ newline","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}\n","x":1040,"y":540,"wires":[["f4c6acee.38505"]]},{"id":"80324443.4f2db8","type":"template","z":"643c11c5.d6541","name":"+ newline","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}\n","x":1040,"y":100,"wires":[["b95f6d2a.b6062"]]},{"id":"11821874.34dd98","type":"tcp request","z":"643c11c5.d6541","server":"localhost","port":"1025","out":"time","splitc":"0","name":"connect the Node-RED server","x":850,"y":440,"wires":[["e70c0720.139488"]]},{"id":"e70c0720.139488","type":"tcp out","z":"643c11c5.d6541","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"reply: any answer back to the client","x":1180,"y":440,"wires":[]},{"id":"9482757b.a90b38","type":"inject","z":"643c11c5.d6541","name":"button: open telnet to 1025 (windows)","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":930,"y":800,"wires":[["d052a439.1e47a8","79642c53.49d064"]]},{"id":"d052a439.1e47a8","type":"exec","z":"643c11c5.d6541","command":"start","addpay":false,"append":"telnet localhost 1025","useSpawn":false,"timer":"","name":"start telnet","x":1170,"y":800,"wires":[[],[],[]]},{"id":"79642c53.49d064","type":"delay","z":"643c11c5.d6541","name":"","pauseType":"delay","timeout":"1200","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1180,"y":860,"wires":[["38089ead.1a1332"]]},{"id":"38089ead.1a1332","type":"exec","z":"643c11c5.d6541","command":"msg","addpay":false,"append":"%username% \"start by pressing enter\"","useSpawn":false,"timer":"","name":"msg box","x":1160,"y":900,"wires":[[],[],[]]},{"id":"3ffc0efe.ca1072","type":"template","z":"643c11c5.d6541","name":"no msg back, we do behave!","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","x":660,"y":620,"wires":[["f4c6acee.38505"]]}]