uibuilder_slider_v1.json
[{"id":"1210651e.582bab","type":"uibuilder","z":"94dd2bd2.e8a338","name":"","topic":"","url":"uibuilder","fwdInMessages":false,"allowScripts":false,"allowStyles":false,"debugFE":false,"copyIndex":true,"x":460,"y":160,"wires":[["30aed8c1.857ac8"],["30aed8c1.857ac8"]]},{"id":"30aed8c1.857ac8","type":"debug","z":"94dd2bd2.e8a338","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":690,"y":160,"wires":[]},{"id":"1c2675e2.cec19a","type":"inject","z":"94dd2bd2.e8a338","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":160,"wires":[["1210651e.582bab"]]}]